@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.captializationdate
@*@model IEnumerable<IEM.Areas.IFAMS.Models.Ifams_Propertyx.ImpairmentsModel>*@
@{
    IfamsAssetMergeDataModel CapModel = new IfamsAssetMergeDataModel();

   // captializationdate obj = new captializationdate();
    string Assetdetgid = Session["Assetdetgid"].ToString();
    //  string status = (string)Session["AuditStatus"];
    Model.Auditchangedate = CapModel.CapDateAuditTrial(Convert.ToInt32(Assetdetgid));

    CmnFunctions objfun = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.Auditchangedate,
                         canSort: false, canPage: false, ajaxUpdateContainerId: "auditTrail", ajaxUpdateCallback: "auditTrailLst()"
                       );
    int id = @grid.PageIndex;

    int rowVal = 0;
}
<div>
    <div>
        @grid.GetHtml(
fillEmptyRows: false,
   tableStyle: "tableSmall table-bordered aligncenter",
mode: WebGridPagerModes.All,
columns: grid.Columns(
         grid.Column(header: "S.No", format: item => rowVal = rowVal + 1),
                                    grid.Column("employeeidname", "Employee ID-Name"),
                                    grid.Column("actiondate", "Action Date"),
                                    grid.Column("role", "Approval Stage"),
                                    grid.Column("status", "Status")))

        <div class="table-bordered btnCenter">
            @ViewBag.NoRecordsFound
        </div>
        <br />
        @*<label>Page: @(auidtGrid.PageIndex + 1) of @auidtGrid.PageCount</label>*@  <span class="myTableStyleTabNew">  Total No Of Records:@Model.Auditchangedate.Count</span>

    </div>

</div>