@model IEnumerable<IEM.Areas.EOW.Models.CentraldataModel>
@{

    Layout = null;
    //WebGrid grid = new WebGrid(source: Model, canSort: true, canPage: true,rowsPerPage:5, ajaxUpdateContainerId: "Employeesearchgrid", ajaxUpdateCallback: "DummyFunction105()");
    WebGrid grid = new WebGrid(source: Model, canSort: true, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "searchinexgrid", ajaxUpdateCallback: "Getexfemployeelist();");
    int rowVal = 0;
}
<div id="searchinexgrid">
    @using (Html.BeginForm())
    {
        <div class="well">
            <div class="row">
                <table class="myTableStyleTabNew" style="margin:-9px 0px 0px 0px;">
                    <tr>
                        <td>
                            <span style="margin:0px 0px 0px 14px;"> Employee Code </span>
                            <input name="EmployeeCode"
                                   id="EmployeeCodeSearch"
                                   type="text"
                                   class="textboxStyle required"
                                   value="@ViewBag.EmployeeCode"
                                   style="margin:9px 0px 0px 14px;width:181px;" />
                        </td>
                        <td>
                            <span> Employee Name </span>
                            <input name="EmployeeName"
                                   id="EmployeeNameSearch"
                                   type="text"
                                   class="textboxStyle required"
                                   value="@ViewBag.EmployeeName"
                                   style="margin: 8px 0px 0px 0px;width:271px;" />
                        </td>

                        @*<td>
                                <button class="btn btn-primary" type="button" onclick="searchemployee()" style="margin-top: 20px;">Search</button>

                            </td>*@
                        <td>
                            <div class="input-append ">
                                <span class="input-append">
                                    @*<button class="btn btn-primary" name="command" id="btnsearch" style="margin-left:-23px;margin-top:20px;margin-right:54px" onclick="searchemployee()" type="button" value="search">Search</button>*@
                                    <button class="btn btn-primary" id="btnsearch" value="Search" name="command" type="button" onclick="Searchpop123()" style="margin-top:20px;color:white;"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>

                                </span>
                            </div>
                        </td>
                        @*<td>
                                <div class="input-append ">
                                    <span class="input-append">
                                        <button class="btn btn-primary" id="btnrefresh" value="Refresh" name="command" type="button" onclick="reffffsuppseach()" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Refresh</button>
                                    </span>
                                </div>
                            </td>*@
                        <td>
                            <div class="input-append ">
                                <span class="input-append">
                                    <button class="btn btn-primary" id="btnclear" value="Clear" name="command" type="button" onclick="refreshecf123()" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="input-append ">
                                <span class="input-append">
                                    @*<button class="btn btn-warning" name="commandcan" id="btnCancel1" style="margin-left:-43px;margin-top:20px;" type="button" value="Cancel" onclick="GotoIndex()">Cancel</button>*@
                                    <button type="button" value="Cancel" class="btn btn-warning" style="margin: 19px 15px -3px 6px;" onclick="GotoIndex1()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-top:17px;" id="mainll">
                @functions {
                    public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                    {
                        return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                            grid.SortDirection == SortDirection.Ascending ? "▲" :
                            "▼" : string.Empty);
                    }
                }
                @grid.GetHtml(
                htmlAttributes: new { id = "wgridEmployeeSearch" },
                tableStyle: "table table-bordered table-hover table-responsive ",
                mode: WebGridPagerModes.All,
                columns: grid.Columns
                (
                    grid.Columns(grid.Column("S No", format: item => rowVal = rowVal + 1),
                    grid.Column("RaiserCode", Sorter("RaiserCode", "Employee Code", grid)),
                    grid.Column("RaiserName", Sorter("RaiserName", "Employee Name", grid)),
                    // grid.Column("EmployeeId", Sorter("EmployeeId", "EmployeeId", grid)),
                    grid.Column(header: "Action", canSort: false, style: "action",
                    format: @<text>
                    <input type="hidden" id="EmployeeIdFind_@item.EmployeeId" name="EmployeeId" value="@item.EmployeeId" />
                    <input type="hidden" id="RaiserCodeFind_@item.EmployeeId" name="RaiserCode" value="@item.RaiserCode" />
                    <input type="hidden" id="RaiserNameFind_@item.EmployeeId" name="RaiserName" value="@item.RaiserName" />
                    <a><span class="btn btn-link btn" id="EmployeeSearch" onclick="Select(@item.EmployeeId)">Select</span></a>
                    </text>)
                )))
            </div>
            @if (ViewBag.Message != null)
            {   <div align="center" class="borderStyle">
                <h6 class="row" style="font-weight:bold ;">
                    @ViewBag.Message
                </h6>
            </div>
            }
        </div>
    }
</div>

<script>
    $(document).ready(function () {

        $("#EmployeeCodeSearch").keyup(function () {
            var txtSupplierName = $("#EmployeeCodeSearch").val();
            if (txtSupplierName.trim() != "") {
                $("#EmployeeCodeSearch").removeClass('required');
                $("#EmployeeCodeSearch").addClass('valid');

            }
            else {
                $("#EmployeeCodeSearch").removeClass('valid');
                $("#EmployeeCodeSearch").addClass('required');

            }
        });
        $("#EmployeeNameSearch").keyup(function () {
            var txtSupplierName = $("#EmployeeNameSearch").val();
            if (txtSupplierName.trim() != "") {
                $("#EmployeeNameSearch").removeClass('required');
                $("#EmployeeNameSearch").addClass('valid');

            }
            else {
                $("#EmployeeNameSearch").removeClass('valid');
                $("#EmployeeNameSearch").addClass('required');

            }
        });

    });
    function Searchpop123() {


        var empcode = $('#EmployeeCodeSearch').val();
        var empname = $('#EmployeeNameSearch').val();
        var objownersearch =
            {
                "RaiserName": empname,
                "RaiserCode": empcode
            };

        $.post('../Inex/EmployeeSearchdetsa', objownersearch,
  function (data) {
      $("#searchinexgrid").load('../Inex/EmployeeSearch?listfor=search&' + new Date().getTime());
      setTimeout(function () {
          $("#EmployeeNameSearch").val(empname);
      }, 50);

  }, 'json');
    }
   
    function refreshecf123() {
        $('#EmployeeCodeSearch').val('');
        $('#EmployeeNameSearch').val('');
        $('#searchinexgrid').load('../Inex/EmployeeSearch?' + new Date().getTime());

    }
    function Select(id) {

        var Employeeid = $("#EmployeeIdFind_" + id + "").val();
        var EmployeeCode = $("#RaiserCodeFind_" + id + "").val();
        var EmployeeName = $("#RaiserNameFind_" + id + "").val();
        $('#EmployeeId').val(Employeeid);
        $('#Code').val(EmployeeCode);
        $('#Name').val(EmployeeName);
        GotoIndex1();
        var Student = {
            "Code": EmployeeCode,
            "Name": EmployeeName
        };
        $.ajax({
            url: '../ECF/GetEmployee',
            data: JSON.stringify(Student),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                GotoIndex1();
            }
        });
    }
    function GotoIndex1() {
        // objDialogyCentral.remove();
        objDialogyCentralemployee.dialog("close");
        objDialogyCentralemployee.remove();
        window.parent.jQuery('#ForPartialViewInexSubmissionemployee').dialog('close');

    }
    function Getexfemployeelist() {

        $("#wgridEmployeeSearch td:nth-child(2),#wgridEmployeeSearch th:nth-child(2)").show();
    }
</script>
