@using IEM.Models
@{
    List<IEM.Models.MenuModel> menuList = new List<IEM.Models.MenuModel>();
    IEMDataModel dtm=new IEMDataModel();
    menuList = dtm.GetMenu().ToList();
    }
<div style="float:right;">
    <ul class="menu">

        @foreach (var mp in menuList.Where(p => p.ParentId == 1))
        {

            <li>
                <a href="@mp.url">@mp.Name</a>
                @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
                {
                    @:<ul>
                            }

                @RenderMenuItem(menuList, mp)

                @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
                {
                    @:</ul>
            }

            </li>
        }
    </ul>


    @helper RenderMenuItem(List<IEM.Models.MenuModel> menuList, IEM.Models.MenuModel mi)
{
    foreach (var cp in menuList.Where(p => p.ParentId == mi.Id))
    {
        @:<li>
            <a href="@cp.url">@cp.Name</a>

        if (menuList.Count(p => p.ParentId == cp.Id) > 0)
        {
            @:<ul>


        }

        @RenderMenuItem(menuList, cp)
        if (menuList.Count(p => p.ParentId == cp.Id) > 0)
        {
            @:</ul>


        }
        else
        {
            @:</li>


        }
    }
}
</div>
