@{
    ViewBag.Title = "LocalConveyance";
    string IsChecker = @Model;
    string[] Options = IsChecker.Split('~');
    IsChecker = Options[0];
    string EOWStatus = "", Attach = "N";
    if (Options.Length > 1)
        EOWStatus = Options[1];
    if (Options.Length > 2)
        Attach = Options[2];
    string EnableData = (IsChecker == "Y" ? "disabled" : "");

    //show redup option to checker level
    string IsRedup = "N";
    if (ViewBag.IsRedup != null)
        IsRedup = ViewBag.IsRedup;
}

<script type="text/javascript">
    var _currDTTab = 0, _currIVTab = 0;
    $(function () {

        $("#Maintabs").tabs({
            select: function (e, i) {
                _currDTTab = i.index;
            }
        });

    });
</script>

<div id="localConveyance" style="padding-top:10px;">
    <span class="pageHeading">Employee Claim - Local Conveyance</span>

    <div class="well" style="padding:10px;">
        <div id="Maintabs" style="min-height :300px;font-size:12px;">
            <ul>
                <li><a href="#tabs-5">ECF Header</a></li>
                <li><a href="#tabs-1">Expense Details</a></li>
                <li><a href="#tabs-2">Payment Details</a></li>
                <li><a href="#tabs-3">Attachment Details</a></li>
                <li><a href="#tabs-4">Audit Trail </a></li>
                @if (EOWStatus == "1")
                {
                    <li><a href="#tabs-6">Inex Status </a></li>
                }
                else if (EOWStatus == "2")
                {
                    <li><a href="#tabs-6">Inex Status </a></li>
                    <li><a href="#tabs-7">Payment Status</a></li>
                }
                @if (IsChecker == "N" || IsRedup == "Y")
                {
                    <li><a href="#tabs-8">RunDedup</a></li>
                }
                <li> <a id="audithistory" href="#tabs-10">Audit History </a> </li>
            </ul>
            <div>
                <div id="tabs-5">
                    <div style="height:270px; overflow-y:auto;">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:100%; padding: 5px 10px 5px 0px;">
                                    <table style="width:100%; height:100%; border:1px solid silver; border-collapse:separate; border-spacing:5px;">
                                        <tr>
                                            <td class="MakerEmployee">
                                                <p style="margin-bottom:0px;">ECF No</p>
                                            </td>
                                            <td style="width:20%; padding:5px 5px; background-color: #ddd; font-size:11px;">
                                                <p style="margin-bottom:0px;" id="txtECFNo"></p>
                                            </td>

                                            <td class="MakerEmployee">
                                                <p style="margin-bottom:0px;">ECF Date</p>
                                            </td>
                                            <td style="width:20%; padding:5px 5px; background-color: #ddd; font-size:11px;">
                                                <p style="margin-bottom:0px;" id="txtECFDate"></p>
                                            </td>

                                            <td class="MakerEmployee">
                                                <p style="margin-bottom:0px;">ECF Amount</p>
                                            </td>
                                            <td style="width:20%; padding:5px 5px; background-color: #ddd; font-size:11px;">
                                                <p style="margin-bottom:0px;" id="txtECFAmount"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="MakerEmployee">
                                                <p style="margin-bottom:0px;">Raiser Mode</p>
                                            </td>
                                            <td style="padding:5px 5px; background-color: #ddd; font-size:11px;">
                                                <p style="margin-bottom:0px;" id="lblRaiserMode"></p>
                                            </td>
                                            <td class="MakerEmployee">
                                                <p style="margin-bottom:0px;">Raiser Code</p>
                                            </td>
                                            <td style="padding:5px 5px; background-color: #ddd; font-size:11px;">
                                                <p style="margin-bottom:0px;" id="lblRaiserCode"></p>
                                            </td>
                                            <td class="MakerEmployee">
                                                <p style="margin-bottom:0px;">Raiser Name</p>
                                            </td>
                                            <td style="padding:5px 5px; background-color: #ddd; font-size:11px;">
                                                <p style="margin-bottom:0px;" id="lblRaiserName"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="MakerEmployee">
                                                <p style="margin-bottom:0px;">Claim Month</p>
                                            </td>
                                            <td style="padding:5px 5px; background-color: #ddd; font-size:11px;">
                                                <p style="margin-bottom:0px;" id="txtClaimMonth"></p>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table class="myTableStyleTabNew" style="width:100%;">
                            <tr>
                                <td style="padding:5px 10px 5px 3px; width:13%;">
                                    <span> Exchange Rate</span>
                                    <br />
                                    <input type="text"
                                           id="txtExchangeRate"
                                           disabled="disabled"
                                           class="fstextbox valid" />
                                </td>
                                <td style=" padding:5px 10px; width:13%;">
                                    <span>Currency </span>
                                    <br />
                                    <select id="ddlCurrency" disabled="disabled" class="fstextbox valid" data-bind="foreach: {data: CurrencyArray}">
                                        <option data-bind="attr: {value: Id}, text: Combo"></option>
                                    </select>
                                </td>
                                <td style=" padding:5px 10px; width:24%;">
                                    <span>Currency Amount</span>
                                    <br />
                                    <input type="text"
                                           id="txtCurrencyAmount"
                                           disabled="disabled"
                                           class="fstextbox valid" />
                                </td>
                                <td style="padding:5px 10px; width:25%;">
                                    <span>Reduced Amount</span>
                                    <br />
                                    <input type="text"
                                           id="txtReducedAmount"
                                           @EnableData
                                           class="fstextbox" />
                                </td>
                                <td style="padding:5px 10px; width:25%;">
                                    <span>Processed Amount </span>
                                    <br />
                                    <input type="text"
                                           disabled="disabled"
                                           id="txtProcessedAmount"
                                           class="fstextbox valid" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 10px 5px 3px;">
                                    <span> Payment Netting</span>
                                    <br />
                                    <input id="rdoPaymentNettingYes" @EnableData name="rdoGPaymentNetting" type="radio" value="1" style="margin-top: 12px; margin-right:5px;">Yes
                                    <input id="rdoPaymentNettingNo" @EnableData name="rdoGPaymentNetting" type="radio" value="0" style="margin: 12px 5px 0px 20px;">No
                                </td>
                                <td style=" padding:5px 10px;" colspan="2">
                                    <span>ECF Description</span>
                                    <br />
                                    <input type="text"
                                           id="txtECFDescription"
                                           @EnableData
                                           class="fstextbox valid" />
                                </td>
                                <td style=" padding:5px 10px;">
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="width:50%; padding:0px 3px 0px 0px;">
                                                <span>Pyhsical Verification</span>
                                                <br />
                                                <input type="text"
                                                       id="txtPyhsicalVerify"
                                                       disabled="disabled"
                                                       class="fstextbox" />
                                            </td>
                                            <td style="width:50%; padding:0px 0px 0px 3px; vertical-align:middle; text-align:center;">
                                                <span id="lblUrgent" style="color:red; font-weight:bold; display:none;">Urgent Document</span>
                                            </td>
                                            <td style="width:50%; padding:0px 0px 0px 3px; display:none;">
                                                <span>Urgent Tagging</span>
                                                <br />
                                                <input type="text"
                                                       id="txtUrgentTagging"
                                                       disabled="disabled"
                                                       class="fstextbox" />
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td style=" padding:5px 10px; vertical-align: bottom; text-align:right;">
                                    @if (IsChecker == "N")
                                    {
                                    <button type="button" style="color:white; margin-bottom:1px;" class="btn btn-primary" data-bind="click: function() { $root.SetECFDetails();}">
                                        <span style=" color:white; font-size:12px;" class="glyphicon glyphicon-floppy-save">
                                        </span>
                                        Proceed
                                    </button>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="tabs-1">
                    <div style="height:270px; overflow-y:auto;">
                        <div style="width:100%; overflow:auto;">
                            <table class="tableSmall table-bordered table-hover table-responsive mycolortable">
                                <thead>
                                    <tr>
                                        <th style="width:3%; min-width:40px;">
                                            #
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Nature of Expenses
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Expense Category
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Sub Category
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            Emplyee Code
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Emplyee Name
                                        </th>
                                        <th style="width:6%; min-width:100px;">
                                            From Date
                                        </th>
                                        <th style="width:6%; min-width:100px;">
                                            To Date
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            FC
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            CC
                                        </th>
                                        <th style="width:7%; min-width:120px;">
                                            Product Code
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            OU Code
                                        </th>
                                        <th style="width:5%; min-width:100px;">
                                            Amount
                                        </th>
                                        <th style="width:5%; min-width:100px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: {data: ECFExpenseArray}">
                                    <tr class="">
                                        <td align="center">
                                            <span data-bind="text: $index() + 1"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: expnature"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: expCategory"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: subcat"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: EmpCode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: EmpName"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: claimfrm"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: claimto"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: fccode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: CCCode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: ProductCode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: oucode"></span>
                                        </td>
                                        <td align="right">
                                            <span data-bind="text: TravelAmt"></span>
                                        </td>
                                        <td align="center" style="">
                                            <span title="view" style="margin-left:3px; margin-right:3px; cursor:pointer;"> <span id="id" class="glyphicon glyphicon-eye-open" data-bind="click: function() { $root.ViewExpenseDetails(employeegid, expnaturegid);}"> </span> </span>
                                            @if (IsChecker == "N")
                                            {
                                            <span title="Edit" style="margin-left:3px; margin-right:3px; cursor:pointer; display:none;"> <span id="id" class="glyphicon glyphicon-edit"> </span> </span>
                                            <span title="Delete" style="margin-left:3px; margin-right:3px; cursor:pointer; display:none;"> <span id="id" class="glyphicon glyphicon-trash"> </span> </span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="tabs-2">
                    <div style="height:270px; overflow-y:auto;">
                        <div style="width:100%; overflow:auto;">
                            <table class="tableSmall table-bordered table-hover table-responsive mycolortable">
                                <thead>
                                    <tr>
                                        <th style="width:5%; min-width:40px;">
                                            #
                                        </th>
                                        <th style="width:10%; min-width:100px;">
                                            Employee code
                                        </th>
                                        <th style="width:15%; min-width:150px;">
                                            Employee Name
                                        </th>
                                        <th style="width:5%; min-width:100px;">
                                            Payment Mode
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Account No
                                        </th>
                                        <th style="width:15%; min-width:150px;">
                                            Beneficiary
                                        </th>
                                        <th style="width:15%; min-width:150px;">
                                            Description
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Pay Bank Name
                                        </th>
                                        <th style="width:10%; min-width:100px;">
                                            Amount
                                        </th>
                                        <th style="width:5%; min-width:100px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: {data: ECFPaymentArray}">
                                    <tr class="" data-bind="css: {'received' : isupdated}">
                                        <td align="center">
                                            <span data-bind="text: Slno"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: EmpCode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: EmpName"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: PMode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: RefNo"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: Beneficiary"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: Desc"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: Bank"></span>
                                        </td>
                                        <td align="right">
                                            <span data-bind="text: Amt"></span>
                                        </td>
                                        <td align="center">
                                            <span title="view" style="margin-left:3px; margin-right:3px; cursor:pointer;" data-bind="visible: PMode != 'RET' && PMode != 'TDS' && PMode != 'WCT', click: function() { $root.EditInvoiceCreditDetails($index(), 0); }"> <span id="id" class="glyphicon glyphicon-eye-open"> </span> </span>
                                            @if (IsChecker == "N")
                                            {
                                                <span title="Edit" style="margin-left:3px; margin-right:3px; cursor:pointer;" data-bind="visible: PMode != 'RET' && PMode != 'TDS' && PMode != 'WCT', click: function() { $root.EditInvoiceCreditDetails($index(), 1); }"> <span id="id" class="glyphicon glyphicon-edit"> </span> </span>
                                                <span title="Delete" style="margin-left:3px; margin-right:3px; cursor:pointer;" data-bind="visible: PMode == 'RRP', click: function() { $root.DeleteInvoiceCreditDetails($index()); }"> <span id="id" class="glyphicon glyphicon-trash"> </span> </span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tabs-3">
                    <div style="height:270px; overflow-y:auto;">
                        @if (IsChecker == "N" || Attach == "Y")
                        {
                        <div style="width:100%; text-align:right;">
                            <button type="button" value="New" onclick="return AddAttachment();" style="color:white; margin-bottom:3px;" class="btn btn-primary">
                                <span style="color:white; font-size:12px;" class="glyphicon glyphicon-plus"></span>
                                Add Attachment
                            </button>
                        </div>
                        }
                        <div style="width:100%; overflow:auto;">
                            <table class="tableSmall table-bordered table-hover table-responsive mycolortable">
                                <thead>
                                    <tr>
                                        <th style="width:4%; min-width:40px;">
                                            #
                                        </th>
                                        <th style="width:16%; min-width:130px;">
                                            Attachment
                                        </th>
                                        <th style="width:15%; min-width:150px;">
                                            Attachment Type
                                        </th>
                                        <th style="width:30%; min-width:200px;">
                                            Description
                                        </th>
                                        <th style="width:10%; min-width:120px;">
                                            Attachment Date
                                        </th>
                                        <th style="width:15%; min-width:150px;">
                                            Attachment By
                                        </th>
                                        <th style="width:10%; min-width:100px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: {data: ECFAttachmentArray}">
                                    <tr class="" data-bind="css: {'received' : isupdated }">
                                        <td align="center">
                                            <span data-bind="text: Slno"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: Attachment"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: AttachmentType"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: AttachmentDesc"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: AttachmentDate"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: AttachedBy"></span>
                                        </td>
                                        <td align="center">
                                            <span title="view" style="margin-left:3px; margin-right:3px; cursor:pointer;" data-bind="click: function() { $root.AttachmentDownLoad(attachmentId, Attachment); }"> <span id="id" class="glyphicon glyphicon-eye-open"> </span> </span>
                                            @if (IsChecker == "N" || Attach == "Y")
                                            {
                                            <span title="Delete" style="margin-left:3px; margin-right:3px; cursor:pointer; display:none;" data-bind="click: function() { $root.DeleteAttachmentDetails(attachmentId); }"> <span id="id" class="glyphicon glyphicon-trash"> </span> </span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tabs-4">
                    <div style="height:270px; overflow-y:auto;">
                        <div style="width:100%; overflow:auto;">
                            <table class="tableSmall table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width:5%; min-width:40px;">
                                            #
                                        </th>
                                        <th style="width:20%; min-width:150px;">
                                            Employee Name
                                        </th>
                                        <th style="width:20%; min-width:150px;">
                                            Designation
                                        </th>
                                        <th style="width:10%; min-width:120px;">
                                            Action Date
                                        </th>
                                        <th style="width:15%; min-width:150px;">
                                            Status
                                        </th>
                                        <th style="width:30%; min-width:200px;">
                                            Remarks
                                        </th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: {data: ECFAuditrailArray}">
                                    <tr>
                                        <td align="center">
                                            <span data-bind="text: $index() + 1"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: EmpCode + ' - ' + EmpName"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: Designation"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: ActionDate"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: ActionType"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: Remarks"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @if (EOWStatus == "1" || EOWStatus == "2")
                {
                    <div id="tabs-6">
                        <div style="height:270px; overflow-y:auto;">
                            <div style="width:100%; overflow:auto;">
                                <table class="tableSmall table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="width:5%; min-width:40px;">
                                                #
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                Inex Date
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Inex By
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Review By
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                Status
                                            </th>
                                            <th style="width:20%; min-width:200px;">
                                                Remarks
                                            </th>
                                            <th style="width:25%; min-width:200px;">
                                                Reason
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: EOWInexArray}">
                                        <tr>
                                            <td align="center">
                                                <span data-bind="text: $index() + 1"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: inexDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: inexBy"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: reviewBy"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: actionStatus"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: remarks"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: reason"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="width:100%; overflow:auto; margin-top:10px;">
                                <table class="tableSmall table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="width:5%; min-width:40px;">
                                                #
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                Despatch Date
                                            </th>
                                            <th style="width:20%; min-width:150px;">
                                                Courier Name
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                AWB No
                                            </th>
                                            <th style="width:15%; min-width:100px;">
                                                Despatch To
                                            </th>
                                            <th style="width:35%; min-width:250px;">
                                                Despatch Address
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: EOWDespatchArray}">
                                        <tr>
                                            <td align="center">
                                                <span data-bind="text: $index() + 1"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: despatchDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: courierName"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: awbNo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: despatchTo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: despatchAddress"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                @if (EOWStatus == "2")
                {
                    <div id="tabs-7">
                        <div style="height:270px; overflow-y:auto;">
                            <div style="width:100%; overflow:auto;">
                                <table class="tableSmall table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="width:4%; min-width:40px;">
                                                #
                                            </th>
                                            <th style="width:8%; min-width:80px;">
                                                Payment Batch No
                                            </th>
                                            <th style="width:8%; min-width:80px;">
                                                Payment Date
                                            </th>
                                            <th style="width:9%; min-width:100px;">
                                                PV No
                                            </th>
                                            <th style="width:6%; min-width:60px;">
                                                Pay Mode
                                            </th>
                                            <th style="width:9%; min-width:100px;">
                                                PV Amount
                                            </th>
                                            <th style="width:9%; min-width:100px;">
                                                Claim Type
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Beneficiary
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Beneficiary Bank Name
                                            </th>
                                            <th style="width:8%; min-width:100px;">
                                                Cheque Date
                                            </th>
                                            <th style="width:9%; min-width:100px;">
                                                Cheque No
                                            </th>
                                            <th style="width:9%; min-width:100px;">
                                                Invoice Amount
                                            </th>
                                            <th style="width:9%; min-width:100px;">
                                                Invoice Net Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: EOWPaymentArray}">
                                        <tr>
                                            <td align="center">
                                                <span data-bind="text: $index() + 1"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PaymentBatchNo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PVDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PVNo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PayMode"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PVAmount"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: ClaimType"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: EmployeeSupplierName"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: Bank"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: ChqDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: ChqNo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: InvoiceAmount"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: NetAmount"></span>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="width:100%; overflow:auto; margin-top:10px;">
                                <table class="tableSmall table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="width:5%; min-width:40px;">
                                                #
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                PV Date
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                PV No
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Pay Mode
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                PV Amount
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Payment Batch No
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                Despatch Date
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Courier Name
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                AWB No
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: PaymentDespatchArray}">
                                        <tr>
                                            <td align="center">
                                                <span data-bind="text: $index() + 1"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PVDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PVNo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PayMode"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PVAmount"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PaymentBatchNo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: DespatchDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: CourierName"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: AwbNo"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                @if (IsChecker == "N" || IsRedup == "Y")
                {
                    <div id="tabs-8">
                        <div style="height:320px; overflow-y:auto;">
                            <div style="width:100%; text-align:right;">
                                <button type="button" style="color:white; margin-bottom:1px;" class="btn btn-primary" data-bind="click: $root.RunDedup">
                                    <span style="color:white; font-size:12px;" class="glyphicon glyphicon-random">
                                    </span>
                                    Run-Dedup
                                </button>

                            </div>
                            <div style="width:100%; overflow:auto;">
                                <table class="tableSmall table-bordered table-hover table-responsive" style="white-space:nowrap;">
                                    <thead>
                                        <tr>
                                            <th style="width:8%; min-width:120px; display:none;">
                                                Invoice No
                                            </th>
                                            <th style="width:8%; min-width:100px; display:none;">
                                                Invoice Date
                                            </th>
                                            <th style="width:4%; min-width:50px;">
                                                #
                                            </th>
                                            <th style="width:8%; min-width:100px;">
                                                Type(C-current/H-history)
                                            </th>
                                            <th style="width:8%; min-width:120px;">
                                                ECF No
                                            </th>
                                            <th style="width:8%; min-width:100px;">
                                                ECF Date
                                            </th>
                                            <th style="width:14%; min-width:150px;">
                                                ECF Status
                                            </th>
                                            <th style="width:8%; min-width:100px;">
                                                ECF Amount
                                            </th>
                                            <th style="width:8%; min-width:100px;">
                                                ECF Processed Amount
                                            </th>
                                            <th style="width:8%; min-width:100px;">
                                                Cliam Amount
                                            </th>
                                            <th style="width:8%; min-width:100px;">
                                                Employee Code
                                            </th>
                                            <th style="width:10%; min-width:200px;">
                                                Employee Name
                                            </th>
                                            <th style="width:6%; min-width:100px;">
                                                Claim Date
                                            </th>
                                            <th style="width:8%; min-width:150px;">
                                                Nature of Expense
                                            </th>
                                            <th style="width:8%; min-width:150px;">
                                                Location
                                            </th>
                                            <th style="width:8%; min-width:150px;">
                                                Raiser
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: DedupDetailsArray}, visible: DedupDetailsArray().length > 0">
                                        <tr>
                                            <td style="display:none;">
                                                <span data-bind="text: InvoiceNo"></span>
                                            </td>
                                            <td align="center" style="display:none;">
                                                <span data-bind="text: InvoiceDate"></span>
                                            </td>
                                            <td align="center">
                                                <span data-bind="text: Sno"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: Type"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: ECFNo"></span>
                                            </td>
                                            <td align="center">
                                                <span data-bind="text: ECFDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: ECFStatus"></span>
                                            </td>
                                            <td align="right">
                                                <span data-bind="text: $root.formatNumber(ClaimAmount)"></span>
                                            </td>
                                            <td align="right">
                                                <span data-bind="text: $root.formatNumber(ECFAmount)"></span>
                                            </td>
                                            <td align="right">
                                                <span data-bind="text: $root.formatNumber(ECFProcessedAmount)"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: EmployeeCode"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: EmployeeName"></span>
                                            </td>
                                            <td align="center">
                                                <span data-bind="text: ClaimDate"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: NatureOfExp"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: Location"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: Raiser"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }

                <div id="tabs-10">

                    <div class="row">
                        <div class="col-sm-4" style="text-align:right"> @Html.Label("Filter Type") </div>
                        <div class="col-sm-4">
                            @Html.DropDownList("Select", new List<SelectListItem>
                            {  new SelectListItem{Text="--Select--", Value="0"},
                                new SelectListItem{Text="Payment Detail", Value="1"},
                                new SelectListItem{Text="Expense Details", Value="2"},

                            }, new { @id = "drpaudit", @class = "fstextbox" })
                        </div>
                        <div class="col-sm-4"></div>

                    </div>


                    <div style="height:320px; overflow-y:auto;">
                        <div style="display:none;" id="showpaymentdialog">
                            <div style="width:100%; overflow:auto;">
                                <table id="paymentaudit" class="tableSmall table-bordered table-hover table-responsive mycolortable">
                                    <thead>
                                        <tr>
                                            <th style="width:5%; min-width:40px;">
                                                #
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                Payment Mode
                                            </th>
                                            <th style="width:10%; min-width:150px;">
                                                Account No
                                            </th>
                                            <th style="width:15%; min-width:150px;">
                                                Beneficiary
                                            </th>
                                            <th style="width:20%; min-width:200px;">
                                                Description
                                            </th>
                                            <th style="width:20%; min-width:150px;">
                                                Pay Bank Name
                                            </th>
                                            <th style="width:10%; min-width:100px;">
                                                Amount
                                            </th>

                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach: {data: ECFPaymentHistory}">
                                        <tr>
                                            <td align="center">
                                                <span data-bind="text: Slno"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: PMode"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: RefNo"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: Beneficiary"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: Description"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: Bank"></span>
                                            </td>
                                            <td align="right">
                                                <span data-bind="text: Amt"></span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div style="display:none;width:100%; overflow:auto;" id="showExpensehistory">
                            <table class="tableSmall table-bordered table-hover table-responsive mycolortable">
                                <thead>
                                    <tr>
                                        <th style="width:3%; min-width:40px;">
                                            #
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Nature of Expenses
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Expense Category
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Sub Category
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            Emplyee Code
                                        </th>
                                        <th style="width:10%; min-width:150px;">
                                            Emplyee Name
                                        </th>
                                        <th style="width:6%; min-width:100px;">
                                            From Date
                                        </th>
                                        <th style="width:6%; min-width:100px;">
                                            To Date
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            FC
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            CC
                                        </th>
                                        <th style="width:7%; min-width:120px;">
                                            Product Code
                                        </th>
                                        <th style="width:7%; min-width:100px;">
                                            OU Code
                                        </th>
                                        <th style="width:5%; min-width:100px;">
                                            Amount
                                        </th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: {data:ExpenseDetailhistory}">
                                    <tr class="">
                                        <td align="center">
                                            <span data-bind="text: Slno"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: expnature"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: expCategory"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: subcat"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: EmpCode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: EmpName"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: claimfrm"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: claimto"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: fccode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: CCCode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: ProductCode"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: oucode"></span>
                                        </td>
                                        <td align="right">
                                            <span data-bind="text: TravelAmt"></span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="display:none" id="ShowDialog3">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td style="width:50%; padding:5px 10px;">
                    <span>Attachment File</span>
                    <br />
                    <form id="uploaderForm">
                        <input type="file" @EnableData style="width: 100%;padding-top: 5px;" id="attUploader" class="attUploader" name="UploadFile" />
                    </form>
                </td>
                <td style="width:50%; padding:5px 10px;">
                    <span>Attachment Type</span>
                    <br />
                    <select id="ddlAttachmentType" @EnableData class="fstextbox required" data-bind="foreach: {data: AttachmentTypeArray}">
                        <option data-bind="attr: {value: Id}, text: Combo"></option>
                    </select>

                </td>

            </tr>
            <tr>
                <td style="padding:5px 10px;" colspan="2">
                    <span>Description</span>
                    <br />
                    <textarea id="txtAttachDescription" @EnableData class="fstextbox required" cols="6" rows="3" style="height:100%;"></textarea>
                </td>
            </tr>

            <tr>
                <td style="padding:10px 10px 5px; text-align:center;" colspan="2">
                    <input type="hidden" value="0" id="hfAttachmetId" />
                    @if (IsChecker == "N")
                    {
                        <button data-bind="click: function() { $root.SetAttachmentDetails(); }" type="button" id="btnAttachmentSubmit" style="color:white; margin-top:10px;" class="btn btn-primary">
                            <span style="color:white; font-size:12px;" class="glyphicon glyphicon-download-alt"></span>
                            Submit
                        </button>
                    }
                    <button type="button" style="color:white; margin-top:10px;" title="Cancel" data-bind="click: function() { $root.CloseDetails(3); }" name="Cancel" class="btn btn-warning">
                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span>
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div style="display:none" id="ShowDialog4">
        <div style="width:100%;">
            <div style="width:100%; max-height:400px; overflow:auto;">
                <table class="tableSmall table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th style="width:5%; min-width:50px;">
                                #
                            </th>
                            <th style="width:10%; min-width:100px;">
                                Date
                            </th>
                            <th style="width:20%; min-width:150px;">
                                Place From
                            </th>
                            <th style="width:20%; min-width:150px;">
                                Place To
                            </th>
                            <th style="width:15%; min-width:100px;">
                                Travel Mode
                            </th>
                            <th style="width:10%; min-width:80px;">
                                Rate
                            </th>
                            <th style="width:10%; min-width:80px;">
                                Distance
                            </th>
                            <th style="width:10%; min-width:100px;">
                                Amount
                            </th>

                        </tr>
                    </thead>
                    <tbody data-bind="foreach: {data: ECFTravelExpenseArray}">
                        <tr>
                            <td align="center">
                                <span data-bind="text: $index() + 1"></span>
                            </td>
                            <td align="center">
                                <span data-bind="text: Date"></span>
                            </td>
                            <td>
                                <span data-bind="text: PlaceFrm"></span>
                            </td>
                            <td>
                                <span data-bind="text: PlaceTo"></span>
                            </td>
                            <td>
                                <span data-bind="text: TravelMode"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: Rate"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: Distance"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: TravelAmt"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width:100%; text-align:center;">
                <button type="button" title="Cancel" style="color:white; margin-top:10px; font-size: 12px;" name="Cancel" class="btn btn-warning" data-bind="click: function() { $root.CloseDetails(0); }">
                    <span style="color:white; font-size: 13px;" class="glyphicon glyphicon-remove-sign"></span>
                    Cancel
                </button>
            </div>

        </div>
    </div>
    @* Ramya Edit Modified*@
    <div style="display:none" id="ShowDialogPayBank">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td style="width:50%; padding:5px 10px;">
                    <span>Pay Mode</span>
                    <br />
                    <select id="ddlPayMode1" class="fstextbox required" @EnableData data-bind="foreach: {data: PayModeLCEditArray}">
                        <option data-bind="attr: {value: Id}, text: Combo"></option>
                    </select>

                </td>
                <td style="width:50%; padding:5px 10px;">
                    <span id="lblPayableAt">Account No</span>
                    <br />
                    <input type="text" id="txtPayRefNo1" disabled="disabled" class="fstextbox required" />
                </td>

            </tr>
            <tr style="display:none;">

                <td style="padding:5px 10px;">
                    <span>Beneficiary</span>
                    <br />
                    <input type="text" disabled="disabled"
                           id="txtPayBeneficiary1"
                           class="fstextbox required" />
                </td>
                <td style="padding:5px 10px;" colspan="2">
                    <span>Pay Bank</span>
                    <br />
                    <select id="ddlPayBank" class="fstextbox required" @EnableData data-bind="foreach: {data: PayBankArray}">
                        <option data-bind="attr: {value: Id}, text: Combo"></option>
                    </select>
                </td>

            </tr>
            <tr>
                <td style="padding:5px 10px;">
                    <span>Amount</span>
                    <br />
                    <input type="text"
                           @* disabled="disabled"*@ @*Commented to make amount field editable - by Ramya*@
                           id="txtPaymentAmount1"
                           class="fstextbox required" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px 10px;" colspan="2">
                    <span>Description</span>
                    <br />
                    <textarea id="txtPayDescription1" @EnableData class="fstextbox required" cols="6" rows="3" style="height:100%;"></textarea>
                </td>
            </tr>

            <tr>
                <td style="padding:10px 10px 5px; text-align:center;" colspan="2">
                    <input type="hidden" data-bind="attr: {value: DefaultPayBank}" value="0" id="hfPayBandId" />
                    @if (IsChecker == "N")
                    {
                        <button type="button" id="btnCreditLineSubmit1" data-bind="click: function() { $root.SetInvoiceCreditDetails(1); }" style="color:white; margin-top:10px;" class="btn btn-primary">
                            <span style="color:white; font-size:12px;" class="glyphicon glyphicon-download-alt"></span>
                            Submit
                        </button>
                    }
                    <button type="button" style="color:white; margin-top:10px;" title="Cancel" name="Cancel" data-bind="click: function() { $root.CloseDetails(1); }" class="btn btn-warning">
                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span>
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <input type="hidden" value="0" id="hfCreditlineGId" />
    <input type="hidden" value="0" id="hfRefId" />
    <input type="hidden" value="0" id="hfECFId" />
    <input type="hidden" value="0" id="hfSupplierId" />
    <input type="hidden" value="0" id="hfInvId" />
    <input type="hidden" value="0" id="hfBU" />
    <input type="hidden" value="0" id="hfCC" />
    <input type="hidden" value="0" id="hfEmpProductCode" />
    <input type="hidden" value="0" id="hfEmpOUCode" />
    <input type="hidden" value="" id="hfProductCodeText" />
    <input type="hidden" value="" id="hfOUCodeText" />
    <input type="hidden" value="0" id="hfISDedup" />
    <input type="hidden" value="" id="hfIFSCCode" />
</div>

<script>
    var UrlDet = "@Url.Action("GetSupplierInvoiceMaker", "AuditWorkTray")"
    var UrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
</script>

<script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsLocalConveyance.js")" type="text/javascript"></script>
