<table>
    <tr>
        <td>

            <div style="font-weight:bold;padding-left:145px;padding-top:15px;">@ViewBag.vbtotalrecord</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left:145px;padding-top:15px;">@ViewBag.vbvalid</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top:15px;">@ViewBag.vbinvalid</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <br /><br />
            <table>
                <tr>
                    <td style="padding-left:140px;">
                        @if (@ViewBag.visble == "Yes")
                        {
                            <div style="font-weight:bold;width:150%;">

                                <button class="btn btn-primary" type="button" id="Impairinsert" value="OK"><span style="color:white;" class="glyphicon glyphicon-ok-sign"></span> OK </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-warning" type="button" id="sabtncancelexcel" value="Cancel" onclick="GotoIndexClose()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span>Cancel</button>
                            </div>
                        }
                </td>
                <td>
                    @if (@ViewBag.visble != "Yes")
                    {


                        <div style="font-weight:bold">

                            <a class="btn btn-warning" style="color:white;" data-model="" href="../Assetimpairments/errlogdownloadsexcel" id="ViewErrorLog" onclick="SAGotoIndexclose()">
                                <span style="color:white;" class="glyphicon glyphicon-download">ViewErrorLog</span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary" type="button" id="btncancelexcel1" value="Close" onclick="SAGotoIndexclose()"> <span style="color:white;" class="glyphicon glyphicon-remove"></span>Close</button>
                        </div>

                    }

                </td>
            </tr>
        </table>

    </td>

</tr>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $("#Impairinsert").click(function () {


            window.parent.jQuery('#ForPartialViewRecReports').dialog('close');
            objDialog.dialog("close");
            var value = "fgdf";
            var objcbf =
                {
                    "empid": value
                };
            $.ajax({
                //url: "../AssetImpairments/Impairlocaldetails",
                url: '@Url.Action("Impairlocaldetails", "AssetImpairments")',
                type: 'POST',
                cache: false,
                data: objcbf,
                success: function (data) {
                    @*$("#processworkingdata").empty();
                    var url = "@(Html.Raw(Url.Action("salocaldetails", "AssetSale")))";
                    $("#processworkingdata").load(url);
                    alert(data);*@
                    if (data == "success") {
                        jAlert("Impairments of Asset Raised Successfully!!", "Information", function (r) {
                            if (r == true) {
                                //location = '../AssetImpairments/AssetImpairmentsSummary';
                                location = '@Url.Action("AssetImpairmentsSummary", "AssetImpairments")';

                            }
                        });

                        objDialog.dialog("close");
                        window.parent.jQuery('#ForPartialViewRecReports').dialog('close');
                    }
                    else {
                        jAlert(" Impairments failed!!", "Message");
                    }
                },
                error: function () {
                    jAlert("Impairments was failed with error!!", "Message");
                    return false;
                }
            });
        });
    });
    function SAGotoIndexclose() {
        //alert("OK");
        objDialog.dialog("close");
        window.parent.jQuery('#ForPartialViewRecReports').dialog('close');
    }
    function GotoIndexClose() {
        objDialog.dialog("close");
        window.parent.jQuery('#ForPartialViewRecReports').dialog('close');
        jAlert("Impairments was cancelled!!", "Message");
    }
</script>