@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.Ifams_Propertyx.ImpairmentsModel
@*@model IEnumerable<IEM.Areas.IFAMS.Models.Ifams_Propertyx.ImpairmentsModel>*@
@{
    Ifams_Modelx ImpModel = new Ifams_Modelx();
    int ImpHeaderId = (int)Session["GidforMaker"];
    Model.AuditImpModel = ImpModel.IOAuditTrial(ImpHeaderId);
    
    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.AuditImpModel,
                         canSort: false, canPage: false, ajaxUpdateContainerId: "auditTrail", ajaxUpdateCallback: "auditTrailLst()"
                       );
    int id = @grid.PageIndex;

    int rowVal = 0;
}
<div>
    <div style="overflow-y:scroll; height:150px">
        @grid.GetHtml(
fillEmptyRows: false,
   tableStyle: "tableSmall table-bordered aligncenter",
mode: WebGridPagerModes.All,
columns: grid.Columns(
         grid.Column(header: "S.No", format: item => rowVal = rowVal + 1),
                           grid.Column("empname_id", "Employee ID-Name"),
                           grid.Column("date", "Action Date"),
                           grid.Column("role", "Approval Stage"),
                           grid.Column("status", "Status"),
                           grid.Column("remarks", "Remarks")
                           ))

        <div class="table-bordered btnCenter">
            @ViewBag.NoRecordsFound
        </div>
        <br />
        @*<label>Page: @(auidtGrid.PageIndex + 1) of @auidtGrid.PageCount</label> <span class="myTableStyleTabNew">  Total No Of Records:@Model.AuditImpModel.Count</span>*@

    </div>

</div>
<script>
    $('#idtab2').text('@Model.AuditImpModel.Count()')

</script>


