@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.Ifams_Propertyx.ImpairmentsModel
@{
    // ViewBag.Title = "ViewImpairments";
    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.ImpModel,
                         canPage: false,
                         rowsPerPage: 7,
                         canSort: false,
                         ajaxUpdateContainerId: "grid"
                       );
    int id = @grid.PageIndex;
    int rowVal = 0;
}

@if (@ViewBag.UserRole == "IOAMKR")
{
    <div>
        <div class="myTableStyleTabNew" style="font-size: 12px;">
            Impairment Number :
            <span>
                <label id="lblsnonew22">
                    @HttpContext.Current.Session["ImpairNo"]
                </label>
            </span>
        </div>
        <div id="tabaudit" style="font-size: 12px;">
            <ul>
                <li><a href="#tabs-1">Details [<label id="idtab1">@Model.ImpModel.Count()</label>]</a></li>
                <li><a href="#tabs-2">Audit Trail [<label id="idtab2"></label>]</a></li>
            </ul>
            <div class="borderStyleNew borderStyleNew123 " id="tabs-1" style="overflow-y:scroll; height:200px">
                @grid.GetHtml(
                            fillEmptyRows: false,
                            tableStyle: "tableSmall table-bordered aligncenter",
                          
                            columns: grid.Columns(
                            grid.Column(header: "S.No", format: item => rowVal = rowVal + 1),
                            grid.Column("_impasset_id",  "Asset ID"),
                            grid.Column("imrheader_upld_fname", "Category"),
                            grid.Column("imrdet_department", "Sub-Category code"),
                            grid.Column("imrheader_upld_date", "Sub-Category"),
                            grid.Column("imrdet_salevalue", "Asset Value"),
                            grid.Column("imrdet_branch_id",  "Branch Code"),
                            grid.Column("imrdet_date",  "Impairment Date")))
                <div class="table-bordered btnCenter" align="center">
                    <b> @ViewBag.Message </b>
                </div>
                <br />
            </div>
            <div id="tabs-2">
                @Html.Partial("IOAAuditTrial")
            </div>
        </div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td class="form-group" nowrap="nowrap">
                    <div style="float:right;padding-right:20px;margin-top:5px;">
                        <span class="input-group-btn">
                            <button class="btn btn-primary ststus" id="MakerSub" type="submit" name="command" value="submit"><span style="color:white" class="glyphicon glyphicon-ok"></span> Submit</button>
                        </span>
                    </div>
                </td>
                <td>
                    <div style="float:right;padding-right:20px;margin-top:5px;">
                        <span class="input-group-btn">
                            <button class="btn backbtn btn-warning" id="CloseMaker" type="submit" name="command" value="cancel"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
else if (@ViewBag.UserRole == "IOACHK")
{
    <div>
        <div class="myTableStyleTabNew" style="font-size: 12px;">
            Impairment Number :
            <span>
                <label id="lblsnonew22">
                    @HttpContext.Current.Session["ImpairNo"]
                </label>
            </span>
        </div>
        <div id="tabaudit" style="font-size: 12px;">
            <ul>
                <li><a href="#tabs-1">Details [<label id="idtab1">@Model.ImpModel.Count()</label>]</a></li>
                <li><a href="#tabs-2">Audit Trail [<label id="idtab2"></label>]</a></li>
            </ul>
            <div class="borderStyleNew borderStyleNew123 " id="tabs-1" style="overflow-y:scroll; height:200px">
                @grid.GetHtml(
                fillEmptyRows: false,
                tableStyle: "tableSmall table-bordered aligncenter",
               
                columns: grid.Columns(
                            grid.Column(header: "S.No", format: item => rowVal = rowVal + 1),
                            grid.Column("_impasset_id", "Asset ID"),
                            grid.Column("imrdet_branch_id",  "Branch Code"),
                            grid.Column("imrdet_salevalue",  "Asset Value"),
                            grid.Column("_imp_recti_amt", "Rectification Amount"),
                            grid.Column("imrdet_date", "Impairment Date")))
                <div class=" btnCenter" align="center">
                    <b> @ViewBag.Message </b>
                </div>
                <br />

            </div>
            <div id="tabs-2">
                @Html.Partial("IOAAuditTrial")
            </div>
        </div>
        <table align="center" class="myTableStyleTabNew">
            <tr>
                <td class="form-group" nowrap="nowrap">
                    @if (ViewBag.Status == "viewRevoke" && ViewBag.UserRole == "IOACHK")
                    {
                        <div>
                            <span class="input-group-btn">
                                <button class="btn btnRevoke btn-danger" hidden type="submit" id="btnRevoke" name="command" value="Revoke"><span style="color:white" class="glyphicon glyphicon-remove"></span> Revoke</button>
                            </span>
                        </div>
                    }
                </td>
                <td class="form-group" nowrap="nowrap">
                    @if (ViewBag.Status == "viewDetail" || ViewBag.Status == "viewRevoke")
                    {
                        <div>
                            <span class="input-group-btn">
                                <button class="btn btnbackforrevoke btn-warning" type="submit" name="command" value="cancel" id="btnbackforrevoke"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                            </span>
                        </div>
                    }
                </td>
            </tr>
        </table>
        @if (ViewBag.Status != "viewRevoke" && ViewBag.Status != "viewDetail" && ViewBag.UserRole == "IOACHK")
        {
            <div class="myTableStyleTabNew" align="left">
                <span>Remarks</span>
                <input type="text" autofocus="" id="txtRemaks" name="remarks" onkeyup="check()" class=" textboxStyleSearch required" maxlength="256" width="150px" height="100px" />
            </div>
            <table class="myTableStyleTabNew" align="center">
                <tr>
                    <td class="form-group" nowrap="nowrap">

                        <div style="float:right;padding-right:20px;margin-top:5px;">
                            <span class="input-group-btn">
                                <button class="btn btnApprove btn-success" type="submit" id="btnApprove" name="command" value="Approve"><span style="color:white" class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                            </span>
                        </div>
                    </td>
                    <td class="form-group" nowrap="nowrap">

                        <div style="float:right;padding-right:20px;margin-top:5px;">
                            <span class="input-group-btn">
                                <button class="btn btnReject btn-danger" type="submit" id="btnReject" disabled="disabled" name="command" value="Reject"><span style="color:white" class="glyphicon glyphicon-thumbs-down"></span> Reject</button>
                            </span>
                        </div>
                    </td>
                    <td class="form-group" nowrap="nowrap">

                        <div style="float:right;padding-right:20px;margin-top:5px;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="BtnClearremarks" type="button" name="command" value="Remove"><span style="color:white" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                            </span>
                        </div>
                    </td>
                    <td class="form-group" nowrap="nowrap">

                        <div style="float:right;padding-right:20px;margin-top:5px;">
                            <span class="input-group-btn">
                                <button class="btn backbtn btn-warning" type="submit" name="command" value="cancel" id="CloseChecker"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
}
<script type="text/javascript">
    var currentTab4 = 0;

    $(document).ready(function () {

        $("#tabaudit").tabs({
            select: function (e, i) {
                currentTab4 = i.index;
            }
        });
        var Status = '@ViewBag.Status';
        if (Status.toString() == "WAITING FOR APPROVAL" || Status.toString() == "REJECTED" || Status.toString() == "APPROVED") {
            $("#MakerSub").hide();
        }
        else {
            $("#MakerSub").show();
        }
        if (Status.toString() == "APPROVED" || Status.toString() == "REJECTED" || Status.toString() == "DRAFT") {
            $("#btnApprove").hide();
            $("#btnReject").hide();
        }
        else if (Status.toString() == "WAITING FOR APPROVAL") {
            $("#btnApprove").show();
            $("#btnReject").show();
        }
        if (Status.toString() == "viewRevoke") {
            $("#btnRevoke").show();
        }
    });

    $('#BtnClearremarks').on("click", function () {
        $('#txtRemaks').val("");
        $('.btnReject').attr("disabled", true);

    });
    function check() {
        var txtRemaks = $('#txtRemaks').val();
        if (txtRemaks.trim() != "") {
            $('.btnReject').removeAttr('disabled');

            $('#txtRemaks').removeClass('required');
            $('#txtRemaks').addClass('valid');
        }
        else {
            $('.btnReject').attr("disabled", true);

            $('#txtRemaks').removeClass('valid');
            $('#txtRemaks').addClass('required');
        }
    }

    $('.btnRevoke').click(function () {
        jConfirm("Are you sure to revoke the impairment?", "Information", function (r) {
            if (r == true) {
                showProgress();
                $.ajax({
                    url: '@Url.Action("Revoke", "AssetImpairments")?gid=' + '@Model.impstatus' + '&' + new Date().getTime(),
                    type: 'POST',
                    cache: false,
                    data: {},
                    success: function (data) {
                        hideProgress();
                        if (data == "success") {
                            jAlert("Revoke Impairment is Successful", "Information", function (r) {
                                if (r == true) {
                                    location = '@Url.Action("RevokeSummary", "AssetImpairments")?' + new Date().getTime();
                                }
                            });
                            window.parent.jQuery('#ForPartialView').dialog('close');
                        }
                        else {
                            jAlert("Revoke failed !!", "Message");
                        }
                    },
                    error: function () {
                        hideProgress();
                        jAlert("Revoke failed with error!!", "Message");
                        return false;
                    }
                });
            }
        });
    });

    $("#MakerSub").click(function () {
        jConfirm("Are you sure to Impair the asset?", "Information", function (r) {
            if (r == true) {
                showProgress();   //alert();
        $.ajax({
            url: '@Url.Action("MakerImpairments", "AssetImpairments")?' + new Date().getTime(),
            //url: "../AssetImpairments/MakerImpairments/",
            type: 'POST',
            cache: false,
            data: {},
            success: function (data) {
               hideProgress();
                if (data == "success") {
                    jAlert("Impairment raised Successfully", "Information", function (r) {
                        if (r == true) {
                            location = '@Url.Action("AssetImpairmentsSummary", "AssetImpairments")?' + new Date().getTime();
                        }
                    });
                    window.parent.jQuery('#ForPartialView').dialog('close');
                }
                else {
                    jAlert("Impairment failed !!", "Message");
                }
            },
            error: function () {
                hideProgress();
                jAlert("Impairment failed with error!!", "Message");
                return false;
            }
        }); }
    });
    });

    $("#btnbackforrevoke").click(function () {
        window.parent.jQuery('#forAttachment').dialog('close');

    });
    $("#CloseMaker").click(function () {

        window.parent.jQuery('#ForPartialView').dialog('close');
        $('#gridImpair').find('tr').css('background', 'none');
    });

    $(".ui-icon-closethick").click(function () {
        $('#gridImpair').find('tr').css('background', 'none');
        $('#gridImpairChecker').find('tr').css('background', 'none');
    });
    $("#CloseChecker").click(function () {
        window.parent.jQuery('#ForPartialView').dialog('close');
        //location = '../AssetImpairments/AssetImpairmentsSummaryy';
        $('#gridImpairChecker').find('tr').css('background', 'none');
    });

    $('.btnApprove').on("click", function () {
        var Approve = $('#btnApprove').val();
        var Remarks = $('#txtRemaks').val();
        jConfirm("Are You Sure Approve that Records", "Message", function (t) {
            if (t == true) {
                showProgress();
                $.ajax({
                    url: '@Url.Action("Approve", "AssetImpairments")?Approve=' + Approve + '&Remarks=' + Remarks,
                    type: 'POST',
                    cache: false,
                    data: {},
                    success: function (data) {
                        hideProgress();
                        if (data == "Success") {
                            jAlert("Impairment Approved Successfully", "Information", function (r) {
                                if (r == true) {
                                    location = '@Url.Action("AssetImpairmentsSummaryy", "AssetImpairments")?' + new Date().getTime();
                                }
                            });
                            //objforAttachment.dialog("close");
                            window.parent.jQuery('#ForPartialView').dialog('close');
                        }
                        else {
                            jAlert("Impairment Approval failed!!", "Message");
                        }
                    },
                    error: function () {
                        hideProgress();
                        jAlert("Impairment Approval failed with error!!", "Message");
                        return false;
                    }
                });
            }
        });
    });

    $('.btnReject').on("click", function () {
        var Reject = $('#btnReject').val();
        var Remarks = $('#txtRemaks').val();
        jConfirm("Are You Sure Reject that Records", "Message", function (t) {
            if (t == true) {
                showProgress();
                $.ajax({
                    url: '@Url.Action("Reject", "AssetImpairments")?Reject=' + Reject + '&Remarks=' + Remarks,
                    type: 'POST',
                    cache: false,
                    data: {},
                    success: function (data) {
                        hideProgress();
                        if (data == "Success") {
                            jAlert("Impairment Rejected Successfully", "Information", function (r) {
                                if (r == true) {
                                    location = '@Url.Action("AssetImpairmentsSummaryy", "AssetImpairments")?' + new Date().getTime();
                                }
                            });
                            window.parent.jQuery('#ForPartialView').dialog('close');
                        }
                        else {
                            jAlert("Impairment Rejection failed!!", "Message");
                        }
                    },
                    error: function () {
                       hideProgress();
                        jAlert("Impairment Rejection failed with error!!", "Message");
                        return false;
                    }
                });
            }
        });
    });

</script>
