@using IEM.Areas.EOW.Models;
@model IEnumerable<IEM.Areas.EOW.Models.SupClassificationModel>
<div id="wg">
    @{
        //ViewBag.Title = "Slab Master";
        //Layout = null;
        //WebGrid grid = new WebGrid(source: Model, canSort: true, canPage: true, ajaxUpdateContainerId: "wg", ajaxUpdateCallback: "HideElements()");
        //int rowVal = 0;
        //var vh = ViewBag.process;

        Layout = null;
        var grid = new WebGrid(canPage: false, canSort: false, ajaxUpdateContainerId: "wg", ajaxUpdateCallback: "HideElements()");
        grid.Bind(Model);
        int rowVal = 0;
        
    }
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            @if (Session["process"] == "")
            {
               
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span> SlabName </span>
              <br/>
                <input name="_ClassificationName"
                       id="slabname"
                       type="text"
                       class="fstextbox required" maxlength="50"
                       value="" />

                </td>
                
            <td style="width:25%; padding:0px 10px 0px 3px;">
                   
                <button type="button" id="SubmitSlabRanges" class="btn btn-primary" disabled value="Save" onclick="" style="margin-top:20px">
                    <span class="glyphicon glyphicon-plus" style="color:white; font-size :12px;"></span>Add Slab Ranges
                </button>
                    
                </td>
            }
            else
            {
              
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span> SlabName </span>
               
                <input name="_ClassificationName"
                       id="slabname"
                       type="text"
                       class="fstextbox valid" maxlength="50"
                       value="@Session["process"]" />

                </td>
                
            <td style="width:25%; padding:0px 10px 0px 3px;">
                  
                <button type="button" id="SubmitSlabRanges" class="btn btn-primary" value="Save" disabled onclick=""
                        style="margin-top:20px">
                    <span class="glyphicon glyphicon-plus" style="color:white;font-size :12px;"></span>Add Slab Ranges
                </button>
                    
                </td>
            }
        </tr>
        <tr>
            @if (Session["process"] == "")
            {
                
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeName">Slab Range Name</span>
                    <br />
                <input type="text"
                       name="SlabRangeName"
                       id="SlabRangeName"
                       value="@ViewBag.SlabRangeName" maxlength="50" disabled="disabled"
                       class="fstextbox required" />
                </td>
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeFrom">Slab Range From</span>
                    <br />
                <input type="text"
                       name="SlabRangeFrom"
                       id="SlabRangeFrom" disabled="disabled"
                       value="@ViewBag.SlabRangeFrom" maxlength="13" onkeypress="return isNumberKey(event)"
                       class="fstextbox required" />
                </td>
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeTo">Slab Range To</span>
                    <br />
                <input type="text"
                       name="SlabRangeTo"
                       id="SlabRangeTo" disabled="disabled"
                       value="@ViewBag.SlabRangeTo" maxlength="13" onkeypress="return isNumberKey(event)"
                       class="fstextbox required" />
                </td>
               
            <td style="width:25%; padding:0px 10px 0px 3px;">
                        <button type="button" id="btnsave" class="btn btn-primary" value="Save" 
                                style="margin-top:20px" disabled onclick="SaveSlab()">
                    <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Save</button>
                    
                </td>
            }
            else
            {
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeName">Slab Range Name</span>
                    <br />
                <input type="text"
                       name="SlabRangeName"
                       id="SlabRangeName"
                       value="@ViewBag.SlabRangeName" maxlength="50"
                       class="fstextbox valid"/>
                </td>
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeFrom">Slab Range From</span>
                    <br />
                <input type="text"
                       name="SlabRangeFrom"
                       id="SlabRangeFrom"
                       value="@ViewBag.SlabRangeFrom" maxlength="13" onkeypress="return isNumberKey(event)"
                       class="fstextbox valid" />
                </td>
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeTo">Slab Range To</span>
                    <br />
                <input type="text"
                       name="SlabRangeTo"
                       id="SlabRangeTo"
                       value="@ViewBag.SlabRangeTo" maxlength="13" onkeypress="return isNumberKey(event)"
                       class="fstextbox valid" />
                </td>
                
            <td style="width:25%; padding:0px 10px 0px 3px;">
                    
                        <button type="button" id="btnsave" class="btn btn-primary" value="Save" style="margin-top:20px" onclick="SaveSlab()">
                <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Save</button>
                   
                </td>
            }
        </tr>
    </table>


    <div class="table-responsive" style="margin-top:10px;" id="gridid">
        @grid.GetHtml(
                htmlAttributes: new { id = "gridEmployeeRoleid" },
                tableStyle: "tableSmall table-bordered table-hover",
                columns: grid.Columns
                        (
                            //grid.Columns(grid.Column("SNo", format: item => rowVal = rowVal + 1),
                            grid.Column(header: "Slab Range Name", columnName: "Slabrange_Name"),
                            grid.Column(header: "Slab Range From", columnName: "Slabrange_From"),
                            grid.Column(header: "Slab Range To", columnName: "Slabrange_To")))

    </div>   


    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                    <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()">
                <span style="color:white; font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
               
            </td>
        </tr>
    </table>
    </div>

<script>
    function GotoIndex() {

        window.parent.jQuery('#ForPartialView1').dialog('close');
        location.reload();
    }
    function isNumberKey(evt) {
        //var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode > 31 && (charCode < 48 || charCode > 57))
        //    return false;
        //return true;
        if (event.shiftKey == true) {
            event.preventDefault();
        }
        if ((event.keyCode >= 48 && event.keyCode <= 57) ||
            //(event.keyCode >= 96 && event.keyCode <= 105) ||
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {
        } else {
            event.preventDefault();
        }
        if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault();
        //if a decimal has been added, disable the "."-button

    }
    $("#SlabRangeName").keyup(function () {
        var txtSupplierName = $("#SlabRangeName").val();
        if (txtSupplierName.trim() != "") {
            $("#SlabRangeName").removeClass('required');
            $("#SlabRangeName").addClass('valid');         
        }
        else {
            $("#SlabRangeName").removeClass('valid');
            $("#SlabRangeName").addClass('required');
        }

    });
    $("#SlabRangeFrom").keyup(function () {
        var txtSupplierName = $("#SlabRangeFrom").val();
        if (txtSupplierName.trim() != "") {
            $("#SlabRangeFrom").removeClass('required');
            $("#SlabRangeFrom").addClass('valid');
        }
        else {
            $("#SlabRangeFrom").removeClass('valid');
            $("#SlabRangeFrom").addClass('required');
        }

    });
    $("#slabname").keyup(function () {
        var txtSupplierName = $("#slabname").val();
        if (txtSupplierName.trim() != "") {
            $("#slabname").removeClass('required');
            $("#slabname").addClass('valid');
            $('#SubmitSlabRanges').prop('disabled', false);
        }
        else {
            $("#slabname").removeClass('valid');
            $("#slabname").addClass('required');
            $('#SubmitSlabRanges').prop('disabled', true);
        }
        
    });
    $("#SlabRangeTo").keyup(function () {
        var txtSupplierName = $("#SlabRangeTo").val();
        if (txtSupplierName.trim() != "") {
            $("#SlabRangeTo").removeClass('required');
            $("#SlabRangeTo").addClass('valid');
        }
        else {
            $("#SlabRangeTo").removeClass('valid');
            $("#SlabRangeTo").addClass('required');
        }

    });
    $(document).ready(function () {
        $("#SlabRangeFrom").keypress(function (event) {
            if (event.shiftKey == true) {
                event.preventDefault();
            }
            if ((event.keyCode >= 48 && event.keyCode <= 57) ||
                //(event.keyCode >= 96 && event.keyCode <= 105) ||
                event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
                event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {
            } else {
                event.preventDefault();
            }
            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
            //if a decimal has been added, disable the "."-button

        });

        $("#SlabRangeTo").keypress(function (event) {
            if (event.shiftKey == true) {
                event.preventDefault();
            }
            if ((event.keyCode >= 48 && event.keyCode <= 57) ||
                //(event.keyCode >= 96 && event.keyCode <= 105) ||
                event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
                event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {
            } else {
                event.preventDefault();
            }
            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
            //if a decimal has been added, disable the "."-button

        });
        //$('#gridEmployeeRoleid tr th:nth-child(5)').addClass("nosort");
        //$('#gridEmployeeRoleid').dataTable({
        //    "aoColumnDefs": [{
        //        "aTargets": ["nosort"],
        //        "bSortable": false
        //    }]
        //}).css("width", "99%");

        //$("#SlabRangeName").prop('disabled', true);
        //$("#SlabRangeFrom").prop('disabled', true);
        //$("#SlabRangeTo").prop('disabled', true);
        //$("#btnsave").prop('disabled', true);
    });
    $("#SubmitSlabRanges").click(function () {
        $("#SlabRangeName").prop('disabled', false);
        $("#SlabRangeFrom").prop('disabled', false);
        $("#SlabRangeTo").prop('disabled', false);
        $("#btnsave").prop('disabled', false);
    });

    $(".ui-icon-closethick").click(function () {
        GotoIndex();
    });

    function SaveSlab() {
        var slabname = document.getElementById('slabname');
        if (slabname.value == "" || slabname.value == null) {
            jAlert("Please Enter Slab Name", "Information");
            return
        }
        var Slabrange_Name = $("#SlabRangeName").val();
        var Slabrange_From = $("#SlabRangeFrom").val();
        var Slabrange_To = $("#SlabRangeTo").val();
        if (Slabrange_Name == "" || Slabrange_Name == null || Slabrange_From == "" || Slabrange_From == null || Slabrange_To == "" || Slabrange_To == null) {
            jAlert("You Can't Add Empty Values", "Information");
            return
        }
     //   if (Slabrange_From < Slabrange_To) {
            var Student = {
                "Slabrange_Name": Slabrange_Name,
                "Slabrange_From": Slabrange_From,
                "Slabrange_To": Slabrange_To,
                "Slabname": slabname.value
            };
            $.ajax({
                url: '../SlabMaster/SaveSlab/',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                   
                    isSuccess = result;
                },
                error: function (result) {
                    isSuccess = result;
                }

            })
        .done(function () {
            if (isSuccess == "1") {
                tr.find('.edit, .display').toggle();
                jAlert("Successfully Added", "Information", function (r) {
                    if (r == true) {
                        NewSlabAdd();
                    }
                });

            }
            else if (isSuccess == "EXSIST") {
                jAlert("Slab Name Already Exists", "Information");

            }
            else if (isSuccess == "Maxval") {
                jAlert("from value must be greater then existing max value", "Information", function (r) {
                    if (r == true) {
                        NewSlabAdd();
                    }
                });

            }
            else if (isSuccess == "sub") {
                jAlert("Successfully Saved", "Information", function (r) {
                    if (r == true) {
                        //window.parent.jQuery('#ForPartialView1').dialog('close');
                        //location = 'NewSlabCreation?listfor=added';
                       // $("#wg").load('../SlabMaster/NewSlabCreation?listfor=added,name=view');
                        var newrow = "<tr id='trslab" + Slabrange_Name + "'><td><span for=titlename id='" + Slabrange_Name + "'> " + Slabrange_Name + " </span></td>";
                        newrow += " <td><span for=titlename id='" + Slabrange_From + "'> " + Slabrange_From + " </span></td>";
                        newrow += " <td><span for=titlename id='" + Slabrange_To + "'>" + Slabrange_To + "</span></td> </tr>";
                        $('#gridid tbody:last').append(newrow);
                        //$("#btnsave").prop('disabled', true);
                        $("#SubmitSlabRanges").prop('disabled', true);
                        $("#SlabRangeName").val('');
                        $("#SlabRangeFrom").val('');
                        $("#SlabRangeTo").val('');
                        $("#SlabRangeFrom").removeClass('valid');
                        $("#SlabRangeFrom").addClass('required');
                        $("#SlabRangeName").removeClass('valid');
                        $("#SlabRangeName").addClass('required');
                        $("#SlabRangeTo").removeClass('valid');
                        $("#SlabRangeTo").addClass('required');
                        //window.location.reload();
                    }
                });

            }
            else if (isSuccess == "Can't Insert Less Than Slab To Range") {
                jAlert("Can't Insert Less Than Slab To Range", "Information", function (r) {
                    if (r == true) {
                    }
                });

            }
            else if (isSuccess == "Please Enter Correct Flow Range") {
                jAlert("Please Enter Correct Flow Range", "Information", function (r) {
                    if (r == true) {
                    }
                });
            }
            else if (isSuccess == "Duplicate Slab Name !!") {
                jAlert("Duplicate Slab Name !!", "Information", function (r) {
                    if (r == true) {
                    }
                });
            }
            else if (isSuccess == "Slab Range To Value Must Be Greater Then Slab Range From Value") {
                jAlert("Slab Range To Value Must Be Greater Then Slab Range From Value", "Information", function (r) {
                    if (r == true) {
                    }
                });
            }
        });
        //}
       // else {
       //     jAlert("Slab Range To Value Must Be Greater Then Slab Range From Value", "Information");
      //  }
    }
</script>
