
<table>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;">@ViewBag.totalRecords</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;">@ViewBag.validRecords</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;">@ViewBag.invalidRecords</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <br /><br />
            <table>
                <tr>
                    <td style="padding-left: 140px;">
                        @if (@ViewBag.visble == "Yes")
                        {
                            <div style="font-weight:bold">
                                <input type="button" id="btnValidOk" class="btn btn-primary" value="Ok" onclick="Close()" />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" id="btncancelexcel" class="btn btn-warning" value="Cancel" onclick="GotoIndexclose()" />
                            </div>
                            <br />
                            @*<div style="font-weight:bold">
                                    <a class="btn btn-primary" data-modal="" href="/LocalConveyanceNew/Index" id="TemplateClose" onclick="closeSummary()">
                                        Close
                                    </a>
                                </div>*@
                        }
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        @if (@ViewBag.visble != "Yes")
                        {
                            <div style="font-weight:bold">
                                <a class="btn btn-warning" data-modal="" href="@Url.Action("DownloadErrorLogExcel","PoBulkClosure")" id="ViewErrorLog" onclick="GotoIndexclose()">
                                    View Error Log
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" id="btncancelexcel1" class="btn btn-primary" value="Cancel" onclick="Canceldialog()" />
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $("#btnValidOk").click(function () {
            window.parent.jQuery('#ForPoExcel').dialog('close');
            //  objDialogLocalconveyance.dialog("close");
            location = '@Url.Action("PoBulkClosure", "PoBulkClosure")';
        });
    });
    function Close() {
        // objDialogLocalconveyance.dialog("close");
        //window.parent.jQuery('#ForPartialLog').dialog('close');
        objexcelPo.dialog("close");
    }
    function Canceldialog() {
        //objDialogPayment.remove();
        //$("#ui-icon-closethick").click();
        //objDialogLocalconveyance.dialog("close");
        //window.parent.jQuery('#ForPartialLog').dialog('close');
        objexcelPo.dialog("close");
    }
    function closeSummary() {
        objexcelPo.dialog("close");
    }
    function GotoIndexclose() {
        objexcelPo.dialog("close");
    }
</script>