@model IEM.Areas.FLEXIBUY.Models.PoBulkClosure
@using IEM.Common
@{
    ViewBag.Title = "PoBulkClosure";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model.lListBulkUpload, canSort: true, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "gridload");
    CmnFunctions obj = new CmnFunctions();
}
<b><span style="color: rgb(52, 108, 196);">PO Bulk Closure</span></b>
<div id="bulk_closure" class="well">
  


    <div class="row">
        <div id="fileuploadprocess" class="panel panel-default" style="margin-left:15px;margin-right:15px;">
            <table class="myTableStyleTabNew" align="center" style="margin-bottom:15px;margin-top:15px;">
                <tr>
                    <td>
                        <span><b>Select file</b></span>
                        @*<input id="fileupld" style="margin-top:7px;margin-right: -9px;" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />*@
                        <form id="uploadforclosure">
                            <input class="fileuploadlocal form-control" id="fileupld" name="fileupld" type="file" accept=".xlsx,.xls">
                            @* <input id="fileupldExcel" style="margin-top:7px;margin-right:44px" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />*@
                        </form>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span><b>Select Sheet</b></span>
                        <br />
                        <div style="width:185px;">
                            @Html.DropDownList("sheetId", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyle", @id = "ddlSelSheet", @name = "ddlSelSheet" })
                        </div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
                    <td>
                        <span>&nbsp;</span><br />
                        <input type="button" id="btnfrstsubmit" style="margin-right:22px;" class="btn btn-primary" value="Upload" onclick="PoBulkUploadProcess()" />&nbsp;
                        <input type="button" class="btn btn-primary" value="Template" onclick="DownloadClosureTempl()" style="margin-right: 25px;" id="DownloadTemplate" />&nbsp;
                        &nbsp;<input type="button" id="btntableClear" class="btn btn-warning" onclick="ExcelClear()" value="Clear" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br />

    <div id="ForPoExcel"></div>
    <input type="hidden" value="" id="hid_excelpo" />
    <div>
        @grid.GetHtml(
         tableStyle: "tableSmall table-bordered table-hover table-responsive",
        htmlAttributes: new { id = "poheadergrid" },
        mode: WebGridPagerModes.All,
        columns: grid.Columns
            (
           grid.Column("Slno", obj.Sorter("Slno", "Sl", grid)),
                    grid.Column("poNo", obj.Sorter("poNo", "PoNo", grid), style: "MidColumn20"),
                    grid.Column("poDate", obj.Sorter("poDate", "PoDate", grid), style: "MidColumn20"),
                    grid.Column("Remarks", obj.Sorter("Remarks", "Remarks", grid), style: "MidColumn20")))

        @if (@ViewBag.records != null || @ViewBag.records == "")
        {
            <div class="borderStyle btnCenter">
                @ViewBag.records
            </div>
        }
    </div><br/><br/>
    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <div @*style="margin-top:45px;margin-left:360px;"*@>
                    <button type="button" id="btn_posubmit" class="btn btn-success" value="Submit" onclick="BulkClosureInsert()">
                        <span style="color:white;" class="glyphicon glyphicon-floppy-saved"></span> Submit
                    </button>
                    &nbsp;
                    <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="CancelBulkClosure()">
                        <span style="color:white;" class="glyphicon glyphicon-eye-close"></span> Cancel
                    </button>
                </div>
            </td>
        </tr>
    </table>

    <script>
        $('#btn_posubmit').attr("disabled", true);
        var count = '@Model.lListBulkUpload.Count';
        if (count > 0) {
            $('#btn_posubmit').attr("disabled", false);
        }
        var objexcelPo;
        function PoBulkUploadProcess() {
            var sheet = $("#ddlSelSheet option:selected").text();

            var objValid =
               {
                   "sheetName": sheet,
               };
            if (sheet == null || sheet == "0" || sheet == "--Select--") {
                jAlert("Please Select Sheet", "Error");
                return false;
            }
            $.ajax({
                url: '@Url.Action("ColumnValidation", "PoBulkClosure")',
                type: 'POST',
                cache: false,
                data: objValid,
                success: function (data) {
                    if (data == 0) {
                        jAlert("Error Occured", "Error");
                        return false;
                    }
                    else {
                        if (data == "Success") {
                            if ($("#hid_excelpo").val() == "") {
                                objexcelPo = $("[id$='ForPoExcel']");
                                $("#hid_excelpo").val("excelvalid");
                                objexcelPo.dialog({
                                    autoOpen: false,
                                    cache: false,
                                    modal: true,
                                    show: 'fade-in',
                                    close: 'fade-out',

                                });
                            }
                            objexcelPo.load('@Url.Action("BulkUploadStatusForPo", "PoBulkClosure")?' + new Date().getTime());
                            objexcelPo.dialog({ title: 'Upload Summary', width: '600', height: '300' });
                            objexcelPo.dialog("open");
                        }
                        else {
                            jAlert("Column Mismatches in Template", "Error");
                            $("#ddlSelSheet").val("--Select--");
                            $("#fileupldExcel").val("");
                            return false;
                        }
                    }
                },
                error: function () {
                    alert("something seems wrong");
                    return false;
                }
            });
        }

        $('#fileupld').on('change', function (e) {
            @*var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        // alert(files[x].name);
                        //alert(files[x].files.name);
                        // $("#txtfile").val(files[x].name);
                        var filename = files[x].name;
                        var split = filename.split('.');
                        var extension = split[1];
                        //alert(extension);
                        if (extension != "xlsx" && extension != "xls") {
                            jAlert("Please Select Valid Excel File", "Error");
                            $("#ddlSelSheet").attr("disabled", true);
                            $("#fileupld").val("");
                            return false;
                        }
                        data.append("temp_" + x, files[x]);
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("FileUpload", "PoBulkClosure")',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            //alert(result);
                            //alert(result.length);
                            $("#ddlSelSheet").empty();
                            if (result.length > 0) {
                                $("#ddlSelSheet").append("<option value='0'>--Select--</option>");
                                for (var i = 0; i < result.length; i++) {
                                    var stylesSelect = $('#ddlSelSheet');
                                    stylesSelect.attr('disabled', false);
                                    $("#ddlSelSheet").append("<option value=" + result[i].sheetId + ">" + result[i].sheetName + "</option>");
                                }
                            }
                            if (result.length == 0) {
                                $("#ddlSelSheet").append("<option value='0'>--Select--</option>");
                                var stylesSelect = $('#ddlSelSheet');
                                stylesSelect.attr('disabled', true);
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }*@
            var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none"></iframe>');
            $("body").append(iframe);
            var form = $('#uploadforclosure');
            form.attr("action", "@Url.Action("ExcelUplFiles", "PoBulkClosure")?" + new Date().getTime());
            form.attr("method", "post");
            form.attr("encoding", "multipart/form-data");
            form.attr("enctype", "multipart/form-data");
            form.attr("target", "postiframe");
            form.attr("file", $('#fileupld').val());
            form.submit();
            getbulksheets();
        });
        function getbulksheets() {
            var data = "fff";
            $.ajax({
                type: "POST",
                url: '@Url.Action("FileUpload", "PoBulkClosure")?' + new Date().getTime(),
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    if (result == 0) {
                        jAlert("Error Occured", "Error");
                        return false;
                    }
                    else {
                        $("#ddlSelSheet").empty();
                        $("#ddlSelSheet").append("<option value='0' >--Select--</option>");
                        var err = result[0].SheetName;
                        if (err == "Error") {
                            jAlert("Please Upload Valid File", "Message");
                            return false;
                        }
                        else {
                            if (result.length > 0) {
                                for (var i = 0; i < result.length; i++) {
                                    var stylesSelect = $('#ddlSelSheet');
                                    stylesSelect.attr('disabled', false);
                                    $("#ddlSelSheet").append("<option value=" + result[i].sheetId + " >" + result[i].sheetName + "</option>");
                                }
                            }
                            if (result.length == 0) {
                                var stylesSelect = $('#ddlSelSheet');
                                stylesSelect.attr('disabled', true);
                            }
                        }
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    console.log(err);
                }
            });
        }
        function DownloadClosureTempl() {
            location = '@Url.Action("DownloadExcel", "PoBulkClosure")?' + new Date().getTime();
        }
        function ExcelClear() {
            // $("#ddlSelSheet").empty();
            $("#ddlSelSheet").val(0);
            $("#fileupld").val("");
        }
        function BulkClosureInsert() {
            @*location = '@Url.Action("InsertBulkClosure", "PoBulkClosure")';*@
            $.ajax({
                url: '@Url.Action("InsertBulkClosure", "PoBulkClosure")?' + new Date().getTime(),
                type: 'POST',
                success: function (data) {
                    if (data == 0) {
                        jAlert("Error Occured", "Error");
                        return false;
                    }
                    else {
                        if (data != null) {
                            jAlert("Po Successfully submitted for Checker", "Success", function (e) {
                                if (e == true) {
                                    location = '@Url.Action("PoBulkClosure", "PoBulkClosure")?' + new Date().getTime();
                                }
                            });
                        }

                    }//$("#poEditgrid1").empty().append(data);
                },
                error: function () {
                    jAlert("something seems wrong", "Error");
                }
            });
            @*var filename = $("#fileupld").val();
          //  var expenseCategory = $("#ddlSelSheet option:selected").text();
            var objClosure =
                      {
                          "filename": filename
                      };
            $.post('@Url.Action("InsertBulkClosure", "PoBulkClosure")', objClosure,
                             function (data) {
                                 if (data !=null) {
                                     jAlert("Record Inserted Successfully", "Success", function (e) {
                                         if (e == true) {
                                             location = '@Url.Action("PoBulkClosure", "PoBulkClosure")';
                                         }
                                     });
                                 }
                             }, 'json');*@
        }
        function CancelBulkClosure() {
            var viewfor = "cancel";
            location = '../PoBulkClosure/PoBulkClosure?viewfor=' + viewfor;
        }
    </script>
</div>