@model   IEnumerable<IEM.Areas.ASMS.Models.SupplierContractRenewal>
@using IEM.Areas.ASMS.Models;
@using IEM.Common
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Renewal";
   // SupplierContractRenewal md = new SupplierContractRenewal();
    Layout = "~/Views/Shared/_Layout.cshtml";
     WebGrid grid = new WebGrid(source: Model, canPage: true, canSort: true);
     CmnFunctions comR = new CmnFunctions();
}
<b>
    <span style="color: rgb(52, 108, 196);"> Renewal Summery</span>
</b>
<br />
@using (Html.BeginForm())
{

    <div class="well">
        <table align="center" style="width: 100%;">
            <tr>
                <td>
                    <div>
                        <div style="margin-left:265px;margin-right:0px;">
                            <div style="width:100%">
                                <div class="input-group">
                                    <table class="myTableStyleTab">
                                        <tr>

                                            <td>
                                                <span>Supplier Code </span><br />
                                                <input type="text" id="txtSuppliercode" placeholder="Suppliercode" class="textboxStyle" style="display: block;" maxlength="20" name="txtSuppliercode" value="@ViewBag.txtSuppliercode" />
                                            </td>
                                            <td width="30px"></td>

                                            <td>
                                                <span>Supplier Name </span><br />
                                                <input type="text" id="txtSupplierName" placeholder="SupplierName" class="textboxStyle" style="display: block;" name="txtSupplierName" maxlength="150" value="@ViewBag.txtSupplierName" />
                                            </td>
                                            <td width="5px"></td>

                                            <td>
                                                <span>Contract Expired(Days) </span><br />
                                                <select class="textboxStyle" name="ddlContractdays" id="ddlContractdays">
                                                    <option value="0">--Select--</option>
                                                    <option value="1">0-30</option>
                                                    <option value="2">31-60</option>
                                                    <option value="3">61-90</option>
                                                    <option value="4">91-120</option>
                                                    <option value="5">Expired</option>
                                                </select>
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td colspan="5" align="center" height="10px"></td>
                                        </tr>*@
                                        <tr>

                                            <td>
                                                <span>Contract StartDate </span><br />
                                                <input type="text" id="txtContStartDate" placeholder="dd-mm-yyyy" maxlength="10" class="textboxStyle" name="txtContStartDate" value="@ViewBag.txtContStartDate" />

                                            </td>
                                            <td width="30px"></td>

                                            <td>
                                                <span>Contract EndDate </span>
                                                <input type="text" id="txtContEndDate" placeholder="dd-mm-yyyy" maxlength="10" class="textboxStyle" name="txtContEndDate" value="@ViewBag.txtContEndDate" />
                                            </td>
                                            <td width="30px"></td>
                                            <td align="left">

                                                <button type="submit" title="Search" id="btnSearch" value="Serach" name="Search" class="glyphicon glyphicon-search searchiconstyle" style="font-size:1.9em"></button>
                                                <button type="submit" title="Refersh" id="btnClear" value="Clear" name="Clear" class="glyphicon glyphicon-refresh" style="border:none;font-size:1.9em;" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>


                </td>
            </tr>
            <tr style="height:20px"><td></td></tr>
            <tr>
                <td>
                    <div class="panel panel-default">
                        @functions {
                            public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                            {
                                return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                                    grid.SortDirection == SortDirection.Ascending ? "▲" :
                                    "▼" : string.Empty);
                            }
                        }

                        @grid.GetHtml(
    tableStyle: "tableSmall table-bordered ", columns: grid.Columns(
        //grid.Column("SupplierheadGid", "Supp HeaderGid"),
grid.Column(format: @<input type="hidden" name="SupplierheadGid" value="@item.SupplierheadGid" /> ),
grid.Column("SupplierCode", comR.Sorter("SupplierCode", "Supplier Code", grid)),
  grid.Column("SupplierName", comR.Sorter("SupplierName", "Supplier Name", grid)),
  grid.Column("SupplierClassfication", comR.Sorter("SupplierClassfication", "Supplier Classfication", grid)),
grid.Column("RquestType", comR.Sorter("RquestType", "SupplierRquest Type", grid)),
grid.Column("RquestStatus", comR.Sorter("RquestStatus", "SupplierRquest Status", grid)),
  grid.Column("SupplierStatus", comR.Sorter("SupplierStatus", "Supplier Status", grid)),
                 grid.Column("Cont_startDate",comR.Sorter("Cont_startDate","start Date",grid)),
                 grid.Column("Cont_EndDate",comR.Sorter("Cont_EndDate","End Date",grid)),
                 grid.Column("ActivityCount",comR.Sorter("ActivityCount","Activity Count",grid)),
                 grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                    @*@Html.Raw("<input type='button'  title='Edit' onclick='Renewal(" + item.SupplierCode + ")' class='btn btn-primary' value='Renewal' />"*@
                    @Html.Raw("<a data-model='' href='../SupplierRenewal/RenewalPage1/" + item.SupplierCode + "' id='" + item.SupplierCode + "' title='Search'><span>Renewal</span></a>"
                  )
                </text>)

     )
     )
                        <label style="padding:10px;">Page :@(grid.PageIndex + 1) of @grid.PageCount - TotalRecords @grid.TotalRowCount</label>
                        @if (@ViewBag.status == "RecordNtFound")
                        {
                            <div style="padding:10px;"><h4>No Record Found</h4></div>
                        }

                    </div>
                </td>
            </tr>
        </table>
    </div>

}
    


<script>
    $(document).ready(function () {
        //$('#btnSearch').click(function () {
        //    var scode = $('#txtSuppliercode').val();
        //    var sname = $('#txtSupplierName').val();
        //    var sdate = $('#txtContStartDate').val();
        //    var edate = $('#txtContEndDate').val();
        //    var diffday = $("#ddlContractdays option:selected").text();
        //    alert(diffday);
        //    if (scode == '' && sname == '' && sdate == '' && edate == '' && diffday == '--Select--')
        //    {
        //        alert('Should be fill anyone filter');
        //        return false;
        //    }
        //    else
        //    {
        //        //location.href('/SupplierContractRenewal/Search');
        //    }
      //  });
        $('#btnClear').click(function () {
            $('#txtSuppliercode').val('');
            $('#txtSupplierName').val('');
            $('#txtContStartDate').val('');
            $('#txtContEndDate').val('');
            $('#ddlContractdays').val('0');
            
        });

        $('#txtContStartDate').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxdate: new Date()


        });

        $('#txtContEndDate').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxdate: new Date()


        });
        //$('#txtContStartDate').datetimepicker({
        //    lang: 'de',
        //    i18n: {
        //        de: {
        //            months: [
        //             'Jan', 'Feb', 'Mar', 'Apr',
        //             'May', 'Jun', 'Jul', 'Aug',
        //             'Sep', 'Oct', 'Nov', 'Dec',
        //            ],
        //            dayOfWeek: [
        //             "Sun", "Mon", "Thu", "wed",
        //             "Thr", "Fri", "Sat.",
        //            ]
        //        }
        //    },
        //    timepicker: false,
        //    format: 'd-m-Y'
        //});

        //$('#txtContEndDate').datetimepicker({
        //    lang: 'de',
        //    i18n: {
        //        de: {
        //            months: [
        //             'Jan', 'Feb', 'Mar', 'Apr',
        //             'May', 'Jun', 'Jul', 'Aug',
        //             'Sep', 'Oct', 'Nov', 'Dec',
        //            ],
        //            dayOfWeek: [
        //             "Sun", "Mon", "Thu", "wed",
        //             "Thr", "Fri", "Sat.",
        //            ]
        //        }
        //    },
        //    timepicker: false,
        //    format: 'd-m-Y'
        //});
    });

    @*function Renewal(id)
    {
        alert(id);
        location.href('/SupplierContractRenewal/RenewalPage');
        var url = @Url.Action("RenewalPage", "RenewalPage");
    }*@
    //function Renewal(id) {
      
    //    //var userName = "Shahid Bhat";
    //    //'<%Session["UserName"] = "' + id + '"; %>';
    //    //alert(<%Session["UserName"]%>);

      
      
    //    //$.getJSON('/SupplierContractRenewal/RenewalPage/', function (id) {
          
          
    //    //});

    //   var id = id;
    //    alert(id);
    //   // var value = id;
    //   // alert(value);
    //    //getPo(value);
    //    var Student =
    //      {
    //          "SupplierCode": id
    //      };
    //    //alert("hi");
    //   // alert(Student);
    //    $.ajax({
    //        // Get Index PartialView
    //        url: "/SupplierRenewal/next/",
    //        type: 'POST',
    //        contentType: "application/json; charset=utf-8",
    //        data: JSON.stringify(Student)
    //        //,
    //        //success: function (data) {
    //        //    $("#POdetailGridnewinline").empty().append(data);
    //        //},
    //        //error: function () {
    //        //    alert("something seems wrong");
    //        //}
    //    });
   // }
</script>
