@model IEM.Areas.IFAMS.Models.SaleMakerModel
@using IEM.Areas.IFAMS.Models
@using IEM.Common
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript">

</script>
@{
    // var tollinitemval = Model.soadetSalevalue;
    var tollinitemval = Model.soaSalevalue;
    int rowVal = 0;
    // var val = 0;
    SaleMakerModel objvat = new SaleMakerModel();
    IfamsDataModel_M ifr = new IfamsDataModel_M();
    objvat.soaGid = Convert.ToInt32(Session["SaleNo"].ToString());
    if (objvat.soaGid != 0)
    {
        // Model.auditTrailLst = suditmodel.saPopulateAuditTrail(objaudit);
        Model.VatModel = new SelectList(ifr.Getvat(), "vatid", "vatstate", objvat.vatstate);
    }
    objvat.VatModel = Model.VatModel;
    //  objaudit.auditTrailLst = Model.auditTrailLst;
    //var auditGrid = new WebGrid(source: Model.auditTrailLst, canSort: false, canPage: false, ajaxUpdateContainerId: "saauditTrail", ajaxUpdateCallback: "saauditTrailLst()");
    CmnFunctions objcmnFunctions = new CmnFunctions();
    var statuss = @Model.statname;
}

<div id="_gridfull">
    <div class="myTableStyleTabNew">
        Sale Number :
        <span>
            <label id="lblsnonew">
                @Model.soapaySaleno
            </label>
        </span>
    </div>
    <label id="Sastatus" hidden="hidden">@Session["status"]</label>

    <div id="audit" style="font-size:12px">
        <ul>
            <li><a href="#tabs-1" onclick="showbut()">Details [<label id="idtab1"></label>]</a></li>
            <li><a href="#tabs-2" onclick="hidebut()">Audit Trail [<label id="idtab2"></label>]</a></li>
        </ul>
        <div id="tabs-2">
            @Html.Partial("SOAAuditTrial")
        </div>
        <div id="tabs-1">
            <div class="borderStyleNew "  style="overflow-y:scroll;overflow-x:scroll;width:910px; height:220px;" id="gridfull">
                @{ var grid = new WebGrid(source: Model.TModel, canPage: true, rowsPerPage: 7, canSort: false, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "dummyhidefunction()");
                @grid.GetHtml(htmlAttributes: new { id = "wgridSOAdetails" },
                                fillEmptyRows: false, tableStyle: "tableSmall table-bordered table-hover table-responsive",
           mode: WebGridPagerModes.All,
           columns: grid.Columns(
            grid.Column(header: "S.No", canSort: true, format: item => rowVal = rowVal + 1),
                    grid.Column("assetdetDetid", "Asset ID", style: " MidColumn40"), @*format: @<text>
                <span class="editsmv">
                    <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetDetid</label>
                </span>
            </text>),*@
                @*grid.Column("assetdetails_assetdet_id", "Asset ID"),*@
 grid.Column("assetcategory", "Category", style: "MidColumn30"), @*format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetcategory</label>
                    </span>
</text>),*@
                    grid.Column("assetsubcategory", "Sub-Category Name", style: "MidColumn30"), @*format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetsubcategory</label>
                    </span>
                    </text>),*@
 grid.Column("assetdetCode", "Sub-Category Code", style: "MidColumn30"), @*format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetCode</label>
                    </span>
                    </text>),*@
                    //grid.Column("assetdetDescription", "Asset Description", style: "width:150px"),
                             grid.Column("soadetSalevalue", "Cheque Split Amount", style: "MidColumn30 rig"), @*format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetSalevalue</label>
                        </span>
                    </text>),*@
                    grid.Column("soadetVatvalue", "VAT Value", style: "MidColumn20 rig"), @*format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetVatvalue</label>
                    </span>
                    </text>),*@
 grid.Column("saleamt", "Sale Amount", style: "MidColumn20 rig"), @*format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.saleamt</label>
                    </span>
                    </text>),*@
 grid.Column("soadetWdvalue", "WD Value", style: "MidColumn20 rig"), @*format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetWdvalue</label>
                    </span>
                    </text>),*@
// grid.Column("soadetIvvalue", "Invoice Value", style: "col-lg-1"),

                   grid.Column("soaRectifAmt", "Rectification Amount", style: "MidColumn20 rig"),
                             grid.Column("soadetProfitloss", "Profit/Loss", style: " MidColumn20 rig") @*format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetProfitloss</label>
                        </span>
                    </text>)*@
                                     ))
                }

                <div style="width:1230px" class=" table-bordered " align="center">
                    @if (ViewBag.Message != null)
                    {
                        <div class="" align="center">
                            <b> @ViewBag.Message </b>
                        </div>
                    }
                </div>
                @*<span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount</span>*@ @*<span class="myTableStyleTabNew"> Total No of Records:@grid.TotalRowCount</span>*@
            </div>


            <br />
            <div id="datafill">

                <div>
                    <div>
                        @using (Html.BeginForm())
                        {
                            <table class="myTableStyleTabNew" style="background-color:white" align="left">
                                <tr>
                                    <td>
                                        <span>Cheque No</span><br />
                                        <input type="text" name="chno" id="cheque" onkeyup="checkRequired()" value="@Model.soapayChqno" maxlength="6" class="chequeeno textboxStyle required" />
                                    </td>
                                    <td>
                                        <span>Cheque Amount</span><br />
                                        <input type="text" name="chamt" id="chequeamt" disabled="disabled" onkeyup="checkRequired()" value="@Model.soapayAmount" maxlength="6" class="chequeamount textboxStyle required" onkeypress="return isNumberKey(event)" />
                                    </td>
                                    <td>
                                        <span>Cheque Date</span><br />
                                        <input type="text" name="chdat" id="datecheque" value="@Model.soapaychqdat" onchange="checkRequired()"  readonly="readonly" class="chequeedate textboxStyle" />
                                    </td>

                                    <td colspan="2">
                                        <span>Vendor Name</span><br />
                                        <input type="text" name="vendornam" id="vendnam" onkeyup="checkRequired()" style="width:280px;" maxlength="30" value="@Model.soaVendorname" class="vendorname required textboxStyleBig" />
                                    </td>

                                    <td rowspan="2">
                                        <span>Vendor Address</span><br />
                                        @*<textarea name="vendoradd" id="vendaddr" style="height:80px;" class="vendoradd required textboxStyleBig" onkeyup="checkRequired()" rows="4" cols="50">@Model.soavendoradd</textarea>*@
                                        @Html.TextAreaFor(m => m.soavendoradd, new { @id="vendaddr", @class="vendoradd required textboxStyleBig", @style="height:80px;", onkeyup="checkRequired()",rows = 4, columns = 40 })
                                    </td>

                                    
                                </tr>
                                <tr>
                                    <td>
                                        <span>Sale Amount</span><br />
                                        <input type="text" name="ivamt" disabled id="invoiceamt" onkeyup="checkRequired()" value="@Model.soaWtaxamt" maxlength="10" class="invoiceamount required textboxStyle" onkeypress="return isNumberKey(event)" />
                                    </td>

                                    <td>
                                        <span>Sale Date</span><br />
                                        <input type="text" name="saldat" id="datesale" onkeyup="checkRequired()" value="@Model.soaSaledate" readonly="readonly" class="saldate textboxStyle" />
                                    </td>
                                    @*<td>
                                            <span>Realization Date</span><br />
                                            <input type="text" name="realizationdate" onkeyup="checkRequired()" id="date1" readonly="readonly" value="@Model.soapayRealizationdate" class="realization  textboxStyle" />
                                        </td>*@


                                    <td>
                                        <span>VAT Amount</span><br />
                                        <input type="text" name="vatamount" disabled id="vatamt" onkeyup="checkRequired()" value="@Model.soaVatamt" maxlength="6" class="vatamount required textboxStyle" onkeypress="return isNumberKey(event)" />
                                    </td>
                                    <td>
                                        <div class="input-append">
                                            <span>VAT %</span><br />

                                            @if (statuss == "DRAFT")
                                            {
                                                @Html.DropDownListFor(m => m.vatstate, Model.VatModel, new { @class = "textboxStyleBig", @id = "vatper", @onchange = "checkRequired()" })
                                            }
                                            else
                                            {
                                                <input type="text" name="vat" id="vatpertxtdraft" onkeyup="checkRequired()" disabled value="@Model.vatstate" class="vatpetcentage valid textboxStyleBig" />
                                            }
                                            <input type="text" name="vat" id="vatpertxt" onkeyup="checkRequired()" hidden disabled="disabled" value="@Model.vatstate" class="vatpetcentage valid textboxStyleBig" />
                                        </div>
                                    </td>
                                    @*<td>
                                            <span></span><br />
                                            <input type="checkbox" name="propotion" id="propot" onclick="chechfun()" value="y" />
                                            <span> Proportion</span>
                                        </td>*@

                                </tr>


                            </table>


                        }
                        <br />
                        <br />
                    </div>
                </div>
            </div>

        </div>
        <div>
            @if (ViewBag.viewfor == "checkerView")
            {
                <div class="myTableStyleTabNew" align="left">
                    <span>Remarks</span>
                    <input type="text" autofocus="" id="_txtRemaks" name="salremarks" class=" textboxStyleSearch required" maxlength="256" width="150" height="100" onkeyup="checkRequired()" />
                </div>
            }

            <table class="myTableStyleTabNew" align="center">
                <tr>

                    @using (Html.BeginForm())
                    {

                        if (ViewBag.viewfor == "view")
                        {
                            <td class="form-group" nowrap="nowrap">
                                <div>
                                    <span>
                                        <button class="btn btn-primary ststus" type="button" id="_Update" disabled="disabled" onclick="Updatecheque()"><span style="color:white" class="glyphicon glyphicon-ok"></span> Update</button>
                                    </span>
                                </div>
                            </td>
                            <td class="form-group" nowrap="nowrap">
                                <div>
                                    <span>
                                        <button class="btn btn-primary ststus" type="submit" id="_save" disabled="disabled" onclick="submitcheque()"><span style="color:white" class="glyphicon glyphicon-ok"></span> Submit</button>
                                    </span>
                                </div>
                            </td>
                        }

                    }

                    <td class="form-group" nowrap="nowrap">
                        @if (ViewBag.viewfor == "abort")
                        {
                            <div>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger btndanger" type="submit" name="command" value="abort"><span style="color:white" class="glyphicon glyphicon-trash"></span> Delete</button>
                                </span>
                            </div>
                        }
                    </td>
                    @using (Html.BeginForm())
                    {
                        if (ViewBag.viewfor == "checkerView")
                        {
                            <td class="form-group" nowrap="nowrap">
                                <div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" id="_approve" type="button" name="command" value="Approve"><span style="color:white" class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                                    </span>

                                </div>

                            </td>

                            <td class="form-group" nowrap="nowrap">

                                <div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" id="_reject" type="button" name="command" value="Reject"><span style="color:white" class="glyphicon glyphicon-thumbs-down"></span> Reject</button>
                                    </span>
                                </div>
                            </td>

                            <td class="form-group" nowrap="nowrap">

                                <div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="_clear" type="button" name="command" value="Clear"><span style="color:white" class="glyphicon glyphicon-remove"></span> Clear</button>
                                    </span>
                                </div>
                            </td>
                        }
                    }


                    <td class="form-group" nowrap="nowrap">

                        <div>
                            <span class="input-group-btn">

                                <button class="btn backbtn btn-warning" type="submit" name="command" value="cancel"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                            </span>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    .rig {
        text-align: right;
        width: 550px;
    }

    .MidColumn100 {
        width: 1000px;
    }
</style>
<script type="text/javascript">
    $('#idtab1').text('@grid.TotalRowCount')

    function checkRequired() {

        var vatpercentage = $("#vatper").val();

        //if (vatpercentage == 0){
        // var invamt = $("#invoiceamt").val('');
        // }

        var remarks = $("#_txtRemaks").val();
        if (remarks != "") {
            $("#_txtRemaks").removeClass('required');
            $("#_txtRemaks").addClass('valid');
            CheckFieldHeaderchecker();
        }
        else {
            $("#_txtRemaks").removeClass('valid');
            $("#_txtRemaks").addClass('required');
            CheckFieldHeaderchecker();
        }
        var cheque_no = $("#cheque").val();
        if (cheque_no.trim() != "") {
            $("#cheque").removeClass('required');
            $("#cheque").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#cheque").removeClass('valid');
            $("#cheque").addClass('required');
            CheckFieldHeader();
        }

        var cheque_amount = $("#chequeamt").val();
        if (cheque_amount.trim() != "") {
            $("#chequeamt").removeClass('required');
            $("#chequeamt").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#chequeamt").removeClass('valid');
            $("#chequeamt").addClass('required');
            CheckFieldHeader();
        }



        var cheque_date = $("#datecheque").val();
        if (cheque_date.trim() != "") {
            $("#datecheque").removeClass('required');
            $("#datecheque").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#datecheque").removeClass('valid');
            $("#datecheque").addClass('required');
            CheckFieldHeader();
        }



        var invoice_amount = $("#invoiceamt").val();
        //  alert(invoice_amount);
        if (invoice_amount.trim() != "" && invoice_amount != 0) {
            $("#invoiceamt").removeClass('required');
            $("#invoiceamt").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#invoiceamt").removeClass('valid');
            $("#invoiceamt").addClass('required');
            CheckFieldHeader();
        }



        var sale_date = $("#datesale").val();
        if (sale_date.trim() != "") {
            $("#datesale").removeClass('required');
            $("#datesale").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#datesale").removeClass('valid');
            $("#datesale").addClass('required');
            CheckFieldHeader();
        }


        // alert($("#vatper").val());

        // alert(vatpercentage);
        if (vatpercentage != 0 && vatpercentage != null) {
            $("#vatper").removeClass('required');
            $("#vatper").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#vatper").removeClass('valid');
            $("#vatper").addClass('required');
            CheckFieldHeader();
        }



        var vat_amount = $("#vatamt").val();
        if (vat_amount.trim() != "") {
            $("#vatamt").removeClass('required');
            $("#vatamt").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#vatamt").removeClass('valid');
            $("#vatamt").addClass('required');
            CheckFieldHeader();
        }



        var vendor_address = $("#vendaddr").val();
        if (vendor_address.trim() != "") {
            $("#vendaddr").removeClass('required');
            $("#vendaddr").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#vendaddr").removeClass('valid');
            $("#vendaddr").addClass('required');
            CheckFieldHeader();
        }



        var vendor_name = $("#vendnam").val();
        if (vendor_name.trim() != "") {
            $("#vendnam").removeClass('required');
            $("#vendnam").addClass('valid');
            CheckFieldHeader();
        }
        else {
            $("#vendnam").removeClass('valid');
            $("#vendnam").addClass('required');
            CheckFieldHeader();
        }



        //var realiztion_date = $("#date1").val();
        //if (realiztion_date.trim() != "") {
        //    $("#date1").removeClass('required');
        //    $("#date1").addClass('valid');
        //    CheckFieldHeader();
        //}
        //else {
        //    $("#date1").removeClass('valid');
        //    $("#date1").addClass('required');
        //    CheckFieldHeader();
        //}
    }

    var val = 0;
    $(document).ready(function () {

        if ('@ViewBag.viewfor' == "checkerView")
        { $("#wgridSOAdetails td:nth-child(10),#wgridSOAdetails th:nth-child(10)").show(); }
        else {
            $("#wgridSOAdetails td:nth-child(10),#wgridSOAdetails th:nth-child(10)").hide();
        }

        //$(window).keydown(function (event) {

        //    if ((event.which == 13) && ($(event.target)[0] != $("vendaddr")[0])) {
        //        alert();
        //        event.preventDefault();
        //        return false;
        //    }
        //});

        //alert($("#_vendaddr").val());

        //alert($("#vatamt").val());

        var sacurrentTab4 = 0;
        $(function () {
            $("#audit").tabs({
                select: function (e, i) {
                    sacurrentTab4 = i.index;
                }
            });
        });



        var status = '@Model.statname';
        //alert(status);
        if (status == "DRAFT") {
            //$("#datecheque").val('@System.DateTime.Today.ToShortDateString()');
            // $("#datesale").val('@System.DateTime.Today.ToShortDateString()');
            // $("#date1").val('@System.DateTime.Today.ToShortDateString()');
            // $("#datesale").removeAttrs('disabled');
            $("#chequeamt").val('@tollinitemval');
            $("#_Update").show();
        }
        else if (status == "APPROVED") {
            // alert(status);
            //$("#datafill").attr("readonly", true);
            $("#cheque").attr("readonly", true);
            $("#chequeamt").attr("readonly", true);
            $("#datecheque").attr("disabled", true);
            $("#invoiceamt").attr("readonly", true);
            $("#datesale").attr("disabled", true);
            $("#vatper").attr("disabled", true);
            $("#vatamt").attr("readonly", true);
            $("#vendaddr").attr("readonly", true);
            // $("#propot").attr("readonly", true);
            $("#vendnam").attr("readonly", true);
            // $("#date1").attr("disabled", true);
            $("#_approve").hide();
            $("#_reject").hide();
            $("#_save").hide();
            $("#_Update").hide();

        }

        else if (status == "REJECTED") {
            // alert(status);
            $("#cheque").attr("readonly", true);
            $("#chequeamt").attr("readonly", true);
            $("#datecheque").attr("disabled", true);
            $("#invoiceamt").attr("readonly", true);
            $("#datesale").attr("disabled", true);
            $("#vatper").attr("disabled", true);
            $("#vatamt").attr("readonly", true);
            $("#vendaddr").attr("readonly", true);
            //  $("#propot").attr("readonly", true);
            $("#vendnam").attr("readonly", true);
            // $("#date1").attr("disabled", true);
            $("#_approve").hide();
            $("#_reject").hide();
            $("#_save").hide();
            $("#_Update").hide();
        }

        else {
            $("#cheque").attr("readonly", true);
            $("#chequeamt").attr("readonly", true);
            $("#datecheque").attr("disabled", true);
            $("#invoiceamt").attr("readonly", true);
            $("#datesale").attr("disabled", true);
            $("#vatper").attr("disabled", true);
            $("#vatamt").attr("readonly", true);
            $("#vendaddr").attr("readonly", true);
            //   $("#propot").attr("readonly", true);
            $("#vendnam").attr("readonly", true);
            // $("#date1").attr("disabled", true);
            $("#_save").hide();
            $("#_Update").hide();
        }
        // });


        checkRequired();




        $(function () {
            $("#cheque").focus();
        });
        $("#cheque").focus();
        $("#cheque").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#chequeamt").focus();
        $("#chequeamt").keypress(function (event) {
            return isSplAlphaNumeric(event, this);

        });
        //$("#datecheque").focus();
        //$("#datecheque").keypress(function (event) {
        //    return isSplAlphaNumeric(event, this);
        //});
        $("#invoiceamt").focus();
        $("#invoiceamt").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        //$("#datesale").focus();
        //$("#datesale").keypress(function (event) {
        //    return isSplAlphaNumeric(event, this);
        //});
        $("#vatper").focus();
        $("#vatper").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#vatamt").focus();
        $("#vatamt").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        //$("#vendaddr").focus();
        //$("#vendaddr").keypress(function (event) {
        //    return isSplAlphaNumeric(event, this);
        //});
        $("#vendnam").focus();
        $("#vendnam").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });


        var a = '@ViewBag.viewfor';
        $(".backbtn").click(function () {
            $('#sagridId').find('tr').css('background', 'none');
            if (a == 'checkerView') {
                location = '@Url.Action("SAChkSummary", "AssetSale")?' + new Date().getTime();
            }
            else {
                location = '@Url.Action("SASummary","AssetSale")?' + new Date().getTime();
            }
        });
    });



    $("#datecheque").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-M-yy',
        yearRange: '-1:new Date.getFullYear()',
        maxdate: new Date(),
    });

    $("#datesale").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-M-yy',        
        // yearRange: 'new Date.getFullYear():+1',
        yearRange: '-1:new Date.getFullYear()',
        maxdate: new Date(),
    });

    //$("#date1").datepicker({
    //    changeMonth: true,
    //    changeYear: true,
    //    dateFormat: 'dd-mm-yy',
    //    maxdate: new Date()
    //});

    var id = $("#Sastatus").text();
    // alert("1st");
    if ('@ViewBag.viewfor' == "abort") {
        // alert("abort");
        $("#wgridSOAdetails td:nth-child(9),#wgridSOAdetails th:nth-child(9)").hide();
    }

    $(".btndanger").click(function () {
        var id = '@Session["SaleNo"]';
        jConfirm("Are You Sure to delete this sale of asset", "Message", function (t) {
            // alert(t);
            if (t == true) {
                $.post('../AssetSale/SaleMakerView?id=' + id + '&command=abort&' + new Date().getTime(),
                function (data) {
                    if (data == 0) {
                        location = location.href;
                    }
                    else if (data.Maker != "Success") {
                        jAlert("Unauthorized User!");
                        hideProgress();
                    }
                    else {
                        window.parent.jQuery('#ForPartialViews').dialog('close');
                        $('#sagridId').find('tr').css('background', 'none');
                        location = '@Url.Action("SASummary","AssetSale")?' + new Date().getTime();
                        jAlert("Sale deleted Sucessfully", "Message");
                    }
                }, 'json');
            }
        });
    });

    @*$("#_save").click(function () {
        var id = '@Session["SaleNo"]';
        jConfirm("Are You Sure Submit that Details", "Message", function (t) {
            if (t == true) {
                $.post('@Url.Action("SaleMakerView","AssetSale")?id=' + id + '&command=submit&' + new Date().getTime(),
                    function (data) {
                        if (data == 0) {
                            location = location.href;
                        }
                        else {
                            Window.parent.jQuery('#ForPartialViews').dialog('close');
                            location = '@Url.Action("SASummary","AssetSale")?' + new Date().getTime();
                            jAlert("Sale Detail Submited Successfully", "Message");
                        }
                    }, 'json');
            }
        });
    });*@

    $("#_clear").click(function () {

        $("#_txtRemaks").val("");
        checkRequired();

    });



    $("#_approve").click(function () {
        var id = '@Session["SaleNo"]';
        var Remark = $("#_txtRemaks").val();
        // alert(Remark);
        // alert(id);
        jConfirm("Are You Sure Approve that Records", "Message", function (t) {
            if (t == true) {
                showProgress();
                // alert(Remark);
                $.post('@Url.Action("SaleMakerView","AssetSale")?id=' + id + '&command=Approve&remarks=' + Remark + '&' + new Date().getTime(),
                    function (data) {
                        if (data == 0) {
                            location = location.href;
                            hideProgress();
                        }
                        else if (data.Checker != "Success") {
                            jAlert("Unauthorized User!");
                            hideProgress();
                        }
                        else {
                            window.parent.jQuery('#ForPartialViews').dialog('close');
                            $('#sagridId').find('tr').css('background', 'none');
                            location = '@Url.Action("SAChkSummary","AssetSale")?' + new Date().getTime();
                            jAlert("Record Approved Successfully", "Message");
                            hideProgress();
                        }

                    }, 'json');
            }
        });
        
    });

    $("#_reject").click(function () {
        var id = '@Session["SaleNo"]';
        var Remark = $("#_txtRemaks").val();
        //  alert(Remark);
        // alert(id);
        jConfirm("Are You Sure Reject that Record", "Message", function (t) {
            if (t == true) {
                showProgress();
                $.post('@Url.Action("SaleMakerView","AssetSale")?id=' + id + '&command=Reject&remarks=' + Remark + '&' + new Date().getTime(),
                    function (data) {
                        if (data == 0) {
                            location = location.href;
                            hideProgress();
                        }
                        else if (data.Checker != "Success") {
                            jAlert("Unauthorized User!");
                            hideProgress();
                        }
                        else {
                            window.parent.jQuery('#ForPartialViews').dialog('close');
                            $('#sagridId').find('tr').css('background', 'none');
                            location = '@Url.Action("SAChkSummary","AssetSale")?' + new Date().getTime();
                            jAlert("Record Rejected Successfully", "Message");
                            hideProgress();
                        }
                    }, 'json');
            }
        });
    });



    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    //function newline(enter) {
    //    var charascii = (enter.which) ? enter.which : enter.keyCode
    //    alert(charascii);
    //    if (charascii == 13)
    //    {
    //        $("#vendaddr"), val('charascii');
    //        return true;
    //    }
    //    else {
    //        return false;
    //    }
    //}


    function CheckFieldHeaderchecker() {
        var ErrorsCount = 0;
        if ($("#_txtRemaks").val() == "" || $("#_txtRemaks").val() == null) {
            ErrorsCount = 1;
        }
        if (ErrorsCount == 0) {
            $("#_approve").removeAttrs('disabled');
            $("#_reject").removeAttrs('disabled');
        }
        else {
            $("#_approve").attr('disabled', 'disabled');
            $("#_reject").attr('disabled', 'disabled');
        }
    }



    function CheckFieldHeader() {

        var ErrorsCount = 0;
        var vatper = $("#vatper").val();

        var chqamt = $("#chequeamt").val();
        if ($("#cheque").val().trim() == "" || $("#cheque").val() == null) {

            ErrorsCount = 1;
        }
        if ($("#chequeamt").val().trim() == "" || $("#chequeamt").val() == null) {
            $("#vatper").attr('disabled', 'disabled');
            ErrorsCount = 2;
        }
        else if (parseInt(chqamt) == parseInt(0)) {
            $("#chequeamt").val("");
            jAlert("The  Cheque Amount is zero !!!");

            ErrorsCount = 2;
        }
            //else if()
        else {
            $("#vatper").removeAttrs('disabled');
            //checkRequired();
        }

        if ($("#datecheque").val().trim() == "" || $("#datecheque").val() == null) {
            ErrorsCount = 3;
        }
        if ($("#invoiceamt").val().trim() == "" || $("#invoiceamt").val() == null) {
            ErrorsCount = 4;
        }
        if ($("#datesale").val().trim() == "" || $("#datesale").val() == null) {
            ErrorsCount = 5;
        }
        if ($("#vatper").val() == 0) {
            ErrorsCount = 6;
        }
            //else if (parseInt(vatper) == "-Select Group-") {
            //    $("#vatper").val("-Select Group-");
            //    jAlert("The VAT Amount is zero !!!");
            //    ErrorsCount = 6;
            //}
        else {

            var invamt = $("#invoiceamt").val();
            //alert(invamt);
            // alert(vatper);
            if (parseInt(vatper) != 0 && parseInt(invamt) != 0 || parseInt(invamt) == "") { //var chqamt= $("#chequeamt").val();
                // alert("else");
                @*var saleamt = 0;
                    saleamt = '@tollinitemval';
                    var vatamt = (parseFloat(saleamt) * parseFloat(vatper)) / 100;
                    $("#vatamt").val(vatamt);
                    var invamt = 0
                    invamt = parseFloat(vatamt) + parseFloat(chqamt);
                    $("#invoiceamt").val(invamt);*@
                @*var salamt = 0;
                    var chqspltamt = '@tollinitemval';

                    salamt = (parseInt(chqspltamt) * 100) / (100 + 4);
                    var sale = Math.round(salamt);
                    $("#invoiceamt").val(sale);*@
                var VATcal = {

                    //"assetdetDetid": asset_detid, "assetdetAssetvalue": current_val, "assetreduval": reduce_by,
                    //"assetredudat": reduce_date, "assetrefno": ref_no, "assetnewval": new_val, "assetdetId": asset_id,
                    "soapayAmount": chqamt, "vatid": vatper
                };
                $.ajax({
                    url: '@Url.Action("vatper","AssetSale")?' + new Date().getTime(),
                    type: 'post',
                    data: VATcal,
                    async: false,
                    catch: false,
                    success: function (data) {
                        //alert(data);
                        var status = '@Model.statname';
                        //alert(status);
                        if (status == "DRAFT") {

                            $("#invoiceamt").val(Math.round(data,2));
                        }
                        //else
                        //{

                        //}
                        // alert($("#invoiceamt").val(Math.round(data)));
                        // return false;
                        $("#invoiceamt").removeClass('required');
                        $("#invoiceamt").addClass('valid');
                        var salval = Math.round($("#invoiceamt").val());
                        // alert(salval);
                        var tvatamt = (Math.round(chqamt,2) - Math.round(salval,2));

                        $("#vatamt").val(tvatamt);
                        $("#vatamt").removeClass('required');
                        $("#vatamt").addClass('valid');
                        // alert(salval);
                        ErrorsCounts = 0;
                    }
                });

            }

        }

        if ($("#vatamt").val().trim() == "" || $("#vatamt").val() == null) {
            ErrorsCount = 7;
        }
        if ($("#vendaddr").val().trim() == "" || $("#vendaddr").val() == null) {
            ErrorsCount = 8;
        }
        // if ($("#propot").val().trim() == "" || $("#propot").val() == null) {
        //     ErrorsCount = 9;
        //}
        //if (val == 0) {
        //    ErrorsCount = 9;
        //}
        if ($("#vendnam").val().trim() == "" || $("#vendnam").val() == null) {
            ErrorsCount = 10;
        }
        //if ($("#date1").val().trim() == "" || $("#date1").val() == null) {
        //    ErrorsCount = 11;
        //}



        if (ErrorsCount == 0 && ErrorsCounts == 0) {
            // alert();
            $("#_Update").removeAttrs('disabled');
        }
        else {
            //alert("sagfsdgdfgh");
            $("#_Update").attr('disabled', 'disabled');
        }
    }

    function Updatecheque() {
        var vatper = $("#vatper").val();
        var sodetcount = ' @Model.soaTnorecords';
        // alert(vatper);
        var soagi = '@Session["SaleNo"]';
        var cheque_no = $("#cheque").val().trim();
        var cheque_amount = $("#chequeamt").val().trim();
        var cheque_date = $("#datecheque").val().trim();
        var invoice_amount = $("#invoiceamt").val().trim();
        var sale_date = $("#datesale").val().trim();
        var vatpercentage = $("#vatper").val().trim();
        var vat_amount = $("#vatamt").val().trim();
        var vendor_address = $("#vendaddr").val().trim();
        // var proPortion = $("#propot").val().trim();
        var vendor_name = $("#vendnam").val().trim();
        // var realiztion_date = $("#date1").val().trim();
        // alert(cheque_no);
        // alert(cheque_amount);
        //var CategoryModel1 = {
        //    "soapayChqno": cheque_no, "soapayAmount": cheque_amount,
        //    "soaVendorname": vendor_name, "soaVatamt": vat_amount,
        //    "soaVatper": vatpercentage, "soaSaledate": sale_date,
        //    /*"ert": invoice_amount,*/ /*"dfghds": cheque_date,*/
        //    /*"sdfg": vendor_address,*/ "soapayRealizationdate": realiztion_date,
        //    /*"aysd": proPortion,*/ "soaGid": soagi
        //};
        //  alert(cheque_date);
        var VATcalUp = {
            "soapayChqno": cheque_no, "soapayAmount": cheque_amount, "soapaychqdat": cheque_date,
            "soaVendorname": vendor_name, "soaVatamt": vat_amount,
            "soaVatper": vatpercentage, "soaSaledate": sale_date,
            "soaWtaxamt": invoice_amount, /*"dfghds": cheque_date,*/
            "soavendoradd": vendor_address, /*"soapayRealizationdate": realiztion_date,*/
            /*"aysd": proPortion,*/ "soaGid": soagi, "soaTnorecords": sodetcount, "vatid": vatper


        };
        $.ajax({
            url: '@Url.Action("vatup","AssetSale")?' + new Date().getTime(),
            type: 'post',
            data: VATcalUp,
            success: function (data) {
                if (data == "success") {
                    var soagi = '@Session["SaleNo"]';
                    // alert("success");

                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("SaleMakerView", "AssetSale")?viewfor=view&id=' + soagi + '&' + new Date().getTime(),
                        data: {},
                        success: function (data) {
                            $("#_gridfull").empty().append(data);
                            $("#vatpertxt").removeAttrs('hidden');
                            $("#vatper").attr('hidden', 'hidden');
                            $("#_save").removeAttrs('disabled');
                        },
                        error: function () {
                            $("#vatpertxt").attr('hidden', 'hidden');
                            $("#vatper").removeAttrs('hidden');
                            $("#_Update").removeAttrs('disabled');
                            $("#_save").attr('disabled', 'disabled');
                        }
                    });
                }

            }

        });
    }
</script>
<script type="text/javascript">
    function submitcheque() {


        var soagi = '@Session["SaleNo"]';
        var cheque_no = $("#cheque").val().trim();
        var cheque_amount = $("#chequeamt").val().trim();
        var cheque_date = $("#datecheque").val().trim();
        var invoice_amount = $("#invoiceamt").val().trim();
        var sale_date = $("#datesale").val().trim();
        var vatpercentage = $("#vatper").val().trim();
        var vat_amount = $("#vatamt").val().trim();
        var vendor_address = $("#vendaddr").val().trim();
        //var proPortion = $("#propot").val().trim();
        var vendor_name = $("#vendnam").val().trim();
        //  var realiztion_date = $("#date1").val().trim();
        // alert(cheque_no);
        // alert(cheque_amount);
        //  alert(soagi);
        var CategoryModel1 = {
            "soapayChqno": cheque_no, "soapayAmount": cheque_amount, "soapayment_sale_chq_date": cheque_date,
            "soaVendorname": vendor_name, "soaVatamt": vat_amount,
            "soaVatper": vatpercentage, "soaSaledate": sale_date,
            /*"ert": invoice_amount,*/ /*"dfghds": cheque_date,*/
            "soavendoradd": vendor_address,/* "soapayRealizationdate": realiztion_date,*/
            /*"aysd": proPortion,*/ "soaGid": soagi
        };

        $.post('@Url.Action("SaleMakerView", "AssetSale")?command=submit', CategoryModel1,
            function (data) {
                if (data.Maker != "Success") {
                    jAlert("Unauthorized User!");
                    hideProgress();
                }
                else if (data != "success") {
                    jAlert("Successfully Submited.", "Inforamtion", function (r) {
                        if (r = true) {
                            window.parent.jQuery('#ForPartialViews').dialog('close');
                            location = '@Url.Action("SASummary", "AssetSale")?' + new Date().getTime();
                            jAlert("Sale raised sucessfully", "Message");
                            return false;
                        }
                    });
                }
                else {
                    window.parent.jQuery('#ForPartialViews').dialog('close');
                    $('#sagridId').find('tr').css('background', 'none');
                    location = '@Url.Action("SASummary", "AssetSale")?' + new Date().getTime();
                    jAlert("Sale was not raised !!", "Message");
                    return false;
                }
            }
            )
    }


    function hidebut() {

        $("#_save").hide();
        $("#_approve").hide();
        $("#_reject").hide();
        $("#_Update").hide();
    }

    function showbut() {

        var status = '@Model.statname';
        //alert(status);
        if (status == "DRAFT") {

            $("#_save").show();
            $("#_approve").show();
            $("#_reject").show();
            $("#_Update").show();
        }
        else {
            // $("#_save").show();
            $("#_approve").show();
            $("#_reject").show();
        }
    }

    $(".ui-icon-closethick").click(function () {
        $('#sagridId').find('tr').css('background', 'none');
    });

</script>



