@model IEM.Areas.ASMS.Models.EntityGstvendor
@using IEM.Areas.ASMS.Models
@using IEM.Common

<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

@{
    var viewfor = (string)ViewBag.viewfor;
    string AddData = "";
    AddData = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
    }
    else if (viewfor == "delete")
    {
        ViewBag.viewmode = "disabled";
        ViewBag.deletemode = "disabled";
    }
    string IsChecker = "Y";
    //string IsChecker = @ViewBag.IsChecker;
    //string AddData = (IsChecker == "Y" ? "false" : "true");

    //string EnableData = IsChecker == "N" ? "disabled" : (IsChecker == "Y" ? "enabled" : "disabled");
    //ViewBag.IsChecker = IsChecker;
}
<script type="text/javascript">
    $(document).ready(function () {
        @*$('#suppliergst_app').attr('disabled', @AddData);
        $('#suppliergst_status').attr('disabled', @AddData);*@

        });</script>
@{

}
@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
    var getdata = @ViewBag.supplierheader;
    <table class="myTableStyleTabNew" style="width:100%;" border="0">
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px; display:none ;">
                <input name="suppliergst_gid" id="suppliergst_gid" type="text" placeholder="DocName ID" data-val="true" value="@Model.suppliergst_gid" />
            </td>
        </tr>
        <tr>
            <td style="width:25%; padding:0px 10px 0px 3px;">
                <span> Gst Registered  </span>
                <br />
                @Html.DropDownListFor(model => model.suppliergst_app, new List<SelectListItem>()
                    {
                       new SelectListItem() { Text = "Yes", Value = "Y" },
                       new SelectListItem() { Text = "No", Value = "N"},
                       new SelectListItem() { Text = "Not Update", Value = "B"}   //20-02-18 gstin split
		            }, new { @id = "suppliergst_app", @class = "form-control", @onchange = "isgst()" })
            </td>

        </tr>
        <tr>
            <td style="width:45%; padding:0px 10px 0px 3px;">
                <span> State </span>
                <br />

             @*   @Html.DropDownListFor(n => n.selectedstate_gid, gv.GetState, "-- Select State--", new { @class = "textboxStyle chosen-select", @id = "state_gid" })*@

                <select name="suppliergst_stateid" id="state_gid" class="fstextbox chosen-select" @ViewBag.viewmode >
                    <option value="0">Select</option>
                    @foreach (var pitem in Model.GetState)
                    {
                        var childitemfilter = Model.GetState.Where(m => m.Value == pitem.Value);
                        if (childitemfilter != null)
                        {
                            foreach (var citem in childitemfilter)
                            {
                                string selectedValueddel = "";
                                if (Model.selectedstate_gid.ToString() == citem.Value)
                                {
                                    selectedValueddel = "selected='selected'";
                                }
                                <option value="@citem.Value" @selectedValueddel>@citem.Text</option>
                            }
                        }
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td style="width:45%; padding:0px 10px 0px 3px;">
                <span> Business Vertical </span>
                <br />
                <input type="text" @ViewBag.viewmode
                       name="Vertical"
                       id="Vertical"
                       value="@Model.suppliergst_vertical"
                       class="textboxStyle"
                       maxlength="70" />

            </td>
            @*20-02-18 gstin split*@
        <tr>
            <td style="width:45%; padding:0px 10px 0px 3px;">
                <span> GST State Code. </span>
                <br />
                <input type="text" @ViewBag.viewmode
                       name="gststate"
                       id="gststate"
                       value="@ViewBag.filter1"
                       class="textboxStyle"
                       maxlength="02" disabled />

            </td>
        </tr>
        <tr>
            <td style="width:45%; padding:0px 10px 0px 3px;">
                <span> PAN No. </span>
                <br />
                <input type="text" @ViewBag.viewmode
                       name="gstpan"
                       id="gstpan"
                       value=""
                       class="textboxStyle"
                       maxlength="10" disabled />

            </td>
        </tr>
        <tr>
            <td style="width:45%; padding:0px 10px 0px 3px;">
                <span> GSTIN Vertical Registration </span>
                <br />
                <input type="text" @ViewBag.viewmode
                       name="gstvertical"
                       id="gstvertical"
                       value="@ViewBag.filter1"
                       class="textboxStyle"
                       maxlength="03" />

            </td>
        </tr> 
        @*20-02-18 gstin split*@
        <tr>
            <td style="width:45%; padding:0px 10px 0px 3px;">
                <span> Status </span>
                    <br /> 
                       @Html.DropDownListFor(model => model.suppliergst_status, new List<SelectListItem>()
                    {
                       new SelectListItem() { Text = "Active", Value = "Y" },
                       new SelectListItem() { Text = "In Active", Value = "N"}
		            }, new { @id = "suppliergst_status", @class = "form-control" }) 
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px; text-align :center;">
                @if (AddData == "edit") 
                { 
                <button type="button" id="_save" class="btn btn-primary" value="Save" onclick="SAVE()" style="margin-top:10px;  color:white;">
                    <span class="glyphicon glyphicon-floppy-disk" style="color:white;" font-size:12px;></span> Save
                </button>
                }
                <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()" style="margin-top:10px;  color:white;">
                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                </button>

            </td>
        </tr>

        <tr>
            <td style="width:45%; padding:0px 10px 0px 3px;visibility:hidden;">
                <span> GSTIN </span>
                <br />
                <input type="text" @ViewBag.viewmode
                       name="gsttin"
                       id="gsttin"
                       value="@Model.suppliergst_tin"
                       class="textboxStyle"
                       maxlength="15" />

            </td>
        </tr>
    </table>
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#gstpan").val($("#txtSupplierPanNo").val()); // 20-02-18 gstin split
        if ($("#suppliergst_app").val() == "N" || $("#suppliergst_app").val() == "B") {
            $("#gsttin").val("");
            $("#gsttin").attr('disabled', 'disabled');
            $("#gsttin").removeClass('required');
            $("#gsttin").removeClass('valid');

            $("#Vertical").val("");         //vendor disabled 03/08/17
            $("#Vertical").attr('disabled', 'disabled');
            $("#Vertical").removeClass('required');
            $("#Vertical").removeClass('valid');

            $("#gstvertical").val("");         // 20-02-18 gstin split
            $("#gstvertical").attr('disabled', 'disabled');
            $("#gstvertical").removeClass('required');
            $("#gstvertical").removeClass('valid');
           
        }
        else {
            $("#gsttin").removeAttr('disabled');
            $("#gsttin").removeClass('valid');

            $("#Vertical").removeAttr('disabled'); //vendor disabled 03/08/17
            $("#Vertical").removeClass('valid');

            // 20-02-18 gstin split
            var gstin = $("#gsttin").val().trim();
            $("#gststate").val(gstin.substring(0, 2));
            $("#gstvertical").val(gstin.substring(gstin.length - 3, gstin.length));
        }
        $("#state_gid").chosen({});
    });

    $("#state_gid").change(function () {
        if ($("#state_gid").val() != "") {
            $("#state_gid").removeClass('required');
            $("#state_gid").addClass('valid');
            CheckFieldsHeader();

            // 20-02-18 gstin split
            var StateName = $("#state_gid option:selected").text().trim();
            var gstate = StateName.split("-");
            // alert(gstate[1]);
            var stategst = StateName.substring(StateName.length - 2, StateName.length);
            //  alert(ss);
            $("#gststate").val(stategst);
            // 20-02-18 gstin split
        }
        else {
            $("#state_gid").removeClass('valid');
            $("#state_gid").addClass('required');
            // 20-02-18 gstin split
            $("#gststate").val("");
            // 20-02-18 gstin split
            CheckFieldsHeader();
        }
    });

    $("#Vertical").keyup(function () {
        var txtPincode = $("#Vertical").val();
        if (txtPincode.trim() != "") {
            $("#Vertical").removeClass('required');
            $("#Vertical").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#Vertical").removeClass('valid');
            $("#Vertical").addClass('required');
            CheckFieldsHeader();
        }
    });

    $("#gsttin").keyup(function () {
        var txtPincode = $("#gsttin").val();
        if (txtPincode.trim() != "") {
            $("#gsttin").removeClass('required');
            $("#gsttin").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#gsttin").removeClass('valid');
            $("#gsttin").addClass('required');
            CheckFieldsHeader();
        }
    });

    $('#gsttin').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });

    // 20-02-18 gstin split
    $('#gstvertical').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());

        var txtPincode = $("#gstvertical").val();
        if (txtPincode.trim() != "") {
            $("#gstvertical").removeClass('required');
            $("#gstvertical").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#gstvertical").removeClass('valid');
            $("#gstvertical").addClass('required');
            CheckFieldsHeader();
        }
        fillgstin();
    });
    // 20-02-18 gstin split

    function isgst() {
        var Gstapplicable = $("#suppliergst_app").val();  
        if ($("#suppliergst_app").val() == "Y") {
            $("#gsttin").removeAttr('disabled');
            $("#gsttin").removeClass('valid');
            $("#gsttin").addClass('required');

            $("#Vertical").removeAttr('disabled');
            $("#Vertical").removeClass('valid');
            $("#Vertical").addClass('required');
        }
        else {
            $("#gsttin").val("");
            $("#gsttin").attr('disabled', 'disabled');
            $("#gsttin").removeClass('required');
            $("#gsttin").removeClass('valid');

            $("#Vertical").val("");
            $("#Vertical").attr('disabled', 'disabled');
            $("#Vertical").removeClass('required');
            $("#Vertical").removeClass('valid');
        }
    }

    // 20-02-18 gstin split
    function fillgstin() {
        if ($("#state_gid").val() != "") {
            var StateName = $("#state_gid option:selected").text().trim();
            // alert(gstate[1]);
            var stategst = StateName.substring(StateName.length - 2, StateName.length);
            $("#gsttin").val("");
            $("#gsttin").val(stategst + "" + $("#gstpan").val() + "" + $("#gstvertical").val())
        }
        else if ($("#state_gid").val() == "" || $("#gstpan").val() == "" || $("#gstvertical").val() == "") {
            $("#gsttin").val("");
            $("#gsttin").removeClass('valid');
            $("#gsttin").addClass('required');
        }
        else if ($("#state_gid").val() != "" || $("#gstpan").val() != "" || $("#gstvertical").val() != "") {
            $("#gsttin").addClass('valid');
            $("#gsttin").removeClass('required');
        }
    }

    function CheckFieldsHeader() {
        var ErrCount = 0;
        if ($("#state_gid").val() == "") {
            ErrCount = 2;
        }
        if ($("#Vertical").val().trim() == "" || $("#Vertical").val() == null) {
            ErrCount = 1;
        }  
        if ($("#suppliergst_app").val() == "Y") {
            if ($("#gsttin").val().trim() == "" || $("#gsttin").val() == null) {
                ErrCount = 2;
            }
        }
        if (ErrCount == 0) {
            $("#_save").removeAttr('disabled');
        }
        else {
            $("#_save").attr('disabled', 'disabled');
        }
    }
    function twoDigit(number) {
        var twodigit = number >= 10 ? number : "0" + number.toString();
        return twodigit;
    }

    function SAVE() {

        var Gstapplicable = $("#suppliergst_app").val();
        var State = twoDigit($("#state_gid").val());
        var Vertical = $("#Vertical").val();
        var gsttin = $("#gsttin").val();
        var Statusid = $("#suppliergst_status").val();
        var execut = "Y";
        
        if ($("#suppliergst_app").val() == "Y") {
            if (Vertical == "") {
                execut = "N";
                jAlert("Please Enter Vertical.", "Information")
                $("#Vertical").focus();
                return false;
            }

            //20-02-18 gstin split
            if ($("#gststate").val() == "" || $("#gststate").val() == 0) {
                execut = "N";
                jAlert("Please select State", "Information")//08/03/2017 vertical disabled 
                $("#gststate").focus();
                return false;
            }
            if ($("#gstvertical").val() == "") {
                execut = "N";
                jAlert("Please Enter GSTIN Vertical", "Information")//08/03/2017 vertical disabled 
                $("#gstvertical").focus();
                return false;
            }
            //20-02-18 gstin split


            if (gsttin == "") {
                execut = "N";
                jAlert("Please Enter GSTIN.", "Information")
                $("#gsttin").focus();
                return false;
            }

            //checktin();

            var tin = $("#gsttin").val();
            var pan = "";
            if (tin.length == 15) {
                for (var i = 0, len = tin.length; i < len; i++) {
                    if (i == 0 || i == 1) {
                        var regex = /^[0-9]+$/;
                        if (!tin[i].match(regex)) {
                            execut = "N";
                            alert("Invalid GSTIN : First 2 digits (State Code)");
                            return false;
                        }
                        else {
                            //if (State != tin[0] + "" + tin[1]) {
                            //    alert("Invalid GSTIN : First 2 digits not in (State Code)");
                            //    return false;
                            //}
                        }
                    }
                    else if (i > 1 && i < 12) {
                        pan = pan + tin[i];
                        if (pan.length == 10) {
                            var ObjVal = pan;
                            var panPattern = /^([a-zA-Z]{5})(\d{4})([a-zA-Z]{1})$/;
                            var matchArray = ObjVal.match(panPattern);

                            if (matchArray == null) {
                                execut = "N";
                                alert("Invalid GSTIN :  3-12 Alphanumeric (PAN No.)");
                                return false;
                            }
                        }
                    }

                    else if (!tin[12].match(regex)) {
                        //execut = "N";
                        //alert("Invalid GSTIN :  13- 1 Character (Alphabet Z by default)");
                        //return false;

                    }

                    else if (!tin[14].match(regex)) {
                        //  alert("Invalid GSTIN : Last 1 digit (Check Sum digit)")
                        //  return false;
                    }
                }
            }
            else {
                execut = "N";
                alert("Invalid GSTIN : Total Length check GST!")
                return false;
            }
        }
        //
        //if ($("#suppliergst_app").val() == "N") {          //-----------//03/08/2017 vertical disabled
        //    $('#wgridGSTDetails > tbody > tr').each(function (index) {
        //        var StateName = $("#state_gid option:selected").text().trim();
        //        var id = $("#suppliergst_gid").val(); 
        //        if (id != $(this).children('td:nth-child(1)').text() && StateName == $(this).children('td:nth-child(4)').text()) {
        //            jAlert("Please Modify the Existing Country : " + StateName, "Information", function () {
        //                execut = "N";
        //                return false;
        //            });
        //            execut = "N";
        //            return false;
        //        }
        //    });
        //}
        $('#wgridGSTDetails > tbody > tr').each(function (index) {
            var StateName = $("#state_gid option:selected").text().trim();
            var id = $("#suppliergst_gid").val();
           
            if (id != $(this).children('td:nth-child(1)').text() && StateName == $(this).children('td:nth-child(4)').text() && $("#suppliergst_app").val() == "N") {
                jAlert("Please Modify the Existing State : " + StateName, "Information", function () {
                    execut = "N";
                    return false;
                });
                execut = "N";
                return false;
            }
        });
        if (execut == "Y") {
            var DocNameModel = { "suppliergst_app": Gstapplicable, "suppliergst_stateid": State, "suppliergst_vertical": Vertical, "suppliergst_tin": gsttin, "suppliergst_status": Statusid, "suppliergst_gid": $("#suppliergst_gid").val() };
            $.post('../Onboarding/GST_Edit_Vendor', DocNameModel,
            function (data) {
                if (data != "success") {
                    jAlert(data, "Information", function (r) {
                        if (r == true) {
                            return false;
                        }
                    });
                }
                else {
                    jAlert("Record Updated successfully !", "Information", function (r) {
                        if (r == true) {
                            $("#ForGSTDetails").load("../onboarding/GSTDetailsIndex?" + new Date().getTime());
                            window.parent.jQuery('#ForPartialView').dialog('close');
                        }
                    });

                }

            }, 'json');
        }
    }
    function GotoIndex() {
        window.parent.jQuery('#ForPartialView').dialog('close');
    }
</script>