@model  IEM.Areas.ASMS.Models.SupplierHeader
@using IEM.Areas.ASMS.Models
@{
    //System.Web.HttpContext.Current.Session["controlrefreshtab"] = "inprocess";
    if (Session["PageMode"] != null)
    {
        ViewBag.PageMode = (string)Session["PageMode"];
        if (ViewBag.PageMode == "3")
        {
            ViewBag.IsAllowApproverToEdit = (string)Session["IsAllowApproverToEdit"];
            if (ViewBag.IsAllowApproverToEdit == "1")
            {
                ViewBag.PageMode = "2";
            }
        }
    }
    ViewBag.SupplierHeaderGid = Convert.ToInt64(System.Web.HttpContext.Current.Session["SupplierHeaderGid"]);
    SupplierHeader sh = (SupplierHeader)ViewBag.supplierheader;
    ViewBag.OwnerGid = sh._OwnerId;
    ViewBag.ispermanent = sh._SupplierType;
}

<script type="text/javascript">
    var curpagemode;
    $(document).ready(function () {
        curpagemode = '@ViewBag.PageMode';
        if (curpagemode == "3" || curpagemode == "5") {
            $("#relationship").css("display", "none");
            $("#rbAppointmentLettersYes").prop("disabled", true);
            $("#rbAppointmentLettersNo").prop("disabled", true);
            $("#rbIntegrityCheckYes").prop("disabled", true);
            $("#rbIntegrityCheckNo").prop("disabled", true);
            $("#_IntegrityCheckDesc").prop("disabled", true);
            $("#rbpaywagesYes").prop("disabled", true);
            $("#rbpaywagesNo").prop("disabled", true);
            $("#rbBelow18Yes").prop("disabled", true);
            $("#rbBelow18No").prop("disabled", true);

            $("#_EmpPFRegNo").prop("disabled", true);
            $("#_ShopRegNo").prop("disabled", true);
            $("#_EmpStateRegNo").prop("disabled", true);
        }
        $("#_EmpPFRegNo").attr("maxlength", "64");
        $("#_ShopRegNo").attr("maxlength", "64");
        $("#_EmpStateRegNo").attr("maxlength", "64");
        $("#_IntegrityCheckDesc").attr("maxlength", "512");

        $("#_EmpPFRegNo,#_ShopRegNo,#_EmpStateRegNo").keypress(function (event) {
            return isAlphaNumeric(event);
        });
        $("#_IntegrityCheckDesc").keypress(function (event) {
            return isExceptTwoSplChars(event);
        });
    });
    $("#btnPrevOthers").live("click", function () {
        $("#tabs").tabs({ disabled: [10] });
        $('#tabs').tabs('select', 5);
    });
    $("#btnNextOthers").live("click", function () {
        $("#tabs").tabs({ disabled: [10] });
        $('#tabs').tabs('select', 7);
    });
</script>
<div>
    <div id="divOthersDetails">
        <div>
            <fieldset>
                <legend>RELATIONSHIP WITH ANY @System.Configuration.ConfigurationManager.AppSettings["CompanyName"] EMPLOYEE</legend>
                <center>
                    <div id="relationship">
                        @Html.Partial("RelationshipFields")
                    </div>
                </center>
            </fieldset>
        </div>
        <div>
            @Html.Partial("RelationshipDetails")
        </div>
    </div>
    <div id="divHRPracticess" style="margin-top:10px;">
            <fieldset>
                <legend>HUMAN RESOURCE PRACTICES FOLLOWED BY SUPPLIER</legend>
                <center>
                    <table class="myTableStyleTabNew" style="width:100%">
                        <tr>
                            <td style="vertical-align:bottom;">
                                <span>Does the Supplier Issue Appointment Letters.</span>
                            </td>
                            <td style="vertical-align:bottom;">
                                <input type="hidden" name="_OthersID" id="_OthersID" />
                                <div style="height:27px;padding-top:5px;font-weight:normal;">
                                    <input type="radio" id="rbAppointmentLettersYes" name="IsAppointmentLetters" value="Y" tabindex="4" /> Yes
                                    &nbsp;<input type="radio" id="rbAppointmentLettersNo" name="IsAppointmentLetters" value="N" tabindex="5" /> No
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:bottom;">
                                <span>Does the Supplier Perform Integrity Checks at the time of Recruitment</span>
                            </td>
                            <td style="vertical-align:bottom;">
                                <div style="height:27px;padding-top:5px;font-weight:normal;">
                                    <input type="radio" id="rbIntegrityCheckYes" name="IsIntegrityChecks" value="Y" tabindex="4" /> Yes
                                    &nbsp;<input type="radio" id="rbIntegrityCheckNo" name="IsIntegrityChecks" value="N" tabindex="5" /> No
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Description of Integrity Checks.</span>
                            </td>
                            <td style="width:200px;">
                                <textarea name="_IntegrityCheckDesc" cols="3" id="_IntegrityCheckDesc" class="textareaStyle"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:bottom;">
                                <span>
                                    Does the Supplier Pay minimum Wages
                                    As Prescribed by State
                                </span>
                            </td>
                            <td style="vertical-align:bottom;">
                                <div style="height:27px;padding-top:5px;font-weight:normal;">
                                    <input type="radio" id="rbpaywagesYes" name="IsPayWages" value="Y" tabindex="4" /> Yes
                                    &nbsp;<input type="radio" id="rbpaywagesNo" name="IsPayWages" value="N" tabindex="5" /> No
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:bottom;">
                                <span>Does the Supplier Employ Labours below 18 Years.</span>
                            </td>
                            <td style="vertical-align:bottom;">
                                <div style="height:27px;padding-top:5px;font-weight:normal;">
                                    <input type="radio" id="rbBelow18Yes" name="IsEmploybelow18Yrs" value="Y" tabindex="4" /> Yes
                                    &nbsp;<input type="radio" id="rbBelow18No" name="IsEmploybelow18Yrs" value="N" tabindex="5" /> No
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </fieldset>
        </div>
    <div id="divStatutory">
        <fieldset>
            <legend>ADDITIONAL STATUTORY REQUIREMENTS.(FOR OUTSOURCED SERVICE STAFF CONSULTANTS)</legend>
            
                <table class="myTableStyleTabNew" width="100%" style="margin-top:10px;">
                    <tr>
                        <td style="width:20%;">
                            <span>Employee PF Reg.No</span> <br />
                            <input type="text" name="_EmpPFRegNo" id="_EmpPFRegNo" class="textboxStyle" value="@sh._EmpPFRegNo" />
                        </td>
                        <td style="width:20%;">
                            <span>Shop & Establishment Reg.No</span> <br />
                            <input type="text" name="_ShopRegNo" id="_ShopRegNo" class="textboxStyle" value="@sh._ShopRegNo" />
                        </td>
                        <td style="width:20%;">
                            <span>Employee State Reg.No</span> <br />
                            <input type="text" name="_EmpStateRegNo" id="_EmpStateRegNo" class="textboxStyle" value="@sh._EmpStateRegNo" />
                        </td>
                        <td style="width:40%;"></td>
                    </tr>
                </table>
        </fieldset>
    </div>
    <div style="text-align:right;padding-right:25px;" class="divforbutton">
        <button id="btnPrevOthers" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-backward"></span> Prev</button>
        <button id="btnNextOthers" class="btn btn-primary">Next <span style="color:white;" class="glyphicon glyphicon-forward"></span></button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#_OthersID").val("0");
        var issueappointmentletters = '@sh._IssueAppointmentLetters';
        if (issueappointmentletters == "Y") {
            $("#rbAppointmentLettersYes").prop("checked", true);
        }
        else if (issueappointmentletters == "N") {
            $("#rbAppointmentLettersNo").prop("checked", true);
        }
        var peroformintegritycheck = '@sh._PerformIntegrityChecks'; 
        if (peroformintegritycheck == "Y") {
            $("#rbIntegrityCheckYes").prop("checked", true);
        }
        else if (peroformintegritycheck == "N") {
            $("#rbIntegrityCheckNo").prop("checked", true);
        }
        var payminwages = '@sh._Payminwages';
        if (payminwages == "Y") {
            $("#rbpaywagesYes").prop("checked", true);
        }
        else if (payminwages == "N") {
            $("#rbpaywagesNo").prop("checked", true);
        }
        var employlabourbelow18 = '@sh._EmployLabourbelow18Yrs';
        if (employlabourbelow18 == "Y") {
            $("#rbBelow18Yes").prop("checked", true);
        }
        else if (employlabourbelow18 == "N") {
            $("#rbBelow18No").prop("checked", true);
        }
        var integritycheckdesc = '@sh._IntegrityCheckDesc';
        $("textarea#_IntegrityCheckDesc").val(integritycheckdesc);
    });
    function SaveSupOtherDetails() {
        var othersid =parseInt($("#_OthersID").val());
        var issueappointment = $('input:radio[name=IsAppointmentLetters]:checked').val();
        var performintegritychecks = $('input:radio[name=IsIntegrityChecks]:checked').val();
        var integritycheckdesc = $("#_IntegrityCheckDesc").val();
        var payminwages = $('input:radio[name=IsPayWages]:checked').val();
        var employbelow18yrs = $('input:radio[name=IsEmploybelow18Yrs]:checked').val();
        var pfregno = $("#_EmpPFRegNo").val();
        var shopregno = $("#_ShopRegNo").val();
        var empstateregno = $("#_EmpStateRegNo").val();

        var objSupOthers = {
            "_OthersID": othersid,
            "_IssueAppointmentLetters": issueappointment,
            "_PerformIntegrityChecks": performintegritychecks,
            "_IntegrityCheckDesc": integritycheckdesc,
            "_Payminwages": payminwages,
            "_EmployLabourbelow18Yrs": employbelow18yrs,
            "_EmpPFRegNo": pfregno,
            "_ShopRegNo": shopregno,
            "_EmpStateRegNo": empstateregno
        };
       
        if (othersid == 0) {
            $.post("../Onboarding/CreateOthersDetails", objSupOthers, function (data) {
                if (data == 0) { location = location.href; } else { jAlert("Successfully Inserted", "success"); $("#_OthersID").val(data); }
            }, 'json');

        }
        else {
            $.post("../Onboarding/EditOthersdetailsSave", objSupOthers, function (data) {
                if (data == 0) { location = location.href; } else { jAlert("Successfully Inserted","success"); $("#_OthersID").val(data); }
            }, 'json');
        }
    }
</script>

