@using IEM.Areas.ASMS.Models
@using IEM.Common
@model IEM.Areas.ASMS.Models.SupplierTaxDetails
@{
    if (Session["isFinancialReviewer"] != null)
    {
        ViewBag.isFinancialReviewer = (string)Session["isFinancialReviewer"];
    }
    if (Session["PageMode"] != null)
    {
        ViewBag.PageMode = (string)Session["PageMode"];
        if (ViewBag.PageMode == "3")
        {
            ViewBag.IsAllowApproverToEdit = (string)Session["IsAllowApproverToEdit"];
            if (ViewBag.IsAllowApproverToEdit == "1")
            {
                ViewBag.PageMode = "2";
            }
        }
    }
    ViewBag.SupplierHeaderGid = Convert.ToInt64(System.Web.HttpContext.Current.Session["SupplierHeaderGid"]);
    SupplierHeader sh = (SupplierHeader)ViewBag.supplierheader;
}
<script type="text/javascript">
    var curpagemode;
    var financereviewmode;
    $(document).ready(function () {
        var ismsmed = '@sh._TaxisMSMED';
      
        //if (ismsmed == "Y") {
        //    $("#rbMSMEDYes").prop("checked", true);
        //}
        //else if (ismsmed == "N") {
        //    $("#rbMSMEDNo").prop("checked", true);
        //}
        financereviewmod = '@ViewBag.isFinancialReviewer';
        curpagemode = '@ViewBag.PageMode';
        if ((curpagemode == "3" || curpagemode == "5") && financereviewmod !="yes") {
            $("#taxdetailsdiv").css("display", "none");
           // $("#rbMSMEDYes").attr("disabled", "disabled");
          //  $("#rbMSMEDNo").attr("disabled", "disabled");
        }
    });
    $("#btnNextTax").live("click", function () {
        $("#tabs").tabs({ disabled: [10] });
        $('#tabs').tabs('select', 8);
});
    $("#btnPrevTax").live("click", function () {
        $("#tabs").tabs({ disabled: [10] });
        $('#tabs').tabs('select', 6); 
    });
    function SubmitFinReview() {
        var objtaxdet = null;
        $.post('../Onboarding/UpdateFinReviewStatus', objtaxdet,
          function (data) {
              location = "../AsmsMain/Dashboard?" + new Date().getTime();
          }, 'json');
    }
</script>
<div>
    <div id="idhidden_ASMS1" hidden="hidden"></div>
    <div id="idhidden_ASMS2" hidden="hidden"></div>
    <div id="divTaxDetails">
        <div>
            <fieldset>
                <legend>TAX DETAILS</legend>
                    <div id="taxdetailsdiv">
                        @Html.Partial("TaxDetailsFields")
                    </div>
            </fieldset>
        </div>
        <div>
            @Html.Partial("TaxDetailsIndex")
        </div>    
        
        
        <div>
            <span style="color:red;font-weight:bold">***Update GST Regn No under GST Tab only</span>
        </div>
          
    </div>
    <div style="text-align:right;padding-right:25px;" class="divforbutton">
        <button id="btnPrevTax" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-backward"></span> Prev</button>
        @*@if (ViewBag.PageMode != "1")
        {*@
            <button id="btnNextTax" class="btn btn-primary">Next <span style="color:white;" class="glyphicon glyphicon-forward"></span></button>
       @* }*@
       
        @if (ViewBag.isFinancialReviewer == "yes")
        {
            <button id="btnSubmitFinReview" onclick="SubmitFinReview()" class="btn btn-success"><span style="color:white;" class="glyphicon glyphicon-ok"></span> Submit</button>
        }
            
    </div>
</div>


