@model IEM.Areas.FLEXIBUY.Models.prsupervisior;

@{
    ViewBag.Title = "Delmetforpo";
    Layout = "~/Views/Shared/_Layout.cshtml";
   IEM.Common.CmnFunctions objCmnFunctions=new IEM.Common.CmnFunctions();
}


<b>
    <span style="color: rgb(52, 108, 196);">Delmet Summery</span>
</b>
@using(Html.BeginForm())
{
    <div>
        <table>
            <tr>
                <td>
                    @*<div class="panel panel-default">
                        <table>
                            <tr>
                                <td style="padding:10px;">
                                    <span>
                                        PR RefNo
                                    </span><br />
                                    @Html.TextBoxFor(a=>a.prRefNo)
                                </td>
                                <td style="padding:10px;">
                                    <span>PR Raise Date</span><br />
                                    @Html.TextBoxFor(a=>a.prDate)
                                </td>
                                <td style="padding:20px;">
                                    <button id="btnApproval" class="btn btn-primary"><span class="glyphicon glyphicon-search">Search</span></button>
                                    <button id="btnRefresh" class="btn btn-primary"><span class="glyphicon glyphicon-refresh">Refresh</span></button>
                                </td>
                            </tr>
                        </table>
                    </div>*@
                </td>
            </tr>
            <tr>
                <td>
                    @*<div id="wgprAppsummery">
                        <table>
                            <tr>
                                <td>
                                    @{
                                        var grid=new WebGrid(Model.prdetailslist,canSort:true,canPage:true,ajaxUpdateContainerId:"wgprAppsummery");
                                    }
                                    @grid.GetHtml(
         tableStyle: "table table-bordered table-hover table-responsive",
        htmlAttributes: new { id = "wgprAppsummery" },
          mode: WebGridPagerModes.All,
        columns: grid.Columns
            (
        //Here I am going to add checkbox column
           // grid.Column("SL", format: a => rowNum = rowNum + 1, style: "MidColumn5"),
              grid.Column("prgid", objCmnFunctions.Sorter("prgid", "SL No", grid), style: "MidColumn5"),
        grid.Column("SlNo", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
           grid.Column("prRefNo", objCmnFunctions.Sorter("prRefNo", "PR Ref No.", grid), style: "MidColumn5"),
             grid.Column("prDate", objCmnFunctions.Sorter("prDate", "PR Date", grid), style: "MidColumn5"),
             grid.Column("prBranch", objCmnFunctions.Sorter("prBranch", "Branch", grid), style: "MidColumn20"),
           grid.Column("prDesc", objCmnFunctions.Sorter("prDesc", "Description", grid), style: "MidColumn30"),
                     grid.Column("prReqFor", objCmnFunctions.Sorter("prReqFor", "Request for", grid), style: "MidColumn10"),
                   grid.Column("prStatus", objCmnFunctions.Sorter("prStatus", "Status", grid), style: "MidColumn20"),

               grid.Column(header: "Action", canSort: false, style: "col-sm-1",
                     format: @<text>



                    @Html.Raw("<a data-modal='' href='../Prsupervisior/index/" + item.prgid + "' id='" + @item.prgid + "' title='Review'>Review <span value='Review' name='command' class='btn btn-link'></span>   </a>")



                    </text>)))

                                    <label>Page: @(grid.PageIndex + 1) of @grid.PageCount</label>
                                </td>
                            </tr>
                        </table>
                    </div>*@
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <button id="btnApproval" class="btn btn-primary" ><span class="glyphicon glyphicon-share-alt">Approval</span></button>
                        <button id="btnReject" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt">Reject</span></button>
                        <button id="btnCancel" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt">Cancel</span></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}