@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<div class="pageHeadingLayout">
    <span class="pageHeading">Local Conveyance</span>
</div>

<div class="well">
    @if (@ViewBag.processdata == "first")
    {
        <div style="padding:0;margin:0;">
            @Html.Partial("LocalConveyanceFrist")
        </div>
    }

    <div style="padding:0;margin:0;">
        <div id="processworkingdata">
        </div>
    </div>
    <div id="processworkingdatanew">
        @if (@ViewBag.processdatasec == "first")
        {
            <script>
                $(document).ready(function () {
                    $("#processworkingdata").empty();
                });
            </script>
            <div style="padding:0;margin:0;">
                @Html.Partial("localdetails")
            </div>
        }
        else
        {
            <div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        hideProgress();
                    });
                </script>
            </div>
        }
    </div>
</div>
<div id="ForPartialViewexpdetails"></div>
<div id="ForPartialViewExpenseglno"></div>
<script type="text/javascript">
    function testDecimals(currentval) {
        var count;
        currentval.match(/\./g) === null ? count = 0 : count = currentval.match(/\./g);
        return count;
    }
    function replaceCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }
    var objDialogexpdetails;
    $(document).ready(function () {
        objDialogexpdetails = $("[id$='ForPartialViewexpdetails']");
        objDialogexpdetails.length = 1;
        objDialogexpdetails.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            //show: 'fade-in',
            //close: 'fade-out',
            title: 'View Expense Details ',
            width: '95%',
            height: 500
        });
    });
    var objDialogExpenseglno;
    $(document).ready(function () {
        objDialogExpenseglno = $("[id$='ForPartialViewExpenseglno']");
        objDialogExpenseglno.length = 1;
        objDialogExpenseglno.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: '97%',
            height: 525
        });
    });
  
    $(document).keydown(function (e) {
        if (e.keyCode == 8 && e.target.tagName != 'INPUT' && e.target.tagName != 'TEXTAREA')
            e.preventDefault();
    });
</script>