@model IEM.Areas.MASTERS.Models.iem_mst_tax_rate



<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/RMchosen/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/RMScript/chosen.jquery.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
 
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtDocGrpName">
                    <span>Tax</span>
                    @Html.DropDownListFor(e => e.taxname_gid, Model.Gettaxratetaxname, "--Select Tax --", new { @class = "fstextbox  chosen-select", @style = "display: block", @id = "taxname_gid" })
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> Sub-Tax Flag</span>
                <br />
                <input type="radio" id="Yes" value="Y" checked="checked" name="Radiotypename1">
                Yes &nbsp;
                <input type="radio" id="No" value="N" name="Radiotypename1">
                No
            </td>

        </tr>
        <tr>

            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtDocGrpName">
                    <span> Sub-Tax</span>
                    @*<select name="taxsubtype_gid" id="taxsubtype_gid"
                            class="fstextbox chosen-select"></select>*@          
                    
                              @Html.DropDownListFor(e => e.taxsubtype_gid, Model.Gettaxratetaxsubname, "--Select Sub Tax--", new { @class = "fstextbox  chosen-select", @style = "display: block", @id = "taxsubtype_gid" })


</div>

                           </td>
        </tr>
        <tr>

            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtDocNameName">
                    <span> Tax Rate </span>
                    <br />
                    <input name="DocNameName" id="_Taxratename" type="text" data-val="true" maxlength="8" value=""
                            class="fstextbox  required " style="display: block;" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> Allow Rate Change</span>
                <br />
                <input type="radio" id="Yes" value="Y" checked="checked" name="Radiotypename2">
                Yes &nbsp;
                <input type="radio" id="No" value="N" name="Radiotypename2">
                No
            </td>

        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span>Period From</span>
                <br />
                <input type="text"
                       name="cbfendate_id"
                       id="cbfendate_id"
                       maxlength="10"
                       class="fstextbox  required" />

            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span>Period To</span>
                <br />
                <input type="text"
                       name="cbfendate_id1"
                       id="cbfendate_id1"
                       maxlength="10"
                       class="fstextbox  required" />

            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> Active</span>
                <br />
                <input type="radio" id="Yes" value="Y" checked="checked" name="Radiotypename3">
                Yes &nbsp;
                <input type="radio" id="No" value="N" name="Radiotypename3">
                No
            </td>

        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px; text-align:center;">
                <button type="button" class="btn btn-primary" id="btnsave" value="Save" onclick="SAVE()" style="margin-top:20px;">
                <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Save</button>
                <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()" style="margin-top:20px;">
                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                </button>
                @*<input type="button" class="btn btn-primary" value="Save" onclick="SAVE()" />
            <input type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()" />*@
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        

        
        var objDate = new Date();
        var Presentyear = objDate.getFullYear();
        //$("#cbfendate_id").datepicker({ 
        //    yearRange: '1900:' + Presentyear,
        //    changeMonth: true,
        //    changeYear: true,
        //    maxDate: 'd',
        //    dateFormat: 'dd-mm-yy'
        //});
        //$("#cbfendate_id1").datepicker({
        //    yearRange: '1900:' + Presentyear,
        //    changeMonth: true,
        //    changeYear: true,
        //    maxDate: 'd',
        //    dateFormat: 'dd-mm-yy'
        //});
        
        //$("#cbfendate_id").datepicker({
        //    yearRange: '1900:' + Presentyear,
        //    numberOfMonths: 1,
        //    changeMonth: true,
        //    changeYear: true,
        //    maxDate: 'd',
        //    onSelect: function (selected) {

        //        $("#cbfendate_id1").datepicker("option", "minDate", selected)

        //    }

        //});

        $("#cbfendate_id").datepicker({
            yearRange: '1900:' + Presentyear,
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            maxDate: 'd',
            dateFormat: 'dd-mm-yy',
            onSelect: function (selected) {
                $("#cbfendate_id1").datepicker("option", "minDate", selected);
                ChangeFromDate();
            }
        });

        $("#cbfendate_id1").datepicker({
            changeYear: true,
            numberOfMonths: 1,
            changeMonth: true,
            dateFormat: 'dd-mm-yy',
            onSelect: function (selected) {
                $("#cbfendate_id").datepicker("option", "maxDate", selected);
                ChangeToDate();
            }
        });


        $("#taxname_gid").chosen({});
        $("#taxsubtype_gid").chosen();
        $("#taxname_gid_chosen,#taxsubtype_gid_chosen").css('width', '100%');

        //$("#cbfendate_id").datepicker({
        //    dateFormat: 'dd-mm-yy'
        //});
        //$("#cbfendate_id1").datepicker({
        //    dateFormat: 'dd-mm-yy'
        //});
        $("#btnsave").attr("disabled", true);

    //$("#_Taxratename").keypress(function (event) {

    //    return isNumber1(event);

    //});

        

    });

    function isEvent(evt) {
        return false;
    }
   function ChangeFromDate() {
        var txtDate = $("#cbfendate_id").val();
        if (txtDate.trim() != "") {
            var taxratenm = $("#_Taxratename").val();
            var dt = $('#cbfendate_id').val();
            var dt1 = $('#cbfendate_id1').val();
            var taxnamegid = $("#taxname_gid").val();
            var taxsubflag = $('input[name=Radiotypename1]:checked').val();
            if (taxsubflag == 'N') {
                if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "") {
                    $("#btnsave").attr("disabled", true);
                }
                else {
                    $("#btnsave").removeAttr('disabled');
                }
            }
            else {
                var taxsubname = $("#taxsubtype_gid").val();
                if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "" || taxsubname == "" || taxsubname == null) {
                    $("#btnsave").attr("disabled", true);
                }
                else {
                    $("#btnsave").removeAttr('disabled');
                }
            }

            $("#cbfendate_id").removeClass('required');
            $("#cbfendate_id").addClass('valid');
        }
        else {
            $("#cbfendate_id").removeClass('valid');
            $("#cbfendate_id").addClass('required');
        }
    }
   function ChangeToDate()
   {
        var txtDate = $("#cbfendate_id1").val();
        if (txtDate.trim() != "") {
            var taxratenm = $("#_Taxratename").val();
            var dt = $('#cbfendate_id').val();
            var dt1 = $('#cbfendate_id1').val();
            var taxnamegid = $("#taxname_gid").val();
            var taxsubflag = $('input[name=Radiotypename1]:checked').val();
            if (taxsubflag == 'N') {
                if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "") {
                    $("#btnsave").attr("disabled", true);
                }
                else {
                    $("#btnsave").removeAttr('disabled');
                }
            }
            else {
                var taxsubname = $("#taxsubtype_gid").val();
                if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "" || taxsubname == "" || taxsubname == null) {
                    $("#btnsave").attr("disabled", true);
                }
                else {
                    $("#btnsave").removeAttr('disabled');
                }
            }
            $("#cbfendate_id1").removeClass('required');
            $("#cbfendate_id1").addClass('valid');
        }
        else {
            $("#cbfendate_id1").removeClass('valid');
            $("#cbfendate_id1").addClass('required');
        }
   }
    
    $('#taxname_gid').change(function () {

        var ddlid = $(this).val();
  
        var expensen =
            {
                "taxrate_tax_gid": ddlid
            };
      
        $.ajax({
            url: '@Url.Action("Taxratesub", "IEM_TAX_RATE")',

            data: JSON.stringify(expensen),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                $("#taxsubtype_gid").empty();

                if (data.length > 0) {

                   // $("#taxsubtype_gid").append("<option value='0' >--Select Tax Sub Type--</option>");

                    for (var i = 0; i < data.length; i++) {
                        $('#taxsubtype_gid').attr('disabled', false);
                        $("#taxsubtype_gid").append("<option value=" + data[i].taxsub_gid + " >" + data[i].taxsub_name + "</option>");
                    }

                    $("#taxsubtype_gid").chosen({});
                    $("#taxsubtype_gid_chosen").css("width", "100%");
                    $("#taxsubtype_gid").trigger('chosen:updated');
                   // $("#taxsubtype_gid_chosen").css('display', 'block');
                }

                if (data.length == 0) {
                    $("#taxsubtype_gid").append("<option value='0' >--Select Tax Sub Type--</option>");
                    $('#taxsubtype_gid').attr('disabled', true);
                    $("#taxsubtype_gid").trigger('chosen:updated');
                }
                if (data.length == null) {

                }
            },
            error: function (result) {
                alert("Error");
            }
        });
    });
    $("#taxname_gid").change(function () {
        var taxratenm = $("#_Taxratename").val();
        var dt = $('#cbfendate_id').val();
        var dt1 = $('#cbfendate_id1').val();
        var taxnamegid = $("#taxname_gid").val();
        var taxsubflag = $('input[name=Radiotypename1]:checked').val();
        if (taxsubflag == 'N') {
            if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "") {
                $("#btnsave").attr("disabled", true);
            }
            else {
                $("#btnsave").removeAttr('disabled');
            }
        }
        else {
            var taxsubname = $("#taxsubtype_gid").val();

            if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "" || taxsubname == "" || taxsubname == null) {
                $("#btnsave").attr("disabled", true);
            }
            else {
                $("#btnsave").removeAttr('disabled');
            }
        }
    });
    $("#_Taxratename").keyup(function (event) {
        if (event.which >= 37 && event.which <= 40) {
            event.preventDefault();
        }

        var currentval = $(this).val();
        var testDecimal = testDecimals(currentval);
        if (testDecimal.length > 1) {
            currentval = currentval.slice(0, -1);
        }
        $(this).val(replaceCommas(currentval));

        var taxratenm = $("#_Taxratename").val(); 
        var dt = $('#cbfendate_id').val();
        var dt1 = $('#cbfendate_id1').val();       
        var taxnamegid = $("#taxname_gid").val();
        var taxsubflag = $('input[name=Radiotypename1]:checked').val();
        if (taxsubflag == 'N') {
            if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "") {
                $("#btnsave").attr("disabled", true);
            }
            else {
                $("#btnsave").removeAttr('disabled');
            }
        }
        else {
            var taxsubname = $("#taxsubtype_gid").val();

            if (taxnamegid == "" || taxratenm == "" || dt == "" || dt1 == "" || taxsubname == "" || taxsubname == null) {
                $("#btnsave").attr("disabled", true);
            }
            else {
                $("#btnsave").removeAttr('disabled');
            }
        }

        var txtSupplierName = $("#_Taxratename").val();
        if (txtSupplierName.trim() != "") {
            $("#_Taxratename").removeClass('required');
            $("#_Taxratename").addClass('valid');
        }
        else {
            $("#_Taxratename").removeClass('valid');
            $("#_Taxratename").addClass('required');
        }
    });

    $('input[name=Radiotypename1]').change(function () {

        if ($('input[name=Radiotypename1]:checked').val() == 'Y') {

            $('#taxsubtype_gid').attr('disabled', false);
            $("#taxsubtype_gid").trigger('chosen:updated');
            var ddlid = $("#taxname_gid").val();

            var expensen =
                {
                    "taxrate_tax_gid": ddlid
                };

            $.ajax({
                url: '@Url.Action("Taxratesub", "IEM_TAX_RATE")',

                data: JSON.stringify(expensen),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',

                success: function (data) {

                    $("#taxsubtype_gid").empty();

                    if (data.length > 0) {
                      //  $("#taxsubtype_gid").append("<option value='0' >--Select Tax Sub Type--</option>");

                        for (var i = 0; i < data.length; i++) {
                            $('#taxsubtype_gid').attr('disabled', false);

                            $("#taxsubtype_gid").append("<option value=" + data[i].taxsub_gid + " >" + data[i].taxsub_name + "</option>");
                        }
                        $("#taxsubtype_gid").trigger('chosen:updated');
                    }

                    if (data.length == 0) {
                        $("#taxsubtype_gid").append("<option value='0' >--Select Tax Sub Type--</option>");
                        $('#taxsubtype_gid').attr('disabled', true);
                        $("#taxsubtype_gid").trigger('chosen:updated');
                    }
                    if (data.length == null) {

                    }
                },
                error: function (result) {
                    alert("Error");
                }
            });
        }
        else {
            $("#taxsubtype_gid").empty();
            $('#taxsubtype_gid').attr('disabled', true);
            $("#taxsubtype_gid").trigger('chosen:updated');
           
        }
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function SAVE() {
      
        var taxratenm = $("#_Taxratename").val().replace(",", "");;
        if (taxratenm <= 0) {
            jAlert("TAX Rate Should be Greater than Zero !", "Information");
            return false;
        }
        var taxsubflag = $('input[name=Radiotypename1]:checked').val();
        if (taxsubflag == 'N') {
            var taxsubname = 0;
        }
        else {
            var taxsubname = $("#taxsubtype_gid").val();
        }
        var taxratechange = $('input[name=Radiotypename2]:checked').val();
        var dt = $('#cbfendate_id').val();
        var dt1 = $('#cbfendate_id1').val();
        var avtive = $('input[name=Radiotypename3]:checked').val();
        var taxnamegid = $("#taxname_gid").val();
        if (taxnamegid == "" ) {
            alert(" Tax Name Required !");
            return false;
        }
        if (taxratenm == "") {
            alert(" Tax Rate Required !");
            return false;
        }
        if (dt == "" || dt1=="") {
            alert(" Period From And To Required !");
            return false;
        }
        if (taxnamegid != "" && taxratenm != "" && dt != "" && dt1 != "") {
            var taxModel1 = {
                "taxrate_taxsubtype_flag": taxsubflag, "taxrate_taxsubtype_gid": taxsubname,
                "taxrate_rate": taxratenm, "taxrate_change_flag": taxratechange, "taxrate_period_from": dt,
                "taxrate_period_to": dt1, "taxrate_active_flag": avtive, "taxrate_tax_gid": taxnamegid

            };
        }
            $.post('../IEM_TAX_RATE/Createtaxrate', taxModel1,
                 function (data) {
                     if (data != "success") {
                        jAlert(data,"Information");
                         return false;
                     }
                     else {
                         jAlert('Record inserted successfully !', "Information", function (r) {
                             if (r == true) {


                                 window.parent.jQuery('#ForPartialView').dialog('close');
                                 location = '../IEM_TAX_RATE/Index';
                             }
                         });
                         
                     }

                 }

            , 'json');
        

    }
    function GotoIndex() {

        window.parent.jQuery('#ForPartialView').dialog('close');
    }
    </script>
      