<div style="padding-right: 10px;width:100%;">
    <div align="right" style="padding-bottom:5px;">
        <button type="button" id="btnpaymentinvo" disabled="disabled" value="Add Payment" onclick="NewPaymentsupplier()" class="btn btn-primary">
            <span style="color:white;font-size: 12px;" class="glyphicon glyphicon-plus"></span> New Payment
        </button>
    </div>
    <div>
        @Html.Partial("_SupplierPaymentGrid")
    </div>
</div>
<div id="ForPartialViewEmpPaymentmew"></div>
<div id="ForPartialViewPaymentmodepopupsc"></div>
<script type="text/javascript">
    var objDialogPaymentmodepopupc;
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        objDialogPaymentmodepopupc = $("[id$='ForPartialViewPaymentmodepopupsc']");
        objDialogPaymentmodepopupc.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            title: 'PPX ',
            width: 950,
            height: 400
        });
    });
    var objDialogPayment;
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        objDialogPayment = $("[id$='ForPartialViewEmpPaymentmew']");
        objDialogPayment.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 680,
            height: 330
        });
    });
    function NewPaymentsupplier() {
        var url = '@Url.Action("_supplierPaymentCreate", "SupplierInvoiceNewmanual")?' + new Date().getTime();
        objDialogPayment.load(url);
        objDialogPayment.dialog({ title: 'New Payment' });
        objDialogPayment.dialog("open");
    }
    function EmpPaymentEdit(id) {
        var urlE = '@Url.Action("_SupplierPaymentEdit", "SupplierInvoiceNewmanual")?id=' + id + '&viewfor=edit&?' + new Date().getTime();;
        objDialogPayment.load(urlE);
        objDialogPayment.dialog({ title: 'Edit Payment' });
        objDialogPayment.dialog("open");
    }
    function EmpPaymentView(id) {
        var urlEV = '@Url.Action("_SupplierPaymentEdit", "SupplierInvoiceNewmanual")?id=' + id + '&viewfor=view&?' + new Date().getTime();;
        objDialogPayment.load(urlEV);
        objDialogPayment.dialog({ title: 'View Payment' });
        objDialogPayment.dialog("open");
    }
    function EmpPaymentDelete(id) {
        jConfirm("Do you want to delete Payment...? ", "Message", function (u) {
            if (u == true) {
                var EmpPaymentmodel = { "Paymentgid": id }
                $.post('../SupplierInvoiceNewmanual/EmpPaymentDelete', EmpPaymentmodel,
              function (data) {
                  if (data == 0) { location = location.href; } else {
                      jAlert("Deleted Successfully.", "Message");
                      var url = '@Url.Action("_SupplierPaymentGrid", "SupplierInvoiceNewmanual")?' + new Date().getTime();
                      $("#wgempPaymensupplier").load(url);
                      objDialogPayment.dialog("close"); window.parent.jQuery('#ForPartialViewEmpPaymentmew').dialog('close');
                  }
              }, 'json');
            }
        });
    }
</script>