@model  IEnumerable<IEM.Areas.EOW.Models.TravelClassEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<b>
    <span style="color: rgb(52, 108, 196);">Other Systems Integrations</span>
</b>
<br />
<br />
@using (Html.BeginForm())
{
    <div class="well">
                <table class="myTableStyleTabNew" style="margin-left:-4px;">
                    <tr>
                        <td style="vertical-align:middle">
                            <span style="font-size:14px;font-weight:bold">List of &nbsp;&nbsp;</span>
                        </td>
                        <td style="vertical-align:middle">

                            <select class="textboxStyle" id="SelectForm" style="width:200%">
                                <option value="">-Select-</option>
                                <option value="FC">FC</option>
                                <option value="CC">CC</option>
                                <option value="PRODUCT">PRODUCT</option>
                                <option value="GL">GL</option>
                                <option value="BRANCH">BRANCH</option>
                                <option value="EMPLOYEE">EMPLOYEE</option>
                            </select>
                        </td>
                    </tr>
                    
                </table>
            </div>

}
<div id="fc" style="display:none">
    @Html.Partial("FC")
</div>
<div id="cc" style="display:none">
    @Html.Partial("CC")
</div>
<div id="Product" style="display:none;width:100%" >
    @Html.Partial("Product")
</div>
<div id="gl" style="display:none">
    @Html.Partial("Gl")
</div>
<div id="Branch" style="display:none">
    @Html.Partial("Branch")
</div>
<div id="Employee" style="display:none">
    @Html.Partial("Employee")
</div>
<div id="ForPartialViewMode"></div>
<script>

    $("#SelectForm").change(function(){
        var value = $('#SelectForm option:selected').val();
        if (value == 'FC')
        {
            $("#fc").css("display", "");
            $("#cc").css("display", "none");
            $("#Product").css("display", "none");
            $("#gl").css("display", "none");
            $("#Branch").css("display", "none");
            $("#Employee").css("display", "none");
        }
        if (value == 'CC') {
            $("#fc").css("display", "none");
            $("#cc").css("display", "");
            $("#Product").css("display", "none");
            $("#gl").css("display", "none");
            $("#Branch").css("display", "none");
            $("#Employee").css("display", "none");
        }
        if (value == 'PRODUCT') {
            $("#fc").css("display", "none");
            $("#cc").css("display", "none");
            $("#Product").css("display", "");
            $("#gl").css("display", "none");
            $("#Branch").css("display", "none");
            $("#Employee").css("display", "none");
        }
        if (value == 'GL') {
            $("#fc").css("display", "none");
            $("#cc").css("display", "none");
            $("#Product").css("display", "none");
            $("#gl").css("display", "");
            $("#Branch").css("display", "none");
            $("#Employee").css("display", "none");
        }
        if (value == 'BRANCH') {
            $("#fc").css("display", "none");
            $("#cc").css("display", "none");
            $("#Product").css("display", "none");
            $("#gl").css("display", "none");
            $("#Branch").css("display", "");
            $("#Employee").css("display", "none");
        }
        if (value == 'EMPLOYEE') {
            $("#fc").css("display", "none");
            $("#cc").css("display", "none");
            $("#Product").css("display", "none");
            $("#gl").css("display", "none");
            $("#Branch").css("display", "none");
            $("#Employee").css("display", "");
        }
    });
</script>