@model IEM.Areas.FLEXIBUY.Models.PrSumEntity
@{
    ViewBag.Title = "PIPattach";

}
<div >
    <div>
        <div id="createsupattachment" class="panel panel-default">

            <table class="myTableStyleTab" align="center">
                <tr>
                    <td style="padding:10px;">
                        <span>Document Date</span> <br />
                        <input type="text" name="_AttachDate" id="_AttachDate" value="@Model.attachmentDate" maxlength="10" title="Document Date" class="textboxStyle valid" disabled="disabled" />
                    </td>
                    <td style="padding:10px;">
                        <span>Select File</span><br />
                        @*<input type="file" name="UploadFile" id="txtUploadFile" multiple />*@
                        @Html.TextBoxFor(a => a.MyFile, new { @id = "fileuploadprq", @type = "file" })
                    </td>
                    <td style="padding:10px;">
                        <span>File Name</span> <br />
                        <input name="_AttachedFileName" readonly="readonly" id="_AttachedFileName" class="textboxStyle" title="File Name" type="text" value="@Model.attachName" />
                    </td>
                </tr>
                <tr>
                    <td  colspan="2">
                        <span>Description</span> <br />
                        <input name="_AttachDescription" width="200px" height="80px" id="_AttachDescription" class="textboxStyle" title="Description" type="text" value="@Model.attachmentDesc" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="btnSavePRAttachment" value="Save" name="command" onclick="SavePIPAttachment()" />
                        &nbsp;&nbsp;&nbsp;
                        <input type="button" class="btn btn-primary" id="btnclear" onclick="refresh()" name="command" value="Clear" />
                    </td>
                </tr>
                @*<tr>
                    <td colspan="4" style="text-align:right;padding-right:5%;">
                        <input type="button" class="btn btn-primary" id="btnSavePRAttachment" value="Save" name="command" onclick="SavePIPAttachment()" />
                        <input type="button" class="btn btn-primary" id="btnclear" onclick="refresh()" name="command" value="Clear" />
                        <input type="button" class="btn btn-primary" id="btnback" onclick="back()" name="command" value="Back" />
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        @Html.Partial("PIPattachgrid")
    </div>


</div>


<script src="~/Addons/file-upload/jquery.fileupload.js"></script>
<script src="~/Addons/file-upload/jquery.fileupload-ui.js"></script>
<script src="~/Addons/file-upload/jquery.iframe-transport.js"></script>
<script>
    function back() {
        objDialog4.dialog('close');
     //   $('#_AttachDate').hide();
    }
    function refresh() {
        $("#txtUploadFile").val("");
        $("#_AttachedFileName").val("");
        $("#_AttachDescription").val("");
       
    }

    $('#_AttachDate').datepicker({
        dateFormat: 'dd-mm-yy'
    });
    var today = new Date();
    $('#_AttachDate').val($.datepicker.formatDate('dd-mm-yy', today));
    //$('#txtUploadFile').on('change', function (e) {
    //    var files = e.target.files;
    //    if (files.length > 0) {
    //        if (window.FormData !== undefined) {
    //            var data = new FormData();
    //            for (var x = 0; x < files.length; x++) {
    //                alert(files[x].name34);
    //                data.append("temp_" + x, files[x]);
    //            }
    //            var fname = $("#_AttachedFileName").val();
    //            $.ajax({
    //                type: "POST",
    //                url: '../../PIPInputsOnPRQuotation/UploadedFilesPIP/?fname=' + fname,
    //                contentType: false,
    //                processData: false,
    //                data: data,
    //                success: function (result) {

    //                    $("#_AttachedFileName").val(result);
    //                },
    //                error: function (xhr, status, p3, p4) {
    //                    var err = "Error " + " " + status + " " + p3 + " " + p4;
    //                    if (xhr.responseText && xhr.responseText[0] == "{")
    //                        err = JSON.parse(xhr.responseText).Message;
    //                    console.log(err);
    //                }
    //            });
    //        } else {
    //            alert("This browser doesn't support HTML5 file uploads!");
    //        }
    //    }
    //});

    function SavePIPAttachment() {

        var AttachDate = $("#_AttachDate").val();
        var AttachFileName = $("#_AttachedFileName").val();
        var AttachDescription = $("#_AttachDescription").val();
      //  $('#_AttachDate').hide();
        //if (AttachDescription == null || AttachDescription == "") {
        //    jAlert("Please enter description!", "Error");
        //    return false;
        //}

        var attachmodel = {
            "attachName": AttachFileName,
            "attachmentDesc": AttachDescription,
            "attachmentDate": AttachDate
        }
        $.ajax({
            url: '@Url.Action("PIPattachgrid", "PIPInputsOnPRQuotation")?' + new Date().getTime(),
            type: 'POST',
            data: attachmodel,
            success: function (data) {
                if (data == 0) {
                    jAlert("Error Occured", "Error", function () {
                        return false;
                    });
                    return false;
                }
                else {
                    $.ajax({
                        url: '@Url.Action("PIPattachgrid", "PIPInputsOnPRQuotation")?' + new Date().getTime(),
                        type: 'GET',

                        success: function (data) {
                            if (data == 0) {
                                jAlert("Error Occured", "Error", function () {
                                    return false;
                                });
                                return false;
                            }
                            else {
                                $("#gridattachmentpip").empty().append(data);
                            }
                        },
                        error: function () {
                            jAlert("something seems wrong");
                        }
                    });
                }
                @*$.post('@Url.Action("PIPattachgrid", "PIPInputsOnPRQuotation")', attachmodel,
        function (data) {

            $('#gridattachment').load('@Url.Action("PIPattachgrid", "PIPInputsOnPRQuotation")?' + new Date().getTime()); //jAlert("Inserted Successfully", "Message"); //refresh();
            $('#gridattachment').empty().append(data);
            $.ajax({
                url: '@Url.Action("PIPattachgrid", "PIPInputsOnPRQuotation")?' + new Date().getTime(),
                type: 'GET',
                success: function (data) {
                    // alert(data);
                    $('#gridattachment').empty().append(data);
                }
                
            });

        }, 'json');*@
            }
        });
         $("#txtUploadFile").val("");
        $("#_AttachedFileName").val("");
        $("#_AttachDescription").val("");
    }


    $(document).ready(function () {

       
        initAutoFileUpload();
       
    });
    function initAutoFileUpload() {
        'use strict';

        $('#fileuploadprq').fileupload({

            autoUpload: true,
            url: '@Url.Action("UploadedFilesPIP", "PIPInputsOnPRQuotation")?' + new Date().getTime(),
            dataType: 'json',
            add: function (e, data) {
                var jqXHR = data.submit()
                    .success(function (data, textStatus, jqXHR) {
                        if (data.isUploaded) {

                        }
                        else {

                        }
                        // alert(data.message);
                        //  $("#wgAttachmentsupplier").load('../SupplierActivationQueue/SupplierAttachments?' + new Date().getTime());
                        $("#_AttachedFileName").val(data.message);
                    })
                    .error(function (data, textStatus, errorThrown) {
                        if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
                            alert(textStatus + errorThrown + data);
                        }
                    });
            },
            fail: function (event, data) {
                if (data.files[0].error) {
                    alert(data.files[0].error);
                }
            }
        });
    }

</script>