@model IEM.Areas.FLEXIBUY.Models.PrSumEntity
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "pipinputsonprquotation1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowNum = 0;

    var grid = new WebGrid(source: Model.lstattfile, canSort: true, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "wgProductList", ajaxUpdateCallback: "D()", selectionFieldName: "SelectedRow");
    grid.Pager(WebGridPagerModes.All);
}


<h2>PIP Inputs on PR Quotation</h2>
@using (Html.BeginForm("pipinputsonprquotation1", "PIPInputsOnPRQuotation", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmID" }))
{
<div class="well">
    <div class="panel panel-default">

        <table class="myTableStyleTabNew" align="center">
            <tr>

                <td>
                    <div>
                        <span>PR Ref No.</span>
                        <br />

                        <div>
                        
                            @Html.TextBoxFor(a => a.prHead.prRefNo, new { @class = "textboxStyle ", @id = "prrefno", @readonly = "true" })
                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>PR Date</span>
                        <br />
                        <div>
                         
                            @Html.TextBoxFor(a => a.prHead.prDate, new { @class = "textboxStyle ", @id = "prdate", @readonly = "true" })

                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>

                    <div>

                        <span>PR Raised by</span>
                        <br />

                        <div>
                            @Html.TextBoxFor(a => a.prHead.prRaisedBy, new { @class = "textboxStyle ", @id = "prraisedby", @readonly = "true" })
                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>PR Description</span>
                        <br />
                        <div>
                    
                            @Html.TextBoxFor(a => a.prHead.prDesc, new { @class = "textboxStyle ", @id = "prdesc", @readonly = "true" })

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>FCCC</span>
                        <br />

                        <div>
                     
                            @Html.TextBoxFor(a => a.prHead.prFcc, new { @class = "textboxStyle ", @id = "prfcc", @readonly = "true" })

                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>Branch</span>
                        <br />
                        <div>
                         
                            @Html.TextBoxFor(a => a.prHead.prBranch, new { @class = "textboxStyle ", @id = "branch", @readonly = "true" })
                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>Request by</span>
                        <br />
                        <div>
                      
                            @Html.TextBoxFor(a => a.prHead.prReqFor, new { @class = "textboxStyle ", @id = "reqfor", @readonly = "true" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div>
            <span>Request for</span>
            <br />
            <table>
                <tr>
                    <td>
                        @Html.HiddenFor(i => i.FilesToBeUploaded)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="uploaders">
                            <input type="file" id="fileToUpload" name="fileUpload" multiple="multiple" style="float: left;" />
                            <br />
                            <span id="spnFile" style="float: left; color: #FF0000"></span>
                            @Html.ValidationMessage("File")
                            @Html.Hidden("hdnFileUpload")
                        </div>
                    </td>
                    <td width="15px"></td>
                    <td>
                        <div>
                            <span>Attachment Description</span>
                            <br />

                        </div>
                        <div>
                          @*<input type="text"
                                   name="txtattachdesc"
                                   class="textboxStyle required"
                                   style="display:block"
                                   maxlength="264"
                                   id="attachdesc" value="" />*@
                          @Html.TextBoxFor(a => a.attachmentDesc, new  { @class = "textboxStyle textboxStyle"})
                        </div>
                    </td>
                    <td width="15px"></td>
                    <td>
                        <div>
                            <span>Attachment Date</span>
                            <br />

                        </div>
                        <div>
                           @*<input type="text"
                                   name="txtattachdate"
                                   id="txtattachdate"
                                   value=""
                                   class="textboxStyle required"
                                   style="display:block"
                                   maxlength="10" />*@
                         @Html.TextBoxFor(a => a.attachmentDate, new { @class = "textboxStyle textboxStyle", @id = "txtattachdate" })
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="control-section" style="padding: 0px;">
                            <div id="selectedFiles"></div>
                        </div>
                    </td>
                    </tr>
          
            </table>
          
        </div>

        <label id="attachdate"  hidden="hidden" >@ViewBag.date</label>
        <label id="attachdesc" hidden="hidden">@ViewBag.description</label>

        <div style="padding:10px 10px 0px 0px;text-align:right;">

            <input class="btn btn-primary" type="submit" value="Upload" />
            @*<input class="btn btn-primary upload" type="button" value="Upload" id="btnupload" onclick="upload()" />*@

            <input class="btn btn-warning" type="button" value="Back" onclick="back()" />

        </div>
        <div class="panel panel-default" id="griddiv">
            <div>
             
                @functions {
                    public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                    {
                        return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                            grid.SortDirection == SortDirection.Ascending ? "▲" :
                            "▼" : string.Empty);
                    }
                }

                @grid.GetHtml(
         tableStyle: "table table-bordered table-hover table-responsive",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
                        //Here I am going to add checkbox column
           //grid.Column("SrNo", format: a => rowNum = rowNum + 1, canSort: false, style: "col-sm-1"),
                   grid.Column(header: "Document Name",format: @<text>
                <input type="text" id="lblDocumentName" value="@item.documentName" /></text>,canSort: false, style: "col-sm-1"),
                   grid.Column(header: "Attachment Date",format: @<text>
                <label id="lblAttachmentDate">@item.attachmentDate</label> </text>,canSort: false, style: "col-sm-1"),
                     grid.Column(header: "Document Description",format: @<text>
                <label id="lblDocumentDesc">@item.attachmentDesc</label> </text>,canSort: false,style: "col-sm-1"),
       grid.Column(header: "Action", format: @<text>
                 
               @Html.Raw("<input type='button'  ' id=" + item.documentName + " value='View' class='btn btn-link' onclick='show(id)'/> ")
                  
    </text>, canSort: false, style: "col-sm-1")))
                <label>Page: @(grid.PageIndex + 1) of @grid.PageCount</label>
            </div>
        </div>

    </div>



</div>
}

@*<div class="well">
    <div id="datetimepicker1" class="input-append date">
        <input data-format="dd/MM/yyyy hh:mm:ss" type="text"/>
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
        </span>
    </div>
</div>*@



<script>
    //$(function () {
    //    $('#datetimepicker1').datetimepicker({
    //        language: 'pt-BR'
    //    });
    //});

    //$("#btnupload").click(function upload() {
    //$(".upload").on('click',function upload() {
    //    var attachdate = $("#txtattachate").val();
    //    var attachdesc = tr.find("#txtattachDesc").val();
    //    alert("sai");
    //    var obj =
    // {

    //     "attachmentdate": attachdate,
    //     "attachmentdesc": attachdesc,


    // }
    //    $.ajax({
    //        url: "/FLEXIBUY/PIPInputsOnPRQuotation/pipinputsonprquotation1/",
    //        type: 'POST',
    //        contentType: "application/json; charset=utf-8",
    //        data: obj,
    //        success: function (data) {

    //            $("#griddiv").load('/FLEXIBUY/PIPInputsOnPRQuotation/pipinputsonprquotation1/');
    //        },
    //        error: function () {
    //            alert("something seems wrong");
    //        }

    //    });

    //});

    function back() {
        location = '@Url.Action("PipInputsOnPr1", "PIPInputsOnPR")?id=@Model.prHead.prRefNo'+'&'+ new Date().getTime();
    }

            var d = new Date();
            var strDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
            var files;
            var storedFiles = [];
            var upc = 0;



            $(function () {
              
                $(":file").attr('title', '  ');
                var $loading = $('#loadingDiv').hide();

                $("input[id^='fileToUpload']").change(function (e) {
                    doReCreate(e);
                });

                selDiv = $("#selectedFiles");
              
            });

            function show(id)
            {
              
              //  window.open("//192.168.0.232/images/" + id);
  
                }

           

            function doReCreate(e) {
                
                upc = upc + 1;
                handleFileSelect(e);
                  
                $("input[id^='fileToUpload']").hide();

                $('<input>').attr({
                    type: 'file',
                    multiple: 'multiple',
                    id: 'fileToUpload' + upc,
                    class: 'fUpload',
                    name: 'fileUpload',
                    style: 'float: left',
                    title: '  ',
                    onchange: "doReCreate(event)"

                }).appendTo('#uploaders');
            }


            function handleFileSelect(e) {

                //selDiv.innerHTML = ""; storedFiles = [];
                // alert('welcome');
                selDiv = document.querySelector("#selectedFiles");
                //alert(selDiv);
                if (!e.target.files) return;

                //selDiv.innerHTML = "";
                files = e.target.files;
                //  alert(files);

                for (var i = 0; i < files.length; i++) {
                     //alert('yes');
                    //if (i == 0) { selDiv.innerHTML = ""; storedFiles = []; }
                    var f = files[i];
                    //alert(f.name);
                    //selDiv.innerHTML += "<div>" + f.name + "<a onclick='removeAtt(this)'> Delete </a></div>";
                    storedFiles.push(f.name);
                    var sl = i + 1;
                    //alert(f.name);
                    var rowCount = 1;
                    //function addMoreRows(files) {
                    rowCount++;
                    var recRow = '<div id="rowCount' + sl + '"><tr><td><input name="" value="' + f.name + '" type="text"  maxlength="120" style="margin: 4px 5px 0 5px;"/></td><td><input name="" value="' + strDate + '" type="text" maxlength="120" style="margin: 4px 10px 0 0px;"/></td></tr> <a href="javascript:void(0);" onclick="removeRow(' + sl + ');">Delete</a></div>';
                    jQuery('#selectedFiles').append(recRow);
                }
                $('#@Html.IdFor(i => i.FilesToBeUploaded)').val(storedFiles);
            }

            function removeRow(removeNum) {
                // alert('hai');
               
                jQuery('#rowCount' + removeNum).remove();

            }
           
            function openRow(img) {
                       
                        //alert(removeNum);
                        //jQuery('#rowCount' + removeNum).remove();
                       // window.open("//192.168.0.232/imgaes/" + img);

                    }
            function removeAtt(t) {

                var serEle = $(t).parent().text().slice(0, -3);
                var index = storedFiles.indexOf(serEle);
                if (index !== -1) {
                    storedFiles.splice(index, 1);
                }
                $(t).parent().remove();

                $('#@Html.IdFor(i => i.FilesToBeUploaded)').val(storedFiles);

            }


            $(document).ready(function () {
                function dateformat() {
                    dateformat: 'dd-mm-yyyy';
                }
                $("#txtattachdate").datepicker({

                    dateFormat: 'dd-mm-yy',
                    maxDate: new Date()
                });

            });
            //if ($("#attachmentDesc").val() == null) {
            //    alert($("#attachDate").val());
            //    alert("enter");
            //}
</script>

