@model IEM.Areas.MASTERS.Models.iem_mst_hotel
@{
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
    }
    else if (viewfor == "delete")
    {
        ViewBag.viewmode = "disabled";
        ViewBag.deletemode = "disabled";
    }

}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table class="myTableStyle">
        <tr>
            <td colspan="2" style="display:none;">
                <input name="CategoryID" id="txthotelgid" type="text" placeholder="Category ID" data-val="true" value="@Model.hoteltype_gid" />
            </td>
        </tr>

        <tr>
            <td>
                <div id="txtCategoryName">
                    <span> Hotel Type </span>
                    <input name="CategoryeName" id="txtedithotelname" maxlength="32" style="width:250px;height: 30px;" type="text" class="textboxStyle valid" data-val="true" value="@Model.hoteltype_name" @ViewBag.viewmode />
                </div>
            </td>
        </tr>
    </table>

    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td style="padding-top:15px;">
                <div>
                    @if (@ViewBag.viewmode == "")
                    {
                        <button type="button" id="_save" value="Save" class="btn btn-primary" onclick="Update()"><span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save</button>
                    }
                    @if (@ViewBag.deletemode == "disabled")
                    {
                        <button type="button" value="Delete" class="btn btn-danger" onclick="DeleteType()"><span style="color:white;" class="glyphicon glyphicon-trash"></span> Delete</button>
                    }
                </div>
            </td>
            <td style="padding-top:15px;">
                <div>
                    @if (@ViewBag.viewmode == "" || @ViewBag.deletemode == "disabled")
                    {
                        <button type="button" value="Cancel" class="btn btn-warning" onclick="goToIndex()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                    }
                    else if (@ViewBag.viewmode == "disabled")
                    {
                        <button type="button" value="Cancel" class="btn btn-warning" onclick="goToIndex()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Close</button>
                    }
                </div>
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#txtedithotelname").focus();
        $("#txtedithotelname").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#txtedithotelname").keyup(function () {
            var txtSupplierName = $("#txtedithotelname").val();
            if (txtSupplierName.trim() != "") {
                $("#txtedithotelname").removeClass('required');
                $("#txtedithotelname").addClass('valid');
                CheckFieldsHeader();
            }
            else {
                $("#txtedithotelname").removeClass('valid');
                $("#txtedithotelname").addClass('required');
                CheckFieldsHeader();
            }
        });
    });
</script>
<script type="text/javascript">
    function Update() {

        var hoteltype = $("#txtedithotelname").val();
        var hotelgid = $("#txthotelgid").val();
     
        var CategoryModel = { "hoteltype_gid": hotelgid, "hoteltype_name": hoteltype };
            $.post('../IEM_MST_HOTELTYPE/UpdateHotelDetails', CategoryModel,
                function (data) {
                    if (data != "success") {
                        jAlert(data, "Information", function (r) {
                            if (r == true) {
                                return false;
                            }
                        });
                    }
                    else {
                        jAlert("Record Updated Successfully !", "Information", function (r) {
                            if (r == true) {
                                location = '../IEM_MST_HOTELTYPE/Index';
                            }
                        });

                    }
                }

            , 'json');
        }

    function DeleteType() {
        var hotelgid = $("#txthotelgid").val();
        jConfirm("Do you want to delete this Courier ? ", "Delete Courier", function (j) {
            if (j == true) {
                var model = { "hoteltype_gid": hotelgid }
                $.post('../IEM_MST_HOTELTYPE/DeleteHotel', model,
                     function (data) {
                         if (data = "success") {
                             jAlert("Record Deleted Successfully!!!", "Information", function (r) {
                                 if (r = true) { location = '../IEM_MST_HOTELTYPE/Index'; }
                             });
                         }
                     }, 'json');
            }
        });
    }
    $(".ui-icon-closethick").click(function () {
        $('#gridhoteltype').find('tr').css('background', 'none');
    });

    function goToIndex() {
        $('#gridhoteltype').find('tr').css('background', 'none');
        window.parent.jQuery('#ForPartialViewForhotel').dialog('close');
    }

        function CheckFieldsHeader() {
            var valu = $('#txtedithotelname').val();
            var ErrCount = 0;
            if ($("#txtedithotelname").val().trim() == "" || $("#txtedithotelname").val() == null)
            {
                ErrCount = 1;
            }
            if (ErrCount == 0) {
                $("#_save").removeAttr('disabled');
            }
            else {
                $("#_save").attr('disabled', 'disabled');
            }
        }

</script>
