@model IEM.Areas.FLEXIBUY.Models.PrSumEntity
@{
    ViewBag.Title = "clonePRattach";

}

<div id="createsupattachment" class="borderstyle">

    <table class="myTableStyleTab" align="center">
        <tr>
            <td>
                <span>Document Date</span> <br />
                <input type="text" readonly="readonly" name="_AttachDate" id="_AttachDate" value="@System.DateTime.Now.ToShortDateString()" maxlength="10" title="Document Date" class="textboxStyle " />
            </td>
            <td>
                <form id="fileattch">
                    <span>Select File</span><br />
                    @*<input type="file" name="UploadFile" id="txtUploadFile" multiple />*@
                    @Html.TextBoxFor(a => a.MyFile, new { @id = "fileupload1", @type = "file" })
                </form>
            </td>
            <td>
                <span>File Name</span> <br />
                <input name="_AttachedFileName" readonly="readonly" id="_AttachedFileName" class="textboxStyle" title="File Name" type="text" value="@Model.attachName" />
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <span>Description</span> <br />
                <input name="_AttachDescription" id="_AttachDescription" class="textboxStyle" title="Description" type="text" value="@Model.attachmentDesc" />
            </td>
            <td >
                <input type="button" class="btn btn-primary" id="btnSavePRAttachment" value="Save" name="command" onclick="SavePRAttachment()" />

                <input type="button" class="btn btn-primary" id="btnclear" onclick="refresh()" name="command" value="Clear" />
            </td>
        </tr>
        @*<tr>
            <td colspan="4" style="text-align:right;padding-right:5%;">
                <input type="button" class="btn btn-primary" id="btnSavePRAttachment" value="Save" name="command" onclick="SavePRAttachment()" />
                <input type="button" class="btn btn-primary" id="btnclear" onclick="refresh()" name="command" value="Clear" />
                <input type="button" class="btn btn-primary" id="btnback" onclick="back()" name="command" value="Back" />
            </td>
        </tr>*@
    </table>
    <div>
        @Html.Partial("clonePRattachgrid")
    </div>

</div>

<script src="~/Addons/file-upload/jquery.fileupload.js"></script>
<script src="~/Addons/file-upload/jquery.fileupload-ui.js"></script>
<script src="~/Addons/file-upload/jquery.iframe-transport.js"></script>
<script>
    function back() {
        objDialog8.dialog('close');

    }
    function refresh() {
        $("#txtUploadFile").val("");
        $("#_AttachedFileName").val("");
        $("#_AttachDescription").val("");
    }

    //$('#_AttachDate').datepicker({
    //    dateFormat: 'dd-mm-yy'
    //});
    //$('#txtUploadFile').on('change', function (e) {
    //    var files = e.target.files;
    //    if (files.length > 0) {
    //        if (window.FormData !== undefined) {
    //            var data = new FormData();
    //            for (var x = 0; x < files.length; x++) {
    //                alert(files[x].name34);
    //                data.append("temp_" + x, files[x]);
    //            }
    //            var fname = $("#_AttachedFileName").val();
    //            $.ajax({
    //                type: "POST",
    //                url: '../../PRSummary/UploadedFiles/?fname=' + fname,
    //                contentType: false,
    //                processData: false,
    //                data: data,
    //                success: function (result) {

    //                    $("#_AttachedFileName").val(result);
    //                },
    //                error: function (xhr, status, p3, p4) {
    //                    var err = "Error " + " " + status + " " + p3 + " " + p4;
    //                    if (xhr.responseText && xhr.responseText[0] == "{")
    //                        err = JSON.parse(xhr.responseText).Message;
    //                    console.log(err);
    //                }
    //            });
    //        } else {
    //            alert("This browser doesn't support HTML5 file uploads!");
    //        }
    //    }
    //});

   function SavePRAttachment() {

        var AttachDate = $("#_AttachDate").val();
        var AttachFileName = $("#_AttachedFileName").val();
        var AttachDescription = $("#_AttachDescription").val();

        if (AttachDescription == null || AttachDescription == "") {
            jAlert("Please enter description!", "Error");
            return false;
        }

        var attachmodel = {
            "attachName": AttachFileName,
            "attachmentDesc": AttachDescription,
            "attachmentDate": AttachDate
        }

        $.post('@Url.Action("clonePRattachgrid","PRSummary")', attachmodel,
        function (data) {
            //$('#gridattachment').empty().append();
            $('#gridattachment').load('@Url.Action("clonePRattachgrid","PRSummary")?' + new Date().getTime()); jAlert("Inserted Successfully", "Message"); refresh();

        }, 'json');
    }
   var jqXHRData;

   $(document).ready(function () {

       //alert("hi");
       initAutoFileUpload();
   });
   function initAutoFileUpload() {
       'use strict';
       //alert("hi");
       $('#fileupload1').fileupload({

           autoUpload: true,
           url: '@Url.Action("UploadedFilesNew", "PRSummary")?' + new Date().getTime(),
           dataType: 'json',
           add: function (e, data) {
               var jqXHR = data.submit()
                   .success(function (data, textStatus, jqXHR) {
                       if (data.isUploaded) {

                       }
                       else {

                       }
                       //alert(data.message);
                       //  $("#gridattachment").load('../PRRaiser/PRattachgrid?' + new Date().getTime());

                       $("#_AttachedFileName").val(data.message);
                   })
                   .error(function (data, textStatus, errorThrown) {
                       if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
                           alert(textStatus + errorThrown + data);
                       }
                   });
           },
           fail: function (event, data) {
               if (data.files[0].error) {
                   alert(data.files[0].error);
               }
           }
       });
   }
</script>