@model IEM.Areas.FLEXIBUY.Models.PrSumEntity
@using IEM.Areas.FLEXIBUY.Models
@using IEM.Common

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

@{  
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid();
    int rowNum = 0;
    if (Session["FlexiDash"] != null)
    {
        flexibuydashboard dash = new flexibuydashboard();
        List<flexibuydashboard> lst = new List<flexibuydashboard>();
        lst = (List<flexibuydashboard>)Session["FlexiDash"];
        //grid = new WebGrid(lst, canSort: true, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid", selectionFieldName: "SelectedRow");
        //grid.Pager(WebGridPagerModes.All);
        grid = new WebGrid(lst, canPage: false, canSort: false);
    } else {
        //grid = new WebGrid(source: Model.lstprSum, canSort: true, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid", selectionFieldName: "SelectedRow");
        //grid.Pager(WebGridPagerModes.All);
        grid = new WebGrid(source: Model.lstprSum, canPage: false, canSort: false);
    }
    CmnFunctions objCmnFunctions = new CmnFunctions();
}
<!--<head>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           $("#")
        });
    </script>
   /*<script type="text/javascript">
            $(document).ready(function () {
                function add() {
                    if ($(this).val() === '') {
                        $(this).val($(this).attr('placeholder')).addClass('placeholder');
                    }
                }
                function remove() {
                    if ($(this).val() === $(this).attr('placeholder')) {
                        $(this).val('').removeClass('placeholder');
                    }
                }
                if (!('placeholder' in $('<input>')[0])) {

                    $('input[placeholder], textarea[placeholder]').blur(add).focus(remove).each(add);

                    $('form').submit(function () {
                        $(this).find('input[placeholder], textarea[placeholder]').each(remove);
                    });
                }
            });
        </script>*/
    <style>
        .tblstyle tr td {
            padding: 10px;
        }
    </style>
</head>-->

<div class="pageHeadingLayout">
    <span class="pageHeading">PR Summary</span>
</div>
@using (Html.BeginForm())
{
    <div class="well">
            @*<table class="myTableStyleTabNew" width="100%">
                <tr>
                    <td style="width:15%">
                        <span>PR Ref No</span>
                        <br>
                        <input type="text"
                               name="txtprrefno"
                               value="@ViewBag.txtprrefno"
                               class="textboxStyle"
                               style="display:block"
                               id="txtpr_refno"
                               placeholder="Enter PR Ref No" />
                    </td>
                    <td style="width:10%">
                        <span>PR Date</span>
                        <br>
                        <input type="text"
                               name="txtprdate"
                               id="txtprdate"
                               value="@ViewBag.txtprdate"
                               class="textboxStyle "
                               style="display:block"
                               maxlength="10"
                               placeholder="Enter PR Date" />
                    </td>
                    <td style="width:12%">
                        <span>Status</span>
                        <br />
                        @Html.DropDownList("dropStatus", Model.ddlStatus, "--Select Status--", new { @class = "textboxStyle ", @id = "dropStatus" })
                    </td>
                    <td style="width:12%">
                        <span>Request For</span>
                        <br />
                        @Html.DropDownList("dropRequestfor", Model.ddlRequestfor, "--Select Request--", new { @class = "textboxStyle ", @id = "dropRequestfor" })
                    </td>
                    <td style="width:21%">
                        <span> Branch</span>
                        <br>
                        @Html.DropDownList("dropBranch", Model.ddlBranch, "--Select Branch--", new { @class = "textboxStyle ", @id = "dropBranch" })
                    </td>
                    <td style="width:30%; vertical-align:bottom;">
                        <button onclick="Type()" class="btn btn-primary" name="command" type="submit" value="SEARCH" id='btnsearch'><span class="glyphicon glyphicon-search cursorpointer" style="color:white;"></span> Search</button>
                        <button id="btnrefresh" onclick="refresh()" name="command" value="refresh" class="btn btn-primary"><span class="glyphicon glyphicon-refresh cursorpointer" style="color:white;"></span> Refersh</button>
                        @if (@grid.TotalRowCount != 0)
                        {
                            <button class="btn btn-primary" id="reportDownloadExcel" value="Excel Download" name="command" onclick="Download()" type="button"><span style="color:white;" class="glyphicon glyphicon-export"></span> Excel</button>
                        }
                        <button class="btn btn-success"
                                type="button"
                                name="command"
                                value="Request PR" onclick="prraiser()">
                            <span class="glyphicon glyphicon-thumbs-up cursorpointer" style="color:white"> </span>
                            RAISE PR
                        </button>
                    </td>
                </tr>
            </table>*@
        <div style ="float:right">
            <button class="btn btn-success"
                    type="button"
                    name="command"
                    value="Request PR" onclick="prraiser()">
                <span class="glyphicon glyphicon-thumbs-up cursorpointer" style="color:white"> </span>
                RAISE PR
            </button>
</div>
      <br />
        <div id="gridContent" style="overflow-x:scroll; width:100%">

        @if (Session["FlexiDash"] != null)
        {
            @grid.GetHtml(
         tableStyle: "tableSmall table-bordered table-hover",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
                //Here I am going to add checkbox column
                grid.Column("Slno", format: a => rowNum = rowNum + 1, style: "slno"),
                //grid.Column("SNo", format: a => rowNum = rowNum + 1),
                grid.Column("prRefNo", "PR Ref No."),
                grid.Column("prDate", "PR Date"),
                grid.Column("prBranch", "Branch"),
                grid.Column("prDept", "Department"),
                grid.Column("prDesc", "Description"),
                grid.Column("prReqFor", "Request For"),
                grid.Column("prStatus", "Status"),
                grid.Column(header: "Action",
                     format: @<text>

                    @if (@item.prStatus == "Approved")
                    {
                        <a data-modal='' onclick="viewprnew(@item.Prgid)" title='view'>
                            <span class='glyphicon glyphicon-eye-open'></span>
                        </a>
                        <a class="glyphicon glyphicon-edit Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Edit"></a>
                        <a class="glyphicon glyphicon-trash Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Delete"></a>
                        @*@Html.Raw("<a data-modal='' href='../PrSummary/DeletePRDetails/" + item.prRefNo + "' id='" + item.prRefNo + "' title='Delete'>  <span name='command' class='glyphicon glyphicon-trash'></span> </a>")*@

                        <a data-modal='' onclick="cancelprnew(@item.Prgid)" title='Cancel'>
                            <span class='glyphicon glyphicon-remove'></span>
                        </a>
                        @*@Html.Raw("<a data-modal='' href='../PrSummary/EditPRDetails/" + item.prRefNo + "' id='" + item.prRefNo + "' title='Edit'> <span name='command' class='glyphicon glyphicon-edit'></span></a>")*@
                        <a data-modal='' onclick="cloneprnew(@item.Prgid)" title='Clone'>
                            <span class=' glyphicon glyphicon-copyright-mark'></span>
                        </a>
                    }
                    else
                    {
                        <a data-modal='' onclick="viewprnew(@item.Prgid)" title='view'>
                            <span class='glyphicon glyphicon-eye-open'></span>
                        </a>
                        @*@Html.Raw("<a data-modal='' href='../PrSummary/DeletePRDetails/" + item.prRefNo + "' id='" + item.prRefNo + "' title='Delete'>  <span name='command' class='glyphicon glyphicon-trash'></span> </a>")*@
                        @*@Html.Raw("<a data-modal='' href='../PrSummary/CancelPRDetails/" + item.prRefNo + "' id='" + item.prRefNo + "' title='Cancel'> <span name='command' class='glyphicon glyphicon-remove' ></span></a>")*@
                        //if (@item.prStatus == "Draft")
                        //{
                            <a data-modal='' onclick="editprnew(@item.Prgid)" title='Edit'>
                                <span class='glyphicon glyphicon-edit'></span>
                            </a>
                        @*}
                        else
                        {
                            <a class="glyphicon glyphicon-edit Color " style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Edit"></a>
                        }*@

                        //if (@item.prStatus == "Pending Approval-Supervisor" || @item.prStatus == "Reject")
                        if (@item.prStatus == "Inprocess" || @item.prStatus == "Rejected")
                        {
                            <a class="glyphicon glyphicon-trash Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Delete"></a>
                        }
                        else
                        {
                            <a data-modal='' onclick="deleteprnew(@item.Prgid)" title='view'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </a>

                        }
                        <a class="glyphicon glyphicon-remove Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Cancel"></a>

                        <a data-modal='' onclick="cloneprnew(@item.Prgid)" title='Clone'>
                            <span class=' glyphicon glyphicon-copyright-mark'></span>
                        </a>

                    }

                    <a title="Raise Tickets" id="@item.prRefNo" onclick="RaiseTicket(id)"> <span class="glyphicon glyphicon-question-sign"></span> </a>


                    </text>)))
        }
        else
        {
            @grid.GetHtml(
            tableStyle: "tableSmall table-bordered table-hover",
            htmlAttributes: new { id = "grid" },
            columns: grid.Columns
            (
                //Here I am going to add checkbox column
                    grid.Column("Slno", format: a => rowNum = rowNum + 1, style: "slno"),
                //grid.Column("SNo", format: a => rowNum = rowNum + 1),
                    grid.Column("prRefNo", "PR Ref No."),
                    grid.Column("prDate", "PR Date"),
                    grid.Column("prBranch", "Branch"),
                    grid.Column("prDept", "Department"),
                    grid.Column("prDesc", "Description"),
                    grid.Column("prReqFor", "Request For"),
                    grid.Column("prStatus", "Status"),
                    grid.Column(header: "Action",
                     format: @<text>

                        @if (@item.prStatus == "Approved")
                        {
                            <a data-modal='' onclick="viewprnew(@item.Prgid)" title='view'>
                                <span class='glyphicon glyphicon-eye-open'></span>
                            </a>
                            <a class="glyphicon glyphicon-edit Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Edit"></a>
                            <a class="glyphicon glyphicon-trash Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Delete"></a>
                            @*@Html.Raw("<a data-modal='' href='../PrSummary/DeletePRDetails/" + item.prRefNo + "' id='" + item.prRefNo + "' title='Delete'>  <span name='command' class='glyphicon glyphicon-trash'></span> </a>")*@

                            <a data-modal='' onclick="cancelprnew(@item.Prgid)" title='Cancel'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </a>
                            <a data-modal='' onclick="cloneprnew(@item.Prgid)" title='Clone'>
                                <span class=' glyphicon glyphicon-copyright-mark'></span>
                            </a>
                        }
                        else
                        {
                            <a data-modal='' onclick="viewprnew(@item.Prgid)" title='view'>
                                <span class='glyphicon glyphicon-eye-open'></span>
                            </a>
                            if (@item.prStatus == "Draft" || @item.prStatus == "Rejected")
                            {
                                <a data-modal='' onclick="editprnew(@item.Prgid)" title='Edit'>
                                    <span class='glyphicon glyphicon-edit'></span>
                                </a>
                            }
                            else
                            {
                                <a class="glyphicon glyphicon-edit Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Edit"></a>
                            }

                            if (@item.prStatus == "Inprocess")
                            {
                                <a class="glyphicon glyphicon-trash Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Delete"></a>
                            }
                            else
                            {
                                <a data-modal='' onclick="deleteprnew(@item.Prgid)" title='view'>
                                    <span class='glyphicon glyphicon-trash'></span>
                                </a>

                            }
                            <a class="glyphicon glyphicon-remove Color " disabled="disabled" style="border:none;box-shadow: none;background-color: rgb(255, 255, 255);" title="Cancel"></a>

                            <a data-modal='' onclick="cloneprnew(@item.Prgid)" title='Clone'>
                                <span class=' glyphicon glyphicon-copyright-mark'></span>
                            </a>

                        }
                        <a title="Raise Tickets" id="@item.prRefNo" onclick="RaiseTicket(id)"> <span class="glyphicon glyphicon-question-sign"></span> </a>
                    </text>)))
        }

    </div>
    @*@if (ViewBag.Message != null)
        {
        <div class="gridMessage" style="width:100%">
            @ViewBag.Message
        </div>
        }
        @if (@ViewBag.Error != null)
        {
        <div class="gridMessage" style="width:100%">
            @ViewBag.Error
        </div>
        }
        <div class="gridCount" style="text-align:left;">Page <b>@(grid.PageIndex + 1)</b> of <b>@grid.PageCount</b> - Total No Of Records: <b>@grid.TotalRowCount</b></div>*@
    @{
    Session["FlexiDash"] = null;
    }
</div>
      <input hidden="hidden" id="hidPopUp" value="" />
      <div id="ForPopUpRT"></div>
    
    
    <script>
    // will trigger when the document is ready
    //function myFunction() {
    //    document.get("myBtn").disabled = true;
    //}

    $(document).ready(function () {
        $('tfoot a').click(function () {

            $('form').attr('action', $(this).attr('href')).submit();

            return false;
        });
        function dateformat() {
            dateformat: 'dd/mm/yy';
        }
        $("#txtprdate").datepicker({

            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            maxDate: new Date()
        });

        $("#dropBranch").chosen({});

        $('#grid tr th:nth-child(9)').addClass("nosort");
        $('#grid').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");
    });
    function Type() {

        location = "@Url.Action("PrSummary1", "PrSummary")";
    };
    function prraiser() {
        @*location = "@Url.Action("Index", "PRRaiser")";*@
        location = "@Url.Action("Index", "PRNew")?" + new Date().getTime();
    }
    //kathir--------
    function viewprnew(prgid) {
        location = "@Url.Action("Index", "PRNew")?prgid=" + prgid + "&viewtype=view&" + new Date().getTime();
    }
    function editprnew(prgid) {
        location = "@Url.Action("Index", "PRNew")?prgid=" + prgid + "&viewtype=edit&" + new Date().getTime();
    }
    function deleteprnew(prgid) {
        location = "@Url.Action("Index", "PRNew")?prgid=" + prgid + "&viewtype=delete&" + new Date().getTime();
    }
    function cancelprnew(prgid) {
        @*location = "@Url.Action("Index", "PRNew")?prgid=" + prgid + "&viewtype=cancel&" + new Date().getTime();*@
        }
        function cloneprnew(prgid) {
            jConfirm("Are you sure want to clone this PR", "Warning", function (e) {
                if (e == true) {
                    $.ajax({
                        url: '@Url.Action("DoClone", "PRNew")?prgid=' + prgid + '&' + new Date().getTime(),
                        type: 'POST',
                        async: false,
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            var Data0 = "";
                            var ErrorMsg1 = response.ErrorMsg;
                            if (ErrorMsg1 == "1") {
                                jAlert("Error While Cloning", "Error", function () {
                                    return false;
                                });
                                return false;
                            }
                            else {
                                Data0 = JSON.parse(response.data0);
                               var newprgid = Data0[0].PRGid;
                               var PRRefNumber = Data0[0].PRNumber;
                                var NewPRNumber = PRRefNumber.fontcolor("Navy");
                                jConfirm("Cloning Completed. New PR Number is : " + NewPRNumber.bold() + ". Are you Interested to Proceed with Newly generated PR?", "Success", function (e) {
                                    if (e == true) {
                                        location = "@Url.Action("Index", "PRNew")?prgid=" + newprgid + "&viewtype=edit&" + new Date().getTime();
                                    }
                                    else {
                                        return false;
                                    }
                                });
                            }
                        }
                        }, function () {
                        alert('Error in adding record');
                });
                }
                else{
                    return false;
                }
            });
    }
    //--------------
    function refresh() {
        $("#txtpr_refno").val('');
        $("#txtprdate").val('');
        $("#dropStatus").val('0');
        $("#dropRequestfor").val('0');
        $("#dropBranch").val('0');
        location = "@Url.Action("PrSummary1", "PrSummary")";
    }


    //function DeleteType(id) {
    //    if (confirm("Do you want to delete this SESubCategory Type: ")) {
    //        var custmodel = { "SESubCategoryID": id }
    //        $.post('/asms_mst_sesubcategory/Delete', custmodel,
    //             function (data) { if (data == 0) { location = location.href; } else { location = '/asms_mst_sesubcategory/Index'; } }, 'json');
    //    }
    var objRT;
    function RaiseTicket(prno) {
        var refflagname = "PR";
        var itemrefno = prno;
        if ($('#hidPopUp').val() == "") {
            $("#hidPopUp").val("iem");
            objRT = $("[id$='ForPopUpRT']");
            objRT.dialog({
                autoOpen: false,
                modal: true,
                cache: false,
                //show: 'fade-in',
                //close: 'fade-out'
            });
        }
        objRT.load('../../RaiseTickets/SingleTicketNormal?refname=' + refflagname + '&itemrefno=' + itemrefno + '&' + new Date().getTime());
        objRT.dialog({
            title: 'Raise Ticket',
            width: 1100,
            height: 500
        });
        objRT.dialog("open");
    }
    function Download() {
        location = "../PrSummary/downloadsexcel";
    }
    </script>
}
