@model IEM.Areas.FLEXIBUY.Models.PrSumEntity

@{
    ViewBag.Title = "ViewPRDetails";
    Layout = "~/Views/Shared/LayoutEmpty.cshtml";
    int rowNum = 0;
    Session["prgid"] = @Model.prHead.prGid;
}
<style>
    .width5 {
        width: 5%;
    }

    .width10 {
        width: 10%;
    }

    .width15 {
        width: 15%;
    }

    .width20 {
        width: 20%;
    }

    .width25 {
        width: 25%;
    }

    .width30 {
        width: 30%;
    }

    .width35 {
        width: 35%;
    }
</style>

<b> <span style="color: rgb(52, 108, 196);">View PR</span></b>
<div class="well">

    <span style="color: rgb(52, 108, 196);">PR Header</span>
    <table>
        <tr></tr>
    </table>


    <div class="panel panel-default">

        <table class="myTableStyleTabNew" align="center" width="100%">
            <tr>

                <td style="padding:10px;">
                    <div>
                        <span>PR Ref No.</span>
                        <br />

                        <div>
                            <input type="text"
                                   name="txtprrefno"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   style="width:100%;"
                                   id="prrefno" value="@Model.prHead.prRefNo" />
                        </div>
                    </div>
                </td>

                <td style="padding:10px;">
                    <div>
                        <span>PR Date</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtprdate"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   style="width:100%;"
                                   id="prdate" value="@Model.prHead.prDate" />

                        </div>
                    </div>
                </td>

                <td style="padding:10px;">

                    <div>

                        <span>PR Raised by</span>
                        <br />

                        <div>
                            <input type="text"
                                   name="txtprraisedby"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   style="width:100%;"
                                   id="prraisedby" value="@Model.prHead.prRaisedBy" />
                        </div>
                    </div>
                </td>



                <td style="padding:10px;">
                    <div>
                        <span>FCCC</span>
                        <br />

                        <div>
                            <input type="text"
                                   name="txtprfccc"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   style="width:100%;"
                                   id="prfccc" value="@Model.prHead.prFcc" />


                        </div>
                    </div>
                </td>
               
                <td style="padding:10px;">
                    <div>
                        <span>Request by</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtreqfor"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   style="width:100%;"
                                   id="reqfor" value="@Model.prHead.prReqFor" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>

                <td style="padding:10px;">

                    @{

                        var expense = (string)Session["rblExpenses"];
                        if (expense != "")
                        {
                            if (expense == "C")
                            {
                                <div>
                                    <span>Expenses</span>
                                </div>

                                <div class="radio-inline">
                                    <span id="lblcapex">
                                        <input type="radio" id="id_rdcap" name="mode1" value="Capex" checked="checked" disabled="disabled" />
                                        Capex
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblopex">
                                        <input type="radio" id="id_rdope" name="mode1" value="Opex" disabled="disabled" />
                                        Opex
                                    </span>
                                </div>

                            }
                            else
                            {
                                <div>
                                    <span>Expenses</span>
                                </div>

                                <div class="radio-inline">
                                    <span id="lblcapex">
                                        <input type="radio" id="id_rdcap" name="mode1" value="Capex" disabled="disabled" />
                                        Capex
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblopex">
                                        <input type="radio" id="id_rdope" name="mode1" value="Opex" checked="checked" disabled="disabled" />
                                        Opex
                                    </span>
                                </div>
                            }
                        }
                    }
                </td>

                <td style="padding:10px;">
                    @{


                        var branchtype = (string)Session["rblBranchType"];
                        if (branchtype != "")
                        {
                            if (branchtype == "S")
                            {
                                <div>
                                    <span>Branch </span>
                                </div>

                                <div class="radio-inline">
                                    <span id="lblsingle">
                                        <input type="radio" id="id_rdsing" name="mode2" value="Single" checked="checked" disabled="disabled" />
                                        Single
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblmultiple">
                                        <input type="radio" id="id_rdmult" name="mode2" value="Multiples" disabled="disabled" />
                                        Multiple
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <span>Branch </span>
                                </div>

                                <div class="radio-inline">
                                    <span id="lblsingle">
                                        <input type="radio" id="id_rdsing" name="mode2" value="Single" disabled="disabled" />
                                        Single
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblmultiple">
                                        <input type="radio" id="id_rdmult" name="mode2" value="Multiples" checked="checked" disabled="disabled" />
                                        Multiple
                                    </span>
                                </div>
                            }
                        }
                    }
                </td>
             
                <td>
                    <br />
                    <div style="padding:10px;">
                        @{
                            var rblprodserv = (string)Session["rblProductService"];
                            if (rblprodserv != "")
                            {
                                if (rblprodserv == "P")
                                {
                                    <div class="radio-inline">
                                        <span id="lblprod">
                                            <input type="radio" id="id_rdprod" name="modenew" value="Product" checked="checked" disabled="disabled" />
                                            Product
                                        </span>
                                    </div>
                                    <div class="radio-inline">
                                        <span id="lblserv">
                                            <input type="radio" id="id_rdserv" name="modenew" value="Service" disabled="disabled" />
                                            Service

                                        </span>
                                    </div>
                                }
                                else
                                {

                                    <div class="radio-inline">
                                        <span id="lblprod">
                                            <input type="radio" id="id_rdprod" name="modenew" value="Product" disabled="disabled" />
                                            Product
                                        </span>
                                    </div>
                                    <div class="radio-inline">
                                        <span id="lblserv">
                                            <input type="radio" id="id_rdserv" name="modenew" value="Service" checked="checked" disabled="disabled" />
                                            Service

                                        </span>
                                    </div>
                                }
                            }
                        }
                    </div>
                </td>
                <td style="padding:10px;">
                    <div>
                        <span>Branch</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtbranch"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   style="width:100%;"
                                   id="branch" value="@Model.prHead.prBranch" />

                        </div>
                    </div>
                </td>

                <td style="padding:10px;">
                    <div>
                        <span>PR Description</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtprdesc"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   style="width:100%;"
                                   id="prdesc" value="@Model.prHead.prDesc" />

                        </div>
                    </div>
                </td>
                @*</tr>
                    <tr></tr>
                    <tr>*@
                <td width="15px"></td>
                
            </tr>

        </table>
    </div>

    <div class=" panel panel-default ">
        <center>
            <div style="padding:10px; width:100%;">
                @{
                    var grid = new WebGrid(source: Model.lstproduct, canSort: true, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "wgProductList", ajaxUpdateCallback: "D()", selectionFieldName: "SelectedRow");
                    grid.Pager(WebGridPagerModes.All);
                }

                @functions {
                    public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                    {
                        return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                            grid.SortDirection == SortDirection.Ascending ? "▲" :
                            "▼" : string.Empty);
                    }
                }

                @if (rblprodserv == "P")
                {
                    @grid.GetHtml(
               tableStyle: "tableSmall table-bordered",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
                        //Here I am going to add checkbox column
                        //grid.Column("srNo", "srNo", style: "col-sm-1"),
                              grid.Column("Sl", format: a => rowNum = rowNum + 1, style: "width5"),
     grid.Column(header: "Product Group", format: @<text>

                                <label id="lblProductGroup">@item.product_Group</label></text>, canSort: false,style: "width15" ),

                   grid.Column(header: "Product Code",format: @<text>
                        <label id="lblProductCode">@item.product_Code</label></text>,canSort: false, style: "width10"),
                   grid.Column(header: "Product Name",format: @<text>
                        <label id="lblProductName">@item.product_Name</label> </text>,canSort: false, style: "width20"),
                     grid.Column(header: "Product Description",format: @<text>
                        <label id="lblProductDesc">@item.product_Description</label> </text>,canSort: false, style: "width30"),

                                    grid.Column(header: "Unit", format: @<text>
                        <label id="lblProductUnit">@item.product_Unit</label> </text>,canSort: false, style: "width10"),

                     grid.Column(header: "Quantity", format: @<text>
                        <label id="lblProductQuantity">@item.product_Qty</label> </text>, canSort: false, style: "width10"),
                     grid.Column(header: "Rate", format: @<text>
                        <label id="lblproduct_rate">@item.product_rate</label> </text>, canSort: false, style: "width10"),
                     grid.Column(header: "Estimation", format: @<text>
                        <label id="lblproduct_cost">@item.product_cost</label> </text>, canSort: false, style: "width10")
                                                                                                                                                                                                 ))
                }
                @if (rblprodserv == "S")
                {
                    @grid.GetHtml(
                 tableStyle: "tableSmall table-bordered",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
                        //Here I am going to add checkbox column
                        //grid.Column("srNo", "srNo", style: "col-sm-1"),
                                       grid.Column("Sl", format: a => rowNum = rowNum + 1, style: "width10"),
     grid.Column(header: "Service Group", format: @<text>

                                        <label id="lblProductGroup">@item.service_Group</label></text>, canSort: false,style: "width20" ),

                   grid.Column(header: "Service Code",format: @<text>
                        <label id="lblServiceCode">@item.service_Code</label></text>,canSort: false, style: "width15"),
                   grid.Column(header: "Service Name",format: @<text>
                        <label id="lblServiceName">@item.service_Name</label> </text>,canSort: false, style: "width20"),
                     grid.Column(header: "Service Description",format: @<text>
                        <label id="lblServiceDesc">@item.service_Description</label> </text>, canSort: false, style: "width35"),

  grid.Column(header: "Rate", format: @<text>
                        <label id="lblproduct_rate">@item.product_rate</label> </text>, canSort: false, style: "width10"),
                     grid.Column(header: "Estimation", format: @<text>
                        <label id="lblproduct_cost">@item.product_cost</label> </text>, canSort: false, style: "width10")))
                }
            </div>
        </center>
        <div style="text-align:left; padding: 0px 0px 5px 10px;">Page <b>@(grid.PageIndex + 1)</b> of <b>@grid.PageCount</b>  Total No.Of.Records <b>@grid.TotalRowCount</b></div>


    </div>
    <div id="tabsat" style="height:400px;font-size:14px;">
        <ul>
            <li><a href="#tabs-1">Audit Trail</a></li>
            <li><a href="#tabs-2">Attachments</a></li>
        </ul>
        <div id="tabs-1">
            @Html.Partial("tab_auditrail")
        </div>
        <div id="tabs-2">
            @Html.Partial("viewprattachment")
        </div>
    </div>
      
    <input hidden="hidden" id="aa" />
</div>
<div id="ForPartialViewnew5hh"></div>

<script>
    var currentTab = 0;
    $(function () {
        $("#tabsat").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });
    function backs() {


        //location = '@Url.Action("PrSummary1", "PrSummary")?'+ new Date().getTime();
        location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
    }
    $(document).ready(function () {
        $('#aa').val('');

    });
    var objDialog5;

    function viewattach(id) {
       // alert(id);
        if ($("#aa").val() == "") {
            $('#aa').val('anu');

            objDialog5 = $("[id$='ForPartialViewnew5hh']");
            objDialog5.dialog({
                autoOpen: false,
                modal: true,
                show: 'fade-in',
                close: 'fade-out',
                cache: false,
                width: 600,
                height: 400
            });
        }

        //  objDialog5.load('../PrSummary/viewprattachment?id=' + id);
        objDialog5.load('@Url.Action("viewprattachment", "PrSummary")?id=' + id + '&' + new Date().getTime());
        objDialog5.dialog({ title: 'PR Attachment List' });
        objDialog5.dialog("open");
    }
</script>
