@{
    ViewBag.Title = "Maker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<style>
    table, th, td {
        white-space: nowrap;
    }
</style>
<div class="pageHeadingLayout">
    <span class="pageHeading">Prepaid GL Transfer Maker</span>
    </div>
    <div class="well">

        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td width="20%" style="padding: 0px 10px" nowrap="nowrap">
                    Prepaid GL - Type
                    <br />
                    <input type="radio" id="id_NStatus" checked="checked" name="modeStatus" value="0" />
                    <sapn style="padding-right:15px;">New</sapn>
                    <input type="radio" id="id_RStatus" name="modeStatus" value="1" />
                    <sapn>Rejected</sapn>
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>ARF From</span>
                    <br />
                    <input type="text"
                           id="txtARFFrom"
                           name="txtARFFrom"
                           onkeypress="return isEvent(event)"
                           class="fstextbox fsDatePicker" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>ARF To</span>
                    <br />
                    <input type="text"
                           id="txtARFTo"
                           name="txtARFTo"
                           onkeypress="return isEvent(event)"
                           class="fstextbox fsDatePicker" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>ARF Number</span>
                    <br />
                    <input type="text"
                           name="txtARFNumber"
                           id="txtARFNumber"
                           value=""
                           maxlength="25"
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>ARF Amount</span>
                    <br />
                    <input type="text"
                           name="txtARFAmount"
                           id="txtARFAmount"
                           maxlength="8"
                           @*onkeypress="return isNumberKey(event)"*@
                           class="fstextbox" />
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding: 0px 10px">
                    <span>Liquidation From</span>
                    <br />
                    <input type="text"
                           id="txtLiquidationFrom"
                           name="txtLiquidationFrom"
                           onkeypress="return isEvent(event)"
                           class="fstextbox fsDatePicker" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Liquidation To</span>
                    <br />
                    <input type="text"
                           id="txtLiquidationTo"
                           name="txtLiquidationTo"
                           onkeypress="return isEvent(event)"
                           class="fstextbox fsDatePicker" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Raiser Code</span>
                    <br />
                    <input type="hidden" name="hdfRaiserCode" id="hdfRaiserCode" value="0" />
                    <input type="text"
                           id="txtRaiserCode"
                           name="txtRaiserCode"
                           value=""
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Raiser Name</span>
                    <br />
                    <input type="hidden" name="hdfRaiserName" id="hdfRaiserName" value="0" />
                    <input type="text"
                           id="txtRaiserName"
                           name="txtRaiserName"
                           value=""
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Type</span>
                    <br />
                    <select name="ddlType" id="ddlType" class="fstextbox"
                            data-bind="options: TypeArray, optionsText: 'Text', optionsValue:'Id', value:0, event:{ change:$root.TypeSelectChanged }"></select>
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding: 0px 10px">
                    <span>Employee Code</span>
                    <br />
                    <input type="hidden" name="hdfEmpCode" id="hdfEmpCode" value="0" />
                    <input type="text"
                           id="txtEmpCode"
                           name="txtEmpCode"
                           value=""
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Employee Name</span>
                    <br />
                    <input type="hidden" name="hdfEmpName" id="hdfEmpName" value="0" />
                    <input type="text"
                           id="txtEmpName"
                           name="txtEmpName"
                           value=""
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Supplier Code</span>
                    <br />
                    <input type="hidden" name="hdfSupplierCode" id="hdfSupplierCode" value="0" />
                    <input type="text"
                           id="txtSupplierCode"
                           name="txtSupplierCode"
                           value=""
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Supplier Name</span>
                    <br />
                    <input type="hidden" name="hdfSupplierName" id="hdfSupplierName" value="0" />
                    <input type="text"
                           id="txtSupplierName"
                           name="txtSupplierName"
                           value=""
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Pay Mode</span>
                    <br />
                    <select name="ddlPayMode" id="ddlPayMode" class="fstextbox"
                            data-bind="options: PaymentModeArray, optionsText: 'Text', optionsValue:'Id', value:0, optionsCaption:'- Select One -'"></select>
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding: 0px 10px">
                    <span>Advance Type</span>
                    <br />
                    <select name="ddlAdvanceType" id="ddlAdvanceType" class="fstextbox"
                            data-bind="options: AdvanceTypeArray, optionsText: 'Text', optionsValue:'Id', value:0, optionsCaption:'- Select One -' "></select>
                </td>
                <td width="20%" style="padding: 0px 10px;">
                    <span>Advance GL</span>
                    <br />
                    <input type="text"
                           name="txtAdvanceGL"
                           id="txtAdvanceGL"
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px;"></td>
                <td width="20%" style="padding: 0px 10px;"></td>
                <td style="width:20%; padding:0px; vertical-align:bottom; text-align:right;">
                    <button class="btn btn-primary" accesskey="q" id="btnsearch" data-bind="click: $root.search" type="button" style="margin-top:10px;  color:white;">
                        <span style="color:white;" class="glyphicon glyphicon-search"></span>
                        Search
                    </button>
                    <button class="btn btn-primary" accesskey="c" data-bind="click: $root.clearFilter" type="button" style="margin-top:10px;  color:white;">
                        <span style="color:white;" class="glyphicon glyphicon-refresh"></span>
                        Clear
                    </button>
                </td>
            </tr>
        </table>
        <div style="width:100%; overflow:auto; height:100%; margin-top: 15px;">
            <table id="gvMaker" class="tableSmall table-bordered table-hover table-responsive" data-bind="visible: PrepaidDetailArray().length > 0">
                <thead>
                    <tr>
                        <th style="width:5%; min-width:50px;">
                            SLNo
                        </th>
                        <th style="width:12%; min-width:100px;" class="colDate">
                            ARF Date
                        </th>
                        <th style="width:10%; min-width:100px;">
                            ARF No
                        </th>
                        <th style="width:15%; min-width:120px;">
                            Type
                        </th>
                        <th style="width:12%; min-width:150px;">
                            Supplier/Employee Name
                        </th>
                        <th style="width:10%; min-width:100px;">
                            PayMode
                        </th>
                        <th style="width:18%; min-width:100px;" class="colDate">
                            Liquidation Date
                        </th>
                        <th style="width:10%; min-width:100px;">
                            ARF Amount
                        </th>
                        <th style="width:8%; min-width:100px;">
                            Advance Type
                        </th>
                        <th style="width:8%; min-width:100px;">
                            Advance GL
                        </th>
                        <th style="width:8%; min-width:100px;" class="nosort">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{ data: PrepaidDetailArray, afterRender: DatatableCall }, visible: PrepaidDetailArray().length > 0">
                    <tr>
                        @*<td style="width:5%; min-width:50px;" align="center">
                            <span data-bind="text: advancetypegid"></span>
                        </td>*@
                        <td align="center">
                            <span data-bind="text:$index()+1"></span>
                        </td>
                        <td style="width:12%; min-width:100px;" align="center">
                            <span data-bind="text: ARFDate"></span>
                        </td>
                        <td style="width:10%; min-width:100px;" align="center">
                            <span data-bind="text: ARFNo"></span>
                        </td>
                        <td style="width:15%; min-width:120px;" align="left">
                            <span data-bind="text: ARFTtype"></span>
                        </td>
                        <td style="width:12%; min-width:150px;" align="left">
                            <span data-bind="text: Name"></span>
                        </td>
                        <td style="width:10%; min-width:100px;" align="center">
                            <span data-bind="text: paymode"></span>
                        </td>
                        <td style="width:18%; min-width:100px;">
                            <span data-bind="text: LiqDate"></span>
                        </td>
                        <td style="width:10%; min-width:100px;" align="right">
                            <span data-bind="text: $root.formatNumber(ARFAmount)"></span>
                        </td>
                        <td style="width:10%; min-width:100px;">
                            <span data-bind="text: Advancetype"></span>
                        </td>
                        <td style="width:10%; min-width:100px;" align="left">
                            <span data-bind="text: advancegl"></span>
                        </td>
                        <td style="width:8%; min-width:100px;" align="center">
                            <span title="Select" data-bind="click: $root.select" style="cursor:pointer; color:blue; text-decoration:underline;">Select</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div style="display:none;" id="ShowDialog">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td style="width:25%; padding:0px 5px;">
                    <input type="hidden" name="hdfecfarfgid" id="hdfecfarfgid" value="0" />
                    <input type="hidden" name="hdfecfid" id="hdfecfid" value="0" />
                    <span>ARF Date</span>
                    <br />
                    <input type="text"
                           id="txtEARFDate"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td style="width:25%; padding:0px 5px;">
                    <span>ARF No</span>
                    <br />
                    <input type="text"
                           id="txtEARFNo"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td style="width:25%; padding:0px 5px;">
                    <span>Type</span>
                    <br />
                    <input type="text"
                           id="txtESupplier"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td style="width:25%; padding:0px 5px;">
                    <span>Advance Type</span>
                    <br />
                    <input type="text"
                           id="txtEAdvanceType"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
            </tr>
            <tr>
                <td style="width:25%; padding:0px 5px;">
                    <span>PayMode</span>
                    <br />
                    <input type="text"
                           id="txtEPaymode"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td colspan="2" style="width:50%; padding:0px 5px;">
                    <span>Supplier / Employee</span>
                    <br />
                    <input type="text"
                           id="txtESupplierEmployee"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td style="width:25%; padding:0px 5px;">
                    <span>Advance GL</span>
                    <br />
                    <input type="text"
                           disabled="disabled"
                           id="txtEAdvanceGl"
                           class="textboxStyleBig" />
                </td>
            </tr>
            <tr>
                <td style="width:25%; padding:0px 5px;">
                    <span>ARF Amount</span>
                    <br />
                    <input type="text"
                           id="txtEARFAmount"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td style="width:25%; padding:0px 5px;">
                    <span>Liquidation Date</span>
                    <br />
                    <input type="text"
                           id="txtLiquidationData"
                           maxlength="10"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td colspan="2" style="width:50%; padding:0px 5px;"></td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%; height:30px; vertical-align: middle;">
                    <span style="font-size: 13px; color: blue; font-weight: bold;">New Advance Type</span>
                    <br />
                </td>
            </tr>
            <tr>
                <td style="width:25%; padding:0px 3px;">
                    <span>New Advance Date</span>
                    <br />
                    <input type="text"
                           id="txtEAdvanceDate"
                           disabled="disabled"
                           @*onkeypress="return isEvent(event)"
                           class="fstextbox fsDatePicker required"*@ />
                </td>
                <td style="width:25%; padding:0px 5px;">
                    <span>New Advance Type</span>
                    <br />
                    <select name="ddlEAdvanceType" id="ddlEAdvanceType" class="fstextbox required"
                            data-bind="options: AdvanceTypeArray, optionsText: 'Text', optionsValue:'Id', value:0, optionsCaption:'-Select One-'"></select>
                </td>
                <td style="width:25%; padding:0px 5px;">
                    <span>New Advance GL</span>
                    <br />
                    <input type="text"
                           id="txtEAdvanceGL"
                           maxlength="30"
                           class="fstextbox required" />
                </td>
                <td style="width:25%; padding:0px 5px;"></td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%; padding:0px 5px;">
                    <span>Remark</span>
                    <br />
                    <textarea id="txtMakerRemark" rows="3" class="fstextbox" style="width:100%; background-color: white; height:50px; border-radius: 4px;"></textarea>
                </td>

            </tr>
            <tr>
                <td colspan="4" style="width:100%; padding:15px 5px; text-align:right;">
                    <button type="button" id="btnUpdate" accesskey="s" class="btn btn-success" data-bind="click: $root.Submit">
                        <span class="glyphicon glyphicon-save" style="color:white;"></span>
                        Submit
                    </button>
                </td>
            </tr>
        </table>
    </div>
<script>
    var UrlDet = "@Url.Action("FetchPrepaidMaker", "PrepaidGL")"
    var UrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
</script>
    <script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsPrepaidGLMaker.js")" type="text/javascript"></script>
