@{
    var n = (string)ViewBag.vbtotalrecord;
    ViewBag.vbtotalrecord = "";
    var v = (string)ViewBag.vbvalid;
    ViewBag.vbvalid = "";
    var i = (string)ViewBag.vbinvalid;
    ViewBag.vbinvalid = "";
}
<br />
<table class="myTableStyleTabNew" align="center">
    <tr>
        <td>
            <div style="font-weight:bold">@n</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold">@v</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold">@i</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td>
                        @if (@ViewBag.visble == "Yes")
                        {
                            <div style="font-weight:bold ; width:150%">
                                <button class="btn btn-primary" type="button" id="btncanpayggg" value="Ok"><span style="color:white;" class="glyphicon glyphicon-ok-sign"></span> OK</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <button class="btn btn-warning" type="button" id="btncancelexcel" value="Cancel" onclick="GotoIndexClose()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>

                             </div>
                        }
                    </td>
                    <td>
                        @if (@ViewBag.visble != "Yes")
                        {
                            <div style="font-weight:bold">
                                <a class="btn btn-warning" style="color:white;" data-modal="" href="../AssetWriteOff/downloadsexcel" id="ViewErrorLog" onclick="GotoIndexclose()">
                                    <span style="color:white;" class="glyphicon glyphicon-download"></span> View Error Log
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-primary" type="button" id="btncancelexcel1" value="Close" onclick="GotoIndexclose()"><span style="color:white;" class="glyphicon glyphicon-remove"></span> Close</button>

                                
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $("#btncanpayggg").click(function () {
            window.parent.jQuery('#woaattach').dialog('close');
            objwoaattach.dialog("close");
            var value = "fgdf";
            var objcbf =
        {
            "empid": value
        };
            $.ajax({
                url: "../AssetWriteOff/localdetails/",
                type: 'POST',
                cache: false,
                data: objcbf,
                success: function (data) {
                    $("#processworkingdata").empty();
                    var url = "@(Html.Raw(Url.Action("localdetails", "AssetTransfer")))";
                    $("#processworkingdata").load(url);
                    //alert(data);
                    if (data == "Success") {
                        jAlert("Asset WriteOff Raised Successfully!!", "Information", function (r) {
                            if (r == true) {
                                location = '../AssetWriteOff/WMSummary';
                            }
                        });

                        objwoaattach.dialog("close");
                        window.parent.jQuery('#woaattach').dialog('close');
                    }
                    else {
                        jAlert("Asset WriteOff failed!!", "Message");
                    }
                },
                error: function () {
                    jAlert("Asset WriteOff was failed with error!!", "Information");
                    return false;
                }
            });
        });
    });
    function GotoIndexclose() {
        objwoaattach.dialog("close");
        window.parent.jQuery('#woaattach').dialog('close');
    }
    function GotoIndexClose() {
        objwoaattach.dialog("close");
        window.parent.jQuery('#woaattach').dialog('close');
        jAlert("Asset WriteOff was cancelled!!", "Information");
    }



</script>
