@model IEM.Areas.IFAMS.Models.WriteOffModel
@{
    ViewBag.Title = "Index";
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
        Session["ViewBag"] = "";
    }
    else if (viewfor == "view" || viewfor == "cancel" || viewfor == "delete")
    {
        ViewBag.viewmode = "disabled";
        Session["ViewBag"] = "disabled";
    }
}
<div id="addviewattachment" class="borderstyle ">

    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <span>Document Date</span> <br />
                <input type="text" disabled="disabled" id="id_attachDate" value="@System.DateTime.Now.ToShortDateString()" maxlength="10"
                       title="Document Date" class="textboxStyle" />
            </td>
            <td>
                <span>Select File</span><br />
                @Html.TextBoxFor(m => m._upld_fname, new { @id = "txtfilename", type = "file", @class = "txtfilename textboxStyle form-control" })

            </td>
            <td>
                <span>File Name</span> <br />
                <input name="woaAttachName" readonly="readonly" id="woaAttachName" class="textboxStyle" title="File Name" type="text" value="@Model._attach_file" />
            </td>
        
            <td colspan="2">
                <span>Description</span> <br />
                <input name="woaAttachDesc" id="woaAttachDesc" class="textboxStyle" title="Description" type="text" value="@Model._attach_desc" maxlength="128" />
            </td>
            <td>
                <br />
                <button class="btn btn-primary" id="btnSaveSupAttachment" onclick="Save_Attachment(@Model._gid)" type="submit" name="command" value="Save"><span style="color:white" class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                @*  <input type="button" name="btnsavetoaatt" id="btnSaveSupAttachment" class="btn btn-primary" value="Save" onclick="Save_Attachment(@Model._gid)" />*@
            </td>
            <td>
                <br />
                <button class="btn btn-primary" id="btntoaclear" onclick="refreshattach()" type="submit" name="command" value="Clear"><span style="color:white" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
            </td>
        </tr>
    </table>
</div>
<div>
    @Html.Partial("woaAttachgrid")
</div>
<script src="~/Addons/file-upload/jquery.fileupload.js"></script>
<script src="~/Addons/file-upload/jquery.fileupload-ui.js"></script>
<script src="~/Addons/file-upload/jquery.iframe-transport.js"></script>
<script>


    var jqXHRData;

    $(document).ready(function () {
        if ('@ViewBag.viewmode' == "disabled") {
            $("#addviewattachment").hide(0);
        }
        initAutoFileUpload();
    });

    function initAutoFileUpload() {
       
        'use strict';
        $('#txtfilename').fileupload({

            autoUpload: true,

            url: '@Url.Action("UploadedFiles", "AssetWriteOff")?' + new Date().getTime(),
            dataType: 'json',
            add: function (e, data) {
              
                var jqXHR = data.submit()
                    .success(function (data, textStatus, jqXHR) {
                        if (data.isUploaded) {

                        }
                        else {

                        }
                        $("#woaAttachName").val(data.message);
                    })
                    .error(function (data, textStatus, errorThrown) {
                       
                        if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
                            jAlert(textStatus + errorThrown + data, "Error");
                        }
                    });
            },
            fail: function (event, data) {
               
                if (data.files[0].error) {
                    jAlert(data.files[0].error,"Error");
                }
            }
        });
    }


    function Save_Attachment(id) {
        if ($("#woaAttachName").val() == "") {
            jAlert("Please Choose a File", "Information");
            return false;
        }
        if ($("#woaAttachDesc").val() == "") {
            jAlert("Please enter description","Information");
            return false; }
       
        if ($("#woaAttachDesc").val() != "" && $("#woaAttachName").val() != "") {
            var AttachFileName = $("#woaAttachName").val();
            var AttachDescription = $("#woaAttachDesc").val();
            var model = {
                "_gid": id,
                "_attach_file": AttachFileName,
                "_attach_desc": AttachDescription,
            };

            $.post('../AssetWriteOff/save_attach?' + new Date().getTime(), model,
            function (data) {
                if (data == 0) { location = location.href; } else {
                    //alert(id);
                    $('#woaattachmentgrid').load('@Url.Action("woaAttachgrid", "AssetWriteOff")?id=' + id + '&' + new Date().getTime());
                    jAlert("Inserted Successfully", "Message"); refreshattach();
                }
            }, 'json');
        }
    }

    $(".ui-icon-closethick").click(function () {
        $('#wcSummaryGrid').find('tr').css('background', 'none');
        $('#wmSummaryGrid').find('tr').css('background', 'none');
    });


    function refreshattach() {
        $("#woaAttachName").val("");
        $("#woaAttachDesc").val("");
    }
</script>
