@model IEM.Areas.ASMS.Models.SupplierDeActvation
@using IEM.Common
@{
    CmnFunctions comm = new CmnFunctions();
}

<b>
    <span style="color: rgb(52, 108, 196);">Approval History</span>
</b>
<br />
@using (Html.BeginForm())
{
    <div>
        <table align="center" class="myTableStyleTabNew">
            <tr>
                <td>


                    @{
    var grid = new WebGrid(canPage: true, canSort: true, rowsPerPage: 10);
    grid.Bind(Model.DSupplierHeaderList, autoSortAndPage: true);
    grid.Pager(WebGridPagerModes.All);

    @grid.GetHtml(
    tableStyle: "tableSmall table-bordered ", columns: grid.Columns(
        //grid.Column("ActiheaderGid", comm.Sorter("ActiheaderGid", "Supp HeaderGid", grid)),
        // grid.Column(format: @<input type="hidden" name="Supplierheadergid" value="@item.Supplierheadergid" /> ),
                                                 grid.Column("DSupplierCode", comm.Sorter("DSupplierCode", "Supplier Code", grid)),
                                                     grid.Column("DSupplierName", comm.Sorter("DSupplierName", "Supplier Name", grid)),
                                                     grid.Column("DApproverName", comm.Sorter("DApproverName", "Approver StageName", grid)),
                                                     grid.Column("Dreg_date", comm.Sorter("Dreg_date", "Request Date", grid)),
                                                     grid.Column("DRequestTypeName", comm.Sorter("DRequestTypeName", "Request Type", grid)),
                                  grid.Column("DRequestStatusName", comm.Sorter("DRequestStatusName", "Request Status", grid)),
                     grid.Column("Demployee", comm.Sorter("Demployee", "Employee Name", grid))
                    @*grid.Column(header: "Action", canSort: false, style: "action",
                        format: @<text>
                            @Html.Raw("<input type='button'  title='Edit' onclick='Renewal(" + item.SupplierCode + ")' class='btn btn-primary' value='Renewal' />"
                            @Html.Raw("<a data-model='' href='../SpplierActivation/SupplierActivation/" + item.SupplierCode + "' id='" + item.SupplierCode + "' title='Search'><span>Activate</span></a>"
                            <a style="display:none"><span onclick="EditProduct(@item.Supplierheadergid)">Activate</span></a>
                            <a id="SActivation"><span onclick="EditProduct(@item.Supplierheadergid)">Proceed to Activate</span></a>
                            <a id="RSubmit"><span onclick="ReProduct(@item.Supplierheadergid)">Resubmit</span></a>
                            )
                        </text>)*@
)
     )

                    }
                    @*@if (@ViewBag.value == "RecordNtFound")
                        {
                            <div><h4>No Record Found</h4></div>
                        }
                          }*@
                </td>
            </tr>
        </table>
    </div>
}