@model IEnumerable<IEM.Areas.FLEXIBUY.Models.flexibuydashboard>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pro = ViewBag.process;
}
@*<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    var _currDTTab = 0;
    $(function () {
        var $tabs = $("#Maintabs").tabs({
            select: function (e, i) {
                _currDTTab = i.index;
            }
        });
        
        $tabs.tabs('select', @ViewBag.tabIndex);
    });


</script>
<div>
    <br />
    <div id="Maintabs" style="min-height :300px;font-size:12px;">
        <ul>
            <li><a id="divTab0" href="#tabs-1">Document Summary</a></li>
            <li><a id="divTab1" href="#tabs-2">My Request</a></li>
            <li><a id="divTab2" href="#tabs-3">For MyApproval</a></li>
        </ul>
        <div>
            <div id="tabs-1">
                <div id="processsummary">
                    <fieldset>
                        <legend>
                            Document Summary
                        </legend>
                        @Html.Partial("myDocuments")
                        
                    </fieldset>
                </div>
            </div>
            <div id="tabs-2">
                <div id="processworking" style="margin-top:10px;">
                    <fieldset>
                        <legend>
                            My Request
                        </legend>
                        
                        @Html.Partial("MyRequestGridSearch")
                    </fieldset>
                </div>
            </div>
            <div id="tabs-3">
                <div id="processworking1" style="margin-top:10px;">
                    <fieldset>
                        <legend>
                            For MyApproval
                        </legend>
                        @Html.Partial("MyApprovalGridSearch")
                    </fieldset>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    $(document).ready(function () {

        $('#wgridMyRequests tr th:nth-child(4)').addClass("colDate");
        $('#wgridMyRequests tr th:nth-child(10)').addClass("nosort");

        $("#wgridMyRequests").DataTable({
            "destroy": true
        }).destroy();

        $('#wgridMyRequests').dataTable({
            "autoWidth": false,
            "bLengthChange": false,
            "iDisplayLength": 5,
            "destroy": true,
            "scrollX": true,
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            },
                {
                    "aTargets": ["colDate"],
                    "bSortable": true,
                    "sType": "date-uk"
                }]
        }).css("width", "100%");

        $('#wgridAppRequests tr th:nth-child(4)').addClass("colDate");
        $('#wgridAppRequests tr th:nth-child(9)').addClass("nosort");

        $("#wgridAppRequests").DataTable({
            "destroy": true
        }).destroy();

        $('#wgridAppRequests').dataTable({
            "autoWidth": false,
            "bLengthChange": false,
            "iDisplayLength": 5,
            "scrollX": true,
            "destroy": true,
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            },
                {
                    "aTargets": ["colDate"],
                    "bSortable": true,
                    "sType": "date-uk"
                }]
        }).css("width", "99%");

        
        $("#divTab1").click(function () {
           
            $('#wgridMyRequests tr th:nth-child(4)').addClass("colDate");
            $('#wgridMyRequests tr th:nth-child(10)').addClass("nosort");

            $("#wgridMyRequests").DataTable({
                "destroy": true
            }).destroy();

            $('#wgridMyRequests').dataTable({
                "autoWidth": false,
                "bLengthChange": false,
                "iDisplayLength": 5,
                "destroy": true,
                "scrollX": true,
                "aoColumnDefs": [{
                    "aTargets": ["nosort"],
                    "bSortable": false
                },
                    {
                        "aTargets": ["colDate"],
                        "bSortable": true,
                        "sType": "date-uk"
                    }]
            }).css("width", "100%");
        });

        $("#divTab0").click(function () {
            @{
                ViewBag.tabIndex = 0;
            }
        });

        $("#divTab2").click(function () {
            
            $('#wgridAppRequests tr th:nth-child(4)').addClass("colDate");
            $('#wgridAppRequests tr th:nth-child(9)').addClass("nosort");

            $("#wgridAppRequests").DataTable({
                "destroy": true
            }).destroy();

            $('#wgridAppRequests').dataTable({
                "autoWidth": false,
                "bLengthChange": false,
                "iDisplayLength": 5,
                "scrollX": true,
                "destroy": true,
                "aoColumnDefs": [{
                    "aTargets": ["nosort"],
                    "bSortable": false
                },
                    {
                        "aTargets": ["colDate"],
                        "bSortable": true,
                        "sType": "date-uk"
                    }]
            }).css("width", "99%");
        });

        
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split("-");
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },
            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
        
    });
</script>