@*@model IEM.Areas.FLEXIBUY.Models.flexibuydashboard*@
@using IEM.Areas.FLEXIBUY.Models
@{
    flexibuydashboard sh1 = (flexibuydashboard)ViewBag.DashBoardheaderserapp;
}

@using (Html.BeginForm())
{
    <table class="myTableStyleTabNew" width="100%" style="margin-top:10px;">
        <tr>
            <td style="width:15%">
                <span>Doc Type</span><br />
                <select name="ddldbDocType" id="ddldbDocType" class="textboxStyle">
                    @foreach (var pitem in sh1.DocTypeDataApp)
                    {
                        string selectedvalue = "";
                        if (ViewBag.domvala == pitem.Value)
                        {
                            selectedvalue = "selected='selected'";
                        }
                        <option value="@pitem.Text" @selectedvalue>@pitem.Text</option>
                    }
                </select>
            </td>
            <td style="width:15%">
                <span>Doc No.</span><br />
                <input type="text" id="txtdbdocno" class="textboxStyle" name="txtdbdocno" maxlength="16" value="@sh1.docNo" />
            </td>
            <td style="width:15%">
                <span>Doc Amount</span><br />
                <input type="text" id="txtdbdocamount" class="textboxStyle" name="txtdbdocamount" value="@sh1.amount" />
            </td>
            <td style="width:15%">
                <span>Doc Status</span><br />
                <select name="ddldbDocStatus" id="ddldbDocStatus" class="textboxStyle">
                    @foreach (var pitem in sh1.StatusTypeApp)
                    {
                        string selectedvalue = "";
                        if (ViewBag.setvala == pitem.Value)
                        {
                            selectedvalue = "selected='selected'";
                        }
                        <option value="@pitem.Text" @selectedvalue>@pitem.Text</option>
                    }
                </select>
            </td>
            <td style="width:40%; vertical-align:bottom;">
                <button class="btn btn-primary" id="btnsearch" value="Searchapp" name="command" type="submit"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                <button class="btn btn-primary" id="btnclear" value="Clearapp" name="command" type="submit"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Clear</button>
            </td>
        </tr>
    </table>

    @Html.Partial("MyApprovalGrid")
}