@using IEM.Areas.FLEXIBUY.Models
@using IEM.Common
@*@model IEnumerable<IEM.Areas.FLEXIBUY.Models.flexibuydashboard>*@

@{
    CmnFunctions objCmnFunctions = new CmnFunctions();
    prsummodel objd = new prsummodel();
    List<flexibuydashboard> lstDashBoard = new List<flexibuydashboard>();

    lstDashBoard = (List<flexibuydashboard>)Session["DashSearchItemsapp_fb"];
    if (lstDashBoard == null)
    {
        //ViewBag.IsSearched = "no";
        lstDashBoard = objd.getMyApproval().ToList();
    }
}

<div id="ForMyApproval">
    @{
        var grid = new WebGrid(lstDashBoard, canSort: false, canPage: false);
        int rowcount = 0;
    }
    <div class="table-responsive" style="overflow:auto; height:100%; width:100%;">
        @grid.GetHtml(
            htmlAttributes: new { id = "wgridAppRequests" },
            tableStyle: "tableSmall table-bordered table-hover",
            columns: grid.Columns(
                grid.Column("SlNo", format: item => rowcount = rowcount + 1, canSort: false, style: "slno"),
                         grid.Column("category", "Doc Type", style: "colmediumCenter"),
                grid.Column("docNo", "Doc No", style: "colmedium"),
                grid.Column("ddate", "Doc Date", style: "colmediumBreak"),
                grid.Column("raiser", "Raiser", style: "collargeBreak"),
                grid.Column("description", "Description", style: "collargeBreak"),
                grid.Column("status", "Status", style: "colmediumCenter"),
                grid.Column("amount",  "Amount", format: @<text>  @Html.Raw(String.Format("{0:#,##}", objCmnFunctions.GetINRAmount(Convert.ToString(@item.amount)))) </text>, style: "colamountlarge"),
                grid.Column(header: "Action", canSort: false, style: "action",
            format: @<text>
                <a onclick="ViewDetails(id, name, this)" id="@item.dgid" name="@item.statusId" title="Submit"><span class="btn btn-link">Proceed</span></a>
                <a title="Raise Tickets" onclick="RaiseTicket(this)"> <span class="glyphicon glyphicon-question-sign"></span> </a>
        </text>)))
    </div>
    <input hidden="hidden" id="hidPopUp" value="" />
    <div id="ForAPopUpRT"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {


        //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        //    "date-uk-pre": function (a) {
        //        a = a.substring(0, 10);
        //        //a = a.split(">")[1].split("<")[0];
        //        var ukDatea = a.split("-");
        //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        //    },
        //    "date-uk-asc": function (a, b) {
        //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        //    },
        //    "date-uk-desc": function (a, b) {
        //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        //    }
        //});
    });

    function ViewDetails(id, name, element) {

        var row = $(element).closest('tr');
        var tds = row.find('td');
        var categoryname = tds.eq(1).text();
        var viewfor = "checker";

        if (categoryname == "PAR") {
            location = "@Url.Action("Index", "PARNew")?pargid=" + id + "&viewtype=checker&" + new Date().getTime();
            @*location = '@Url.Action("ParRaiserEditIndex", "ParRaiserEdit")?parheadgid=' + id + '&viewfor=' + viewfor + '&' + new Date().getTime();*@
        }
        else if (categoryname == "PO") {
            if (name == 2) {
                location = '@Url.Action("POChecker", "PO")/' + id + '/2';
                @*var objraiser =
                  {
                      "podetGid": id,
                      "viewfor": viewfor
                      //"dash": dashboard
                  };
                $.ajax({
                    url: '@Url.Action("PoEditDetails", "PoRaiserEdit")?' + new Date().getTime(),
                    type: 'GET',
                    data: objraiser,
                    success: function (data) {
                        location = '@Url.Action("PoEdit", "PoRaiserEdit")?' + new Date().getTime();

                    },
                    error: function () {
                        jAlert("something seems wrong", "Error");
                    }
                });*@
            }
            else if (name == 4) {
                location = '@Url.Action("POChecker", "PO")/' + id + '/3';
                @*var viewfordelmat = "delmat";
                var objraiser =
                  {
                      "podetGid": id,
                      "viewfor": viewfordelmat
                      // "dash": dashboard
                  };
                $.ajax({
                    url: '@Url.Action("PoEditDetails", "PoRaiserEdit")?' + new Date().getTime(),
                    type: 'GET',
                    data: objraiser,
                    success: function (data) {
                        location = '@Url.Action("PoEdit", "PoRaiserEdit")?' + new Date().getTime();

                    },
                    error: function () {
                        jAlert("something seems wrong", "Error");
                    }
                });*@
            }
            else if (name == 5) {
                var viewfordelmat = "delmat";
                location = '@Url.Action("POChecker", "PO")/' + id + '/3';
                @*var objraiser =
                  {
                      "podetGid": id,
                      "viewfor": viewfordelmat
                      // "dash": dashboard
                  };
                $.ajax({
                    url: '@Url.Action("PoEditDetails", "PoRaiserEdit")?' + new Date().getTime(),
                    type: 'GET',
                    data: objraiser,
                    success: function (data) {
                        location = '@Url.Action("PoClosureCheckerSummary", "PoClosureChecker")?' + new Date().getTime();
                    },
                    error: function () {
                        jAlert("something seems wrong", "Error");
                    }
                });*@

            }
            else if (name == 7) {
                var viewfordelmat = "delmat";
                location = '@Url.Action("POChecker", "PO")/' + id + '/3';
                var objraiser =
                  {
                      "podetGid": id,
                      "viewfor": viewfordelmat
                      // "dash": dashboard
                  };
                $.ajax({
                    url: '@Url.Action("PoEditDetails", "PoRaiserEdit")?' + new Date().getTime(),
                    type: 'GET',
                    data: objraiser,
                    success: function (data) {
                        location = '@Url.Action("PoCheckerSummary", "PoCancellation")?' + new Date().getTime();
                    },
                    error: function () {
                        jAlert("something seems wrong", "Error");
                    }
                });

            }
        }
        else if (categoryname == "WO") {

            if (name == 2) {
                location = '@Url.Action("Index", "WONew")?wogid=' + id + '&viewtype=' + viewfor + '&' + new Date().getTime();
                @*var objraiser =
                           {
                               "woheadGid": id,
                               "viewfor": viewfor
                           };
                $.ajax({
                    url: '@Url.Action("WoEditDetails", "WoRaiserEdit")?' + new Date().getTime(),
                    type: 'GET',
                    data: objraiser,
                    success: function (data) {
                        location = '@Url.Action("WoEdit", "WoRaiserEdit")?' + new Date().getTime();

                    },
                    error: function () {
                        jAlert("something seems wrong", "Error");
                    }
                });*@
            }
            else if (name == 4) {
                var viewfordelmat = "delmat";
                location = '@Url.Action("Index", "WONew")?wogid=' + id + '&viewtype=' + viewfordelmat + '&' + new Date().getTime();
                @*var objraiser =
                           {
                               "woheadGid": id,
                               "viewfor": viewfordelmat
                           };
                $.ajax({
                    url: '@Url.Action("WoEditDetails", "WoRaiserEdit")?' + new Date().getTime(),
                    type: 'GET',
                    data: objraiser,
                    success: function (data) {
                        location = '@Url.Action("WoEdit", "WoRaiserEdit")?' + new Date().getTime();

                    },
                    error: function () {
                        jAlert("something seems wrong", "Error");
                    }
                });*@
            }
        }

        else if (categoryname == "PR") {
            if (name == 7) {
                location = "@Url.Action("Index", "PRNew")?prgid=" + id + "&viewtype=pipinputs&" + new Date().getTime();
                @*location = ('@Url.Action("pipinputsonpr1", "PIPInputsOnPR")?id=' + id + '&' + new Date().getTime());*@
            }
            else if (name == 3) {
                location = "@Url.Action("Index", "PRNew")?prgid=" + id + "&viewtype=supervisor&" + new Date().getTime();
               @*location = ('@Url.Action("index", "Prsupervisior")?id=' + id + '&' + new Date().getTime());*@
               }
            else if (name == 4) {
                location = "@Url.Action("Index", "PRNew")?prgid=" + id + "&viewtype=delmat&" + new Date().getTime();
                @*location = ('@Url.Action("DelmateView", "Delmet")?id=' + id + '&' + new Date().getTime());*@
            }
        }
        else if (categoryname == "CBF") {

            if (name == 2) {

                @*location = ('@Url.Action("CbfChck", "CbfCheckerraiser")?lnid=' + id + '&lsviewfor=Checker' + '&' + new Date().getTime());*@
                location = ('@Url.Action("CBFChecker", "CBF")/' + id + '/2');
            }
            else if (name == 4) {
                @*location = ('@Url.Action("CbfChck", "CbfCheckerraiser")?lnid=' + id + '&lsviewfor=delmat' + '&' + new Date().getTime());*@
                location = ('@Url.Action("CBFChecker", "CBF")/' + id + '/4');
            }
            else if (name == 5) {
                location = ('@Url.Action("CbfCancellationSummary", "CBFCancellationSummary")?' + new Date().getTime());
            }
            else {

                @*location = ('@Url.Action("CbfChck", "CbfCheckerraiser")?lnid=' + id + '&lsviewfor=Approval' + '&' + new Date().getTime());*@
                location = ('@Url.Action("CBFChecker", "CBF")/' + id + '/3');
            }

        }
        else if (categoryname == "GRN") {

            location = ('@Url.Action("grnconfirmation", "GRN")?grnheadgid=' + id + '&' + new Date().getTime());

        }

    }

    var objRT;
    function RaiseTicket(element) {
        var row = $(element).closest('tr');
        var tds = row.find('td');
        var refflagname = tds.eq(1).text();
        var itemrefno = tds.eq(2).text();
        if ($('#hidPopUp').val() == "") {
            $("#hidPopUp").val("iem");
            objRT = $("[id$='ForAPopUpRT']");
            objRT.dialog({
                autoOpen: false,
                modal: true,
                cache: false,
                //show: 'fade-in',
                //close: 'fade-out'
            });
        }
        objRT.load('../../RaiseTickets/SingleTicketNormal?refname=' + refflagname + '&itemrefno=' + itemrefno + '&' + new Date().getTime());
        objRT.dialog({
            title: 'Raise Ticket',
            width: 1100,
            height: 500
        });
        objRT.dialog("open");
    }
</script>
