@using IEM.Areas.FLEXIBUY.Models;
@using IEM.Common
@model IEnumerable<IEM.Areas.FLEXIBUY.Models.dashboard>

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<div id="wgDashboardMydoc">
    <br />
    @{
        prsummodel objrep = new prsummodel();
        List<dashboard> pr = new List<dashboard>();
        pr = objrep.getpodashboard();
        var grid = new WebGrid(source: pr, canSort: true, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid", selectionFieldName: "SelectedRow");

        int rowNum = 0;

        CmnFunctions objCmnFunctions = new CmnFunctions();

    }
    <div class="container">
        <div class="panel panel-default">
            <table align="center" class="myTableStyleTabNew">
                <tr>


                    <td nowrap="nowrap" style="padding:20px;">
                        <div>
                            <span> Ref No</span>
                            <br />
                            @*@Html.TextBoxFor(a=>a.)*@
                            <input type="text"
                                   name="txtprrefno"
                                   value="@ViewBag.txtprrefno"
                                   class="textboxStyle "
                                   style="display:block"
                                   placeholder="Enter PR Ref No" />

                        </div>
                    </td>

                    <td nowrap="nowrap" style="padding:20px;">
                        <div>
                            <span> Date</span>
                            <br />
                        </div>

                        <div>
                            <input type="date"
                                   name="txtprdate"
                                   id="txtprdate"
                                   value="@ViewBag.txtprdate"
                                   class="textboxStyle "
                                   style="display:block"
                                   maxlength="10"
                                   placeholder="Enter PR Date" />
                        </div>
                    </td>
                    @*<td nowrap="nowrap" style="padding:20px;">
                            <div>
                                <span>Status</span>
                                <br />
                            </div>

                            <div>

                                @Html.DropDownList("dropStatus", Model.ddlStatus, "--Select Status--", new { @class = "textboxStyle ", @id = "dropStatus" })
                            </div>
                        </td>*@

                    <td style="padding-top:40px;">
                        @*<button class="glyphicon glyphicon-search" id="searchid" style="border:none;box-shadow: none;font-size: 1.7em;background-color: rgb(255, 255, 255);" type="submit" name="command" title="Search" value="SEARCH"></button>*@
                        <button onclick="Type()" class="btn btn-primary" name="command" type="submit" value="SEARCH" id='btnsearch'><span class="glyphicon glyphicon-search" style="color:white;">Search</span></button>

                    </td>
                    <td style="padding-top:40px;">
                        <button id="btnrefresh" onclick="refresh()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh cursorpointer" style="color:white;">Refersh</span></button>
                    </td>

                </tr>
            </table>
        </div>
        <div class="overflowx">
            <div>

                @grid.GetHtml(
         tableStyle: "table table-bordered table-hover table-responsive",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
                        //Here I am going to add checkbox column
          grid.Column("SlNo", format: a => rowNum = rowNum + 1, style: "Midcolumn5"),
                        //grid.Column("SNo", format: a => rowNum = rowNum + 1),
            grid.Column("refno", objCmnFunctions.Sorter("refno", "Ref No.", grid), style: "Midcolumn5"),
                           grid.Column("date", objCmnFunctions.Sorter("date", "Date", grid), style: "Midcolumn5"),
                            grid.Column("branch", objCmnFunctions.Sorter("branch", "Branch", grid), style: "Midcolumn10"),
                           grid.Column("department", objCmnFunctions.Sorter("department", "Department", grid), style: "Midcolumn5"),
                           grid.Column("requestfor", objCmnFunctions.Sorter("requestfor", "Request For", grid), style: "Midcolumn5"),
                            grid.Column("description", objCmnFunctions.Sorter("description", "Description", grid), style: "Midcolumn30")

))
            </div>
        </div>
        <div class="borderStyle">
            @ViewBag.NoRecordsFound
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('tfoot a').click(function () {

            $('form').attr('action', $(this).attr('href')).submit();

            return false;
        });
        function dateformat() {
            dateformat: 'dd/mm/yy';
        }
        $("#txtprdate").datepicker({

            dateFormat: 'dd/mm/yy',
            maxDate: new Date()
        });


    });

</script>