@model IEM.Areas.IFAMS.Models.GroupModel
@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@{
    ViewBag.Title = "GCSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.GModel,
                         canPage: true,
                         rowsPerPage: 20,
                         canSort: true,
                       ajaxUpdateContainerId: "groupViewGridC",
                          ajaxUpdateCallback: "groupViewGridC"
                       );
}

<b>
    <span style="color: rgb(52, 108, 196);"> Asset Grouping - Checker</span>
</b>

<br /><br />
@using (Html.BeginForm())
{
    <div class="well">
        <div class="row">

            <div class="col-sm-12">

                <table class="myTableStyleTabNew" style="margin-left:-03px;">
                    <tr>
                        <td style="padding-left:20px;padding-top:10px;padding-bottom:10px;">
                            <div>
                                <span> Group Id </span>
                                <br />
                                <input type="text"
                                       name="GroupId"
                                       id="txtGroupId"
                                       value="@ViewBag.GroupId"
                                       class="textboxStyleSearch" maxlength="6" />
                            </div>
                        </td>

                        <td style="padding-left:20px;padding-top:10px;padding-bottom:10px;">
                            <span> </span>
                            <br />
                            <button class="btn btn-primary" type="submit" name="command" value="SEARCH"><span style="color:white;" class="glyphicon glyphicon-search "></span> Search</button>

                        </td>
                        <td style="padding-left:20px;padding-top:10px;padding-bottom:10px;">

                            <span> </span>
                            <br />
                            <button class="btn btn-primary" id="btnclear" value="Clear" name="command" type="submit"><span style="color:white;" onclick="refreshpage()" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-top:17px;" class="overflowx overflowy">
            @grid.GetHtml(
          htmlAttributes: new { id = "groupViewGridC" },
                fillEmptyRows: false,
                tableStyle: "tableSmall table-bordered table-hover table-responsive",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(
                        grid.Column(style: "col-lg-1", header: "S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                        grid.Column("_group_id", obj.Sorter("_group_id", " Group ID", grid), style: "col-lg-3 MidColumn20Center"),
                        grid.Column("_asset_count", obj.Sorter("_asset_count", " Asset Count", grid), style: "col-lg-3 MidColumn20Center"),
                        grid.Column(header: "Action", canSort: false, style: "action", format: @<text>
                        @Html.Raw("<a onclick='ViewDetails(" + item._group_id + ")' title='Add Asset to Group'> <span id='Color' class='glyphicon glyphicon-eye-open'> </span> </a>")
                        </text>)))
            @if (ViewBag.Message != null)
            {  <div class="table-bordered" align="center">
                <b> @ViewBag.Message </b>
            </div>
            }
        </div>
        <br />
        <span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount</span>  <span class="myTableStyleTabNew"> - Total No Of Records:@Model.GModel.Count()</span>


        <div id="PartialView"></div>
    </div>
}
<script>

    var tr = $("#groupViewGridC").find('tr');
    $("#groupViewGridC tr #Color").click(function () {
        $('#groupViewGridC').find('tr').css('background', 'none');
        $(this).closest('tr').css('background', '#CEECF5');
    });
    var objDialog;
    objDialog = $("[id$='PartialView']");
    function ViewDetails(id) {
        objDialog.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 900,
            height: 600,
            resizable: false,
            cache: false
        });
        objDialog.load('../AssetGrouping/GroupView/?id=' + id + '&viewfor=checkerView' + new Date().getTime());
        objDialog.dialog({ title: 'View Asset Group' });
        objDialog.dialog("open");
    }
</script>