@using IEM.Areas.FLEXIBUY.Models;
@using IEM.Common
@model IEM.Areas.FLEXIBUY.Models.grnconfirmationdetails
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "grnconfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(source: Model.grnconfirmationdetail, canSort: true, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid", selectionFieldName: "SelectedRow");
    grid.Pager(WebGridPagerModes.All);
    int rowNum = 0;

    CmnFunctions objCmnFunctions = new CmnFunctions();
    grnconfirmation gh = new grnconfirmation();
}
<input type="hidden" value="@Model.grnheadGid" id="hid_grnheadGid" />
@*<h2>grnconfirmation</h2>*@
<b>
    <span style="color: rgb(52, 108, 196);">GRN Confirmation</span>
</b>
<div class="well">
   
    <div id="tabsat" style="height:auto;font-size:14px;">
        <ul>
            <li><a href="#tabs-3">GRN Details</a></li>
            <li><a href="#tabs-2">Attachments</a></li>
        </ul>

        <div id="tabs-2">
            @Html.Partial("BoqAttach")
        </div>
        <div id="tabs-3">
            <div class="borderStyle panel panel-default ">
                <table class="myTableStyleTabNew" align="center" width="100%">
                    <tr>
                        <td>
                            <div>
                                <span>GRN Ref No</span>
                                <br />

                                <input type="text"
                                       name="txtprrefno"
                                       value="@Model.grnrefno"
                                       class="textboxStyle valid"
                                       disabled="disabled"
                                       @*placeholder="Enter PR Ref No"*@ />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>GRN Date</span>
                                <br />
                            </div>
                            <div>
                                <input type="text"
                                       name="txtprdate"
                                       id="txtprdate"
                                       value="@Model.grndate"
                                       class="textboxStyle valid"
                                       disabled="disabled"
                                       placeholder="Enter PR Date" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>GRN Raisedby</span>
                                <br />
                            </div>

                            <div>
                                <input type="text"
                                       name="txtprdate"
                                       id="txtprdate"
                                       value="@Session["employee_name"]"
                                       class="textboxStyle valid"
                                       disabled="disabled"
                                       placeholder="Enter PR Date" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>Vendor Name</span>
                                <br />
                            </div>

                            <div>
                                <input type="text"
                                       name="txtprdate"
                                       id="txtprdate"
                                       value="@Model.vendorname"
                                       class="textboxStyleBig valid"
                                       disabled="disabled"
                                       placeholder="Enter PR Date" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <span>Po/Wo Ref No</span>
                                <br />

                                <input type="text"
                                       name="txtprrefno"
                                       value="@Model.poworefno"
                                       class="textboxStyle valid"
                                       disabled="disabled"
                                       placeholder="Enter PR Ref No" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>Dc No</span>
                                <br />
                            </div>
                            <div>
                                <input type="text"
                                       name="txtprdate"
                                       id="txtprdate"
                                       value="@Model.dcno"
                                       class="textboxStyle valid"
                                       disabled="disabled"
                                       placeholder="Enter PR Date" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>Invoice No</span>
                                <br />
                            </div>

                            <div>
                                <input type="text"
                                       name="txtprdate"
                                       id="txtprdate"
                                       value="@Model.invoiceno"
                                       class="textboxStyle valid"
                                       disabled="disabled"
                                       placeholder="Enter PR Date" />
                            </div>
                        </td>
                        @*<td colspan="4">
                            <div style="padding:10px 10px 0px 0px;text-align:right;">
                                <input class="btn btn-primary" id="btnAddAttachment" type="button" value="Add Attachment" />
                            </div>
                        </td>*@
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <span>GRN Description</span>
                            <br />
                            <input type="text"
                                    name="txtgrndes"
                                    id="txtgrndes"
                                    value="@Model.GRNdes"
                                    class="textboxStyle valid"
                                    disabled="disabled" style="width:576%;" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="processworking">
                <div style="padding:0;margin:0;">
                    @Html.Partial("grndetails")
                </div>
            </div>
            <br />
        </div>
    </div>
    <table align="center">
        <tr>
            <td>
                <span>Remarks</span>
                <br />
                <textarea name="txt_remarks"
                          class="textboxStyle"
                          style="display:block;width:437px;height:89px;"
                          maxlength="264"
                          id="confirm_check"></textarea>
            </td>
        </tr>
    </table>
    <br />
    <div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <button type="button" id="btn_submitgrn" name="command" class="btn btn-success" onclick="submit()" value="Submit">
                        <span class="glyphicon glyphicon-floppy-saved" style="color:white;"></span> Submit
                    </button>
                    @*<input type="button" class="btn btn-primary" value="Submit" onclick="submit()" />*@
                    @*<input type="button" class="btn btn-success" value="Cancel" />*@
                    @*<input type="button" class="btn btn-warning " value="Cancel" onclick="back()" />*@
                    <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="back()">
                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                </td>
            </tr>
        </table>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            var currentTab = 0;
            $(function () {
                $("#tabsat").tabs({
                    select: function (e, i) {
                        currentTab = i.index;
                    }
                });
            });
        });
        function submit() {
            showProgress();
            //var cnttemp = 0;
            //$("#grncfmgrid tr").each(function () {

            //    cnttemp = cnttemp + 1;

            //    var manuf = $(this).find('td:eq(8)').text();
            //    var assetslno = $(this).find('td:eq(5)').text();
            //    var putTouse = $(this).find('td:eq(6)').text();
            //    alert(manuf);
            //    if (manuf == ""  || manuf==null){

            //        jAlert("Maunfacture Name Cannot be Empty", "Error");
            //        return false;
            //    }
            //    if (assetslno == "" || assetslno == null)
            //    {
            //        jAlert("Asset Slno Cannot be Empty", "Error");
            //        return false;
            //    }
            //    if (putTouse == "" || putTouse == null)
            //    {
            //        jAlert("Put To Use Date Cannot be Empty", "Error");
            //        return false;
            //    }
            //    if (cnttemp == $("#grncfmgrid tr").length) {
                    var confirm = $('#confirm_check').val();
                    var id = $('#hid_grnheadGid').val();
                    //if (confirm == null || confirm == "") {
                    //    jAlert("Please Enter Remarks", "Error");
                    //    return false;
                    //}
                    var errmsg = "";
                    var errmsg1 = "";
                    var rowcnt = 0;
                    $("#grncfmgrid tbody tr").each(function () {
                        rowcnt = rowcnt + 1;
                        var manufacturername = $(this).find($("input[name$=inmanf]")).val();
                        var assetno = $(this).find($("input[name$=inassetno]")).val();
                        var SlNo = $(this).find($("input[name$=hfSlNo]")).val(); 
                        var PutToUseDate = $(this).find($("input[name$=inusedate]")).val();
                        if ((manufacturername == null || manufacturername.toString().trim() == "") && ($.trim(SlNo) == "M" || $.trim(SlNo) == "Y")) {
                            if (errmsg == "") {
                                hideProgress();
                                errmsg = "Please Enter Manufacturer Name(Row Number:" + rowcnt.toString() + ")";
                            }
                            else {
                                hideProgress();
                                errmsg += "\nPlease Enter Manufacturer Name(Row Number:" + rowcnt.toString() + ")";
                            }
                            
                        }
                        if ((assetno == null || assetno.toString().trim() == "") && ($.trim(SlNo) == "M" || $.trim(SlNo) == "Y")) {
                            if (errmsg1 == "") {
                                hideProgress();
                                errmsg1 = "Please Enter Asset Sl.No(Row Number:" + rowcnt.toString() + ")";
                            }
                            else {
                                hideProgress();
                                errmsg1 += "\nPlease Enter Asset Sl.No(Row Number:" + rowcnt.toString() + ")";
                            }
                        }
                        if (PutToUseDate == null || PutToUseDate.toString().trim() == "")  {
                            if (errmsg1 == "") {
                                hideProgress();
                                errmsg1 = "Please Enter Put To Use Date(Row Number:" + rowcnt.toString() + ")";
                            }
                            else {
                                hideProgress();
                                errmsg1 += "\nPlease Enter Put To Use Date(Row Number:" + rowcnt.toString() + ")";
                            }
                        }
                    });
                    if (errmsg != "") {
                        hideProgress();
                        jAlert(errmsg, "Error", function () {
                            return false;
                        });
                        return false;
                    }
                    if (errmsg1 != "") {
                        hideProgress();
                        jAlert(errmsg1, "Error", function () {
                            return false;
                        });
                        return false;
                    }
                 
                   // else {
                        var prhead = {
                            "remarks": confirm,
                            "grnheadgid": id,
                        };
                        $.post('@Url.Action("SaveGrnConfirm", "GRN")', prhead,
                         function (data) {
                             if (data == 0) {
                                 hideProgress();
                                 jAlert("Error Occured", "Error");
                                 return false;
                             }
                             else {
                                 if (data == "success" || data == "Success") {
                                     hideProgress();
                                     jAlert("GRN Confirmed Successfully", "Success", function (e) {
                                         if (e == true) {
                                             location.href = '@Url.Action("grnconfirmationsummary", "GRN")';
                                         }
                                     });
                                 }
                                 else {
                                     hideProgress();
                                     jAlert(data, "Error", function (e) {
                                         return false;
                                     });
                                 }
                             }
                         }, 'json');
                  //  }
                }
           // });
            //}
        function back() {
            location = "@Url.Action("grnconfirmationsummary", "GRN")?" +new Date().getTime();
        }

    </script>

