@using IEM.Areas.FLEXIBUY.Models;
@using IEM.Common
@model IEM.Areas.FLEXIBUY.Models.grnconfirmationdetails
@*<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>*@
<div id="grnconfirm">

    @{
        //var grid = new WebGrid(source: Model.grnconfirmationdetail, canSort: true, canPage: false, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid", selectionFieldName: "SelectedRow");
        var grid = new WebGrid(source: Model.grnconfirmationdetail, canSort: false, canPage: false);
        CmnFunctions objCmnFunctions = new CmnFunctions();
      //  int rowNum = 0;
    }
    <div>
        <div style="overflow-y:auto; width:100% ; max-height:400px">
        <div>
        @grid.GetHtml(
        tableStyle: "table table-bordersed table-hover table-responsive",
        htmlAttributes: new { id = "grncfmgrid" },
        columns: grid.Columns
            (
                grid.Column("slno", "SNo"),
                grid.Column("grndetGid", "grndetGid"),
                //grid.Column("SNo", format: a => rowNum = rowNum + 1),
                grid.Column("productgroup", "Product Group"),
                grid.Column("productcode","Product Code"),
                grid.Column("productname", "Product Name"),
                grid.Column("uomcode", "Uom Code"),
                grid.Column("receivedqty", "Received Quantity"),
                grid.Column("receiveddate", "Received Date"),
                grid.Column("manfName", "Manufacture Name",
                    format: @<text><span class="display" id="lblmanf">@item.manfName</span>
                    <input type="text" id="inmanf_@item.grndetGid" name="inmanf"
                    href="@item.grndetGid" value="@item.manfName" style="width:100%"
                    class=" textboxStyle edit" /> </text>,style:"MidColumn30"),
               grid.Column("assetSlno", "Asset Slno",
                    format: @<text><span class="display" id="lblasset">@item.assetSlno</span>
                    <input type="hidden" value="@item.IsSerial" name="hfSlNo" class="hiddenSlNo" />
                    <input type="text" id="inassetno_@item.grndetGid" name="inassetno"
                    href="@item.grndetGid" value="@item.assetSlno" style="width:100%;"
                    class="textboxStyle edit txtSlNo" /> </text>,style:"MidColumn30"),
               grid.Column("putToUseDate", "PutToUseDate",
                    format: @<text><span class="display" id="lblput">@item.putToUseDate</span>
                    <input type="hidden" value="@item.IsBranch" name="hfIsBranch" class="hfIsBranch" />
                    <input type="hidden" value="@item.GRNType" name="hfGRNType" class="hfGRNType" />
                    <input type="text" id="inusedate_@item.grndetGid" name="inusedate"
                    onkeypress="return isDate(event, this);" onmouseover="getDate(id)"
                    href="@item.grndetGid" value="@item.putToUseDate" style="width:100%"
                    class="textboxStyle edit txtUseDate" /> </text>,style:"MidColumn30"),
                grid.Column(header: "Action", canSort: false, style: "MidColumn30",
                format: @<text>
                @*<input type="button" value="Select" class="btn btn-link" onclick="samplefunction(@item.grndetGid,@item.grndetGid)" id="btn" title="Select" />*@
                <span class='glyphicon glyphicon-floppy-save edit save-btn' style="cursor:pointer;" title="Save"> <label id="sdf34" hidden="hidden">@item.grndetGid</label></span>
                &nbsp;
                <span class='glyphicon glyphicon-edit display edit-btn cursor' style="cursor:pointer;" title="Edit"><label id="sdf67" hidden="hidden"> @item.grndetGid </label> </span>
                &nbsp;
                <span class='glyphicon glyphicon-remove edit cancel-btn cursor' style="cursor:pointer;" title="Cancel"> <label id="sdf000-" hidden="hidden"> @item.grndetGid</label></span>
                </text>)))
            </div>
         
        </div>
    </div>
</div>
<script>

    $("#grncfmgrid td:nth-child(2),#grncfmgrid th:nth-child(2)").hide();

    $(document).ready(function () {
        //$('#grncfmgrid').find('input[name="inusedate"]').each(function () {
        //    ReceivedDate1($(this))
        //});

        $('#grncfmgrid').dataTable({
            "bPaginate": false,
            "bSort": false
        }).css("width", "99%");

        $('.edit ').hide();
        $('.edit-btn, .cancel-btn').on('click', function () {

            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            if ($.trim(tr.find(".hiddenSlNo").val()) == "M" || $.trim(tr.find(".hiddenSlNo").val()) == "Y")
                tr.find(".txtSlNo").removeAttr("disabled");
            else
                tr.find(".txtSlNo").attr("disabled", "disabled");
            if ($.trim(tr.find(".hfIsBranch").val()) == "B" && $.trim(tr.find(".hfGRNType").val()) == "D") {
                //tr.find(".txtUseDate").attr("disabled", "disabled");  // commented on 21-04-2016 kathir
                tr.find(".txtUseDate").removeAttr("disabled");
            }
            else
                tr.find(".txtUseDate").removeAttr("disabled");
        });
        //function ReceivedDate1(id) {
        //    id.datepicker(pickerOpts);
        //}
        //var pickerOpts = {
        //    changeMonth: true,
        //    changeYear: true,
        //    yearRange: '1950:2100',
        //    currentText: "Now",
        //    dateFormat: "dd-mm-yy"
        //};
    });
    $('.save-btn').on('click', function () {

        var tr = $(this).parents('tr:first');
        var row = $(this).text();
        var manname = tr.find("#inmanf_" + row.trim() + "").val();
        var assetslno = tr.find("#inassetno_" + row.trim() + "").val();
        var putusedate = tr.find("#inusedate_" + row.trim() + "").val();
        var grndetailsid = tr.find("td:eq(1)").text();

        var valid = tr.find(".hiddenSlNo").val();

        if (manname == null || manname.toString().trim() == "" && ($.trim(valid) == "M" || $.trim(valid) == "Y")) {
            jAlert("Please Enter Manufacturer Name", "Error", function () {
                return false;
            });
            return false;
        }
        if ((assetslno == null || assetslno.toString().trim() == "") && ($.trim(valid) == "M" || $.trim(valid) == "Y")) {
            jAlert("Please Enter Asset Sl.No", "Error", function () {
                return false;
            });
            return false;
        }
        if (putusedate == null || putusedate.toString().trim() == "") {
            jAlert("Please Enter PutToUseDate", "Error", function () {
                return false;
            });
            return false;
        }
        var objInward =
           {
               "manfName": manname,
               "assetSlno": assetslno,
               "putToUseDate": putusedate,
               "grndetGid": grndetailsid
           };

        $.ajax({
            url: '@Url.Action("Grnsavedetails", "GRN")',
            type: 'POST',
            data: objInward,
            success: function (data) {
                if (data == 0) {
                    jAlert("Error Occured", "Error");
                    return false;
                }
                else {
                    $("#grnconfirm").empty().append(data);
                }
            },
            error: function () {
                jAlert("something seems wrong", "Error");
            }

        });
        @*$.ajax({
            url: '@Url.Action("Grnsavedetails", "GRN")',
            type: 'POST',
            data: objInward,
            success: function (data) {
                alert(data);
                $("#grnconfirm").load('@Url.Action("Grnsavedetails", "GRN")');
            },
            error: function () {
                jAlert("something seems wrong", "Error");
            }
        });*@
    });
    function getDate(id) {
       
        var id1 = '#' + id;
        ReceivedDate(id1);
    }
    function ReceivedDate(id1) {
       
        $(id1).datepicker(pickerOpts);
    }
    var pickerOpts = {
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2100',
        currentText: "Now",
        maxDate: 'd',
        dateFormat: "dd-mm-yy"
    };

    //};
</script>