@{
    ViewBag.Title = "Amort";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<style>
    table, th, td {
        white-space: nowrap;
    }
</style>
<div class="pageHeadingLayout">
    <span class="pageHeading">Amort Report</span>
</div>
<div class="well">
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            
            <td width="25%" style="padding: 0px 10px">
                <span>ECF Date From</span>
                <br />
                <input type="text"
                       id="txtDateFrom"
                       class="fstextbox required" />
            </td>
            <td width="25%" style="padding: 0px 10px">
                <span>ECF Date To</span>
                <br />
                <input type="text"
                       id="txtDateTo"
                       class="fstextbox required" />
            </td>
            <td width="25%" style="padding: 0px 10px">
                <span>ECF No</span>
                <br />
                <input type="text"
                       id="txtEcfNo"
                       class="fstextbox" />
            </td>
            <td width="25%" style="padding: 0px 10px; vertical-align:bottom; text-align:right;">
                <button class="btn btn-primary" accesskey="e" type="button" style="margin-top:10px;  color:white;" data-bind="click: function() { $root.DownloadAmortReport(); }, visible: AmortReportArray().length > 0">
                    <span style="color:white;" class="glyphicon glyphicon-download-alt"></span>
                    Export Excel
                </button>
                <button class="btn btn-primary" accesskey="q" type="button" style="margin-top:10px;  color:white;" data-bind="click: function() { $root.SearchAmortReport(); }">
                    <span style="color:white;" class="glyphicon glyphicon-search"></span>
                    Search
                </button>
                <button class="btn btn-primary" accesskey="c" type="button" style="margin-top:10px;  color:white;" data-bind="click: function() { $root.ClearAmortReport(); }">
                    <span style="color:white;" class="glyphicon glyphicon-refresh"></span>
                    Clear
                </button>
            </td>
        </tr>
    </table>

    <div class="table-responsive" style="margin-top: 15px;">
        <table id="gvReport" class="tableSmall table-bordered table-hover" data-bind="visible: AmortReportArray().length > 0">
            <thead>
                <tr>
                    <th align="center" style="padding-right:20px;">
                        Sl No
                    </th>
                    <th style="padding-right:20px;">
                        ECF No
                    </th>
                    <th style="padding-right:20px;">
                        ECF Date
                    </th>
                    <th style="padding-right:20px;">
                        ECF Amount
                    </th>
                    <th style="padding-right:20px;">
                        Invoice No
                    </th>
                    <th style="padding-right:20px;">
                        Invoice Amount
                    </th>
                    <th style="padding-right:20px;">
                        Service Tax
                    </th>
                    <th style="padding-right:20px;">
                        Expense Code
                    </th>
                    <th style="padding-right:20px;">
                        Sub Code
                    </th>
                    <th style="padding-right:20px;">
                        Expense Amount
                    </th>
                    <th style="padding-right:20px;">
                        GL Code
                    </th>
                    <th style="padding-right:20px;">
                        Amort GL Code
                    </th>
                    <th style="padding-right:20px;">
                        Amortizable Amount
                    </th>
                    <th style="padding-right:20px;">
                        Start Date
                    </th>
                    <th style="padding-right:20px;">
                        End Date
                    </th>
                    <th style="padding-right:20px;">
                        Last Run
                    </th>
                    <th style="padding-right:20px;">
                        Amortized Amount
                    </th>
                    <th style="padding-right:20px;">
                        Balance Amount
                    </th>
                    <th style="padding-right:20px;">
                        Amort Type
                    </th>
                    <th style="padding-right:20px;">
                        Total
                    </th>
                    <th style="padding-right:20px;">
                        Completed
                    </th>
                    <th style="padding-right:20px;">
                        Balance
                    </th>
                    <th style="padding-right:20px;">
                        Next Run
                    </th>
                    <th style="padding-right:20px;">
                        Next Run Amount
                    </th>
                    <th style="padding-right:20px;">
                        ReversalFlag
                    </th>
                    <th style="padding-right:20px;">
                        Opening
                    </th>
                    <th style="padding-right:20px;">
                        Addition
                    </th>
                    <th style="padding-right:20px;">
                        Expense
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach:{ data: AmortReportArray, afterRender: DatatableStyleApply }, visible: AmortReportArray().length > 0">
                <tr>
                    <td align="center">
                        <span data-bind="text:$index()+1"></span>
                    </td>
                    <td>
                        <span data-bind="text: ECFNo"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: ECFDate"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: ECFAmount"></span>
                    </td>
                    <td>
                        <span data-bind="text: InvoiceNo"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: InvoiceAmount"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: ServiceTax"></span>
                    </td>
                    <td>
                        <span data-bind="text: ExpenseCode"></span>
                    </td>
                    <td>
                        <span data-bind="text: SubCode"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: ExpenseAmount"></span>
                    </td>
                    <td>
                        <span data-bind="text: GLCode"></span>
                    </td>
                    <td>
                        <span data-bind="text: AmortGLCode"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: AmortizableAmount"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: StartDate"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: EndDate"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: LastRun"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: AmortizedAmount"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: BalanceAmount"></span>
                    </td>
                    <td>
                        <span data-bind="text: AmortType"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: Total"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: Completed"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: Balance"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: NextRun"></span>
                    </td>
                    <td align="right">
                        <span data-bind="text: NextRunAmount"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: ReversalFlag"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: Opening"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: Addition"></span>
                    </td>
                    <td align="center">
                        <span data-bind="text: Expense"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<script>
    var MUrlDet = "@Url.Action("GetBankSummary", "Reports")"
    var MUrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
</script>
<script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsReports.js")" type="text/javascript"></script>
