@using IEM.Areas.IFAMS.Models
@model IEM.Areas.IFAMS.Models.AssetReportModel
@{
    ViewBag.Title = "FASummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>


<b>

    <span id="spanFinal" style="color: #7c6a55;">FA Summary</span>
</b>

<div ng-app="angularapprpt">
    <div class="well" ng-controller="depcontroller">
        <table class="myTableStyleTabNew">
            <tr>
                <td>
                    @*@using (Html.BeginForm("ExportFASummary", "Report", FormMethod.Post))
                        { <button class="btn btn-primary" type="submit" id="btnexport2" value="Export"
                                  name="command">
                            <span style="color:white;" class="glyphicon glyphicon-export"></span>
                            Export
                        </button>}*@
                    <button class="btn btn-primary" onclick="fnExcelReport()" type="button" id="btnexport" value="Export"
                            name="command"
                            ng-click="sett()">
                        <span style="color:white;" class="glyphicon glyphicon-export"></span>
                        Export
                    </button>
                </td>
            </tr>
        </table>
     <iframe id="txtArea1" style="display:none"></iframe>
        <div id="tabsapprvallist" style="font-size:12px; height: 750px;">
            <ul>
                <li><a href="#tabsapprvallist-1"> Overall Summary</a></li>
                <li><a href="#tabsapprvallist-2">Branch  </a></li>
                <li><a href="#tabsapprvallist-3">Non-Branch  </a></li>
            </ul>
            <div id="tabsapprvallist-1" style="padding: 10px 4px 3px 15px">
                <div style="padding: 10px 4px 3px 15px;">
                    <div style="overflow-x:scroll;width:100%">

                        <table style="width:100%;background-color:#7c6a55" class="tableSmall table-bordered  table-responsive" id="tblExpp">
                            <caption style="background-color:#7c6a55;display:none ;color:white"><b>Overall Summary</b></caption>
                            <tr>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpptable1">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>GROSS BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width:3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:5%;cursor:pointer" ng-click="predicate = 'OracleGL'; reverse=!reverse">
                                                    Oracle GL

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate ='Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Additions'; reverse=!reverse">
                                                    Additions

                                                </th>
                                                <th style="width:8%;cursor:pointer" ng-click="predicate = 'Deletions'; reverse=!reverse">
                                                    Deletions

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Impairment'; reverse=!reverse">
                                                    Impairment

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody ng-show="filteredItemsOverGrossRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverGrossRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.OracleGL_g}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_g}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Additions_g}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Deletions_g}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Impairment_g}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_g}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpptable2">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>DEPRECIATION BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width:3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:5%;cursor:pointer" ng-click="predicate = ' OracleGL'; reverse=!reverse">
                                                    Oracle GL

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate ='Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Additions'; reverse=!reverse">
                                                    Additions

                                                </th>
                                                <th style="width:8%;cursor:pointer" ng-click="predicate = 'Deletions'; reverse=!reverse">
                                                    Deletions

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Impairment'; reverse=!reverse">
                                                    Impairment

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverGrossRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverGrossRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.OracleGL_d}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_d}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Additions_d}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Deletions_d}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Impairment_d}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_d}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpptable3">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>NET BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width :3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate = 'Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverGrossRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverGrossRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:7%;">
                                                    {{filteredItemsOverGrossRpt1.Opening_n}}
                                                </td>
                                                <td style="width:3%;">
                                                    {{filteredItemsOverGrossRpt1.Closing_n}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpptable4">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>TB as on @System.DateTime.Today.ToShortDateString()</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width :3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate = 'Opening'; reverse=!reverse">
                                                    Grosss Block

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Depreciation Block

                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverGrossRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverGrossRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:7%;text-align:right">

                                                    <input type="text" onkeyup="return isNumber(event);" ng-model="filteredItemsOverGrossRpt1.tb_g" />

                                                    <span style="display:none">  {{filteredItemsOverGrossRpt1.tb_g}} </span>
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    <span>    <input type="text" onkeyup="return isNumber(event);" ng-model="filteredItemsOverGrossRpt1.tb_d" />   </span>
                                                    <span style="display:none">  {{filteredItemsOverGrossRpt1.tb_d}} </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpptable5">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>  Difference if any</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width :3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate = 'Opening'; reverse=!reverse">
                                                    Grosss Block

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Depreciation Block

                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverGrossRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverGrossRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    <span>{{filteredItemsOverGrossRpt1.Opening_n - filteredItemsOverGrossRpt1.tb_g}}</span>
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    <span>{{filteredItemsOverGrossRpt1.Closing_n - filteredItemsOverGrossRpt1.tb_d}}</span>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            @*<tfoot ng-show="filteredItemsOverGrossRpt < 1">
                                <tr>
                                    <td colspan="11" style="text-align:center">
                                      No Records Found
                                    </td>
                                </tr>
                            </tfoot>*@
                        </table>

                    </div>
                </div>
            </div>
            <div id="tabsapprvallist-2" style="padding: 10px 4px 3px 15px">
                <div style="padding: 10px 4px 3px 15px;overflow-x:scroll;">

                    <div style="width:100%">
                        <table style="overflow-x:scroll;width:100% ;background-color:#7c6a55" class="tableSmall table-bordered table-hover table-responsive" id="tblExpp1">
                            <caption style="background-color:#7c6a55;display:none ;color:white"><b>Branch</b></caption>
                            <tr>
                                <td>

                                    <table style="width:100%" class="tableSmall table-bordered  table-responsive" id="tblExpp1table1">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>GROSS BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width:3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:5%;cursor:pointer" ng-click="predicate = 'OracleGL'; reverse=!reverse">
                                                    Oracle GL

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate ='Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Additions'; reverse=!reverse">
                                                    Additions

                                                </th>
                                                <th style="width:8%;cursor:pointer" ng-click="predicate = 'Deletions'; reverse=!reverse">
                                                    Deletions

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Impairment'; reverse=!reverse">
                                                    Impairment

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverDepRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverDepRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.OracleGL_g}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_g}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Additions_g}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Deletions_g}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Impairment_g}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_g}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpp1table2">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>DEPRECIATION BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width:3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:5%;cursor:pointer" ng-click="predicate = ' OracleGL'; reverse=!reverse">
                                                    Oracle GL

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate ='Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Additions'; reverse=!reverse">
                                                    Additions

                                                </th>
                                                <th style="width:8%;cursor:pointer" ng-click="predicate = 'Deletions'; reverse=!reverse">
                                                    Deletions

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Impairment'; reverse=!reverse">
                                                    Impairment

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverDepRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverDepRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.OracleGL_d}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_d}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Additions_d}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Deletions_d}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Impairment_d}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_d}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpp1table3">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>NET BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width :3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate = 'Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverDepRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverDepRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_n}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_n}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            @*<tfoot ng-show="filteredItemsOverDepRpt < 1">
                                <tr>
                                    <td colspan="11" style="text-align:center">
                                       text-align:right No Records Found
                                    </td>
                                </tr>
                            </tfoot>*@
                        </table>

                    </div>
                </div>
            </div>
            <div id="tabsapprvallist-3" style="padding: 10px 4px 3px 15px">

                <div style="padding: 10px 4px 3px 15px;">

                    <div style="overflow-x:scroll;width:100%;background-color:#7c6a55">
                        <table style="background-color:#7c6a55" class="tableSmall table-bordered  table-responsive" id="tblExpp11">
                            <caption style="background-color:#7c6a55;display:none ;color:white"><b>Non-Branch</b></caption>
                            <tr>
                                <td>

                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpp11table1">
                                        <caption style=" background-color:#7c6a55 ;color:white">
                                        <b>GROSS BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width:3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:5%;cursor:pointer" ng-click="predicate = 'OracleGL'; reverse=!reverse">
                                                    Oracle GL

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate ='Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Additions'; reverse=!reverse">
                                                    Additions

                                                </th>
                                                <th style="width:8%;cursor:pointer" ng-click="predicate = 'Deletions'; reverse=!reverse">
                                                    Deletions

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Impairment'; reverse=!reverse">
                                                    Impairment

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverNetRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverNetRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.OracleGL_g}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_g}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Additions_g}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Deletions_g}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Impairment_g}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_g}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpp11table2">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>DEPRECIATION BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width:3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:5%;cursor:pointer" ng-click="predicate = ' OracleGL'; reverse=!reverse">
                                                    Oracle GL

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate ='Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Additions'; reverse=!reverse">
                                                    Additions

                                                </th>
                                                <th style="width:8%;cursor:pointer" ng-click="predicate = 'Deletions'; reverse=!reverse">
                                                    Deletions

                                                </th>
                                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Impairment'; reverse=!reverse">
                                                    Impairment

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverNetRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverNetRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.OracleGL_d}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_d}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Additions_d}}
                                                </td>
                                                <td style="width:5%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Deletions_d}}
                                                </td>
                                                <td style="width:10%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Impairment_d}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_d}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:100%" class="tableSmall table-bordered table-hover table-responsive" id="tblExpp11table3">
                                        <caption style="background-color:#7c6a55 ;color:white"><b>NET BLOCK</b></caption>
                                        <thead>
                                            <tr>
                                                <th style="width :3%;cursor:pointer;" ng-click="predicate = 'Particulars'; reverse=!reverse">
                                                    Particulars

                                                </th>
                                                <th style="width:7%;cursor:pointer" ng-click="predicate = 'Opening'; reverse=!reverse">
                                                    Opening

                                                </th>
                                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'Closing'; reverse=!reverse">
                                                    Closing

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="filteredItemsOverNetRpt > 0" ng-repeat="filteredItemsOverGrossRpt1 in ctrlfilteredItemsOverNetRpt | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                            <tr>
                                                <td style="width:3%;text-align:left">
                                                    {{filteredItemsOverGrossRpt1.Particulars}}
                                                </td>
                                                <td style="width:7%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Opening_n}}
                                                </td>
                                                <td style="width:3%;text-align:right">
                                                    {{filteredItemsOverGrossRpt1.Closing_n}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            @*<tfoot ng-show="filteredItemsOverNetRpt < 1">
                                <tr>
                                    <td colspan="11" style="text-align:center">
                                       No Records Found
                                    </td>
                                </tr>
                            </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .tablefix {
        table-layout: fixed;
        width: 100%;
    }

    .thfix, .tdfix {
        overflow: hidden;
    }
</style>

<script type="text/javascript">

    var currentTab = 0;
    $(function () {
        $("#tabsapprvallist").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });

    //function Exportfasummary(table,element) {

    //    var row = $(element).closest('tr');
    //    alert(row);
    //    $.post('../Report/ExportFASummary?dt=' + table + '&' + new Date().getTime(),
    //     function (data) { }, 'json');
    //}




    var Angularapprpt = angular.module('angularapprpt', ['ui.bootstrap']);



    Angularapprpt.service("newserviceheld", function ($http) {

        this.GetIfams = function () {
            var response = $http({
                method: "get",
                url: '@Url.Action("GetFASummary", "Report")?' + new Date().getTime(),
                dataType: "json"
            });
            return response;
        }
        this.SetIfams = function (SCNInwardDetails) {
            var response = $http({
                method: "post",
                data: JSON.stringify(SCNInwardDetails),
                url: '@Url.Action("ExportFASummary", "Report")?' + new Date().getTime(),
                dataType: "json"
            });

        }

    });

    Angularapprpt.filter('Pagestart', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        }
    });

    Angularapprpt.controller('depcontroller', function ($scope, newserviceheld) {
        $scope.filteredItemsOverGrossRpt = 0;
        $scope.filteredItemsOverDepRpt = 0;
        $scope.filteredItemsOverNetRpt = 0;

        $scope.PerPageItems = 10;
        $scope.maxSize = 5;
        $scope.currentPage = 1;
        getifamsdetailsheld();
        function getifamsdetailsheld() {
            //    alert("shrinidhi");
            showProgress();
            var SCNInwardDetails = {
                ReportModel: $scope.ctrlfilteredItemsOverGrossRpt

            };


            var getData = newserviceheld.GetIfams(SCNInwardDetails);
            getData.then(function (response) {
                //  alert("kathir");
                hideProgress();
                var Data0 = "";
                var Data1 = "";
                var Data2 = "";

                Data0 = JSON.parse(response.data.data0);
                Data1 = JSON.parse(response.data.data1);
                Data2 = JSON.parse(response.data.data2);

                $scope.ctrlfilteredItemsOverGrossRpt = Data0;
                $scope.ctrlfilteredItemsOverDepRpt = Data1;
                $scope.ctrlfilteredItemsOverNetRpt = Data2;
                //$scope.Session = $scope.ctrlfilteredItemsOverGrossRpt;
                $scope.filteredItemsOverGrossRpt = $scope.ctrlfilteredItemsOverGrossRpt.length;
                $scope.filteredItemsOverDepRpt = $scope.ctrlfilteredItemsOverDepRpt.length;
                $scope.filteredItemsOverNetRpt = $scope.ctrlfilteredItemsOverNetRpt.length;
                @*@ViewData["listget"] = $scope.ctrlfilteredItemsOverGrossRpt;
                @Session["listget"] : $scope.ctrlfilteredItemsOverGrossRpt;*@

            });
        }
        $scope.sett = function () {
            var SCNInwardDetails = {
                ReportModel: $scope.ctrlfilteredItemsOverGrossRpt
            };
            //  $sessionStorage.dataSession = $scope.ctrlfilteredItemsOverGrossRpt;
            var getData = newserviceheld.SetIfams(SCNInwardDetails);
            getData.then(function () {

            });
        }
    });



    function fnExcelReport() {
       
        //**********************************************************Overall Summary**********************************************************************************************

        //$("#btnExport").live("click", function () {
      
        var tab_text = "<table  border='2px'> <caption bgcolor='#87AFC6'  ><b>Overall Summary</b></caption><tr bgcolor='#FFFFFF' >";
        tab_text = tab_text + "<td><table border='2px'> <caption bgcolor='#87AFC6'  ><b>GROSS BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpptable1'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>"; 
        }

        tab_text = tab_text + "</table></td><td><table border='2px'> <caption bgcolor='#87AFC6'  ><b>DEPRECIATION BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpptable2'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }
        tab_text = tab_text + "</table></td><td><table border='2px'><caption bgcolor='#87AFC6'  ><b>NET BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpptable3'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }
        tab_text = tab_text + "</table></td><td><table border='2px'> <caption bgcolor='#87AFC6'  ><b>TB AS OF "+'@System.DateTime.Today.ToShortDateString()'+"</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpptable4'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }
        tab_text = tab_text + "</table></td><td><table border='2px'><caption bgcolor='#87AFC6'  ><b>DIFFERENCE IF ANY</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpptable5'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table></tr></table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        //***********************************************************Branch Summary*********************************************************************************************

        var tab_text1 = "<table  border='2px'> <caption bgcolor='#87AFC6'  ><b>Branch Summary</b></caption><tr bgcolor='#FFFFFF' >";
        tab_text1 = tab_text1 + "<td><table border='2px'> <caption bgcolor='#87AFC6'  ><b>GROSS BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpp1table1'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text1 = tab_text1 + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>"; 
        }

        tab_text1 = tab_text1 + "</table></td><td><table border='2px'> <caption bgcolor='#87AFC6'  ><b>DEPRECIATION BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpp1table2'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text1 = tab_text1 + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }
        tab_text1 = tab_text1 + "</table></td><td><table border='2px'><caption bgcolor='#87AFC6'  ><b>NET BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpp1table3'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text1 = tab_text1 + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text1 = tab_text1 + "</table></tr></table>";
        tab_text1 = tab_text1.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text1 = tab_text1.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text1 = tab_text1.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        //******************************************************************Non Branch Summary**************************************************************************************

        //id="tblExpp11table1"
        var tab_text11 = "<table  border='2px'> <caption bgcolor='#87AFC6'  ><b>Non Branch Summary</b></caption><tr bgcolor='#FFFFFF' >";
        tab_text11 = tab_text11 + "<td><table border='2px'> <caption bgcolor='#87AFC6'  ><b>GROSS BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpp11table1'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text11 = tab_text11 + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>"; 
        }

        tab_text11 = tab_text11 + "</table></td><td><table border='2px'> <caption bgcolor='#87AFC6'  ><b>DEPRECIATION BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpp11table2'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text11 = tab_text11 + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }
        tab_text11 = tab_text11 + "</table></td><td><table border='2px'><caption bgcolor='#87AFC6'  ><b>NET BLOCK</b></caption><tr bgcolor='#DF9357' style='color: rgb(256, 256, 256);'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblExpp11table3'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text11 = tab_text11 + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text11 = tab_text11 + "</table></tr></table>";
        tab_text11 = tab_text11.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text11 = tab_text11.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text11 = tab_text11.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params


        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
           txtArea1.document.write(tab_text);     
            txtArea1.document.write(tab_text1);
            txtArea1.document.write(tab_text11);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "FA Summary Report.xls");
        }
        else                 //other browser not tested on IE 11

            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text) + encodeURIComponent(tab_text1) + encodeURIComponent(tab_text11));
       

        return (sa);
    }//);

    </script>
