@using IEM.Areas.IFAMS.Models
@model IEM.Areas.IFAMS.Models.AssetReportModel
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var Session["saexcel"] = "";
    var grid = new WebGrid(source: Model.ReportModel, canPage: true, canSort: false, rowsPerPage: 10, ajaxUpdateContainerId: "salrepgridid", ajaxUpdateCallback: "salrepgridid");
    int rowval = 0;
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>


    <b>
        <span style="color: rgb(52,108,196);">
            Sale Report
        </span>
    </b>

    <br /><br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div id="_gridfullre">
            <div class="well">

                <div class="row">

                    <div class="col-sm-12">

                        <table class="myTableStyleTabNew" style="margin-left:-03px;">

                            <tr>
                                <td>

                                    <div>

                                        <span>Sale No </span>
                                        <br />
                                        <input type="text" name="sano" id="txtsano" maxlength="25" value="@ViewBag.sano" class="textboxStyleSearch"  />
                                    </div>

                                </td>

                                <td>

                                    <div>

                                        <span>Cheque No </span>
                                        <br />
                                        <input type="text" name="Chequeno" id="txtChequeno" maxlength="25" value="@ViewBag.Chequeno" class="textboxStyleSearch"  />
                                    </div>

                                </td>

                                <td>

                                    <div>

                                        <span>SA Invoice No </span>
                                        <br />
                                        <input type="text" name="sainvoiceno" id="txtsainvoiceno" maxlength="25" value="@ViewBag.sainvoiceno" class="textboxStyleSearch"  />
                                    </div>

                                </td>
                           
                                <td>

                                    <div>

                                        <span> Asset ID </span>
                                        <br />
                                        <input type="text" name="spfilter1" id="txtSpFilter1" maxlength="25" value="@ViewBag.spfilter1" class="textboxStyleSearch"  />
                                    </div>

                                </td>
                                <td>

                                    <div>

                                        <span> From Date </span>
                                        <br />
                                        <input type="text" name="fDate" id="txtfDate" maxlength="25" readonly="readonly" value="@ViewBag.fDate" class="textboxStyleSearch"  />
                                    </div>

                                </td>

                                <td>

                                    <div>

                                        <span> To Date </span>
                                        <br />
                                        <input type="text" readonly="readonly" name="tDate" id="txttDate" maxlength="25" value="@ViewBag.tDate" class="textboxStyleSearch"  />
                                    </div>

                                </td>

                                <td>
                                    <span></span>
                                    <br />

                                    <button class="btn btn-primary" type="submit" name="command" value="SEARCH" @*onclick="SalereSearch()"*@><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>

                                </td>
                                <td>

                                    <span></span>
                                    <br />

                                    <button class="btn btn-primary" type="button" id="btnclear" value="Clear" name="command" onclick="Saleclear()"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>

                                </td>

                                <td>

                                    <span></span>
                                    <br />
                                    @if (ViewBag.Mesage == null)
                                    {
                                    <button class="btn btn-primary" type="button" id="btnexport" value="Export" name="command" onclick="Export()"><span style="color:white;" class="glyphicon glyphicon-export"></span> Export</button>
                                    }
                                </td>



                            </tr>

                        </table>

                    </div>



                </div>



                <div id="" style="margin-top:17px; " class="overflowx overflowy">

                    @grid.GetHtml(htmlAttributes: new { id = "salrepgridid" }, fillEmptyRows: false, tableStyle: "tableSmall table-bordered table-hover table-responsive", mode: WebGridPagerModes.All,
        columns: grid.Columns(
        grid.Column(header: "S.No", format: item => rowval = rowval + 1),
        grid.Column("soaProcessdate", "Process Date", style: "col-lg-3 MidColumn20Center", format: @<text>
            <span class="editsmv">
                <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaProcessdate</label>
            </span>
        </text>),
        grid.Column("soaSalenumber", "SA Number", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaSalenumber</label>
                        </span>
        </text>),
        grid.Column("soainvno", "Sale Invoice No", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soainvno</label>
                        </span>
        </text>),
        grid.Column("soaSalevalue", "Total Sale Value", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaSalevalue</label>
                        </span>
        </text>),
        grid.Column("soaVatper", "VAT %", style: "col-lg-2 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaVatper</label>
                        </span>
        </text>),
        grid.Column("soaVatamt", "Total VAT Amount", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaVatamt</label>
                        </span>
        </text>),
        grid.Column("soaSaledate", "Sale Date", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaSaledate</label>
                        </span>
        </text>),
        grid.Column("soaStatus", "Process Status", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaStatus</label>
                        </span>
        </text>),
       grid.Column("soaMakerid", "Maker ID", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaMakerid</label>
                        </span>
    </text>),
       grid.Column("soaCheckerid", "Checker ID", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaCheckerid</label>
                        </span>
    </text>),
       grid.Column("soaJobcode", "Job Code", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soaJobcode</label>
                        </span>
    </text>),
                    @*grid.Column("assetdettrndate", "Trans Date", style: "col-lg-3 MidColumn20Center", format: @<text>
                                        <span class="editsmv">
                                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdettrndate</label>
                                        </span>
                        </text>),*@
 grid.Column("assetdettrndate", "Trans Date", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdettrndate</label>
                        </span>
</text>),
        grid.Column("assetdetDetid", "Asset Id", style: "col-lg-3 MidColumn20Center", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetDetid</label>
                        </span>
        </text>),
                    @*grid.Column("assetcategory", "Category", style: "col-lg-3 MidColumn20Center",format: @<text>
                                <span class="editsmv">
                                    <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetcategory</label>
                                </span>
                        </text>),
                        //grid.Column("assetdetDescription", "Asset Description", style: "col-lg-3"),
                        grid.Column("assetsubcategory", "Sub-Category Name", style: "col-lg-3 MidColumn20Center",format: @<text>
                            <span class="editsmv">
                                <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetsubcategory</label>
                            </span>
                        </text>),
                        //grid.Column("assetdetCode", "Asset Code", style: "col-lg-3"),
                        grid.Column("assetdetCode", "Sub-Category Code", style: "col-lg-1 MidColumn20Center",format: @<text>
                            <span class="editsmv">
                                <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetCode</label>
                            </span>
                        </text>),*@
 grid.Column("assetdetAssetvalue", "Asset Value", style: "rig col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetAssetvalue</label>
                        </span>
</text>),
            grid.Column("soadetSalevalue", "Sale Value", style: "rig col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetSalevalue</label>
                        </span>
            </text>),
           grid.Column("soadetVatvalue", "VAT", style: "rig col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetVatvalue</label>
                        </span>
        </text>),
            grid.Column("soadetProfitloss", "PL Value", style: "rig col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetProfitloss</label>
                        </span>
            </text>),
           grid.Column("soadetrectamt", "Dep.Rect.Amount", style: "rig col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetrectamt</label>
                        </span>
        </text>),
                             grid.Column("assetdettaken", "Reason", style: "MidColumn20Center col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdettaken</label>
                        </span>
            </text>),
                            grid.Column("soapayGL", "Bank GL", style: "MidColumn20Center col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapayGL</label>
                        </span>
        </text>),
                             grid.Column("soapaymode", "Pay Mode", style: "MidColumn20Center col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapaymode</label>
                        </span>
            </text>),
                            grid.Column("soapayChqno", "Cheque No", style: "MidColumn20Center col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapayChqno</label>
                        </span>
        </text>),
           grid.Column("soapayAmount", "Cheque Amount", style: "rig col-lg-3", format: @<text>
                        <span class="editsmv">
                            <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapayAmount</label>
                        </span>
        </text>)

                    @*grid.Column(header: "Action", canSort: false, style: "action",
                        format: @<text>
                            @Html.Raw("<a onclick ='viewSplitMak(" + item.assetdetId + ")' title='View'> <span id = 'color'  class='glyphicon glyphicon-eye-open'> </span> </a>")
                        </text>)*@
))
                    @if (ViewBag.Mesage != null)
                {
                        <div class="borderStyle" align="center">
                            <b> @ViewBag.Message</b>
                        </div>
                }


                    <br /><br />

                    <span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount@*</span> <span class="myTableStyleTabNew">*@ - Total No of Records: @grid.TotalRowCount</span>
                </div>
            </div>
            </div>

            }
        </div>





<style>
    .rig {
        text-align: right;
        width: 550px;
    }
</style>


<script type="text/javascript">

    function Saleclear() {
        $("#txtsano").val("");
        $("#txtChequeno").val("");
        $("#txtsainvoiceno").val("");
        $("#txtSpFilter1").val("");
        $("#txtfDate").val("");
        $("#txttDate").val("");
    }

    function Export() {
        // alert();
        location = '@Url.Action("SAExport", "Report")?' + new Date().getTime();
    }

    @*function SalereSearch() {

        var sano = $("#txtsano").val();
        var chqno = $("#txtChequeno").val();
        var invno = $("#txtsainvoiceno").val();
        var assetid = $("#txtSpFilter1").val();
        var frdate = $("#txtfDate").val();
        var todate = $("#txttDate").val();
        var search = {
            "soapayChqno": chqno, "soaSalenumber": sano, "soainvno": invno, "assetdetDetid": assetid, "fromdate": frdate, "todate": todate
        };

        alert("sdfhshdf");
        // location = '@Url.Action("Sales", "Report")?command="SEARCH"', search;
        $.post('@Url.Action("Sales", "Report")?command=SEARCH', search);
            @*$.ajax({
                url: '@Url.Action("SaleSearch", "Report")',
                type: 'POST',
                dataType: "json",
                data: search,
                success: function (data) {
                    alert(data);
                    $("#_gridfullre").empty();
                    $("#_gridfullre").append(data);
                    alert(data);
                   // $("#_gridfullre").append(data);

                },
                //error: function ()
                //{
                //    JAlert("Error");
                //}
            });
    }*@


    //$("#txtfDate,#txttDate").datepicker({
    //    changeMonth: true,
    //    changeYear: true,
    //    dateFormat: 'dd-mm-yy',
    //    maxdate: new Date(),
    //});

    $("#txtfDate").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        numberOfMonths: 1,
        onSelect: function (selected) {
            $("#txttDate").datepicker("option", "minDate", selected)
        }
    });
    $("#txttDate").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        numberOfMonths: 1,
        onSelect: function (selected) {
            $("#txtfDate").datepicker("option", "maxDate", selected)
        }
    });

    $("#txtSpFilter1").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("soaautoassetid", "Report")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.assetdetDetid, value: item.assetdetDetid };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });

    $("#txtsano").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("soaautoserialno", "Report")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.soaSalenumber, value: item.soaSalenumber };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });


    $("#txtChequeno").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("soaautocheqno", "Report")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.soapayChqno, value: item.soapayChqno };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });


    $("#txtsainvoiceno").autocomplete({
        source: function (request, response) {
           
            $.ajax({
                url: '@Url.Action("soaautoinvoiceno", "Report")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.soainvno, value: item.soainvno };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });



</script>

