@{
      Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>
<style>
    .btnStyleNew {
        font-weight: bold;
    }

    .resizenone {
        resize: none;
    }
</style>

<span class="pageHeading">Transfer Report</span>

<div ng-app="Transferapp">
    <br />

    <div class="well" id="ctrlr" ng-controller="TRctrlr" style="padding-bottom:50px;">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td>
                    <span>Transfer No</span>
                    <br />
                    <input type="text" class="textboxStyleSearch" maxlength="25" name="tano" id="txttano" ng-model="search.toaheader_toa_number" />
                </td>
                <td>
                    <span>Asset ID</span>
                    <br />
                    <input type="text" name="tafilter1" id="txttaFilter1" maxlength="25" ng-model="search.assetdetails_assetdet_id" class="textboxStyleSearch" />
                </td>
                <td>
                    <span> Process Date </span>
                    <br />
                    @*  <input type="text" name="fDateta" id="txtfDateta" maxlength="25" readonly ng-model="search.toaheader_process_date" class=" textboxstylesearch" />*@
                    <input type="text" name="fDateta" id="txtfDateta" maxlength="25" ng-model="search.toaheader_process_date" class="textboxStyleSearch" />


                </td>
                @*<td>
                        <span> To Date </span>
                        <br />
                        @*<input type="text" name="tDatetrn" id="txttDatetrn" maxlength="25" readonly ng-model="search.toaheader_process_date" class=" textboxstylesearch" />
                    </td>

                    <td>
                        <button class="btn btn-primary" type="button" id="btnclear" value="Clear" name="command" ng-click="Transferangularjson()"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                    </td>*@
                <td align="right" style="padding-right:1.2%;width:9%;padding-bottom:6px"><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;  <a style="height: 27px;padding-top: 2px;color:white;font-size:13px;" class="btn btn-primary glyphicon glyphicon-export" data-modal="" href="../Report/TAExport" id="reportDownloadExcel">
                        Excel
                    </a>

                                    </td>
                @*<td>
                    <button class="btn btn-link" id="exportexcel">
                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>*@
                </td>
            </tr>
        </table>
       
            <table class="tableSmall table-bordered table-hover table-responsive" style="width:100%;" id="table1">
                <thead style="width:100%;">
                    <tr>
                        <th style="width:5%;">
                            S.No
                        </th>
                        <th style="width:5%;">
                            Process Date
                        </th>
                        <th style="width:5%;">
                            TA Number
                        </th>
                        <th style="width:5%;">
                            Group ID
                        </th>
                        <th style="width:5%;">
                            Asset Det ID
                        </th>
                        <th style="width:30%;">
                            Asset Value
                        </th>

                        <th style="width:5%;">
                            Transfer Value
                        </th>

                        <th style="width:5%;">
                            New Asset ID
                        </th>

                        <th style="width:5%;">
                            Transfer Date
                        </th>

                        <th style="width:5%;">
                            Rectification Amount
                        </th>

                        <th style="width:5%;">
                            Status
                        </th>

                        <th style="width:5%;">
                            Job Code
                        </th>

                        <th style="width:5%;">
                            Upload Date
                        </th>

                        <th style="width:10%;">
                            Trans Date
                        </th>

                        <th style="width:5%;">
                            Value Date
                        </th>
                        <th style="width:5%;">
                            Maker ID
                        </th>
                        <th style="width:5%;">
                            Checker ID
                        </th>

                    </tr>
                </thead>
                <tbody ng-show="filteritems > 0" ng-repeat="transumm in transum | filter:search |  Pagestart:(currentPage-1)*PerPageItems |  limitTo:PerPageItems ">
                    <tr>
                        <td style="width:5%;" align="center">
                            {{$index+1}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toaheader_process_date}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toaheader_toa_number}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.assetdetails_asset_groupid}}
                        </td>
                        <td style="width:25%;">
                            {{transumm.assetdetails_assetdet_id}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.assetdetails_asset_value}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.assetdetails_trf_value}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toadetail_new_assetdetgid}}
                        </td>
                        <td style="width:25%;">
                            {{transumm.assetdetails_tfr_date}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toadetail_rectif_amount}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toaheader_tfr_status}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toaheader_jobcode}}
                        </td>
                        <td style="width:25%;">
                            {{transumm.toaheader_upld_date}}
                        </td>
                        <td style="width:25%;">
                            {{transumm.toaheader_tfr_date}}
                        </td>
                        <td style="width:25%;">
                            {{transumm.toaheader_value_date}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toaheader_maker_id}}
                        </td>
                        <td style="width:20%;">
                            {{transumm.toaheader_checker_id}}
                        </td>


                        @*@if (ViewBag.Message != null)
                            <div class="borderStyle" align="center">
                                <b> @ViewBag.Message</b>
                            </div>
                        }*@
                    </tr>
                </tbody>

                <tfoot ng-show="filteritems < 1">
                    <tr>
                        <td colspan="20" style="text-align:center">
                            No Records Found
                        </td>
                    </tr>
                </tfoot>
            </table>

        <div style="width:100%;">
            <div ng-show="filteritems > PerPageItems" style="float:left;margin:0;padding:0;max-height:50px;">
                <pagination page="currentPage" style="cursor:pointer;" boundary-links="true" class="pagination-sm" max-size="maxSize" total-items="filteritems"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="currentPage" items-per-page="PerPageItems"></pagination>

            </div>
            <div style="float:right;">
                Total Records :  {{filteritems}}
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        var myapptran = angular.module('Transferapp', ['ui.bootstrap']);
        myapptran.service("Transervice", function ($http) {
            this.Gettranslist = function () {              
                var response = $http({
                    method: "Post",
                    url: '@Url.Action("Transferangularjson", "Report")?' + new Date().getTime(),
                    datatype: "json"
                });
                return response;
            }

            
        });


        myapptran.filter('Pagestart', function () {
            return function (input, start) {
                if (input) {
                    start = +start;
                    return input.slice(start);
                }
                return [];
            }
        });

        
        myapptran.controller('TRctrlr', function ($scope, Transervice, Excel, $timeout) {
            $scope.filteritems = 0;
            $scope.maxSize = 5;
            $scope.PerPageItems = 5;
            $scope.currentPage = 1;          
            Transferangularjson();
            function Transferangularjson() {
                var getdata = Transervice.Gettranslist();
                    getdata.then(function (response) {
                    $scope.filteritems = 0;
                    $scope.transum = JSON.parse(response.data.trndata);
                    $scope.filteritems = $scope.transum.length;
                },
                function (temp) {
                    alert('Error');

                });
           
            }          
                    
                    
        });


       // myapptran.factory('Excel', function ($window) {
       //     var uri = 'data:application/vnd.ms-excel;base64,',
       //         template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
       //         base64 = function (s) { return $window.btoa(unescape(encodeURIComponent(s))); },
       //         format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) };
       //     return {
       //         tableToExcel: function (tableId, worksheetName) {
       //             var table = $(tableId),
       //                 ctx = { worksheet: worksheetName, table: table.html() },
       //                 href = uri + base64(format(template, ctx));
       //             return href;
       //         }
       //     };
       // });
       // myapptran.controller('TRctrlrs', function (Excel, $timeout) {

       //    $scope.exportToExcel = function (tableId) { // ex: '#my-table'
       //        $scope.exportHref = Excel.tableToExcel(tableId, 'sheet name');
       //        $timeout(function () { location.href = $scope.fileData.exportHref; }, 100); // trigger download
       //    }
        //});


        //$("[id$=exportexcel]").click(function (e) {
        //    alert();
        //    window.open('data:application/vnd.ms-excel,' + $('div[id$=table]').html());
        //    e.preventDefault();
        //});
     
    </script>
