@using IEM.Areas.IFAMS.Models
@model IEM.Areas.IFAMS.Models.AssetReportModel
@{
    ViewBag.Title = "Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var Session["saexcel"] = "";
    var grid = new WebGrid(source: Model.ReportModel, canPage: true, canSort: false, rowsPerPage: 10, ajaxUpdateContainerId: "trnrepgridid", ajaxUpdateCallback: "trnrepgridid");
    int rowval = 0;
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript">

</script>
<div>
    <b>
        <span style="color: rgb(52,108,196);">
            Transfer Report
        </span>
    </b>

    @using (Html.BeginForm())
    {
        <div class="well">

            <div class="row">

                <div class="col-sm-12">

                    <table class="myTableStyleTabNew" style="margin-left:-03px;">

                        <tr>
                            <td>

                                <div>

                                    <span>Tranfer No </span>
                                    <br />
                                    <input type="text" name="tano" id="txttano" maxlength="25" value="@ViewBag.tano" class="textboxStyleSearch"  />
                                </div>

                            </td>

                            @*<td>

                                <div>

                                    <span>Cheque No </span>
                                    <br />
                                    <input type="text" name="Chequeno" id="txtChequeno" maxlength="25" value="@ViewBag.Chequeno" class="textboxStyleSearch"  />
                                </div>

                            </td>

                            <td>

                                <div>

                                    <span>SA Invoice No </span>
                                    <br />
                                    <input type="text" name="sainvoiceno" id="txtsainvoiceno" maxlength="25" value="@ViewBag.sainvoiceno" class="textboxStyleSearch"  />
                                </div>

                            </td>*@
                        
                            <td>

                                <div>

                                    <span> Asset ID </span>
                                    <br />
                                    <input type="text" name="tafilter1" id="txttaFilter1" maxlength="25" value="@ViewBag.trnfilter1" class="textboxStyleSearch"  />
                                </div>

                            </td>
                            <td>

                                <div>

                                    <span> From Date </span>
                                    <br />
                                    <input type="text" name="fDateta" id="txtfDateta" maxlength="25" readonly value="@ViewBag.fDateta" class="textboxStyleSearch"  />
                                </div>

                            </td>

                            <td>

                                <div>

                                    <span> To Date </span>
                                    <br />
                                    <input type="text" readonly name="tDatetrn" id="txttDatetrn" maxlength="25" value="@ViewBag.tDatetrn" class="textboxStyleSearch"  />
                                </div>

                            </td>

                            <td>
                                <span></span>
                                <br />

                                <button class="btn btn-primary" type="submit" name="command" value="SEARCH" ><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>

                            </td>
                            <td>

                                <span></span>
                                <br />

                                <button class="btn btn-primary" type="button" id="btnclear" value="Clear" name="command" onclick="Trnclear()"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>

                            </td>

                            <td>

                                <span></span>
                                <br />
                            @if (ViewBag.Message == null)
                            {
                                <button class="btn btn-primary" type="button" id="btnexport" value="Export" name="command" onclick="TaExport()"><span style="color:white;" class="glyphicon glyphicon-export"></span> Export</button>
                            }
                            </td>



                        </tr>

                    </table>

                </div>



            </div>



            <div id="_gridfullretrans" style="margin-top:17px; " class="overflowx overflowy">

                @grid.GetHtml(htmlAttributes: new { id = "trnrepgridid" }, fillEmptyRows: false, tableStyle: "tableSmall table-bordered table-hover table-responsive", mode: WebGridPagerModes.All,
        columns: grid.Columns(
        grid.Column(header: "S.No", format: item => rowval = rowval + 1),
        grid.Column("toaProcessdate", "Process Date", style: "col-lg-3 MidColumn20Center", format: @<text>
            <span class="editsmv">
                <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toaProcessdate</label>
            </span>
        </text>),
                 grid.Column("toaTrannumber", "TA Number", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toaTrannumber</label>
                    </span>
        </text>),
                         grid.Column("assetdetgroupid", "Group ID", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetgroupid</label>
                    </span>
        </text>),
                         grid.Column("assetdetDetid", "Asset Det ID", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetDetid</label>
                    </span>
        </text>),
                         grid.Column("assetdetAssetvalue", "Asset Value", style: "col-lg-2 rig", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetAssetvalue</label>
                    </span>
        </text>),
                         grid.Column("assetdettrfval", "Transfer Value", style: "col-lg-3 rig", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdettrfval</label>
                    </span>
        </text>),
                                  grid.Column("toadetnewassetdetid", "New Asset ID", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toadetnewassetdetid</label>
                    </span>
        </text>),
                         grid.Column("assetdettrndate", "Transfer Date", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdettrndate</label>
                    </span>
        </text>),
                         grid.Column("toadetrectamt", "Rectification Amount", style: "col-lg-3 rig", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toadetrectamt</label>
                    </span>
        </text>),
                                         grid.Column("toaStatus", "Status", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toaStatus</label>
                    </span>
    </text>),
       
   
       grid.Column("toaJobcode", "Job Code", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toaJobcode</label>
                    </span>
    </text>),
                        grid.Column("toaUploasdate", "Upload Date", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toaUploasdate</label>
                    </span>
    </text>),
                         grid.Column("toatfrdate", "Trans Date", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toatfrdate</label>
                    </span>
        </text>),
                         grid.Column("toatfrvaluedate", "Value Date", style: "col-lg-3 MidColumn20Center", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toatfrvaluedate</label>
                    </span>
        </text>),

                  grid.Column("toaMakerid", "Maker ID", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toaMakerid</label>
                    </span>
</text>),
                             grid.Column("toaCheckerid", "Checker ID", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.toaCheckerid</label>
                    </span>
            </text>)
           @*grid.Column("soadetVatvalue", "VAT", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetVatvalue</label>
                    </span>
        </text>),
            grid.Column("soadetProfitloss", "PL Value", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetProfitloss</label>
                    </span>
            </text>),
           grid.Column("soadetrectamt", "Dep.Rect.Amount", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soadetrectamt</label>
                    </span>
        </text>),
            grid.Column("assetdettaken", "Reason", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdettaken</label>
                    </span>
            </text>),
           grid.Column("soapayGL", "Bank GL", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapayGL</label>
                    </span>
        </text>),
            grid.Column("soapaymode", "Pay Mode", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapaymode</label>
                    </span>
            </text>),
           grid.Column("soapayChqno", "Cheque No", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapayChqno</label>
                    </span>
        </text>),
           grid.Column("soapayAmount", "Cheque Amount", style: "rig col-lg-3", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.soapayAmount</label>
                    </span>
        </text>)*@

               ))
                @if (ViewBag.Message != null)
                {
                    <div class="borderStyle" align="center">
                        <b> @ViewBag.Message</b>
                    </div>
                }


                <br /><br />

                <span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount@*</span> <span class="myTableStyleTabNew">*@ - Total No of Records: @grid.TotalRowCount</span>
            </div>
        </div>


    }
</div>




<style>
    .rig {
        text-align: right;
        width: 550px;
    }
</style>


<script type="text/javascript">

    function TaExport() {
        //alert();
        location = '@Url.Action("TAExport", "Report")?' + new Date().getTime();
    }

    function Trnclear() {
        $("#txttano").val("");
        $("#txttaFilter1").val("");
        $("#txtfDateta").val("");
        $("#txttDatetrn").val("");
      
    }

    function TrnSearch()
    {        
        var tano = $("#txttano").val();        
        var assetid = $("#txttaFilter1").val();
        var frdate = $("#txtfDateta").val();
        var todate = $("#txttDatetrn").val();
        
        var trnsearch = {
            "toaTrannumber": tano, "assetdetDetid": assetid, "fromdate": frdate, "todate": todate, "toaStatus" : "search"
        };
        alert(tano);

        //$.post('@Url.Action("Transfer", "Report")?' + trnsearch);// + '&' + new Date().getTime());
      //  location = '@Url.Action("Transfer", "Report")', trnsearch + '&' + new Date().getTime();
        $.post('../Report/Transfer', trnsearch );
    }


    //$("#txtfDateta,#txttDatetrn").datepicker({
    //    changeMonth: true,
    //    changeYear: true,
    //    dateFormat: 'dd-mm-yy',
    //    maxdate: new Date(),
    //});

    $("#txtfDateta").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        numberOfMonths: 1,
        onSelect: function (selected) {
            $("#txttDatetrn").datepicker("option", "minDate", selected)
        }
    });
    $("#txttDatetrn").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        numberOfMonths: 1,
        onSelect: function (selected) {
            $("#txtfDateta").datepicker("option", "maxDate", selected)
        }
    });



    $("#txttaFilter1").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("TOAautoassetid", "Report")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.assetdetDetid, value: item.assetdetDetid };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });


    $("#txttano").autocomplete({
        source: function (request, response) {
          //  alert();
            $.ajax({
                url: '@Url.Action("TAAutoserialno", "Report")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.toaTrannumber, value: item.toaTrannumber };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });

</script>