@model IEM.Areas.FLEXIBUY.Models.GRNInward
@using IEM.Areas.FLEXIBUY.Models
@{
    var viewfor = (string)Session["viewfor"];
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
    }
    ViewBag.Title = "Index";
    GRNInward objMAttachment = new GRNInward();
    fb_DataModelpr objRep = new fb_DataModelpr();
    if(Model.grnheadgid!=0)
    {
        objMAttachment.attach_id = Model.grnheadgid.ToString();
    }
    Session["cbfdetails"] = objMAttachment.attach_id;
    objMAttachment = objRep.Attachmentname(objMAttachment);
    Session["cbfdetails"] = objMAttachment;
    Model.attachment = objMAttachment.attachment;
    var grid = new WebGrid(source: Model.attachment, canPage: true, canSort: true, rowsPerPage: 5, ajaxUpdateContainerId: "gridattachment12", ajaxUpdateCallback: "grid");
    int rowcount=0;
}
<div id="gridattachment">
    <div class="panel panel-default" style="overflow-y:scroll;height:100px">
        @functions {
            public static string Sorter(string columnName, string columnHeader, WebGrid grid)
            {
                return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                    grid.SortDirection == SortDirection.Ascending ? "▲" :
                    "▼" : string.Empty);
            }
        }
        @grid.GetHtml(
                tableStyle: "tableSmall table-bordered ",
                htmlAttributes: new { id = "gridattachment12" },
                           mode: WebGridPagerModes.All,
                columns: grid.Columns
                (
                grid.Column("Sl", format: a => rowcount = rowcount + 1),
                grid.Column("attacheddate", Sorter("attacheddate", "Attachment Date", grid)),
                grid.Column("filename", Sorter("filename", "File name", grid), format: @<text> <a title='click here to download' onclick='DownloadSupAttachment("@item.filename")'> @item.filename </a></text>),
                grid.Column("description", Sorter("description", "Description", grid)),
                grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>

                    <input type="button" value="Delete" class="btn btn-link" onclick="attachmentDetele(id)" id="@item.attachGid" title="Delete" />
                </text>)))
        <div class="borderStyle btnCenter">
            @ViewBag.NoRecordsFound
        </div>
        <label>Page: @(grid.PageIndex + 1) of @grid.PageCount</label>  <label> - Total No Of Records:@Model.attachment.Count</label>
    </div>
</div>

<script>
    $(document).ready(function () {

        if ('@ViewBag.viewmode' == 'disabled') {

            $("#gridattachment12 td:nth-child(5),#gridattachment12 th:nth-child(5)").hide();
        }
    });


    function DownloadSupAttachment(filename) {

        var supattachmentmodel =
                {
                    "attachment1": filename
                };

        $.post('../CbfRaiser/DownloadDocument?' + new Date().getTime(), supattachmentmodel,
        function (data) { if (data == 0) { location = location.href; } else { window.location = '../CbfRaiser/Download' } }, 'json');

    }
    function attachmentDetele(id1) {

        id = "";
        var supattachmentmodel =
                {
                    "attachment1": id1
                };

        $.post('../GrnSelectionPo/DeleteAttachment?' + new Date().getTime(), supattachmentmodel,
        function (data) {
            if (data == 0) {

                location = location.href;
            }
            else {

                $('#gridattachment').load('../GrnSelectionPo/BoqAttachgrid?' + new Date().getTime());
            }
        }, 'json');

    }
</script>
