@using IEM.Areas.FLEXIBUY.Models;
@using IEM.Common
@model IEM.Areas.FLEXIBUY.Models.grnconfirmationdetails
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model.grnconfirmationdetail, canSort: true, canPage: false, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid", selectionFieldName: "SelectedRow");
    CmnFunctions objCmnFunctions = new CmnFunctions();
    int rowNum = 0;
}
<script src="~/Scripts/angular.min.js"></script>

<input type="hidden" value="@Model.grnheadGid" id="hid_grnheadGid" />
<b>
    <span style="color: rgb(52, 108, 196);">SCN Confirmation</span>
</b>
<div class="well">
    <div class="borderStyle panel panel-default ">
        <table class="myTableStyleTabNew" align="center" width="100%">
            <tr>
                <td style="display:none;">
                    <div>
                        <span>SCNhead</span>
                        <br />

                        <input type="text"
                               id="txtSCNheadgid"
                               name="txtSCNheadgid"
                               value="@Model.grnheadGid"
                               class="textboxStyle valid"
                               disabled="disabled">
                    </div>
                </td>
                <td style="padding:10px;">
                    <div>
                        <span>SCN Ref No</span>
                        <br />

                        <input type="text"
                               name="txtprrefno"
                               value="@Model.grnrefno"
                               class="textboxStyle valid"
                               disabled="disabled">
                    </div>
                </td>
                <td style="padding:10px;">
                    <div>
                        <span>SCN Date</span>
                        <br />
                    </div>
                    <div>
                        <input type="text"
                               name="txtprdate"
                               id="txtprdate"
                               value="@Model.grndate"
                               class="textboxStyle valid"
                               disabled="disabled"
                               placeholder="Enter PR Date" />
                    </div>
                </td>
                <td style="padding:10px;">
                    <div>
                        <span>SCN Raisedby</span>
                        <br />
                    </div>

                    <div>
                        <input type="text"
                               name="txtprdate"
                               id="txtprdate"
                               value="@Session["employee_name"]"
                               class="textboxStyle valid"
                               disabled="disabled"
                               placeholder="Enter PR Date" />
                    </div>
                </td>
                <td style="padding:10px;">
                    <div>
                        <span>Vendor Name</span>
                        <br />
                    </div>

                    <div>
                        <input type="text"
                               name="txtprdate"
                               id="txtprdate"
                               value="@Model.vendorname"
                               class="textboxStyleBig valid"
                               disabled="disabled"
                               placeholder="Enter PR Date" />
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding:10px;">
                    <div>
                        <span>WO Ref No</span>
                        <br />

                        <input type="text"
                               name="txtprrefno"
                               value="@Model.poworefno"
                               class="textboxStyle valid"
                               disabled="disabled"
                               placeholder="Enter PR Ref No" />
                    </div>
                </td>
                <td style="padding:10px;">
                    <div>
                        <span>Dc No</span>
                        <br />
                    </div>
                    <div>
                        <input type="text"
                               name="txtprdate"
                               id="txtprdate"
                               value="@Model.dcno"
                               class="textboxStyle valid"
                               disabled="disabled"
                               placeholder="Enter PR Date" />
                    </div>
                </td>
                <td style="padding:10px;">
                    <div>
                        <span>Invoice No</span>
                        <br />
                    </div>

                    <div>
                        <input type="text"
                               name="txtprdate"
                               id="txtprdate"
                               value="@Model.invoiceno"
                               class="textboxStyle valid"
                               disabled="disabled"
                               placeholder="Enter PR Date" />
                    </div>
                </td>
            
            </tr>
        </table>
    </div>
    @*<div>
        <div ng-app="SCNConfirm">
            <div ng-controller="SCNConfirmController">
                <table class="tableSmall table-bordered table-hover table-responsive">
                    <thead style="width:100%;">
                        <tr>
                            <th style="width:5%; display:none;">
                                grndetGid
                            </th>
                            <th style="width:3%;">
                                S.No
                            </th>
                            <th style="width:10%;">
                                Product Group<br />
                            </th>
                            <th style="width:8%;">
                                Product Code<br />
                            </th>

                            <th style="width:20%;">
                                Product Name<br />
                            </th>
                            <th style="width:8%;">
                                Received Quantity<br />
                            </th>
                            <th style="width:8%;">
                                Received Date<br />
                            </th>
                            <th style="width:20%;">
                                Manufacture Name<br />
                            </th>
                            <th style="width:8%;">
                                Asset Slno<br />
                            </th>
                            <th style="width:8%;">
                                PutToUseDate<br />
                            </th>
                          
                        </tr>
                    </thead>
                    <tbody ng-repeat="SCNConfirm in SCNConfirm | filter:search:strict | orderBy:predicate:reverse">
                        <tr>
                            <td style="width:10%; display:none;">
                                {{SCNConfirm.grndetGid}}
                            </td>
                            <td style="width:3%;" align="center">
                                {{$index+1}}
                            </td>
                            <td style="width:10%;">
                                {{SCNConfirm.productgroup}}
                            </td>
                            <td style="width:8%;">
                                {{SCNConfirm.productcode}}
                            </td>
                            <td style="width:20%;">
                                {{SCNConfirm.productname}}
                            </td>
                            <td style="width:8%;">
                                {{SCNConfirm.receivedqty}}
                            </td>
                            <td style="width:8%;">
                                {{SCNConfirm.receiveddate}}
                            </td>
                            <td style="width:20%;">
                                <input type="text"
                                       name="txtmanufacturename"
                                       id="txtmanufacturename"
                                       value=""
                                      
                                       class="textboxStyle" />
                            </td>
                            <td style="width:8%;">
                                <input type="text"
                                       name="txtsstno"
                                       id="txtsstno"
                                       value=""
                                      
                                       class="textboxStyle" />
                            </td>
                            <td style="width:8%;">
                                {{SCNConfirm.putToUseDate}}
                            </td>
                    
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div ng-app="SCNConfirmattach">
                <div ng-controller="SCNConfirmControllerattach">

                    <table class="tableSmall table-bordered table-hover table-responsive">
                        <thead style="width:100%;">
                            <tr>
                                <th style="width:3%;">
                                    S.No
                                </th>
                                <th style="width:10%;">
                                    Attachment Date<br />
                                </th>
                                <th style="width:8%;">
                                    File Name<br />
                                </th>

                                <th style="width:20%;">
                                    Description<br />
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="SCNConfirmattach in SCNConfirmattach | filter:search:strict | orderBy:predicate:reverse">
                            <tr>
                                <td style="width:3%;" align="center">
                                    {{$index+1}}
                                </td>
                                <td style="width:10%;">
                                    {{SCNConfirmattach.attacheddate}}
                                </td>
                                <td style="width:8%;">
                                    {{SCNConfirmattach.filename}}
                                </td>
                                <td style="width:20%;">
                                    {{SCNConfirmattach.description}}
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
    </div>*@
    <div id="scngrid" class="table-responsive" style="overflow-y:auto; width:101% ; max-height:400px">

        @grid.GetHtml(
         tableStyle: "table table-bordersed table-hover table-responsive",
        htmlAttributes: new { id = "grncfmgrid" },
        columns: grid.Columns
            (
                   grid.Column("slno", objCmnFunctions.Sorter("slno", "Sl", grid)),
                   grid.Column("grndetGid", objCmnFunctions.Sorter("grndetGid", "grndetGid", grid), style: "MidColumn30"),
                grid.Column("productgroup", objCmnFunctions.Sorter("productgroup", "Product Group", grid), style: "MidColumn30"),
               grid.Column("productcode", objCmnFunctions.Sorter("productcode", "Product Code", grid), style: "MidColumn30"),
                                        grid.Column("productname", objCmnFunctions.Sorter("productname", "Product Name", grid), style: "MidColumn30"),
                                        grid.Column("uomcode", objCmnFunctions.Sorter("uomcode", "Uom Code", grid), style: "MidColumn10"),
                                        grid.Column("receivedqty", objCmnFunctions.Sorter("receivedqty", "Received Quantity", grid), style: "MidColumn15"),
                                        grid.Column("receiveddate", objCmnFunctions.Sorter("receiveddate", "Received Date", grid), style: "MidColumn20"),

                   @*grid.Column("manfName", objCmnFunctions.Sorter("manfName", "Manufacture Name", grid),
                     format: @<text><span class="display" id="lblmanf">@item.manfName</span>
                    <input type="text" id="inmanf_@item.grndetGid" name="inmanf"
                           href="@item.grndetGid" value="@item.manfName" style="width:200px"
                           class=" textboxStyle edit" /> </text>,style:"MidColumn30"),

                   grid.Column("assetSlno", objCmnFunctions.Sorter("assetSlno", "Asset Slno", grid),
                   format: @<text><span class="display" id="lblasset">@item.assetSlno</span>
                <input type="text" id="inassetno_@item.grndetGid" name="inassetno"
                       href="@item.grndetGid" value="@item.assetSlno" style="width:80px"
                       class="textboxStyle edit" /> </text>,style:"MidColumn20"),*@

                   grid.Column("putToUseDate", objCmnFunctions.Sorter("putToUseDate", "PutToUseDate", grid),
                   format: @<text><span class="display" id="lblput">@item.putToUseDate</span>
                <input type="text" id="inusedate_@item.grndetGid" name="inusedate"
                       onkeypress="return isDate(event, this);" onmouseover="getDate(id)"
                       href="@item.grndetGid" value="@item.putToUseDate" style="width:90px"
                       class="textboxStyle edit" /> </text>,style:"MidColumn20"),

                                 grid.Column(header: "Action", canSort: false, style: "MidColumn20",
                     format: @<text>


                                    <span class='glyphicon glyphicon-floppy-save edit save-btn' style="cursor:pointer;" title="Save"> <label id="sdf34" hidden="hidden">@item.grndetGid</label></span>
                                    &nbsp;
                                    <span class='glyphicon glyphicon-edit display edit-btn cursor' style="cursor:pointer;" title="Edit"><label id="sdf67" hidden="hidden"> @item.grndetGid </label> </span>
                                    &nbsp;

                                    <span class='glyphicon glyphicon-remove edit cancel-btn cursor' style="cursor:pointer;" title="Cancel"> <label id="sdf000-" hidden="hidden"> @item.grndetGid</label></span>
                    </text>)))

        <div class="borderStyle">
            @ViewBag.NoRecordsFound
        </div>
    </div>



    <table align="center">
        <tr>
            <td>
                <span>Remarks</span>
                <br />
                <textarea name="txt_remarks"
                          class="textboxStyle"
                          style="display:block;width:437px;height:89px;"
                          maxlength="264"
                          id="confirm_check"></textarea>
            </td>
        </tr>
    </table>
    <br />
    <div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <button type="button" id="btn_submitgrn" name="command" class="btn btn-success" onclick="submit()" value="Submit">
                        <span class="glyphicon glyphicon-floppy-saved" style="color:white;"></span> Submit
                    </button>
                    <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="back()">
                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>

<script type="text/javascript">
    $("#grncfmgrid td:nth-child(2),#grncfmgrid th:nth-child(2)").hide();

    $(document).ready(function () {     
        $('.edit ').hide();
        $('.edit-btn, .cancel-btn').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();

        });
    });
    $('.save-btn').on('click', function () {

        var tr = $(this).parents('tr:first');
        var row = $(this).text();
        //var manname = tr.find("#inmanf_" + row.trim() + "").val();
        //var assetslno = tr.find("#inassetno_" + row.trim() + "").val();
        var manname = "";
        var assetslno = "";
        var putusedate = tr.find("#inusedate_" + row.trim() + "").val();
        var grndetailsid = tr.find("td:eq(1)").text();
   
        //if (manname == null || manname.toString().trim() == "") {
        //    jAlert("Please Enter Manufacturer Name", "Error", function () {
        //        return false;
        //    });
        //    return false;
        //}
        //if (assetslno == null || assetslno.toString().trim() == "") {
        //    jAlert("Please Enter Asset Sl.No", "Error", function () {
        //        return false;
        //    });
        //    return false;
        //}
        if (putusedate == null || putusedate.toString().trim() == "") {
            jAlert("Please Enter PutToUseDate", "Error", function () {
                return false;
            });
            return false;
        }
      
        var objInward =
           {
               "manfName": manname,
               "assetSlno": assetslno,
               "putToUseDate": putusedate,
               "grndetGid": grndetailsid
           };

        $.ajax({
            url: '@Url.Action("Scnsavedetails", "SCNConfirm")',
            type: 'POST',
            data: objInward,
            success: function (data) {
                if (data == 0) {
                    jAlert("Error Occured", "Error");
                    return false;
                }
                else {
                    $("#scngrid").empty().append(data);
                }
            },
            error: function () {
                jAlert("something seems wrong", "Error");
            }

        });
   
      });
    function getDate(id) {
        var id1 = '#' + id;
        ReceivedDate(id1);
    }
    function ReceivedDate(id1) {
        $(id1).datepicker(pickerOpts);
    }
    var pickerOpts = {
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2100',
        currentText: "Now",
        maxDate: 'd',
        dateFormat: "dd-mm-yy"
    };
    function submit() {        
        var confirm = $('#confirm_check').val();
        var id = $('#hid_grnheadGid').val();       
        var errmsg = "";
        var errmsg1 = "";
        var rowcnt = 0;
        $("#grncfmgrid tbody tr").each(function () {
            rowcnt = rowcnt + 1;
            //var manufacturername = $(this).find($("input[name$=inmanf]")).val();
            //var assetno = $(this).find($("input[name$=inassetno]")).val();
            var manufacturername = "";
            var assetno = "";
            //if (manufacturername == null || manufacturername.toString().trim() == "") {
            //    if (errmsg == "") {
            //        errmsg = "Please Enter Manufacturer Name(Row Number:" + rowcnt.toString() + ")";
            //    }
            //    else {
            //        errmsg += "\nPlease Enter Manufacturer Name(Row Number:" + rowcnt.toString() + ")";
            //    }
                            
            //}
            //if (assetno == null || assetno.toString().trim() == "") {
            //    if (errmsg1 == "") {
            //        errmsg1 = "Please Enter Asset Sl.No(Row Number:" + rowcnt.toString() + ")";
            //    }
            //    else {
            //        errmsg1 += "\nPlease Enter Asset Sl.No(Row Number:" + rowcnt.toString() + ")";
            //    }
            //}
                       
        });
        if (errmsg != "") {
            jAlert(errmsg, "Error", function () {
                return false;
            });
            return false;
        }
        if (errmsg1 != "") {
            jAlert(errmsg1, "Error", function () {
                return false;
            });
            return false;
        }
      
        var prhead = {
            "remarks": confirm,
            "grnheadgid": id,
        };
        
        $.post('@Url.Action("SaveScnConfirm", "SCNConfirm")', prhead,
         function (data) {
             if (data == 0) {
                 jAlert("Error Occured", "Error");
                 return false;
             }
             else {
                 if (data = "success" || data == "Success") {
                     jAlert("Inserted Successfully", "Success", function (e) {
                         if (e == true) {
                             location.href = '@Url.Action("SCNConfirmSummary", "SCNConfirm")';
                         }
                     });
                 }
                 else {
                     jAlert("Something seems wrong", "Error", function (e) {
                         return false;
                     });
                 }
             }
         }, 'json');        
    }  
    function back() {
        location = "@Url.Action("SCNConfirmSummary", "SCNConfirm")?" +new Date().getTime();
    }
    //var myApp = angular.module('SCNConfirm', []);
    //myApp.service("SCNConfirmService", function ($http) {
    //    this.getSCNConfirmList = function () {
    //        var headgid = $("#txtSCNheadgid").val();

    //        return $http.get("../SCNConfirm/GetSCNdetailsConfirm?SCNheadgid=" + headgid + "&" + new Date().getTime());
    //    };

    //});
    //myApp.controller('SCNConfirmController', function ($scope, SCNConfirmService) {
    //    GetSCNdetailsConfirm();
    //    function GetSCNdetailsConfirm() {
    //        var getData = SCNConfirmService.getSCNConfirmList();
    //        getData.then(function (emp) {
    //            $scope.SCNConfirm = emp.data;
    //        }, function () {
    //            alert('Error');
    //        });
    //    }

    //});
  
    //var myAppattach = angular.module('SCNConfirmattach', []);
    //myAppattach.service("SCNConfirmServiceattach", function ($http) {
    //    this.getSCNConfirmListattach = function () {
    //        var headgid = $("#txtSCNheadgid").val();

    //        return $http.get("../SCNConfirm/GetSCNdetailsConfirmattach?SCNheadgid=" + headgid + "&" + new Date().getTime());
    //    };

    //});
    //myAppattach.controller('SCNConfirmControllerattach', function ($scope, SCNConfirmServiceattach) {
    //    GetSCNdetailsConfirmattach();
    //    function GetSCNdetailsConfirmattach() {
    //        var getDataattach = SCNConfirmServiceattach.getSCNConfirmListattach();
    //        getDataattach.then(function (emp) {
    //            $scope.SCNConfirmattach = emp.data;
    //        }, function () {
    //            alert('Error');
    //        });
    //    }

    //});
</script>

