@model IEM.Areas.IFAMS.Models.Ifams_Propertyx.ImpairmentsModel
@using IEM.Common
@{
    ViewBag.Title = "Index";
    int rowcount = 0;
    int GID = Model._gid;
    var grid = new WebGrid(source: Model._attach_list, canSort: false, canPage: false, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid");
    CmnFunctions objCmn = new CmnFunctions();
}
<div id="toaattachmentgrid">
    <div style="font-size: 12px;">
        <div class="borderStyleNew " style="overflow-y:scroll;height:200px">
            @grid.GetHtml(tableStyle: "tableSmall table-bordered ",
                 htmlAttributes: new { id = "toaattachgridaddview" },

        columns: grid.Columns(
        grid.Column("S.no", format: a => rowcount = rowcount + 1),
        grid.Column("attacheddate", "Attachment Date"),
        grid.Column("filename", "File name",
        format: @<text>
            <a title='click here to download' href='../AssetImpairments/DownloadDocument?id=@item.filename'>
                @item.filename
            </a>
        </text>),
       grid.Column("description",  "Description"),
       grid.Column(header: "Action", canSort: false, style: "action",
       format: @<text>
        <a onclick="deleteAttofIOA(@item.attachGid)" id="@item.attachGid" title="Delete File"> <span class="glyphicon glyphicon-trash"> </span> </a>
        @*<input type="button" value="Delete" class="btn btn-link" onclick="deleteAttofIOA(@item.attachGid)" id="@item.attachGid" title="Delete" />*@
    </text>)))
            <div class="table-bordered btnCenter" align="center">
                @if (ViewBag.Message != null)
                {
                    <b> @ViewBag.Message </b>
                }
            </div>
        </div>

        <span>Total No Of Records:@Model._attach_list.Count</span>

    </div>
    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <div>
                    <span class="input-group-btn">
                        <button class="btn btn-warning" id="btntoabackView" onclick="backtotmsummary()" type="submit" name="command" value="Back"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                    </span>
                </div>
            </td>
        </tr>
    </table>


</div>

<script>
    if ('@ViewBag.viewmode' == "disabled") {
        $("#addviewattachment").hide(0);
        $("#toaattachgridaddview td:nth-child(5),#toaattachgridaddview th:nth-child(5)").hide(0);
    }

    //function DownloadAttachment(filename) {
    //    var model =
    //            {
    //                "attachment1": filename
    //            };
    //    $.post('../AssetTransfer/DownloadDocument', model,
    //    function (data) {
    //        if (data == 0)
    //        {
    //            location = location.href;
    //        }
    //        else {

    //            window.location = '../AssetTransfer/Download'
    //        }
    //    }, 'json');
    //}
    function deleteAttofIOA(id) {
        
        jConfirm("Are You Sure to delete this Attachment", "Message", function (t) {
           
            if (t == true) {
               
                //'../AssetImpairments/ImpairAttachDelete?id='
               $.post('@Url.Action("ImpairAttachDelete", "AssetImpairments")?id=' + id + '&' + new Date().getTime(),
     function (data) {
         if (data == 0) {
             location = location.href;
         }
         else {
             id = '@Model._gid';
             $('#toaattachmentgrid').load('@Url.Action("toaAttachgrid", "AssetImpairments")?id=' + id + '&' + new Date().getTime());
             jAlert("Deleted Successfully", "Message");
         }
     }, 'json');
            }
        });

    }


    function backtotmsummary() {
        window.parent.jQuery('#ForPartialAttach').dialog('close');
    }
</script>
