@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["Ecfdeclaratonnote"] != null)
    {
        ViewBag.decnote = Session["Ecfdeclaratonnote"].ToString();
    }
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabsmaintravel").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });

</script>
<div>
    <b>
        <span style="color: rgb(52, 108, 196);">Central Team Maker</span>
    </b>
</div>
<div class="well" style=" padding-top: 1px;">
    <br />

    <br />
    <div id="processworking">
        <input type="hidden" id="ecfamomtssessionlocal" value="@Session["Ecfamountsupplier"]" />
        <div id="tabsmaintravel" style="font-size:12px">
            <ul>
                @if (@ViewBag.processdata == "first")
                {
                    <li><a href="#tabsmaintravel-4">ECF Header</a></li>
                }@if (@ViewBag.processdatasec == "first")
                {

                    <li><a href="#tabsmaintravel-1">Invoice Summary</a></li>
                    <li><a href="#tabsmaintravel-2">Attachment</a></li>
                    if (Session["QueueGide"].ToString() != "")
                    {
                        <li><a href="#tabsmaintravel-4">Audit Trail</a></li>
                    }
                }
            </ul>
            @if (@ViewBag.processdata == "first")
            {
                <div id="tabsmaintravel-4" style="padding: 10px 4px 3px 15px">
                    @Html.Partial("_supplierFristc")
                </div>
            }
            @if (@ViewBag.processdatasec == "first")
            {
                <div id="tabsmaintravel-1" style="padding: 25px 4px 3px 15px">
                    @Html.Partial("_suppliersummary")
                </div>
                <div id="tabsmaintravel-2" style="padding: 10px 4px 3px 15px">
                    @Html.Partial("_supplierAttachment")
                </div>
                if (Session["QueueGide"].ToString() != "")
                {
                    <div id="tabsmaintravel-3" style="padding: 10px 4px 3px 15px">
                        @Html.Partial("_EmpAuditTraile")
                    </div>
                }
            }
        </div>
    </div>
    @if (@ViewBag.processdatasec == "first")
    {
        <div id="processworkingdatanew" style=" width: 100%;  ">
            <table align="left" style="margin-top:5px;width:100%;" class="myTableStyleTabNew">
                <tr>
                    <td>
                        <span><b>Remarks</b></span>
                        <br />
                        <textarea id="txtempRemarks" style="width: 60%; height:60px;" maxlength="250" class="textboxStyle">@ViewBag.ecfrmarks</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Declaration Note</b></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="vertical-align:middle;"><input type="checkbox" id="comfirm" /></td>
                                <td style="vertical-align:middle;"><label id="lbldecnote" style="font-weight:normal">@ViewBag.decnote</label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="myTableStyleTabNew" align="center">
                <tr>
                    <td>
                        <button type="button" id="btnSubmitfinal" class="btn btn-success" value="Submit" onclick="SaveSubmitfinal()"><span class="glyphicon glyphicon-ok" style="color:white;font-size: small;"></span> Submit</button>
                        <button type="button" id="btnCancelfinal" value="Cancel" class="btn btn-warning" onclick="SaveCancelfinalddash()"><span style="color:white;font-size: small;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
        if (Session["activetabrsic"] != null)
        {
            <div>
                <input type="hidden" id="hdnactivetabfirsta" value="@Session["activetabrsic"]" />
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    var tabda = $("#hdnactivetabfirsta").val();
                    jQuery("#tabsmaintravel").tabs("option", "selected", [tabda]);
                });
            </script>
        }
    }
</div>



<div id="ForPartialViewpolicypopup"></div>
<div id="ForPartialViewpolicypopupcre"></div>


<script>

    var objDialogpolicypopup;
    $(document).ready(function () {
        objDialogpolicypopup = $("[id$='ForPartialViewpolicypopup']");
        objDialogpolicypopup.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            title: 'PPX ',
            width: 860,
            height: 400,
            open: function (event, ui) {
                $('.ui-dialog').css('z-index', 1003);
                $('.ui-widget-overlay').css('z-index', 1002);
            }

        });

    });

    var objDialogpolicypopupce;
    $(document).ready(function () {
        objDialogpolicypopupce = $("[id$='ForPartialViewpolicypopupcre']");
        objDialogpolicypopupce.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            title: 'PPX ',
            width: 860,
            height: 400,
            open: function (event, ui) {
                $('.ui-dialog').css('z-index', 1003);
                $('.ui-widget-overlay').css('z-index', 1002);
            }

        });

    });

    function SaveCancelfinalddash() {
        window.location.href = '@Url.Action("CentralMakerIndex", "CentralMaker")?' + new Date().getTime();
    }
    function SaveSubmitfinal() {
        $('#btnSubmitfinal').attr('disabled', true);

        var doctypeNamesneww = $("#doctypeNames option:selected").text();
        var raisermodeNames = $("#raisermodeNames").val();
        var txtraisercodes = $("#txtraisercodes").val();
        var txtraisernames = $("#txtraisernames").val();
        var txtgrades = $("#txtgrades").val();

        var txtSuppliercode = $("#txtSuppliercode").val();
        var txtSuppliername = $("#txtSuppliername").val();

        var rblAmort = $("input[name=rblAmort]:checked").val()
        var txtAmortfron = $("#txtAmortfron").val();
        var txtAmortto = $("#txtAmortto").val();
        var txtAmortDescriptionid = $("#txtAmortDescriptionid").val();

        var ecfdate = $("#txtecfdates").val();
        var doctypeNames = $("#doctypeNames").val();
        var Suppliercode = $("#txtSuppliercode").val();
        var currencyNames = $("#currencyNames").val();
        var exrate = $("#txtexrate").val();
        var ecfcurramount = $("#txtecfcurramount").val();
        var ecfDescriptionid = $("#txtecfdescription").val();
            if (ecfdate == null || ecfdate == "") {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Select ECF Date.", "Message");
            $("#txtecfdate").focus();
            return false;
        }
        if (doctypeNames == null || doctypeNames == "0") {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Select Doc Type.", "Message");
            return false;
        }
        //if (Suppliercode == null || Suppliercode == "") {
        //    jAlert("Please Select Supplier Code.", "Message");
        //    return false;
        //}
        if (currencyNames == null || currencyNames == "0") {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Select Currency.", "Message");
            return false;
        }
        if (exrate == null || exrate == "") {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Enter Currency Rate.", "Message");
            return false;
        }
        if (ecfDescriptionid == null || ecfDescriptionid == "") {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Enter ECF Description.", "Message");
            return false;
        }
        if (ecfcurramount == null || ecfcurramount == "") {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Enter Currency Amount.", "Message");
            $("#txtecfamount").focus();
            return false;
        }

        var rodio = $("input[name=rblAmort]:checked").val()
        if (rodio == 'undefined' || rodio == null) {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Select Amort.", "Message");
            $("#rblAmort").focus();
            return false;
        }
        else if (rodio == "Yes") {
            var txtContractFrom = $("#txtAmortfron").val();
            if (txtContractFrom.trim() == "") {
                $('#btnSubmitfinal').attr('disabled', false);
                jAlert("Please Enter Amort From Amount.", "Message");
                return false;
            }
            var txtContractFrom = $("#txtAmortto").val();
            if (txtContractFrom.trim() == "") {
                $('#btnSubmitfinal').attr('disabled', false);
                jAlert("Please Enter Amort To Date.", "Message");
                return false;
            }
        }
        var status = $('#comfirm').is(':checked');
        if (status == false) {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please Check Declaration Note.", "Message");
            return false;
        }
        else {
            jConfirm("Do you want to Submit This ECF...? ", "Message", function (u) {
                if (u == true) {
                    showProgress();
                
                    var empRemarks = $("#txtempRemarks").val();
                    //var txtecfamont = $("#txtecfamont").val();
                    var txtecfamont = $("#txtecfamont").val().replace(/,/g, "");
                    var txtecfdates = $("#txtecfdates").val();
                    var doctypeNames = $("#doctypeNames").val();
                    var currencyNames = $("#currencyNames").val();
                    var txtecfcurramount = $("#txtecfcurramount").val();
                    // var CurrencyNamevalid = $("#CurrencyNamevalid").val();
                    var CurrencyExrate = $("#txtexrate").val();
                    var CurrencyNamevalid = $("#currencyNames option:selected").text();
                    var NewAttmodel = {

                        "Raiser_Code": txtraisercodes,
                        "Raiser_Mode": raisermodeNames,
                        "Raiser_Name": txtraisernames,
                        "Grade": txtgrades,
                        "Suppliercode": txtSuppliercode,
                        "Suppliername": txtSuppliername,
                        "ecfdescription": ecfDescriptionid,
                        "amort": rblAmort,
                        "from": txtAmortfron,
                        "to": txtAmortto,
                        "amortdec": txtAmortDescriptionid,

                        "ecfremark": empRemarks,
                        "CurrencyId": currencyNames,
                        "CurrencyName": CurrencyNamevalid,
                        "DocId": doctypeNames,
                        "DocName": doctypeNamesneww,
                        "Exrate": CurrencyExrate,
                        "ECF_Date": txtecfdates,
                        "Currencyamount": txtecfcurramount,
                        "ECF_Amount": txtecfamont.toString().trim()
                    };
                    $.post('../SupplierInvoiceNew/_SupplierECFCTCreate', NewAttmodel,
                    function (data) {
                        if (data == "ECF") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert("Please Check Invoice Total Amount Or ECF Amount : The Invoice Total Amount Should Be Equal To ECF Amount", "Message");
                            return false;
                        }
                        else if (data == "SupBank") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Please Check Bank Details - Bank Details are not Updated Properly', "Message");
                            return false;
                        }
                        if (data == "DebitLine") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert("Please Check DebitLine Details : The DebitLine Total Amount Should Be Equal To Invoice Amount", "Message");
                            return false;
                        }
                        else if (data == "Payment") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert("Please Check Payment Details or Tax Details : The Payment Should Be Equal To Invoice Amount", "Message");
                            return false;
                        }
                        else if (data == "pomap") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert("Please Check PO Mapped Details or Tax Details : The  PO Mapped Total Should Be Equal To Invoice Amount", "Message");
                            return false;
                        }
                        else if (data == "Error") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Error..........', "Message");
                            return false;
                        }
                        else {
                            hideProgress();
                            jAlert(data, "Message", function (u) {
                                if (u == true) {
                                    window.location.href = '@Url.Action("CentralMakerIndex", "CentralMaker")?' + new Date().getTime();
                                }
                            });
                        }
                    }, 'json');
                }
                else {
                    hideProgress();
                    $('#btnSubmitfinal').attr('disabled', false);
                }
            });
        }
    }
</script>
