@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

@{

    Session["da"] = null;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .sltd {
        width: 3% !important;
        padding: 3px !important;
        min-width: 37px;
    }

    .productCode {
        width: 5% !important;
        padding: 3px !important;
        min-width: 62px;
    }

    .productName {
        width: 12% !important;
        padding: 3px !important;
        min-width: 150px;
    }

    .description {
        width: 17% !important;
        padding: 3px !important;
        min-width: 213px;
    }

    .UOM {
        width: 5% !important;
        padding: 3px !important;
        min-width: 62px;
    }

    .QTY {
        width: 5% !important;
        padding: 3px !important;
        text-align: center;
        min-width: 62px;
    }

    .unitAmt {
        width: 8% !important;
        padding: 3px !important;
        text-align: right;
        min-width: 100px;
    }

    .Total {
        width: 9% !important;
        padding: 3px !important;
        text-align: right;
        min-width: 113px;
    }

    .chartofaccount {
        width: 8% !important;
        padding: 3px !important;
        min-width: 100px;
    }

    .FCCC {
        width: 8% !important;
        padding: 3px !important;
        min-width: 100px;
    }

    .budgetLine {
        width: 8% !important;
        padding: 3px !important;
        min-width: 100px;
    }

    .boq {
        width: 7% !important;
        padding: 3px !important;
        min-width: 88px;
    }

    .act {
        width: 5% !important;
        padding: 3px !important;
        min-width: 62px;
    }

    .rightAlign {
        text-align: right;
    }
</style>
<style>
    .parsl {
        width: 30px !important;
        padding: 3px !important;
    }

    .parproductgroup {
        width: 160px !important;
        padding: 3px !important;
    }

    .parproductCode {
        width: 65px !important;
        padding: 3px !important;
    }

    .parproductName {
        width: 200px !important;
        padding: 3px !important;
    }

    .parDescription {
        width: 250px !important;
        padding: 3px !important;
    }

    .parProductUOM {
        width: 90px !important;
        padding: 3px !important;
    }

    .parQTY {
        width: 60px !important;
        padding: 3px !important;
    }

    .parunitAmt {
        width: 90px !important;
        padding: 3px !important;
    }

    .parRemarks {
        width: 200px !important;
        padding: 3px !important;
    }

    .parTotal {
        width: 100px !important;
        padding: 3px !important;
    }

    .parchartofaccount {
        width: 120px !important;
        padding: 3px !important;
    }

    .parFCCC {
        width: 150px !important;
        padding: 3px !important;
        position: relative;
    }

    .parbudgetline {
        width: 120px !important;
        padding: 3px !important;
    }

    .parAct {
        width: 60px !important;
        padding: 3px !important;
        text-align: center;
    }

    .parBOQ {
        width: 100px !important;
        padding: 3px !important;
    }

    .myTab {
        min-width: 1830px !important;
    }
</style>

<input type="hidden" id="hid_reqgroup" value="@Model.result" />
<input type="hidden" id="hid_cbfbranchgid" />
<b>
    <span style="color: rgb(52, 108, 196);">Raise CBF</span>
</b>
<div class="well" style="padding:10px 19px;">
    <fieldset>
        <legend style="border:0px;">CBF Header</legend>
        <div align="left" class="panel panel-info borderStyleBlue">

            <table class="myTableStyleTab" style="width:100%;">
                <tr>
                    <td style="padding:10px; width:16%;">

                        <span>Raiser Name</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               class="textboxStyle"
                               readonly="readonly"
                               value="@Session["employee_name"]" style="width:100%;" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>Raiser Code</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               class="textboxStyle"
                               readonly="readonly"
                               value="@Session["employee_code"]" style="width:100%;" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Number</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               class="textboxStyle"
                               readonly="readonly"
                               id="cbf_no" style="width:100%;" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Date</span>
                        <br />
                        <input type="text"
                               id="cbfdate_id"
                               value="@string.Format("{0:yyyy-MM-dd}", Model.raiser.cbfDate)"
                               maxlength="10"
                               class="textboxStyle valid" style="width:100%;" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF End Date</span>
                        <br />
                        <input type="text"
                               name="cbfenddate"
                               id="cbfendate_id"
                               maxlength="10"
                               class="textboxStyle required datepickert" style="width:100%;" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Amount</span>
                        <br />
                        <input type="text"
                               name="txt_cbfamount"
                               class="textboxStyle "
                               readonly="readonly"
                               id="cbf_amt"
                               maxlength="16"
                               style="width:100%;" />
                    </td>
                </tr>
                <tr>

                    <td style="padding:10px;">
                        <span>Deviation Amount</span>
                        <br />
                        <input type="text"
                               name="txtcbfdev_amt"
                               class="textboxStyle required"
                               maxlength="16"
                               id="cbf_dev"
                               style="width:100%;" />
                    </td>
                    <td style="padding:10px;">
                        <span>Project Owner</span>
                        <br />
                        <div>
                            @Html.DropDownList("ProductType", Model.projectOwner1, "--Select Project Owner--", new { @class = "textboxStyle required", @id = "ProductType", @style = "width:100%;" })
                        </div>
                    </td>
                    <td style="padding:10px; position:relative;">
                        <span>Branch Name</span>
                        <br />
                        <input type="text" id="txt_branchName" class="textboxStyle" style="width:100%;" disabled="disabled" />
                        <a id="btnsearch" style="position:absolute; right:15px; bottom:12px; z-index:10;" class="InlineIconStyle" onclick="GetBranch()"><span class="glyphicon glyphicon-search cursorpointer"></span></a>
                    </td>
                    <td style="padding:10px;">
                        <span>Request by</span>
                        <br />
                        @Html.DropDownList("Request", Model.requestFor, "--Select Request by--", new { @class = "textboxStyle valid", @id = "Request", @style = "width:100%;" })
                    </td>
                    <td style="padding:10px;" colspan="2">
                        <table style="width:100%;">
                            <tr>
                                <td style="padding-right:5px; width:33%">
                                    <span>CBF Mode</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdpar" name="mode" value="PAR" checked="checked" />
                                        PAR
                                        <input type="radio" id="id_rdpr" name="mode" value="PR" />
                                        PR
                                    </div>
                                </td>
                                <td style="padding-right:5px; width:33%">
                                    <span>Budgeted</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdbudjected" name="Budgeted" value="Y" checked="checked" />
                                        Yes
                                        <input type="radio" id="id_rdunbudjected" name="Budgeted" value="N" />
                                        No
                                    </div>
                                </td>
                                <td style="padding-right:5px; width:33%">
                                    <span>CBF Approval</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdappreg" name="approvaltype" value="R" checked="checked" />
                                        Regular
                                        <input type="radio" id="id_rdapplater" name="approvaltype" value="L" />
                                        Later
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </td>

                </tr>
                <tr>
                    <td style="padding:10px;">
                        <span>Branch Type</span>
                        <br />
                        <div style="margin-top:5px;">
                            <input type="radio" id="id_rdbranchtype" name="Branchtype" value="Y" checked="checked" />
                            Single
                            <input type="radio" id="id_rdbrachmultir" name="Branchtype" value="N" />
                            Multiple
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <span>Budget SPOC</span>
                        <br />
                        @Html.DropDownList("Budget", Model.BudgetOwner, "--Select Budget SPOC--", new { @class = "textboxStyleBig required", @id = "Budget" })
                        <div style="display:none;">
                            <span>Type</span>
                            <br />
                            <div id="ittype" style="margin-top:5px;">
                                <input type="radio" id="id_rdapp" name="itapplication" value="Y" checked="checked" />
                                Application
                                <input type="radio" id="id_rdinfar" name="itapplication" value="N" />
                                Infrastructure
                            </div>
                        </div>
                    </td>
                    <td style="padding:10px;" colspan="2">
                        <span>Description</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txt_description"
                                   class="textboxStyleBig required "
                                   style="display:block; width:100%;"
                                   maxlength="264"
                                   id="description_id" />
                        </div>
                    </td>
                    <td colspan="2" style="padding:10px;">
                        <span>Justification</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txt_justification"
                                   class="textboxStyleBig required"
                                   maxlength="264"
                                   id="justification" />
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </table>

        </div>
    </fieldset>
    <input id="prqty12" hidden="hidden">
    <input id="prcostestimation12" hidden="hidden">
    <input id="unitprise12" hidden="hidden">
    <input id="parheaderview" hidden="hidden">
    <input id="parcostestimation12" hidden="hidden">
    <div id="divForPR" style="display:none;">
        <fieldset>
            <legend style="border:0px;">PR Header</legend>
            <div class="panel panel-info borderStyleBlue">
                <div>
                    @Html.Partial("PrHeader")
                </div>
                <div id="grid_details">
                    <div id="prdetailsgrid">
                    </div>
                </div>

                <div id="grid_cbfdetails">

                    <div id="cbfdetailsgrid">
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
    <div id="divForPAR">
        <fieldset>
            <legend style="border:0px;">PAR Header</legend>
            <div class="panel panel-info borderStyleBlue">
                <div>
                    @Html.Partial("ParHeader")
                </div>
                <div id="pardetails">
                </div>
                <div id="cbfdetailsgridforpar">
                </div>
            </div>

        </fieldset>

    </div>

    <input id="ss" hidden="hidden" />
    <input id="hidden" hidden="hidden" />

    <div>

        <div id="tabsat4" style="height:350px; font-size:14px;">
            <ul>
                <li><a href="#tabs-1">Attachments</a></li>
            </ul>
            <div id="tabs-1">
                @Html.Partial("BoqAttach")
            </div>
        </div>

        


        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <button type="button" id="btncancel" class="btn btn-primary" value="Cancel" onclick="savecbfraiser()">
                        <span style="color:white;" class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                </td>
                <td>
                    @*<input type="button" class="glyphicon glyphicon-floppy-disk" style="color:white;" value="Save" onclick="savecbfraiser()" />*@
                    <button type="button" id="btncancel" class="btn btn-success" onclick="submitcbfraiser()" value="Submit">
                        <span class="glyphicon glyphicon-floppy-saved" style="color:white;"></span> Submit
                    </button>
                </td>
                <td>

                    @* <input type="button" class="glyphicon glyphicon-floppy-saved" style="color:white;" value="Submit" onclick="submitcbfraiser()" />*@
                    @*<input type="button" class="glyphicon glyphicon-eye-close" style="color:white;" value="Cancel" onclick="fucntionclose()" />*@
                    <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="fucntionclose()">
                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                </td>
            </tr>
        </table>

    </div>
    <div id="boqattachment"> </div>
    <div id="boqattachment1"> </div>
    @if (Session["tempbranchser"] == null)
    {
        <div id="branchdetailscbf"></div>
        <script>
            var objbranchcbf;
            $(document).ready(function () {
                objbranchcbf = $("[id$='branchdetailscbf']");
                objbranchcbf.dialog({
                    autoOpen: false,
                    modal: true,
                    show: 'fade-in',
                    close: 'fade-out',
                    cache: false,
                });
            });
        </script>
    }
    <input type="hidden" id="hid_branch" value="" />
    <input type="hidden" id="hidParHeaderGid" name="hidParHeaderGid" />
    <script>

        //$('input[type=radio][name=Budgeted]').change(function () {
        //    if (this.value == 'Y') {

        //        var budget='Y';
        //        var objpar =
        //            {
        //                "par_Budget": budget
        //            };

        @*$.ajax({
                        url: '@Url.Action("ParHeader", "CbfRaiser")?' + new Date().getTime(),
                        type: 'POST',
                        data: objpar,
                        success: function (data) {
                            // $("#searchgrid").empty().append(data);
                            $("#parheaderid").load('@Url.Action("ParHeader", "CbfRaiser")?' + new Date().getTime());
                        },
                        error: function () {
                            jAlert("something seems wrong", "Error");
                        }
                    });*@

        @*$("#parheaderid").load('@Url.Action("ParHeader", "CbfRaiser")?budgeted=' + budget + '&' + new Date().getTime());*@
        @*}
                else if (this.value == 'N') {
                    var budget = 'N';
                    @*$("#parheaderid").load('@Url.Action("ParHeader", "CbfRaiser")?budgeted=' + budget + '&' + new Date().getTime());*@
        //var objpar =
        //   {
        //       "par_Budget": budget
        //   };

        @*$.ajax({
                        url: '@Url.Action("ParHeader", "CbfRaiser")?' + new Date().getTime(),
                        type: 'POST',
                        data: objpar,
                        success: function (data) {
                            // $("#searchgrid").empty().append(data);
                            $("#parheaderid").load('@Url.Action("ParHeader", "CbfRaiser")? + new Date().getTime());
                        },
                        error: function () {
                            jAlert("something seems wrong", "Error");
                        }
                    });
                }*@
            @*});*@

        var objDialogforboq;
        $(document).ready(function () {
            objDialogforboq = $("[id$='boqattachment']");
            objDialogforboq.dialog({
                autoOpen: false,
                modal: true,
                show: 'fade-in',
                close: 'fade-out',
                width: 1000,
                height: 600
            });
        });
        function Newboq() {
            var id = "";
            objDialogforboq.load('../CbfRaiser/BoqAttach?id=' + id + '&' + new Date().getTime());
            objDialogforboq.dialog({ title: 'Select BOQ Attachment' });
            objDialogforboq.dialog("open");
        }
        $('input:radio[name=Budgeted]').change(function () {
            var valthis = $(this).val();
            var rowcnt = 0;
            if ($('input[name=mode]:checked').val() == "PR") {
                rowcnt = parseInt($("#grid2 tbody tr").length);
            }
            else {
                rowcnt = parseInt($("#grid2 tbody tr").length);
            }
            if (parseInt(rowcnt) > 0) {
                jConfirm("Are you sure want to change Budgeted Flag?[It Causes Lose of CBF Details]", "Warning", function (u) {
                    if (u == true) {
                        if (valthis == "Y") {
                            $("#parheaderid").load('../CbfRaiser/ParHeader?isBudgeted=yes&' + new Date().getTime());
                            $("#pardetails").empty();
                            $('#grid_cbfdetails').hide();
                            $('#pardetails').hide();
                            $('#cbfdetailsgridforpar').hide();
                        }
                        else {
                            $("#parheaderid").load('../CbfRaiser/ParHeader?isBudgeted=no&' + new Date().getTime());
                            $("#pardetails").empty();
                            $('#grid_cbfdetails').hide();
                            $('#pardetails').hide();
                            $('#cbfdetailsgridforpar').hide();

                        }
                    }
                    else {
                        if (valthis == "Y") {
                            $("#id_rdunbudjected").prop("checked", true);
                        }
                        else {
                            $("#id_rdbudjected").prop("checked", true);
                        }
                    }
                });
            }
            else {
                if (valthis == "Y") {
                    $("#parheaderid").load('../CbfRaiser/ParHeader?isBudgeted=yes&' + new Date().getTime());
                    $("#pardetails").empty();
                    $('#grid_cbfdetails').hide();
                    $('#pardetails').hide();
                    $('#cbfdetailsgridforpar').hide();
                }
                else {
                    $("#parheaderid").load('../CbfRaiser/ParHeader?isBudgeted=no&' + new Date().getTime());
                    $("#pardetails").empty();
                    $('#grid_cbfdetails').hide();
                    $('#pardetails').hide();
                    $('#cbfdetailsgridforpar').hide();
                }
            }
            
        });
        $("#id_rdpr").change(function () {
            
            var claim = $('input[name=mode]:checked').val();          
            if (claim == "PR") {
               
                $('#id_rdbudjected').attr('disabled', true);
                $('#id_rdunbudjected').attr('disabled', true);
            }
        });
        $("#id_rdpar").change(function () {
            var claim = $('input[name=mode]:checked').val();
            if (claim == "PAR") {
                $('#id_rdbudjected').attr('disabled', false);
                $('#id_rdunbudjected').attr('disabled', false);
            }
        });
        $(document).ready(function () {
            $("#hid_branch").val("");
            //var branchgid1 = 0;
            //var branchname1 = "";
            //$.ajax({
            //    url: '../cbfraiser/GetEmployeeBranchGid',
            //    //data: JSON.stringify(objModelCBF),
            //    type: 'POST',
            //    async: false,
            //    cache: false,
            //    contentType: 'application/json; charset=utf-8',
            //    success: function (data) {
                 
            //        if (data.length > 0) {
            //            for (var i = 0; i < data.length; i++) {
            //                branchgid1 = data[i].branchgid;
            //                branchname1 = data[i].branchName;
            //            }
            //            $("#txt_branchName").val(branchname1);
            //            $("#hid_cbfbranchgid").val(branchgid1);
            //        }

            //    },
            //    error: function (result) {
            //        jAlert("Something Went wrong", "Error");
            //    }
            //});


            var currentTab4 = 0;
            $(function () {
                $("#tabsat4").tabs({
                    select: function (e, i) {
                        currentTab4 = i.index;
                    }
                });
            });
            //if ($('input:radio[name=mode]:checked').val() == "PR") {
            //    $("#parheaderid").load('../CbfRaiser/PrHeader?BranchDetailsGid=' + branchgid1 + '&' + new Date().getTime());
            //    $("#prdetailsgrid").empty();
            //}
                       

            @*$('#id_rdbudjected').change(function () {
                    alert('Y');
                    var service =
         {
             "service_code": row
         }
                    $.ajax({
                        url: "@Url.Action("EditSer", "PrSummary")",
                        type: 'POST',

                    success: function (data) {
                        $("#ProductDetailgrid").empty().append(data);
                    },
                    error: function () {
                        jAlert("something seems wrong");
                    }
                });
                });

                $('#id_rdunbudjected').change(function () {
                    alert('N');
                    var service =
         {
             "service_code": row
         }
                    $.ajax({
                        url: "@Url.Action("EditSer", "PrSummary")",
                        type: 'POST',

                    success: function (data) {
                        $("#ProductDetailgrid").empty().append(data);
                    },
                    error: function () {
                        jAlert("something seems wrong");
                    }
                });
                });*@
            var reqgroup = $("#hid_reqgroup").val();
            $("#Request option").each(function () {
                if ($(this).text() == reqgroup) {
                    $(this).attr('selected', 'selected');
                    $("#Request").attr("disabled", "disabled");

                    var value = ($("#Request").val());

                    if (value == "4") {

                        $("#id_rdapp").attr("disabled", "disabled");
                        $("#id_rdinfar").attr("disabled", "disabled");

                    }
                    else {
                        $("#id_rdapp").attr("enabled", "enabled");
                        $("#id_rdinfar").attr("enabled", "enabled");
                    }
                    var prheader = {
                        "prRequestFor": $(this).val(),
                    };

                    $.post('../CbfRaiser/PrHeader', prheader,
            function (data) {
                if (data == 0) {
                    jAlert("Error Occured", "Error", function () {
                        return false;
                    });
                    return false;
                }
                else {
                    $("#prheader").load('../CbfRaiser/PrHeader?' + new Date().getTime());
                    $("#grid_details").hide();
                    $('#grid_cbfdetails').hide();
                    $('#pardetails').hide();
                    $('#cbfdetailsgridforpar').hide();
                }

            }, 'json');
                }
            });

            $('#parheaderview').val("");
            var pickerOpts = {
                changeMonth: true,
                changeYear: true,
                yearRange: '1950:2100',
                currentText: "Now",
                dateFormat: "dd-mm-yy"
            };
            $("#cbf_dev").keypress(function (event) {
                return isNumber1(event, this);
            });
            function dateformat() {
                dateformat: 'dd-mm-yyyy';
            }
            $("#Cbf_AttachDate").datepicker(pickerOpts);
            $("#cbfendate_id").datepicker(pickerOpts);
           // $("#cbfendate_id").datepicker(
           //{
           //    changeMonth: true,
           //    changeYear: true,
           //    yearRange: '1950:2100',
           //    currentText: "Now",
           //    dateFormat: "dd-mm-yy"
           //}
           //);
            $("#cbfdate_id").datepicker({

                changeMonth: true,
                changeYear: true,
                yearRange: '1950:2100',
                currentText: "Now",
                dateFormat: "dd-mm-yy",
                maxDate: new Date()

            });

            $('#prheader').fadeOut();

            if ($('#prheader :input').attr('checked', true)) {
                $('#parheaderid').hide();
                $('#prheader').show();


            }

            if ($('#parheader:input').attr('checked', true)) {
                $('#parheaderid').show();
                $('#prheader').hide();
                
            }
            if ($('input:radio[name=Budgeted]:checked').val() == "Y") {
                $("#parheaderid").load('../CbfRaiser/ParHeader?isBudgeted=yes&' + new Date().getTime());
            }
            else if ($('input:radio[name=Budgeted]:checked').val() == "N") {
                $("#parheaderid").load('../CbfRaiser/ParHeader?isBudgeted=no&' + new Date().getTime());
            }
            else {
                $("#parheaderid").load('../CbfRaiser/ParHeader?isBudgeted=pr&' + new Date().getTime());
            }
        });

        $("#cbfendate_id").change(function () {

            var dt = $('#cbfdate_id').val();
            var dt2 = $('#cbfendate_id').val();
            var start_date = dt.split('-');
            var startDate = new Date(start_date[2], start_date[1], start_date[0]);
            var end_date = dt2.split('-');
            var endDate = new Date(end_date[2], end_date[1], end_date[0]);

            if (startDate > endDate) {
                jAlert('CBF Enddate Should Not be Lesser than CBF date', "Error");
                $("#cbfendate_id").val(dt);
            }

        });
        $("#cbfdate_id").change(function () {
            var dt = $('#cbfdate_id').val();
            var dt2 = $('#cbfendate_id').val();
            var start_date = dt.split('-');
            var startDate = new Date(start_date[2], start_date[1], start_date[0]);
            var end_date = dt2.split('-');
            var endDate = new Date(end_date[2], end_date[1], end_date[0]);
            if (startDate > endDate) {
                jAlert('CBF Enddate Should Not be Lesser than CBF date', "Error");
                $("#cbfendate_id").val(dt);
            }

        });

        //$('#Request').change(function () {
        //    var id1 = $(this).val();
        //    var id = $("#Request option:selected").text();
        //    if (id == "IT") {
        //        $('#ittype :input').attr('disabled', false);
        //        $('#id_rdapp').attr('checked', true);


        //    }
        //    else {
        //        $('#ittype :input').attr('disabled', true);
        //        $('#id_rdapp').attr('checked', false);
        //        $('#id_rdinfar').attr('checked', false);
        //    }

        //    var prheader = {
        //        "prRequestFor": id1,
        //    };

        //    $.post('../CbfRaiser/PrHeader', prheader,
        //     function (data) {

        //         $("#prheader").load('../CbfRaiser/PrHeader?' + new Date().getTime());
        //         $("#grid_details").hide();
        //         $('#grid_cbfdetails').hide();
        //         $('#pardetails').hide();
        //         $('#cbfdetailsgridforpar').hide();

        //     }, 'json');
        //})

        $('#id_rdpr').change(function () {

            $('#divForPAR').hide();
            $('#divForPR').show();
            $("#prheader").show();
            $("#parheaderid").hide();
            $("#grid_details").hide();
            $('#grid_cbfdetails').hide();
            $('#pardetails').hide();
            $('#cbfdetailsgridforpar').hide();

           
        });
        $('#id_rdpar').change(function () {
            $('#divForPR').hide();
            $('#divForPAR').show();
            $("#parheaderid").show();
            $("#grid_details").hide();
            $("#prheader").hide();
            $('#grid_cbfdetails').hide();
            $('#pardetails').hide();
            $('#cbfdetailsgridforpar').hide();
        });
        $("#cbf_dev").keyup(function () {
            var a = $("#cbf_dev").val();
            if (a.trim() != "" || a != null) {
                $("#cbf_dev").removeClass("required");
                $("#cbf_dev").addClass("valid");
            }
            else {
                $("#cbf_dev").removeClass("valid");
                $("#cbf_dev").addClass("required");
            }

        })
        $("#cbfdate_id").change(function () {
            var a = $("#cbfdate_id").val();
            if (a.trim() != "" || a != null) {
                $("#cbfdate_id").removeClass("required");
                $("#cbfdate_id").addClass("valid");
            }
            else {
                $("#cbfdate_id").removeClass("valid");
                $("#cbfdate_id").addClass("required");
            }

        })
        $("#cbfendate_id").change(function () {
            var a = $("#cbfendate_id").val();
            if (a.trim() != "" || a != null) {
                $("#cbfendate_id").removeClass("required");
                $("#cbfendate_id").addClass("valid");
            }
            else {
                $("#cbfendate_id").removeClass("valid");
                $("#cbfendate_id").addClass("required");
            }
        })
        $("#dropbranch").change(function () {
            var a = $("#dropbranch").val();
            if (a.trim() != "" || a != null) {
                $("#dropbranch").removeClass("required");
                $("#dropbranch").addClass("valid");
            }
            else {
                $("#dropbranch").removeClass("valid");
                $("#dropbranch").addClass("required");
            }
        })
        $("#cbf_amt").keyup(function () {
            var a = $("#cbf_amt").val();
            if (a.trim() != "" || a != null) {
                $("#cbf_amt").removeClass("required");
                $("#cbf_amt").addClass("valid");
            }
            else {
                $("#cbf_amt").removeClass("valid");
                $("#cbf_amt").addClass("required");
            }

        })
        $("#justification").keyup(function () {
            var a = $("#justification").val();
            if (a.trim() != "" || a != null) {
                $("#justification").removeClass("required");
                $("#justification").addClass("valid");
            }
            else {
                $("#justification").removeClass("valid");
                $("#justification").addClass("required");
            }
        })
        $("#description_id").keyup(function () {
            var a = $("#description_id").val();
            if (a.trim() != "" || a != null) {
                $("#description_id").removeClass("required");
                $("#description_id").addClass("valid");
            }
            else {
                $("#description_id").removeClass("valid");
                $("#description_id").addClass("required");
            }

        })
        $("#ProductType").change(function () {
            var a = $("#ProductType").val();
            if (a.trim() != "" || a != null) {
                $("#ProductType").removeClass("required");
                $("#ProductType").addClass("valid");
            }
            else {
                $("#ProductType").removeClass("valid");
                $("#ProductType").addClass("required");
            }

        });
        $("#Budget").change(function () {
            var a = $("#Budget").val();
            if (a.trim() != "" || a != null) {
                $("#Budget").removeClass("required");
                $("#Budget").addClass("valid");
            }
            else {
                $("#Budget").removeClass("valid");
                $("#Budget").addClass("required");
            }
        });
        $("#Request").change(function () {
            var a = $("#Request").val();
            if (a.trim() != "" || a != null) {
                $("#Request").removeClass("required");
                $("#Request").addClass("valid");
            }
            else {
                $("#Request").removeClass("valid");
                $("#Request").addClass("required");
            }
        });
        function assignbranch() {
           
            if ($('input:radio[name=mode]:checked').val() == "PR") {
                var branchgid11 = 0;
                var branchname11 = "";
                var oldbranchid = $("#hid_cbfbranchgid").val();
                if (oldbranchid != null && oldbranchid != "") {
                    branchgid11 = $("#hid_cbfbranchgid").val();
                }
                else {
                    
                    $.ajax({
                        url: '../cbfraiser/GetEmployeeBranchGid',
                        //data: JSON.stringify(objModelCBF),
                        type: 'POST',
                        async: false,
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {

                            if (data.length > 0) {
                                for (var i = 0; i < data.length; i++) {
                                    branchgid1 = data[i].branchgid;
                                    branchname1 = data[i].branchName;
                                }
                                $("#txt_branchName").val(branchname1);
                                $("#hid_cbfbranchgid").val(branchgid1);
                            }
                            else {
                                jAlert("Error Occured", "Error", function () {
                                    return false;
                                });
                                return false;
                            }

                        },
                        error: function (result) {
                            jAlert("Something Went wrong", "Error");
                        }
                    });
                }
                $("#parheaderid").load('../CbfRaiser/PrHeader?BranchDetailsGid=' + branchgid1 + '&' + new Date().getTime());
                $("#prdetailsgrid").empty();
            }
        }
        function savecbfraiser() {
            var existrow = $('.save-btn1').length;
            if (existrow != 0) {
                jAlert("Please Save All Rows In CBF Details Grid", "Error", function () {
                    return false;
                });
                return false;
            }
            var cbfno = $('#cbf_no').val();
            var cbfdate = $('#cbfdate_id').val();
            var cbfenddate = $('#cbfendate_id').val();
            var branchcode = $('#hid_cbfbranchgid').val();
            var par = $("input[name='mode']:checked").val();
            var cbfapproval = $("input[name='approvaltype']:checked").val();
            var budject = $("input[name='Budgeted']:checked").val();
            var projectowner = $('#ProductType').val();
            var deviation = ($('#cbf_dev').val());
            var cbfamount = ($('#cbf_amt').val());
            var requestfor = $('#Request').val();
            var requesttype = $("input[name='itapplication']:checked").val();
            var branchtype = $("input[name='Branchtype']:checked").val();
            var Description = $('#description_id').val();
            var Justifiction = $('#justification').val();
            var Budget = $('#Budget').val();
            if (cbfdate == null || cbfdate == "") {

                jAlert("Please Enter CBF Date.", "Error");
                return false;
            }
            if (cbfenddate == null || cbfenddate == "") {
                jAlert("Please Enter CBF End Date.", "Error");
                return false;
            }
            if (cbfdate == null || cbfdate == "") {
                jAlert("Please Enter CBF Date.", "Error");
                return false;
            }
            //if (deviation == null || deviation == "") {
            //    jAlert("Please Enter Devation amount.", "Error");
            //    return false;
            //}
            if (branchcode == null || branchcode == "") {
                jAlert("Please Select Any Branch Code.", "Error");
                return false;
            }
            if (projectowner == null || projectowner == "") {
                jAlert("Please Select Any Project Owner.", "Error");
                return false;
            }
            if (requestfor == null || requestfor == "") {
                jAlert("Please Select Any Request Code.", "Error");
                return false;
            }
            if (Description == null || Description == "") {
                jAlert("Please Enter Description.", "Error");
                return false;
            }
            if (Justifiction == null || Justifiction == "") {
                jAlert("Please enter Justification", "Error");
                return false;
            }
            //if (deviation == null || deviation == "" || deviation == "NaN") {
            //    jAlert("Please enter Deviation Amount", "Error");
            //    return false;
            //}
            if (cbfamount == null || cbfamount == "" || cbfamount == "NaN") {
                jAlert("Please enter CBF Amount", "Error");
                return false;
            }
            if (parseInt(cbfamount) <= parseInt(deviation)) {
                jAlert("Deviation Amount Should not be greater Than CBF Amount", "Error");
                return false;
            }
            if (Budget == null || Budget == "") {
                jAlert("Please Select Any Budget Owner Name", "Error");
                return false;
            }
            var parprgid = $("#hidParHeaderGid").val();

            var cbfheader = {
                "cbfNo": cbfno,
                "cbfDate": cbfdate,
                "cbfEnddate": cbfenddate,
                "branchCode": branchcode,
                "cbfMode": par,
                "cbfType": cbfapproval,
                "budgeted": budject,
                "projectOwner": projectowner,
                "deviationAmt": deviation,
                "cbfAmt": cbfamount,
                "requestFor": requestfor,
                "requestType": requesttype,
                "description": Description,
                "branchType": branchtype,
                "justfication": Justifiction,
                "BudgetownerGid": Budget,
                "ParPRGid": parprgid
            };
            showProgress();
            $.post('../CbfRaiser/Create', cbfheader,
            function (data) {
                hideProgress();
                if (data != "Inserted Successfully") {
                    jAlert(data, "Error", function () {
                        return false;
                    });
                    return false;
                } else {
                    jAlert("Saved Successfully", "Success", function () {
                        location = '../CbfSummary/CbfSummaryIndex?' + new Date().getTime();
                    });
                }
            }, 'json');
        }
        function submitcbfraiser() {
            var existrow = $('.save-btn1').length;
            if (existrow != 0) {
                jAlert("Please Save All Rows In CBF Details Grid", "Error", function () {
                    return false;
                });
                return false;
            }
            var cbfno = $('#cbf_no').val();
            var cbfdate = $('#cbfdate_id').val();
            var cbfenddate = $('#cbfendate_id').val();
            var branchcode = $('#hid_cbfbranchgid').val();
            var par = $("input[name='mode']:checked").val();
            var cbfapproval = $("input[name='approvaltype']:checked").val();
            var budject = $("input[name='Budgeted']:checked").val();
            var projectowner = $('#ProductType').val();
            var deviation = ($('#cbf_dev').val());
            var cbfamount = ($('#cbf_amt').val());
            var requestfor = $('#Request').val();
            var requesttype = $("input[name='itapplication']:checked").val();
            var branchtype = $("input[name='Branchtype']:checked").val();
            var Description = $('#description_id').val();
            var Justifiction = $('#justification').val();
            var Budget = $('#Budget').val();

            if (cbfdate == null || cbfdate == "") {
                jAlert("Please Enter CBF Date.", "Error");
                return false;
            }
            if (cbfenddate == null || cbfenddate == "") {
                jAlert("Please Enter CBF End Date.", "Error");
                return false;
            }
            if (cbfdate == null || cbfdate == "") {
                jAlert("Please Enter CBF Date.", "Error");
                return false;
            }

            //if (deviation == null || deviation == "") {
            //    jAlert("Please enter Deviation Amount", "Error");
            //    return false;
            //}
            if (branchcode == null || branchcode == "") {
                jAlert("Please Select Any Branch Code.", "Error");
                return false;
            }
            if (projectowner == null || projectowner == "") {
                jAlert("Please Select Any Project Owner.", "Error");
                return false;
            }
            if (requestfor == null || requestfor == "") {
                jAlert("Please Select Any Request Code.", "Error");
                return false;
            }

            if (Description == null || Description == "") {

                jAlert("Please Enter Description.", "Error");
                return false;
            }
            if (Justifiction == null || Justifiction == "") {
                jAlert("Please enter Justification", "Error");
                return false;
            }
            //if (deviation == null || deviation == "" || deviation == "NaN") {
            //    jAlert("Please enter Deviation Amount", "Error");
            //    return false;
            //}
            if (cbfamount == null || cbfamount == "" || cbfamount == "NaN") {
                jAlert("Please enter CBF Amount", "Error");
                return false;
            }
            if (parseInt(cbfamount) <= parseInt(deviation)) {
                jAlert("Deviation Amount should not be Greater Than CBF Amount", "Error");
                return false;
            }

            if (Budget == null || Budget == "") {
                jAlert("Please Select Any Budget Owner Name", "Error");
                return false;
            }
            var parprgid = $("#hidParHeaderGid").val();
            var cbfheader = {
                "cbfNo": cbfno,
                "cbfDate": cbfdate,
                "cbfEnddate": cbfenddate,
                "branchCode": branchcode,
                "cbfMode": par,
                "cbfType": cbfapproval,
                "budgeted": budject,
                "projectOwner": projectowner,
                "deviationAmt": deviation,
                "cbfAmt": cbfamount,
                "requestFor": requestfor,
                "requestType": requesttype,
                "description": Description,
                "branchType": branchtype,
                "justfication": Justifiction,
                "BudgetownerGid": Budget,
                "ParPRGid": parprgid
            };
            showProgress();
            $.post('../CbfRaiser/Submit', cbfheader,
            function (data) {
                hideProgress();
                if (data != "Inserted Successfully") {
                    jAlert(data, "Error", function () {
                        return false;
                    });
                    return false;
                } else {
                    jAlert("Submit Successfully", "Success", function () {
                        location = '../CbfSummary/CbfSummaryIndex?' + new Date().getTime();
                    });
                    
                }
            }, 'json');
        }
        function fucntionclose() {
            location = '../CbfSummary/CbfSummaryIndex';
        }

        function GetBranch() {

            //$("#hid_branch").val("");
            // var valu = $("#hid_branch").val();

            // if ($("#hid_branch").val() == "") {
            // alert("hi");
            $("#hid_branch").val("branch");
            objbranchcbf.load('@Url.Action("BranchDetailsForcbf", "CbfRaiser")?' + new Date().getTime());
            objbranchcbf.dialog({ title: 'Branch Details', width: '890', height: '460' });
            objbranchcbf.dialog("open");
        }

        $(".datepickert").datepicker(
            {
                changeMonth: true,
                changeYear: true,
                yearRange: '1950:2100',
                currentText: "Now",
                dateFormat: "dd-mm-yy"
            }
            );

        // }
    </script>
    @*}*@
</div>