@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity
@{
    var grid = new WebGrid(source: Model.cbfPardetailslst, canPage: true, canSort: false, rowsPerPage: 5, selectionFieldName: "selectedrow", ajaxUpdateContainerId: "gridpardt", ajaxUpdateCallback: "Dum()");
    int rowNum = 0;
}
<style>
    .sltd {
        padding: 3px 2px !important; 
        width:2% !important;
    }
    .opextd{
        padding: 3px 2px !important;
        width:8% !important;
    }
    .depttd{
        padding: 3px 2px !important;
        width:7% !important;
    }
    .budgettd{
        padding: 3px 2px !important;
        width:7% !important;
    }
    .desctd{
        padding: 3px 2px !important;
        width:15% !important;
    }
    .yeartd{
        padding: 3px 2px !important;
        width:9% !important;
    }
    .bAmttd{
        padding: 3px 2px !important;
        width:10% !important;
        text-align:right;
    }
    .LineAmttd{
        padding: 3px 2px !important;
        width:8% !important;
        text-align:right;
    }
    .UAmttd{
        padding: 3px 2px !important;
        width:10% !important;
        text-align:right;
    }
    .CAmndtd{
        padding: 3px 2px !important;
        width:9% !important;
        text-align:right;
    }
    .balancetd{
        padding: 3px 2px !important;
        width:7% !important;
        text-align:right;
    }
    .attachtd{
        padding: 3px 2px !important;
        width:5px !important;
    }
    .actiontd{
        padding: 3px 2px !important;
        width:3% !important;
    }

</style>

    <fieldset>
        <legend style="margin-left:10px; border:0px;">PAR Details</legend>
        <div id="prdetails">
            @functions{
                public static string sorter(string columnname, string columnheader, WebGrid grid)
                {
                    return string.Format("{0} {1}", columnheader, grid.SortColumn == columnname ?
                        grid.SortDirection == SortDirection.Ascending ? "▲" : "▼" : string.Empty);
                }
            }
        
            <table style="width:100%;">
                <tr>
                    <td style="padding:10px; padding-top:0px;">
                        <div id="grid_details_par">
                            @grid.GetHtml(
                        tableStyle: "tableSmall table-bordered table-hover table-responsive overflowx",
                        selectedRowStyle: "selectedrow",
                        htmlAttributes: new { id = "gridpardt" },
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(
                                          grid.Column("Sl", format: item => rowNum = rowNum + 1, style: "sltd"),
                                 grid.Column("par_Expense", sorter("par_Expense", "Capex/Opex", grid), style: "opextd"),
                                 grid.Column("par_Requestfor", sorter("par_Requestfor", "Dept", grid), style: "depttd"),
                                 grid.Column("par_Budget", sorter("par_Budget", "Budgeted", grid), style: "budgettd"),
                                          grid.Column("description", sorter("description", "Description", grid), style: "desctd"),
                                 grid.Column("year", sorter("year", "Year", grid), style: "yeartd"),
                                 grid.Column("b_FwdAmount", sorter("b_FwdAmount", "B/Fwd Amt", grid), style: "bAmttd rightAlign"),
                                          grid.Column("lin_Amt", sorter("lin_Amt", "Line Amt", grid), style: "LineAmttd rightAlign"),
                                          grid.Column("ulis_Amt", sorter("ulis_Amt", "Utiltized Amt", grid), style: "UAmttd rightAlign"),
                                          grid.Column("c_FwdAmount", sorter("c_FwdAmount", "C/fwd Amt", grid), style: "CAmndtd rightAlign"),
                                          grid.Column("balance", sorter("balance", "Balance", grid), style: "balancetd rightAlign"),
                        //grid.Column("remarks", sorter("remarks", "Remarks", grid), style: "col-sm-2"),
                                 grid.Column(header: "Attchment", canSort: false, style: "attachtd",
                        format: @<text>
                            <input type="button" value="View Doc" style="padding:3px;" id="@item.pardet_Gid" onclick="Newboqview12(id)" class="btn btn-link" title="View Doc" />
                        </text>),
                                 grid.Column(header: "Action", canSort: false, style: "actiontd",
                        format: @<text>
                            <input type="button" value="Select" style="padding:3px;" class="btn btn-link parselect" onclick="cbfpardetailsfunction(id,this)" id="@item.pardet_Gid" title="Select" />
                        </text>)))
                            @if (ViewBag.records != null)
                            {  <div align="center" class="borderStyle">
                                <h6 class="row" style="font-weight:normal ;">
                                    @ViewBag.records
                                </h6>
                            </div>
                            }
                            <div style="float:right;margin-right:15px;"> <span>Page: @(grid.PageIndex + 1) of @grid.PageCount</span>  <span> - Total No Of Records:@Model.cbfPardetailslst.Count</span></div>
                        </div>

                      

</td>
                </tr>
            </table>
        </div>
    </fieldset>
    
    <script>
        var objDialogforpo;
        function Newboqview12(id) {
            if ($('#parheaderview').val() == "") {
                $('#parheaderview').val("1");
                objDialogforpo = $("[id$='boqattachment1']");
                objDialogforpo.dialog({
                    autoOpen: false,
                    modal: true,
                    show: 'fade-in',
                    close: 'fade-out',
                    width: 1000,
                    height: 600
                });
            }

            objDialogforpo.load('../CbfRaiser/viewattachforpar?lnParDetail=' + id);
            objDialogforpo.dialog({ title: 'View BOQ Attachment' });
            objDialogforpo.dialog("open");
        }
        $(document).ready(function () {
            $("#gridpardt tr .parselect").click(function () {
                $('#gridpardt').find('tr').css('background', 'none');
                $(this).closest('tr').css('background', '#ccc');
            });
        });
        function cbfpardetailsfunction(id, element) {

            var row = $(element).closest("tr");
            var costestimatiuon = row.find("td:eq(10)").text();
            $('#parcostestimation12').val(costestimatiuon);
            $('#cbfdetailsgridforpar').show();
            var prdegid =
                       {
                           "prdetails_gid": 0,
                           "productcode": id
                       };
            $.ajax({
                url: "../CbfRaiser/CbfParDetails/",
                type: 'POST',
                data: prdegid,
                success: function (data) {
                    if (data == 0) {
                        jAlert("Error Occured", "Error", function () {
                            return false;
                        });
                        return false;
                    }
                    else {
                        $("#cbfdetailsgridforpar").empty().append(data);
                        $('.display-mode').hide();
                    }
                },
                error: function () {
                    jAlert("something seems wrong", "Error");
                }
            });
        }
    </script>
@*}*@
