@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity
@{
    ViewBag.Title = "CbfChekSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var viewfor = (string)ViewBag.viewfor;
    var grid = new WebGrid(source: Model.cbfCheckerDetails, canPage: true, canSort: true, rowsPerPage: 1, ajaxUpdateContainerId: "cbfdetails", ajaxUpdateCallback: "Dummycbf()");
    if (viewfor == "CancellationChecker")
    {

        <b>  <span style="color: rgb(52, 108, 196);">CBF Cancellation Checker </span></b>

    }
    else if (viewfor == "closermaker")
    {
        <b>   <span style="color: rgb(52, 108, 196);">CBF Closure Maker</span></b>
    }
    else if (viewfor == "closurechecker")
    {
        <b>
            <span style="color: rgb(52, 108, 196);">
                CBF Closure Approval
            </span>
        </b>

    }
    else if (viewfor == "Checker")
    {
        <b> <span style="color: rgb(52, 108, 196);">CBF Checker </span></b>
    }

    else if (viewfor == "Approval")
    {
        <b> <span style="color: rgb(52, 108, 196);">CBF Approver </span></b>
    }
    else if (viewfor == "Reopenmaker")
    {
        <b><span style="color: rgb(52, 108, 196);">CBF Reopen Maker</span></b>
    }
    else if (viewfor == "delmat")
    {
        <b><span style="color: rgb(52, 108, 196);">CBF Delmat Approver</span></b>
    }
}

<div class="well" style="padding:10px;">
    <input type="hidden" id="idPRPARChecker" value="@Model.cbfCheckerHeader.cbfModeChecker" />
    <input type="hidden" id="idisbudjChecker" name="hidparent" value="@Model.cbfCheckerHeader.budgetedchecker" />
    <input type="hidden" id="lblittypeChecker" value="@Model.cbfCheckerHeader.requestTypeChecker" />
    <input type="hidden" id="idcbftypeChecker" name="productID" value="@Model.cbfCheckerHeader.cbfTypeChecker" />
    <input type="hidden" id="idbranchChecker" value="@Model.cbfCheckerHeader.branchTypeChecker" />
    <input type="hidden" id="checkergid" value="@Model.cbfCheckerHeader.cbfGidChecker" />

    <fieldset>
        <label>CBF Header</label>
        <div class="borderStyleBlue panel panel-info ">

            <table class="myTableStyleTab" style="width:100%;">
                <tr>
                    <td style="padding:10px; width:16%;">
                        <span>Raiser Code</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               id="txtcbfnocode"
                               class="textboxStyleBig"
                               readonly="readonly"
                               value=@Model.cbfCheckerHeader.raiser_code />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>Raiser Name</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               id="txtcbfnoname"
                               class="textboxStyleBig"
                               readonly="readonly"
                               value=@Model.cbfCheckerHeader.raiser_name />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Number</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               class="textboxStyleBig"
                               value=@Model.cbfCheckerHeader.cbfNoChecker
                               disabled="disabled"
                               id="cbf_no" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Date</span>
                        <br />
                        <input type="text"
                               id="cbfdate_id"
                               value=@Model.cbfCheckerHeader.cbfDateChecker
                               disabled="disabled"
                               maxlength="10"
                               class="textboxStyleBig valid" @ViewBag.viewmode />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF End Date</span>
                        <br />
                        <input type="date"
                               name="cbfenddate"
                               id="cbfendate_id"
                               value="@Model.cbfCheckerHeader.cbfEndDateChecker"
                               disabled="disabled"
                               maxlength="10"
                               class="textboxStyleBig valid" @ViewBag.viewmode />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Amount</span>
                        <br />
                        <input type="text"
                               name="txt_cbfamount"
                               class="textboxStyleBig valid "
                               style="display:block"
                               value="@Model.cbfCheckerHeader.cbfAmtChecker"
                               disabled="disabled"
                               readonly="readonly"
                               id="cbf_amt"
                               maxlength="16"
                               width="100" @ViewBag.viewmode />
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px; width:16%;">
                        <span>Deviation Amount</span>
                        <br />
                        <input type="text"
                               name="txtcbfdev_amt"
                               disabled="disabled"
                               value="@Model.cbfCheckerHeader.deviationAmtChecker"
                               class="textboxStyleBig valid"
                               style="display:block"
                               maxlength="16"
                               id="cbf_dev"
                               width="100" @ViewBag.viewmode />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <div id="ddlprojectowner">
                            <span>Project Owner</span>
                            <br />
                            @Html.DropDownList("ProductType", Model.projectOwner1, "--Select Project Owner--", new { @class = "textboxStyleBig valid", @id = "ProductType", @disabled = "disabled" })
                        </div>
                    </td>

                    <td style="padding:10px; width:16%;">
                        <div id="ddlbranchcode">
                            <span>CBF Branch Code</span>
                            <br />
                            @Html.DropDownList("dropbranch", Model.branchCode1, "--Select Brachcode--", new { @class = "textboxStyleBig valid", @id = "dropbranch", @disabled = "disabled" })
                        </div>
                    </td>
                    <td style="padding:10px; width:16%;">
                        <div id="ddlrequestfor" @ViewBag.viewmode>
                            <span>Request by</span>
                            <br />
                            @Html.DropDownList("Request", Model.requestFor, "--Select Request by--", new { @class = "textboxStyleBig valid", @id = "Request", @disabled = "disabled" })
                        </div>
                    </td>
                    <td style="padding:10px;" colspan="2">
                        <table style="width:100%;">
                            <tr>
                                <td style="padding-right:5px; width:33%">
                                    <span>CBF Mode</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdpar" disabled="disabled" name="mode" value="PAR" checked="checked" />
                                        PAR
                                        <input type="radio" id="id_rdpr" disabled="disabled" name="mode" value="PR" />
                                        PR
                                    </div>
                                </td>
                                <td style="padding-right:5px; width:33%">
                                    <span>Budgeted</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdbudjected" name="Budgeted" value="Y" checked="checked" disabled="disabled" />
                                        Yes
                                        <input type="radio" id="id_rdunbudjected" name="Budgeted" value="N" disabled="disabled" />
                                        No
                                    </div>
                                </td>
                                <td style="padding-right:5px; width:33%">
                                    <span>CBF Approval</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdappreg" name="approvaltype" value="Regular" checked="checked" disabled="disabled" />
                                        Regular
                                        <input type="radio" id="id_rdapplater" name="approvaltype" value="Approval Later" disabled="disabled" />
                                        Later
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td style="padding:10px;">
                        <span>Branch Type</span>
                        <br />
                        <div style="margin-top:5px;">
                            <input type="radio" id="id_rdbranchtype" name="Branchtype" value="Y" checked="checked" disabled="disabled" />
                            Single
                            <input type="radio" id="id_rdbrachmultir" name="Branchtype" value="N" disabled="disabled" />
                            Multiple
                        </div>
                    </td>
                    <td style="padding:10px;" colspan="2">
                        <span>Description</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txt_description"
                                   class="textboxStyleBig valid "
                                   value="@Model.cbfCheckerHeader.descriptionChecker"
                                   disabled="disabled"
                                   style="display:block"
                                   maxlength="264"
                                   id="description_id" />
                        </div>
                    </td>
                    <td style="padding:10px;" colspan="2">
                        <span>Justification</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txt_justification"
                                   class="textboxStyleBig valid "
                                   value="@Model.cbfCheckerHeader.justficationChecker"
                                   disabled="disabled"
                                   maxlength="264"
                                   id="justification" />
                        </div>
                    </td>

                </tr>
            </table>

        </div>
    </fieldset>

    <div>
        @if (viewfor == "closermaker" || viewfor == "closurechecker")
        {
            <table align="center">
                <tr>

                    @if (Model.Utilized.cbfUtilized.ToString() == "0" || Model.Utilized.cbfUtilized.ToString() == null)
                    {
                        <td>
                            Utilized Amount:<input type="text" id="Utizedamount" class="textboxStyle" disabled="disabled" value="0" />
                        </td>
                    }
                    else
                    {
                        <td>
                            Utilized Amount:<input type="text" id="Utizedamount" value=@Model.Utilized.cbfUtilized class="textboxStyle" disabled="disabled" />
                        </td>

                    }

                    @if (Model.Utilized.cbfAmount.ToString() == "0" || Model.Utilized.cbfAmount.ToString() == null)
                    {
                        <td>
                            CBF Amount:<input type="text" id="cbfamount" value=@Model.cbfCheckerHeader.cbfAmtChecker class="textboxStyle" disabled="disabled" />
                        </td>
                    }
                    else
                    {
                        <td>
                            CBF Amount:<input type="text" id="cbfamount" value=@Model.Utilized.cbfAmount class="textboxStyle" disabled="disabled" />
                        </td>

                    }
                    @if (Model.Utilized.cbfBalance.ToString() == "0" || Model.Utilized.cbfBalance.ToString() == null)
                    {
                        <td>
                            Balance Amount:<input type="text" id="balanceamount" value=@Model.cbfCheckerHeader.cbfAmtChecker class="textboxStyle" disabled="disabled" />
                        </td>
                    }
                    else
                    {
                        <td>
                            Balance Amount:<input type="text" id="balanceamount" value=@Model.Utilized.cbfBalance class="textboxStyle" disabled="disabled" />
                        </td>

                    }

                </tr>
            </table>
            <br />
        }
    </div>
    <fieldset>
        <label>CBF Details</label>
        <div>
            @Html.Partial("CbfChckDetails")
        </div>
    </fieldset>

    <div id="viewboqattachment">

    </div>
    @if (viewfor == "CancellationChecker")
    {  
        <b>
            <span style="color: rgb(52, 108, 196);"> CBF Cancellation Details</span>
        </b>
        <center>
            <div class="panel panel-default borderStyle">
                <div align="left" style="width:49%; height:auto;">
                    <table>
                        <tr>
                            <td>
                                <span>Maker Remarks</span>
                                <br />

                                <textarea name="txt_remarks"
                                          class="textboxStyleBig"
                                          style="display:block;width:437px;height:89px;"
                                          maxlength="264"
                                          disabled="disabled"
                                          id="description_idCheckerMaker"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Approver Remarks</span>
                                <br />
                                <textarea name="txt_remarks"
                                          class="textboxStyleBig valid"
                                          style="display:block;width:437px;height:89px;"
                                          maxlength="264"
                                          id="description_idChecker"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div align="right" style="width:49%;height:100%" class="borderStyle">
                    @functions{
                        public static string sorter(string columnname, string columnheader, WebGrid grid)
                        {
                            return string.Format("{0} {1}", columnheader, grid.SortColumn == columnname ?
                                grid.SortDirection == SortDirection.Ascending ? "▲" : "▼" : string.Empty);
                        }
                    }
                </div>
            </div>
        </center>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div>
                        <button type="button" id="btnapprove" name="command" class="btn btn-success" onclick="Approvalstagecancel()" value="Submit">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> Approve
                        </button>
                        &nbsp;
                        <button type="button" id="btnreject" class="btn btn-danger" value="Delete" onclick="rejectedstagecancel()">
                            <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject
                        </button>
                        &nbsp;
                        <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="Back()">
                            <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    }
    else if (viewfor == "closurechecker")
    {
        <div style="margin-bottom:10px;">
            <div id="tabsat5">
                <ul>
                    <li><a href="#tabs-1">Audit Trail</a></li>
                    <li><a href="#tabs-2">Attachments</a></li>
                </ul>
                <div id="tabs-1" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("tab_AuditTrail")
                </div>
                <div id="tabs-2" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("BoqAttach")
                </div>

            </div>
        </div>
        <span style="color: rgb(52, 108, 196);"> CBF Closure Checker Details</span>
        <center>
            <div class="well">
                <div align="left" style="width:59%;height:100%" class="borderStyle">
                    <table align="center">
                        <tr>
                            <td>
                                <input type="checkbox" value="Closed" checked="checked" disabled="disabled" />Closed
                            </td>
                            <td>
                                <span> Date</span>
                                <br />
                                <input type="text" id="checke_date" disabled="disabled" value=@DateTime.Now.ToString("dd-MM-yy") disabled="disabled" class="textboxStyle" />
                            </td>
                            @*<td>
                                <br />
                                <input type="button" id="Attchment" value="ADD Attachment" class="btn btn-primary" />
                            </td>*@
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span>Closure Remarks</span>
                                <br />

                                <textarea name="txt_remarks"
                                          class="textboxStyleBig"
                                          style="display:block;width:437px;height:89px;"
                                          maxlength="264"
                                          disabled="disabled"
                                          id="description_idClsCheckerMaker"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span>Approver Remarks</span>
                                <br />

                                <textarea name="txt_remarks"
                                          class="textboxStyleBig"
                                          style="display:block;width:437px;height:89px;"
                                          maxlength="264"
                                          id="description_idcloseChecker"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div style="padding:10px 10px 0px 0px;text-align:center;">
                        <button type="button" id="btnapprove" name="command" class="btn btn-success" onclick="Approvalstageclosure()" value="Submit">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> Approve
                        </button>
                        &nbsp;
                        <button type="button" id="btnreject" class="btn btn-danger" value="Delete" onclick="rejectedstageclosure()">
                            <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject
                        </button>
                        &nbsp;
                        <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="BackClosure()">
                            <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    }
    else if (viewfor == "reopenchecker")
    {  
        <div>
            <div id="tabsat1">
                <ul>
                    <li><a href="#tabs1-1">Audit Trail</a></li>
                    <li><a href="#tabs1-2">Attachments</a></li>
                </ul>
                <div id="tabs1-1">
                    @Html.Partial("tab_AuditTrail")
                </div>
                <div id="tabs1-2">
                    @Html.Partial("BoqAttach")
                </div>

            </div>
            <span style="color: rgb(52, 108, 196);">CBFReopen Checker Details</span>
            <center>
                <div class="panel panel-default borderStyle">
                    <div align="left" style="width:49%;height:100%" class="borderStyle">
                        <table align="center">
                            <tr>
                                <td>
                                    <input type="checkbox" value="Re-Open" checked="checked" disabled="disabled" />Re-Open
                                </td>
                                <td>
                                    <span>Date</span>
                                    <br />
                                    <input type="text" id="reopenchk_date" disabled="disabled" value=@DateTime.Now.ToString("dd-MM-yy") disabled="disabled" class="textboxStyle" />
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">
                                    <span>Re-Open Remarks</span>
                                    <br />

                                    <textarea name="txt_remarks"
                                              class="textboxStyleBig"
                                              style="display:block;width:437px;height:89px;"
                                              maxlength="264"
                                              disabled="disabled"
                                              id="description_idreopenCheckerMaker">
                                        @ViewBag.remarks
                                    </textarea>
                                </td>
                            </tr>

                            <tr>

                                <td colspan="2">
                                    <span>Approver Remarks</span>
                                    <br />
                                    <textarea name="txt_remarks"
                                              class="textboxStyleBig"
                                              style="display:block;width:437px;height:89px;"
                                              maxlength="264"
                                              id="description_idreopenChecker"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </center>
        </div> <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div style="padding:10px 10px 0px 0px;text-align:center;">
                        <button type="button" id="btnapprove" name="command" class="btn btn-success" onclick="Approvalstagereopen()" value="Submit">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> Approve
                        </button>
                        &nbsp;
                        <button type="button" id="btnreject" class="btn btn-danger" value="Delete" onclick="rejectedstagereopen()">
                            <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject
                        </button>
                        &nbsp;
                        <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="BackReopencheck()">
                            <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    }
    else if (viewfor == "Checker")
    {
        <div style="margin-bottom:10px;">
            <div id="tabsat4">
                <ul>
                    <li><a href="#tabs4-1">Audit Trail</a></li>
                    <li><a href="#tabs4-2">Attachments</a></li>
                </ul>
                <div id="tabs4-1" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("tab_AuditTrail")
                </div>
                <div id="tabs4-2" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("BoqAttach")
                </div>
            </div>
        </div>
        <div style="width:100%;">
            <table class="myTableStyleTabNew" align="center">
                <tr>
                    <td>
                        <span>Remarks</span>
                        <br />
                        <div>
                            <textarea name="txt_remarks"
                                      class="textboxStyleBig valid"
                                      style="display:block;width:437px;height:89px;"
                                      maxlength="264"
                                      id="description_chk_id"></textarea>
                        </div>
                    </td>
                    <td>
                        &nbsp; &nbsp; &nbsp;
                    </td>
                </tr>
            </table>
        </div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div style="padding:10px 10px 0px 0px;text-align:center;">
                        <button type="button" id="btnapprove" name="command" class="btn btn-success" onclick="cbfapproval()" value="Submit">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> Approve
                        </button>
                        &nbsp;
                        <button type="button" id="btnreject" class="btn btn-danger" value="Delete" onclick="cbfrejected()">
                            <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject
                        </button>
                        &nbsp;
                        <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="fucntioncloseraiser()">
                            <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>

                    </div>
                </td>
            </tr>
        </table>
    }
    else if (viewfor == "Approval")
    {
        <div style="margin-bottom:10px;">
            <div id="tabsat3">
                <ul>
                    <li><a href="#tabs3-1">Audit Trail</a></li>
                    <li><a href="#tabs3-2">Attachments</a></li>
                </ul>
                <div id="tabs3-1" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("tab_AuditTrail")
                </div>
                <div id="tabs3-2" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("BoqAttach")
                </div>
            </div>
        </div>
        <span style="color: rgb(52, 108, 196);"> CBF Approval Details</span>
        <div style="width:100%;" align="center">
            <table class="myTableStyleTabNew">
                <tr>
                    <td>
                        <span>Remarks</span>
                        <br />
                        <div>
                            <textarea name="txt_remarks"
                                      class="textboxStyleBig valid"
                                      style="display:block;width:437px;height:89px;"
                                      maxlength="264"
                                      id="description_appr_id"></textarea>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div style="padding:10px 10px 0px 0px;text-align:center">
                        <button type="button" id="btnapprove" name="command" class="btn btn-success" onclick="cbfapprovalapproval()" value="Submit">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> Approve
                        </button>
                        &nbsp;
                        <button type="button" id="btnreject" class="btn btn-danger" value="Delete" onclick="cbfrejectedapproval()">
                            <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject
                        </button>
                        &nbsp;
                        <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="fucntioncloseapproval()">
                            <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    }
    else if (viewfor == "delmat")
    {
        <div style="margin-bottom:10px;">
            <div id="tabsat3">
                <ul>
                    <li><a href="#tabs3-1">Audit Trail</a></li>
                    <li><a href="#tabs3-2">Attachments</a></li>
                </ul>
                <div id="tabs3-1" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("tab_AuditTrail")
                </div>
                <div id="tabs3-2" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("BoqAttach")
                </div>
            </div>
        </div>
        <span style="color: rgb(52, 108, 196);"> CBF Delmat Approver Details</span>
        <div  style="width:100%;" align="center">
            <table class="myTableStyleTabNew">
                <tr>
                    <td>
                        <span>Remarks</span>
                        <br />
                        <div>
                            <textarea name="txt_delmat_remarks"
                                      class="textboxStyleBig valid"
                                      style="display:block;width:437px;height:89px;"
                                      id="delmat_remk_gid"></textarea>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div style="padding:10px 10px 0px 0px;text-align:center">
                        <button type="button" id="btnapprove" name="command" class="btn btn-success" onclick="DelmatAppForCbf()" value="Submit">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> Approve
                        </button>
                        &nbsp;
                        <button type="button" id="btnreject" class="btn btn-danger" value="Delete" onclick="DelmatRejectForCbf()">
                            <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject
                        </button>
                        &nbsp;
                        <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="BackToFlexiDash()">
                            <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    }
    else if (viewfor == "Reopenmaker")
    {
        

        <div style="margin-bottom:10px;">
            <div id="tabsat4">
                <ul>
                    <li><a href="#tabs4-1">Audit Trail</a></li>
                    <li><a href="#tabs4-2">Attachments</a></li>
                </ul>
                <div id="tabs4-1" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("tab_AuditTrail")
                </div>
                <div id="tabs4-2" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("BoqAttach")
                </div>

            </div>
        </div>
        <span style="color: rgb(52, 108, 196);"> CBF Re-open Details</span>
        <center>
            <div>
                <div class="well">
                    <table align="center">
                        <tr>
                            <td>
                                <input type="checkbox" value="Re-Open" checked="checked" disabled="disabled" />Re-Open
                            </td>
                            <td>
                                <span> Date</span>
                                <br />
                                <input type="text" id="reopen_date" disabled="disabled" value=@DateTime.Now.ToString("dd-MM-yy") class="textboxStyle" />
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <span> Remarks</span>
                                <br />
                                <div>
                                    <textarea name="txt_remarks"
                                              class="textboxStyleBig"
                                              style="display:block;width:437px;height:89px;"
                                              maxlength="264"
                                              id="description_reopenmaker"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <button type="button" id="btncancel" class="btn btn-primary" onclick="reopenapprover()" value="Submit">
                        <span class="glyphicon glyphicon-floppy-saved" style="color:white;"></span> Submit
                    </button>

                </td>
                <td>

                    <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="Backreopen()">
                        <span style="color:white;" class="glyphicon glyphicon-eye-close"></span> Back
                    </button>

                </td>
            </tr>
        </table>
    }
    else if (viewfor == "closermaker")
    {
        <div style="margin-bottom:10px;">
            <div id="tabsat4">
                <ul>
                    <li><a href="#tabs4-1">Audit Trail</a></li>
                    <li><a href="#tabs4-2">Attachments</a></li>
                </ul>
                <div id="tabs4-1" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("tab_AuditTrail")
                </div>
                <div id="tabs4-2" style="height:200px; overflow:auto; padding:10px;">
                    @Html.Partial("BoqAttach")
                </div>

            </div>
        </div>
        <span style="color: rgb(52, 108, 196);">CBF Closure Details</span>
        <div align="center" class="well">
            <div align="center" style="width:49%;height:100%" class="borderStyle">
                <table align="center">
                    <tr>
                        <td>
                            <input type="checkbox" value="Closed" disabled="disabled" checked="checked" />Closed
                        </td>
                        <td>
                            <span>Date</span>
                            <br />
                            <input type="text"
                                   id="cbfClosedate_id"
                                   disabled="disabled"
                                   maxlength="10"
                                   value=@DateTime.Now.ToString("dd-MM-yy")
                                   class="textboxStyle" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <span>Closure Remarks</span>
                            <br />

                            <textarea name="txt_remarks"
                                      class="textboxStyle"
                                      style="display:block;width:437px;height:89px;"
                                      maxlength="264"
                                      id="description_idclosure"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="myTableStyleTabNew tblstyle" align="center">
            <tr>
                <td>
                    <button type="button" id="btnsave" name="command" class="btn btn-primary" onclick="ApprovalClosure()" value="Save">
                        <span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save
                    </button>
                </td>
                <td>
                    <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="BackCloseMaker()">
                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                </td>
            </tr>
        </table>


        <div id="Raiserticket">
        </div>
    }
</div>
<script>

    function BackToFlexiDash() {
        location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
    }

    function DelmatAppForCbf() {

        var cbfheadgid = $('#checkergid').val();

        $.ajax({
            url: '@Url.Action("CheckApproverIsExists", "PIPInputsOnPR")?refgid=' + cbfheadgid + '&refname=CBF&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == 1) {
                    jAlert("You Have Already Approved This CBF", "Warning", function () {
                        return false;
                    });
                }
                else if (data == 2) {
                    jAlert("You Cannot Approve Now.Something Seems Wrong", "Error", function () {
                        return false;
                    });
                }
                else {
                    var remarks = $("#delmat_remk_gid").val();
                    var action = "delmat";
                    var pr = {

                        "cbfGid": cbfheadgid,
                        "cbfStatus": action,
                        "delmatRemarks": remarks
                    }
                    showProgress();
                    $.post('@Url.Action("DelmatApproveForCbf", "CbfCheckerraiser")?' + new Date().getTime(), pr,
                           function (data) {
                               hideProgress();
                               if (data == 0) {
                                   //location = location.href;
                                   jAlert("Error Occured", "Error", function () {
                                       return false;
                                   });
                                   return false;
                               } else {
                                   jAlert("Approved Successfully", "Success", function (e) {
                                       if (e == true) {
                                           location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                                       }
                                   });

                                   @*//location.href = '@Url.Action("Delmate", "Delmet")?' + new Date().getTime()*@

                                   }
                           }, 'json');

                }
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });

    }
    function DelmatRejectForCbf() {
        var cbfremarks = $('#delmat_remk_gid').val();
        //var supervisorapproval = $('#Supervisorid').val();
        var actionstatus = "R";
        var skip = "";
        var cbfheadgid = $('#checkergid').val();
       
        $.ajax({
            url: '@Url.Action("CheckApproverIsExists", "PIPInputsOnPR")?refgid=' + cbfheadgid + '&refname=CBF&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
               
                if (data == 1) {
                    jAlert("You Have Already Approved This CBF", "Warning", function () {
                        return false;
                    });
                }
                else if (data == 2) {
                    jAlert("You Cannot Approve Now.Something Seems Wrong", "Error", function () {
                        return false;
                    });
                }
                else {

                    if (cbfremarks == null || cbfremarks == "") {
                        jAlert("Please enter Remarks", "Error");
                        return false;
                    }
                    var quenue = {
                        "actionremark": cbfremarks,
                        "actionstatus": actionstatus,
                    };
                    showProgress();
                    $.post('@Url.Action("Rejected", "CbfCheckerraiser")', quenue,
                     function (data) {
                         hideProgress();
                         if (data == 0) {
                             jAlert("Error Occured", "Error", function () {
                                 return false;
                             });
                             return false;
                             //  location = location.href;
                         } else {
                             jAlert("Rejected Successfully", "Success", function (e) {
                                 if (e == true) {
                                     location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                                 }
                             });
                             //location.href = '../CbfApproval/Index'
                         }
                     }, 'json');

                }
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });

    }
    function fucntioncloseraiser() {
        //location.href = '../CbfChecker/CbfSummaryChecker';
        location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
    }
    function fucntioncloseapproval() {
        //location.href = '../CbfApproval/Index';
        location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
    }
    function PUSHAPPROVAL() {
        var cbfremarks = $('#description_id').val();
        var supervisorapproval = $('#Supervisorid').val();
        var actionstatus = "A";
        var skip = "";
        if (supervisorapproval == 0 || supervisorapproval == '') {
            skip = 0;
        }
        else {
            skip = 1;
        }
        if (cbfremarks == null || cbfremarks == "") {
            jAlert("Please enter Remarks", "Error");
            return false;
        }
        var quenue = {
            "actionremark": cbfremarks,
            "queueto": supervisorapproval,
            "actionstatus": actionstatus,
            "skipflag": skip,

        };
        showProgress();
        $.post('../CbfCheckerraiser/Approved', quenue,
          function (data) {
              hideProgress();
              // alert(data);
              if (data == 0) {
                  //location = location.href;
                  jAlert("Error Occured", "Error", function () {
                      return false;
                  });
                  return false;
              } else {
                  jAlert("Approved Successfully", "Success", function () {
                      location.href = '../CbfClosure/cbfclosuresumary?' + new Date().getTime();
                  });
                  
              }
          }, 'json');

    }
    function reopenapprover() {

        var cbfno = $('#cbf_no').val();
        var cbfremarks = $('#description_reopenmaker').val();
        var cbfdate = $('#reopen_date').val();
        jConfirm("Do you want to Reopen This CBF " + cbfno + "?", "Confirm", function (r) {
            if (r == true) {

                var cbfheader =
                {
                    "cbfDate": cbfdate,
                    "justfication": cbfremarks,
                };
                showProgress();
                $.post('../CbfCheckerraiser/Reopen', cbfheader,
                     function (data) {
                         hideProgress();
                         if (data == 0) {
                             jAlert("Error Occured", "Error", function () {
                                 return false;
                             });
                             return false;
                         }
                         else {
                             jAlert("Submitted Successfully", "Success", function (e) {
                                 if (e == true) {
                                     location = '../CbfReopen/CbfReopenMaker?' + new Date().getTime();
                                 }
                             });
                         }
                     }, 'json');
            }
        });
    }

    function Backreopen() {
        location.href = '../CBFClosureChk/CbfClosureChkIndex'
    }
    function Approvalstagereopen() {

        var remarks = $('#description_idreopenChecker').val();
        showProgress();
        $.post('../CbfCheckerraiser/ApprovalReopen?remarks=' + remarks + '&' + new Date().getTime(),
        function (data) {
            hideProgress();
            if (data == 0) {
                //location = location.href;
                jAlert("Error Occured", "Error", function () {
                    return false;
                });
                return false;
            } else {
                jAlert("Approved Successfully", "Success", function () {
                    location.href = '../CbfReopenChecker/CbfReopenChecker?' + new Date().getTime();
                });
            }
        }, 'json');
    }
    function rejectedstagereopen() {
        var remarks = $('#description_idreopenChecker').val();
        if (remarks == null || remarks == "") {
            jAlert("Please enter Remarks", "Error");
            return false;
        }
        showProgress();
        $.post('../CbfCheckerraiser/RejectedReopen?remarks=' + remarks + '&' + new Date().getTime(),
         function (data) {
             hideProgress();
             if (data == 0) {
                 //location = location.href;
                 jAlert("Error Occured", "Error", function () {
                     return false;
                 });
                 return false;
             } else {
                 jAlert("Rejected Successfully", "Success", function () {
                     location.href = '../CbfReopenChecker/CbfReopenChecker?' + new Date().getTime();
                 });
                 
             }
         }, 'json');
    }
    function BackReopencheck() {
        location.href = '../CbfReopenChecker/CbfReopenChecker'
    }

    function Approvalstageclosure() {

        var remarks = $('#description_idcloseChecker').val();
        showProgress();
        $.post('../CbfCheckerraiser/ApprovalClosure?remarks=' + remarks + '&' + new Date().getTime(),
        function (data) {
            hideProgress();
            if (data == 0) {
                //location = location.href;
                jAlert("Error Occured", "Error", function () {
                    return false;
                });
                return false;
            } else {
                jAlert("Approved Successfully", "Success", function () {
                    location.href = '../CBFClosureChk/CbfClosureChkIndex?' + new Date().getTime();
                });
                
            }
        }, 'json');
    }
    function rejectedstageclosure() {
        var remarks = $('#description_idcloseChecker').val();
        if (remarks == null || remarks == "") {
            jAlert("Please enter Remarks", "Error");
            return false;
        }
        showProgress();
        $.post('../CbfCheckerraiser/RejectedClosure?remarks=' + remarks + '&' + new Date().getTime(),
         function (data) {
             hideProgress();
             if (data == 0) {
                 //location = location.href;
                 jAlert("Error Occured", "Error", function () {
                     return false;
                 });
                 return false;
             } else {
                 jAlert("Rejected Successfully", "Success", function () {
                     location.href = '../CBFClosureChk/CbfClosureChkIndex?' + new Date().getTime();
                 });
                 
             }
         }, 'json');
    }
    function BackClosure() {
        location.href = '../CBFClosureChk/CbfClosureChkIndex'
    }
    function BackCloseMaker() {
        location.href = '../CbfClosure/cbfclosuresumary'
    }
    function ApprovalClosure() {

        var cbfno = $('#cbf_no').val();
        var cbfremarks = $('#description_idclosure').val();
        var cbfdate = $('#cbfClosedate_id').val();
        jConfirm("Do you want to Close This CBF " + cbfno + "?", "Confirm", function (r) {
            if (r == true) {

                var cbfheader =
                {
                    "cbfDate": cbfdate,
                    "justfication": cbfremarks,
                };
                showProgress();
                $.post('../CbfCheckerraiser/Closure?' + new Date().getTime(), cbfheader,
                     function (data) {
                         hideProgress();
                         if (data == 0) {
                             jAlert("Error Occured", "Error", function () {
                                 return false;
                             });
                             return false;
                         }
                         else {
                             jAlert("Submitted Successfully", "Success", function (e) {
                                 if (e == true) {
                                     location = '../CbfClosure/cbfclosuresumary?' + new Date().getTime();
                                 }
                             });
                         }
                     }, 'json');
            }
        });
    }

    var objDialogforboq;
    var objDialogforraiserticket;
    $(document).ready(function () {
        $("#description_idCheckerMaker").val('@ViewBag.cancellationmaker');
        $("#description_idClsCheckerMaker").val('@ViewBag.remarks');
        objDialogforboq = $("[id$='viewboqattachment']");
        objDialogforboq.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 1000,
            height: 600
        });
        objDialogforraiserticket = $("[id$='Raiserticket']");
        objDialogforraiserticket.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',

        });
        //objDialogforboq = $("[id$='Attachment']");
        //objDialogforboq.dialog({
        //    autoOpen: false,
        //    modal: true,
        //    show: 'fade-in',
        //    close: 'fade-out',
        //    width: 1000,
        //    height: 600
        //});
    });
    function Newattachment() {
        var id = "";
        objDialogforboq.load('../CbfRaiser/tab_attach?lsCbfAttach=' + id + '&' + new Date().getTime());
        objDialogforboq.dialog({ title: 'Add Attachment' });
        objDialogforboq.dialog("open");
    }




    function Newraiser() {
        var id = "";
        objDialogforraiserticket.load('../CbfCheckerraiser/RaiserTicket?' + new Date().getTime());
        objDialogforraiserticket.dialog({ title: 'Ticket', width: 485, height: 500 });
        objDialogforraiserticket.dialog("open");
    }

    function Newboq() {
        var id = "";
        objDialogforboq.load('../CbfCheckerraiser/Viewboqattachment?lsCbfAttach=' + id + '&' + new Date().getTime());
        //alert("BoqAttach");
        objDialogforboq.dialog({ title: 'View BOQ Attachment' });
        objDialogforboq.dialog("open");
    }
    if ('@Model.cbfCheckerHeader.cbfModeChecker' == 'PR') {

        $('#id_rdpr').attr('checked', true);
    }
    else {
        $('#id_rdpar').attr('checked', true);
    }

    if ('@Model.cbfCheckerHeader.budgetedchecker' == 'y') {
        $('#id_rdbudjected').attr('checked', true);
    }
    else {
        $('id_rdunbudjected').attr('checked', true);
    }

    if ('@Model.cbfCheckerHeader.requestTypeChecker' == 'A') {
        $('#id_rdapp').attr('checked', true);
    }
    else {
        $('#id_rdinfar').attr('checked', true);
    }

    if ('@Model.cbfCheckerHeader.cbfTypeChecker' == 'R') {
        $('#id_rdappreg').attr('checked', true);
    }
    else {
        $('#id_rdapplater').attr('checked', true);
    }
    if ('@Model.cbfCheckerHeader.branchTypeChecker' == 'Y') {
        $('#id_rdbranchtype').attr('checked', true);

    }
    else {
        $('#id_rdbrachmultir').attr('checked', true);
    }

    function cbfapproval() {
        var cbfheadgid = $('#checkergid').val();
        $.ajax({
            url: '@Url.Action("CheckApproverIsExists", "PIPInputsOnPR")?refgid=' + cbfheadgid + '&refname=CBF&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == 1) {
                    jAlert("You Have Already Approved This CBF", "Warning", function () {
                        return false;
                    });
                }
                else if (data == 2) {
                    jAlert("You Cannot Approve Now.Something Seems Wrong", "Error", function () {
                        return false;
                    });
                }
                else {

                    var cbfremarks = $('#description_chk_id').val();
                    var supervisorapproval = $('#Supervisorid').val();
                    var actionstatus = "A";
                    var actionstatus = "checker";

                    if (cbfremarks == null || cbfremarks == "") {
                        jAlert("Please enter Remarks", "Error");
                        return false;
                    }
                    var quenue = {
                        "actionremark": cbfremarks,
                        "queueto": supervisorapproval,
                        "actionstatus": actionstatus,
                        "cbfstatus": "3",
                        "approvalType": actionstatus

                    };
                    showProgress();
                    $.post('../CbfCheckerraiser/Approved', quenue,
                      function (data) {
                          hideProgress();
                          if (data == 0) {
                              //location = location.href;
                              jAlert("Error Occured", "Error", function () {
                                  return false;
                              });
                              return false;
                          } else {
                              jAlert("Approved Successfully", "Success", function () {
                                  location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                              });
                          }
                      }, 'json');

                }
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });
       
    }
    function cbfapprovalapproval() {
        var cbfheadgid = $('#checkergid').val();
        $.ajax({
            url: '@Url.Action("CheckApproverIsExists", "PIPInputsOnPR")?refgid=' + cbfheadgid + '&refname=CBF&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == 1) {
                    jAlert("You Have Already Approved This CBF", "Warning", function () {
                        return false;
                    });
                }
                else if (data == 2) {
                    jAlert("You Cannot Approve Now.Something Seems Wrong", "Error", function () {
                        return false;
                    });
                }
                else {

                    var cbfremarks = $('#description_appr_id').val();
                    var supervisorapproval = $('#Supervisorid').val();
                    var actionstatus = "A";
                    var header_status = "4";
                    var actionstatus = "supervisor";

                    if (cbfremarks == null || cbfremarks == "") {
                        jAlert("Please enter Remarks", "Error");
                        return false;
                    }
                    var quenue = {
                        "actionremark": cbfremarks,
                        "queueto": supervisorapproval,
                        "actionstatus": actionstatus,
                        //"cbfstatus": "5",
                        "cbfstatus": "4",
                        "approvalType": actionstatus

                    };
                    showProgress();
                    $.post('../CbfCheckerraiser/Approved', quenue,
                      function (data) {
                          hideProgress();
                          //alert(data);
                          if (data == 0) {
                              //  location = location.href;
                              jAlert("Error Occured", "Error", function () {
                                  return false;
                              });
                              return false;
                          }
                          else {
                              jAlert("Approved Successfully", "Success", function (e) {
                                  if (e == true) {
                                      location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                                  }
                              });
                              //location.href = '../CbfApproval/Index'
                          }
                      }, 'json');

                }
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });

       
    }
    function cbfrejected() {
        var cbfheadgid = $('#checkergid').val();
        $.ajax({
            url: '@Url.Action("CheckApproverIsExists", "PIPInputsOnPR")?refgid=' + cbfheadgid + '&refname=CBF&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == 1) {
                    jAlert("You Have Already Approved This CBF", "Warning", function () {
                        return false;
                    });
                }
                else if (data == 2) {
                    jAlert("You Cannot Approve Now.Something Seems Wrong", "Error", function () {
                        return false;
                    });
                }
                else {

                    var cbfremarks = $('#description_id').val();
                    var supervisorapproval = $('#Supervisorid').val();
                    var actionstatus = "R";
                    var skip = "";
                    if (supervisorapproval == 0 || supervisorapproval == '') {
                        skip = 0;
                    }
                    else {
                        skip = 1;
                    }
                    if (cbfremarks == null || cbfremarks == "") {
                        jAlert("Please enter Remarks", "Error");
                        return false;
                    }
                    var quenue = {
                        "actionremark": cbfremarks,
                        "queueto": supervisorapproval,
                        "actionstatus": actionstatus,
                        "skipflag": skip,

                    };
                    showProgress();
                    $.post('../CbfCheckerraiser/Rejected', quenue,
                     function (data) {
                         hideProgress();
                         if (data == 0) {
                             // location = location.href;
                             jAlert("Error Occured", "Error", function () {
                                 return false;
                             });
                             return false;
                         } else {
                             jAlert("Rejected Successfully", "Success", function () {
                                 location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                             });
                                                        
                         }
                     }, 'json');

                }
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });
       
    }
    function cbfrejectedapproval() {
        var cbfheadgid = $('#checkergid').val();
        $.ajax({
            url: '@Url.Action("CheckApproverIsExists", "PIPInputsOnPR")?refgid=' + cbfheadgid + '&refname=CBF&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == 1) {
                    jAlert("You Have Already Approved This CBF", "Warning", function () {
                        return false;
                    });
                }
                else if (data == 2) {
                    jAlert("You Cannot Approve Now.Something Seems Wrong", "Error", function () {
                        return false;
                    });
                }
                else {

                    var cbfremarks = $('#description_id').val();
                    var supervisorapproval = $('#Supervisorid').val();
                    var actionstatus = "R";
                    var skip = "";

                    if (cbfremarks == null || cbfremarks == "") {
                        jAlert("Please enter Remarkd", "Error");
                        return false;
                    }
                    var quenue = {
                        "actionremark": cbfremarks,
                        "queueto": supervisorapproval,
                        "actionstatus": actionstatus,


                    };
                    showProgress();
                    $.post('../CbfCheckerraiser/Rejected', quenue,
                     function (data) {
                         hideProgress();
                         if (data == 0) {
                             //location = location.href;
                             jAlert("Error Occured", "Error", function () {
                                 return false;
                             });
                             return false;
                         } else {
                             jAlert("Rejected Successfully", "Success", function () {
                                 location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                             });
                             
                             
                         }
                     }, 'json');

                }
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });
       
    }
    function Approvalstagecancel() {
        var remarks = $('#description_idChecker').val();
        // alert(remarks);
        showProgress();
        $.post('../CbfCheckerraiser/ApprovalCancellation?remarks=' + remarks,
        function (data) {
            hideProgress();
            if (data == 0) {
                //location = location.href;
                jAlert("Error Occured", "Error", function () {
                    return false;
                });
                return false;
            } else {
                jAlert("Approved Successfully", "Success", function () {
                    location.href = '../CBFCancellationSummary/CbfCancellationSummary?' + new Date().getTime();
                });
            }
        }, 'json');
    }
    function rejectedstagecancel() {
        var remarks = $('#description_idChecker').val();
        showProgress();
        $.post('../CbfCheckerraiser/RejectedCancellation?remarks=' + remarks,
         function (data) {
             hideProgress();
             if (data == 0) {
                 //location = location.href;
                 jAlert("Error Occured", "Error", function () {
                     return false;
                 });
                 return false;
             } else {
                 jAlert("Rejected Successfully", "Success", function () {
                     location.href = '../CBFCancellationSummary/CbfCancellationSummary?' + new Date().getTime();
                 });
                 
             }
         }, 'json');
    }
    function Back() {
        location.href = '../CBFCancellationSummary/CbfCancellationSummary'
    }


    var currentTab = 0;
    $(function () {
        $("#tabsat2").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });
    var currentTab1 = 0;
    $(function () {
        $("#tabsat5").tabs({
            select: function (e, i) {
                currentTab1 = i.index;
            }
        });
    });
    var currentTab2 = 0;
    $(function () {
        $("#tabsat1").tabs({
            select: function (e, i) {
                currentTab2 = i.index;
            }
        });
    });
    var currentTab3 = 0;
    $(function () {
        $("#tabsat3").tabs({
            select: function (e, i) {
                currentTab3 = i.index;
            }
        });
    });
    var currentTab4 = 0;
    $(function () {
        $("#tabsat4").tabs({
            select: function (e, i) {
                currentTab4 = i.index;
            }
        });
    });

</script>