@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity
@{
    var grid = new WebGrid(source: Model.cbfCheckersumamry, canSort: true, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid()", selectionFieldName: "SelectedRow");
    grid.Pager(WebGridPagerModes.Numeric);
    ViewBag.Title = "CBFCancellationSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowNum = 0;
}
<div class="well">
    @*<h3>CBF Closure Checker Summary</h3>*@
   
        <span style="color: rgb(52, 108, 196);">CBF Closure Checker Summary</span>
   
    <br /><br />
    @using (Html.BeginForm())
    {
        <div class="panel panel-default">
            <table class="myTableStyleTabNew "  align="center">
                <tr>
                    
                    <td style="padding:10px;">
                        <div>
                            <span>CBF Number</span>
                            <br />

                            <input type="text"
                                   name="txtcbfnochecker"
                                   value="@ViewBag.txtcbfno"
                                   class="textboxStyle"
                                   style="display:block" />
                        </div>
                    </td>
                  
                    <td style="padding:10px;">
                        <div>
                            <span>CBF Date</span>
                            <br />

                            <input type="text"
                                   id="dtecbfdatechecker"
                                   value="@ViewBag.txtcbfdate"
                                   class="textboxStyle"
                                   style="display:block" />
                        </div>
                    </td>
                 
                    <td style="padding:10px;">
                        <div>
                            <span>Select CBF Mode</span>
                            <br />

                            <select id="txtcbfmodechechker"
                                    class="textboxStyle"
                                    name="txtcbfmode"
                                    style="display:block;width:200px;">
                                <option value="0">--Select CBF Mode--</option>
                                <option value="PR">PR</option>
                                <option value="PAR">PAR</option>
                            </select>


                        </div>
                    </td>
                  
                    <td style="padding:10px;">
                        <div>
                            <span>
                                <br />
                                <button id="searchid" class="btn btn-primary" type="submit" name="command" title="Search" value="SEARCH">
                                    <span class="glyphicon glyphicon-search" style="color:white;"> </span>Search
                                </button>
                            </span>
                            @* <button class="glyphicon glyphicon-search" style="border:none;box-shadow: none;font-size: 1.7em;background-color: rgb(255, 255, 255);" type="submit" name="command" title="Search" value="SEARCH"></button>*@
                        </div>
                    </td>
                   
                    <td style="padding:10px;">
                        <div>
                            <span>
                                <br />
                                <button type="button" id="btncancel" class="btn btn-primary" value="Cancel" onclick="refresh()">
                                    <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Clear
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        if (ViewBag.Message != null)
        {
            <div align="center">
                <label class="control-label">@ViewBag.Message</label>
            </div>
        }
        if (@ViewBag.Error != null)
        {
            <div align="center">
                <label>@ViewBag.Error</label>
            </div>
        }

        <div>
           
                <span style="color: rgb(52, 108, 196);">CBF Details</span>
            
            <br /><br />
            @functions {
                public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                {
                    return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                        grid.SortDirection == SortDirection.Ascending ? "▲" :
                        "▼" : string.Empty);
                }
            }
            <div class="overflowy">
                @grid.GetHtml(
         tableStyle: "tableSmall table-bordered table-hover table-responsive overflowx",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
                grid.Column("Sl", format: a => rowNum = rowNum + 1),
                  grid.Column("cbfModeChecker", Sorter("cbfmode", "CBF Mode", grid), style: "col-sm-1"),
                  grid.Column("cbfNoChecker", Sorter("cbfno", "CBF No", grid), style: "col-sm-1"),
                  grid.Column("cbfDateChecker", Sorter("cbfdate", "CBF Date", grid), style: "col-sm-1"),
                  grid.Column("cbfEndDateChecker", Sorter("cbfenddate", "CBF End Date", grid), style: "col-sm-1"),
                  grid.Column("cbfrequestForChecker", Sorter("cbfrequestfor", "Department", grid), style: "col-sm-1"),
                  grid.Column("fincon_Bugchecker", Sorter("fincon_bug", "Fincon Budgeted", grid), style: "col-sm-1"),
                  grid.Column("cbfAmoChecker", Sorter("cbfamo", "CBF Amount", grid), style: "col-sm-1"),
                  grid.Column("cbfProjectOwnerChecker", Sorter("cbfprojectowner", "CBF Project Owner", grid), style: "col-sm-2"),
                  grid.Column("cbfDevi_AmoChecker", Sorter("cbfdevi_amo", "Deviation Amount", grid), style: "col-sm-1"),
                grid.Column("cbfDescriptionChecker", Sorter("cbfdescription", "Description", grid), style: "col-sm-3"),
                    grid.Column("cbfclosuredate", Sorter("cbfclosuredate", "Closuredate", grid), style: "col-sm-1"),
                  grid.Column("cbfclosureremarks", Sorter("cbfclosureremarks", "closureremarks", grid), style: "col-sm-1"),
                  grid.Column(header: "Action", canSort: false, style: "col-sm-2",
                format: @<text>
                    <input class="btn btn-link" name="command" onclick="cbfChecker(id,this)" id="@item.cbFGidChecker @item.Cbfcancellationgid" value="Review" title="Review" type="button" />
                </text>))
)
                @if (ViewBag.records != null)
                {  <div align="center" class="borderStyle">
                    <h6 class="row" style="font-weight:bold ;">
                        @ViewBag.records
                    </h6>
                </div>
                }
            </div>
        </div>
        <label>Page: @(grid.PageIndex + 1) of @grid.PageCount</label>
    }
</div>

<script>
    function cbfChecker(id, element) {
        //var res = "";
        //var row = $(element).closest("tr");
        //var closuredate = row.find("td:eq(11)").text();
        //var closureremarks = row.find("td:eq(12)").text();
        //res = closuredate + ',' + closureremarks
        //var process = res;
        //var id = id.split(' ');
        //location = '../CbfCheckerraiser/CbfChck?lnid=' + id[0] + '&lsviewfor=closurechecker_' + id[1] + '' + '&process=' + process + '';
        location = ('@Url.Action("CBFChecker", "CBF")/' + id.split(' ')[0] + '/8');
    }
    $(document).ready(function () {
        $("#grid td:nth-child(12),#grid th:nth-child(12)").hide();
        $("#grid td:nth-child(13),#grid th:nth-child(13)").hide();
    });
</script>