@model  IEM.Areas.ASMS.Models.SupplierTriggerRenewal
@using IEM.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model.SupplierTrigger, canPage: false, canSort: false);

    if (Session["message"] == "yes")
    {
        <script>jAlert('Successfully Updated', "Message"); </script>
        Session["message"] = string.Empty;

    }
    else if (Session["message"] == "No")
    {
        <script>jAlert('Duplicate Trigger Days Not Allowed', "Message"); </script>
        Session["message"] = string.Empty;
    }
    if (Session["trigger"] == "yes")
    {
        <script>jAlert('Successfully Inserted', "Message"); </script>
        Session["trigger"] = string.Empty;
    }
}

<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
@*<style>
    table, th, td {
        white-space: nowrap;
    }
</style>*@

<div class="pageHeadingLayout">
    <span class="pageHeading">Renewal Trigger</span>
</div>
@using (Html.BeginForm())
{
    <div class="well">
        <table class="myTableStyleTabNew" width="50%">
            <tr>
                <td style="width:75%;">
                    <span>Subject</span><br />
                    @Html.TextBoxFor(model => model.subject, new { @class = "textboxStyle", @maxlength = "128", @placeholder="Subject" })
                </td>
                <td style="width:25%;">
                    <span>Trigger Before</span><br />
                    @Html.TextBoxFor(model => model.Trigger_before, new { @class = "textboxStyle", type = "numbers", min = "0", max = "300", @onkeypress = "return isNumber(event);", @maxlength = "3", @placeholder = "TriggerDays" })
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%">
                    <span>Message  </span><br />
                    @Html.TextAreaFor(model => model.Message, new { @class = "textboxStyle", @maxlength = "256", style = "height:85px;" })
                </td>
            </tr>
            <tr style="display:none">
                <td colspan="2" align="right">
                    <table>
                        <tr>
                            <td style="display:none"><label>Send Alert Via  </label></td>
                            <td style="display:none"><input type="checkbox" id="chksendvia" class="textboxStyle" name="sendalertvia" value="sendalertvia" /></td>
                            <td width="50px"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width:100%; text-align:left;">
                    @*<div class="divforbutton">*@
                    <button type="submit" title="Save" name="Save" id="btnsave" class="btn btn-primary" style="margin-top:10px;"><span style="color:white;" class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                    <button type="submit" id="btnClear" title="Clear" name="Clear" class="btn btn-warning" style="margin-top:10px;"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Clear</button>
                    @*</div>*@
                </td>
            </tr>
        </table>

        <div class="table-responsive" style="margin-top:10px; width:100%">
            @grid.GetHtml(
            tableStyle: "tableSmall table-bordered table-hover",
            htmlAttributes: new { id = "RenewalTriggergid" },
            columns: grid.Columns
            (
                 @*grid.Column(format: @<input type="hidden" value="@item.Slno" name="Slno" /> ),*@
                 grid.Column("SlNo", style: "slno", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
                 grid.Column("subject", "Trigger Subject", style: "collargeBreak"),
                 grid.Column("message", "Trigger Message", style: "collargeBreak"),
                 grid.Column("Trigger_before", "Trigger Before(Days)", style: "collarge"),
                 //grid.Column("InsertDate", "Insert Date", style: "colmedium"),
                 //grid.Column("Insertby", "Inserted By", style: "colmedium"),
                 grid.Column(header: "Action", style: "action",
                 format: @<text>
                    <span style="padding-right:5px;" class='glyphicon glyphicon-edit cursorpointer' onclick="EditTrigger(@item.Slno)"></span>
                    <span class='glyphicon glyphicon-trash cursorpointer' onclick="DeleteTrigger(@item.Slno)"></span>
                 </text>)))
        </div>
    </div>
}
<div id="ForPartialView"></div>
<script>
    //$("#RenewalTriggergid td:nth-child(1),#RenewalTriggergid th:nth-child(1)").hide();
    //$("#RenewalTriggergid td:nth-last-child(1)").show();
    var objDialog;

    $(document).ready(function () {
        objDialog = $("[id$='ForPartialView']");
        objDialog.dialog({
            autoOpen: false,
            modal: true,
            width: 480,
            height: 300,
            duration:300
        });

        $('#RenewalTriggergid tr th:nth-child(5)').addClass("nosort");
        $('#RenewalTriggergid').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");

        $('#btnClear').click(function () {
            $('#subject').val('');
            $('#Trigger_before').val('');
            $('#Message').val('');
            $('#chkraisername').attr('checked', false);
            $('#chkContractDetails').attr('checked', false);
            $('#chkActivityDetails').attr('checked', false);
            $('#chkNewRenewalTerms').attr('checked', false);
            $('#chksendvia').attr('checked', false);
            return false;
        });
        $('#btnsave').click(function () {
            var sub = $('#subject').val();
            var tr_beg = $('#Trigger_before').val();
            var msg = $('#Message').val();
            if (sub == '') {
                jAlert('Subject Should not be empty', "Message");
                return false;
            }
            if (tr_beg == '') {
                jAlert('Triggerdays Should not be empty', "Message");
                return false;
            }
            if (msg == '') {
                jAlert('Message Should not be empty', "Message");
                return false;
            }
        });
    });

    function EditTrigger(id) {
        //alert(id);
        objDialog.load('../SupplierTriger/RenewlaTriggerEdit?id=' + id + '&' + new Date().getTime());
        objDialog.dialog({ title: 'Edit Renewal Trigger' });
        objDialog.dialog("open");
    }

    function DeleteTrigger(id) {
        //alert(id);
        var UserModel = {
            "Slno": id,
        };
        jConfirm("Are you sure you want to delete this?", "Message", function (r) {
            if (r == true) {
                $.ajax({
                    url: '../SupplierTriger/RenewalTriggerDelete?' + new Date().getTime(),
                    data: JSON.stringify(UserModel),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        jAlert("Successfully Deleted", "Message");
                        location = '../SupplierTriger/RenewalTrigger?' + new Date().getTime();

                    }
                });
            }
        });
    }
</script>