@model IEM.Areas.ASMS.Models.SupplierTriggerRenewal
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm())
{
    <table class="myTableStyleTabNew" align="center">
        <tr style="display:none;">
            <td colspan="2">
                @Html.TextBoxFor(model => model.Slno, new { @class = "textboxStyle", @maxlength = "128" })
            </td>
        </tr>
        <tr>
            <td style="width:60%;">
                <span>Subject </span><br />
                @Html.TextBoxFor(model => model.subject, new { @class = "textboxStyle", @maxlength = "128" })
            </td>
            <td style="width:40%;">
                <span>Trigger Before  </span><br />
                @Html.TextBoxFor(model => model.Trigger_before, new { @class = "textboxStyle", type = "numbers", min = "0", max = "300", @onkeypress = "return isNumber(event);", @maxlength = "3" })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:100%;">
                <span>Message  </span><br />
                @Html.TextAreaFor(model => model.Message, new { @class = "textboxStyle", @maxlength = "256", style = "height:110px;" })
            </td>
        </tr>
        <tr style="display:none">
            <td colspan="2" align="right">
                <table>
                    <tr>
                        <td style="display:none"><label>Send Alert Via  :</label></td>
                        <td style="display:none"><input type="checkbox" id="chksendvia" class="textboxStyle" name="sendalertvia" value="sendalertvia" /></td>
                        <td width="50px"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right; width:100%;">
                <button type="submit" title="Save" id="btnsave" name="Save" class="btn btn-primary" style="margin-top:10px;"><span style="color:white;" class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                @*<button type="submit" title="Clear" id="btnClear" name="Clear" class="btn btn-primary" style="margin-top:10px;"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Clear</button>*@
                <button type="submit" title="Cancel" id="btnCancel" name="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("RenewalTrigger","SupplierTriger")'" style="margin-top:10px;"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                @*<input type="submit" name="Save" value="Save" id="btnsave" class="btn btn-primary" />
                <input type="submit" id="btnClear" name="Clear" value="Clear" class="btn btn-primary" />
                <input type="button" id="btnCancel" name="Cancel" value="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("RenewalTrigger","SupplierTriger")'" />*@
            </td>
        </tr>
    </table>
}