<br />

<table class="myTableStyleTabNew" align="center">
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbtotalrecord</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbvalid</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbinvalid</div>
        </td>
    </tr>
</table>

<table align="center" class="myTableStyleTabNew">
    <tr>
        <td>
            @if (@ViewBag.visble == "Yes")
            {
                <div style="font-weight:bold ; width:150%">
                    <button class="btn btn-primary" type="button" id="btnok" value="Ok" ><span style="color:white;" class="glyphicon glyphicon-ok-sign"></span> OK</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-warning" type="button" id="btncancelexcel" value="Cancel" onclick="GotoIndexClose()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>


                </div>
            }
        </td>
        <td>
            @if (@ViewBag.visble != "Yes")
            {
                <div style="font-weight:bold">
                    <a class="btn btn-warning" style="color:white;" data-modal="" href="../AssetTransfer/downloadsexcel" id="ViewErrorLog" onclick="GotoIndexclose()">
                        <span style="color:white;" class="glyphicon glyphicon-download"></span> View Error Log
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="button" id="btncancelexcel1" value="Close" onclick="GotoIndexclose()"><span style="color:white;" class="glyphicon glyphicon-remove"></span> Close</button>

                </div>
            }
        </td>
    </tr>
</table>



<script>

    $(document).ready(function () {
        $("#btnok").click(function () {
            window.parent.jQuery('#forAttachment').dialog('close');
            objforAttachment.dialog("close");
            var value = "fgdf";
            var objcbf =
        {
            "empid": value
        };
            $.ajax({
                url: "../AssetTransfer/localdetails/",
                type: 'POST',
                cache: false,
                data: objcbf,
                success: function (data) {
                    $("#processworkingdata").empty();
                    var url = "@(Html.Raw(Url.Action("localdetails", "AssetTransfer")))";
                    $("#processworkingdata").load(url);
                    //alert(data);
                    if (data == "Success") {
                        jAlert("Asset Transfer Raised Successfully!!", "Information", function (r) {
                            if (r == true) {
                                location = '../AssetTransfer/TMSummary';
                            }
                        });

                        objforAttachment.dialog("close");
                        window.parent.jQuery('#forAttachment').dialog('close');
                    }
                    else {
                        jAlert("Asset Transfer failed!!", "Message");
                    }
                },
                error: function () {
                    jAlert("Asset Transfer was failed with error!!", "Information");
                    return false;
                }
            });
        });
    });
    function GotoIndexclose() {
        objforAttachment.dialog("close");
        window.parent.jQuery('#forAttachment').dialog('close');
    }
    function GotoIndexClose() {
        objforAttachment.dialog("close");
        window.parent.jQuery('#forAttachment').dialog('close');
        jAlert("Asset Transfer was cancelled!!", "Information");
    }



</script>
