@model IEM.Areas.MASTERS.Models.CustomerdetailModel
@{
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
    }
    else if (viewfor == "delete")
    {
        ViewBag.viewmode = "disabled";
        ViewBag.deletemode = "disabled";
    }
}


<link href="@Url.Content("~/Content/RMchosen/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/RMScript/chosen.jquery.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)  
    <table class="myTableStyleTabNew" style="width:100%;">   
        
        <tr>
            <td colspan="2" style="display:none;">
                <input name="CustomerID" id="txtCustomerID" type="text" placeholder="Customer ID" data-val="true" value="@Model.CustomerID" />
            </td>
        <tr>
            <td style="width:50%; padding:0px 10px 0px 3px;">
                <span> Customer Code </span>
                <br />
                <input name="DocNameName" id="_Customercode" @ViewBag.viewmode type="text" data-val="true" maxlength="20" value="@Model.CustomerCode"
                       class="fstextbox valid" />

            </td>
            <td style="width:50%; padding:0px 10px 0px 3px;">
                <span> Customer Name </span>
                <br />
                <input name="DocNameName" id="_Customername" @ViewBag.viewmode type="text" data-val="true" maxlength="70" value="@Model.CustomerName"
                       class="fstextbox valid" />

            </td>
        </tr>

        <tr>
             
            <td style="width:20%;">
                <span>State</span><br />
                @if (@ViewBag.viewmode == "disabled")
                    {

                @Html.DropDownListFor(j => j.selectedStateID, Model.stateMod, "--select--", new { @class = "textboxStyle valid", @id = "selectedStateID", @disabled = "", @name = "selectedStateID" })
                    
                }
                else
                {
                    @Html.DropDownListFor(j => j.selectedStateID, Model.stateMod, "--select--", new { @class = "textboxStyle chosen-select valid ", @id = "selectedStateID", @name = "selectedStateID" })
                }
                    
                    
                    </td>

            <td style="width:20%;">
                <span>District</span><br />

                    @if (@ViewBag.viewmode == "disabled")
                    {
                @Html.DropDownListFor(j => j.selectedDistrictID, Model.DistrictMod, "--select--", new { @class = "textboxStyle valid", @id = "selectedDistrictID1", @disabled = "", @name = "selectedDistrictID1" })
                    }
                    else
                    {
                         @Html.DropDownListFor(j => j.selectedDistrictID, Model.DistrictMod, "--select--", new { @class = "textboxStyle chosen-select valid  ", @id = "selectedDistrictID1", @name = "selectedDistrictID1" })
                    }
                        
                        
                         </td>
        </tr>

        <tr>
                  
            <td style="width:20%;">
                <span>Pin Code</span><br />
                @*<input type="text" name="_PinCode" id="_PinCode" class="textboxStyle" value="@cd._PinCode" />*@
                @if (@ViewBag.viewmode == "disabled")
                    {
                @Html.DropDownListFor(j => j.selectedPincodeID, Model.PincodeMod, "--select--", new { @class = "textboxStyle valid", @id = "_PinCode", @disabled = "", @name = "_PinCode" })
          
                    }
                else
                    {
                     @Html.DropDownListFor(j => j.selectedPincodeID, Model.PincodeMod, "--select--", new { @class = "textboxStyle chosen-select valid ", @id = "_PinCode", @name = "_PinCode" })
                    }
              </td>
            <td style="width:50%; padding:0px 10px 0px 3px;">
                <span> Address Details </span>
                <br />
                @*<input name="DocNameName" id="_CustomerAddress" @ViewBag.viewmode type="text" data-val="true" maxlength="150" value="@Model.CustomerAddress"
                       class="fstextbox valid" />*@

                @Html.TextAreaFor(m => m.CustomerAddress, new { @id = "_CustomerAddress", @class = "vendoradd required textboxStyleBig", @style = "height:40px;", onkeyup = "checkRequired()", rows = 4, columns = 40 })
            </td>
            </tr>
         
        <tr>
            <td colspan="2" style="width:100%; padding:0px 10px 0px 3px; text-align:center ;">

                @if (@ViewBag.viewmode == "")
                {
                    <button type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="UpdateCustomerDetail()"
                            style="margin-top:10px;  color:white;">
                        <span class="glyphicon glyphicon-floppy-disk" style="color:white;font-size:12px;"></span> Save
                    </button>
                }
                @if (@ViewBag.deletemode == "disabled")
                {
                    <button type="button" value="Delete" class="btn btn-danger" onclick="DeleteType()"
                            style="margin-top:10px;  color:white;">
                        <span style="color:white;font-size:12px;" class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                }

                @if (@ViewBag.viewmode == "" || @ViewBag.deletemode == "disabled")
                {
                    <button type="button" value="Cancel" class="btn btn-warning" onclick="goToIndex()"
                            style="margin-top:10px;  color:white;">
                        <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                }
                else if (@ViewBag.viewmode == "disabled")
                {
                    <button type="button" value="Cancel" class="btn btn-warning" onclick="goToIndex()"
                            style="margin-top:10px;  color:white;">
                        <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Close
                    </button>
                }
            </td>

        </tr>
    </table>
}



<script type="text/javascript">

    $("#selectedStateID").chosen({});
    $("#_PinCode").chosen({});
    $("#selectedDistrictID1").chosen({});   
    

    $(document).ready(function () {

        $("#_Customercode").focus();
        $("#_Customercode").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#_Customername").focus();
        $("#_Customername").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
       
        $("#_CustomerAddress").focus();
        $("#_CustomerAddress").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
    });

    $("#_Customercode").keyup(function () {
        var txtSupplierName = $("#_Customercode").val();
        if (txtSupplierName.trim() != "") {
            $("#_Customercode").removeClass('required');
            $("#_Customercode").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#_Customercode").removeClass('valid');
            $("#_Customercode").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#_Customername").keyup(function () {
        var txtSupplierName = $("#_Customername").val();
        if (txtSupplierName.trim() != "") {
            $("#_Customername").removeClass('required');
            $("#_Customername").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#_Customername").removeClass('valid');
            $("#_Customername").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#_CustomerAddress").keyup(function () {
        var txtSupplierName = $("#_CustomerAddress").val();
        if (txtSupplierName.trim() != "") {
            $("#_CustomerAddress").removeClass('required');
            $("#_CustomerAddress").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#_CustomerAddress").removeClass('valid');
            $("#_CustomerAddress").addClass('required');
            CheckFieldsHeader();
        }
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    
    function goToIndex() {
         
        window.parent.jQuery('#ForPartialView').dialog('close');
    }

    function UpdateCustomerDetail() {

        var Customercode = $("#_Customercode").val();
        var Customername = $("#_Customername").val();
        var CustomerAddress = $("#_CustomerAddress").val();
        var txtpincodes = $("#_PinCode").val();    
        var StateID = $("#selectedStateID").val();    
        var DIstrictID = $("#selectedDistrictID1").val();
        var CustomerID = $("#txtCustomerID").val();

        var CustomerDetailModel =
            {
                "CustomerID" :CustomerID,
                "Customercode": Customercode,
                "Customername": Customername,
                "CustomerAddress": CustomerAddress,
                "PincodeID": txtpincodes,
                "StateID": StateID,
                "DistrictID": DIstrictID
            };
        $.post('../IEM_CUSTOMERDETAIL/Edit', CustomerDetailModel,
    function (data) {
        if (data != null) {
            jAlert("Duplicate Record!", "Message", function (r) {
                if (r == true) {
                    return false;
                }
                return false;
            });

        } else {
            jAlert("Record Updated Successfully!!", "Message", function (r) {
                if (r == true) {
                    location = '../IEM_CUSTOMERDETAIL/Index';
                }
            });

        }
    }, 'json');
    }
    
</script>


<script type="text/javascript">

    $("#_PinCode").change(function () {
        var CountryID = $(this).val();
        var objSupContact =
       {
           "_PinCode": CountryID
       };
        $.ajax({
            url: '@Url.Action("Getcitylist", "IEM_CUSTOMERDETAIL")',
            data: JSON.stringify(objSupContact),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //$("#selectedCountryID").empty();
                $("#selectedStateID").empty();
                $("#selectedDistrictID1").empty();

                if (data.length > 0) {
                    //$("#selectedStateID").append("<option value='0' >--Select--</option>");
                    for (var i = 0; i < data.length; i++) {
                        //alert(data[i].statename)
                        //$('#selectedStateID').attr('disabled', false);

                        //$("#selectedCountryID").append("<option value=" + data[i]._CountryID + " >" + data[i]._CountryName + "</option>");
                        $("#selectedStateID").append("<option value=" + data[i].stateid + " >" + data[i].statename + "</option>");
                        $("#selectedDistrictID1").append("<option value=" + data[i].districtID + " >" + data[i].districtname + "</option>");
                    }
                }
                if (data.length == 0) {
                }
                $('#selectedCountryID').trigger("chosen:updated");
                $('#selectedStateID').trigger("chosen:updated");
                $('#selectedDistrictID1').trigger("chosen:updated");
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });
    });

</script>

<script type="text/javascript">
    function DeleteType() {
         
        var customergid = $("#txtCustomerID").val();
        jConfirm("Do you want to delete this customer detail ? ", "Delete Customer Detail", function (j) {
            if (j == true) {
                var model = { "CustomerID": customergid }
                $.post('../IEM_CUSTOMERDETAIL/DeleteCustomerDetail', model,
                     function (data) {
                         if (data == "Record deleted successfully !") {
                             jAlert("Record Deleted Successfully!!!", "Information", function (r) {
                                 window.parent.jQuery('#ForPartialView').dialog('close');
                                 if (r = true) { location = '../IEM_CUSTOMERDETAIL/Index'; }
                             });
                         }
                         else {
                             jAlert("Can Not Delete this, Its Based On Some Other category ! ,", "Information", function (r) {
                                 if (r = true) { location = location.href; }
                             });

                         }
                     }, 'json');
            }
        });

    }
    
    $(".ui-icon-closethick").click(function () {

        window.parent.jQuery('#ForPartialView').dialog('close');
        //$('#gridcity').find('tr').css('background', 'none');
    });


    function CheckFieldsHeader() {

        var ErrCount = 0;
        if ($("#_Customercode").val().trim() == "" || $("#_Customercode").val() == null) {
            ErrCount = 1;
        }
        if ($("#_Customername").val().trim() == "" || $("#_Customername").val() == null) {
            ErrCount = 2;
        }
        if ($("#_CustomerAddress").val().trim() == "" || $("#_CustomerAddress").val() == null) {
            ErrCount = 3;
        }
        if ($("#_PinCode").val() == "" || $("#_PinCode").val() == 0 || $("#_PinCode").val() == null) {
            ErrCount = 4;
        }
        if ($("#selectedStateID").val() == "" || $("#selectedStateID").val() == 0 || $("#selectedStateID").val() == null) {
            ErrCount = 5;
        }
        if ($("#selectedDistrictID1").val() == "" || $("#selectedDistrictID1").val() == 0 || $("#selectedDistrictID1").val() == null) {
            ErrCount = 6;
        }
        

        if (ErrCount == 0) {
            $("#_save").removeAttr('disabled');
        }
        else {
            $("#_save").attr('disabled', 'disabled');
        }
    }




 </script>

     