@model IEM.Areas.EOW.Models.CentraldataModel
@{
    if (Model.SupplierType == 'A')
    {
        ViewBag.SupplierType = 1;
    }
}
@using (Html.BeginForm())
{
    <table class="myTableStyleTabNew">
        <tr>
            <td>
                <span>Received Date </span>
                <br />
                <input type="text"
                       id="EditRecivedDate"
                       name="txtRecivedDateFrom"
                       value="@Model.ReceivedDate"
                       onchange="checkdate()"
                       class="textboxStyle valid"
                       readonly="readonly"
                       style="width:200px;" />
            </td>

            <td>
                <span>Raiser Code</span>
                <br />
                <input type="text"
                       name="txtraisercode"
                       id="raisercode"
                       value="@Model.RaiserCode"
                       class="textboxStyle valid"
                       readonly="readonly"
                       style="width:200px;" />
            </td>
            <td>
                <a title="Search"><span class="glyphicon glyphicon-search" style="margin:27px 0px 0px 0px;" onclick="EmployeeSearch11()" id="empsearch"></span></a>
            </td>
            <td style="display:none">
                <span>Employee Id</span>
                <br />
                <input type="text"
                       name="EmployeeId"
                       id="EmployeeId"
                       value="@Model.EmployeeId"
                       class="textboxStyle required"
                       style="width:200px;" />
            </td>
            <td>
                <span> Raiser Name</span>
                <br />
                <input type="text"
                       name="txtraisername"
                       id="raisername"
                       value="@Model.RaiserName"
                       readonly="readonly"
                       class="textboxStyle valid"
                       style="width:410px;" />
            </td>
            <td>
                <span>Raiser Department</span>
                <br />
                <input type="text"
                       name="EmployeeId"
                       id="EmployeeId"
                       value="@Model.EmployeeDepartment"
                       class="textboxStyle"
                       readonly="readonly"
                       style="width:200px;" />
            </td>

        </tr>

    </table>
    <table class="myTableStyleTabNew">
        <tr>
            <td>
                <span> Supplier Type</span>
                @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.SupplierTypeView, "-----Select-----", new { @class = "textboxStyle valid", @style = "display: block;width:200px;height:30px;margin-top: 4px;", @id = "SupplierIdCinward", @Name = "SupplierTypeView", disabled = "disabled" })
            </td>
            <td style="display:none">
                <span> Supplier Id</span>
                <br />
                <input type="text"
                       name="txtsupplierId"
                       id="supplierId"
                       value="@Model.SupplierId"
                       class="textboxStyle "
                       style="width: 200px;" />
            </td>
            <td>
                <span> Supplier Code</span>
                <br />
                <input type="text"
                       name="txtsuppliercode"
                       id="suppliercode"
                       value="@Model.SupplierCode"
                       class="textboxStyle"
                       readonly="readonly"
                       style="width: 200px;" />
            </td>
            <td>
                <a title="Search"><span class="glyphicon glyphicon-search" style="margin:27px 0px 0px 0px;" id="supname" onclick="Searchforsupp()"></span></a>
            </td>
            <td>
                <span> Supplier Name</span>
                <br />
                <input type="text"
                       name="txtSuppliername"
                       id="Suppliername"
                       value="@Model.SupplierName"
                       class="textboxStyle valid"
                       maxlength="128"
                       readonly="readonly"
                       style="width:410px;" />
            </td>
            <td>
                <span>PO No</span>
                <br />
                <input type="text"
                       id="txtponumber1"
                       name="txtInvoiceNo"
                       maxlength="32"
                       value="@Model.PONo"
                       class="textboxStyle"
                       readonly="readonly"
                       style="width: 200px;" />
            </td>
            <td>
                <a title="Search"><span class="glyphicon glyphicon-search" style="margin:27px 0px 0px 0px;" id="posearchicon" onclick="PoSearch11()"></span></a>
            </td>
        </tr>

    </table>
    <table class="myTableStyleTabNew">
        <tr>
            <td>
                <span> Invoice Date</span>
                <br />
                <input type="text"
                       name="filter_name"
                       id="EditInvoiceDate"
                       value="@Model.InvoiceDate"
                       class="textboxStyle valid"
                       onchange="checkdateinvoice()"
                       readonly="readonly"
                       style="width: 200px;" />
            </td>
            <td width="235px">
                <span>Invoice No</span>
                <br />
                <input type="text"
                       id="Editinvoice"
                       name="txtInvoiceNo"
                       value="@Model.InvoiceNo"
                       class="textboxStyle valid"
                       style="width: 200px;"
                       readonly="readonly"
                       maxlength="32" />
            </td>
            <td colspan="2">
                <span>Remarks</span>
                <br />
                <input type="text"
                       id="Remarks"
                       name="txtRemarks"
                       value="@Model.Remarks"
                       class="textboxStyleBig "
                       readonly="readonly"
                       maxlength="255"
                       style="width:616px;" />
            </td>
            @*<td>
                <span> Invoice Amount</span>
                <br />
                <input type="text"
                       name="invoice"
                       id="invoice"
                       value="@Model.InvoiceAmount"
                       class="textboxStyle valid"
                       readonly="readonly"
                       style="width: 200px;" />
            </td>*@
        </tr>
        <tr>
            <td>
                <span> Currency</span>
                @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.CentralCurrency, "-----Select-----", new { @class = "textboxStyle Valid", @style = "display: block;width:200px;height:30px;margin-top: 4px;", @id = "Currencyinward", @Name = "SupplierType", disabled = "disabled" })

            </td>
            <td>
                <span>Exchange Rate</span><br />
                <input type="text"
                       name="txtexrate"
                       id="txtexrate"
                       value="@ViewBag.exrate"
                       class="textboxStyle"
                       readonly="readonly"
                       onkeypress="return isAmount(event);"
                       style="width: 200px;"
                       maxlength="15" />

            </td>
            <td>
                <span>Currency Amount</span><br />
                @*@Html.TextBoxFor(n => n.Currencyamount, new { disable = true, @class = "textboxStyle required", @id = "txtecfcurramount", @style = "width:408px;", @maxlength = "15" })*@
                <input type='text'
                       name='txtecfamontal'
                       class="textboxStyle valid"
                       id="txtecfcurramount"
                       value="@Model.Currencyamount"
                       readonly="readonly"
                       style="width:408px" />
            </td>
            <td>
                <span>Invoice  Amount</span><br />
                <input type='text'
                       name='txtecfamontal'
                       id="txtecfamont"
                       readonly="readonly"
                       class="textboxStyle"
                       value="@Model.ECF_Amount"
                       style="width:200px" />
            </td>
       </tr>
    </table>
    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <div>
                    <button type="button" class="btn btn-warning" value="Close" onclick="Close()"> <span style="color:white;" class="glyphicon glyphicon-remove"></span>Close</button>
                </div>
            </td>
        </tr>
    </table>
}
<div id="ForPartialViewSearch"></div>
<script type="text/javascript">
    function Close() {
        objDialogyCentralMaker.remove();
    }
    $(document).ready(function () {
        var a = parseInt(@ViewBag.SupplierType);
        if (a == 1) {
            $("#Approved").prop('checked', true);
        }
        else {
            $("#UnApproved").prop('checked', true);
        }
        $("#supname").attr("disabled", true);
        $("#empsearch").attr("disabled", true);
        $("#posearchicon").attr("disabled", true);
    })
</script>
