@using IEM.Areas.EOW.Models;
@using IEM.Common

@model IEnumerable<IEM.Areas.EOW.Models.CentraldataModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model, canSort: false, canPage: false);
    int rowVal = 0;
    CmnFunctions objCmnFunctions = new CmnFunctions();
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<b><span style="color: rgb(52, 108, 196);">Central Team Checker</span></b>
<br />
<br />
@using (Html.BeginForm())
{
    <div class="well">

        <div class="row">
            <div class="col-sm-6">
                <table class="myTableStyleTabNew" style="margin-left:-3px;">
                    <tr>
                        <td>
                            <span style="margin: 0px 0px 0px 3px;">ECF Date</span><br />
                            <input type="text" id="txtdbdocdate"  class="textboxStyle" maxlength="10" name="txtdbdocdate" value="@ViewBag.txtdbdocdate" />
                        </td>
                        <td>
                            <span style="margin: 0px 0px 0px -6px;">ECF No</span> <br />
                            <input type="text" id="txtdbdocno"  class="textboxStyle"  maxlength="13" style="width:145px;margin: 5px 0px 0px -12px;" name="txtdbdocno" value="@ViewBag.txtdbdocno" />
                        </td>
                        <td>
                            <span>ECF Amount</span> <br />
                            <input type="text" id="txtdbdocamount"  class="textboxStyle" maxlength="10" name="txtdbdocamount" value="@ViewBag.txtdbdocamount" />
                        </td>
                        <td style="text-align:right;padding-right: 1.6%;padding-top:18px;">
                            <button type="submit" name="Common" title="Search" id="btnSearch" value="Search" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-search"></span>Search</button>
                        </td>
                        <td style="padding-top:18px;padding-left:15px;">
                            <button type="submit" name="Clear" title="Refresh" id="btnClear" onclick="btnClearsearch()" value="Clear" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-refresh "></span>Clear</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-top:11px;" id="mainll">
            
            @grid.GetHtml(
                        htmlAttributes: new { id = "gridcheckerdetailsload" },
                        tableStyle: "tableSmall table-bordered table-hover table-responsive ",
                        columns: grid.Columns
                        (
                         grid.Columns(grid.Column("S No", format: item => rowVal = rowVal + 1),
                         grid.Column(header: "ECF No", canSort: false, style: "action",
                            format: @<text>
                            @Html.Raw("<a data-modal=''  onclick='Viewdata(" + item.Docnogid + ")' title='ECF No'>"+item.Docno+"</a>")
                            </text>),
                                         grid.Column(header: "ECF Date", canSort: false, style: "action",
                            format: @<text>
                    @Html.Raw("<a data-modal=''  onclick='Viewdata(" + item.Docnogid + ")' title='ECF Date'>" + item.DocDate + "</a>")
                            </text>),
                grid.Column(header: "ECF Amount", canSort: false, style: "action",
                            format: @<text>
                    @Html.Raw("<a data-modal=''  onclick='Viewdata(" + item.Docnogid + ")' title='ECF Amount'>" + item.Docamount + "</a>")
                            </text>),  
            grid.Column("SupplierName", "Supplier Name"),
            grid.Column("emporsupp","Raiser Name"),
            grid.Column(header: "Selection", canSort: false, style: "action",
            format: @<text>
                @Html.Raw("<a data-modal=''  onclick='Viewdata(" + item.Docnogid + ")' title='View'> <span class='glyphicon glyphicon-new-window' id='Color'> </span> </a>")
            </text>))))
            @if (ViewBag.Message != null)
            {  <div align="center" class="borderStyle">
                <h6 class="row" style="font-weight:bold;">
                    @ViewBag.Message
                </h6>
            </div>
            }
        </div>
        <br />
        @*@if (ViewBag.Message == null)
        {
            <div style="margin-left:-8px;">
              @*&nbsp;&nbsp;<input type="button" id="btnCancelfinaldash" class="btn btn-warning" value="Cancel" style="margin-left:1137px;" onclick="SaveCancelfinalddash()" />  <span class="glyphicon glyphicon-remove-sign"></span>
                <span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount</span>  <span class="myTableStyleTabNew"> - Total No Of Records:@grid.TotalRowCount</span>
            </div>
            <div>
               
            </div>
        }*@
    </div>
}
<div id="ForPartialViewDe"></div>
<script>
    $(document).ready(function () {

        $('#gridcheckerdetailsload').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");
    });
    function Viewdata(id) {
        location.href = '@Url.Action("Viewdata", "CentralMaker")?id=' + id;
        //location = "../DashBoard/Viewdata?id=" + id;
    }
    function SaveCancelfinalddash() {
        location.href = '@Url.Action("CentralMakerDetails", "CentralMaker")?' + new Date().getTime();
        //location = "../DashBoard/index";
    }
    $(document).ready(function () {
        $("#txtdbdocdate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxDate: '-id'
        });
    });
    function btnClearsearch() {
        $('#txtdbdocdate').val('');
        $('#txtdbdocno').val('');
        $('#txtdbdocamount').val('');
    }
</script>






