@{
    ViewBag.Title = "Viewdata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabsmaindash").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });

</script>
@if (@ViewBag.doctype == "ECRegular")
{
    <b><span style="color: rgb(52, 108, 196);">Employee Claim - Regular Approval</span> </b>
}
@if (@ViewBag.doctype == "ECTravel")
{
    <b><span style="color: rgb(52, 108, 196);">Employee Claim - Travel Approval</span> </b>
}
@if (@ViewBag.doctype == "ECLocal")
{
    <b><span style="color: rgb(52, 108, 196);">Employee Claim - Local Coveyance Approval</span> </b>
}
@if (@ViewBag.doctype == "EcfSupplierDSA")
{
    <b><span style="color: rgb(52, 108, 196);">Supplier Invoice - DSA Approval</span> </b>
}
@if (@ViewBag.doctype == "EcfSupplier")
{
    <b><span style="color: rgb(52, 108, 196);">Supplier Invoice Approval</span> </b>
}
@if (@ViewBag.doctype == "Arf")
{
    <b><span style="color: rgb(52, 108, 196);">Advance Request Approval</span> </b>
}
<div class="well" style=" padding-top: 1px;">

    <div id="processworking">
        @if (@ViewBag.frst == "Others")
        {
            <fieldset>

                <div style="padding:0;margin:0;">
                    @Html.Partial("EmployeeClaimFristv")
                </div>

            </fieldset>
        }
        @if (@ViewBag.frst == "Suppliers")
        {
            <fieldset>

                <div style="padding:0;margin:0;">
                    @Html.Partial("_supplierFristv")
                </div>

            </fieldset>
        }

        <div id="tabsmaindash" style="font-size:12px">
            <ul>
                @*@if (@ViewBag.frst == "Others")
                    {
                        <li><a href="#tabsmaindash-1">Expense Details</a></li>
                    }
                    @if (@ViewBag.frst == "Suppliers")
                    {
                        <li><a href="#tabsmaindash-2">Payment Details</a></li>
                    }*@
                @if (@ViewBag.doctype == "ECRegular")
                {
                    <li><a href="#tabsmaindash-3">Expense Details</a></li>
                    <li><a href="#tabsmaindash-4">Payment Details</a></li>
                }
                @if (@ViewBag.doctype == "ECTravel")
                {
                    <li><a href="#tabsmaindash-5">Travel Mode </a></li>
                    <li><a href="#tabsmaindash-6">Other Travel Expense </a></li>
                    <li><a href="#tabsmaindash-7">Payment Details</a></li>
                    <li><a href="#tabsmaindash-8">Employee List Details</a></li>
                }
                @if (@ViewBag.doctype == "ECLocal")
                {
                    <li><a href="#tabsmaindash-9">Expense Details</a></li>
                    <li><a href="#tabsmaindash-10">Payment Details</a></li>
                }
                @if (@ViewBag.doctype == "EcfSupplierDSA")
                {
                    <li><a href="#tabsmaindash-11">Invoice Details</a></li>
                    <li><a href="#tabsmaindash-12">Expense Details</a></li>
                    <li><a href="#tabsmaindash-13">Payment Details</a></li>
                }
                @if (@ViewBag.doctype == "EcfSupplier")
                {
                    <li><a href="#tabsmaindash-14">Invoice Summary</a></li>
                }
                @if (@ViewBag.doctype == "Arf")
                {
                    <li><a href="#tabsmaindash-15">Advance Details</a></li>
                    <li><a href="#tabsmaindash-16">Payment Details</a></li>
                }
                <li><a href="#tabsmaindash-17">Attachment Details</a></li>
                <li><a href="#tabsmaindash-18"> Audit Trail </a></li>
            </ul>

            @*@if (@ViewBag.frst == "Others")
                {
                    <div id="tabsmaindash-1" style="padding: 10px 4px 3px 15px">
                        @Html.Partial("EmployeeClaimFristv")
                    </div>
                }
                @if (@ViewBag.frst == "Suppliers")
                {
                    <div id="tabsmaindash-2" style="padding: 10px 4px 3px 15px">
                        @Html.Partial("_supplierFristv")
                    </div>
                }*@
            @if (@ViewBag.doctype == "ECRegular")
            {
                <div id="tabsmaindash-3" style="padding: 10px 4px 3px 15px">
                    <br />   @Html.Partial("_EmpExpenseDetailsv")<br />
                    <br />
                </div>
                <div id="tabsmaindash-4" style="padding: 10px 4px 3px 15px">
                    <br />  @Html.Partial("_EmpPaymentDetailsv")<br />
                </div>
            }
            @if (@ViewBag.doctype == "ECTravel")
            {
                <div id="tabsmaindash-5" style="padding: 10px 4px 3px 15px">
                    <br />  @Html.Partial("_TravelModeDetailsv")<br />
                </div>
                <div id="tabsmaindash-6" style="padding: 10px 4px 3px 15px">
                    <br />   @Html.Partial("_OtherTravelExpenseDetailsv")<br />
                </div>
                <div id="tabsmaindash-7" style="padding: 10px 4px 3px 15px">
                    <br />    @Html.Partial("_EmpPaymentDetailsv")<br />
                </div>
                <div id="tabsmaindash-8" style="padding: 10px 4px 3px 15px">
                    <br />     @Html.Partial("_EmpEmployeeDetailsv")<br />
                </div>
            }
            @if (@ViewBag.doctype == "ECLocal")
            {
                <div id="tabsmaindash-9" style="padding: 10px 4px 3px 15px">
                    <br />  @Html.Partial("_LocalExpensev")<br />
                </div>
                <div id="tabsmaindash-10" style="padding: 10px 4px 3px 15px">
                    <br />    @Html.Partial("_LocalPaymentv")<br />
                </div>
            }
            @if (@ViewBag.doctype == "EcfSupplierDSA")
            {
                <div id="tabsmaindash-11" style="padding: 10px 4px 3px 15px">
                    <br />    @Html.Partial("_SupplierDSAInvoicev")<br />
                </div>
                <div id="tabsmaindash-12" style="padding: 10px 4px 3px 15px">
                    <br />     @Html.Partial("_SupplierDSAExpensev")<br />
                </div>
                <div id="tabsmaindash-13" style="padding: 10px 4px 3px 15px">
                    <br />    @Html.Partial("_SupplierDSAPaymentv")<br />
                </div>
            }
            @if (@ViewBag.doctype == "EcfSupplier")
            {
                <div id="tabsmaindash-14" style="padding: 10px 4px 3px 15px">
                    <br />   @Html.Partial("_suppliersummaryv")<br />
                </div>
            }
            @if (@ViewBag.doctype == "Arf")
            {
                <div id="tabsmaindash-15" style="padding: 10px 4px 3px 15px">
                    <br />    @Html.Partial("advancegrid")<br />
                </div>
                <div id="tabsmaindash-16" style="padding: 10px 4px 3px 15px">
                    <br />     @Html.Partial("paygrid")<br />
                </div>
            }
            <div id="tabsmaindash-17" style="padding: 10px 4px 3px 15px">
                @Html.Partial("_EmpAttachmentv")<br />
            </div>
            <div id="tabsmaindash-18" style="padding: 10px 4px 3px 15px">
                <br />   @Html.Partial("_EmpAuditTrail")<br />
            </div>
        </div>
    </div>
    <br />
    <fieldset>
        <legend> Approver Action</legend>
        <div style="padding: 0px 0px 0px 30px;">
            @Html.Partial("_EmpApproverActionConcurrent")
        </div>

    </fieldset>
</div>
<div id="ForPartialViewExpenseglno"></div>
<script>
    function SaveCanceldashapp() {
        //location = '../DashBoard/index';
        //location = '@Url.Action("CentralMakerDetails", "CentralMaker")';
    }
    var objDialogExpenseglno;
    $(document).ready(function () {
        objDialogExpenseglno = $("[id$='ForPartialViewExpenseglno']");
        objDialogExpenseglno.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: '97%',
            height: 325
        });
    });
    function EmpExpenseglno(id) {
        var url = '@Url.Action("debitlinegldetails", "EmployeeClaimNew")?id=' + id + '&types=D&' + new Date().getTime();
        objDialogExpenseglno.load(url);
        objDialogExpenseglno.dialog({ title: 'View GL Details' });
        objDialogExpenseglno.dialog("open");
    }
</script>
