@model IEM.Areas.FLEXIBUY.Models.poraiser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b>
    <span style="color: rgb(52, 108, 196);">Release For SCN</span>
</b>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<div class="well">
    <span style="color: rgb(52, 108, 196);">WO header</span>
    <div class="borderStyle panel panel-default ">
        <table class="myTableStyleTabNew" align="center" width="100%">
            <tr>
                <td style="padding:10px; width:18%;">
                    <span>WO Ref No</span>
                    <br />
                    <input type="text"
                           name="txtporefno"
                           id="txtporefno"
                           disabled="disabled"
                           value="@Model.porefno"
                           class="textboxStyle valid" />
                </td>
                <td style="padding:10px;width:12%;">
                    <span>WO Date </span>
                    <br />
                    <input type="text"
                           id="txtpodate"
                           maxlength="10"
                           disabled="disabled"
                           value="@Model.podate"
                           class="textboxStyle valid" />
                </td>    
                <td style="padding:10px;width:10%;">
                    <span>Department</span>
                    <br />
                    <input type="text"
                           name="txtdepartment"
                           id="txtdepartment"
                           disabled="disabled"
                           value="@Model.department"
                           class="textboxStyle valid" />
                </td>            
                <td style="padding:10px;width:20%;">
                    <span>Raised By</span>
                    <br />
                    <input type="text"
                           name="txtraisedby"
                           id="txtraisedby"
                           disabled="disabled"
                           value="@Model.raisedby"
                           class="textboxStyle valid" />
                </td>
               
                <td style="padding:10px;width:40%;">
                    <span>Vendor Name</span>
                    <br />
                    <input type="text"
                           name="txtvendorname"
                           id="txtvendorname"
                           disabled="disabled"
                           value="@Model.vendorName"
                           class="textboxStyle valid" />
                </td>
            </tr>          
            <tr>
               
              
                <td style="padding:10px;">
                    <span>Type</span>
                    <br />
                    <div style="margin-top:5px;">
                        <input type="radio" id="id_rdapp" name="it" value="Application" />
                        Application
                        <input type="radio" id="id_rdinfar" name="it" value="Infrastructure" />
                        Infrastructure
                    </div>
                </td>
                <td nowrap="nowrap" colspan="3">
                    <span>Vendor Note</span>
                    <br />
                    <input type="text"
                           name="txt_vendornote"
                           class="textboxStyleBig valid"
                           id="txtvendornote"
                           disabled="disabled"
                           value="@Model.vendorNote" />
                </td>
            </tr>
        </table>
    </div>
    <span style="color: rgb(52, 108, 196);">WO details</span>   
        <br />
            @Html.Partial("WoEditDetailsSCN")  
    </div>
