@model  IEM.Areas.EOW.Models.EOW_ArfInsuranceraising
@using System.Data
@using IEM.Areas.EOW.Models
@{
    var vl = 0;
    var viewfor = (string)ViewBag.viewfor;
    var dis = "";
    dis = ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
        vl = 1;
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
        vl = 1;
    }
    else if (viewfor == "Delete")
    {
        ViewBag.viewmode = "disabled";
        vl = 1;
    }
    if (vl == 0)
    {
        dis = null;
    }

}
@*<link href="@Url.Content(" ~ /Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content(" ~ /Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>*@

<div id="gridadvance" class="table-responsive" style="padding-right: 10px;">
    <div align="right" style="padding-top: 10px;">
        <button type="button" id="btnempadvancee" value="New Advance" onclick="Newadvance()" class="btn btn-primary">
            <span style="color:white;font-size: 12px;" class="glyphicon glyphicon-plus"></span> Add Advance
        </button>
    </div>
    @Html.Partial("advancegrid")
</div>
<br />

<div id="ForPartialViewcbf"></div>
<div id="ForPartialViewpohead"></div>
<script type="text/javascript">
    var objDialogycbfadvace;
    $(document).ready(function () {
        objDialogycbf = $("[id$='ForPartialViewcbf']");
        objDialogycbf.dialog({
            autoOpen: false,
            modal: true,
            //show: 'fade-in',
            //close: 'fade-out',
            width: 800,
            height: 650
        });
        objDialogypohead = $("[id$='ForPartialViewpohead']");
        objDialogypohead.dialog({
            autoOpen: false,
            modal: true,
            //show: 'fade-in',
            //close: 'fade-out',
            width: 820,
            height: 550
        });


        if ($('#ss').val() == "") {

            $('#ss').val('s');
            objDialogycbfadvace = $("[id$='ForPartialViewadvacnce_pop']");
            objDialogycbfadvace.dialog({
                autoOpen: false,
                modal: true,
                async: false,
                cache: false,
                //show: 'fade-in',
                //close: 'fade-out',
                width: 870,
                height: 405
            });
        }
        $('#btndel').hide();

        $.post('../RaisingInsurance/Getdelmatdata',
                function (data) {
                    var num = 0;
                    var Snumber = 0;
                    var newrow;
                    if (data == 0 || data == "") { } else {
                        if (data.length > 0) {

                            for (var gh = 0; gh < data.length ; gh++) {

                                ++Snumber;
                                newrow = "<tr id='tradvance" + data[gh].ecfarf_gid + "' style='font-weight:normal;'>";
                                newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_advancetype + "' style='font-weight:normal;'> " + data[gh].ecfarf_advancetype + " </label></td>";
                                newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_desc + "' style='font-weight:normal;'>" + data[gh].ecfarf_desc + "</label></td> ";
                                newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_liq_date + "' style='font-weight:normal;'> " + data[gh].ecfarf_liq_date + " </label></td>";
                                newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_pi_gl_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_pi_gl_no + " </label></td>";
                                newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_po_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_po_no + " </label></td>";
                                newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_cbf_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_cbf_no + " </label></td>";
                                newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_fc_code + "' style='font-weight:normal;'> " + data[gh].ecfarf_fc_code + " </label></td>";
                                newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_cc_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_cc_code + "</label></td> ";
                                newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_product_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_product_code + "</label></td> ";
                                newrow += " <td class='fadvance'><label for=titlename id='" + data[gh].ecfarf_ou_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_ou_code + "</label></td> ";


                                newrow += " <td class='colamountlarge'><label for=titlename id='" + data[gh].ecfarf_amount + "' style='font-weight:normal;'>" + data[gh].ecfarf_amount + "</label></td> ";
                                newrow += " <td style='display:none;'><label for=titlename id='" + data[gh].ecfarf_ecf_gid + "' style='font-weight:normal;'>" + data[gh].ecfarf_ecf_gid + "</label></td> ";
                                newrow += " <td class='aadvance'> <a title='View' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Viewadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-eye-open'> </span> </a> <a title='Edit' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Editadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-edit'> </span> </a> <a title='Delete' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Deleteadvancee(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-trash'> </span> </a> </td></tr>";
                                var controlToBeRemoved = "#tradvance" + data[gh].ecfarf_gid;
                                $(controlToBeRemoved).remove();
                                $('#advancegrid tbody:last').append(newrow);
                            }
                        }
                        GotoIndexAdvance();
                    }
                });

    });
    function Newadvance() {
        var arftype = $('#ddlarftype').val().trim();
        var arftypenew = arftype.split(' ');
        var url = '@Url.Action("advancepop", "RaisingInsurance")?arftype=' + arftypenew[0] + '&' + new Date().getTime();
        objDialogycbfadvace.load(url);
        objDialogycbfadvace.dialog({ title: 'Add Advance' });
        objDialogycbfadvace.dialog("open");
    }
    function EmployeeSearchPouch() {

        var vartxtcode = "";
        objDialogycbf.load('@Url.Action("CBF", "RaisingInsurance")');
        objDialogycbf.dialog({ title: 'Select CBF' });
        objDialogycbf.dialog("open");
    }
    function Employeepoheader() {
        objDialogypohead.load('@Url.Action("pohead", "RaisingInsurance")');
        objDialogypohead.dialog({ title: 'Select PO' });
        objDialogypohead.dialog("open");
    }
    function Deleteadvance() {
        var id = $("#ecfarf_gid").val();
        var taxModel = {
            "ecfarf_gid": id
        };
        jConfirm("Do you want to delete this Advance ? ", "Delete Advance", function (j) {
            if (j == true) {
                $.post('../RaisingInsurance/DeleteAdvance', taxModel,
                     function (data) {
                         if (data != "NotExists") {
                             alert(data);
                             return false;
                         }
                         else {
                             //location = '../IEM_TAX/Index';
                             //$("#gridadvance").load('../RaisingArf/ArfAdvance?id=0&viewfor=""');
                             $.post('../RaisingInsurance/Getdelmatdata',
                   function (data) {
                       var num = 0;
                       var Snumber = 0;
                       var newrow;
                       if (data == 0 || data == "") {
                           var controlToBeRemoved = "#tradvance" + id;
                           $(controlToBeRemoved).remove();
                           GotoIndexAdvance();
                       } else {
                           if (data.length > 0) {
                               var controlToBeRemoved = "#tradvance" + id;
                               $(controlToBeRemoved).remove();
                               for (var gh = 0; gh < data.length ; gh++) {

                                   ++Snumber;
                                   newrow = "<tr id='tradvance" + data[gh].ecfarf_gid + "' style='font-weight:normal;'>";
                                   newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_advancetype + "' style='font-weight:normal;'> " + data[gh].ecfarf_advancetype + " </label></td>";
                                   newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_desc + "' style='font-weight:normal;'>" + data[gh].ecfarf_desc + "</label></td> ";
                                   newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_liq_date + "' style='font-weight:normal;'> " + data[gh].ecfarf_liq_date + " </label></td>";
                                   newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_pi_gl_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_pi_gl_no + " </label></td>";
                                   newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_po_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_po_no + " </label></td>";
                                   newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_cbf_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_cbf_no + " </label></td>";
                                   newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_fc_code + "' style='font-weight:normal;'> " + data[gh].ecfarf_fc_code + " </label></td>";
                                   newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_cc_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_cc_code + "</label></td> ";
                                   newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_product_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_product_code + "</label></td> ";
                                   newrow += " <td class='fadvance'><label for=titlename id='" + data[gh].ecfarf_ou_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_ou_code + "</label></td> ";

                                   newrow += " <td class='colamountlarge'><label for=titlename id='" + data[gh].ecfarf_amount + "' style='font-weight:normal;'>" + data[gh].ecfarf_amount + "</label></td> ";
                                   newrow += " <td style='display:none;'><label for=titlename id='" + data[gh].ecfarf_ecf_gid + "' style='font-weight:normal;'>" + data[gh].ecfarf_ecf_gid + "</label></td> ";
                                   newrow += " <td class='aadvance'> <a title='View' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Viewadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-eye-open'> </span> </a> <a title='Edit' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Editadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-edit'> </span> </a> <a title='Delete' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Deleteadvancee(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-trash'> </span> </a> </td></tr>";
                                   var controlToBeRemoved = "#tradvance" + data[gh].ecfarf_gid;
                                   $(controlToBeRemoved).remove();
                                   $('#advancegrid tbody:last').append(newrow);
                               }
                           }
                           GotoIndexAdvance();
                       }
                   });
                         }
                     }, 'json');
            }
            else { return false; }
        });
    }

    //function isNumberKey(evt) {
    //    var charCode = (evt.which) ? evt.which : event.keyCode
    //    if (charCode > 31 && (charCode < 48 || charCode > 57))
    //        return false;
    //    return true;
    //}
    $("#amount").keypress(function (event) {

        return isNumber1(event);

    });
    $("#ecfarf_advancetype_gid").change(function () {

        var depat_gid = $('#ecfarf_advancetype_gid').val();
        var _Delmatdesc = $('#_Delmatdesc').val();
        //var txtliqdate = $('#txtliqdate').val();
        var _proinvoice = $('#_proinvoice').val();
        var _pono = $('#_pono').val();
        var cefno = $('#cefno').val();
        var fcno = $('#fcno').val();
        var ccno = $('#ccno').val();
        var productcode = $('#productcode').val();
        var oucode = $('#oucode').val();
        var amount = $('#amount').val();

        if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
            $('#btnsaveadvance').attr('disabled', true);
        }

        else {
            $('#btnsaveadvance').attr('disabled', false);
        }

        var txtSupplierName = $("#ecfarf_advancetype_gid").val();
        if (txtSupplierName.trim() != "") {
            $("#ecfarf_advancetype_gid").removeClass('required');
            $("#ecfarf_advancetype_gid").addClass('valid');
        }
        else {
            $("#ecfarf_advancetype_gid").removeClass('valid');
            $("#ecfarf_advancetype_gid").addClass('required');
        }
    });


    $("#amount").keyup(function () {
        var depat_gid = $('#ecfarf_advancetype_gid').val();
        var _Delmatdesc = $('#_Delmatdesc').val();
        //var txtliqdate = $('#txtliqdate').val();
        var _proinvoice = $('#_proinvoice').val();
        var _pono = $('#_pono').val();
        var cefno = $('#cefno').val();
        var fcno = $('#fcno').val();
        var ccno = $('#ccno').val();
        var productcode = $('#productcode').val();
        var oucode = $('#oucode').val();
        var amount = $('#amount').val();

        if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
            $('#btnsaveadvance').attr('disabled', true);
        }

        else {
            $('#btnsaveadvance').attr('disabled', false);
        }

        var txtSupplierName = $("#amount").val();
        if (txtSupplierName.trim() != "") {
            $("#amount").removeClass('required');
            $("#amount").addClass('valid');
        }
        else {
            $("#amount").removeClass('valid');
            $("#amount").addClass('required');
        }
    });
    $("#oucode").change(function () {
        var ddlid = $(this).val();
        var verify =
       {
           "ecfarf_ou_code": ddlid
       };

        $.ajax({
            url: '@Url.Action("oucode", "RaisingInsurance")',

            data: JSON.stringify(verify),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                if (data.length > 0) {

                    $('#oucode').val(data);
                    var depat_gid = $('#ecfarf_advancetype_gid').val();
                    var _Delmatdesc = $('#_Delmatdesc').val();
                    //var txtliqdate = $('#txtliqdate').val();
                    var _proinvoice = $('#_proinvoice').val();
                    var _pono = $('#_pono').val();
                    var cefno = $('#cefno').val();
                    var fcno = $('#fcno').val();
                    var ccno = $('#ccno').val();
                    var productcode = $('#productcode').val();
                    var oucode = $('#oucode').val();
                    var amount = $('#amount').val();

                    if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
                        $('#btnsaveadvance').attr('disabled', true);
                    }

                    else {
                        $('#btnsaveadvance').attr('disabled', false);
                    }

                    var txtSupplierName = $("#oucode").val();
                    if (txtSupplierName.trim() != "") {
                        $("#oucode").removeClass('required');
                        $("#oucode").addClass('valid');
                    }
                    else {
                        $("#oucode").removeClass('valid');
                        $("#oucode").addClass('required');
                    }
                }
                else {
                    jAlert('Please Enter Correct OU Code', "Error");
                    return;
                    $('#btnsaveadvance').attr('disabled', false);
                    var txtSupplierName = $("#oucode").val();
                    if (txtSupplierName.trim() != "") {
                        $("#oucode").removeClass('required');
                        $("#oucode").addClass('valid');
                    }
                    else {
                        $("#oucode").removeClass('valid');
                        $("#oucode").addClass('required');
                    }
                }
            }
        })

    });
    $("#productcode").change(function () {
        var ddlid = $(this).val();
        var verify =
       {
           "ecfarf_product_code": ddlid
       };

        $.ajax({
            url: '@Url.Action("productcode", "RaisingInsurance")',

            data: JSON.stringify(verify),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                if (data.length > 0) {

                    $('#productcode').val(data);
                    var depat_gid = $('#ecfarf_advancetype_gid').val();
                    var _Delmatdesc = $('#_Delmatdesc').val();
                    //var txtliqdate = $('#txtliqdate').val();
                    var _proinvoice = $('#_proinvoice').val();
                    var _pono = $('#_pono').val();
                    var cefno = $('#cefno').val();
                    var fcno = $('#fcno').val();
                    var ccno = $('#ccno').val();
                    var productcode = $('#productcode').val();
                    var oucode = $('#oucode').val();
                    var amount = $('#amount').val();

                    if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
                        $('#btnsaveadvance').attr('disabled', true);
                    }

                    else {
                        $('#btnsaveadvance').attr('disabled', false);
                    }

                    var txtSupplierName = $("#productcode").val();
                    if (txtSupplierName.trim() != "") {
                        $("#productcode").removeClass('required');
                        $("#productcode").addClass('valid');
                    }
                    else {
                        $("#productcode").removeClass('valid');
                        $("#productcode").addClass('required');
                    }
                }
                else {
                    jAlert('Please Enter Correct ProductCode', "Error");
                    return;
                    $('#btnsaveadvance').attr('disabled', false);
                    var txtSupplierName = $("#productcode").val();
                    if (txtSupplierName.trim() != "") {
                        $("#productcode").removeClass('required');
                        $("#productcode").addClass('valid');
                    }
                    else {
                        $("#productcode").removeClass('valid');
                        $("#productcode").addClass('required');
                    }
                }
            }
        })

    });

    $("#ccno").change(function () {
        var ddlid = $(this).val();
        var verify =
       {
           "ecfarf_cc_code": ddlid
       };

        $.ajax({
            url: '@Url.Action("cccode", "RaisingInsurance")',

            data: JSON.stringify(verify),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                if (data.length > 0) {

                    $('#ccno').val(data);
                    var depat_gid = $('#ecfarf_advancetype_gid').val();
                    var _Delmatdesc = $('#_Delmatdesc').val();
                    //var txtliqdate = $('#txtliqdate').val();
                    var _proinvoice = $('#_proinvoice').val();
                    var _pono = $('#_pono').val();
                    var cefno = $('#cefno').val();
                    var fcno = $('#fcno').val();
                    var ccno = $('#ccno').val();
                    var productcode = $('#productcode').val();
                    var oucode = $('#oucode').val();
                    var amount = $('#amount').val();

                    if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
                        $('#btnsaveadvance').attr('disabled', true);
                    }

                    else {
                        $('#btnsaveadvance').attr('disabled', false);
                    }

                    var txtSupplierName = $("#ccno").val();
                    if (txtSupplierName.trim() != "") {
                        $("#ccno").removeClass('required');
                        $("#ccno").addClass('valid');
                    }
                    else {
                        $("#ccno").removeClass('valid');
                        $("#ccno").addClass('required');
                    }
                }
                else {
                    jAlert('Please Enter Correct CC No', "Error");
                    return;
                    $('#btnsaveadvance').attr('disabled', false);
                    var txtSupplierName = $("#ccno").val();
                    if (txtSupplierName.trim() != "") {
                        $("#ccno").removeClass('required');
                        $("#ccno").addClass('valid');
                    }
                    else {
                        $("#ccno").removeClass('valid');
                        $("#ccno").addClass('required');
                    }
                }
            }
        })

    });
    $("#fcno").change(function () {
        var ddlid = $(this).val();
        var verify =
       {
           "ecfarf_fc_code": ddlid
       };

        $.ajax({
            url: '@Url.Action("fccode", "RaisingInsurance")',

            data: JSON.stringify(verify),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                if (data.length > 0) {

                    $('#fcno').val(data);
                    var depat_gid = $('#ecfarf_advancetype_gid').val();
                    var _Delmatdesc = $('#_Delmatdesc').val();
                    //var txtliqdate = $('#txtliqdate').val();
                    var _proinvoice = $('#_proinvoice').val();
                    var _pono = $('#_pono').val();
                    var cefno = $('#cefno').val();
                    var fcno = $('#fcno').val();
                    var ccno = $('#ccno').val();
                    var productcode = $('#productcode').val();
                    var oucode = $('#oucode').val();
                    var amount = $('#amount').val();

                    if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
                        $('#btnsaveadvance').attr('disabled', true);
                    }

                    else {
                        $('#btnsaveadvance').attr('disabled', false);
                    }

                    var txtSupplierName = $("#fcno").val();
                    if (txtSupplierName.trim() != "") {
                        $("#fcno").removeClass('required');
                        $("#fcno").addClass('valid');
                    }
                    else {
                        $("#fcno").removeClass('valid');
                        $("#fcno").addClass('required');
                    }
                }
                else {
                    jAlert('Please Enter Correct FC Code', "Error");
                    return;
                    $('#btnsaveadvance').attr('disabled', false);
                    var txtSupplierName = $("#fcno").val();
                    if (txtSupplierName.trim() != "") {
                        $("#fcno").removeClass('required');
                        $("#fcno").addClass('valid');
                    }
                    else {
                        $("#fcno").removeClass('valid');
                        $("#fcno").addClass('required');
                    }
                }
            }
        })

    });

    $("#cefno").keyup(function () {
        var depat_gid = $('#ecfarf_advancetype_gid').val();
        var _Delmatdesc = $('#_Delmatdesc').val();
        //var txtliqdate = $('#txtliqdate').val();
        var _proinvoice = $('#_proinvoice').val();
        var _pono = $('#_pono').val();
        var cefno = $('#cefno').val();
        var fcno = $('#fcno').val();
        var ccno = $('#ccno').val();
        var productcode = $('#productcode').val();
        var oucode = $('#oucode').val();
        var amount = $('#amount').val();

        if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
            $('#btnsaveadvance').attr('disabled', true);
        }

        else {
            $('#btnsaveadvance').attr('disabled', false);
        }

        var txtSupplierName = $("#cefno").val();
        if (txtSupplierName.trim() != "") {
            $("#cefno").removeClass('required');
            $("#cefno").addClass('valid');
        }
        else {
            $("#cefno").removeClass('valid');
            $("#cefno").addClass('required');
        }
    });
    $("#_pono").change(function () {
        var ddlid = $(this).val();
        var verify =
       {
           "ecfarf_po_no": ddlid
       };

        $.ajax({
            url: '@Url.Action("_pono", "RaisingInsurance")',

            data: JSON.stringify(verify),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                if (data.length > 0) {

                    $('#_pono').val(data);
                    var depat_gid = $('#ecfarf_advancetype_gid').val();
                    var _Delmatdesc = $('#_Delmatdesc').val();
                    //var txtliqdate = $('#txtliqdate').val();
                    var _proinvoice = $('#_proinvoice').val();
                    var _pono = $('#_pono').val();
                    var cefno = $('#cefno').val();
                    var fcno = $('#fcno').val();
                    var ccno = $('#ccno').val();
                    var productcode = $('#productcode').val();
                    var oucode = $('#oucode').val();
                    var amount = $('#amount').val();

                    if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
                        $('#btnsaveadvance').attr('disabled', true);
                    }

                    else {
                        $('#btnsaveadvance').attr('disabled', false);
                    }

                    var txtSupplierName = $("#_pono").val();
                    if (txtSupplierName.trim() != "") {
                        $("#_pono").removeClass('required');
                        $("#_pono").addClass('valid');
                    }
                    else {
                        $("#_pono").removeClass('valid');
                        $("#_pono").addClass('required');
                    }
                }
                else {
                    jAlert('Please Enter Correct Po No', "Error");
                    return;
                    $('#btnsaveadvance').attr('disabled', false);
                    var txtSupplierName = $("#_pono").val();
                    if (txtSupplierName.trim() != "") {
                        $("#_pono").removeClass('required');
                        $("#_pono").addClass('valid');
                    }
                    else {
                        $("#_pono").removeClass('valid');
                        $("#_pono").addClass('required');
                    }
                }
            }
        })

    });

    $("#_proinvoice").keyup(function () {
        var depat_gid = $('#ecfarf_advancetype_gid').val();
        var _Delmatdesc = $('#_Delmatdesc').val();
        //var txtliqdate = $('#txtliqdate').val();
        var _proinvoice = $('#_proinvoice').val();
        var _pono = $('#_pono').val();
        var cefno = $('#cefno').val();
        var fcno = $('#fcno').val();
        var ccno = $('#ccno').val();
        var productcode = $('#productcode').val();
        var oucode = $('#oucode').val();
        var amount = $('#amount').val();

        if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
            $('#btnsaveadvance').attr('disabled', true);
        }

        else {
            $('#btnsaveadvance').attr('disabled', false);
        }

        var txtSupplierName = $("#_proinvoice").val();
        if (txtSupplierName.trim() != "") {
            $("#_proinvoice").removeClass('required');
            $("#_proinvoice").addClass('valid');
        }
        else {
            $("#_proinvoice").removeClass('valid');
            $("#_proinvoice").addClass('required');
        }
    });
    $("#_Delmatdesc").keyup(function () {
        var depat_gid = $('#ecfarf_advancetype_gid').val();
        var _Delmatdesc = $('#_Delmatdesc').val();
        //var txtliqdate = $('#txtliqdate').val();
        var _proinvoice = $('#_proinvoice').val();
        var _pono = $('#_pono').val();
        var cefno = $('#cefno').val();
        var fcno = $('#fcno').val();
        var ccno = $('#ccno').val();
        var productcode = $('#productcode').val();
        var oucode = $('#oucode').val();
        var amount = $('#amount').val();

        if (depat_gid == "" || _Delmatdesc == "" || _proinvoice == "" || _pono == "" || cefno == "" || fcno == "" || ccno == "" || productcode == "" || oucode == "" || amount == "") {
            $('#btnsaveadvance').attr('disabled', true);
        }

        else {
            $('#btnsaveadvance').attr('disabled', false);
        }

        var txtSupplierName = $("#_Delmatdesc").val();
        if (txtSupplierName.trim() != "") {
            $("#_Delmatdesc").removeClass('required');
            $("#_Delmatdesc").addClass('valid');
        }
        else {
            $("#_Delmatdesc").removeClass('valid');
            $("#_Delmatdesc").addClass('required');
        }
    });
    function GotoIndexAdvance() {
        $('#btnsaveadvance').attr('disabled', true);
        $('#_Delmatdesc').val("");
        $('#_Delmatdesc').attr('disabled', false);
        $("#_Delmatdesc").removeClass('valid');
        $("#_Delmatdesc").addClass('required');
        // $('#txtliqdate').val("");
        //$('#txtliqdate').attr('disabled', false);
        //$("#txtliqdate").removeClass('valid');
        //$("#txtliqdate").addClass('required');
        $('#_proinvoice').val("");
        $('#_proinvoice').attr('disabled', false);
        $("#_proinvoice").removeClass('valid');
        $("#_proinvoice").addClass('required');
        $('#_pono').val("");
        $('#_pono').attr('disabled', true);
        $("#_pono").removeClass('valid');
        $("#_pono").addClass('required');
        $('#cefno').val("");
        $('#cefno').attr('disabled', true);
        $("#cefno").removeClass('valid');
        $("#cefno").addClass('required');

        $('#amount').attr('disabled', false);
        $('#amount').val("");
        $("#amount").removeClass('valid');
        $("#amount").addClass('required');

        $("#btndel").hide();
        $('#btnsavevl').show();
        $('#ecfarf_gid').val("0");
        var val = 0;
        var Student = {
            "ecfarf_advancetype_gid": val,
        };
        $.ajax({
            url: '@Url.Action("AdvanceType", "RaisingInsurance")',

            data: JSON.stringify(Student),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {

                $("#ecfarf_advancetype_gid").empty();

                if (data.length > 0) {

                    $("#ecfarf_advancetype_gid").append("<option value='0' >---Select---</option>");
                    for (var i = 0; i < data.length; i++) {

                        $("#ecfarf_advancetype_gid").append("<option value=" + data[i].advancetype_gid + " >" + data[i].advancetype_name + "</option>");
                        $('#ecfarf_advancetype_gid').attr('disabled', false);
                        $("#ecfarf_advancetype_gid").removeClass('valid');
                        $("#ecfarf_advancetype_gid").addClass('required');
                    }
                }

                if (data.length == 0) {
                    $("#ecfarf_advancetype_gid").append("<option value='0' >--Select Exp Cat--</option>");
                    $('#ecfarf_advancetype_gid').attr('disabled', true);
                }
                if (data.length == null) {
                    alert("3");
                }
            },
            error: function (result) {
                alert("Error");
            }
        });

    }

    function Save() {
        var ecfarf_gid = $('#ecfarf_gid').val();

        if (ecfarf_gid == 0) {

            var depat_gid = $('#ecfarf_advancetype_gid').val();
            var _Delmatdesc = $('#_Delmatdesc').val();
            //var txtliqdate = $('#txtliqdate').val();
            var _proinvoice = $('#_proinvoice').val();
            var _pono = $('#_pono').val();
            var cefno = $('#cefno').val();
            var fcno = $('#fcno').val();
            var ccno = $('#ccno').val();
            var productcode = $('#productcode').val();
            var oucode = $('#oucode').val();
            var amount = $('#amount').val();


            var Student = {

                "ecfarf_advancetype_gid": depat_gid,
                "ecfarf_desc": _Delmatdesc,
                //"ecfarf_liq_date": txtliqdate,
                "ecfarf_promo_invoice": _proinvoice,
                "ecfarf_po_no": _pono,
                "ecfarf_cbf_no": cefno,
                "ecfarf_fc_code": fcno,
                "ecfarf_cc_code": ccno,
                "ecfarf_product_code": productcode,
                "ecfarf_ou_code": oucode,
                "ecfarf_amount": amount
            };

            $.ajax({
                url: '../RaisingInsurance/SaveAdvance/',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result != "NotExists") {
                        jAlert(result, "Error");
                        return;
                    }
                    if (result == "NotExists") {
                        jAlert('Record inserted Successfully !', "Information");

                        $.post('../RaisingArf/Getdelmatdata',
                      function (data) {
                          var num = 0;
                          var Snumber = 0;
                          var newrow;
                          if (data == 0 || data == "") { } else {
                              if (data.length > 0) {

                                  for (var gh = 0; gh < data.length ; gh++) {

                                      ++Snumber;
                                      newrow = "<tr id='tradvance" + data[gh].ecfarf_gid + "' style='font-weight:normal;'>";
                                      newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_advancetype + "' style='font-weight:normal;'> " + data[gh].ecfarf_advancetype + " </label></td>";
                                      newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_desc + "' style='font-weight:normal;'>" + data[gh].ecfarf_desc + "</label></td> ";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_liq_date + "' style='font-weight:normal;'> " + data[gh].ecfarf_liq_date + " </label></td>";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_pi_gl_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_pi_gl_no + " </label></td>";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_po_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_po_no + " </label></td>";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_cbf_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_cbf_no + " </label></td>";
                                      newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_fc_code + "' style='font-weight:normal;'> " + data[gh].ecfarf_fc_code + " </label></td>";
                                      newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_cc_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_cc_code + "</label></td> ";
                                      newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_product_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_product_code + "</label></td> ";
                                      newrow += " <td class='fadvance'><label for=titlename id='" + data[gh].ecfarf_ou_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_ou_code + "</label></td> ";

                                      newrow += " <td class='colamountlarge'><label for=titlename id='" + data[gh].ecfarf_amount + "' style='font-weight:normal;'>" + data[gh].ecfarf_amount + "</label></td> ";
                                      newrow += " <td style='display:none;'><label for=titlename id='" + data[gh].ecfarf_ecf_gid + "' style='font-weight:normal;'>" + data[gh].ecfarf_ecf_gid + "</label></td> ";
                                      newrow += " <td class='aadvance'> <a title='View' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Viewadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-eye-open'> </span> </a> <a title='Edit' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Editadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-edit'> </span> </a> <a title='Delete' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Deleteadvancee(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-trash'> </span> </a> </td></tr>";
                                      var controlToBeRemoved = "#tradvance" + data[gh].ecfarf_gid;
                                      $(controlToBeRemoved).remove();
                                      $('#advancegrid tbody:last').append(newrow);
                                  }
                              }
                              GotoIndexAdvance();
                          }
                      });
                    }
                },
            });
        }
        else {

            var depat_gid = $('#ecfarf_advancetype_gid').val();
            var _Delmatdesc = $('#_Delmatdesc').val();
            //var txtliqdate = $('#txtliqdate').val();
            var _proinvoice = $('#_proinvoice').val();
            var _pono = $('#_pono').val();
            var cefno = $('#cefno').val();
            var fcno = $('#fcno').val();
            var ccno = $('#ccno').val();
            var productcode = $('#productcode').val();
            var oucode = $('#oucode').val();
            var amount = $('#amount').val();
            var ecfarf_gid = $('#ecfarf_gid').val();
            var ecfarf_ecf_gid = $('#ecfarf_ecf_gid').val();

            var Student = {
                "ecfarf_gid": ecfarf_gid,
                "ecfarf_ecf_gid": ecfarf_ecf_gid,
                "ecfarf_advancetype_gid": depat_gid,
                "ecfarf_desc": _Delmatdesc,
                //"ecfarf_liq_date": txtliqdate,
                "ecfarf_promo_invoice": _proinvoice,
                "ecfarf_po_no": _pono,
                "ecfarf_cbf_no": cefno,
                "ecfarf_fc_code": fcno,
                "ecfarf_cc_code": ccno,
                "ecfarf_product_code": productcode,
                "ecfarf_ou_code": oucode,
                "ecfarf_amount": amount
            };

            $.ajax({
                url: '../RaisingInsurance/UpdateAdvance/',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result == "Exists") {
                        if (confirm("Duplicate Record !")) {
                            //InsertPouch();
                            return;
                        }
                    }
                    if (result == "NotExists") {
                        jAlert('Record Updated Successfully !', "Information");

                        // $("#gridadvance").load('../RaisingArf/ArfAdvance?id=' + 0 + '&viewfor=""');

                        $.post('../RaisingInsurance/Getdelmatdata',
                      function (data) {
                          var num = 0;
                          var Snumber = 0;
                          var newrow;
                          if (data == 0 || data == "") { } else {
                              if (data.length > 0) {

                                  for (var gh = 0; gh < data.length ; gh++) {

                                      ++Snumber;
                                      newrow = "<tr id='tradvance" + data[gh].ecfarf_gid + "' style='font-weight:normal;'>";
                                      newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_advancetype + "' style='font-weight:normal;'> " + data[gh].ecfarf_advancetype + " </label></td>";
                                      newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_desc + "' style='font-weight:normal;'>" + data[gh].ecfarf_desc + "</label></td> ";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_liq_date + "' style='font-weight:normal;'> " + data[gh].ecfarf_liq_date + " </label></td>";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_pi_gl_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_pi_gl_no + " </label></td>";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_po_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_po_no + " </label></td>";
                                      newrow += " <td class='cadvance'><label for=titlename id='" + data[gh].ecfarf_cbf_no + "' style='font-weight:normal;'> " + data[gh].ecfarf_cbf_no + " </label></td>";
                                      newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_fc_code + "' style='font-weight:normal;'> " + data[gh].ecfarf_fc_code + " </label></td>";
                                      newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_cc_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_cc_code + "</label></td> ";
                                      newrow += " <td class='aadvance'><label for=titlename id='" + data[gh].ecfarf_product_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_product_code + "</label></td> ";
                                      newrow += " <td class='fadvance'><label for=titlename id='" + data[gh].ecfarf_ou_code + "' style='font-weight:normal;'>" + data[gh].ecfarf_ou_code + "</label></td> ";

                                      newrow += " <td class='dadvance'><label for=titlename id='" + data[gh].ecfarf_amount + "' style='font-weight:normal;'>" + data[gh].ecfarf_amount + "</label></td> ";
                                      newrow += " <td style='display:none;'><label for=titlename id='" + data[gh].ecfarf_ecf_gid + "' style='font-weight:normal;'>" + data[gh].ecfarf_ecf_gid + "</label></td> ";
                                      newrow += " <td class='aadvance'> <a title='View' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Viewadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-eye-open'> </span> </a> <a title='Edit' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Editadvance(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-edit'> </span> </a> <a title='Delete' style='text-decoration:none;' id=" + data[gh].ecfarf_gid + "  onclick='Deleteadvancee(this, id)'> <span style='color: #2a6393 !important;' class='glyphicon glyphicon-trash'> </span> </a> </td></tr>";
                                      var controlToBeRemoved = "#tradvance" + data[gh].ecfarf_gid;
                                      $(controlToBeRemoved).remove();
                                      $('#advancegrid tbody:last').append(newrow);
                                  }
                              }
                              GotoIndexAdvance();
                          }
                      });
                    }
                    else {
                        jAlert(result, "Error");
                    }
                },
            });
        }
    }

</script>



