@model  IEM.Areas.EOW.Models.EOW_ArfInsuranceraising

@using IEM.Areas.EOW.Models
@{
    var raiser = "";
    EOW_EmployeeeExpense sh = new EOW_EmployeeeExpense();
    EOW_ArfInsuranceraising sh1 = new EOW_ArfInsuranceraising();
    if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
    {
        sh = (EOW_EmployeeeExpense)ViewBag.EOW_EmployeeeExpenseheader;
    }
    else if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
    {
        sh1 = (EOW_ArfInsuranceraising)ViewBag.EOW_EmployeeeExpenseheader;
    }
    else
    {
        sh.Raiser_Mode = Session["supplierheader_suppliercode"].ToString();
        raiser = Session["supplierheader_suppliercode"].ToString();
    }
    var vh = ViewBag.process;
    var jj = ViewBag.message;

}
<table class="myTableStyleTabNew">
    <tr>
        <td style="display:none;">
            @Html.TextBoxFor(n => sh.Raiser_Mode, new { disable = true, @class = "textboxStyle valid", @id = "_sup", @readonly = "readonly" })
        </td>
    </tr>
</table>

@if (@ViewBag.process != "Postdata" && @ViewBag.message == "" || @ViewBag.process == "datapost" && @ViewBag.message == "datapost")
{
    <div id="headid" style="border-width:0px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table class="myTableStyleTabNew" align="left" width="100%">
                <tr style="height:0px;">
                    <td style="display:none;">
                        @Html.TextBoxFor(n => sh.ecfremark, new { disable = true, @class = "textboxStyle valid", @id = "_empgid", @readonly = "readonly" })

                    </td>
                    <td style="display:none;">
                        @Html.TextBoxFor(n => sh.ecf_raisername, new { disable = true, @class = "textboxStyle valid", @id = "_empgname", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 75%;background-color: #F5F5F5;border-radius: 10px;padding: 2px 12px 0px 10px;">
                        <table class="myTableStyleTabNew" style="width: 100%;">
                            <tr>
                                <td style="width:15%;">
                                    <span>ARF Date</span>
                                    <br />
                                    @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                    {
                                        @Html.TextBoxFor(n => sh.ECF_Date, new { disable = true, @class = "textboxStyle valid", @id = "txtecfdate", @readonly = "readonly" })
                                    }
                                    @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                    {
                                        @Html.TextBoxFor(n => sh.ECF_Date, new { disable = true, @class = "textboxStyle required", @id = "txtecfdate", @maxlength = "10", @placeholder = "dd-mm-yyyy", @readonly = "readonly" })
                                    }
                                </td>
                                <td style="width:15%;">
                                    <div id="txtTypeName">
                                        <span>ARF Type</span>
                                        <br />
                                        @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                        {
                                            <select name="TeavelMode111" id="ddlarftype" class="textboxStyle required">
                                                @*<option value="select">---Select---</option>*@
                                                <option value="Insurance">Insurance</option>
                                                @*<option value="Supplier">Supplier</option>
                                                <option value="Petty Cash">Petty Cash</option>*@
                                            </select>
                                        }
                                        @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                        {
                                            @Html.TextBoxFor(n => sh.SubCategoryName, new { disable = true, @class = "textboxStyle valid", @id = "ddlarftype", @readonly = "readonly" })
                                        }
                                    </div>
                                </td>
                                <td style="width:25%;">
                                    <div id=" txttypename">
                                        <span> Supplier/Employee Code </span>
                                        <br />
                                        @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                        {
                                            @Html.TextBoxFor(n => sh.Raiser_Mode, new { disable = true, @class = "textboxStyle wdhs", @id = "_txtsupempcode", @readonly = "readonly" })
                                        }
                                        @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                        {
                                            <input name="CategoryName" id="_txtsupempcode" class="textboxStyle required" maxlength="8" readonly="readonly" type="text" data-val="true" value="" />
                                        }
                                    </div>
                                </td>
                                <td style="width:5%; text-align:left; vertical-align:bottom; padding-bottom:10px;">
                                    <br />
                                    @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                    {
                                        <button class="glyphicon glyphicon-search" id="_btnsearch" style="border:none;box-shadow: none;font-size: 1.5em;background-color: rgb(245, 245, 245);" name="command" type="submit" onclick="GetEmployeeDetails()"></button>
                                    }
                                </td>
                                <td style="width:40%;">
                                    <div id="txtTypeName">
                                        <span> Supplier/Employee Name </span>
                                        <br />
                                        @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                        {
                                            @Html.TextBoxFor(n => sh.ecf_raisername, new { disable = true, @class = "textboxStyle", @id = "_txtsupempname", @readonly = "readonly" })
                                        }
                                        @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                        {
                                            <input name="CategoryName" id="_txtsupempname" class="textboxStyle required" style="margin-left:-1px;" maxlength="64" type="text" data-val="true" value="" readonly="readonly" />
                                        }
                                    </div>
                                </td>
                        </table>
                        <table class="myTableStyleTabNew" width="100%;">
                            <tr>
                                <td style="width:15%;">
                                    <span> ARF Amount </span>
                                    <br />
                                    @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                    {
                                        @Html.TextBoxFor(n => sh.ECF_Amount, new { disable = true, @class = "textboxStyle", @id = "txtecfamount" })
                                    }
                                    @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                    {
                                        <input name="CategoryName" id="txtecfamount" class="textboxStyle required" maxlength="12" type="text" data-val="true" value="" />
                                    }
                                </td>
                                <td style="width:45%;">
                                    <span> ARF Description </span>
                                    <br />
                                    @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                    {
                                        @Html.TextBoxFor(n => @Session["ecfarf_desc"], new { disable = true, @class = "textboxStyle", @id = "txtecfdesc" })
                                    }
                                    @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                    {
                                        <input name="CategoryName" id="txtecfdesc" class="textboxStyle required" maxlength="400" type="text" data-val="true" value="" />
                                    }
                                </td>
                                <td style="width:40%; text-align:right; vertical-align:bottom;">
                                    <div>
                                        @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                        {

                                            <button type="button" id="btnsave" class="btn btn-primary" style="margin-left:6px;" value="Process" onclick="Savereq()"><span style="color:white" class="glyphicon glyphicon-share"></span> Proceed</button>
                                        }
                                        @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                        {
                                            <button type="button" id="btnsave" class="btn btn-primary" style="margin-left:6px;" value="Process_update" onclick="Savereq()"><span style="color:white" class="glyphicon glyphicon-share"></span> Proceed</button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="left" style="width:25%; background-color: #E3E3E3; border-radius: 10px; padding: 2px 6px 2px 6px;">
                        <fieldset>
                            <legend><center> <span style="font-weight:bold; font-size:14px; padding:3px;">RAISER DETAILS</span></center></legend>
                            <table class="myTableStyleTabNew" style="border-top:solid 1px black;" width="100%">
                                <tr>
                                    <td>
                                        <span>Raiser Mode</span>
                                    </td>
                                    <td style="width:1%; padding-right:3px; padding-left:3px;">:</td>
                                    <td>
                                        <label style="font-weight:bold;" id="ddlraisermode"> Self </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Raiser Code</span>
                                    </td>
                                    <td style="width:1%; padding-right:3px; padding-left:3px;">:</td>
                                    <td>
                                        @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                        {
                                            <label style="font-weight:bold;" id="_Delmatname">@sh.Raiser_Code</label>

                                        }
                                        @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                        {
                                            <label style="font-weight:bold;" id="_Delmatname">@sh1.ecf_raiser</label>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Raiser Name</span>
                                    </td>
                                    <td style="width:1%; padding-right:3px; padding-left:3px;">:</td>
                                    <td>
                                        @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                        {
                                            <label style="font-weight:bold;" id="txtraisername">@sh.Raiser_Name</label>
                                        }
                                        @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                        {
                                            <label style="font-weight:bold;" id="txtraisername">@sh1.ecf_raisername</label>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Grade</span>
                                    </td>
                                    <td style="width:1%; padding-right:3px; padding-left:3px;">:</td>
                                    <td>
                                        @if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost")
                                        {
                                            <label style="font-weight:bold;" id="_grade">@sh.Grade</label>
                                        }
                                        @if (@ViewBag.process != "Postdata" && @ViewBag.message == "")
                                        {
                                            <label style="font-weight:bold;" id="_grade">@sh1.grade</label>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
        }
    </div>
}
<div>
    @if (@ViewBag.process != "data" && @ViewBag.message != "")
    {
        if (@ViewBag.process == "datapost" && @ViewBag.message == "datapost" || @ViewBag.binddata != "datapost" || @ViewBag.arfdate == "arfdata")
        {
            <div style="padding-top:81px;padding-right:470px;border-width:0px;" class="well">
                <div style="padding-right:182px;border-width:0px;">
                    <table class="myTableStyleTabNew" align="center" style="margin-top:71px;margin-left:28px;">
                        <tr></tr>
                    </table>
                </div>
            </div>
        }
    }
</div>

<div id="arfhed" style="margin-top:-8px;">
    @Html.Partial("ArfInsTabHeader")
</div>


<div id="ForPartialViewforemployee"></div>
<div id="ForPartialViewforsupplier"></div>
<div id="ForPartialViewforecfempdetails"></div>
<div id="ForPartialViewforecfsupdetails"></div>
<script type="text/javascript">
    $("#txtecfamount").keyup(function (event) {
        if (event.which >= 37 && event.which <= 40) {
            event.preventDefault();
        }

        var currentval = $("#txtecfamount").val();
        var testDecimal = testDecimals(currentval);
        if (testDecimal.length > 1) {
            currentval = currentval.slice(0, -1);
        }
        $("#txtecfamount").val(replaceCommas(currentval));

    });

    $(document).keydown(function (e) {
        if (e.keyCode == 8 && e.target.tagName != 'INPUT' && e.target.tagName != 'TEXTAREA')
            e.preventDefault();
    });
    var objDialogforEmployee;
    var objDialogforSupplier;
    var objDialogforecfempdetails;
    var objDialogforecfsupdetails;
    $(document).ready(function () {
        $("#txtecfdate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxDate: '-id',
            minDate: '+id',
        });
    });
    $(document).ready(function () {

        var txtContractFromdd = $("#txtecfdate").val();
        if (txtContractFromdd == "") {
            $('#txtecfdate').datepicker().datepicker('setDate', 'today');
            $("#txtecfdate").removeClass('required');
            $("#txtecfdate").addClass('valid');
        }

        var txtSupplierName = $("#_txtsupempname").val();
        if (txtSupplierName.trim() != "") {
            $("#_txtsupempname").removeClass('required');
            $("#_txtsupempname").addClass('valid');
        }
        else {
            $("#_txtsupempname").removeClass('valid');
            $("#_txtsupempname").addClass('required');
        }

        var txtSupplierName = $("#_txtsupempcode").val();
        if (txtSupplierName.trim() != "") {
            $("#_txtsupempcode").removeClass('required');
            $("#_txtsupempcode").addClass('valid');
        }
        else {
            $("#_txtsupempcode").removeClass('valid');
            $("#_txtsupempcode").addClass('required');
        }



        var txtSupplierName = $("#ddlraisermode").val();
        //if (txtSupplierName == "Proxy") {
        //    $('#_txtsupempcode').val($('#_empgid').val());
        //    $('#_txtsupempname').val($('#_empgname').val());
        //    $("#_txtsupempcode").removeClass('required');
        //    $("#_txtsupempcode").addClass('valid');
        //    $("#_txtsupempname").removeClass('required');
        //    $("#_txtsupempname").addClass('valid');
        //    $('#_btnsearch').attr('disabled', true);
        //    $('#ddlarftype').val('Employee');
        //    $('#ddlarftype').attr('disabled', true);
        //}
        //else {
        //    $('#_txtsupempcode').val('');
        //    $('#_txtsupempname').val('');
        //    $("#_txtsupempcode").removeClass('valid');
        //    $("#_txtsupempcode").addClass('required');
        //    $("#_txtsupempname").removeClass('valid');
        //    $("#_txtsupempname").addClass('required');
        //    $('#_btnsearch').attr('disabled', false);
        //    $('#ddlarftype').val('---Select---');
        //    $('#ddlarftype').attr('disabled', false);
        //}
        //if (txtSupplierName.trim() != "") {
        //    $("#ddlraisermode").removeClass('required');
        //    $("#ddlraisermode").addClass('valid');
        //}
        //else {
        //    $("#ddlraisermode").removeClass('valid');
        //    $("#ddlraisermode").addClass('required');
        //}

        var txtSupplierName = $("#txtecfdate").val();
        if (txtSupplierName.trim() != "") {
            $("#txtecfdate").removeClass('required');
            $("#txtecfdate").addClass('valid');
        }
        else {
            $("#txtecfdate").removeClass('valid');
            $("#txtecfdate").addClass('required');
        }

        var txtSupplierName = $("#txtecfamount").val();
        if (txtSupplierName.trim() != "") {
            $("#txtecfamount").removeClass('required');
            $("#txtecfamount").addClass('valid');
        }
        else {
            $("#txtecfamount").removeClass('valid');
            $("#txtecfamount").addClass('required');
        }

        // $('#btnsave').attr('disabled', true);
        objDialogforEmployee = $("[id$='ForPartialViewforemployee']");
        objDialogforSupplier = $("[id$='ForPartialViewforsupplier']");
        objDialogforecfempdetails = $("[id$='ForPartialViewforecfempdetails']");
        objDialogforecfsupdetails = $("[id$='ForPartialViewforecfsupdetails']");

        objDialogforEmployee.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 550,
            height: 750
        });
        objDialogforSupplier.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
        });
        objDialogforecfempdetails.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 900,
            height: 580
        });
        objDialogforecfsupdetails.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 900,
            height: 580
        });
    });


    //function isNumberKey(evt) {
    //    var charCode = (evt.which) ? evt.which : event.keyCode
    //    if (charCode > 31 && (charCode < 48 || charCode > 57))
    //        return false;
    //    return true;
    //}
    $("#txtecfamount").keypress(function (event) {

        return isNumber1(event);

    });
    $("#ddlarftype").change(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "Employee") {
            $('#_txtsupempcode').val(raisercode);
            $('#_txtsupempname').val(raisername);
            $("#_txtsupempcode").removeClass('required');
            $("#_txtsupempcode").addClass('valid');
            $("#_txtsupempname").removeClass('required');
            $("#_txtsupempname").addClass('valid');
            $('#_btnsearch').attr('disabled', true);
        }
        else if (arftype == "Supplier") {
            $('#_txtsupempcode').val('');
            $('#_txtsupempname').val('');
            $('#_btnsearch').attr('disabled', false);
            supcode = "";
            supname = "";

        }
        else {
            if (arftype == "Petty Cash") {
                $('#_txtsupempcode').val(raisercode);
                $('#_txtsupempname').val(raisername);
                $("#_txtsupempcode").removeClass('required');
                $("#_txtsupempcode").addClass('valid');
                $("#_txtsupempname").removeClass('required');
                $("#_txtsupempname").addClass('valid');
                $('#_btnsearch').attr('disabled', true);
            }
        }
        //alert(arftype);
        //alert(raisermode);
        //alert(raisercode);
        //alert(raisername);
        //alert(ecfdate);
        //alert(ecfamount);
        //alert(grade);
        //alert(supcode);
        //alert(supname);
        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {

            $('#btnsave').attr('disabled', true);
        }

        else {

            $('#btnsave').attr('disabled', false);
        }

        var txtSupplierName = $("#ddlarftype").val();
        if (txtSupplierName.trim() != "") {
            $("#ddlarftype").removeClass('required');
            $("#ddlarftype").addClass('valid');
        }
        else {
            $("#ddlarftype").removeClass('valid');
            $("#ddlarftype").addClass('required');
        }
    });
    $("#ddlraisermode").change(function () {
        var arftype = $('#ddlarftype').val();
        @*var raisermode = $('#ddlraisermode').val();
        if (raisermode == "1") {
            var emp = $('#_empgid').val();
            var expensen =
    {
        "ecf_employee_gid": emp
    };

            $.ajax({
                url: '@Url.Action("proxylogin", "RaisingInsurance")',

                data: JSON.stringify(expensen),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',

                success: function (data) {

                    $('#_txtsupempcode').val(data.ecf_raisersup);
                    $('#_txtsupempname').val(data.ecf_raisername);
                    $("#_txtsupempcode").removeClass('required');
                    $("#_txtsupempcode").addClass('valid');
                    $("#_txtsupempname").removeClass('required');
                    $("#_txtsupempname").addClass('valid');
                    $('#_btnsearch').attr('disabled', true);
                    $('#ddlarftype').val('Employee');
                    $('#ddlarftype').attr('disabled', true);
                }
            });
        }
        else {
            $('#_txtsupempcode').val('');
            $('#_txtsupempname').val('');
            $("#_txtsupempcode").removeClass('required');
            $("#_txtsupempcode").addClass('valid');
            $("#_txtsupempname").removeClass('required');
            $("#_txtsupempname").addClass('valid');
            $('#_btnsearch').attr('disabled', false);
            $('#ddlarftype').val('---Select---');
            $('#ddlarftype').attr('disabled', false);
        }*@

        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        var txtSupplierName = $("#ddlraisermode").text();
        //if (txtSupplierName.trim() != "") {
        //    $("#ddlraisermode").removeClass('required');
        //    $("#ddlraisermode").addClass('valid');
        //}
        //else {
        //    $("#ddlraisermode").removeClass('valid');
        //    $("#ddlraisermode").addClass('required');
        //}
    });
    $("#_Delmatname").keyup(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        //var txtSupplierName = $("#_Delmatname").text();
        //if (txtSupplierName.trim() != "") {
        //    $("#_Delmatname").removeClass('required');
        //    $("#_Delmatname").addClass('valid');
        //}
        //else {
        //    $("#_Delmatname").removeClass('valid');
        //    $("#_Delmatname").addClass('required');
        //}
    });
    $("#txtraisername").keyup(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        //var txtSupplierName = $("#txtraisername").val();
        //if (txtSupplierName.trim() != "") {
        //    $("#txtraisername").removeClass('required');
        //    $("#txtraisername").addClass('valid');
        //}
        //else {
        //    $("#txtraisername").removeClass('valid');
        //    $("#txtraisername").addClass('required');
        //}
    });
    $("#txtecfdate").change(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        // var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        var txtSupplierName = $("#txtecfdate").val();
        if (txtSupplierName.trim() != "") {
            $("#txtecfdate").removeClass('required');
            $("#txtecfdate").addClass('valid');
        }
        else {
            $("#txtecfdate").removeClass('valid');
            $("#txtecfdate").addClass('required');
        }
    });
    $("#txtecfamount").keyup(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        var txtSupplierName = $("#txtecfamount").val();
        if (txtSupplierName.trim() != "") {
            $("#txtecfamount").removeClass('required');
            $("#txtecfamount").addClass('valid');
        }
        else {
            $("#txtecfamount").removeClass('valid');
            $("#txtecfamount").addClass('required');
        }
    });
    $("#_grade").keyup(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        //var txtSupplierName = $("#_grade").val();
        //if (txtSupplierName.trim() != "") {
        //    $("#_grade").removeClass('required');
        //    $("#_grade").addClass('valid');
        //}
        //else {
        //    $("#_grade").removeClass('valid');
        //    $("#_grade").addClass('required');
        //}
    });
    $("#_txtsupempcode").keyup(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        var txtSupplierName = $("#_txtsupempcode").val();
        if (txtSupplierName.trim() != "") {
            $("#_txtsupempcode").removeClass('required');
            $("#_txtsupempcode").addClass('valid');
        }
        else {
            $("#_txtsupempcode").removeClass('valid');
            $("#_txtsupempcode").addClass('required');
        }
    });
    $("#_txtsupempname").keyup(function () {
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();

        if (arftype == "" || raisermode == "" || raisercode == "" || raisername == "" || ecfdate == "" || ecfamount == "" || grade == "" || supcode == "" || supname == "") {
            $('#btnsave').attr('disabled', true);
        }

        else {
            $('#btnsave').attr('disabled', false);
        }

        var txtSupplierName = $("#_txtsupempname").val();
        if (txtSupplierName.trim() != "") {
            $("#_txtsupempname").removeClass('required');
            $("#_txtsupempname").addClass('valid');
        }
        else {
            $("#_txtsupempname").removeClass('valid');
            $("#_txtsupempname").addClass('required');
        }
    });
    function GetEmployeeDetails() {
        var arftype = $('#ddlarftype').val();
        vartxtcode = $('#_txtsupempcode').val();

        if (arftype == "select") {
            jAlert("Please Select ArfType", "Information")
            return false
        }

        if (vartxtcode == "") {
            //jAlert("Please Enter Emp/Sup Code !", "Information")
            //return false
            //if (arftype == "Employee") {

            //    objDialogforEmployee.load('../RaisingInsurance/GetEmployeeDetail?vartextcode=' + vartxtcode + '&viewfor=edit&' + new Date().getTime());
            //    objDialogforEmployee.dialog({ title: 'Get Employee Information' });
            //    objDialogforEmployee.dialog("open");
            //}
            //if (arftype == "Supplier") {

            //    objDialogforSupplier.load('../RaisingInsurance/GetSupplierDetail?vartextcode=' + vartxtcode + '&viewfor=edit&' + new Date().getTime());
            //    objDialogforSupplier.dialog({ title: 'Get Supplier Information' });
            //    objDialogforSupplier.dialog("open");
            //}

            var url = "@(Html.Raw(Url.Action("SupplierSearch", "RaisingInsurance")))";
            objDialogforSupplier.load(url + '?' + new Date().getTime());
            objDialogforSupplier.dialog({
                title: 'Supplier Search ', 'width': 830, show: 'fade-in', close: 'fade-out', modal: true, cache: false, resizable: false, autoOpen: false, 'height': 510
            });
            objDialogforSupplier.dialog("open");
        }
        else {

            if (arftype == "Employee") {
                objDialogforEmployee.load('../RaisingInsurance/GetEmployeeDetail?vartextcode=' + vartxtcode + '&viewfor=edit&' + new Date().getTime());
                objDialogforEmployee.dialog({ title: 'Get Employee Information' });
                objDialogforEmployee.dialog("open");
            }
            if (arftype == "Supplier") {

                //objDialogforSupplier.load('../RaisingInsurance/GetSupplierDetail?vartextcode=' + vartxtcode + '&viewfor=edit&' + new Date().getTime());
                //objDialogforSupplier.dialog({ title: 'Get Supplier Information' });
                //objDialogforSupplier.dialog("open");
                var url = "@(Html.Raw(Url.Action("SupplierSearch", "RaisingInsurance")))";
                objDialogforSupplier.load(url + '?' + new Date().getTime());
                objDialogforSupplier.dialog({
                    title: 'Supplier Search ', 'width': 830, show: 'fade-in', close: 'fade-out', modal: true, cache: false, resizable: false, autoOpen: false, 'height': 510
                });
                objDialogforSupplier.dialog("open");
            }
        }
    }
    function GetAdvanceDetails() {
        var arftype = $('#ddlarftype').val();
        vartxtcode = $('#_txtsupempcode').val();
        if (arftype == "select") {
            jAlert("Please Select ArfType", "Information")
            return false
        }
        else if (vartxtcode == "") {
            jAlert("Please Enter Emp/Sup Code !", "Information")
            return false
        }
        else if (arftype == "Employee") {

            objDialogforecfempdetails.load('../RaisingInsurance/GetEcfEmployeeDetail?vartextcode=' + vartxtcode);
            objDialogforecfempdetails.dialog({ title: 'Employee Advance Listing Information' });
            objDialogforecfempdetails.dialog("open");
        }
        else if (arftype == "Supplier") {
            objDialogforecfsupdetails.load('../RaisingInsurance/GetEcfSupplierDetail?vartextcode=' + vartxtcode);
            objDialogforecfsupdetails.dialog({ title: 'Supplier Advance Listing Information' });
            objDialogforecfsupdetails.dialog("open");
        }

    }
    function Savereq() {
        
        showProgress();
        var arfdesc = $('#txtecfdesc').val();
        var arftype = $('#ddlarftype').val();
        var raisermode = $('#ddlraisermode').text();
        var raisercode = $('#_Delmatname').text();
        var raisername = $('#txtraisername').text();
        var ecfdate = $('#txtecfdate').val();
        //var ecfamount = $('#txtecfamount').val();
        var ecfamount = $("#txtecfamount").val().replace(/,/g, "");
        var grade = $('#_grade').text();
        var supcode = $('#_txtsupempcode').val();
        var supname = $('#_txtsupempname').val();
        var btnup = $('#btnsave').val();
        if (arftype == "Insurance") {
            arftype = "I";
        }
        //else if (arftype == "Supplier") {
        //    arftype = "S";
        //}
        //else if (arftype == "Petty Cash") {
        //    arftype = "P";
        //}

        // if (raisermode == "0") {
        raisermode = "S";
        // }
        //  else {
        //     raisermode = "P";
        //  }
        //alert(arfdesc);
        //alert(arftype);
        //alert(raisermode);
        //alert(raisercode);
        //alert(raisername);
        //alert(ecfdate);
        //alert(ecfamount);
        //alert(grade);
        //alert(supcode);
        //alert(supname);
        if (arfdesc != "" && arftype != "" && raisermode != "" && raisercode != "" && raisername != "" && ecfdate != "" && ecfamount != "" && grade != "" && supcode != "" && supname != "") {
            //  alert('d');
            var Student = {
                "arf_type": arftype,
                "ecf_create_mode": raisermode,
                "employee_code": raisercode,
                "employee_name": raisername,
                "ecf_date": ecfdate,
                "ecf_amount": ecfamount,
                "grade": grade,
                "supplierheader_suppliercode": supcode,
                "ecfarf_desc": arfdesc,
                "btnupdate": btnup,
                "supplierheader_name": supname
            };
            if (supcode != "" && supname != "") {
                document.getElementById('_txtsupempcode').value = supcode;
                $("#_txtsupempcode").val(supcode);
                $("#_txtsupempname").val(supname);
            }
            $.ajax({
                url: '@Url.Action("SaveRequest", "RaisingInsurance")',
                data: JSON.stringify(Student),
                async: false,
                cache: false,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result != "Can't Proceed This Login Employee") {
                        if (result == "Exists") {
                            if (confirm("Duplicate Record !")) {
                                //InsertPouch();
                                hideProgress();
                                return;
                            }
                        }
                        if (result == "NotExists") {
                            hideProgress();
                            if (supcode != "" && supname != "") {
                                document.getElementById('_txtsupempcode').value = supcode;
                                $("#_txtsupempcode").val(supcode);
                                $("#_txtsupempname").val(supname);
                            }
                            //  jAlert('Record inserted Successfully !', "Error");

                            //location = '../RaisingInsurance/IndexHeader';
                            // $("inhead").load('../RaisingInsurance/IndexHeader');
                            //  $("#arfhed").load('../RaisingInsurance/ArfHeader');
                            $('#txtecfdate').attr('disabled', true);
                            $('#ddlarftype').attr('disabled', true);
                            $('#txtecfamount').attr('disabled', false);
                            $('#txtecfdesc').attr('disabled', false);
                            $("#arfhed").load('@Url.Action("ArfInsHeader", "RaisingInsurance")?' + new Date().getTime());
                        }
                    }
                    else {
                        hideProgress();
                        jAlert(result, "Information");
                        return false;
                    }
                },
            });

        }
        else {
            hideProgress();
            jAlert("Enter All Values", "Information");
        }
    }
</script>

