@using IEM.Areas.MASTERS.Models
@model  IEnumerable<IEM.Areas.MASTERS.Models.iem_mst_delegation>
@using IEM.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 15, canSort: true);
    int id = @grid.PageIndex;
    CmnFunctions cmn = new CmnFunctions();
    int rowVal = 0;
        iem_mst_delegation delmat = (iem_mst_delegation)ViewBag.DelmatypeName;
        }
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
        <b>
            <span style="color: rgb(52, 108, 196);">Delegation Power</span>
        </b>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="myTableStyleTabNew" style="margin-left:-3px;">
                            <tr>
                                <td>
                                    <div class="input-append">
                                        <span> Delegate By  </span>
                                        <br />
                                        <input type="text"
                                               name="filter_delegate_by"
                                               id="txtFilterCode"
                                               value="@ViewBag.delegate_by"
                                               class="form-control"
                                               style="display: block;width:154px;"
                                               autocomplete="off" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-append">
                                        <span> Delegate To</span>
                                        <br />
                                        <input type="text"
                                               name="filter_delegate_to"
                                               id="txtFilterName"
                                               value="@ViewBag.delegate_to"
                                               class="form-control"
                                               style="display: block;width:154px;"
                                               autocomplete="off" />
                                    </div>
                                </td>

                                <td>
                                    <div class="input-append">
                                        <span> Period From</span>
                                        <br />
                                        <input type="text"
                                               name="period_from"
                                               id="txtperiodfromdel"
                                               value="@ViewBag.period_from"
                                               class="form-control"
                                               style="display: block;width:109px;"
                                               autocomplete="off" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-append">
                                        <span> Period To</span>
                                        <br />
                                        <input type="text"
                                               name="period_to"
                                               id="txtperiodtodel"
                                               value="@ViewBag.period_to"
                                               class="form-control"
                                               style="display: block;width:109px;"
                                               autocomplete="off" />
                                    </div>
                                </td>
                                <td style="padding-top:0px;">
                                    <div class="input-append">
                                        <span>Delmat Type</span>
                                        <br />
                                        <select name="Delmat" id="Delmatgid1" class="form-control" style="width: 225px;">
                                            <option value="">-----Select----</option>
                                            @foreach (var pitem in delmat.GetDelmattype)
                                    {
                                        string selectedValue = "";
                                        if (ViewBag.delmatype == pitem.Text)
                                        {
                                            selectedValue = "selected='selected'";
                                        }
                                                <option value="@pitem.Value" @selectedValue>@pitem.Text</option>
                                    }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" formaction="" value="Export Excel" onclick="DownloadExcel()" class="btn btn-warning" style="margin-top:20px;">
                                        <span style="color:white;font-size:12px; " class="glyphicon glyphicon-plus"></span> Export Excel
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="btnsearch" value="Search" name="command" type="submit" style="margin-top:20px;color:white;"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                                </td>
                                <td>

                                    <button class="btn btn-primary" id="btnrefresh" value="Refresh" name="command" type="submit" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Refresh</button>
                                </td>
                                <td>

                                    <button class="btn btn-primary" id="btnclear" onclick="refresh()" value="Clear" name="command" type="submit" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <table class="myTableStyleTabNew" style="float:right;margin-right :3px;margin-top:60px;">
                        <tr>
                            <td>
                                <div style="float:right;padding-right:9px;" class="myTableStyle">
                                    <button type="button" value="New Bank" onclick="NewType()" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-plus"></span> New Delegation</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin-top:2px;">
                    @functions {
                        public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                        {
                            return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                                grid.SortDirection == SortDirection.Ascending ? "▲" :
                                "▼" : string.Empty);
                        }
                    }

                      @grid.GetHtml(
                      htmlAttributes: new { id = "gridelegateion" },
                      tableStyle: "tableSmall table-bordered table-hover table-responsive overflowx",
                      columns: grid.Columns
                        (
                            grid.Columns(grid.Column("SNo", format: item => rowVal = rowVal + 1),
                            grid.Column("temp_delegate_by", cmn.Sorter("temp_delegate_by", "Delegate By", grid)),
                            grid.Column("temp_delegate_to", cmn.Sorter("temp_delegate_to", "Delegate To", grid)),
                            grid.Column("delegate_period_from", cmn.Sorter("delegate_period_from", "Period From", grid)),
                            grid.Column("delegate_period_to", cmn.Sorter("delegate_period_to", "Period To", grid)),
                            grid.Column("temp_delegate_delmattype", cmn.Sorter("temp_delegate_delmattype", "Delmat Type", grid)),
                            grid.Column("delegate_active", cmn.Sorter("delegate_active", "Active", grid)),
                            grid.Column(header: "Action", canSort: false, style: "action",
                            format: @<text>
                                @Html.Raw("<a title='View' onclick='ViewType(" + item.delegate_gid + ")'> <span class='glyphicon glyphicon-eye-open' id='Color'> </span> </a>")
                                @if (item.delegate_bygid == item.employee_gid)
                                {
                                    @Html.Raw("<a title='Edit' onclick='EditType(" + item.delegate_gid + ")'> <span class='glyphicon glyphicon-edit' id='Color'> </span> </a>")
                                }
                                @Html.Raw("<a title='Delete' onclick='DeleteDelegate(" + item.delegate_gid + ")'> <span class='glyphicon glyphicon-trash' id='Color'> </span> </a> ")
                            </text>))))

                            @if (ViewBag.Message != null)
                             {  <div align="center" class="borderStyle">
                                <h6 class="row" style="font-weight:bold ;">
                                    @ViewBag.Message
                                 </h6>
                                </div>
                        }
                </div>
                <br />
                @if (ViewBag.Message == null)
        {
                    <div style="margin-left:-8px;">
                        <span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount</span>  <span class="myTableStyleTabNew"> - Total No Of Records:@grid.TotalRowCount</span>
                    </div>
        }
            </div>
}
        <div id="ForPartialViewfordelegation"></div>

        <script type="text/javascript">
            var objDialog;

            $(document).ready(function () {

                $(function () {
                    $("#txtFilterCode").focus();
                });

                $("#txtFilterCode").focus();
                $("#txtFilterCode").keypress(function (event) {
                    return isSplAlphaNumeric(event, this);
                });
                $("#txtFilterName").focus();
                $("#txtFilterName").keypress(function (event) {
                    return isSplAlphaNumeric(event, this);
                });

                var tr = $("#gridelegateion").find('tr');
                $("#gridelegateion tr #Color").click(function () {
                    $('#gridelegateion').find('tr').css('background', 'none');
                    $(this).closest('tr').css('background', '#CEECF5');
                });
            });

            $(document).ready(function () {
                objDialog = $("[id$='ForPartialViewfordelegation']");
                objDialog.dialog({
                    autoOpen: false,
                    modal: true,
                    show: 'fade-in',
                    close: 'fade-out',
                    width: 450,
                    resizable: false
                });

            });

            $(document).ready(function () {
                $("#txtperiodfromdel").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    maxDate: '-id',
                    dateFormat: 'dd-mm-yy'
                });

                $("#txtperiodtodel").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    maxDate: '-id',
                    dateFormat: 'dd-mm-yy'
                });
            });

            function NewType() {
                objDialog.load('../IEM_MST_DELEGATION/Create?' + new Date().getTime());
                objDialog.dialog({ title: 'Add Deleagtion' });
                objDialog.dialog("open");
            }
            function EditType(id) {
                objDialog.load('../IEM_MST_DELEGATION/Edit?id=' + id + '&viewfor=edit&' + new Date().getTime());
                objDialog.dialog({ title: 'Edit Delegation' });
                objDialog.dialog("open");
            }
            function ViewType(id) {
                objDialog.load('../IEM_MST_DELEGATION/Edit?id=' + id + '&viewfor=view&' + new Date().getTime());
                objDialog.dialog({ title: 'View Delegation' });
                objDialog.dialog("open");
            }
            function DeleteDelegate(id) {
                objDialog.load('../IEM_MST_DELEGATION/Edit?id=' + id + '&viewfor=delete&' + new Date().getTime());
                objDialog.dialog({ title: 'Delete Delegation' });
                objDialog.dialog("open");
            }
            function DownloadExcel() {
                var UrlDet = "@Url.Action("DownloadExcel", "IEM_MST_DELEGATION")"
                ko.utils.postJson(UrlDet + '?ViewType=9&FileName=Delegation&' + new Date().getTime());
            }

            function refresh() {
                location = '../IEM_MST_DELEGATION/Index';
            }


        </script>
