@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.report
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.rep,
                         canPage: true,
                         rowsPerPage: 20,
                         canSort: true,
                         ajaxUpdateContainerId: "grid"
                       );
    int id = @grid.PageIndex;
    }
<b>
    <span style="color: rgb(52, 108, 196);"> PV Import File Query</span>
</b>
<br /><br />
<div class="well">
    <div class="row">
        <div class="col-sm-9">
            @using (Html.BeginForm())
            {
                <table class="myTableStyleTabNew" style="margin-left:-03px;">
                    <tr>
                        <td>
                            <div>
                                <span> Year </span>
                                <br />
                                <input type="text"
                                       name="year"
                                       id="txtyear"
                                       value="@ViewBag.year"
                                       class="textboxStyleSearch" maxlength="20" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span> Asset ID</span>
                                <br />
                                <input type="text"
                                       name="assetid"
                                       id="txtassetid"
                                       value="@ViewBag.assetid"
                                       class="textboxStyleSearch" maxlength="20" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span> Location </span>
                                <br />
                                <input type="text"
                                       name="location"
                                       id="txtlocation"
                                       value="@ViewBag.location"
                                       class="textboxStyleSearch" maxlength="20" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span> Barcode No</span>
                                <br />
                                <input type="text"
                                       name="barcodeno"
                                       id="txtbarcodeno"
                                       value="@ViewBag.barcodeno"
                                       class="textboxStyleSearch" maxlength="20" />
                            </div>
                        </td>
                        <td>
                            <span> </span>
                            <br />
                            <button class="btn btn-primary" type="submit" name="command" value="SEARCH"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <br />
    <div >
        @grid.GetHtml(
        fillEmptyRows: false,
        tableStyle: "tableSmall table-bordered aligncenter",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
              grid.Column("yr", obj.Sorter("yr", "Year", grid), style: "col-lg-2"),
              grid.Column("assetCode", obj.Sorter("assetCode", "Asset Code", grid), style: "col-lg-2"),
              grid.Column("assetid1", obj.Sorter("assetid1", "Asset ID", grid), style: "col-lg-2"),
              grid.Column("assetDesc", obj.Sorter("assetDesc", "Asset Description", grid), style: "col-lg-2"),
              grid.Column("remarks", obj.Sorter("remarks", " Remarks", grid), style: "col-lg-2"),
              grid.Column("filename", obj.Sorter("filename", " File Name", grid), style: "col-lg-2"),
              grid.Column("pvdate", obj.Sorter("pvdate", " PV Date", grid), style: "col-lg-2"),
              grid.Column("loccode", obj.Sorter("loccode", " Location Code", grid), style: "col-lg-2"),
              grid.Column("barcodeno", obj.Sorter("barcodeno", " Barcode No", grid), style: "col-lg-2"),
              grid.Column("status1", obj.Sorter("status1", "Status", grid))))
        <div class="table-bordered btnCenter" align="center">
            <b> @ViewBag.Message </b>
        </div>
        <br />
        <div class="myTableStyleTabNew">
            <span>  Total No Of Records :@Model.rep.Count</span>
        </div>
    </div>
</div>