@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .SortText span {
        color: white;
        font-size: x-small;
    }
</style>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>
<span class="pageHeading">PO Report</span>
<div ng-app="PORPTApp">
    <div class="well" ng-controller="PORPTController" style="padding-bottom:50px;">
        <div style="width:100%;">
            <table class="myTableStyleTabpopup">
                <tr>
                    <td>
                        <span>CBF Number</span><br />
                        <input type="text"  ng-model="search1.CBFNumber" class="textboxStyle100" />
                    </td>
                    <td>
                        <span>PO Number</span><br />
                        <input type="text" ng-model="search1.PONumber" class="textboxStyle100" />
                    </td>
                    <td>
                        <span>PO From Date</span><br />
                        <input type="text" id="txtPOFrom" ng-model="search1.PODate" class="textboxStyle100" />
                    </td>
                    <td>
                        <span>PO To Date</span><br />
                        <input type="text" id="txtPOTo" ng-model="search1.POExpiryDate" class="textboxStyle100" />
                    </td>
                    <td style="vertical-align:bottom">
                        <button class="btn-sm btn-primary" style="float:right" ng-click="SearchPO()">
                            <span style="color:white;font-size:x-small" class="glyphicon glyphicon-search"></span>
                            Search
                        </button>
                    </td>
                    <td style="vertical-align:bottom" ng-show="filtered.length>0">
                        <button class="btn-sm btn-primary" style="float:right" ng-click="ExportDoc()">
                            <span style="color:white;font-size:x-small" class="glyphicon glyphicon-export"></span>
                            Export to Excel
                        </button>
                    </td>
                    <td style="vertical-align:bottom" ng-show="filtered.length>0">
                        <button class="btn-sm btn-primary" style="float:right" ng-click="ClearDoc()">
                            <span style="color:white;font-size:x-small" class="glyphicon glyphicon-remove-circle"></span>
                            Clear
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width:100%">
            @*<div style="width:45%;float:left;">
                Search &nbsp;  <input type="text" ng-model="search.$" style="width:80%;" placeholder="Enter Search Criteria..." />
            </div>*@
            <div style="width:45%;float:left;display:none;">
                Items Per Page &nbsp;&nbsp;
                <select ng-model="entryLimit">
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                </select>
             
            </div>
        </div>
        <div style="width:100%;overflow-x:scroll;" id="divData">
            <div style="width:100%;">
                <table class="tableSmall table-bordered table-hover table-responsive" id="tblExpp">
                    <thead>
                        <tr>
                            <th style="width:3%;">
                                S.No
                            </th>
                            <th style="width:5%;">
                                CBF Number
                            </th>
                            <th style="width:4%;">
                               Based On
                            </th>
                            <th style="width:7%;">
                               Line Item
                            </th>
                            <th style="width:25%;">
                                Vendor Name
                            </th>
                            <th style="width:16%;">
                                PO Number
                            </th>
                            <th style="width:10%;">
                                PO Date
                            </th>
                            <th style="width:10%;">
                                PO Month
                            </th>
                            <th style="width:15%;">
                                Item
                            </th>
                            <th style="width:15%;">
                                Product Classification
                            </th>
                            <th style="width:10%;">
                                Assest Code
                            </th>
                            <th style="width:20%;">
                                Product Description
                            </th>
                            <th style="width:10%;">
                                UOM
                            </th>
                            <th style="width:7%;">
                                Qty
                            </th>
                            <th style="width:16%;">
                                Unit Price
                            </th>
                            <th style="width:16%;">
                                Total Price
                            </th>
                            <th style="width:15%;">
                                PO Status (by Procurement Team)
                            </th>
                            <th style="width:15%;">
                                Procurment Remark
                            </th>
                            <th style="width:15%;">
                                Expecting Invoice Date
                            </th>
                            <th style="width:15%;">
                                PO Expiry date
                            </th>
                            <th style="width:15%;">
                                Location
                            </th>
                            <th style="width:15%;">
                                Business/Department
                            </th>
                            <th style="width:7%;">
                                BSCC
                            </th>
                            <th style="width:15%;">
                                Branch Code
                            </th>
                            <th style="width:10%;">
                                REGION
                            </th>
                            <th style="width:7%;">
                                Nature
                            </th>
                            <th style="width:10%;">
                                Budget Line No
                            </th>
                            <th style="width:15%;">
                                Project Manager
                            </th>
                            <th style="width:15%;">
                                Category
                            </th>
                            <th style="width:15%;">
                                Sub Category
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-show="filtered.length>0" ng-repeat="item in (filtered = (items| filter:search)) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <tr>
                            <td style="width:3%;" align="center">
                                {{item.SNo}}
                            </td>
                            <td style="width:5%;">
                                {{item.CBFNumber}}
                            </td>
                            <td style="width:4%;">
                                {{item.BasedOn}}
                            </td>
                            <td style="width:7%;">
                                {{item.LineItem}}
                            </td>
                            <td style="width:25%;">
                                {{item.VendorName}}
                            </td>
                            <td style="width:16%;">
                                {{item.PONumber}}
                            </td>
                            <td style="width:10%;">
                                {{item.PODate}}
                            </td>
                            <td style="width:10%;">
                                {{item.POMonth}}
                            </td>
                            <td style="width:15%;">
                                {{item.Item}}
                            </td>
                            <td style="width:15%;">
                                {{item.ProductClassification}}
                            </td>
                            <td style="width:10%;">
                                {{item.AssestCode}}
                            </td>
                            <td style="width:20%;">
                                {{item.ProductDescription}}
                            </td>
                            <td style="width:10%;">
                                {{item.UOM}}
                            </td>
                            <td style="width:7%;">
                                {{item.Qty}}
                            </td>
                            <td style="width:16%;">
                                {{item.UnitPrice}}
                            </td>
                            <td style="width:16%;">
                                {{item.TotalPrice}}
                            </td>
                            <td style="width:15%;">
                                {{item.POStatus}}
                            </td>
                            <td style="width:15%;">
                                {{item.ProcurmentRemark}}
                            </td>
                            <td style="width:15%;">
                                {{item.ExpectingInvoicedate}}
                            </td>
                            <td style="width:15%;">
                                {{item.POExpiryDate}}
                            </td>
                            <td style="width:15%;">
                                {{item.Location}}
                            </td>
                            <td style="width:15%;">
                                {{item.Department}}
                            </td>
                            <td style="width:7%;">
                                {{item.BSCC}}
                            </td>
                            <td style="width:15%;">
                                {{item.Branch}}
                            </td>
                            <td style="width:10%;">
                                {{item.Region}}
                            </td>
                            <td style="width:7%;">
                                {{item.Nature}}
                            </td>
                            <td style="width:10%;">
                                {{item.BudgetLineNo}}
                            </td>
                            <td style="width:15%;">
                                {{item.ProjectManager}}
                            </td>
                            <td style="width:15%;">
                                {{item.Category}}
                            </td>
                            <td style="width:15%;">
                                {{item.SubCategory}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="filtered.length==0">
                        <tr>
                            <td colspan="31" style="text-align:left;padding-left:20px;">
                                No Records Found
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
        <div style="width:100%;">
            <div ng-show="filtered.length>0">
                <table style="width:100%;">
                    <tr>
                        <td style="color:#337ab7;font-weight:bold; padding-left:10px" align="left"> Total Records : <span>{{filtered.length}} </span> of <span>{{totalItems}} </span>  </td>
                        <td align="right">
                            <pagination total-items="filtered.length"
                                        ng-model="currentPage"
                                        page="currentPage"
                                        max-size="noofsetpages"
                                        boundary-links="true"
                                        items-per-page="entryLimit" class="pagination-sm" style="cursor:pointer;">
                            </pagination>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @*<iframe id="txtArea1" style="display:none"></iframe>
        <button id="btnExport" onclick="fnExcelReport();"> EXPORT </button>*@
</div>
<script type="text/javascript">
    var queryApp = angular.module('PORPTApp', ['ui.bootstrap']);
    queryApp.controller('PORPTController', ['$scope', '$http', '$filter', function ($scope, $http, $filter) {
        $scope.items = [];
        $scope.currentPage = 1;
        $scope.totalItems = $scope.items.length;
        $scope.entryLimit = 10;
        $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
        $scope.noofsetpages = 5;
        //hideProgress();
        $scope.SearchPO = function () {
            showProgress();
            var cbfnum = "",ponum = "",podate = "",poenddate="";
           
                if ($scope.search1.CBFNumber == null || $scope.search1.CBFNumber == "" || $scope.search1.CBFNumber == "undefined")
                    cbfnum = "null";
                else
                    cbfnum = $scope.search1.CBFNumber;
                if ($scope.search1.PONumber == null || $scope.search1.PONumber == "" || $scope.search1.PONumber == "undefined")
                    ponum = "null";
                else
                    ponum = $scope.search1.PONumber;
                if ($scope.search1.PODate == null || $scope.search1.PODate == "" || $scope.search1.PODate == "undefined")
                    podate = "null";
                else
                    podate = $scope.search1.PODate;
                if ($scope.search1.POExpiryDate == null || $scope.search1.POExpiryDate == "" || $scope.search1.POExpiryDate == "undefined")
                    poenddate = "null";
                else
                    poenddate = $scope.search1.POExpiryDate;
          $http.get('../Print/GetPORptData?cbfnumber=' + cbfnum + '&ponumber=' + ponum + '&podate=' + podate + '&poenddate=' + poenddate + '&' + new Date().getTime())
         .then(function (response) {
             $scope.items = JSON.parse(response.data.data0);
             $scope.search = {};
             $scope.resetFilters = function () {
                 $scope.search = {};
             };
             $scope.currentPage = 1;
             $scope.totalItems = $scope.items.length;
             $scope.entryLimit = 10;
             $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
             $scope.noofsetpages = 5;
             $scope.$watch('search', function (newVal, oldVal) {
                 $scope.filtered = $filter('filter')($scope.items, newVal);
                 $scope.totalItems = $scope.filtered.length;
                 $scope.noOfPages = Math.ceil($scope.filtered.length / $scope.entryLimit);
                 $scope.currentPage = 1;
                 $scope.noofsetpages = 5;
             }, true);
             hideProgress();
         })
            .catch(function (response) {
                hideProgress();
                jAlert('ERRORm : ' + response.status + '\r\n' + response.config.url + '\r\n' + response.statusText, "Information");
                return false;
                //alert('ERRORm : ' + response.status + '\r\n' + response.config.url + '\r\n' + response.statusText);
                console.error('Gists error', response.status, response.data);
            })
        .finally(function () {
            hideProgress();
            console.log("finally finished gists");
        });
        }
        $scope.ExportDoc = function () {
            //  showProgress();
            var cbfnum = "",ponum = "",podate = "",poenddate="";
            if ($scope.search1.CBFNumber == null || $scope.search1.CBFNumber == "" || $scope.search1.CBFNumber == "undefined")
                    cbfnum = "null";
                else
                cbfnum = $scope.search1.CBFNumber;
            if ($scope.search1.PONumber == null || $scope.search1.PONumber == "" || $scope.search1.PONumber == "undefined")
                    ponum = "null";
                else
                ponum = $scope.search1.PONumber;
            if ($scope.search1.PODate == null || $scope.search1.PODate == "" || $scope.search1.PODate == "undefined")
                    podate = "null";
                else
                podate = $scope.search1.PODate;
            if ($scope.search1.POExpiryDate == null || $scope.search1.POExpiryDate == "" || $scope.search1.POExpiryDate == "undefined")
                    poenddate = "null";
                else
                poenddate = $scope.search1.POExpiryDate;
                location = '@Url.Action("DTtoExcellPORpt", "Print")?cbfnumber=' + cbfnum + '&ponumber=' + ponum + '&podate=' + podate + '&poenddate=' + poenddate + '&' + new Date().getTime();
            //hideProgress();
        }
        $scope.ClearDoc = function () {
            $scope.search1.CBFNumber = "";
            $scope.search1.PONumber = "";
            $scope.search1.PODate = "";
            $scope.search1.POExpiryDate = "";

            $scope.items = {};
            $scope.filtered = {};
            $scope.totalItems = $scope.filtered.length;
            $scope.noOfPages = Math.ceil($scope.filtered.length / $scope.entryLimit);
            $scope.currentPage = 1;
            $scope.noofsetpages = 5;
        }
    }]);
    queryApp.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        }
    });
    $(document).ready(function () {
        var objDate = new Date();
        var Presentyear = objDate.getFullYear();
        var MinYear = parseInt(Presentyear) - 50;
        var MaxYear = parseInt(Presentyear) + 50;
        $("#txtPOTo,#txtPOFrom").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: MinYear + ':' + MaxYear,
          //  currentText: "Now",
          //  maxDate: 0,
            dateFormat: "dd-MM-yy"
        });
    });
</script>