@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity
@{
    ViewBag.Title = "CbfVendorselection";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var viewfor = (string)ViewBag.viewfor;
    var grid = new WebGrid(source: Model.cbfCheckerDetails, canPage: true, canSort: true, rowsPerPage: 1, ajaxUpdateContainerId: "cbfdetails", ajaxUpdateCallback: "Dummycbf()");


}
<br />
<br />
<div class="well">
    <input type="hidden" id="idPRPARChecker" value="@Model.cbfCheckerHeader.cbfModeChecker" />
    <input type="hidden" id="idisbudjChecker" name="hidparent" value="@Model.cbfCheckerHeader.budgetedchecker" />
    <input type="hidden" id="lblittypeChecker" value="@Model.cbfCheckerHeader.requestTypeChecker" />
    <input type="hidden" id="idcbftypeChecker" name="productID" value="@Model.cbfCheckerHeader.cbfTypeChecker" />
    <input type="hidden" id="idbranchChecker" value="@Model.cbfCheckerHeader.branchTypeChecker" />
    <input type="hidden" id="checkergid" value="@Model.cbfCheckerHeader.cbfGidChecker" />
     <span style="color:rgb(52,108,196);"> CBF header</span>
    @using (Html.BeginForm())
    {
        <div class="borderStyle panel panel-default ">
     
                <table class="myTableStyleTabNew" width="100%" >
                    <tr>
                        <td style="padding:10px;">
                            <span>CBF Number</span>
                            <br />
                            <input type="text"
                                   name="txtcbfno"
                                   class="textboxStyle"
                                   value=@Model.cbfCheckerHeader.cbfNoChecker
                                   disabled="disabled"
                                   id="cbf_no" />
                        </td>
                      
                        <td style="padding:10px;">
                            <span>CBF Date</span>
                            <br />
                            <input type="text"
                                   id="cbfdate_id"
                                   value=@Model.cbfCheckerHeader.cbfDateChecker
                                   disabled="disabled"
                                   maxlength="10"
                                   class="textboxStyle valid" @ViewBag.viewmode />

                        </td>
                       
                        <td style="padding:10px;">
                            <span>CBF End Date</span>
                            <br />
                            <input type="date"
                                   name="cbfenddate"
                                   id="cbfendate_id"
                                   value="@Model.cbfCheckerHeader.cbfEndDateChecker"
                                   disabled="disabled"
                                   maxlength="10"
                                   class="textboxStyle valid" @ViewBag.viewmode />
                        </td>

                    
                        <td style="padding:10px;">

                            <span>CBF Amount</span>
                            <br />
                            <input type="text"
                                   name="txt_cbfamount"
                                   class="textboxStyle valid "
                                   style="display:block"
                                   value="@Model.cbfCheckerHeader.cbfAmtChecker"
                                   disabled="disabled"
                                   readonly="readonly"
                                   id="cbf_amt"
                                   maxlength="16"
                                   width="100" @ViewBag.viewmode />

                        </td>

                       
                        <td style="padding:10px;">
                            <span>Deviation Amount</span>
                            <br />
                            <input type="text"
                                   name="txtcbfdev_amt"
                                   disabled="disabled"
                                   value="@Model.cbfCheckerHeader.deviationAmtChecker"
                                   class="textboxStyle valid"
                                   style="display:block"
                                   maxlength="16"
                                   id="cbf_dev"
                                   width="100" @ViewBag.viewmode />

                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">
                            <div id="ddlprojectowner">
                                <span>Project Owner</span>
                                <br />
                                @Html.DropDownList("ProductType", Model.projectOwner1, "--Select Project Owner--", new { @class = "textboxStyle valid", @id = "ProductType", @disabled = "disabled" })
                            </div>
                        </td>
                      
                        <td style="padding:10px;">
                            <div id="ddlbranchcode">
                                <span>CBF Branch Code</span>
                                <br />
                                @Html.DropDownList("dropbranch", Model.branchCode1, "--Select Brachcode--", new { @class = "textboxStyle valid", @id = "dropbranch", @disabled = "disabled" })
                            </div>
                        </td>
                        
                        <td style="padding:10px;">
                            <div id="ddlrequestfor" @ViewBag.viewmode>
                                <span>Request For</span>
                                <br />
                                @Html.DropDownList("Request", Model.requestFor, "--Select Request for--", new { @class = "textboxStyle valid", @id = "Request", @disabled = "disabled" })
                            </div>
                        </td>
                       
                      
                        <td colspan="2" style="padding:10px;">
                            <span>Justification</span>
                            <br />
                            <div>
                                <input type="text"
                                       name="txt_justification"
                                       class="textboxStyleBig valid"
                                       disabled="disabled"
                                       maxlength="264"
                                       value="@Model.cbfCheckerHeader.justficationChecker"
                                       style="display:block;width:500px;"
                                       id="justification" />
                            </div>
                        </td>

                       
                    </tr>
                    <tr>
                        <td style="padding:10px;">
                            <span>CBF Approval</span>
                            <br />
                            <div style="margin-top:5px;">
                                <input type="radio" id="id_rdappreg" name="approvaltype" value="Regular" checked="checked" disabled="disabled" />
                                Regular
                                <input type="radio" id="id_rdapplater" name="approvaltype" value="Approval Later" disabled="disabled" />
                                Approval Later
                            </div>
                        </td>
                       
                        <td style="padding:10px;">
                            <span>Budgeted</span>
                            <br />
                            <div style="margin-top:5px;">
                                <input type="radio" id="id_rdbudjected" name="Budgeted" value="Y" checked="checked" disabled="disabled" />
                                Yes
                                <input type="radio" id="id_rdunbudjected" name="Budgeted" value="N" disabled="disabled" />
                                No
                            </div>

                        </td>

                        
                        <td style="padding:10px;">
    <span>Branch Type</span>
    <br />
    <div style="margin-top:5px;">
        <input type="radio" id="id_rdbranchtype" name="Branchtype" value="Y" checked="checked" disabled="disabled" />
        Single
        <input type="radio" id="id_rdbrachmultir" name="Branchtype" value="N" disabled="disabled" />
        Multiple
    </div>
</td>
                        <td style="padding:10px;">
                            <span>Type</span>
                            <br />
                            <div id="ittype" style="margin-top:5px;">
                                <input type="radio" id="id_rdapp" name="itapplication" value="Y" checked="checked" disabled="disabled" />
                                Application
                                <input type="radio" id="id_rdinfar" name="itapplication" value="N" disabled="disabled" />
                                Infrastructure
                            </div>
                        </td>

                        <td style="vertical-align:top;">
                            <span>CBF Mode</span>
                            <br />
                            <div style="margin-top:5px;">
                                <input type="radio" id="id_rdpar" disabled="disabled" name="mode" value="PAR" checked="checked" />
                                PAR
                                <input type="radio" id="id_rdpr" disabled="disabled" name="mode" value="PR" />
                                PR
                            </div>
                        </td>
                       
                    </tr>
                    <tr>
                        <td style="padding:10px;" colspan="5" align="left">
                            <span>Description</span>
                            <br />
                            <div>
                                <input type="text"
                                       name="txt_description"
                                       class="textboxStyleBig valid "
                                       value="@Model.cbfCheckerHeader.descriptionChecker"
                                       disabled="disabled"
                                       style="display:block;width:400px;"
                                       maxlength="264"
                                       id="description_id" />
                            </div>
                        </td>
                      
                        @*<td colspan="5" style="text-align:right;">
                            <br />
                            <button class="btn btn-primary"
                                    type="button"
                                    name="command"
                                    value="Attchment"
                                    onclick="Newboq()">
                                View BOQ
                            </button>
                        </td>*@
                    </tr>
                </table>
           
        </div>
        <div>
            @Html.Partial("CbfVendorDetails")
        </div>
        <div id="viewboqattachment">
        </div>
        <div id="Raiserticket">
        </div>

    <div id="tabsat" style="height:400px;">
        <ul>

            <li><a href="#tabs1-1">Attachments</a></li>
        </ul>

        <div id="tabs1-1">
            @Html.Partial("Viewboqattachment")
        </div>

    </div>


         <br /> <br />
        <input id="hidden" type="hidden" value="">
         <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
        <div @*style="padding:10px 10px 0px 0px;text-align:center;"*@>
            <button type="button"name="command" class="btn btn-success" onclick="Save()" value="Submit">
                <span class="glyphicon glyphicon-floppy-saved" style="color:white;"></span> Submit
            </button>
            &nbsp;
            <button type="button"class="btn btn-warning" value="Back" onclick="Back()">
                <span style="color:white;" class="glyphicon glyphicon-eye-close"></span> Back
            </button>
            @*<input type="button" class="btn btn-success" value="Submit" onclick="Save()" />
            <input type="button" class="btn btn-warning " value="Cancel" onclick="Back()" />*@
        </div></td></tr></table>
     <div id="dategid"></div>
    }
</div>
<div id="forficcnew"></div>
<script>

    var currentTab4 = 0;
    $(function () {
        $("#tabsat").tabs({
            select: function (e, i) {
                currentTab4 = i.index;
            }
        });
    });
    var objDialogforboq;
    var objDialogforraiserticket;
    $(document).ready(function () {

        objDialogforboq = $("[id$='viewboqattachment']");
        objDialogforboq.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 1000,
            height: 600
        });

    });
    function Newboq() {
      
        var id = "";
        objDialogforboq.load('../CBFVendorSelection/Viewboqattachment?lsCbfAttach=' + id);
        objDialogforboq.dialog({ title: 'View BOQ Attachment' });
        objDialogforboq.dialog("open");
    }
    function Save() {
        debugger;
          
        var result = 0;
        $("#grid2 tbody tr").each(function () {
            var vendorname = $(this).find($("input[name$=hidSelectedVendor]")).val();
            if (vendorname != null && vendorname.toString().trim() != "") {
                result = 1;
            }
        });

        //var existrow = $('.save-btn').is(':visible');
        //if (existrow == true) {
        //    jAlert("Please Save the Selected Vendor", "Message");
        //    return false;
        //}
        //if (result == 0) {


        //    var existrow = $('.save-btn').is(':visible');
        //    if (existrow == true) {
        //        jAlert("Please Save the Selected Vendor", "Message");
        //        return false;
        //    }
        //    else {

        //        jAlert("Please Select Vendor Name(Atleast One Row In CBF Details Grid)", "Error", function () {
        //            return false;

        //        });
        //    }
        //    return false;
        //}

        $.post('../CBFVendorSelection/Save',
                function (data) {

                    if (data != "Inserted Successfully") {
                        jAlert("Vendor Name Must be Save in Action", "Error", function () {
                            return false;
                        });
                        return false;
                    } else {
                        jAlert("Submit Successfully", "Success");
                        //location = '../CBFVendor/CBFvendorsummary';
                        location = '@Url.Action("VendorSelectionScreen", "Print")';
                    }
                }, 'json');
    }
    if ('@Model.cbfCheckerHeader.cbfModeChecker' == 'PR') {

        $('#id_rdpr').attr('checked', true);
    }
    else {
        $('#id_rdpar').attr('checked', true);
    }

    if ('@Model.cbfCheckerHeader.budgetedchecker' == 'Y') {
        $('#id_rdbudjected').attr('checked', true);
    }
    else {
        $('id_rdunbudjected').attr('checked', true);
    }

    if ('@Model.cbfCheckerHeader.requestTypeChecker' == 'A') {
        $('#id_rdapp').attr('checked', true);
    }
    else {
        $('#id_rdinfar').attr('checked', true);
    }

    if ('@Model.cbfCheckerHeader.cbfTypeChecker' == 'R') {
        $('#id_rdappreg').attr('checked', true);
    }
    else {
        $('#id_rdapplater').attr('checked', true);
    }
    if ('@Model.cbfCheckerHeader.branchTypeChecker' == 'Y') {
        $('#id_rdbranchtype').attr('checked', true);

    }
    else {
        $('#id_rdbrachmultir').attr('checked', true);
    }
    function Back()
    {
        location='@Url.Action("VendorSelectionScreen", "Print")';
    }
</script>
