@model IEM.Areas.EOW.Models.EOW_TravelClaim
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<div id="createTravelmoceqwer">
    @using (Html.BeginForm())
    {
        <div style="padding:0;margin:0;">
            <input type="hidden" id="ecfamomtssessiono" value="@Session["Ecfamountvaloe"]" />
            <table class="myTableStyleTabNew" style="width: 100%;">
                <tr>
                    <td style="width: 33%;">
                        <span>Nature of Expenses</span><br />
                        @Html.DropDownListFor(model => model.NatureofExpensesId, Model.ExpNatureofExpdata, new { @class = "textboxStyle required", @id = "ddlNatureofExpensesto" })
                    </td>
                    <td style="width: 33%;">
                        <span>Expense Category</span><br />
                        @Html.DropDownListFor(model => model.ExpenseCategoryId, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyle required", @id = "ddlExpenseCategoryto" })
                    </td>
                    <td style="width: 35%;">
                        <span>Sub Category</span><br />
                        @Html.DropDownListFor(model => model.SubCategoryId, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "wht textboxStyle required", @id = "ddlSubCategoryto" })
                    </td>
                    <td style="width:10%">
                        <span>&nbsp;</span><br />
                        <input type="button" value="?" style="margin-top: 5px;" disabled="disabled" id="Getpolicypopup" onclick="Newpolicypopup()" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Place From</span><br />
                        @Html.DropDownListFor(model => model.PlaceFrom, Model.Citydata, "--Select--", new { @class = "textboxStyle required", @id = "ddlPlaceFromto" })
                    </td>
                    <td>
                        <span>Claim Period From</span><br />
                        @Html.TextBoxFor(model => model.ClaimPeriodFrom, new { disable = true, @class = "textboxStyle required", @id = "txtClaimPeriodFromto1", @maxlength = "10", @placeholder = "dd-mm-yyyy" })
                    </td>
                    <td colspan="2">
                        <span>Claim Period To</span><br />
                        @Html.TextBoxFor(model => model.ClaimPeriodTo, new { disable = true, @class = "textboxStyle required", @id = "txtClaimPeriodToto1", @maxlength = "10", @placeholder = "dd-mm-yyyy" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>FC</span><br />
                        @Html.DropDownListFor(model => model.FC, Model.Exp_FCC, new { @class = "textboxStyle ", @id = "txtFCto" })
                    </td>
                    <td>
                        <span>CC</span><br />
                        @Html.DropDownListFor(model => model.CC, Model.Exp_CCC, new { @class = "textboxStyle ", @id = "txtCCto" })
                    </td>
                    <td colspan="2">
                        <span>FCCC Code</span><br />
                        @Html.TextBoxFor(model => model.Exp_FCCC, new { disable = true, @class = "textboxStyle", @id = "txtFCCC", @maxlength = "58", @disabled = "disabled" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Product Code</span><br />
                        @Html.TextBoxFor(model => model.ProductCode, new { disable = true, @class = "textboxStyle", @id = "txtProductCodeto", @maxlength = "8" })
                    </td>
                    <td>
                        <span>OUCode</span><br />
                        @Html.TextBoxFor(model => model.OUCode, new { disable = true, @class = "textboxStyle", @id = "txtOUCodeto", @maxlength = "8" })

                    </td>
                    <td colspan="2">
                        <span>Amount</span><br />
                        @Html.TextBoxFor(model => model.Amount, new { disable = true, @class = "textboxStyle required", @id = "txtAmountto", @onkeypress = "return isAmount(event);", @maxlength = "15" })

                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <span>Description</span><br />
                        @Html.TextAreaFor(model => model.travelDescription, new { disable = true, @class = "textboxStyle txtarea", @id = "txttravelDescriptiony", @maxlength = "250" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;" colspan="4" align="center">
                        <center>
                            <button type="button" title="Save" disabled="disabled" name="Save" id="btnsavexpu" class="btn btn-primary" onclick="SaveotherTravelmode()"><span style="color:white;" class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                            <button type="button" id="btncanexpu" title="Cancel" name="Cancel" class="btn btn-warning" onclick="GotoIndexotherExpense()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span>Cancel</button>
                        </center>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
<style>
    .wht {
        width: 100%;
    }

    .txtarea {
        width: 96.4%;
        height: 70px;
        resize: none;
    }
</style>

<script>
    $(document).ready(function () {
        $("#txtClaimPeriodFromto1").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxDate: '-id',
            numberOfMonths: 1,
            onSelect: function (selected) {
                $("#txtClaimPeriodFromto1").addClass('valid');
                $("#txtClaimPeriodTo1").datepicker("option", "minDate", selected);
                cheval();
            }
        });
        $("#txtClaimPeriodToto1").datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate: '-id',
            dateFormat: 'dd-mm-yy',
            numberOfMonths: 1,
            onSelect: function (selected) {
                $("#txtClaimPeriodToto1").addClass('valid');
                $("#txtClaimPeriodFromto1").datepicker("option", "maxDate", selected);
                var txtContractFrom = $("#txtClaimPeriodToto1").val();
                cheval();
            }
        });
    });

    function Newpolicypopup() {
        var SubCategory = $("#ddlSubCategoryto").val();
        if (SubCategory != "0") {
            var url = '@Url.Action("_Emppolicypopup", "TravelClaimNew")?id=' + SubCategory + '&' + new Date().getTime();
            objDialogpolicypopupce.load(url);
            objDialogpolicypopupce.dialog({
                autoOpen: false,
                cache: false,
                modal: true,
                show: 'fade-in',
                close: 'fade-out',
                title: 'Policy Help',
                width: 860,
                height: 400,
                open: function (event, ui) {
                    $('.ui-dialog').css('z-index', 1003);
                    $('.ui-widget-overlay').css('z-index', 1002);
                }

            });
            objDialogpolicypopupce.dialog("open");
        }
    }

    function GotoIndexotherExpense() {
        //objDialogTravelmodenew.remove();
        objDialogOtherTravelmodenew.dialog("close");
        window.parent.jQuery('#ForPartialViewOtherTravelExpensenew').dialog('close');
    }

    function SaveotherTravelmode() {
        var ecfamomtssession = $("#ecfamomtssessiono").val();
        if (ecfamomtssession == null || ecfamomtssession == "0") {
            jAlert("The ECF Amount is Zero....", "Message");
            return false;
        }
        var NatureofExpenses = $("#ddlNatureofExpensesto").val();
        var ExpenseCategory = $("#ddlExpenseCategoryto").val();
        var SubCategory = $("#ddlSubCategoryto").val();
        var PlaceFrom1 = $("#ddlPlaceFromto").val();
        var PlaceFrom = $("#ddlPlaceFromto option:selected").text();

        var ClaimPeriodFrom = $("#txtClaimPeriodFromto1").val();
        var ClaimPeriodTo = $("#txtClaimPeriodToto1").val();

        var FC = $("#txtFCto").val();
        var CC = $("#txtCCto").val();
        var ProductCode = $("#txtProductCodeto").val();
        var OUCode = $("#txtOUCodeto").val();
        var Amount = $("#txtAmountto").val();
        var travelDescription = $("#txttravelDescriptiony").val();

        if (NatureofExpenses == null || NatureofExpenses == "" || NatureofExpenses == "0") {
            jAlert("Please Select Nature of Expenses.", "Message");
            //$("#_CustomerName").focus();
            return false;
        }
        if (ExpenseCategory == null || ExpenseCategory == "0") {
            jAlert("Please Select Expense Category.", "Message");
            return false;
        }
        if (SubCategory == null || SubCategory == "0") {
            jAlert("Please Select Sub Category.", "Message");
            return false;
        }
        if (PlaceFrom == null || PlaceFrom == "--Select--") {
            jAlert("Please Select Place From.", "Message");
            return false;
        }
        if (ClaimPeriodFrom == null || ClaimPeriodFrom == "") {
            jAlert("Please Enter Claim Period From.", "Message");
            return false;
        }
        if (ClaimPeriodTo == null || ClaimPeriodTo == "") {
            jAlert("Please Enter Claim Period To.", "Message");
            return false;
        }
        if (FC == null || FC == "") {
            jAlert("Please Enter FC.", "Message");
            return false;
        }
        if (CC == null || CC == "") {
            jAlert("Please Enter CC.", "Message");
            return false;
        }
        if (ProductCode == null || ProductCode == "") {
            jAlert("Please Enter Product Code.", "Message");
            return false;
        }
        if (OUCode == null || OUCode == "") {
            jAlert("Please Enter OUCode.", "Message");
            return false;
        }
        if (Amount == null || Amount == "") {
            jAlert("Please Enter Amount.", "Message");
            return false;
        }
        if (Amount == "NAN" || Amount == "0.00" || Amount == "0") {
            jAlert("Please Enter Rate or Distance.", "Message");
            return false;
        }
        var val1 = parseFloat(ecfamomtssession);
        var val2 = parseFloat(Amount);
        if (parseFloat(val1) < parseFloat(val2)) {
            jAlert("The Amount Should Be Equal To ECF Amount", "Message");
            return false;
        }
        else {

            var NewExpensemodel = {
                "NatureofExpensesName": NatureofExpenses,
                "ExpenseCategoryName": ExpenseCategory,
                "SubCategoryName": SubCategory,
                "PlaceFrom": PlaceFrom,
                "ClaimPeriodFrom": ClaimPeriodFrom,
                "ClaimPeriodTo": ClaimPeriodTo,
                "FC": FC,
                "CC": CC,
                "ProductCode": ProductCode,
                "OUCode": OUCode,
                "travelDescription": travelDescription,
                "Amount": Amount
            };
            $.post('../TravelClaimNew/_OtherTravelExpenseCreate', NewExpensemodel,
            function (data) {
                if (data == "Success") {
                    jAlert("Saved Successfully.", "Message");
                    @*var url = "@(Html.Raw(Url.Action("_OtherTravelExpenseDetails", "TravelClaimNew")))";
                    $("#wgTravelmodeo").load(url);*@
                    //$("#wgTravelmodeo").load("../TravelClaimNew/_OtherTravelExpenseDetails?" + new Date().getTime());
                    var url = '@Url.Action("_OtherTravelExpenseDetails", "TravelClaimNew")?' + new Date().getTime();
                    $("#wgTravelmodeo").load(url);
                    var url2 = '@Url.Action("_LoadGstDetails", "EmployeeClaimNewPetty")?' + new Date().getTime();
                    $("#Grdgstdetls").load(url2);
                    var url3 = '@Url.Action("_LoadRCMDetails", "EmployeeClaimNew")?' + new Date().getTime();
                    $("#GrdRCMdetls").load(url3);
                    window.parent.jQuery('#ForPartialViewOtherTravelExpensenew').dialog('close');
                }
                else {
                    jAlert(data, "Message");
                    return false;
                }
            }, 'json');
        }
    }

    $(document).ready(function () {
        $("#ddlNatureofExpensesto").append("<option selected='selected' value='0' >--Select--</option>");
        $("#ddlTravelModeto").append("<option selected='selected' value='0' >--Select--</option>");

        $('#ddlNatureofExpensesto').change(function () {
            var brandID = $(this).val();
            var Student =
           {
               "NatureofExpensesId": brandID
           };
            $.ajax({
                url: '../TravelClaimNew/GetExpenseCategory/',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    cheval();
                    $("#ddlExpenseCategoryto").empty();
                    $("#ddlSubCategoryto").empty();
                    if (data.length > 0) {
                        $("#ddlSubCategoryto").append("<option value='0' >--Select--</option>");
                        $("#ddlExpenseCategoryto").append("<option value='0' >--Select--</option>");
                        for (var i = 0; i < data.length; i++) {
                            var stylesSelect = $('#ddlExpenseCategoryto');
                            stylesSelect.attr('disabled', false);
                            $("#ddlExpenseCategoryto").append("<option value=" + data[i].ExpenseCategoryId + " >" + data[i].ExpenseCategoryName + "</option>");
                        }
                    }

                    if (data.length == 0) {
                        $("#ddlSubCategoryto").append("<option value='0' >--Select--</option>");
                        $("#ddlExpenseCategoryto").append("<option value='0' >--Select--</option>");
                        var stylesSelect = $('#ddlExpenseCategoryto');
                        stylesSelect.attr('disabled', true);
                        var stylesSelect = $('#ddlSubCategoryto');
                        stylesSelect.attr('disabled', true);
                    }
                },
                error: function (result) {
                    jAlert("Error.", "Error");
                    return false;
                }
            });
        });

        $('#ddlExpenseCategoryto').change(function () {
            var brandID = $(this).val();
            var Student =
           {
               "ExpenseCategoryId": brandID
           };
            $.ajax({
                url: '../TravelClaimNew/GetSubCategory/',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    cheval();
                    $("#ddlSubCategoryto").empty();
                    if (data.length > 0) {
                        $("#ddlSubCategoryto").append("<option value='0' >--Select--</option>");
                        for (var i = 0; i < data.length; i++) {
                            var stylesSelect = $('#ddlSubCategoryto');
                            stylesSelect.attr('disabled', false);
                            $("#ddlSubCategoryto").append("<option value=" + data[i].SubCategoryId + " >" + data[i].SubCategoryName + "</option>");
                        }
                    }
                    if (data.length == 0) {
                        $("#ddlSubCategoryto").append("<option value='0' >--Select--</option>");
                        var stylesSelect = $('#ddlSubCategoryto');
                        stylesSelect.attr('disabled', true);
                    }
                },
                error: function (result) {
                    jAlert("Error.", "Error");
                    return false;
                }
            });
        });
        $('#ddlSubCategoryto').change(function () {
            var brandID = $(this).val();
            if (brandID != "0") {
                var Student =
               {
                   "ExpenseCategoryId": brandID
               };
                $.ajax({
                    url: '../EmployeeClaimnew/GetSubCategorypolicy/',
                    data: JSON.stringify(Student),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        cheval();
                        if (data != "") {
                            var stylesSelect = $('#Getpolicypopup');
                            stylesSelect.attr('disabled', false);
                        }
                        else {
                            var stylesSelect = $('#Getpolicypopup');
                            stylesSelect.attr('disabled', true);
                        }
                    },
                    error: function (result) {
                        jAlert("Error.", "Error");
                        return false;
                    }
                });
            }
            else {
                var stylesSelect = $('#Getpolicypopup');
                stylesSelect.attr('disabled', true);
            }
        });

        $('#txtCCto').change(function () {
            var ccs = $("#txtCCto option:selected").text();
            var fcs = $("#txtFCto option:selected").text();
            concode(fcs, ccs);
        });
        $('#txtFCto').change(function () {
            var ccs = $("#txtCCto option:selected").text();
            var fcs = $("#txtFCto option:selected").text();
            concode(fcs, ccs);
        });
    });
    function concode(fcs, ccs) {
        var fc = fcs.split('-');
        var cc = ccs.split('-');
        $("#txtFCCC").val(fc[1] + "-" + cc[1]);
    }

    function cheval() {
        var ddlNatureofExpenses1 = $("#ddlNatureofExpensesto").val();
        var ddlExpenseCategory1 = $("#ddlExpenseCategoryto").val();
        var ddlSubCategory1 = $("#ddlSubCategoryto").val();

        var ddlNatureofExpenses = $("#ddlNatureofExpensesto option:selected").text();
        var ddlExpenseCategory = $("#ddlExpenseCategoryto option:selected").text();
        var ddlSubCategory = $("#ddlSubCategoryto option:selected").text();

        var ddlPlaceFromto1 = $("#ddlPlaceFromto").val();
        var ddlPlaceFromto = $("#ddlPlaceFromto option:selected").text();

        var txtAmount = $("#txtAmountto").val();
        var txtProductCode = $("#txtProductCodeto").val();
        var txtOUCode = $("#txtOUCodeto").val();

        var txtClaimPeriodFrom = $("#txtClaimPeriodFromto1").val();
        var txtClaimPeriodTo = $("#txtClaimPeriodToto1").val();

        if (txtProductCode != "" && txtOUCode != ""
            && ddlNatureofExpenses1 != null && ddlExpenseCategory1 != null && ddlSubCategory1 != null &&
            ddlNatureofExpenses1 != "0" && ddlExpenseCategory1 != "0" && ddlSubCategory1 != "0" &&
            ddlNatureofExpenses != "--Select--" && ddlExpenseCategory != "--Select--" && ddlSubCategory != "--Select--" &&
            ddlPlaceFromto1 != null && ddlPlaceFromto1 != "0" && ddlPlaceFromto != "--Select--" &&
            txtClaimPeriodFrom != "" && txtClaimPeriodTo != "" && txtAmount != "") {
            $('#btnsavexpu').attr('disabled', false);
        }
        else {
            $('#btnsavexpu').attr('disabled', true);
        }
    }

    $(document).ready(function () {

        $("#ddlNatureofExpensesto").keyup(function () {
            var txtContractFrom = $("#ddlNatureofExpensesto").val();
            if (txtContractFrom.trim() != "0") {
                $("#ddlNatureofExpensesto").removeClass('required');
                $("#ddlNatureofExpensesto").addClass('valid'); cheval();
            }
            else {
                $("#ddlNatureofExpensesto").removeClass('valid');
                $("#ddlNatureofExpensesto").addClass('required'); cheval();
            }
        });
        $("#ddlNatureofExpensesto").change(function () {
            var txtContractFrom = $("#ddlNatureofExpensesto").val();
            if (txtContractFrom.trim() != "0") {
                $("#ddlNatureofExpensesto").removeClass('required');
                $("#ddlNatureofExpensesto").addClass('valid'); cheval();
            }
            else {
                $("#ddlNatureofExpensesto").removeClass('valid');
                $("#ddlNatureofExpensesto").addClass('required'); cheval();
            }
        });

        $("#ddlExpenseCategoryto").keyup(function () {
            var txtContractFrom = $("#ddlExpenseCategoryto").val();
            if (txtContractFrom.trim() != "0") {
                $("#ddlExpenseCategoryto").removeClass('required');
                $("#ddlExpenseCategoryto").addClass('valid'); cheval();
            }
            else {
                $("#ddlExpenseCategoryto").removeClass('valid');
                $("#ddlExpenseCategoryto").addClass('required'); cheval();
            }
        });
        $("#ddlExpenseCategoryto").change(function () {
            var txtContractFrom = $("#ddlExpenseCategoryto").val();
            if (txtContractFrom.trim() != "0") {
                $("#ddlExpenseCategoryto").removeClass('required');
                $("#ddlExpenseCategoryto").addClass('valid'); cheval();
            }
            else {
                $("#ddlExpenseCategoryto").removeClass('valid');
                $("#ddlExpenseCategoryto").addClass('required'); cheval();
            }
        });

        $("#ddlSubCategoryto").keyup(function () {
            var txtContractFrom = $("#ddlSubCategoryto").val();
            if (txtContractFrom.trim() != "0") {
                $("#ddlSubCategoryto").removeClass('required');
                $("#ddlSubCategoryto").addClass('valid');
            }
            else {
                $("#ddlSubCategoryto").removeClass('valid');
                $("#ddlSubCategoryto").addClass('required'); cheval();
            }
        });
        $("#ddlSubCategoryto").change(function () {
            var txtContractFrom = $("#ddlSubCategoryto").val();
            if (txtContractFrom.trim() != "0") {
                $("#ddlSubCategoryto").removeClass('required');
                $("#ddlSubCategoryto").addClass('valid'); cheval();
            }
            else {
                $("#ddlSubCategoryto").removeClass('valid');
                $("#ddlSubCategoryto").addClass('required'); cheval();
            }
        });

        $("#ddlPlaceFromto").keyup(function () {
            var txtContractFrom = $("#ddlPlaceFromto option:selected").text();
            if (txtContractFrom.trim() != "--Select--") {
                $("#ddlPlaceFromto").removeClass('required');
                $("#ddlPlaceFromto").addClass('valid'); cheval();
            }
            else {
                $("#ddlPlaceFromto").removeClass('valid');
                $("#ddlPlaceFromto").addClass('required'); cheval();
            }
        });
        $("#ddlPlaceFromto").change(function () {
            var txtContractFrom = $("#ddlPlaceFromto option:selected").text();
            if (txtContractFrom.trim() != "--Select--") {
                $("#ddlPlaceFromto").removeClass('required');
                $("#ddlPlaceFromto").addClass('valid'); cheval();
            }
            else {
                $("#ddlPlaceFromto").removeClass('valid');
                $("#ddlPlaceFromto").addClass('required'); cheval();
            }
        });

        //$("#txtClaimPeriodFromto").keyup(function () {
        //    var txtContractFrom = $("#txtClaimPeriodFromto").val();
        //    if (txtContractFrom.trim() != "") {
        //        $("#txtClaimPeriodFromto").removeClass('required');
        //        $("#txtClaimPeriodFromto").addClass('valid'); cheval();
        //    }
        //    else {
        //        $("#txtClaimPeriodFromto").removeClass('valid');
        //        $("#txtClaimPeriodFromto").addClass('required'); cheval();
        //    }
        //});
        //$("#txtClaimPeriodFromto").change(function () {
        //    var txtContractFrom = $("#txtClaimPeriodFromto").val();
        //    if (txtContractFrom.trim() != "") {
        //        $("#txtClaimPeriodFromto").removeClass('required');
        //        $("#txtClaimPeriodFromto").addClass('valid'); cheval();
        //    }
        //    else {
        //        $("#txtClaimPeriodFromto").removeClass('valid');
        //        $("#txtClaimPeriodFromto").addClass('required'); cheval();
        //    }
        //});

        //$("#txtClaimPeriodToto").keyup(function () {
        //    var txtContractFrom = $("#txtClaimPeriodToto").val();
        //    if (txtContractFrom.trim() != "") {
        //        $("#txtClaimPeriodToto").removeClass('required');
        //        $("#txtClaimPeriodToto").addClass('valid'); cheval();
        //    }
        //    else {
        //        $("#txtClaimPeriodToto").removeClass('valid');
        //        $("#txtClaimPeriodToto").addClass('required'); cheval();
        //    }
        //});
        //$("#txtClaimPeriodToto").change(function () {
        //    var txtContractFrom = $("#txtClaimPeriodToto").val();
        //    if (txtContractFrom.trim() != "") {
        //        $("#txtClaimPeriodToto").removeClass('required');
        //        $("#txtClaimPeriodToto").addClass('valid'); cheval();
        //    }
        //    else {
        //        $("#txtClaimPeriodToto").removeClass('valid');
        //        $("#txtClaimPeriodToto").addClass('required'); cheval();
        //    }
        //});

        $("#txtAmountto").keyup(function () {
            var txtContractFrom = $("#txtAmountto").val();
            if (txtContractFrom.trim() != "") {
                $("#txtAmountto").removeClass('required');
                $("#txtAmountto").addClass('valid'); cheval();
            }
            else {
                $("#txtAmountto").removeClass('valid');
                $("#txtAmountto").addClass('required'); cheval();
            }
        });
        $("#txtAmountto").change(function () {
            var txtContractFrom = $("#txtAmountto").val();
            if (txtContractFrom.trim() != "") {
                $("#txtAmountto").removeClass('required');
                $("#txtAmountto").addClass('valid'); cheval();
            }
            else {
                $("#txtAmountto").removeClass('valid');
                $("#txtAmountto").addClass('required'); cheval();
            }
        });

        $("#txtProductCodeto").keyup(function () {
            var txtContractFrom = $("#txtProductCodeto").val();
            if (txtContractFrom.trim() != "") {
                $("#txtProductCodeto").removeClass('required');
                $("#txtProductCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtProductCodeto").removeClass('valid');
                $("#txtProductCodeto").addClass('required');
                cheval();
            }
        });
        $("#txtProductCodeto").change(function () {
            var txtContractFrom = $("#txtProductCodeto").val();
            if (txtContractFrom.trim() != "") {
                $("#txtProductCodeto").removeClass('required');
                $("#txtProductCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtProductCodeto").removeClass('valid');
                $("#txtProductCodeto").addClass('required');
                cheval();
            }
        });
        $("#txtOUCodeto").keyup(function () {
            var txtContractFrom = $("#txtOUCodeto").val();
            if (txtContractFrom.trim() != "") {
                $("#txtOUCodeto").removeClass('required');
                $("#txtOUCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtOUCodeto").removeClass('valid');
                $("#txtOUCodeto").addClass('required');
                cheval();
            }
        });
        $("#txtOUCodeto").change(function () {
            var txtContractFrom = $("#txtOUCodeto").val();
            if (txtContractFrom.trim() != "") {
                $("#txtOUCodeto").removeClass('required');
                $("#txtOUCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtOUCodeto").removeClass('valid');
                $("#txtOUCodeto").addClass('required');
                cheval();
            }
        });
    });
</script>