@model  IEM.Areas.EOW.Models.EOW_TravelClaim
@using IEM.Areas.EOW.Models
@{
    EOW_TravelClaim sh = (EOW_TravelClaim)ViewBag.TravelClaimheader;
}
@{
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        <div id="EditExpenseqwer">

            @using (Html.BeginForm())
            {
                <div style="padding:0;margin:0;">
                    <input type="hidden" id="ecfamomtssessiontmte" value="@Session["Ecfamountvaltmeditoe"]" />

                    <table class="myTableStyleTabNew" style="width: 100%;">
                        <tr>
                            <td style="width: 33%;">
                                <span>Nature of Expenses</span><br />
                                @Html.DropDownListFor(model => sh.NatureofExpensesId, sh.ExpNatureofExpdata, new { @class = "textboxStyle", @id = "ddlNatureofExpensesto" })
                            </td>
                            <td style="width: 33%;">
                                <span>Expense Category</span><br />
                                @Html.DropDownListFor(model => sh.ExpenseCategoryId, sh.ExpCatdata, new { @class = "textboxStyle", @id = "ddlExpenseCategoryto" })
                            </td>
                            <td style="width: 35%;">
                                <span>Sub Category</span><br />
                                @Html.DropDownListFor(model => sh.SubCategoryId, sh.ExpSubCatdata, new { @class = "wht textboxStyle", @id = "ddlSubCategoryto" })
                            </td>
                            <td style="width:10%">
                                <span>&nbsp;</span><br />
                                <input type="button" value="?" style="margin-top: 5px;" id="Getpolicypopup" onclick="Newpolicypopup()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Place From</span><br />
                                @Html.DropDownListFor(model => sh.PlaceFrom, sh.Citydata, new { @class = "textboxStyle", @id = "ddlPlaceFromto" })
                            </td>
                            <td>
                                <span>Claim Period From</span><br />
                                @Html.TextBoxFor(model => sh.ClaimPeriodFrom, new { disable = true, @class = "textboxStyle", @id = "txtClaimPeriodFromto" })
                            </td>
                            <td colspan="2">
                                <span>Claim Period To</span><br />
                                @Html.TextBoxFor(model => sh.ClaimPeriodTo, new { disable = true, @class = "textboxStyle", @id = "txtClaimPeriodToto" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>FC</span><br />
                                @Html.DropDownListFor(model => sh.FC, sh.Exp_FCC, new { @class = "textboxStyle ", @id = "txtFCto" })
                            </td>
                            <td>
                                <span>CC</span><br />
                                @Html.DropDownListFor(model => sh.CC, sh.Exp_CCC, new { @class = "textboxStyle ", @id = "txtCCto" })
                            </td>
                            <td colspan="2">
                                <span>FCCC Code</span><br />
                                @Html.TextBoxFor(model => sh.Exp_FCCC, new { disable = true, @class = "textboxStyle", @id = "txtFCCC", @maxlength = "58", @disabled = "disabled" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Product Code</span><br />
                                @Html.TextBoxFor(model => sh.ProductCode, new { disable = true, @class = "textboxStyle", @id = "txtProductCodeto" })
                            </td>
                            <td>
                                <span>OUCode</span><br />
                                @Html.TextBoxFor(model => sh.OUCode, new { disable = true, @class = "textboxStyle", @id = "txtOUCodeto" })

                            </td>
                            <td colspan="2">
                                <span>Amount</span><br />
                                @Html.TextBoxFor(model => sh.Amount, new { disable = true, @class = "textboxStyle", @id = "txtAmountto" })

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>Description</span><br />
                                @Html.TextAreaFor(model => sh.travelDescription, new { disable = true, @class = "textboxStyle txtarea", @id = "txttravelDescription", @maxlength = "250" })
                                @if (viewfor == "edit")
                                {
                                    <div>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                hideProgress();
                                            });
                                        </script>
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;" colspan="4" align="center">
                                <center>
                                    <input type="button" id="btnsavexpu" class="btn btn-primary" value="Save" onclick="SaveotherTravelmode1()" />
                                    <input type="button" id="btncanexpu" class="btn btn-warning" value="Cancel" onclick="GotoIndexotherExpense()" />
                                </center>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    }
    else if (viewfor == "view")
    {
        <div id="EditExpense">

            @using (Html.BeginForm())
            {
                <div style="padding:0;margin:0;">
                    <input type="hidden" id="ecfamomtssessiontmy" value="@Session["Ecfamountvaltmeditoe"]" />

                    <table class="myTableStyleTabNew" style="width: 100%;">
                        <tr>
                            <td style="width: 33%;">
                                <span>Nature of Expenses</span><br />
                                @Html.DropDownListFor(model => sh.NatureofExpensesId, sh.ExpNatureofExpdata, new { @class = "textboxStyle", @id = "ddlNatureofExpensesto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td style="width: 33%;">
                                <span>Expense Category</span><br />
                                @Html.DropDownListFor(model => sh.ExpenseCategoryId, sh.ExpCatdata, new { @class = "textboxStyle", @id = "ddlExpenseCategoryto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td style="width: 35%;">
                                <span>Sub Category</span><br />
                                @Html.DropDownListFor(model => sh.SubCategoryId, sh.ExpSubCatdata, new { @class = "wht textboxStyle", @id = "ddlSubCategoryto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td style="width:10%">
                                <span>&nbsp;</span><br />
                                <input type="button" value="?" style="margin-top: 5px;" disabled="disabled" id="Getpolicypopup4" onclick="Newpolicypopup()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Place From</span><br />
                                @Html.DropDownListFor(model => sh.PlaceFrom, sh.Citydata, new { @class = "textboxStyle", @id = "ddlPlaceFromto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td>
                                <span>Claim Period From</span><br />
                                @Html.TextBoxFor(model => sh.ClaimPeriodFrom, new { disable = true, @class = "textboxStyle", @id = "txtClaimPeriodFromto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td colspan="2">
                                <span>Claim Period To</span><br />
                                @Html.TextBoxFor(model => sh.ClaimPeriodTo, new { disable = true, @class = "textboxStyle", @id = "txtClaimPeriodToto", @disabled = @ViewBag.viewmode })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>FC</span><br />
                                @Html.DropDownListFor(model => sh.FC, sh.Exp_FCC, new { @class = "textboxStyle ", @id = "txtFCto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td>
                                <span>CC</span><br />
                                @Html.DropDownListFor(model => sh.CC, sh.Exp_CCC, new { @class = "textboxStyle ", @id = "txtCCto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td colspan="2">
                                <span>FCCC Code</span><br />
                                @Html.TextBoxFor(model => sh.Exp_FCCC, new { disable = true, @class = "textboxStyle", @id = "txtFCCC", @maxlength = "58", @disabled = "disabled" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Product Code</span><br />
                                @Html.TextBoxFor(model => sh.ProductCode, new { disable = true, @class = "textboxStyle", @id = "txtProductCodeto", @disabled = @ViewBag.viewmode })
                            </td>
                            <td>
                                <span>OUCode</span><br />
                                @Html.TextBoxFor(model => sh.OUCode, new { disable = true, @class = "textboxStyle", @id = "txtOUCodeto", @disabled = @ViewBag.viewmode })

                            </td>
                            <td colspan="2">
                                <span>Amount</span><br />
                                @Html.TextBoxFor(model => sh.Amount, new { disable = true, @class = "textboxStyle", @id = "txtAmountto", @disabled = @ViewBag.viewmode })

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>Description</span><br />
                                @Html.TextAreaFor(model => sh.travelDescription, new { disable = true, @class = "textboxStyle txtarea", @id = "txttravelDescription", @maxlength = "250", @disabled = @ViewBag.viewmode })
                                @if (viewfor == "view")
                                {
                                    <div>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                hideProgress();
                                            });
                                        </script>
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;" colspan="4" align="center">
                                <center>
                                    <input type="button" id="btncanexpu" class="btn btn-warning" value="Cancel" onclick="GotoIndexotherExpense()" />
                                </center>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    }

}

<style>
    .wht {
        width: 100%;
    }

    .txtarea {
        width: 96.4%;
        height: 70px;
        resize: none;
    }
</style>
<script>
    $(document).ready(function () {
        $("#txtClaimPeriodFromto").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxDate: '-id',
            numberOfMonths: 1,
            onSelect: function (selected) {
                $("#txtClaimPeriodFromto").addClass('valid');
                $("#txtClaimPeriodToto").datepicker("option", "minDate", selected)
            }
        });
    });
    $(document).ready(function () {
        $("#txtClaimPeriodToto").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxDate: '-id',
            numberOfMonths: 1,
            onSelect: function (selected) {
                $("#txtClaimPeriodToto").addClass('valid');
                $("#txtClaimPeriodFromto").datepicker("option", "maxDate", selected);
            }
        });
    });

    //var objDialogpolicypopup;
    //$(document).ready(function () {
    //    //$('#Getpolicypopup').attr('disabled', true);
    //    //stylesSelect.attr('disabled', true);
    //    //$('#Getpolicypopup').attr('disabled', true);
    //    window.parent.jQuery('#ForPartialViewpolicypopup').dialog('close');
    //    objDialogpolicypopup = $("[id$='ForPartialViewpolicypopup']");
    //    //objDialogpolicypopup.dialog({
    //    //    autoOpen: false,
    //    //    cache: false,
    //    //    modal: true,
    //    //    show: 'fade-in',
    //    //    close: 'fade-out',
    //    //    title: 'PPX ',
    //    //    width: 860,
    //    //    height: 400
    //    //});

    //});
    function Newpolicypopup() {
        var SubCategory = $("#ddlSubCategoryto").val();
        if (SubCategory != "0") {
            var url = '@Url.Action("_Emppolicypopup", "TravelClaimNew")?id=' + SubCategory + '&' + new Date().getTime();
            objDialogpolicypopup.load(url);
            objDialogpolicypopup.dialog({
                autoOpen: false,
                cache: false,
                modal: true,
                show: 'fade-in',
                close: 'fade-out',
                title: 'Policy Help',
                width: 860,
                height: 400
            });
            objDialogpolicypopup.dialog("open");
        }
    }

    function GotoIndexotherExpense() {
        //objDialogTravelmodenew.remove();
        objDialogOtherTravelmodenew.dialog("close");
        window.parent.jQuery('#ForPartialViewOtherTravelExpensenew').dialog('close');
    }

    function SaveotherTravelmode1() {
        var ecfamomtssession = $("#ecfamomtssessiontmte").val();
        if (ecfamomtssession == null || ecfamomtssession == "0") {
            jAlert("The ECF Amount is Zero....", "Message");
            return false;
        }
        var NatureofExpenses = $("#ddlNatureofExpensesto").val();
        var ExpenseCategory = $("#ddlExpenseCategoryto").val();
        var SubCategory = $("#ddlSubCategoryto").val();
        var PlaceFrom1 = $("#ddlPlaceFromto").val();
        var PlaceFrom = $("#ddlPlaceFromto option:selected").text();

        var ClaimPeriodFrom = $("#txtClaimPeriodFromto").val();
        var ClaimPeriodTo = $("#txtClaimPeriodToto").val();

        var FC = $("#txtFCto").val();
        var CC = $("#txtCCto").val();
        var ProductCode = $("#txtProductCodeto").val();
        var OUCode = $("#txtOUCodeto").val();
        var Amount = $("#txtAmountto").val();
        var travelDescription = $("#txttravelDescription").val();

        if (NatureofExpenses == null || NatureofExpenses == "" || NatureofExpenses == "0") {
            jAlert("Please Select Nature of Expenses.", "Message");
            //$("#_CustomerName").focus();
            return false;
        }
        if (ExpenseCategory == null || ExpenseCategory == "0") {
            jAlert("Please Select Expense Category.", "Message");
            return false;
        }
        if (SubCategory == null || SubCategory == "0") {
            jAlert("Please Select Sub Category.", "Message");
            return false;
        }
        if (PlaceFrom == null || PlaceFrom == "--Select--") {
            jAlert("Please Select Place From.", "Message");
            return false;
        }
        if (ClaimPeriodFrom == null || ClaimPeriodFrom == "") {
            jAlert("Please Enter Claim Period From.", "Message");
            return false;
        }
        if (ClaimPeriodTo == null || ClaimPeriodTo == "") {
            jAlert("Please Enter Claim Period To.", "Message");
            return false;
        }
        if (FC == null || FC == "") {
            jAlert("Please Enter FC.", "Message");
            return false;
        }
        if (CC == null || CC == "") {
            jAlert("Please Enter CC.", "Message");
            return false;
        }
        if (ProductCode == null || ProductCode == "") {
            jAlert("Please Enter Product Code.", "Message");
            return false;
        }
        if (OUCode == null || OUCode == "") {
            jAlert("Please Enter OUCode.", "Message");
            return false;
        }
        if (Amount == null || Amount == "") {
            jAlert("Please Enter Amount.", "Message");
            return false;
        }
        var val1 = parseFloat(ecfamomtssession);
        var val2 = parseFloat(Amount);
        if (parseFloat(val1) < parseFloat(val2)) {
            jAlert("The Amount Should Be Equal To ECF Amount", "Message");
            return false;
        }
        else {

            var NewExpensemodel = {
                "NatureofExpensesName": NatureofExpenses,
                "ExpenseCategoryName": ExpenseCategory,
                "SubCategoryName": SubCategory,
                "PlaceFrom": PlaceFrom,
                "ClaimPeriodFrom": ClaimPeriodFrom,
                "ClaimPeriodTo": ClaimPeriodTo,
                "FC": FC,
                "CC": CC,
                "ProductCode": ProductCode,
                "OUCode": OUCode,
                "travelDescription": travelDescription,
                "Amount": Amount
            };
            $.post('../TravelClaimNew/_OtherTravelExpenseEdit', NewExpensemodel,
            function (data) {
                if (data == "Success") {
                    jAlert("Updated Successfully.", "Message");
                    @*var url = "@(Html.Raw(Url.Action("_OtherTravelExpenseDetails", "TravelClaimNew")))";
                    $("#wgTravelmodeo").load(url);*@
                    //$("#wgExpense").load("../TravelClaimNew/_OtherTravelExpenseDetails?" + new Date().getTime());
                    var url = '@Url.Action("_OtherTravelExpenseDetails", "TravelClaimNew")?' + new Date().getTime();
                    $("#wgTravelmodeo").load(url);
                    var url2 = '@Url.Action("_LoadGstDetails", "EmployeeClaimNewPetty")?' + new Date().getTime();
                    $("#Grdgstdetls").load(url2);
                    var url3 = '@Url.Action("_LoadRCMDetails", "EmployeeClaimNew")?' + new Date().getTime();
                    $("#GrdRCMdetls").load(url3);
                    window.parent.jQuery('#ForPartialViewOtherTravelExpensenew').dialog('close');
                }
                else {
                    jAlert(data, "Message");
                    return false;
                }
            }, 'json');
        }
    }

    $(document).ready(function () {
        $('#ddlNatureofExpensesto').change(function () {
            var brandID = $(this).val();
            var Student =
           {
               "NatureofExpensesId": brandID
           };
            $.ajax({
                url: '../TravelClaimNew/GetExpenseCategory/',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    cheval();
                    $("#ddlExpenseCategoryto").empty();
                    $("#ddlSubCategoryto").empty();
                    if (data.length > 0) {
                        $("#ddlSubCategoryto").append("<option value='0' >--Select--</option>");
                        $("#ddlExpenseCategoryto").append("<option value='0' >--Select--</option>");
                        for (var i = 0; i < data.length; i++) {
                            var stylesSelect = $('#ddlExpenseCategoryto');
                            stylesSelect.attr('disabled', false);
                            $("#ddlExpenseCategoryto").append("<option value=" + data[i].ExpenseCategoryId + " >" + data[i].ExpenseCategoryName + "</option>");
                        }
                    }

                    if (data.length == 0) {
                        $("#ddlSubCategoryto").append("<option value='0' >--Select--</option>");
                        $("#ddlExpenseCategoryto").append("<option value='0' >--Select--</option>");
                        var stylesSelect = $('#ddlExpenseCategoryto');
                        stylesSelect.attr('disabled', true);
                        var stylesSelect = $('#ddlSubCategoryto');
                        stylesSelect.attr('disabled', true);
                    }
                },
                error: function (result) {
                    jAlert("Error.", "Error");
                    return false;
                }
            });
        });

        $('#ddlExpenseCategoryto').change(function () {
            debugger;
            var brandID = $(this).val();
            var Student =
           {
               "ExpenseCategoryId": brandID
           };
            $.ajax({
                url: '../TravelClaimNew/GetSubCategory/',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    cheval();
                    $("#ddlSubCategoryto").empty();
                    var data1 = JSON.parse(data.Data1);
                    if (data1.length > 0) {
                        debugger;
                        $("#ddlSubCategory").append("<option value='0' >--Select--</option>");
                        for (var i = 0; i < data1.length; i++) {
                            //var stylesSelect = $('#ddlSubCategory');
                            //stylesSelect.attr('disabled', false);
                            $("#ddlSubCategory").append("<option value=" + data1[i].expsubcat_gid + " >" + data1[i].expsubcat_name + "</option>");
                        }
                    }
                    debugger;
                    if (data1.length == 0) {
                        var stylesSelect = $('#ddlSubCategory');
                        stylesSelect.attr('disabled', true);
                        $('#btnsavexpNN').attr('disabled', true);
                    }
                },
                error: function (result) {
                    jAlert("Error.", "Error");
                    return false;
                }
            });
        });
        $('#ddlSubCategoryto').change(function () {
            debugger;
            var brandID = $(this).val();
            if (brandID != "0") {
                var Student =
               {
                   "ExpenseCategoryId": brandID
               };
                $.ajax({
                    url: '../TravelClaimNew/GetSubCategorypolicy/',
                    data: JSON.stringify(Student),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        cheval();
                        if (data.policy != "") {
                            var stylesSelect = $('#Getpolicypopup');
                            stylesSelect.attr('disabled', false);
                        }

                        $("#txtHsnId").empty();

                        if (data.Data2 != "" && data.Data2 != null) {
                            HsnArray = JSON.parse(data.Data2);
                            $("#txtHsnId").empty();
                            if (HsnArray.length > 0) {
                                $("#txtHsnId").append("<option value='0' >--Select--</option>");
                                for (var i = 0; i < HsnArray.length; i++) {
                                    var stylesSelect1 = $('#txtHsnId');
                                    stylesSelect1.attr('disabled', false);
                                    $("#txtHsnId").append("<option value=" + HsnArray[i].hsnid + " >" + HsnArray[i].hsncode + "</option>");
                                }
                            }
                            else {

                                $("#txtHsnId").empty();
                                $("#txtHsnId").append("<option value='0' >--Select--</option>");
                                var stylesSelect1 = $('#txtHsnId');
                                stylesSelect1.attr('disabled', true);
                            }
                        }


                        else {
                            var stylesSelect = $('#Getpolicypopupt');
                            stylesSelect.attr('disabled', true);
                            $("#txtHsnId").empty();
                            $("#txtHsnId").append("<option value='0' >--Select--</option>");
                            var stylesSelect1 = $('#txtHsnId');
                            stylesSelect1.attr('disabled', true);
                            $("#txtHsnId").removeClass('valid');
                            $("#txtHsnId").addClass('required');
                            cheval();
                        }
                    },
                    error: function (result) {
                        jAlert("Error.", "Error");
                        return false;
                    }
                });
            }
            else {
                var stylesSelect = $('#Getpolicypopup');
                stylesSelect.attr('disabled', true);
            }
        });

        $('#txtCCto').change(function () {
            var ccs = $("#txtCCto option:selected").text();
            var fcs = $("#txtFCto option:selected").text();
            concode(fcs, ccs);
        });
        $('#txtFCto').change(function () {
            var ccs = $("#txtCCto option:selected").text();
            var fcs = $("#txtFCto option:selected").text();
            concode(fcs, ccs);
        });
    });
    function concode(fcs, ccs) {
        var fc = fcs.split('-');
        var cc = ccs.split('-');
        $("#txtFCCC").val(fc[1] + "-" + cc[1]);
    }

    function cheval() {
        var ddlNatureofExpenses1 = $("#ddlNatureofExpensesto").val();
        var ddlExpenseCategory1 = $("#ddlExpenseCategoryto").val();
        var ddlSubCategory1 = $("#ddlSubCategoryto").val();

        var ddlNatureofExpenses = $("#ddlNatureofExpensesto option:selected").text();
        var ddlExpenseCategory = $("#ddlExpenseCategoryto option:selected").text();
        var ddlSubCategory = $("#ddlSubCategoryto option:selected").text();

        var ddlPlaceFromto1 = $("#ddlPlaceFromto").val();
        var ddlPlaceFromto = $("#ddlPlaceFromto option:selected").text();

        var txtAmount = $("#txtAmountto").val();
        var txtProductCode = $("#txtProductCodeto").val();
        var txtOUCode = $("#txtOUCodeto").val();

        var txtClaimPeriodFrom = $("#txtClaimPeriodFromto1").val();
        var txtClaimPeriodTo = $("#txtClaimPeriodToto1").val();

        if (txtProductCode != "" && txtOUCode != ""
            && ddlNatureofExpenses1 != null && ddlExpenseCategory1 != null && ddlSubCategory1 != null &&
            ddlNatureofExpenses1 != "0" && ddlExpenseCategory1 != "0" && ddlSubCategory1 != "0" &&
            ddlNatureofExpenses != "--Select--" && ddlExpenseCategory != "--Select--" && ddlSubCategory != "--Select--" &&
            ddlPlaceFromto1 != null && ddlPlaceFromto1 != "0" && ddlPlaceFromto != "--Select--" &&
            txtClaimPeriodFrom != "" && txtClaimPeriodTo != "" && txtAmount != "") {
            $('#btnsavexpu').attr('disabled', false);
        }
        else {
            $('#btnsavexpu').attr('disabled', true);
        }
    }



    $(document).ready(function () {

        var txtContractFrom = $("#ddlNatureofExpensesto").val();
        if (txtContractFrom != "0") {
            $("#ddlNatureofExpensesto").addClass('valid'); cheval();
        }
        else {
            $("#ddlNatureofExpensesto").addClass('required'); cheval();
        }
        $("#ddlNatureofExpensesto").keyup(function () {
            var txtContractFrom = $("#ddlNatureofExpensesto").val();
            if (txtContractFrom != "0") {
                $("#ddlNatureofExpensesto").removeClass('required');
                $("#ddlNatureofExpensesto").addClass('valid'); cheval();
            }
            else {
                $("#ddlNatureofExpensesto").removeClass('valid');
                $("#ddlNatureofExpensesto").addClass('required'); cheval();
            }
        });
        $("#ddlNatureofExpensesto").change(function () {
            var txtContractFrom = $("#ddlNatureofExpensesto").val();
            if (txtContractFrom != "0") {
                $("#ddlNatureofExpensesto").removeClass('required');
                $("#ddlNatureofExpensesto").addClass('valid'); cheval();
            }
            else {
                $("#ddlNatureofExpensesto").removeClass('valid');
                $("#ddlNatureofExpensesto").addClass('required'); cheval();
            }
        });
        var txtContractFrom = $("#ddlExpenseCategoryto").val();
        if (txtContractFrom != "0") {
            $("#ddlExpenseCategoryto").addClass('valid'); cheval();
        }
        else {
            $("#ddlExpenseCategoryto").addClass('required'); cheval();
        }
        $("#ddlExpenseCategoryto").keyup(function () {
            var txtContractFrom = $("#ddlExpenseCategoryto").val();
            if (txtContractFrom != "0") {
                $("#ddlExpenseCategoryto").removeClass('required');
                $("#ddlExpenseCategoryto").addClass('valid'); cheval();
            }
            else {
                $("#ddlExpenseCategoryto").removeClass('valid');
                $("#ddlExpenseCategoryto").addClass('required'); cheval();
            }
        });
        $("#ddlExpenseCategoryto").change(function () {
            var txtContractFrom = $("#ddlExpenseCategoryto").val();
            if (txtContractFrom != "0") {
                $("#ddlExpenseCategoryto").removeClass('required');
                $("#ddlExpenseCategoryto").addClass('valid'); cheval();
            }
            else {
                $("#ddlExpenseCategoryto").removeClass('valid');
                $("#ddlExpenseCategoryto").addClass('required'); cheval();
            }
        });
        var txtContractFrom = $("#ddlSubCategoryto").val();
        if (txtContractFrom != "0") {
            $("#ddlSubCategoryto").addClass('valid'); cheval();
        }
        else {
            $("#ddlSubCategoryto").addClass('required'); cheval();
        }
        $("#ddlSubCategoryto").keyup(function () {
            var txtContractFrom = $("#ddlSubCategoryto").val();
            if (txtContractFrom != "0") {
                $("#ddlSubCategoryto").removeClass('required');
                $("#ddlSubCategoryto").addClass('valid'); cheval();
            }
            else {
                $("#ddlSubCategoryto").removeClass('valid');
                $("#ddlSubCategoryto").addClass('required'); cheval();
            }
        });
        $("#ddlSubCategoryto").change(function () {
            var txtContractFrom = $("#ddlSubCategoryto").val();
            if (txtContractFrom != "0") {
                $("#ddlSubCategoryto").removeClass('required');
                $("#ddlSubCategoryto").addClass('valid'); cheval();
            }
            else {
                $("#ddlSubCategoryto").removeClass('valid');
                $("#ddlSubCategoryto").addClass('required'); cheval();
            }
        });
        var txtContractFrom = $("#ddlPlaceFromto option:selected").text();
        if (txtContractFrom != "--Select--") {
            $("#ddlPlaceFromto").addClass('valid'); cheval();
        }
        else {
            $("#ddlPlaceFromto").addClass('required'); cheval();
        }
        $("#ddlPlaceFromto").keyup(function () {
            var txtContractFrom = $("#ddlPlaceFromto option:selected").text();
            if (txtContractFrom != "--Select--") {
                $("#ddlPlaceFromto").removeClass('required');
                $("#ddlPlaceFromto").addClass('valid'); cheval();
            }
            else {
                $("#ddlPlaceFromto").removeClass('valid');
                $("#ddlPlaceFromto").addClass('required'); cheval();
            }
        });
        $("#ddlPlaceFromto").change(function () {
            var txtContractFrom = $("#ddlPlaceFromto option:selected").text();
            if (txtContractFrom != "--Select--") {
                $("#ddlPlaceFromto").removeClass('required');
                $("#ddlPlaceFromto").addClass('valid'); cheval();
            }
            else {
                $("#ddlPlaceFromto").removeClass('valid');
                $("#ddlPlaceFromto").addClass('required'); cheval();
            }
        });
        var txtContractFrom = $("#txtClaimPeriodFromto").val();
        if (txtContractFrom != "") {
            $("#txtClaimPeriodFromto").addClass('valid'); cheval();
        }
        else {
            $("#txtClaimPeriodFromto").addClass('required'); cheval();
        }
        $("#txtClaimPeriodFromto").keyup(function () {
            var txtContractFrom = $("#txtClaimPeriodFromto").val();
            if (txtContractFrom != "") {
                $("#txtClaimPeriodFromto").removeClass('required');
                $("#txtClaimPeriodFromto").addClass('valid'); cheval();
            }
            else {
                $("#txtClaimPeriodFromto").removeClass('valid');
                $("#txtClaimPeriodFromto").addClass('required'); cheval();
            }
        });
        $("#txtClaimPeriodFromto").change(function () {
            var txtContractFrom = $("#txtClaimPeriodFromto").val();
            if (txtContractFrom != "") {
                $("#txtClaimPeriodFromto").removeClass('required');
                $("#txtClaimPeriodFromto").addClass('valid'); cheval();
            }
            else {
                $("#txtClaimPeriodFromto").removeClass('valid');
                $("#txtClaimPeriodFromto").addClass('required'); cheval();
            }
        });
        var txtContractFrom = $("#txtClaimPeriodToto").val();
        if (txtContractFrom != "") {
            $("#txtClaimPeriodToto").addClass('valid'); cheval();
        }
        else {
            $("#txtClaimPeriodToto").addClass('required'); cheval();
        }
        $("#txtClaimPeriodToto").keyup(function () {
            var txtContractFrom = $("#txtClaimPeriodToto").val();
            if (txtContractFrom != "") {
                $("#txtClaimPeriodToto").removeClass('required');
                $("#txtClaimPeriodToto").addClass('valid'); cheval();
            }
            else {
                $("#txtClaimPeriodToto").removeClass('valid');
                $("#txtClaimPeriodToto").addClass('required'); cheval();
            }
        });
        $("#txtClaimPeriodToto").change(function () {
            var txtContractFrom = $("#txtClaimPeriodToto").val();
            if (txtContractFrom != "") {
                $("#txtClaimPeriodToto").removeClass('required');
                $("#txtClaimPeriodToto").addClass('valid'); cheval();
            }
            else {
                $("#txtClaimPeriodToto").removeClass('valid');
                $("#txtClaimPeriodToto").addClass('required'); cheval();
            }
        });
        var txtContractFrom = $("#txtAmountto").val();
        if (txtContractFrom != "") {
            $("#txtAmountto").addClass('valid'); cheval();
        }
        else {
            $("#txtAmountto").addClass('required'); cheval();
        }
        $("#txtAmountto").keyup(function () {
            var txtContractFrom = $("#txtAmountto").val();
            if (txtContractFrom != "") {
                $("#txtAmountto").removeClass('required');
                $("#txtAmountto").addClass('valid'); cheval();
            }
            else {
                $("#txtAmountto").removeClass('valid');
                $("#txtAmountto").addClass('required'); cheval();
            }
        });
        $("#txtAmountto").change(function () {
            var txtContractFrom = $("#txtAmountto").val();
            if (txtContractFrom != "") {
                $("#txtAmountto").removeClass('required');
                $("#txtAmountto").addClass('valid'); cheval();
            }
            else {
                $("#txtAmountto").removeClass('valid');
                $("#txtAmountto").addClass('required'); cheval();
            }
        });
        $("#txtProductCodeto").keyup(function () {
            var txtContractFrom = $("#txtProductCodeto").val();
            if (txtContractFrom != "") {
                $("#txtProductCodeto").removeClass('required');
                $("#txtProductCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtProductCodeto").removeClass('valid');
                $("#txtProductCodeto").addClass('required');
                cheval();
            }
        });
        $("#txtProductCodeto").change(function () {
            var txtContractFrom = $("#txtProductCodeto").val();
            if (txtContractFrom != "") {
                $("#txtProductCodeto").removeClass('required');
                $("#txtProductCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtProductCodeto").removeClass('valid');
                $("#txtProductCodeto").addClass('required');
                cheval();
            }
        });
        $("#txtOUCodeto").keyup(function () {
            var txtContractFrom = $("#txtOUCodeto").val();
            if (txtContractFrom != "") {
                $("#txtOUCodeto").removeClass('required');
                $("#txtOUCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtOUCodeto").removeClass('valid');
                $("#txtOUCodeto").addClass('required');
                cheval();
            }
        });
        $("#txtOUCodeto").change(function () {
            var txtContractFrom = $("#txtOUCodeto").val();
            if (txtContractFrom != "") {
                $("#txtOUCodeto").removeClass('required');
                $("#txtOUCodeto").addClass('valid');
                cheval();
            }
            else {
                $("#txtOUCodeto").removeClass('valid');
                $("#txtOUCodeto").addClass('required');
                cheval();
            }
        });
    });
</script>
