@model IEnumerable<IEM.Areas.EOW.Models.CentraldataModel>
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "searchgrid", ajaxUpdateCallback: "fb_employee();");
    int rowVal = 0;
}
<div id="searchgrid">
    <div class="well">
        <div class="row">
            <table class="myTableStyleTabNew tblstyles" align="center">
                <tr>
                    <td>
                        <span style="margin:0px 0px 0px 14px;"> Employee Code </span>
                        <input name="EmployeeCode"
                               id="txtinwardcode"
                               type="text"
                               class="textboxStyle required"
                               data-val="true"
                               value="@ViewBag.EmployeeCode"
                               style="margin:9px 0px 0px 14px;width:181px;" />
                    </td>
                    <td>
                        <span> Employee Name </span>
                        <input name="EmployeeName"
                               id="txtinwardempname"
                               type="text"
                               class="textboxStyle required"
                               data-val="true"
                               value="@ViewBag.EmployeeName"
                               style="margin: 8px 0px 0px 0px;width:271px;" />
                    </td>
                    <td>
                        <div class="input-append ">
                            <span class="input-append">
                                <button class="btn btn-primary" id="btncensearch" value="Search" name="command" type="button" onclick="SearchEmployee()" style="margin-top:20px;color:white;"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="input-append ">
                            <span class="input-append">
                                <button class="btn btn-primary" id="btncenclea" value="Clear" name="command" type="button" onclick="RefreshEmployee()" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="input-append ">
                            <span class="input-append">
                                @*<button class="btn btn-warning" name="commandcan" id="btnCancel1" style="margin-left:-43px;margin-top:20px;" type="button" value="Cancel" onclick="GotoIndex()">Cancel</button>*@
                                <button type="button" value="Cancel" class="btn btn-warning" style="margin: 19px 15px -3px 6px;" onclick="GotoIndexaddemps()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        @*<div id="emplgrid">*@
        @*<div class="overflowy">*@
        @*<div style="margin-top:17px;" id="mainll">
                @functions {
                    public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                    {
                        return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                            grid.SortDirection == SortDirection.Ascending ? "▲" :
                            "▼" : string.Empty);
                    }
                }

                @grid.GetHtml(
                 tableStyle: "table table-bordered table-hover table-responsive",
                htmlAttributes: new { id = "grid" },
                           mode: WebGridPagerModes.All,
                columns: grid.Columns
                (
                 grid.Column("#", canSort: false, format: item => rowValAttachment = rowValAttachment + 1),
                 grid.Column("Employee Code", format: @<text>
                    <input type="hidden" id="lblempgid_@item.employeeGid" name="EmployeeId" value="@item.employeeGid" />
                    <input type="hidden" id="lblempname_@item.employeeGid" name="Employeename" value="@item.empName" />
                    <input type="hidden" id="lblempcode_@item.employeeGid" name="EmployeeId" value="@item.empCode" />
                    <input type="hidden" id="lblempbranch_@item.employeeGid" name="Employeename" value="@item.empbranch" />
                    <input type="hidden" id="lblempfc_@item.employeeGid" name="EmployeeId" value="@item.empfc" />
                    <input type="hidden" id="lblempcc_@item.employeeGid" name="Employeename" value="@item.empcc" />
                    <label style="font-weight:normal;" id="lblempcode_">@item.empCode</label>
                </text>),
                       grid.Column("Employee Name", format:@<text><label style="font-weight:normal;" id="lblempname">@item.empName</label></text>),
                       grid.Column(header: "Action", canSort: false, style: "action",
                 format: @<text>
                        <a><span class="btn btn-link btn-link" onclick="Selectemp(@item.employeeGid)">Select</span></a>
                </text>)))
            </div>*@
        <div style="margin-top:17px;" id="mainll">
            @functions {
                public static string Sorter(string columnName, string columnHeader, WebGrid grid)
                {
                    return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                        grid.SortDirection == SortDirection.Ascending ? "▲" :
                        "▼" : string.Empty);
                }
            }
            @grid.GetHtml(
            htmlAttributes: new { id = "wgridEmployeeCentralNewSearch" },
            tableStyle: "table table-bordered table-hover table-responsive ",
            mode: WebGridPagerModes.All,
            columns: grid.Columns
            (
                grid.Columns(grid.Column("S No", format: item => rowVal = rowVal + 1),
                grid.Column("RaiserCode", Sorter("RaiserCode", "Employee Code", grid)),
                grid.Column("RaiserName", Sorter("RaiserName", "Employee Name", grid)),
                    // grid.Column("RaiserCode", Sorter("RaiserCode", "Raiser Code", grid)),
                    // grid.Column("EmployeeId", Sorter("EmployeeId", "EmployeeId", grid)),
                grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                    <input type="hidden" id="lblempgid_@item.EmployeeId" name="EmployeeId" value="@item.EmployeeId" />
                    <input type="hidden" id="lblempname_@item.EmployeeId" name="Employeename" value="@item.RaiserName" />
                    <input type="hidden" id="lblempcode_@item.EmployeeId" name="EmployeeId" value="@item.RaiserCode" />
                    <input type="hidden" id="lblempbranch_@item.EmployeeId" name="Employeename" value="@item.empbranch" />
                    <input type="hidden" id="lblempbranchcode_@item.EmployeeId" name="Employeenamec" value="@item.ecfselect" />
                    <input type="hidden" id="lblempfc_@item.EmployeeId" name="EmployeeId" value="@item.empfc" />
                    <input type="hidden" id="lblempcc_@item.EmployeeId" name="Employeename" value="@item.empcc" />

                    <input type="hidden" id="lblempfcname_@item.EmployeeId" name="Employeename" value="@item.empfcname" />
                    <input type="hidden" id="lblempccname_@item.EmployeeId" name="Employeename" value="@item.empccname" />
                    <input type="hidden" id="lblempouname_@item.EmployeeId" name="Employeename" value="@item.empouname" />
                    <input type="hidden" id="lblempproductname_@item.EmployeeId" name="Employeename" value="@item.empproductname" />

                    <input type="hidden" id="lblempaccno_@item.EmployeeId" name="Employeename" value="@item.employee_acc_no" />
                    <input type="hidden" id="lblempbankgid_@item.EmployeeId" name="Employeename" value="@item.employee_bank_gid" />
                    <input type="hidden" id="lblempbankcode_@item.EmployeeId" name="Employeename" value="@item.employee_bank_code" />
                    <input type="hidden" id="lblempifsccode_@item.EmployeeId" name="Employeename" value="@item.employee_ifsc_code" />

                    @*<label style="font-weight:normal;" id="lblempcode_">@item.RaiserCode</label>*@
                    <a><span class="btn btn-link btn-link" onclick="Selectemp(@item.EmployeeId)">Select</span></a>
                </text>)
)))
        </div>

        @*</div>*@
        @*</div>*@
    </div>
</div>
<script>
    //$('#btnsearch').click(function () {
    //    var empcode = $('#empcode').val();
    //    var empname = $('#empname').val();
    //    var objownersearch = {
    //        "empName": empname,
    //        "empCode": empcode
    //    };
        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("searchEmployeedetails", "TravelClaimNew")',
            data: objownersearch,
            success: function (data) {
                $("#searchgrid").empty().append(data);
            },
            error: function () {
            }
        });*@

    //    $.post('../TravelClaimNew/searchEmployeedetails', objownersearch,
    //     function (data) {
    //         $("#searchgrid").load('../TravelClaimNew/_TravelsearchEmp?' + new Date().getTime());
    //         setTimeout(function () {
    //             $("#empname").val(empname);
    //         }, 50);

    //     }, 'json');
    //});
    $(document).ready(function () {
        $("#txtinwardcode").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../DashBoard/AutoCompletecode",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.RaiserCode, value: item.RaiserCode };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
        $("#txtinwardempname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../DashBoard/AutoCompletename",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.RaiserName, value: item.RaiserName };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    });
    function RefreshEmployee() {
        $('#txtinwardcode').val('');
        $('#txtinwardempname').val('');
        var url = "@(Html.Raw(Url.Action("_TravelsearchEmp", "TravelClaimNew")))";
        $("#searchgrid").load(url + '?' + new Date().getTime());
        //$('#searchgrid').load('../TravelClaimNew/_TravelsearchEmp?' + new Date().getTime());
    }
    function SearchEmployee() {
        var empcode = $('#txtinwardcode').val();
        var empname = $('#txtinwardempname').val();
        var objownersearch =
            {
                "RaiserName": empname,
                "RaiserCode": empcode
            };

        $.post('../TravelClaimNew/EmployeeSearchWithParameter', objownersearch,
        function (data) {
            var url = "@(Html.Raw(Url.Action("_TravelsearchEmp", "TravelClaimNew")))";
            $("#searchgrid").load(url + '?listfor=search&' + new Date().getTime());
            //$("#searchgrid").load('../TravelClaimNew/_TravelsearchEmp?listfor=search&' + new Date().getTime());
            setTimeout(function () {
                $("#txtinwardempname").val(empname);
            }, 50);

        }, 'json');
    }
    function Selectemp(id) {
        var empid = $("#lblempgid_" + id + "").val();
        var empcode = $("#lblempcode_" + id + "").val();
        var empname = $("#lblempname_" + id + "").val();
        var empbranch = $("#lblempbranch_" + id + "").val();
        var empbranchcode = $("#lblempbranchcode_" + id + "").val();
        var empfc = $("#lblempfc_" + id + "").val();
        var empcc = $("#lblempcc_" + id + "").val();
        var empfcname = $("#lblempfcname_" + id + "").val();
        var empccname = $("#lblempccname_" + id + "").val();

        //ramya added on14 sep 22 to avoid payment reject due to empty acc no
        var empaccno = $("#lblempaccno_" + id + "").val();
        var empbankgid = $("#lblempbankgid_" + id + "").val();
        var empbankcode = $("#lblempbankcode_" + id + "").val();
        var empifsccode = $("#lblempifsccode_" + id + "").val();
        
        if (empaccno != "" && empbankgid != "" && empbankgid != "0" && empbankcode != "" && empifsccode != "") {
            $('#empCode').val(empcode);
            $('#employeeGid').val(empid);
            $('#empName').val(empname);
            $('#empbranch').val(empbranch);
            $('#empbranchcode').val(empbranchcode);
            $('#empfc').val(empfc);
            $('#empcc').val(empcc);
            $('#empfcname').val(empfc + "-" + empfcname);
            $('#empccname').val(empcc + "-" + empccname);
            GotoIndexaddemps();
        }
        else
        {
            jAlert("No proper Account details are exists for this Employee, so cannot add this Employee!!", "Warning");
            return false;
        }
    }
    function GotoIndexaddemps() {
        objDialogEmployeeadd.dialog("close");
        objDialogEmployeeadd.remove();
        window.parent.jQuery('#ForPartialViewEmployeeadd').dialog('close');
    }
    $('.btnClear').click(function () {
        $('#empcode').val('');
        $('#empname').val('');

    });
    function fb_employee() {
        $("#grid td:nth-child(2),#grid th:nth-child(2)").show();
        $("#searchgrid").load('../TravelClaimNew/_TravelsearClear?' + new Date().getTime());
    }
</script>