@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pro = ViewBag.process;
    if (Session["Ecfdeclaratonnote"] != null)
    {
        ViewBag.decnote = Session["Ecfdeclaratonnote"].ToString();
    }
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RMScript/knockout-3.3.0.js")" type="text/javascript"></script>

<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabsmaintravel").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });

</script>
<div class="pageHeadingLayout">
    <span class="pageHeading">Travel Claim</span>
</div>
<div class="well">
    <div style="padding:0;margin:0;">
        @Html.Partial("TarvelClaimFrist")
    </div>

    @if (@ViewBag.process == "Postdata" && @ViewBag.message != "")
    {
        <br />
        <div id="processworking">
            <div id="tabsmaintravel" style="font-size:12px">
                <ul>
                    <li><a href="#tabsmaintravel-7">Invoice Details</a></li>
                    @*<li><a href="#tabsmaintravel-1">Travel Details</a></li>*@
                    @*<li><a href="#tabsmaintravel-2">Other Travel Expense</a></li>*@
                    <li><a href="#tabsmaintravel-4">Employee List</a></li>
                    @*<li><a href="#tabsmaintravel-3">Payment Details</a></li>*@
                    <li><a href="#tabsmaintravel-5">Attachment</a></li>
                    @if (Session["QueueGide"].ToString() != null)
                    {
                        <li><a href="#tabsmaintravel-6">Audit Trail</a></li>
                    }
                </ul>
                @*<div id="tabsmaintravel-1" style="padding: 10px 4px 3px 15px">
                    @Html.Partial("_TravelMode")
                </div>*@
                @*<div id="tabsmaintravel-2" style="padding: 10px 4px 3px 15px">
                        @Html.Partial("_OtherTravelExpense")
                    </div>*@
                <div id="tabsmaintravel-4" style="padding: 10px 4px 3px 15px">
                    @Html.Partial("_EmployeeList")
                </div>
                @*<div id="tabsmaintravel-3" style="padding: 10px 4px 3px 15px">
                    @Html.Partial("_EmpPayment")
                </div>*@

                <div id="tabsmaintravel-5" style="padding: 10px 4px 3px 15px">
                    @Html.Partial("_EmpAttachment")
                </div>
                @if (Session["QueueGide"].ToString() != "")
                {
                    <div id="tabsmaintravel-6" style="padding: 10px 4px 3px 15px">
                        @Html.Partial("_EmpAuditTraileall")
                    </div>
                }
                <div id="tabsmaintravel-7" style="padding: 10px 4px 3px 15px">
                   @Html.Partial("_TravelClaimInvoicedtl")
                </div>
            </div>
        </div>
        <table align="left" style="margin-top:5px;" class="myTableStyleTabNew" width="100%">
            <tr>
                <td>
                    <span><b>Remarks</b></span>
                    <br />
                    <textarea id="txtempRemarks" style="width: 60%; height:60px;" maxlength="250" class="textboxStyle">@ViewBag.ecfrmarks</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <span><b>Declaration Note</b></span>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="vertical-align:middle;"><input type="checkbox" id="comfirm" /></td>
                            <td style="vertical-align:middle;"><label id="lbldecnote" style="font-weight:normal">@ViewBag.decnote</label></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <button type="button" id="btnSubmitfinal" class="btn btn-success" value="Submit" onclick="SaveSubmitfinal()"><span class="glyphicon glyphicon-ok" style="color:white;font-size: small;"></span> Submit</button>

                    @if (Session["QueueGide"].ToString() != "")
                    {
                        <button type="button" id="btnCancelfinaldash" value="Cancel" class="btn btn-warning" onclick="SaveCancelfinalddasht()"><span style="color:white;font-size: small;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                    }
                    else
                    {
                        <button type="button" id="btnDraftfinal" value="Save" class="btn btn-primary" onclick="SaveDraftfinal()"><span class="glyphicon glyphicon-briefcase" style="color:white;font-size: small;"></span> Draft</button>
                        <button type="button" id="btnCancelfinal" value="Cancel" class="btn btn-warning" onclick="SaveCancelfinal()"><span style="color:white;font-size: small;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                    }
                </td>
            </tr>
        </table>
    }
    else
    {
        <div style="padding-left: 25px;padding-top: 20px;color: red;">
            @if (@ViewBag.message != null)
            {
                <script language="javascript">
                    jAlert('@ViewBag.message', "Message");
                    hideProgress();
                </script>
            }
            else
            {
                <div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            hideProgress();
                        });
                    </script>
                </div>

            }
        </div>
    }
</div>
<div id="ForPartialViewpolicypopup"></div>
<div id="ForPartialViewpolicypopupcre"></div>
<script>
    function testDecimals(currentval) {
        var count;
        currentval.match(/\./g) === null ? count = 0 : count = currentval.match(/\./g);
        return count;
    }
    function replaceCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }
    $(document).keydown(function (e) {
        if (e.keyCode == 8 && e.target.tagName != 'INPUT' && e.target.tagName != 'TEXTAREA')
            e.preventDefault();
    });
    $(document).ready(function () {
        $("#txtempRemarks").keyup(function () {
            var txtecfremarkh = $("#txtempRemarks").val();
            $("#txtecfremarkh").val(txtecfremarkh);
        });
    });
    var objDialogpolicypopup;
    $(document).ready(function () {
        objDialogpolicypopup = $("[id$='ForPartialViewpolicypopup']");
        objDialogpolicypopup.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            title: 'PPX ',
            width: 860,
            height: 400,
            open: function (event, ui) {
                $('.ui-dialog').css('z-index', 1003);
                $('.ui-widget-overlay').css('z-index', 1002);
            }
        });

    });
    var objDialogpolicypopupce;
    $(document).ready(function () {
        objDialogpolicypopupce = $("[id$='ForPartialViewpolicypopupcre']");
        objDialogpolicypopupce.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            title: 'PPX ',
            width: 860,
            height: 400,
            open: function (event, ui) {
                $('.ui-dialog').css('z-index', 1003);
                $('.ui-widget-overlay').css('z-index', 1002);
            }
        });

    });
    function SaveCancelfinalddasht() {
        @*//window.location.href = '@Url.Action("index", "DashBoard")';*@
        ////location = "../EOW/DashBoard/index";
        window.localStorage.previousurlflag = "-1";
        location = '@Url.Action("Index", "Dashboard", new { area = "Dashboard" })';
        
    }
    $(document).ready(function () {
        var stylesSelect = $('#txtempDeclarationnote');
        stylesSelect.attr('disabled', true);
    });
    function SaveCancelfinal() {
        jConfirm("Do you want to Cancel This ECF...? ", "Message", function (u) {
            if (u == true) {
                //window.location = '../TravelClaimNew/index';
                window.location.href = '@Url.Action("index", "TravelClaimNew")?' + new Date().getTime();
            }
        });
    }
    function SaveDraftfinal() {
        jConfirm("Do you want to Save Draft Mode This ECF...? ", "Message", function (u) {
            if (u == true) {
                var empRemarks = $("#txtempRemarks").val();
                //var ecfamount = $("#txtecfamount").val();
                var ecfamount = $("#txtecfamountt").val().replace(/,/g, "");
                var NewAttmodel = {
                    "ecfremark": empRemarks,
                    "Exp_Amount": ecfamount
                };
                $.post('../TravelClaimNew/_EmpECFDraft', NewAttmodel,
                function (data) {
                    if (data == "Success") {
                        //window.location = '../DashBoard/index';
                        @*window.location.href = '@Url.Action("index", "DashBoard")?' + new Date().getTime();*@
                        window.localStorage.previousurlflag = "-1";
                       /* var url = ('../../Dashboard/Dashboard/Index');
                        location = url.replace("EOW", "");*/
                        location = '@Url.Action("Index", "Dashboard", new { area = "Dashboard" })';
                    }
                    else {
                        jAlert(data, "Message");////----------------Pandiaraj 05-11-2022-----TO avoid Paid as Draft ECF ------------
                        return false;
                    }
                }, 'json');
            }
        });
    }
    function SaveSubmitfinal() {
        debugger;

        var hdtolattachment = $("#hdtolattachment").val()
        $('#btnSubmitfinal').attr('disabled', true);
        var noemplist = $("#txtnoofperson").val();
        var addnoper = $("#nooffperson").val();
        var status = $('#comfirm').is(':checked');
        var ifscmsg = $("#lblIFSCCode").val();

        if (status == false) {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert("Please select the Declaration Note", "Message");
            return false;
        }
        else if (addnoper != noemplist) {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert('Please Check Employee Details : The Employee List Should Be Equal Total No. Person', "Message");
            return false;
        }
        else if (hdtolattachment == 'undefined' || hdtolattachment == null) {
            $('#btnSubmitfinal').attr('disabled', false);
            jAlert('Please Attach Atleast one Attachment ', "Message");
            return false;
        }
        else if(ifscmsg!='')
        {
            jAlert('No proper Account details are exists, so cannot submit this Claim!!', "Warning");
            return false;
        }
        else {
            jConfirm("Do you want to Submit This ECF...? ", "Message", function (u) {
                if (u == true) {
                    showProgress();
                    var empRemarks = $("#txtempRemarks").val();
                    var ecfamount = $("#txtecfamountt").val().replace(/,/g, "");

                    var NewAttmodel = {
                        "ecfremark": empRemarks,
                        "Exp_Amount": ecfamount
                    };
                    $.post('../TravelClaimNew/_EmpECFCreate', NewAttmodel,
                    function (data) {
                        if (data == "Mode" || data == "Expense")
                        {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Please Check Travel  Details : The Expense Should Be Equal To ECF Amount', "Message");
                            return false;
                        }

                        if (data == "InvAmount") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Please Check Invoice  Details : The Invoice Should Be Equal To ECF Amount', "Message");
                            return false;
                        }
                        
                        else if (data == "Other") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Please Check Other Travel Expense Details : The Payment Should Be Equal To ECF Amount', "Message");
                            return false;
                        }
                        else if (data == "Payment") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Please Check Payment Details : The Payment Should Be Equal To ECF Amount', "Message");
                            return false;
                        }
                        else if (data == "BankAcc") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Please Check Bank Details - Bank Details are not Updated Properly', "Message");
                            return false;
                        }
                        else if (data == "Error") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert('Error..........', "Message");
                            return false;
                        }
                        else if (data == "Delmat") {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert("Delmat Has Not Created Ask Supervisor To Create Delmat", "Message");
                            return false;
                        }
                        else if (data == "Proxy") {
                            hideProgress();
                            jAlert("Saved Sucessfully", "Message", function (u) {
                                if (u == true) {
                                    @*window.location.href = '@Url.Action("index", "DashBoard")?' + new Date().getTime();*@
                                    window.localStorage.previousurlflag = "-1";
                                    location = '@Url.Action("Index", "Dashboard", new { area = "Dashboard" })';
                                   
                                }
                            });
                        }
                        else if(data.includes("ECF Number"))
                        {
                            hideProgress();  
                            jAlert(data, "Message", function (u) {
                                if (u == true) {
                                    @*window.location.href = '@Url.Action("index", "DashBoard")?' + new Date().getTime();*@
                                    window.localStorage.previousurlflag = "-1";
                                    //location = ('../../Dashboard/Dashboard/Index');
                                    location = '@Url.Action("Index", "Dashboard", new { area = "Dashboard" })';
                                }
                            });
                        }
                        else {
                            hideProgress();
                            $('#btnSubmitfinal').attr('disabled', false);
                            jAlert(data, "Message");
                            return false;
                            @*jAlert(data, "Message", function (u) {
                                if (u == true) {
                                    window.location.href = '@Url.Action("index", "DashBoard")?' + new Date().getTime();
                                }
                            });*@
                        }
                    }, 'json');
                }
                else {
                    hideProgress();
                    $('#btnSubmitfinal').attr('disabled', false);
                }
            });
        }
    }
</script>
<script type="text/javascript">
    var objDialogPayment;
    $(document).ready(function () {
        window.parent.jQuery('#ForPartialViewPaymentmodepopup').dialog('close');
        objDialogPayment = $("[id$='ForPartialViewEmpPaymentmewt']");
       // objDialogPayment.length = 1;
        objDialogPayment.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            //show: 'fade-in',
            //close: 'fade-out',
            width: 680,
            height: 330
        });

    });
    var objDialogPaymentmodepopup;
    $(document).ready(function () {
        objDialogPaymentmodepopup = $("[id$='ForPartialViewPaymentmodepopup']");
       // objDialogPaymentmodepopup.length = 1;
        objDialogPaymentmodepopup.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            //show: 'fade-in',
            //close: 'fade-out',
            title: 'PPX ',
            width: 950,
            height: 400,
            open: function (event, ui) {
                $('.ui-dialog').css('z-index', 1003);
                $('.ui-widget-overlay').css('z-index', 1002);
            }

        });

    });
    function NewPayment() {
        var url = '@Url.Action("_EmpPaymentCreate", "TravelClaimNew")?' + new Date().getTime();
        objDialogPayment.load(url);
        objDialogPayment.dialog({ title: 'New Payment' });
        objDialogPayment.dialog("open");
    }
    function EmpPaymentEdit(id) {

        var dats = id;
        var objowner = {
            "empName": dats,
        };

        $.post('../TravelClaimNew/_Emplistaddpa', objowner,
        function (data) {
            if (data == "Success") {
                var url = '@Url.Action("_EmpPaymentEdit", "TravelClaimNew")?id=' + id + '&viewfor=edit&' + new Date().getTime();
                objDialogPayment.load(url);
                //objDialogPayment.load('../EmployeeClaimNew/_EmpPaymentEdit?id=' + id + '&viewfor=edit&' + new Date().getTime());
                objDialogPayment.dialog({ title: 'Edit Payment' });
                objDialogPayment.dialog("open");
            }
            else {
                jAlert(data, "Message");
                return false;
            }
        }, 'json');
    }
    function EmpPaymentView(id) {

        var dats = id;
        var objowner =
        {
            "empName": dats,
        };

        $.post('../TravelClaimNew/_Emplistaddpa', objowner,
        function (data) {
            if (data == "Success") {
                var url = '@Url.Action("_EmpPaymentEdit", "TravelClaimNew")?id=' + id + '&viewfor=view&' + new Date().getTime();
                objDialogPayment.load(url);
                //objDialogPayment.load('../EmployeeClaimNew/_EmpPaymentEdit?id=' + id + '&viewfor=view&' + new Date().getTime());

                objDialogPayment.dialog({ title: 'View Payment' });

                objDialogPayment.dialog("open");
            }
            else {
                jAlert(data, "Message");
                return false;
            }
        }, 'json');
    }
    function EmpPaymentDelete(id) {
        jConfirm("Do you want to delete Employeee Payment...? ", "Message", function (u) {
            if (u == true) {
                var EmpPaymentmodel = { "Paymentgid": id }
                $.post('../TravelClaimNew/EmpPaymentDelete', EmpPaymentmodel,
              function (data) {
                  if (data == 0) {
                      jAlert("Error.", "Error");
                      return false;
                      location = location.href;
                  }
                  else {
                      jAlert("Deleted Successfully.", "Message");
                      @*var url = "@(Html.Raw(Url.Action("_EmpPaymentDetails", "EmployeeClaimNew")))";
                      $("#wgempPayment").load(url);*@
                      //$("#wgempPayment").load("../EmployeeClaimNew/_EmpPaymentDetails?" + new Date().getTime());
                      var url = '@Url.Action("_EmpPaymentDetails", "TravelClaimNew")?' + new Date().getTime();
                      $("#wgempPaymentt").load(url);
                      objDialogPayment.dialog("close"); window.parent.jQuery('#ForPartialViewEmpPaymentmewt').dialog('close');
                  }

              }, 'json');
            }
        });
    }
</script>

