
@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.PhysicalVerificationAsset
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
   
 CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.PVImportFileQuery,
                         canPage: true,
                         rowsPerPage: 20,
                         canSort: true,
                         ajaxUpdateContainerId: "grid"
                       );
    int id = @grid.PageIndex;

    //int rowVal = 0;
}

<div id="dvPVImportFileQuery">
 
   @grid.GetHtml(
fillEmptyRows: false,

        mode: WebGridPagerModes.All,
                  htmlAttributes: new { id = "PVSerachImportFileQueryGrid" },
tableStyle: "tableSmall table-bordered table-hover table-responsive",

columns: grid.Columns(

           // grid.Column("AssetGID", obj.Sorter("AssetGID", "AssetGID", grid), style: "col-lg-2"),
           grid.Column("AssetID", obj.Sorter("AssetID", "Asset Id", grid), style: "MidColumns10"),
           grid.Column("AssetCode", obj.Sorter("AssetCode", "Asset Code", grid), style: "MidColumns10"),
           grid.Column("AssetDesc", obj.Sorter("AssetDesc", " Asset Description ", grid), style: "MidColumns10"),
           grid.Column("Status", obj.Sorter("Status", " Status", grid), style: "MidColumns10"),
           grid.Column("FileName", obj.Sorter("FileName", "File Name", grid), style: "MidColumns10"),
           grid.Column("Branch", obj.Sorter("Branch", "Location", grid), style: "MidColumns10"),
           grid.Column("ReceiptDate", obj.Sorter("ReceiptDate", "ReceiptDate", grid), style: "MidColumns10")))

    <div class="table-bordered btnCenter" align="center">
        <b> @ViewBag.Message </b>
    </div>

    <div class="myTableStyleTabNew">
        <span>  Total No Of Records :@Model.PVImportFileQuery.Count</span>
    </div>

</div>