@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.PhysicalVerificationAsset
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "PVImportFileQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";

    CmnFunctions obj = new CmnFunctions();
    //var grid = new WebGrid(
    //                   source: Model.PVImportFileQuery,
    //                     canPage: true,
    //                     rowsPerPage: 20,
    //                     canSort: true,
    //                     ajaxUpdateContainerId: "grid"
    //                   );
    //int id = @grid.PageIndex;

    //int rowVal = 0;
}

<b>
    <span style="color: rgb(52, 108, 196);">PV Import File Query</span>
</b>
    <div class="well">
        <div id="PVImportFileQuery">
            <div class="well" style="background-color:white">
                <div>
                    <table class="myTableStyleTabNew" width="100%" align="center">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>

                                @*<a href="#"><span class="glyphicon glyphicon-search"></span></a>*@
                            </td>
                            <td>

                                <span>Year</span>
                                <br />
                                @*@Html.DropDownListFor(model => model.SelectedId, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyleSearch", @id = "FinancialYear", @name = "FinancialYear" })*@

                                <select class="textboxStyleSearch" id="FinancialYear">

                                    <option value="0">-----Select------</option>
                                </select>

                            </td>
                            <td>
                                <span>File Name</span>
                                <br />
                                @*@Html.DropDownListFor(model => model.SelectedId, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyleSearch", @id = "FinancialYear", @name = "FinancialYear" })*@

                                <select class="textboxStyleSearch" id="FileName">

                                    <option value="0">-----Select------</option>
                                </select>
                            </td>

                            <td>
                                <span>Branch</span>
                                <br />
                                @*@Html.DropDownListFor(model => model.SelectedId, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyleSearch", @id = "FinancialYear", @name = "FinancialYear" })*@
                                <select class="textboxStyleSearch" id="Branch">

                                    <option value="0">-----Select------</option>
                                </select>
                            </td>
                            <td>
                                <span>Status</span>
                                <br />
                                @*@Html.DropDownListFor(model => model.SheetName, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyleSearch", @id = "ddlSelectsheetName", @name = "ddlSelectsheetName" })*@
                                <select class="textboxStyleSearch" id="Status">

                                    <option value="0">-----Select------</option>
                                </select>

                            </td>
                            <td>
                                <span> </span>
                                <br />
                                <button class="btn btn-primary" type="submit" name="command" onclick="PVSearch()" value="SEARCH" id="SEARCH"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>

                                <span> </span>
                                <button id="btncanpayclear" onclick="txtClear()" class="btn btn-primary" value="clear"><span style="color:white;" class="glyphicon glyphicon-remove"></span> Clear</button>

                            </td>
                        </tr>

                    </table>
                </div>
                <table class="myTableStyleTabNew" align="center">
                    <tr></tr>
                </table>

            </div>
        </div>


        <div >

            @*@grid.GetHtml(
fillEmptyRows: false,

        mode: WebGridPagerModes.All,
                  htmlAttributes: new { id = "PVImportFileQueryGrid" },
tableStyle: "tableSmall table-bordered table-hover table-responsive",

columns: grid.Columns(

           // grid.Column("AssetGID", obj.Sorter("AssetGID", "AssetGID", grid), style: "col-lg-2"),
           grid.Column("AssetID", obj.Sorter("AssetID", "Asset Id", grid), style: "MidColumns10"),
           grid.Column("AssetCode", obj.Sorter("AssetCode", "Asset Code", grid), style: "MidColumns10"),
           grid.Column("AssetDesc", obj.Sorter("AssetDesc", " Asset Description ", grid), style: "MidColumns10"),
           grid.Column("Status", obj.Sorter("Status", " Status", grid), style: "MidColumns10"),
           grid.Column("FileName", obj.Sorter("FileName", "File Name", grid), style: "MidColumns10"),
           grid.Column("Branch", obj.Sorter("Branch", "Branch", grid), style: "MidColumns10"),
           grid.Column("ReceiptDate", obj.Sorter("ReceiptDate", "ReceiptDate", grid), style: "MidColumns10")))

            <div class="borderStyle btnCenter" align="center">
                <b> @ViewBag.Message </b>
            </div>

            <div class="myTableStyleTabNew">
                <span>  Total No Of Records :@Model.PVImportFileQuery.Count</span>
            </div>*@
            @Html.Partial("PVImportFileSerach")

        </div>
       

        <div>
            <b>

                <span style="color: rgb(52, 108, 196);">Summary</span>
            </b>
            <div class="well" style="background-color:white;height:65px;">


                <table class="myTableStyleTabNew" width="90%" align="center">
                    <tr>
                        <td>
                            <span> As per FA Register:<b><span style="color: rgb(52, 108, 196);"><text id="FAReg"></text></span></b> </span>
                        </td>
                        <td>
                            <span>  As per File Import:<b><span style="color: rgb(52, 108, 196);"><text id="NoOfRec"></text></span></b> </span>
                        </td>
                        <td>
                            <span>  Total No Of Files:<b><span style="color: rgb(52, 108, 196);"><text id="NoOfFiles"></text></span></b> </span>
                        </td>
                        <td>
                            <span>  Verified:<b><span style="color: rgb(52, 108, 196);"><text id="AFMismatched"></text></span></b> </span>
                        </td>
                        <td>
                            <span>  Not Verified:<b><span style="color: rgb(52, 108, 196);"><text id="LocationMismatched"></text></span></b> </span>
                        </td>
                        <td>
                            <span>  Not in FA Register:<b><span style="color: rgb(52, 108, 196);"><text id="NotinFA"></text></span></b> </span>
                        </td>
                    </tr>


                </table>

            </div>
        </div>

    </div>


<script>


    var Year;
    var Yearvalue;
    var Sheet;
    var Sheetvalue;
    var Branch;
    var Branchvalue;
    var Status;
    var Statusvalues;

    var currentTab4 = 0;
    $(function () {
        $("#tabaudit").tabs({
            select: function (e, i) {
                currentTab4 = i.index;
            }
        });
    });




    $(document).ready(function () {



        $(window).load(function () {
            $.ajax({
                url: '@Url.Action("FillDropPVImportFileQuery", "PhysicalVerificationAsset")?'+ new Date().getTime(),
                type: "GET",
                success: function (data) {
                    //alert(data[0].FinancialYear);
                    //$("#FinancialYear").empty();
                    //$("#FinancialYear").append("<option value='0' >--Select--</option>");
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].FinancialYear, data[i].FinancialYear);
                        $('#FinancialYear').append(opt);

                    }
                }
            });
        });




        $('#FinancialYear').change(function () {

            Year = $("#FinancialYear option:selected").text();
            Yearvalue = $('#FinancialYear').val();

            $("#FileName").empty();
            $("#FileName").append("<option value='0' >-----Select------</option>");

            if (Yearvalue == 0) {
                $("#FileName").empty();
                $("#FileName").append("<option value='0' >-----Select------</option>");
                $("#Branch").empty();
                $("#Branch").append("<option value='0' >-----Select------</option>");
                $("#Status").empty();
                $("#Status").append("<option value='0' >-----Select------</option>");


            }
            else {
                $.ajax({

                    url: '@Url.Action("YearPVImportFileQuery", "PhysicalVerificationAsset")?Year=' + Year + '&'+ new Date().getTime(),
                    type: "GET",
                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            var opt = new Option(data[i].FileName, data[i].FinancialYear);
                            $('#FileName').append(opt);

                        }
                    }
                });
            }

        });



        $('#FileName').change(function () {

            Year = $("#FinancialYear option:selected").text();
            Sheet = $("#FileName option:selected").text();
            Yearvalue = $('#FinancialYear').val();
            Sheetvalue = $('#FileName').val();


            

            $('#FAReg').empty();
            $('#NoOfRec').empty();
            $('#NoOfFiles').empty();
            $('#AFMismatched').empty();
            $('#LocationMismatched').empty();
            $('#NotinFA').empty();


            $("#Branch").empty();
            $("#Branch").append("<option value='0' >-----Select------</option>");
            $("#Status").empty();
            $("#Status").append("<option value='0' >-----Select------</option>");

            if (Yearvalue == 0 || Sheetvalue == 0) {
                $("#Branch").empty();
                $("#Branch").append("<option value='0' >-----Select------</option>");

            }
            else {
                $.ajax({

                    url: '@Url.Action("BranchPVImportFileQuery", "PhysicalVerificationAsset")?Year=' + Year + '&FileName=' + Sheet + '&' + new Date().getTime(),
                    type: "GET",
                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            var opt = new Option(data[i].Branch, data[i].Branch);
                            $('#Branch').append(opt);

                        }
                    }
                });
            }



            $.ajax({

                url: '@Url.Action("SummaryImportFileQuery", "PhysicalVerificationAsset")?Year=' + Year + '&FileName=' + Sheet + '&' + new Date().getTime(),
                type: "GET",
                success: function (data) {
                    $('#FAReg').append(data[0].AsPerFA);
                    $('#NoOfRec').append(data[0].NoOfRecords);
                    $('#NoOfFiles').append(data[0].NoOfFiles);
                    $('#AFMismatched').append(data[0].FAMatched);
                    $('#LocationMismatched').append(data[0].FAMissMatched);
                    $('#NotinFA').append(data[0].NotinFA);

                    
                }
            });



        });



        $('#Branch').change(function () {

            Year = $("#FinancialYear option:selected").text();
            Sheet = $("#FileName option:selected").text();
            Branch = $("#Branch option:selected").text();

            Yearvalue = $('#FinancialYear').val();
            Sheetvalue = $('#FileName').val();
            Branchvalue = $('#Branch').val();

            $("#Status").empty();
            $("#Status").append("<option value='0' >-----Select------</option>");

            if (Yearvalue == 0 || Sheetvalue == 0 || Branchvalue == 0) {
                alert(Branchvalue);
                $("#Status").empty();
                $("#Status").append("<option value='0' >-----Select------</option>");

            }
            else {
                $.ajax({

                    url: '@Url.Action("StatusPVImportFileQuery", "PhysicalVerificationAsset")?Year=' + Year + '&FileName=' + Sheet + '&Branch=' + Branch + '&' + new Date().getTime(),
                    type: "GET",
                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            var opt = new Option(data[i].Status, data[i].Status);
                            $('#Status').append(opt);

                        }
                    }
                });
            }

        });


    });


    function txtClear() {

      
     
        $('#FinancialYear').val(0);
        //$('#FileName').val(0);
        // $('#Branch').val(0);
        // $('#Status').val(0);


         $("#FileName").empty();
         $("#FileName").append("<option value='0' >-----Select------</option>");
         $("#Branch").empty();
         $("#Branch").append("<option value='0' >-----Select------</option>");
         $("#Status").empty();
         $("#Status").append("<option value='0' >-----Select------</option>");

         $('#FAReg').empty();
         $('#NoOfRec').empty();
         $('#NoOfFiles').empty();
         $('#AFMismatched').empty();
         $('#LocationMismatched').empty();
         $('#NotinFA').empty();


         $.ajax({
             type: 'GET',
             url: '@Url.Action("PVImportFileSerach", "PhysicalVerificationAsset")?' + new Date().getTime(),
             data: {},
             success: function (data) {

                 $("#dvPVImportFileQuery").empty().append(data);
                 // $('#txtFilter').val('');

             },
             error: function () {
             }
         });


    }

    $('#Status').change(function () {

        Status = $("#Status option:selected").text();
        Statusvalues = $("#Status").val();

    });


    function PVSearch() {
        

       // $("#dvPVImportFileQuery").empty();
        //Year = $("#FinancialYear option:selected").text();
        //Sheet = $("#FileName option:selected").text();
        // Branch = $("#Branch option:selected").text();
        // Status = $("#Status option:selected").text();

         var Yvalue = $("#FinancialYear").val();
         var Svalue = $("#FileName").val();
         var Bvalue = $("#Branch").val();
         var Svalue = $("#Status").val();
        
        
         if (Yvalue == 0 || Yvalue == "undefined")
         {
             //alert(Yearvalue+"asdf");
             Year = null;
         }
         if (Sheetvalue == 0 || Sheet == "-----Select------") {
            
             Sheet = null;
             alert("-----Select------");
         }
         if (Bvalue == 0) {
             

             Branch = null;
         }
         if (Statusvalues == 0 || Status=="-----Select------")
         {
          
             
             Status = null;
         }

         //alert(Yearvalue);
   
        var command = $("#SEARCH").val();
     

        var objownersearch =
            {
                "FinancialYear": Year,
                "FileName": Sheet,
                "Branch": Branch,
                "Status": Status,
                "command": command
            };

        $.ajax({
            type: 'GET',
            url: '@Url.Action("PVImportFileSerach1", "PhysicalVerificationAsset")?'+ new Date().getTime(),
            data: objownersearch,
            success: function (data) {

                $("#dvPVImportFileQuery").empty().append(data);
                Year = null;
                Sheet = null;
                Status = null;
                command = null;
               // $('#txtFilter').val('');

            },
            error: function () {
            }
        });
    }



</script>