@model  IEnumerable<IEM.Areas.MASTERS.Models.iem_mst_advancetype>
@using IEM.Common
@{
    //ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //WebGrid grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 15, canSort: true);
    //int id = @grid.PageIndex;
    //CmnFunctions cmn = new CmnFunctions();
    //int rowVal = 0;

    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model);
    int rowVal = 0;
}
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />

<div class="pageHeadingLayout">
    <span class="pageHeading"> Advance Type </span>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="well" style="padding:10px;">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td style="width:25%; padding:0px 10px 0px 3px;">
                    <div class="input-append ">
                        <span> Advance Type Name  </span>
                        <br />
                        <input type="text"
                               name="advancetypename"
                               id="advancetypename"
                               value="@ViewBag.advancetypename"
                               class="fstextbox "
                               style="display: block;"
                               autocomplete="off" />
                    </div>
                </td>
                <td style="width:25%; padding:0px 10px 0px 3px;">
                    <div class="input-append ">
                        <span> Gl No </span>
                        <br />
                        <input type="text"
                               name="masglno"
                               id="masglno"
                               value="@ViewBag.masglno"
                               class="fstextbox"
                               style="display: block;"
                               autocomplete="off"
                               onkeypress="return isNumberKey(event)" />
                    </div>
                </td>

                <td colspan="2" style="width:50%; padding:0px 10px 0px 3px;">

                    <button class="btn btn-primary" id="btnsearch" value="Search" name="command" type="submit"
                             style="margin-top:20px;color:white;">
                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-search"></span> Search</button>
                         

                    <button class="btn btn-primary" id="btnclear" onclick="refreshforadvantype()" value="Clear" name="command"
                             type="submit" style="margin-top:20px;">
                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                
                    <button type="button" value="New City" onclick="NewTypeforadvancetype()" class="btn btn-primary"
                            style="margin-top:20px;color:white;">
                        <span style="color:white;font-size:12px;" class="glyphicon glyphicon-plus"></span> New Advance Type
                    </button>
                    <button type="button" formaction="" value="Export Excel" onclick="DownloadExcel()" class="btn btn-warning" style="margin-top:20px;">
                        <span style="color:white;font-size:12px; " class="glyphicon glyphicon-plus"></span> Export Excel
                    </button>
                </td>
            </tr>
        </table>



        <div class="table-responsive" style="margin-top:10px;">
            @grid.GetHtml(
    htmlAttributes: new { id = "gridadvancetype" },
                tableStyle: "tableSmall table-bordered table-hover",
                columns: grid.Columns
                        (

grid.Columns(grid.Column("SNo", style: "slno", format: item => rowVal = rowVal + 1),
          grid.Column(header: "Advance Type Name", columnName: "advancetype_name"),
       grid.Column(header: "Gl No", columnName: "advancetype_gl_no"),
    grid.Column(header: "Active", columnName: "advancetype_active"),
                            grid.Column(header: "Action", style: "action",
                            format: @<text>
                                @Html.Raw("<a style='text-decoration:none;' title='View' onclick='ViewType(" + item.advancetype_gid + ")'> <span class='glyphicon glyphicon-eye-open'> </span> </a>")
                                @Html.Raw("<a style='text-decoration:none;' title='Edit' onclick='EditType(" + item.advancetype_gid + ")'> <span class='glyphicon glyphicon-edit' ></span> </a>")
                                @Html.Raw("<a style='text-decoration:none;' title='Delete' onclick='DeleteAdvancetype(" + item.advancetype_gid + ")'> <span class='glyphicon glyphicon-trash' > </span> </a> ")
                            </text>))))
        </div>
          
    </div>
}
<div id="ForPartialViewforadvtype"></div>
<div id="ForPartiadeleteadvtype"></div>
<div id="ForPartialforeditadvtype"></div>
<script type="text/javascript">
    var objDialogforadvtype;
    var objDialogforeditadvtype;
    $(document).ready(function () {

        $(function () {
            $("#txtFilter").focus();
        });
        $('#gridadvancetype tr th:nth-child(5)').addClass("nosort");
        $('#gridadvancetype').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");

  
        $("#advancetypename").focus();
        $("#advancetypename").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#masglno").focus();
        $("#masglno").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        objDialogforadvtype = $("[id$='ForPartialViewforadvtype']");
        objDialogforadvtype.dialog({
            autoOpen: false,
            modal: true,
            width: 350,
            height:400
        });
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function NewTypeforadvancetype() {
        objDialogforadvtype.load('../IEM_MST_ADVANCE/Create');
        objDialogforadvtype.dialog({ title: 'Add  Advance Type' });
        objDialogforadvtype.dialog("open");
        return false;
    }
    function EditType(id) {
        objDialogforadvtype.load('../IEM_MST_ADVANCE/Edit?id=' + id + '&viewfor=edit&' + new Date().getTime());
        objDialogforadvtype.dialog({ title: 'Edit Advance Type' });
        objDialogforadvtype.dialog("open");
        return false;
    }
    function ViewType(id) {
        objDialogforadvtype.load('../IEM_MST_ADVANCE/Edit?id=' + id + '&viewfor=view&' + new Date().getTime());
        objDialogforadvtype.dialog({ title: 'View Advance Type' });
        objDialogforadvtype.dialog("open");
        return false;
    }
    function DeleteAdvancetype(id) {
        objDialogforadvtype.load('../IEM_MST_ADVANCE/Edit?id=' + id + '&viewfor=delete&' + new Date().getTime());
        objDialogforadvtype.dialog({ title: ' Delete Advance Type' });
        objDialogforadvtype.dialog("open");
        return false;
    }
    function refreshforadvantype() {
        location = '../IEM_MST_ADVANCE/Index';
    }

    function DownloadExcel() {
        var UrlDet = "@Url.Action("DownloadExcel", "IEM_TAX")"
        ko.utils.postJson(UrlDet + '?ViewType=15&FileName=AdvanceType&' + new Date().getTime());
    }

</script>
