@model IEM.Areas.ASMS.Models.SupplierR_Modification

@{
    ViewBag.Title = "SupplierRecordModification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<b>
    <span style="color: rgb(52, 108, 196);">Supplier Record Modification</span>
</b><br />
@using (Html.BeginForm())
{
    <div class="well">
        <table align="center">
            <tr>
                <td>

                    <div >
                        <div style="margin-left:120px;">
                            <div style="width:100%">
                                <div class="input-group">

                                    <table align="center" class="myTableStyleTabNew">
                                        <tr>
                                            <td>
                                                <span>Supplier Code </span><br />
                                                @*@Html.TextBoxFor(model => model.SupplierCode, new { @class = "form-control" ,@id="txtSupplierCode"})*@
                                                <input type="text" id="txtSuppliercode" placeholder="Suppliercode" class="textboxStyle" maxlength="20" name="txtSuppliercode" value="@ViewBag.txtRSuppliercode" />
                                            </td>
                                            <td style="width:30px;"></td>
                                            <td>
                                                <span>Supplier Name </span><br />
                                                @*@Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control",@id="txtSupplierName" })*@
                                                <input type="text" id="txtSupplierName" placeholder="SupplierName" class="textboxStyle" maxlength="150" style="display: block;" name="txtSupplierName" value="@ViewBag.txtRSupplierName" />
                                            </td>
                                            <td style="width:30px;"></td>
                                            <td>
                                                <span>Supplier Status </span><br />
                                                @*@Html.DropDownList("ddlSupplierStatus", Model.SupplierStatus, new { @class = "form-control",@id="ddlSupplierStatus" })*@
                                                @*@Html.DropDownListFor(model => model.SupplierStatus, new SelectList(
                                                                      new List<Object>{
                                                                           new { value = 0 , text = "--Select--"  },
                                                                           new { value = 1 , text = "Active" },
                                                                           new { value = 2 , text = "In Active" },
                                                                           },
                                                                      "value",
                                                                      "text",
                                                            0),
                                                    new { @class = "form-control" }
                                                                       )*@
                                                <select class="textboxStyle" name="ddlSupplierStatus" id="ddlSupplierStatus">
                                                    <option value="0">--Select--</option>
                                                    <option value="Active">Active</option>
                                                    <option value="InActive">In Active</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>Supplier Classfication </span><br />
                                                @Html.DropDownList("ddlSup_Clasification", Model.RSupplierClassification, new { @class = "textboxStyle", @id = "ddlSup_Clasification" })
                                                @*@Html.DropDownListFor(model => model.SupplierClassification, new SelectList(
                                                                      new List<Object>{
                                                                           new { value = 0 , text = "--Select--"  },
                                                                           new { value = 1 , text = "Major" },
                                                                           new { value = 2 , text = "Critical" },
                                                                             new { value = 3 , text = "Ordinary" },
                                                                           },
                                                                      "value",
                                                                      "text",
                                                                       0),
                                                    new { @class = "form-control" }
                                                                       )*@
                                                @*<select class="form-control" name="ddlSup_Clasification" id="ddlSup_Clasification">
                                                        <option value="0">--Select--</option>
                                                        <option value="Major">Major</option>
                                                        <option value="Critical">Critical</option>
                                                        <option value="Ordinary">Ordinary</option>

                                                    </select>*@
                                            </td>
                                            <td style="width:30px;"></td>
                                            <td>
                                                <span>Request Type </span><br />
                                                @*@Html.DropDownList("ddlRequestType",Model.RequestType, new { @class = "form-control",@id="ddlRequestType" })*@
                                                @*@Html.DropDownListFor(model => model.RequestType, new SelectList(
                                                                      new List<Object>{
                                                                           new { value = 0 , text = "--Select--"  },
                                                                           new { value = 1 , text = "Activated" },
                                                                           new { value = 2 , text = "DeActivated" },
                                                                           },
                                                                      "value",
                                                                      "text",
                                                                       0)
                                                            ,
                                                    new { @class = "form-control" })*@
                                                <select class="textboxStyle" name="ddlRequestType" id="ddlRequestType">
                                                    <option value="0">--Select--</option>
                                                    <option value="Activated">Onboarding</option>
                                                    <option value="Renewal">Renewal</option>
                                                    <option value="Modification">Modification</option>
                                                    <option value="Activation">Activation</option>
                                                    <option value="DeActivated">DeActivated</option>


                                                </select>
                                            </td>
                                            <td style="width:30px;"></td>
                                            <td >
                                                <span style="display:none">Request status </span><br />
                                                @*@Html.DropDownList("ddlRequestStatus", Model.RequestStatus, new { @class = "form-control", @id = "ddlRequestStatus" })*@
                                                @*@Html.DropDownListFor(model => model.RequestStatus, new SelectList(
                                                                      new List<Object>{
                                                                           new { value = 0 , text = "--Select--"  },
                                                                           new { value = 1 , text = "Approved" },
                                                                           new { value = 2 , text = "Pending Approved" },
                                                                           new { value = 3 , text = "Draft" },
                                                                           },
                                                                      "value",
                                                                      "text",
                                                            0),
                                                    new { @class = "form-control" }
                                                                       )*@
                                                <select class="textboxStyle" name="ddlRequestStatus" style="display:none" id="ddlRequestStatus" disabled="disabled">
                                                    <option value="0">--Select--</option>
                                                    <option value="Draft">Draft</option>
                                                    <option value="In-process">In-process</option>
                                                    <option value="Reviewed">Reviewed</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Rejected">Rejected</option>

                                                </select>
                                                <button type="submit" name="Search" id="btnSearch" value="Search" class="glyphicon glyphicon-search cursorpointer" style="border:none;font-size:1.9em" />
                                                <button type="button"  name="Clear" id="btnClear" value="Clear" class="glyphicon glyphicon-refresh cursorpointer" style="border:none;font-size:1.9em" />
                                            </td>

                                        </tr>
                                        @*<tr>
                                            <td colspan="5" style="height:10px;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" align="center">
                                              
                                            </td>
                                        </tr>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>
            </tr>
            <tr style="height:30px"><td></td></tr>
            <tr>
                <td>
                    <div class="panel panel-default">

                        @if (@ViewBag.status == "yes")
                        {

                            var grid = new WebGrid(canPage: true, canSort: true);
                            grid.Bind(Model.SupplierRActiveList, autoSortAndPage: true);
                            grid.Pager(WebGridPagerModes.All);

                            @grid.GetHtml(
    tableStyle: "tableSmall table-bordered table-hover", columns: grid.Columns(
          grid.Column("RSupplierheadergid", "Supp HeaderGid"),
                  grid.Column("RSupplierCode", "Supp Code"),
                      grid.Column("RSupplierName", "Supp Name"),
                      grid.Column("RSupplierClassificationName", "Supp Classfication"),
                      grid.Column("RRequestTypeName", "Req Type"),
                      grid.Column("RRequestStatusName", "Req Status"),
                      grid.Column("RSupplierStatusName", "Supp Status"),
                     // grid.Column("ActivityCount", "Activity Count"),
                 grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                    @*@Html.Raw("<input type='button'  title='Edit' onclick='Renewal(" + item.SupplierCode + ")' class='btn btn-primary' value='Renewal' />"*@
                    @Html.Raw("<a data-model='' href='/SpplierActivation/SupplierActivation/" + item.RSupplierCode + "' id='" + item.RSupplierCode + "' title='Search'><span class='glyphicon glyphicon-edit cursorpointer'></span></a>"
                  )
                </text>)
                                 )
                                 )
                            <label>Page: @(grid.PageIndex+1) of @grid.PageCount - Total No of Records:@grid.TotalRowCount</label>
                        }
                        
                        @if (@ViewBag.value == "RecordNtFound")
                        {
                            <div><h4>No Record Found</h4></div>
                        }
                       
                    </div>
                </td>
            </tr>
        </table>
    </div>

}

<script>
    $(document).ready(function () {
        alert('hellow');
        $('#btnClear').click(function () {
            // alert('hh');
            //$('#txtSupplierCode').val('');
            $('#txtSupplierName').val('');
            $("#ddlSupplierStatus").val('0');
            // $("#ddlSup_Clasification").attr('selectedIndex', 0);
            $("#ddlSup_Clasification").val('0');
            $("#ddlRequestType").val('0');
            $("#ddlRequestStatus").val('0');
            $('#txtSuppliercode').val('');
            // alert( $('#txtSuppliercode').val())
            return false;
        });
    });
   
</script>
