@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/RMchosen/chosen.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RMScript/chosen.jquery.js")" type="text/javascript"></script>

<style>
    table, th, td {
        white-space: nowrap;
    }
</style>
<div class="pageHeadingLayout">
    <span class="pageHeading">Check List Master</span>
</div>
<div class="well" style="padding:10px;">
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:10%; padding:0px 10px 0px 3px;">
                <span>Doc Type </span>
                <br />
                <select id="ddlDocType" class="fstextbox chosen-select" data-bind="foreach: {data: DocTypeArray, afterRender: renderedHandler1 } , event:{ change:$root.DocTypeSelectChanged }">
                    <optgroup class="grp" data-bind="foreach:ChildGroup, attr: { label: GroupName }">
                        <option class="opt" data-bind="value: Id, text: Name"></option>
                    </optgroup>
                </select>
            </td>
            <td style="width:10%; padding:0px 10px 0px 3px;">
                <div id="divPOType" style="width:100%;">
                    <span>PO Type </span>
                    <br />
                    <select name="ddlPOType" id="ddlPOType" data-bind="event:{ change:$root.POTypeSelectChanged }" class="fstextbox" style="width:300px;">
                        <option value="P">PO</option>
                        <option value="W">WO(With PAR)</option>
                        <option value="O">WO(WithOut PAR)</option>
                        <option value="N">NON PO</option>
                        <option value="U">Utility</option>
                        @*<option value="O">Others</option>*@
                    </select>
                </div>
            </td>
            <td style="width:80%"></td>
        </tr>
        <tr>
            <td style="width:10%; padding:0px 10px 0px 3px;">
                <span>Type </span>
                <br />
                <select name="ddlLoadType" id="ddlLoadType" data-bind="event:{ change:$root.POTypeSelectChanged }" class="fstextbox" style="width:300px;">
                    <option value="Y">Active</option>
                    <option value="N">Non-Active</option>
                </select>
            </td>
            <td style="width:10%; padding:0px 10px 0px 3px;">
                <span>Parent </span>
                <br />
                <select name="ddlParent" id="ddlParent" class="fstextbox" style="width:300px;" data-bind="options: ParentDDArray, optionsText: 'ParentName', optionsValue:'ParentId', value: 0, event:{ change:$root.ParentSelectChanged }"></select>
            </td>
            <td style="width:80%; vertical-align:bottom; padding:0px; text-align:right;">
                <button type="button" formaction="" value="Export Excel" onclick="DownloadExcel()" class="btn btn-warning">
                    <span style="color:white;font-size:12px; " class="glyphicon glyphicon-plus"></span> Export Excel
                </button>
            </td>
        </tr>
    </table>
    <br />
    <table class="tableSmall table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th style="width:7%;">
                    SlNo<br />
                    <input type="hidden" id="hdfCHKLSTId" name="hdfCHKLSTId" value="0" />
                    <input type="text"
                           id="txtSlNo"
                           data-bind="value: $root.CheckListDetailArray().length + 1"
                           style="text-align:center;"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </th>
                <th style="width:30%;">
                    Title
                    <br />
                    <input type="text"
                           id="txtTitle"
                           maxlength="100"
                           class="textboxStyleBig" />
                </th>
                <th style="width:10%;">
                    Show Confirmation
                    <br />
                    <input type="checkbox" id="chkConfirmation" checked="checked" />
                </th>
                <th style="width:25%;">
                    Reason
                    <br />
                    <input type="text"
                           id="txtReason"
                           maxlength="200"
                           class="textboxStyleBig" />
                </th>
                <th style="width:8%;">
                    Active
                    <br />
                    <input type="checkbox" id="chkActive" checked="checked" />
                </th>
                <th style="width:12%;">
                    Display Order
                    <br />
                    <input type="text"
                           id="txtDisplayOrder"
                           maxlength="2"
                           onkeypress="return isNumberKey(event)"
                           class="textboxStyleBig" />
                </th>
                <th style="width:8%;" align="center">
                    Action
                    <br />
                    <a title="Save" data-bind="click: $root.create" style="cursor: pointer; width:15px;"> <span class="glyphicon glyphicon-floppy-disk" style="color:white"></span></a>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: CheckListDetailArray">
            <tr>
                <td style="width:7%;" align="center">
                    <span data-bind="text: SlNo"></span>
                </td>
                <td style="width:30%;">
                    <span data-bind="text: Title"></span>
                </td>
                <td style="width:10%;" align="center">
                    <span data-bind="text: IsConfirmed"></span>
                </td>
                <td style="width:25%;">
                    <span data-bind="text: Reason"></span>
                </td>
                <td style="width:8%;" align="center">
                    <span data-bind="text: Active"></span>
                </td>
                <td style="width:12%;" align="center">
                    <span data-bind="text: DisplayOrder"></span>
                </td>
                <td style="width:8%;" align="center">
                    <a title="Edit" data-bind="click: $root.edit" style="cursor: pointer; width:15px;"> <span class=" glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <p style="font-size: 12px; color: red;">Note: ~ symbol to collect data from user.</p>
</div>
<script>
    var UrlDet = "@Url.Action("GetCheckListGrid", "CheckList")"
    var UrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
    function DownloadExcel() {
        var UrlDet1 = "@Url.Action("DownloadExcel", "CheckList")"
        ko.utils.postJson(UrlDet1 + '?ViewType=16&FileName=CheckList&' + new Date().getTime());
    }
</script>
<script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsCheckList.js")" type="text/javascript"></script>
