@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "cbfraiseredit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
        Session["ViewBag"] = "";
    }
    else if (viewfor == "view" || viewfor == "cancel" || viewfor == "delete")
    {
        ViewBag.viewmode = "disabled";
        Session["ViewBag"] = "disabled";
    }

}

<style>
    .rightAlign{
        text-align:right !important;
    }
    .headWidth8{
        width:8% !important;
        text-align:center !important;
    }
    .headWidth12{
        width:12% !important;
    }
    .headWidth10{
        width:10% !important;
    }
    .headWidth16{
        width:16% !important;
    }
    .headWidth30{
        width:30% !important;
    }
</style>
<style>
    .prd4 {
        width: 4% !important;
    }
    .prd5 {
        width: 5% !important;
    }
    .prd15 {
        width: 15% !important;
    }

    .prd20 {
        width: 20% !important;
    }

    .prd9 {
        width: 9% !important;
    }

    .prd7 {
        width: 7% !important;
    }
</style>



<style>
    .sltd {
        padding: 3px 2px !important;
        width: 2% !important;
    }

    .opextd {
        padding: 3px 2px !important;
        width: 8% !important;
    }

    .depttd {
        padding: 3px 2px !important;
        width: 7% !important;
    }

    .budgettd {
        padding: 3px 2px !important;
        width: 7% !important;
    }

    .desctd {
        padding: 3px 2px !important;
        width: 15% !important;
    }

    .yeartd {
        padding: 3px 2px !important;
        width: 9% !important;
    }

    .bAmttd {
        padding: 3px 2px !important;
        width: 10% !important;
        text-align: right;
    }

    .LineAmttd {
        padding: 3px 2px !important;
        width: 8% !important;
        text-align: right;
    }

    .UAmttd {
        padding: 3px 2px !important;
        width: 10% !important;
        text-align: right;
    }

    .CAmndtd {
        padding: 3px 2px !important;
        width: 9% !important;
        text-align: right;
    }

    .balancetd {
        padding: 3px 2px !important;
        width: 7% !important;
        text-align: right;
    }

    .attachtd {
        padding: 3px 2px !important;
        width: 5px !important;
    }

    .actiontd {
        padding: 3px 2px !important;
        width: 3% !important;
    }
</style>

<style>
    .parsl {
        width: 30px !important;
        padding: 3px !important;
    }

    .parproductgroup {
        width: 160px !important;
        padding: 3px !important;
    }

    .parproductCode {
        width: 65px !important;
        padding: 3px !important;
    }

    .parproductName {
        width: 200px !important;
        padding: 3px !important;
    }

    .parDescription {
        width: 250px !important;
        padding: 3px !important;
    }

    .parProductUOM {
        width: 90px !important;
        padding: 3px !important;
    }

    .parQTY {
        width: 60px !important;
        padding: 3px !important;
    }

    .parunitAmt {
        width: 90px !important;
        padding: 3px !important;
    }

    .parRemarks {
        width: 200px !important;
        padding: 3px !important;
    }

    .parTotal {
        width: 100px !important;
        padding: 3px !important;
    }

    .parchartofaccount {
        width: 120px !important;
        padding: 3px !important;
    }

    .parFCCC {
        width: 150px !important;
        padding: 3px !important;
        position: relative;
    }

    .parbudgetline {
        width: 120px !important;
        padding: 3px !important;
    }

    .parAct {
        width: 60px !important;
        padding: 3px !important;
        text-align: center;
    }

    .parBOQ {
        width: 100px !important;
        padding: 3px !important;
        text-align: center !important;
    }

    .myTab {
        min-width: 1830px !important;
    }
</style>

<input type="hidden" id="hid_cbfbranchEditgid" value="@Model.cbdRasieobj.branchcodeGid" />
<div class="well">

    <input type="hidden" id="idPRPAR" value="@Model.cbdRasieobj.cbfMode" />
    <input type="hidden" id="idisbudj" name="hidparent" value="@Model.cbdRasieobj.budgeted" />
    <input type="hidden" id="lblittype" value="@Model.cbdRasieobj.requestType" />
    <input type="hidden" id="idcbftype" name="productID" value="@Model.cbdRasieobj.cbfType" />
    <input type="hidden" id="idbranch" value="@Model.cbdRasieobj.branchType" />

    @*delmat*@
    <input type="hidden" id="hid_cbfhead" value="@Session["cbfgid"]" />

    @*@using (Html.BeginForm())
    {*@
        
            @*<span style="color: rgb(52, 108, 196);">CBF Header</span>
        
        <br /><br />*@
    <fieldset>
        <legend style="border:none;">CBF Header</legend>
        <div class="panel panel-default borderStyleBlue" style="margin-bottom:10px;">

            <table class="myTableStyleTab" style="width:100%;">
                <tr>
                    <td style="padding:10px; width:16%;">
                        <span>Raiser Name</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               class="textboxStyle"
                               readonly="readonly"
                               style="width:100%"
                               value="@Session["employee_name"]" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>Raiser Code</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               class="textboxStyle"
                               readonly="readonly"
                               style="width:100%;"
                               value="@Session["employee_code"]" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Number</span>
                        <br />
                        <input type="text"
                               name="txtcbfno"
                               class="textboxStyle"
                               style="width:100%;"
                               value=@Model.cbdRasieobj.cbfNo
                               readonly="readonly"
                               id="cbf_no" />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Date</span>
                        <br />
                        <input type="text"
                               id="cbfdate_id"
                               style="width:100%;"
                               value=@Model.cbdRasieobj.cbfDate
                               maxlength="10"
                               class="textboxStyle valid" @ViewBag.viewmode />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF End Date</span>
                        <br />
                        <input type="text"
                               name="cbfenddate"
                               id="cbfendate_id"
                               style="width:100%;"
                               value="@Model.cbdRasieobj.cbfEnddate"
                               maxlength="10"
                               class="textboxStyle valid" @ViewBag.viewmode />
                    </td>
                    <td style="padding:10px; width:16%;">
                        <span>CBF Amount</span>
                        <br />
                        <input type="text"
                               name="txt_cbfamount"
                               class="textboxStyle valid "
                               style="width:100%;"
                               value="@Model.cbdRasieobj.cbfAmt"
                               readonly="readonly"
                               id="cbf_amt"
                               maxlength="16"
                               width="100" @ViewBag.viewmode />
                    </td>
                </tr>
                <tr>

                    <td style="padding:10px;">
                        <span>Deviation Amount</span>
                        <br />
                        <input type="text"
                               name="txtcbfdev_amt"
                               value="@Model.cbdRasieobj.deviationAmt"
                               class="textboxStyle valid"
                               style="width:100%;"
                               maxlength="16"
                               id="cbf_dev"
                               width="100" @ViewBag.viewmode />
                    </td>
                    <td style="padding:10px;">
                        <div id="ddlprojectowner" style="width:100%;">
                            <span>Project Owner</span>
                            <br />
                            @if (viewfor == "edit")
                            {
                                @Html.DropDownList("ProductType", Model.projectOwner1, "--Select Project Owner--", new { @class = "textboxStyle valid", @id = "ProductType", @style = "width:100%;" })
                            }
                            else
                            {
                                @Html.DropDownList("ProductType", Model.projectOwner1, "--Select Project Owner--", new { @class = "textboxStyle valid", @id = "ProductType", @disabled = "disabled", @style = "width:100%;" })
                            }
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <div id="ddlbranchcode" style="width:100%;">
                            <span>CBF Branch Code</span>
                            <br />
                            @if (viewfor == "edit")
                            {
                                <input type="text" id="txt_branchEditName" class="textboxStyleMedium80" value="@Model.cbfbranchName" disabled="disabled" />
                                <a id="btnsearch" onclick="GetBranchForEdit()" class="InlineIconStyle"><span class="glyphicon glyphicon-search cursorpointer"></span></a>
                            }
                            else
                            {
                                <input type="text" id="txt_branchEditName" style="width:100%;" class="textboxStyle" disabled="disabled" value="@Model.cbfbranchName" />
                            }
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <div style="width:100%;" id="ddlrequestfor" @ViewBag.viewmode>
                            <span>Request by</span>
                            <br />
                            @Html.DropDownList("Request", Model.requestFor, "--Select Request by--", new { @class = "textboxStyle valid", @id = "Request", @disabled = "disabled", @style = "width:100%;" })
                        </div>
                    </td>
                    <td style="padding:10px;" colspan="2">
                        <table style="width:100%;">
                            <tr>
                                <td style="padding-right:5px; width:33%">
                                    <span>CBF Mode</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdpar" disabled="disabled" name="mode" value="PAR" checked="checked" @ViewBag.viewmode />
                                        PAR
                                        <input type="radio" id="id_rdpr" disabled="disabled" name="mode" value="PR" @ViewBag.viewmode />
                                        PR
                                    </div>
                                </td>
                                <td style="padding-right:5px; width:33%">
                                    <span>Budgeted</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdbudjected" name="Budgeted" value="Y" disabled="disabled" checked="checked" @ViewBag.viewmode />
                                        Yes
                                        <input type="radio" id="id_rdunbudjected" name="Budgeted" disabled="disabled" value="N" @ViewBag.viewmode />
                                        No
                                    </div>
                                </td>
                                <td style="padding-right:5px; width:33%">
                                    <span>CBF Approval</span>
                                    <br />
                                    <div style="margin-top:5px;">
                                        <input type="radio" id="id_rdappreg" name="approvaltype" value="R" checked="checked" @ViewBag.viewmode />
                                        Regular
                                        <input type="radio" id="id_rdapplater" name="approvaltype" value="L" @ViewBag.viewmode />
                                        Later
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </td>

                </tr>
                <tr>
                    <td style="padding:10px;">
                        <span>Branch Type</span>
                        <br />
                        <div style="margin-top:5px;">
                            <input type="radio" id="id_rdbranchtype" name="Branchtype" value="Y" checked="checked" @ViewBag.viewmode />
                            Single
                            <input type="radio" id="id_rdbrachmultir" name="Branchtype" value="N" @ViewBag.viewmode />
                            Multiple
                        </div>
                    </td>
                    @if (viewfor == "edit")
                    {
                        <td style="padding:10px;">
                            <span>Budget SPOC</span>
                            <br />
                            @Html.DropDownList("Budget", Model.BudgetOwner, "--Select Budget SPOC--", new { @class = "textboxStyleBig required", @id = "Budget" })
                            <div style="display:none;">
                                <span>Type</span>
                                <br />
                                <div id="ittype" style="margin-top:5px;">
                                    <input type="radio" id="id_rdapp" name="itapplication" value="Y" checked="checked" @ViewBag.viewmode />
                                    Application
                                    <input type="radio" id="id_rdinfar" name="itapplication" value="N" @ViewBag.viewmode />
                                    Infrastructure
                                </div>
                            </div>
                        </td>


                    }
                    <td style="padding:10px;" colspan="2">
                        <span>Description</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txt_description"
                                   class="textboxStyleBig valid "
                                   value="@Model.cbdRasieobj.description"
                                   maxlength="264"
                                   id="description_id" @ViewBag.viewmode />
                        </div>
                    </td>
                    <td colspan="2" style="padding:10px;">
                        <span>Justification</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txt_justification"
                                   class="textboxStyleBig valid"
                                   maxlength="264"
                                   value="@Model.cbdRasieobj.justfication"
                                   id="justification" @ViewBag.viewmode />
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </fieldset>
        <input id="prqty" hidden="hidden">
        <input id="prcostestimation" hidden="hidden">
        <input id="unitprise" hidden="hidden">
        <div id="viewboqattachment"></div>
        <input id="hidden" hidden="hidden" />
        @if (viewfor == "view" || viewfor == "cancel" || viewfor == "delete")
        {
        if (@Model.cbdRasieobj.cbfMode == "PR")
        {
        
    <fieldset>
        <legend style="border:none;">PR Header</legend>
        <div class="panel panel-info borderStyleBlue" style="margin-bottom: 10px;">
            
            <div style="padding:10px;">
                @Html.Partial("editprheader")
            </div>
            <div style="padding:10px 10px;">
                @Html.Partial("editprdetails")
            </div>

            <div style="padding:10px;">
                @Html.Partial("editcbfdetails")
            </div>
        </div>
    </fieldset>
        }
        else
        {
    <fieldset>
        <legend style="border:none;">PAR Header</legend>
        <div class="panel panel-info borderStyleBlue" style="margin-bottom: 10px;">
            <div style="width:100%;">
                @Html.Partial("editparheader")
            </div>
            <div style="padding:10px 10px;">
                @Html.Partial("editpardetails")
            </div>
            <div style="padding:10px;">
                @Html.Partial("editcbfpardetails")
            </div>
        </div>
       
    </fieldset>
        
        }


        }
        else
        {
        if (@Model.cbdRasieobj.cbfMode == "PR")
        {
    <fieldset>
        <legend>PR Header</legend>
        <div class ="panel panel-info borderStyleBlue">
            <div style="padding:10px;">
                @Html.Partial("editprheader")
            </div>
            <div id="grid_details" style="padding:10px 10px;">
                <div id="prdetailsgrid">
                </div>
            </div>

            <div id="grid_cbfdetails" style="padding:10px;">
                @Html.Partial("editcbfdetails")
            </div>
        </div>
    </fieldset>
       
        }
        else
        {
    <fieldset>
        <legend>PAR Header</legend>
        <div class="panel panel-info borderStyleBlue" style="margin-bottom: 10px;">
            <div style="padding:10px;">
                @Html.Partial("editparheader")
            </div>
            <div id="pardetails" style="padding:10px 10px;">

            </div>
            <div id="cbfpardetails" style="padding:10px;">
                @Html.Partial("editcbfpardetails")
            </div>
        </div>
        
    </fieldset>
        
        }

        }
        @if (viewfor == "cancel")
        {

        @*<span style="color: rgb(52, 108, 196);">CBF Cancellation Maker</span>

        <br /><br />*@
            <fieldset>
                <legend>CBF Cancellation Maker</legend>
                <br />
                <div class="panel panel-info borderStyleBlue" align="center">
                    <table>
                        <tr>
                            <td style="padding:10px;">
                                <input type="checkbox" disabled="disabled" checked="checked" value="Cancel" />
                                Cancel
                            </td>
                        </tr>
                        <tr>

                            <td style="padding:10px;">
                                <div>
                                    <span>Remarks</span>
                                    <br />
                                    <textarea name="txt_remarks"
                                              class="textboxStyleBig valid"
                                              style="display:block;width:437px;height:89px;"
                                              maxlength="264"
                                              id="description_id"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </fieldset>
       
        }
        <input id="parheaderview" hidden="hidden">
        <input id="ss" hidden="hidden" />
        <input id="parcostestimation123" hidden="hidden">
    <input id="hidpardetailsgid" hidden="hidden">
        <input id="hidden" hidden="hidden" />
        <div id="tabsatcbf" style="height:100%; width:100%;">
            <ul>
                <li><a href="#tabs-1">Audit Trail</a></li>
                <li><a href="#tabs-2">Attachments</a></li>
            </ul>
            <div id="tabs-1">
                @Html.Partial("tab_AuditTrail")
            </div>
            <div id="tabs-2">
                @Html.Partial("BoqAttach")
            </div>
        </div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div @*style="margin-left: 350px;"*@ @*style="padding:10px 10px 0px 0px;text-align:center;"*@>
                        @if (viewfor == "edit")
                        {
                            @*<input type="button" class="glyphicon glyphicon-floppy-saved" style="color:white;" value="Save" onclick="editoverallsave()" @ViewBag.viewmode />*@
                            <button type="button" id="btncancel" class="btn btn-primary" onclick="editoverallsave()" value="Submit">
                                <span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save
                            </button>
                            <button type="button" class="btn btn-success" onclick="editoverallsubmit()" value="Submit">
                                <span class="glyphicon glyphicon-floppy-saved" style="color:white;"></span> Submit
                            </button>
                            <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="fucntioncloseedit()">
                                <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                            </button>

                            @*<input type="button" class="glyphicon glyphicon-floppy-saved" style="color:white;" value="Submit" onclick="editoverallsubmit()" @ViewBag.viewmode />
                                <input type="button" class="glyphicon glyphicon-eye-close" style="color:white;" value="Cancel" onclick="fucntioncloseedit()" />*@
                        }
                        @if (viewfor == "view")
                        {
                            <button type="button" class="btn btn-warning" value="Back" onclick="fucntioncloseeditback()">
                                <span style="color:white;" class="glyphicon glyphicon-eye-close"></span> Back
                            </button>
                            @*<input type="button" value="BACK" onclick="fucntioncloseedit()" class="btn btn-warning" />*@

                        }
                        @if (viewfor == "delete")
                        {
                            <button type="button" class="btn btn-primary" value="Delete" onclick="deleteprocess()">
                                <span style="color:white;" class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                            <button type="button" class="btn btn-warning" value="Back" onclick="fucntioncloseeditback()">
                                <span style="color:white;" class="glyphicon glyphicon-eye-close"></span> Back
                            </button>
                            @*<input type="button" class="btn btn-danger " value="Delete" onclick="deleteprocess()" />
                                <input type="button" class="btn btn-warning " value="BACK" onclick="fucntioncloseedit()" />*@
                        }
                        @if (viewfor == "cancel")
                        {
                            <button type="button" class="btn btn-success" value="Submit" onclick="cancelprocess()">
                                <span style="color:white;" class="glyphicon glyphicon-floppy-saved"></span> Submit
                            </button>
                            <button type="button" class="btn btn-warning" value="Back" onclick="fucntioncloseeditback()">
                                <span style="color:white;" class="glyphicon glyphicon-eye-close"></span> Back
                            </button>
                            @*<input type="button" class="btn btn-primary " value="Submit" onclick="cancelprocess()" />
                                <input type="button" class="btn btn-warning " value="Back" onclick="fucntioncloseedit()" />*@
                        }
                        @*@if (viewfor == "delmat")
                            {
                                <div>
                                    <button type="button" id="btnapprove" name="command" class="btn btn-success" onclick="DelmatApproveForCbf()" value="Submit">
                                        <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> Approve
                                    </button>
                                    &nbsp;
                                    <button type="button" id="btnreject" class="btn btn-danger" value="Delete" onclick="DelmatRejectForCbf()">
                                        <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject
                                    </button>
                                    &nbsp;
                                    <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="BackToFlexiDash()">
                                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                                    </button>
                                </div>
                            }*@
                </td>
            </tr>
        </table>
         <div id="boqattachment"> </div>


        @*}*@
    <input type="hidden" id="hidParHeaderGidEdit" name="hidParHeaderGidEdit" />

        <div id="branchdetailseditcbf"></div>
        <input type="hidden" id="hid_branchdet" />
        @*<script>
                var objbranchcbfedit;
                $(document).ready(function () {
                    objbranchcbfedit = $("[id$='branchdetailseditcbf']");
                    objbranchcbfedit.dialog({
                        autoOpen: false,
                        modal: true,
                        show: 'fade-in',
                        close: 'fade-out',
                        cache: false,
                    });
                });
            </script>*@

        <script type="text/javascript">



        @*function DelmatApproveForCbf()
        {
            var cbfheadgid = $('#hid_cbfhead').val();
            var pr = {

                "cbfGid": cbfheadgid
            }
            $.post('@Url.Action("DelmatApproveForCbf", "CbfRaiserEdit")?' + new Date().getTime(), pr,
                   function (data) {
                       if (data == 0) { location = location.href; } else {
                           jAlert("Approved Successfully", "Success");
                           //location.href = '@Url.Action("Delmate", "Delmet")?' + new Date().getTime()
                           location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                       }
                   }, 'json');
        }*@

            var objDialogforboq;
            $(document).ready(function () {
                objDialogforboq = $("[id$='viewboqattachment']");
                objDialogforboq.dialog({
                    autoOpen: false,
                    modal: true,
                    show: 'fade-in',
                    close: 'fade-out',
                    width: 1000,
                    height: 600
                });
                var a = $("#Budget").text();
                if ((a.trim() != "" && a.trim() != "--Select Budget SPOC--")) {
                    $("#Budget").removeClass("required");
                    $("#Budget").addClass("valid");
                }

                $("#Budget").change(function () {
                    var a = $("#Budget").val();
                    if ((a.trim() != "" && a.trim() != "--Select Budget SPOC--")) {
                        $("#Budget").removeClass("required");
                        $("#Budget").addClass("valid");
                    }
                    else {
                        $("#Budget").removeClass("valid");
                        $("#Budget").addClass("required");
                    }
                });

            });
            function Newboqview() {
                var id = "";
                objDialogforboq.load('../CbfRaiserEdit/Viewboqattachment?id=' + id + '&' + new Date().getTime());

                objDialogforboq.dialog({ title: 'View BOQ Attachment' });

                objDialogforboq.dialog("open");
            }
            function Newboq() {
                var id = "";
                objDialogforboq.load('../CbfRaiserEdit/Viewboqattachment?id=' + id);
                objDialogforboq.dialog({ title: 'Attach BOQ Attachment' });
                objDialogforboq.dialog("open");
            }
            $('input:radio[name=Budgeted]').change(function () {
                if ($(this).val() == "Y") {
                    $("#parheader").load('../CbfRaiserEdit/EditParHeader?isBudgeted=yes&' + new Date().getTime());
                    $("#pardetails").empty();

                }
                else {
                    $("#parheader").load('../CbfRaiserEdit/EditParHeader?isBudgeted=no&' + new Date().getTime());
                    $("#pardetails").empty();
                }
            });
            $(document).ready(function () {
                $("#hid_branchdet").val("");
                $('#parheaderview').val("");
                var pickerOpts = {
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1950:2100',
                    currentText: "Now",
                    dateFormat: "dd-mm-yy"
                };
                $("#cbf_dev").keypress(function (event) {
                    return isNumber1(event, this);
                });
                function dateformat() {
                    dateformat: 'dd-mm-yyyy';
                }
                $("#Cbf_AttachDate").datepicker(pickerOpts);
                $("#cbfendate_id").datepicker(
                {
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1950:2100',
                    currentText: "Now",
                    dateFormat: "dd-mm-yy",

                });

                $("#cbfdate_id").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1950:2100',
                    currentText: "Now",
                    dateFormat: "dd-mm-yy",
                    maxDate: new Date()
                });



                $("#prdate_id").datepicker(pickerOpts);

                var prpar = $('#idPRPAR').val();

                if (prpar == 'PR') {
                    $('#id_rdpr').attr('checked', true);
                }
                else {
                    $('#id_rdpar').attr('checked', true);
                }

                var budjected = $('#idisbudj').val();

                if (budjected == 'Y') {
                    $('#id_rdbudjected').attr('checked', true);
                }
                else {
                    $('#id_rdunbudjected').attr('checked', true);
                }
                var lblittype = $('#lblittype').val();
                if (lblittype == 'A') {
                    $('#id_rdapp').attr('checked', true);
                }
                else if (lblittype == 'I') {
                    $('#id_rdinfar').attr('checked', true);
                }
                var idcbftype = $('#idcbftype').val();
                if (idcbftype == 'Y') {
                    $('#id_rdappreg').attr('checked', true);

                }
                else {
                    $('id_rdapplater').attr('checked', true);
                }
                var idbranch = $('#idbranch').val();

                if (idbranch == 'Y') {
                    $('#id_rdbranchtype').attr('checked', true);

                }
                else {
                    $('#id_rdbrachmultir').attr('checked', true);
                }
                if ('@Model.cbdRasieobj.cbfType' == 'R') {
                    $('#id_rdappreg').attr('checked', true);
                }
                else {
                    $('#id_rdapplater').attr('checked', true);
                }

                if ($('input:radio[name=Budgeted]:checked').val() == "Y") {
                    $("#parheader").load('../CbfRaiserEdit/EditParHeader?isBudgeted=yes&' + new Date().getTime());
                }
                else if ($('input:radio[name=Budgeted]:checked').val() == "N") {
                    $("#parheader").load('../CbfRaiserEdit/EditParHeader?isBudgeted=no&' + new Date().getTime());
                }
                else {
                    $("#parheader").load('../CbfRaiserEdit/EditParHeader?isBudgeted=pr&' + new Date().getTime());
                }
            });
            $("#cbfendate_id").change(function () {

                var dt = $('#cbfdate_id').val();
                var dt2 = $('#cbfendate_id').val();
                var start_date = dt.split('-');
                var startDate = new Date(start_date[2], start_date[1], start_date[0]);
                var end_date = dt2.split('-');
                var endDate = new Date(end_date[2], end_date[1], end_date[0]);

                if (startDate > endDate) {
                    jAlert('CBF Enddate Should Not be Lesser than CBF date', "Error");
                    $("#cbfendate_id").val(dt);
                }

            });
            $("#cbfdate_id").change(function () {
                var dt = $('#cbfdate_id').val();
                var dt2 = $('#cbfendate_id').val();
                var start_date = dt.split('-');
                var startDate = new Date(start_date[2], start_date[1], start_date[0]);
                var end_date = dt2.split('-');
                var endDate = new Date(end_date[2], end_date[1], end_date[0]);
                if (startDate > endDate) {
                    jAlert('CBF Enddate Should Not be Lesser than CBF date', "Error");
                    $("#cbfendate_id").val(dt);
                }

            });
            function functionclose() {
                //location = '../cbfSummary/cbfsummary';
                location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
            }
            function editoverallsave() {
                var existrow = $('.save-btn1').length;
                if (existrow != 0) {
                    jAlert("Please Save All Rows In CBF Details Grid", "Error", function () {
                        return false;
                    });
                    return false;
                }
                var cbfno = $('#cbf_no').val();
                var cbfdate = $('#cbfdate_id').val();
                var cbfenddate = $('#cbfendate_id').val();
                var branchcode = $('#hid_cbfbranchEditgid').val();
                var par = $("input[name='mode']:checked").val();
                var cbfapproval = $("input[name='approvaltype']:checked").val();
                var budject = $("input[name='Budgeted']:checked").val();
                var projectowner = $('#ProductType').val();
                var deviation = ($('#cbf_dev').val());
                var cbfamount = ($('#cbf_amt').val());
                var requestfor = $('#Request').val();
                var requesttype = $("input[name='itapplication']:checked").val();
                var branchtype = $("input[name='Branchtype']:checked").val();
                var Description = $('#description_id').val();
                var Justifiction = $('#justification').val();
                var Budget = $('#Budget').val();

                if (cbfdate == null || cbfdate == "") {

                    jAlert("Please Enter CBF Date.", "Error");
                    return false;
                }
                if (cbfenddate == null || cbfenddate == "") {
                    jAlert("Please Enter CBF End Date.", "Error");
                    return false;
                }
                if (cbfdate == null || cbfdate == "") {
                    jAlert("Please Enter CBF Date.", "Error");
                    return false;
                }
                if (deviation == null || deviation == "") {
                    jAlert("Please Enter Devation amount.", "Error");
                    return false;
                }
                if (branchcode == null || branchcode == "") {
                    jAlert("Please Select Any Branch Code.", "Error");
                    return false;
                }
                if (projectowner == null || projectowner == "") {
                    jAlert("Please Select Any Project Owner.", "Error");
                    return false;
                }
                if (requestfor == null || requestfor == "") {
                    jAlert("Please Select Any Request Code.", "Error");
                    return false;
                }
                if (Description == null || Description == "") {
                    jAlert("Please Enter Description.", "Error");
                    return false;
                }
                if (Justifiction == null || Justifiction == "") {
                    jAlert("Please enter Justification", "Error");
                    return false;
                }
                if (parseInt(cbfamount) <= parseInt(deviation)) {
                    jAlert("Deviation Amount Should not be greater Than CBF Amount", "Error");
                    return false;
                }
                if (Budget == null || Budget == "") {
                    jAlert("Please Select Any Budget Owner Name", "Error");
                    return false;
                }
                var parprgid = $("#hidParHeaderGidEdit").val();
                var cbfheader = {
                    "cbfNo": cbfno,
                    "cbfDate": cbfdate,
                    "cbfEnddate": cbfenddate,
                    "branchCode": branchcode,
                    "cbfMode": par,
                    "cbfType": cbfapproval,
                    "budgeted": budject,
                    "projectOwner": projectowner,
                    "deviationAmt": deviation,
                    "cbfAmt": cbfamount,
                    "requestFor": requestfor,
                    "requestType": requesttype,
                    "description": Description,
                    "branchType": branchtype,
                    "justfication": Justifiction,
                    "BudgetownerGid": Budget,
                    "ParPRGid": parprgid
                };
                showProgress();
                $.post('../cbfraiseredit/create', cbfheader,
                function (data) {
                    hideProgress();
                    if (data != "Inserted Successfully") {
                        jAlert("Error Occured", "Error", function () {
                            return false;
                        });
                        return false;
                    } else {
                        jAlert("Update Successfully", "Success", function () {
                            location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                        });
                        
                    }
                }, 'json');
            }
            function editoverallsubmit() {
                var existrow = $('.save-btn1').length;
                if (existrow != 0) {
                    jAlert("Please Save All Rows In CBF Details Grid", "Error", function () {
                        return false;
                    });
                    return false;
                }
                var cbfno = $('#cbf_no').val();
                var cbfdate = $('#cbfdate_id').val();
                var cbfenddate = $('#cbfendate_id').val();
                var branchcode = $('#hid_cbfbranchEditgid').val();

                var par = $("input[name='mode']:checked").val();
                var cbfapproval = $("input[name='approvaltype']:checked").val();
                var budject = $("input[name='Budgeted']:checked").val();
                var projectowner = $('#ProductType').val();
                var deviation = ($('#cbf_dev').val());
                var cbfamount = ($('#cbf_amt').val());
                var requestfor = $('#Request').val();
                var requesttype = $("input[name='itapplication']:checked").val();
                var branchtype = $("input[name='Branchtype']:checked").val();
                var Description = $('#description_id').val();
                var Justifiction = $('#justification').val();
                var Budget = $('#Budget').val();

                if (cbfdate == null || cbfdate == "") {
                    jAlert("Please Enter CBF Date.", "Error");
                    return false;
                }
                if (cbfenddate == null || cbfenddate == "") {
                    jAlert("Please Enter CBF End Date.", "Error");
                    return false;
                }
                if (cbfdate == null || cbfdate == "") {
                    jAlert("Please Enter CBF Date.", "Error");
                    return false;
                }

                if (deviation == null || deviation == "") {
                    jAlert("Please Enter Devation amount.", "Error");
                    return false;
                }
                if (branchcode == null || branchcode == "") {
                    jAlert("Please Select Any Branch Code.", "Error");
                    return false;
                }
                if (projectowner == null || projectowner == "") {
                    jAlert("Please Select Any Project Owner.", "Error");
                    return false;
                }
                if (requestfor == null || requestfor == "") {
                    jAlert("Please Select Any Request Code.", "Error");
                    return false;
                }

                if (Description == null || Description == "") {

                    jAlert("Please Enter Description.", "Error");
                    return false;
                }
                if (Justifiction == null || Justifiction == "") {
                    jAlert("Please enter Justification", "Error");
                    return false;
                }
                if (parseInt(cbfamount) <= parseInt(deviation)) {
                    jAlert("Deviation Amount should not be Greater Than CBF Amount", "Error");
                    return false;
                }
                if (Budget == null || Budget == "") {
                    jAlert("Please Select Any Budget Owner Name", "Error");
                    return false;
                }
                var parprgid = $("#hidParHeaderGidEdit").val();
                var cbfheader = {
                    "cbfNo": cbfno,
                    "cbfDate": cbfdate,
                    "cbfEnddate": cbfenddate,
                    "branchCode": branchcode,
                    "cbfMode": par,
                    "cbfType": cbfapproval,
                    "budgeted": budject,
                    "projectOwner": projectowner,
                    "deviationAmt": deviation,
                    "cbfAmt": cbfamount,
                    "requestFor": requestfor,
                    "requestType": requesttype,
                    "description": Description,
                    "branchType": branchtype,
                    "justfication": Justifiction,
                    "BudgetownerGid": Budget,
                    "ParPRGid": parprgid
                };
                showProgress();
                $.post('@Url.Action("Submit","CbfRaiserEdit")', cbfheader,
                function (data) {
                    hideProgress();
                    if (data != "Inserted Successfully") {
                        jAlert("Error Occured", "Error", function () {
                            return false;
                        });
                        return false;
                    } else {
                        jAlert("Submit Successfully", "Success", function () {
                            location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                        });
                        
                        
                    }
                }, 'json');
            }
            function fucntioncloseedit() {
                //location = '../CbfSummary/CbfSummaryIndex';
                location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
            }
            function fucntioncloseeditback() {
                location = '@Url.Action("CbfSummaryindex", "CbfSummary")';
            }
            function cancelprocess() {
                var cbfno = $('#cbf_no').val();
                var cbfremarks = $('#description_id').val();
                jConfirm("Do you want to Cancel This CBF " + cbfno + "?", "Confirm", function (r) {
                    if (r == true) {
                        var cbfheader =
                        {
                            "cbfNo": cbfno,
                            "justfication": cbfremarks,
                        };
                        showProgress();
                        $.post('../cbfraiseredit/Cancel', cbfheader,
                             function (data) {
                                 hideProgress();
                                 if (data == 0) {
                                     jAlert("Error Occured", "Error", function () {
                                         return false;
                                     });
                                     return false;
                                 }
                                 else {
                                     jAlert("Submitted Successfully", "Success", function (e) {
                                         if (e == true) {
                                             //location = '../CbfSummary/cbfsummaryindex';
                                             location = '@Url.Action("Index","flexibuydashboard")?redirect=yes' + '&' + new Date().getTime();
                                         }
                                     });
                                 }
                             }, 'json');
                    }
                });
            }
            function deleteprocess() {
                var cbfno = $('#cbf_no').val();
                var cbfremarks = $('#description_id').val();
                jConfirm("Do you want to Cancel This CBF " + cbfno + "?", "Confirm", function (r) {
                    if (r == true) {
                        var cbfheader =
                        {
                            "cbfNo": cbfno,
                        };
                        showProgress();
                        $.post('../cbfraiseredit/Delete', cbfheader,
                             function (data) {
                                 hideProgress();
                                 if (data == "Already Used") {
                                     jAlert("Using this CBF,PO has been raised.So you Can't Delete this CBF", "Error");
                                     return false;
                                 }
                                 else {
                                     jAlert("Record Deleted Successfully", "Success", function (e) {
                                         if (e == true) {
                                             location = '../CbfSummary/cbfsummaryindex';
                                         }
                                     });
                                 }
                             }, 'json');
                    }
                });
            }

            var currentTab = 0;
            $(function () {
                $("#tabsatcbf").tabs({
                    select: function (e, i) {
                        currentTab = i.index;
                    }
                });
            });
            var objbranchcbfedit;

            function GetBranchForEdit() {

                if ($("#hid_branchdet").val() == "") {

                    $("#hid_branchdet").val("branch");
                    objbranchcbfedit = $("[id$='branchdetailseditcbf']");
                    objbranchcbfedit.dialog({
                        autoOpen: false,
                        modal: true,
                        show: 'fade-in',
                        close: 'fade-out',
                        cache: false,
                    });
                }
                objbranchcbfedit.load('@Url.Action("BranchDetailsForcbfEdit", "CbfRaiserEdit")?' + new Date().getTime());
                objbranchcbfedit.dialog({ title: 'Branch Details', width: '890', height: '460' });
                objbranchcbfedit.dialog("open");
            }
        </script>
</div>
