@using IEM.Helper;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<style>
    table, th, td {
        white-space: nowrap;
    }

    .tableSmall > tbody > tr.received > td {
        color: #EA071C !important;
    }

    .breadcrumb {
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .breakworddesc {
        word-break: break-all;
    }
    .form-group span {
        font-weight: normal;
        font-size: 12px;
        color: #333;
        font-family: Verdana;
    }

    .notactive {
        text-decoration: none;
        pointer-events: none;
        cursor: default;
        opacity: 0.2;
    }
</style>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Dashboard", new { Area = "Dashboard" })"><span style="font-size: 14px;" class="glyphicon glyphicon-dashboard"></span>  Dashboard</a></li>
    <li data-bind="text: 'EClaim History'" class="active"></li>
</ol>

<div class="well">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <span>Request Type</span>
                <select id="ddlType" class="fstextbox required">
                    <option value="">-- Select One --</option>
                    <option value="Employee Claims">Employee Claims</option>
                    <option value="Supplier Invoice">Supplier Invoice</option>
                    <option value="Advance Request">Advance Request</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="form-group">
                    <span>Date From</span>
                    <input type="text" class="fstextbox required" onkeypress="return false;" id="txtDateFrom">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <span>Date To</span>
                <input type="text"
                       id="txtDateTo" onkeypress="return false;"
                       class="fstextbox required" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <span>Request Status</span>
                <select id="ddlReqStatus" class="fstextbox required">
                    <option value="">-- Select One --</option>
                    <option value="Draft">Draft</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Concurrent Approval">Concurrent Approval</option>
                    <option value="Hold">Hold</option>
                    <option value="Inprocess">Inprocess</option>
                    <option value="Audit Maker">Audit Maker</option>
                    <option value="Audit Checker">Audit Checker</option>
                    <option value="Authorized">Authorized</option>
                    <option value="Received Ok">Received Ok</option>
                    <option value="Received Not Ok">Received Not Ok</option>
                    <option value="Inex">Inex</option>
                    <option value="Amort">Amort</option>
                    <option value="Opening">Opening</option>
                    <option value="Urgent">Urgent</option>
                    <option value="Payment Generated">Payment Generated</option>
                    <option value="Paid">Paid</option>
                    <option value="Duplicate">Duplicate</option>
                    <option value="Central maker">Central maker</option>
                    <option value="Central Checker">Central Checker</option>
                    <option value="Inex Submission">Inex Submission</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-primary" accesskey="s" type="button" style="margin-top:18px;  color:white;" data-bind="click: function() { $root.Search(); }">
                    <span style="color:white;" class="glyphicon glyphicon-search"></span>
                    Search
                </button>
                <button class="btn btn-primary" accesskey="c" type="button" style="margin-top:18px;  color:white;" data-bind="click: function() { $root.Clear(); }">
                    <span style="color:white;" class="glyphicon glyphicon-refresh"></span>
                    Clear
                </button>
            </div>
        </div>
    </div>
   
    <div class="table-responsive" style="margin-top: 15px;">
        <table id="gvEClaimSummary" class="tableSmall table-bordered table-hover table-responsive" data-bind="visible: EClaimHistoryArray().length > 0">
            <thead>
                <tr>
                    <th style="width: 5%; min-width: 60px; max-width: 60px; ">
                        SLNo
                    </th>
                    <th style="width: 5%; min-width: 60px; max-width: 60px; ">
                        Action
                    </th>
                    <th style="width: 10%; min-width: 120px; max-width: 120px; ">
                        Request Type
                    </th>
                    <th style="width: 15%; min-width: 120px; max-width: 120px; text-align:left;">
                        Document No
                    </th>
                    <th style="width: 10%; min-width: 100px; max-width: 100px; ">
                        Document Date
                    </th>
                    <th style="width: 10%; min-width: 120px; max-width: 120px; ">
                        Document Amt
                    </th>
                    <th style="width: 20%; min-width: 300px; max-width: 300px; text-align: left; ">
                        Supplier/Employee Name
                    </th>
                    <th style="width: 20%; min-width: 300px; max-width: 300px; text-align: left; ">
                        Raiser
                    </th>
                    <th style="width: 10%; min-width: 120px; max-width: 120px; ">
                        Request Status
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach:{ data: EClaimHistoryArray, afterRender: DatatableCall }, visible: EClaimHistoryArray().length > 0">
                <tr>
                    <td style="width: 5%; min-width: 60px; max-width: 60px;" align="center">
                        <span data-bind="text: $index()+1"></span>
                    </td>
                    <td style="width: 5%; min-width: 60px; max-width: 60px;" align="center">
                        <span title="Process" data-bind="click: $root.Print, css: (RequestStatus == 'Paid' || RequestStatus == 'EPU Inprocess') ? 'active' : 'active'" style="cursor:pointer;"> <span class="glyphicon glyphicon-print"></span></span>
                    </td>
                    <td style="width: 10%; min-width: 120px; max-width: 120px;">
                        <span data-bind="text: DocTypeName"></span>
                    </td>
                    <td style="width: 15%; min-width: 120px; max-width: 120px;" align="left">
                        <span data-bind="text: DocNo"></span>
                    </td>
                    <td style="width: 10%; min-width: 100px; max-width: 100px;">
                        <span data-bind="text: DocDate"></span>
                    </td>
                    <td style="width: 10%; min-width: 120px; max-width: 120px;" align="right">
                        <span data-bind="text: $root.formatNumber(DocAmount)"></span>
                    </td>
                    <td style="width: 20%; min-width: 300px; max-width: 300px;" align="left">
                        <span data-bind="text: $root.ShortDescription(SupplierEmployeeName), attr: { title: SupplierEmployeeName }"></span>
                    </td>
                    <td style="width: 20%; min-width: 300px; max-width: 300px;" align="left">
                        <span data-bind="text: $root.ShortDescription(Raiser), attr: { title: Raiser }"></span>
                    </td>
                    <td style="width: 10%; min-width: 120px; max-width: 120px;">
                        <span data-bind="text: RequestStatus"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var UrlDet = "@Url.Action("GetEClaimHistory", "History")"
    var MUrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
    var EOWEClaim = "@Url.Action("Employeeindex", "Print", new { Area = "EOW" })"
    var EOWInvoice = "@Url.Action("Index", "Print", new { Area = "EOW" })"
    var EOWAdvanceReq = "@Url.Action("Arfindex", "Print", new { Area = "EOW" })"
</script>
<script src="@Url.Content("~/Areas/Dashboard/DashboardScript/jsEclaim.js")" type="text/javascript"></script>
