@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.captializationdate
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{

    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.changedate,
                         canPage: false,
                         rowsPerPage: 20,
                         canSort: false,
                         ajaxUpdateContainerId: "grid"
                       );
    int id = @grid.PageIndex;



}
<div id="dvchangedate">
    <div class="well">

        <div class="row">

            <div class="col-sm-9">
                @using (Html.BeginForm())
                {
                    <table class="myTableStyleTabNew" style="margin-left:-03px;">
                        <tr>
                            <td>
                                <div>
                                    <span> Asset ID</span>
                                    <br />
                                    <input type="text"
                                           name="filterID"
                                           id="txtAssetId"
                                           value="@ViewBag.filterID"
                                           class="textboxStyleSearch" maxlength="20" />
                                </div>
                            </td>

                            @*<td>
                                    <div>
                                        <span> Capitalization Date</span>
                                        <br />
                                        <input type="text"
                                               name="filterDate"
                                               id="txtdateFilterDate"
                                               value="@ViewBag.filterDate" readonly
                                               class="textboxStyleSearch" maxlength="20" />
                                    </div>
                                </td>*@

                            <td>
                                <div>
                                    <span> Group id</span>
                                    <br />
                                    <input type="text"
                                           name="filterLoc"
                                           id="txtFilterLoc"
                                           value="@ViewBag.filterLoc"
                                           class="textboxStyleSearch" maxlength="20" />
                                </div>
                            </td>

                            <td>
                                <span> </span>
                                <br />
                                <button class="btn btn-primary" type="button" name="command" id="command" onclick="Searchdate()" value="SEARCH"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>

                            </td>
                            <td>
                                <span> </span>
                                <br />
                                <button class="btn btn-primary" id="btncleardate" value="Clear" name="command" type="button"><span style="color:white;" class="glyphicon glyphicon-remove-circle"> </span> Clear</button>

                            </td>
                        </tr>
                    </table>
                }
            </div>


        </div>
        <div>
            <div style="margin-top:17px; height:350px;overflow-y:scroll;">
                @grid.GetHtml(
fillEmptyRows: false,
   tableStyle: "tableSmall table-bordered aligncenter",
mode: WebGridPagerModes.All,
columns: grid.Columns(
                        // grid.Column("assetid1", obj.Sorter("assetid1", "Asset ID", grid), style: "col-lg-2"),
                              grid.Column("assetid", obj.Sorter("assetid", "Asset Id", grid), style: "MidColumn30"),
                              grid.Column("location", obj.Sorter("location", "Branch", grid), style: "MidColumn10"),
                              grid.Column("assetcode", obj.Sorter("assetcode", "Asset Code", grid), style: "MidColumn20"),
                              grid.Column("assetDesc", obj.Sorter("assetDesc", "Asset Description", grid), style: "MidColumn50"),
                              grid.Column("capnewdate", obj.Sorter("capnewdate", "Capitalization Date ", grid), style: "MidColumn30"),
                        //grid.Column("status", obj.Sorter("status", " Stauts ", grid), style: "col-lg-2"),
         grid.Column(format: @<text> <a title='View' onclick='ChangeDate("@item.assetgid,@item.capnewdate")'> <span class='glyphicon glyphicon-calendar' id='Color'> </span> </a>
        </text>, header: "Change")
                  ))

                <div class="table-bordered btnCenter  " align="center">
                    <b> @ViewBag.Message </b>
                </div>

                <div class="myTableStyleTabNew">
                    <span>  Total No Of Records :@Model.changedate.Count</span>
                </div>

            </div><br />

            @*<div class="myTableStyleTabNew" align="center" style="padding-bottom:10px;">
                    <button class="btn btn-success" type="submit" name="command" value=""><span style="color:white;" class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger" type="submit" name="command" value=""><span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Reject</button>

                </div>*@
        </div>
        <div style="display:none;" id="dvchangedatecnt">
            <table style="background-color:white;" class="myTableStyleTabNew well" align="center">
                <tr>
                    <td>
                        &nbsp;&nbsp; &nbsp;&nbsp;
                        <span> Capitalization Date</span>
                        <br />
                        &nbsp;
                        <input type="text"
                               name="filterDate"
                               id="txtchangedate"
                               value="" readonly
                               class="textboxStyleSearch" maxlength="19" />


                    </td>


                </tr>
                <tr>
                    <td>
                        <span> </span>
                        <br />
                        &nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" name="ChangeDate" id="CapChangeDate" onclick="" value="Change"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Change Date</button>
                        <span> </span>
                        &nbsp;&nbsp;
                        <button class="btn btn-primary" id="btncancel" value="Cancel" name="command" type="button"><span style="color:white;" class="glyphicon glyphicon-remove"> </span> Cancel</button>

                    </td>
                    <td></td>

                </tr>
            </table>

        </div>
        <table class="myTableStyleTabNew" align="center">
            <tr>

                <td class="form-group" nowrap="nowrap">

                    <div style="float:right;padding-right:20px;margin-top:5px;">
                        <span class="input-group-btn">
                            <button class="btn backbtn btn-warning" type="button" name="command" value="cancel" id="BackMaker"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                        </span>
                    </div>
                </td>

            </tr>
        </table>
    </div>

</div>

@*<div style="display:none;" id="Dialog-Box">
        <input type="text" id="Dialog-Name" />
        <input type="text" id="Dialog-Address" />
        <input type="submit" onclick="onsave()" value="save" />
    </div>*@


<style type="text/css">
    .clsDatePicker {
        z-index: 100000;
    }
</style>



<script type="text/javascript">

    var ChangedateId;
    var oldcapdate;

    $(document).ready(function () {


        $("#txtdateFilterDate").datepicker(
        {
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (date) {
                maxdate: new Date()
            }

        });


        //$('#Dialog-Box').dialog({
        //    autoOpen: false,
        //    height: 100,
        //    width: 50,
        //    modal: false
        //});

    });



    $("#BackMaker").on('click', function () {

        location = '@Url.Action("CapitalizationDateMaker","CapitalizationDate")';
    });



    $('#txtchangedate').datepicker({
        dateFormat: 'dd-M-yy',
        changeMonth: true,
        changeYear: true,
        onSelect: function (date) {
            maxdate: new Date()
        },
        altFormat: "yy-mm-dd"
    });


    //function OpenDialog() {

    //    //var name = $('#Name').val();
    //    //var address = $('#Address').val();
    //    //$('#Dialog-Name').val(name);
    //    //$('#Dialog-Address').val(address);
    //    $('#Dialog-Box').dialog('open');
    //}


    //$("#txtdateFilterDate").on('click',function(){

    //    changeMonth: true,
    //    changeYear: true,
    //    dateFormat: 'dd-M-yy',
    //    maxdate: new Date()

    //});


    function Searchdate() {

        var AssetId = $("#txtAssetId").val();

        var Date = $('#txtdateFilterDate').val();

        var Location = $('#txtFilterLoc').val();

        var Command = $('#command').val();

        var objownersearch =
            {
                "assetid": AssetId,
                "location": Location,
                "capnewdate": Date,
                "command": Command
            };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchChangeCapDate", "CapitalizationDate")',
            data: objownersearch,
            success: function (data) {

                $("#dvchangedate").empty().append(data);
                $('#txtAssetId').val('');

            },
            error: function () {
            }
        });

    }




    $("#btncleardate").on('click', function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("ChangeCapDate", "CapitalizationDate")?' + new Date().getTime(),
            data: {},
            success: function (data) {
                $("#dvchangedate").empty().append(data);
                //$('#txtFilter').val('');
            },
            error: function () {

            }




        });

    });
    function ChangeDate(id) {
        var charset = id.split(",");
        $("#dvchangedatecnt").show();
        ChangedateId = charset[0];
        oldcapdate = charset[1];
    }

    $("#CapChangeDate").on('click', function () {



        // var AssetId = $('#txtFilterAssetID').val();



        var Date = $('#txtchangedate').val();

        if (Date != "") {


            var objownersearch =
            {
                "assetgid": ChangedateId,
                "capnewdate": oldcapdate,
                "capchangenewdate": Date
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeCapDateMaker", "CapitalizationDate")',
                data: objownersearch,
                success: function (data) {
                    if (data == "success") {
                        $("#dvchangedatecnt").hide();
                        $('#txtchangedate').val('');
                        jAlert("Successfully Date Changed", "Information", function (t) {
                            if (t == true) {
                                location = '../CapitalizationDate/CapitalizationDateMaker';
                            }
                        });
                        
                    }

                    // $("#dvchangedate").empty().append(data);
                    // $('#txtFilter').val('');

                },
                error: function () {
                    jAlert("Change of Capitalization date is Error", "Information", function (t) {
                        if (t == true) {
                            location = '../CapitalizationDate/CapitalizationDateMaker';
                        }
                    });
                }
            });
        }
        else {

            jAlert("Please Select Date to Change", "Information", function (t) {
                if (t == true) {
                    location = '../CapitalizationDate/CapitalizationDateMaker';
                }
            });

        }





    });

    $("#txtAssetId").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("autoassetid", "AssetSplit")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.assetdetDetid, value: item.assetdetDetid };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });

    $("#txtFilterLoc").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("AutoPopGroupid", "AssetMerge")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Assetgrpid, value: item.Assetgrpid };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });


    $("#btncancel").on('click', function () {
        $("#dvchangedatecnt").hide();
    });

</script>