@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.captializationdate
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Maker";
    //string trfNo = (string)Session["TransferNo"];
    //Session["TransferNo"] = "";
    //string trfStt = (string)Session["Status"];
    //Session["Status"] = "";
    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.viewchangedate,
                         canPage: true,
                         rowsPerPage: 20,
                         canSort: true,
                         ajaxUpdateContainerId: "grid"
                       );
    int id = @grid.PageIndex;

}
<div>
    <div class="myTableStyleTabNew">
        Asset ID :
        <span>
            <label id="lblsnonew22">
                @HttpContext.Current.Session["AssetId"]
            </label>
        </span>
    </div>
    <div id="tabaudit">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
            <li><a href="#tabs-2">Audit Trail</a></li>
        </ul>
        <div class="borderStyleNew borderStyleNew123 " id="tabs-1" style="overflow-y:scroll; height:200px">
            @grid.GetHtml(
fillEmptyRows: false,
   tableStyle: "tableSmall table-bordered aligncenter",
mode: WebGridPagerModes.All,
columns: grid.Columns(
                // grid.Column("assetid1", obj.Sorter("assetid1", "Asset ID", grid), style: "col-lg-2"),
                grid.Column("assetid", obj.Sorter("assetid", "Asset Id", grid), style: "MidColumns10"),
                grid.Column("assetcode", obj.Sorter("assetcode", "Asset Code", grid), style: "MidColumns10"),
                grid.Column("assetDesc", obj.Sorter("assetDesc", " Asset Description ", grid), style: "MidColumns10"),
                grid.Column("location", obj.Sorter("location", " Location ", grid), style: "MidColumns10"),
                grid.Column("capnewdate", obj.Sorter("capnewdate", " New Capitalization Date ", grid), style: "MidColumns10"),
                grid.Column("capolddate", obj.Sorter("capolddate", " Old Capitalization Date ", grid), style: "MidColumns10")
               // ,grid.Column("status", obj.Sorter("status", " Stauts ", grid), style: "MidColumns10")
              ))

            <div class="table-bordered btnCenter" align="center">
                <b> @ViewBag.Message </b>
            </div>

            <div class="myTableStyleTabNew">
                <span>  Total No Of Records :@Model.viewchangedate.Count</span>
            </div>

        </div>
        <div id="tabs-2">
            @Html.Partial("CDAuditTrial")
        </div>
    </div>
    <table class="myTableStyleTabNew" align="center">
        <tr>
 
            <td class="form-group" nowrap="nowrap">

                <div style="float:right;padding-right:20px;margin-top:5px;">
                    <span class="input-group-btn">
                        <button class="btn backbtn btn-warning" type="button" name="command" value="cancel" id="BackChecker"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                    </span>
                </div>
            </td>

        </tr>
    </table>
</div>
<script type="text/javascript">
    var Role = '@Session["Role"]';

    var currentTab4 = 0;
    $(function () {
        $("#tabaudit").tabs({
            select: function (e, i) {
                currentTab4 = i.index;
            }
        });
    });

    $("#BackChecker").on('click', function () {
        if (Role == "Maker") {
            location = '@Url.Action("CapitalizationDateMaker","CapitalizationDate")';
        }
        else {

            location = '@Url.Action("CapitalizationDateChecker","CapitalizationDate")';
        }

        
    });

</script>