@model IEM.Areas.FLEXIBUY.Models.PrSumEntity
@{
    ViewBag.Title = "prsupervisorview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowNum=0;
}

@*<h2>prsupervisorview</h2>*@
<span style="color: rgb(52, 108, 196);">PR Supervisor View</span>

<div class="well">
    @{
        var rblprodserv = (string)Session["rblProductService"];
        if (rblprodserv != "")
        {
            if (rblprodserv == "P")
            {
                <div class="radio-inline">
                    <span id="lblprod">
                        <input type="radio" id="id_rdprod" name="modenew" value="Product" checked="checked" disabled="disabled" />
                        Product
                    </span>
                </div>
                <div class="radio-inline">
                    <span id="lblserv">
                        <input type="radio" id="id_rdserv" name="modenew" value="Service" disabled="disabled" />
                        Service

                    </span>
                </div>
            }
            else
            {

                <div class="radio-inline">
                    <span id="lblprod">
                        <input type="radio" id="id_rdprod" name="modenew" value="Product" disabled="disabled" />
                        Product
                    </span>
                </div>
                <div class="radio-inline">
                    <span id="lblserv">
                        <input type="radio" id="id_rdserv" name="modenew" value="Service" checked="checked" disabled="disabled" />
                        Service

                    </span>
                </div>
            }
        }
    }
    <div class="panel panel-default">

        <table class="myTableStyleTabNew" align="center">
            <tr>

                <td>
                    <div>
                        <span>PR Ref No.</span>
                        <br />

                        <div>
                            <input type="text"
                                   name="txtprrefno"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   id="prrefno" value="@Model.prHead.prRefNo" />
                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>PR Date</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtprdate"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   id="prdate" value="@Model.prHead.prDate" />

                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>

                    <div>

                        <span>PR Raised by</span>
                        <br />

                        <div>
                            <input type="text"
                                   name="txtprraisedby"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   id="prraisedby" value="@Model.prHead.prRaisedBy" />
                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>PR Description</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtprdesc"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   id="prdesc" value="@Model.prHead.prDesc" />

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>FCCC</span>
                        <br />

                        <div>
                            <input type="text"
                                   name="txtprfccc"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   id="prfccc" value="@Model.prHead.prFcc" />


                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>Branch</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtbranch"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   id="branch" value="@Model.prHead.prBranch" />

                        </div>
                    </div>
                </td>
                <td width="15px"></td>
                <td>
                    <div>
                        <span>Request by</span>
                        <br />
                        <div>
                            <input type="text"
                                   name="txtreqfor"
                                   class="textboxStyle"
                                   disabled="disabled"
                                   id="reqfor" value="@Model.prHead.prReqFor" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                    @{

                        var expense = (string)Session["rblExpenses"];
                        if (expense != "")
                        {
                            if (expense == "C")
                            {
                                <div>
                                    <span>Expenses</span>
                                </div>

                                <div class="radio-inline">
                                    <span id="lblcapex">
                                        <input type="radio" id="id_rdcap" name="mode1" value="Capex" checked="checked" disabled="disabled" />
                                        Capex
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblopex">
                                        <input type="radio" id="id_rdope" name="mode1" value="Opex" disabled="disabled" />
                                        Opex
                                    </span>
                                </div>

                            }
                            else
                            {
                                <div class="radio-inline">
                                    <span id="lblcapex">
                                        <input type="radio" id="id_rdcap" name="mode1" value="Capex" disabled="disabled" />
                                        Capex
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblopex">
                                        <input type="radio" id="id_rdope" name="mode1" value="Opex" checked="checked" disabled="disabled" />
                                        Opex
                                    </span>
                                </div>
                            }
                        }
                    }
                </td>
                <td width="15px"></td>
                <td>
                    @{


                        var branchtype = (string)Session["rblBranchType"];
                        if (branchtype != "")
                        {
                            if (branchtype == "S")
                            {
                                <div>
                                    <span>Branch </span>
                                </div>

                                <div class="radio-inline">
                                    <span id="lblsingle">
                                        <input type="radio" id="id_rdsing" name="mode2" value="Single" checked="checked" disabled="disabled" />
                                        Single
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblmultiple">
                                        <input type="radio" id="id_rdmult" name="mode2" value="Multiples" disabled="disabled" />
                                        Multiple
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="radio-inline">
                                    <span id="lblsingle">
                                        <input type="radio" id="id_rdsing" name="mode2" value="Single" disabled="disabled" />
                                        Single
                                    </span>
                                </div>
                                <div class="radio-inline">
                                    <span id="lblmultiple">
                                        <input type="radio" id="id_rdmult" name="mode2" value="Multiples" checked="checked" disabled="disabled" />
                                        Multiple
                                    </span>
                                </div>
                            }
                        }
                    }
                </td>
            </tr>
            <tr>

                <td colspan="4">
                    <div style="padding:10px 10px 0px 0px;text-align:right;">
                        <input type="button" class="btn btn-link" title="View Attachment" value="View Attachment" name="command" id="@Model.prHead.prRefNo" onclick="viewattach(id)" />
                    </div>
                </td>
            </tr>

        </table>
    </div>

    @{
        var grid = new WebGrid(source: Model.lstproduct, canSort: true, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "wgProductList", ajaxUpdateCallback: "D()", selectionFieldName: "SelectedRow");
        grid.Pager(WebGridPagerModes.All);
    }

    @functions {
        public static string Sorter(string columnName, string columnHeader, WebGrid grid)
        {
            return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                grid.SortDirection == SortDirection.Ascending ? "▲" :
                "▼" : string.Empty);
        }
    }

    @if (rblprodserv == "P")
    {
        @grid.GetHtml(
         tableStyle: "table table-bordered table-hover table-responsive",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
            //Here I am going to add checkbox column
            //grid.Column("srNo", "srNo", style: "col-sm-1"),
                             grid.Column("Sl", format: a => rowNum = rowNum + 1, style: "col-sm-1"),
     grid.Column(header: "Product Group", format: @<text>

                                <label id="lblProductGroup">@item.product_Group</label></text>, canSort: false,style: "col-sm-1" ),

                   grid.Column(header: "Product Code",format: @<text>
            <label id="lblProductCode">@item.product_Code</label></text>,canSort: false, style: "col-sm-1"),
                   grid.Column(header: "Product Name",format: @<text>
            <label id="lblProductName">@item.product_Name</label> </text>,canSort: false, style: "col-sm-1"),
         grid.Column(header: "Product Department",format: @<text>
            <label id="lblProductName">@item.Department_Name</label> </text>,canSort: false, style: "col-sm-1"),
         grid.Column(header: "Expense Type",format: @<text>
            <label id="lblProductName">@item.Expense_Type</label> </text>,canSort: false, style: "col-sm-1"),
         grid.Column(header: "Budgeted",format: @<text>
            <label id="lblProductName">@item.Budgeted</label> </text>,canSort: false, style: "col-sm-1"),
          grid.Column(header: "Unit", format: @<text>
            <label id="lblProductUnit">@item.product_Unit</label> </text>,canSort: false, style: "col-sm-1"),
          grid.Column(header: "Quantity", format: @<text>
            <label id="lblProductQuantity">@item.product_Qty</label> </text>, canSort: false, style: "col-sm-1"),
         grid.Column(header: "Rate",format: @<text>
            <label id="lblProductName">@item.rate</label> </text>,canSort: false, style: "col-sm-1"),
                     grid.Column(header: "Product Description",format: @<text>
            <label id="lblProductDesc">@item.product_Description</label> </text>,canSort: false, style: "col-sm-1")

                                                       ))
    }
    @if (rblprodserv == "S")
    {
        @grid.GetHtml(
         tableStyle: "table table-bordered table-hover table-responsive",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
            //Here I am going to add checkbox column
            //grid.Column("srNo", "srNo", style: "col-sm-1"),
                             grid.Column("Sl", format: a => rowNum = rowNum + 1, style: "col-sm-1"),
     grid.Column(header: "Service Group", format: @<text>

                                <label id="lblProductGroup">@item.service_Group</label></text>, canSort: false,style: "col-sm-1" ),

                   grid.Column(header: "Service Code",format: @<text>
            <label id="lblServiceCode">@item.service_Code</label></text>,canSort: false, style: "col-sm-1"),
                   grid.Column(header: "Service Name",format: @<text>
            <label id="lblServiceName">@item.service_Name</label> </text>,canSort: false, style: "col-sm-1"),
                     grid.Column(header: "Service Description",format: @<text>
            <label id="lblServiceDesc">@item.service_Description</label> </text>, canSort: false, style: "col-sm-1")

                                                                       ))

    }

    <label>Page: @(grid.PageIndex + 1) of @grid.PageCount</label>

    <div style="padding:10px 10px 0px 0px;text-align:center;">
        <input class="btn btn-primary" type="button" value="Back" onclick="back()" />
    </div>

</div>
<input hidden="hidden" id="aa" />

<div id="ForPartialViewnew5hh"></div>
<script>
    function back() {
        location = "@Url.Action("PrSummary","PrSummary1")";
    }
    $(document).ready(function () {
        $('#aa').val('');

    });
    var objDialog5;

    function viewattach(id) {

        if ($("#aa").val() == "") {
            $('#aa').val('anu');

            objDialog5 = $("[id$='ForPartialViewnew5hh']");
            objDialog5.dialog({
                autoOpen: false,
                modal: true,
                show: 'fade-in',
                close: 'fade-out',
                cache: false,
                width: 600,
                height: 400
            });
        }

        objDialog5.load('@Url.Action("viewprattachment","PrSummary")?id=' + id + '&' +new Date().getTime());
        objDialog5.dialog({ title: 'PR Attachment List' });
        objDialog5.dialog("open");
    }
</script>