@model IEM.Areas.EOW.Models.Retention_Release
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<h4 style="color:#02A3FB">ECF</h4>
<div class="input-append">
    <table class="myTableStyleTabNew">
        <tr>
            <td colspan="2" style="display:none;">
                <input name="invoice_gid" id="invoice_gid" type="text" placeholder="DocInward ID" data-val="true" value="@Model.invoice_gid" />
            </td>
            <td colspan="2" style="display:none;">
                <input name="invoice_ecf_gid" id="invoice_ecf_gid" type="text" placeholder="DocInward ID" data-val="true" value="@Model.invoice_ecf_gid" />
            </td>
        </tr>
        <tr>
            <td>
                <span>ECF Date</span>
                <div class="input-append">
                    <input type="date"
                           name="filter_name1"
                           id="txtFilterName1"
                           value="@Model.ecf_date"
                           class="textboxStyle valid" readonly="readonly"
                           style="display: block; width:162px; "
                           maxlength="10" />
                </div>
            </td>
            <td>
                <span>ECF No</span>
                <input type="text"
                       name="ECFNo"
                       id="txtECFNoId"
                       value="@Model.ecf_no" maxlength="16"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>
            <td>
                <span>ECF Amount</span>
                <input type="text"
                       name="ECFAmount"
                       id="txtECFAmountId"
                       value="@Model.ecf_amount" maxlength="9"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>

            <td>
                <span>Supplier Code</span>
                <input type="text"
                       name="Suppliercode"
                       id="txtSuppliercode"
                       value="@Model.ecf_suppliercode" maxlength="16"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>

        </tr>
    </table>
    <table class="myTableStyleTabNew">
        <tr>
            <td>
                <span>Supplier Name</span>
                <input type="text"
                       name="Suppliername"
                       id="txtSuppliername"
                       value="@Model.ecf_suppliername" maxlength="128"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:503px; " />
            </td>
            <td>
                <span>ECF Remark</span>
                <input type="text"
                       name="ECFRemark"
                       id="txtECFRemarkId"
                       value="@Model.ecf_remarks" maxlength="255"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>
        </tr>
    </table>
</div>
<h4 style="color:#02A3FB">Invoice</h4>
<div class="input-append">
    <table class="myTableStyleTabNew">
        <tr>
            <td>
                <span>Invoice Date</span>
                <input type="text"
                       name="txtinvoice_date"
                       id="txtinvoice_date"
                       value="@Model.invoice_date" maxlength="4"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>
            <td>
                <span>Invoice No</span>
                <input type="text"
                       name="txtinvoice_no"
                       id="txtinvoice_no"
                       value="@Model.invoice_no" maxlength="32"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>
            <td>
                <span>Invoice Amount</span>
                <input type="text"
                       name="txtinvoice_amount"
                       id="txtinvoice_amount"
                       value="@Model.invoice_amount" maxlength="9"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>
            <td>
                <span>Retention Amount</span>
                <input type="text"
                       name="txtRetention_amount"
                       id="txtRetention_amount"
                       value="@Model.Retention_amount" maxlength="9"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>
        </tr>
    </table>
    <table class="myTableStyleTabNew">
        <tr style="display:none;">
            <td>
                <span>Retention Date</span>
                <input type="text"
                       name="txtRetention_date"
                       id="txtRetention_date"
                       value="" maxlength="4"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>
        </tr>
        <tr>
            <td>
                <span>Balance Amount</span>
                <input type="text"
                       name="txtinBalance_amount"
                       id="txtinBalance_amount"
                       value="@Model.Balance_amount" maxlength="9"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:162px; " />
            </td>

            <td>
                <span>Invoice Description</span>
                <input type="text"
                       name="txtinvoicedes"
                       id="txtinvoicedes"
                       value="@Model.invoice_desc" maxlength="128"
                       class="textboxStyle valid" readonly="readonly"
                       style="display: block;width:500px; " />
            </td>
        </tr>
    </table>
</div>

<div id="ForPartialViewdebitline"></div>
<script type="text/javascript">
    $(document).ready(function () {

        objDialogdebitline = $("[id$='ForPartialViewdebitline']");
        objDialogdebitline.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            height: 380,
            width: 880

        });
        date = new Date();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var year = date.getFullYear();
        if (date > 9) {
            if (month > 9) {
                document.getElementById('txtreleasedate').value = day + '-' + month + '-' + year;
            }
            else {
                document.getElementById('txtreleasedate').value = day + '-' + '0' + +month + '-' + year;
            }

        }
        if (month > 9) {
            document.getElementById('txtreleasedate').value = '0' + day + '-' + month + '-' + year;
        }
        else {
            document.getElementById('txtreleasedate').value = day + '-' + '0' + +month + '-' + year;
        }
        $('#txtreleasedate').attr('disabled', true);
        //var objDate = new Date();
        //var Presentyear = objDate.getFullYear();
        //$("#txtreleasedate").datepicker({
        //    yearRange: '1900:' + Presentyear,
        //    changeMonth: true,
        //    changeYear: true,
        //    maxDate: 'd',
        //    dateFormat: 'dd-mm-yy'
        //});
        $('#btnsave').attr('disabled', true);
    });
    //function creditline() {
    //    if ($('#txtreleaseamount').val() != "") {
    //        var id = $("#invoice_gid").val();
    //        var id1 = $("#invoice_ecf_gid").val();
    //        objDialogcreditline.load('../RetentionRelease/creditline?id=' + id + '&ecf=' + id1 + '&' + new Date().getTime());
    //        objDialogcreditline.dialog({ title: 'Credit Line' });
    //        objDialogcreditline.dialog("open");
    //    }
    //    else {
    //        jAlert('Please Enter Relase Amount And Then Proceed', "Information");
    //    }

    //}
    //function debitline() {
    //    if ($('#txtreleaseamount').val() != "") {
    //        var id = $("#invoice_gid").val();
    //        var id1 = $("#invoice_ecf_gid").val();
    //        objDialogdebitline.load('../RetentionRelease/debitline?id=' + id + '&ecf=' + id1 + '&' + new Date().getTime());
    //        objDialogdebitline.dialog({ title: 'Debit Line' });
    //        objDialogdebitline.dialog("open");
    //    }
    //    else {
    //        jAlert('Please Enter Relase Amount And Then Proceed', "Information");
    //    }

    //}

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    $("#txtreleaseamount").keyup(function (event) {

        if (event.which >= 37 && event.which <= 40) {
            event.preventDefault();
        }
        var currentval = $("#txtreleaseamount").val();
        var testDecimal = testDecimals(currentval);
        if (testDecimal.length > 1) {
            currentval = currentval.slice(0, -1);
        }
        $("#txtreleaseamount").val(replaceCommas(currentval));

        var balanceamount = $("#txtinBalance_amount").val().replace(/,/g, "");
        var releaseamount = $("#txtreleaseamount").val().replace(/,/g, "");
        if (releaseamount == "" || releaseamount == null)
        {
            releaseamount = 0;
        }
        if (parseFloat(balanceamount) < parseFloat(releaseamount)) {
            $("#txtreleaseamount").val('');
            $('#txtreleasebalance').val('');
            jAlert('Can not Enter Greater Than Balance Amount', "Error");
            return false;
        }
        else {
                var currentvalnew = (parseFloat(releaseamount) - parseFloat(balanceamount));
                var currentval1 = currentvalnew.toFixed(2);
                var testDecimal1 = testDecimals(currentval1);
                if (testDecimal1.length > 1) {
                    currentval1 = currentval1.slice(0, -1);
                }
                var tolnew = replaceCommas(currentval1);
                $('#txtreleasebalance').val(tolnew);
            }
    });
    function testDecimals(currentval) {
        var count;
        currentval.match(/\./g) === null ? count = 0 : count = currentval.match(/\./g);
        return count;
    }
    function replaceCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }
    @*$("#txtreleaseamount").change(function () {
        var txtSupplierName = $("#txtreleaseamount").val();
        if (txtSupplierName.trim() != "") {
            var ddlid = $(this).val();
            var blamount = $('#txtinBalance_amount').val();
            var verify =
           {
               "release_amount": ddlid,
               "Balance_amount": blamount
           };
            //var ant = ddlid +'.00'
            //alert(blamount);
            //alert(ant);
            //if (blamount >= ant) {
            $.ajax({
                url: '@Url.Action("RetentionRelease_Verify", "RetentionRelease")',

                data: JSON.stringify(verify),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',

                success: function (data) {
                    if (data.length > 0) {

                        $('#txtreleasebalance').val(data);
                        $("#txtreleasebalance").removeClass('required');
                        $("#txtreleasebalance").addClass('valid');
                        $("#txtreleaseamount").removeClass('required');
                        $("#txtreleaseamount").addClass('valid');
                        var Release_date = $("#txtreleasedate").val();
                        var Release_amount = $("#txtreleaseamount").val();
                        var balance_amount = $("#txtreleasebalance").val();
                        var remarks = $("#txtreleaseRemarkId").val();
                        var invoice_gid = $("#invoice_gid").val();
                        var ecf_gid = $("#invoice_ecf_gid").val();
                        var retention_date = $("#txtRetention_date").val();
                        var retention_amount = $("#txtRetention_amount").val();

                        if (Release_date == "" || Release_amount == "" || balance_amount == "") {
                            $('#btnsave').attr('disabled', true);
                        }
                        else {
                            $('#btnsave').attr('disabled', false);
                        }
                    }
                    else {
                        jAlert('Can not Enter Greater Than Balance Amount', "Error");
                        $('#txtreleasebalance').val('');
                        $('#txtreleaseamount').val('');
                        $("#txtreleasebalance").removeClass('valid');
                        $("#txtreleasebalance").addClass('required');
                        $("#txtreleaseamount").removeClass('valid');
                        $("#txtreleaseamount").addClass('required');
                        return;
                    }
                }
            })

            // var amnt = blamount - ant;


            //}
            //else {
            //    jAlert('Can not Enter Greater Than Balance Amount', "Error");
            //    $('#txtreleasebalance').val('');
            //    $('#txtreleaseamount').val('');
            //    $("#txtreleasebalance").removeClass('valid');
            //    $("#txtreleasebalance").addClass('required');
            //    $("#txtreleaseamount").removeClass('valid');
            //    $("#txtreleaseamount").addClass('required');
            //    return;
            //}

        }
        else {
            $("#txtreleaseamount").removeClass('valid');
            $("#txtreleaseamount").addClass('required');

            $("#txtreleasebalance").removeClass('valid');
            $("#txtreleasebalance").addClass('required');
            $('#txtreleasebalance').val('');

            $('#btnsave').attr('disabled', true);
        }
    });*@



    $("#txtreleasedate").change(function () {
        var txtSupplierName = $("#txtreleasedate").val();
        if (txtSupplierName.trim() != "") {
            $("#txtreleasedate").removeClass('required');
            $("#txtreleasedate").addClass('valid');
            var Release_date = $("#txtreleasedate").val();
            var Release_amount = $("#txtreleaseamount").val();
            var balance_amount = $("#txtreleasebalance").val();
            var remarks = $("#txtreleaseRemarkId").val();
            var invoice_gid = $("#invoice_gid").val();
            var ecf_gid = $("#invoice_ecf_gid").val();
            var retention_date = $("#txtRetention_date").val();
            var retention_amount = $("#txtRetention_amount").val();

            if (Release_date == "" || Release_amount == "" || balance_amount == "") {
                $('#btnsave').attr('disabled', true);
            }
            else {
                $('#btnsave').attr('disabled', false);
            }
        }
        else {
            $("#txtreleasedate").removeClass('valid');
            $("#txtreleasedate").addClass('required');
            $('#btnsave').attr('disabled', true);
        }
    });

    $("#txtreleaseRemarkId").change(function () {
        var txtSupplierName = $("#txtreleaseRemarkId").val();
        if (txtSupplierName.trim() != "") {

            $("#txtreleaseRemarkId").removeClass('required');
            $("#txtreleaseRemarkId").addClass('valid');
            var Release_date = $("#txtreleasedate").val();
            var Release_amount = $("#txtreleaseamount").val();
            var balance_amount = $("#txtreleasebalance").val();
            var remarks = $("#txtreleaseRemarkId").val();
            var invoice_gid = $("#invoice_gid").val();
            var ecf_gid = $("#invoice_ecf_gid").val();
            var retention_date = $("#txtRetention_date").val();
            var retention_amount = $("#txtRetention_amount").val();

            if (Release_date == "" || Release_amount == "" || balance_amount == "") {
                $('#btnsave').attr('disabled', true);
            }
            else {
                $('#btnsave').attr('disabled', false);
            }
        }
        else {
            $("#txtreleaseRemarkId").removeClass('valid');
            $("#txtreleaseRemarkId").addClass('required');
            $('#btnsave').attr('disabled', true);
        }
    });


</script>
