@model IEM.Areas.FLEXIBUY.Models.PrSumEntity
@{
    ViewBag.Title = "PRattach";

}
<style>
    .width100{
        width:100%;
    }

</style>
<div>
    <div >
        <div id="createsupattachment" class="panel panel-default">

            <table class="myTableStyleTab" width="100%" align="center">
                <tr>
                    <td style="padding:10px; width:15%;">
                        <span>Document Date</span> <br />
                        <input type="text" name="_AttachDate" id="_AttachDate" style="width:100%" value="@System.DateTime.Now.ToShortDateString()" maxlength="10" title="Document Date" disabled="disabled" class="textboxStyle " />
                    </td>
                    <td style="padding:10px; width:25%;">
                        <span>Select File</span><br />
                        <form id="frmDeactivation">
                            @Html.TextBoxFor(m => m.MyFile, new { @id = "fileupsupplier", type = "file", @class = "textboxStyle width100" })
                        </form>
                    </td>
                    <td style="padding:10px; width:15%;">
                        <span>File Name</span> <br />
                        <input name="_AttachedFileName" readonly="readonly" id="_AttachedFileName" class="textboxStyle" style="width:100%" title="File Name" type="text" value="@Model.attachName" />
                    </td>
                    <td style="padding:10px; width:30%;">
                        <span>Description</span> <br />
                        <input name="_AttachDescription" id="_AttachDescription" class="textboxStyle" title="Description" style="width:100%" type="text" value="@Model.attachmentDesc" />
                    </td>
                    <td style="padding:5px; width:15%; text-align:left;">
                        <input type="button" class="btn btn-primary" id="btnSavePRAttachment" value="Save" style="margin:0px; font-size: 12px;" name="command" onclick="SavePRAttachment()" />
                        
                        <input type="button" class="btn btn-primary" id="btnclear" onclick="refresh()" style="margin:0px; font-size: 12px;" name="command" value="Clear" />

                    </td>
                </tr>
                <tr>
                    
                </tr>
            </table>
        </div>
    </div>

    <div id="GRIDTEST" class="panel panel-default">
        @Html.Partial("BoqAttachgrid")
    </div>
</div>




<script src="~/Addons/file-upload/jquery.fileupload.js"></script>
<script src="~/Addons/file-upload/jquery.fileupload-ui.js"></script>
<script src="~/Addons/file-upload/jquery.iframe-transport.js"></script>
<script>
    function back() {
        objDialog3.dialog('close');
       // $('#_AttachDate').hide();
    }
    function refresh() {

        $("#txtUploadFile").val("");
        $("#_AttachedFileName").val("");
        $("#_AttachDescription").val("");
      //  $('#_AttachDate').val("");
    }

    //$('#_AttachDate').datepicker({
    //    dateFormat: 'dd-mm-yy'
    //});
   

    function SavePRAttachment() {

      
            var AttachDate = $("#_AttachDate").val();
            var AttachFileName = $("#_AttachedFileName").val();
            var AttachDescription = $("#_AttachDescription").val();
            var attachmodel = {
                "attachment1": AttachFileName,
                "attachmentDesc": AttachDescription,
                "attachmentdate": AttachDate
            };

            if (AttachDate == null || AttachDate == "" || AttachDate == 0) {
                jAlert("Please Select Attachment Date.", "Error");
                return false;
            }

            if (AttachFileName == null || AttachFileName == "" || AttachFileName == 0) {
                jAlert("Please Select Attachmnet.", "Error");
                return false;
            }
            if (AttachDescription == null || AttachDescription == "" || AttachDescription == 0) {
                jAlert("Please Enter Descritption.", "Error");
                return false;
            }
            $.post('../PRRaiser/BoqAttachgrid?' + new Date().getTime(), attachmodel,
            function (data) {
                if (data == 0) {
                    //location = location.href;
                    jAlert("Error Occured", "Error", function () {
                        return false;
                    });
                    return false;
                } else {
                   
                    jAlert("Inserted Successfully", "Message", function (r) {
                        if (r == true) {
                            //$('#gridattachment').load('../PRRaiser/PRattach?' + new Date().getTime());
                            $("#gridattachmentnew").load('@Url.Action("BoqAttachgrid", "PRRaiser")?' + new Date().getTime());
                        }

                    });
                    refresh();
                //    $('#gridattachment1234pr').load('../PRRaiser/BoqAttachgrid?' + new Date().getTime());
                  // location='../../PRRaiser/Index?' + new Date().getTime();

                }
            }, 'json');
        }

   



    var jqXHRData;

    $(document).ready(function () {


        initAutoFileUpload();


    });
    function initAutoFileUpload() {
        'use strict';

        $('#fileupsupplier').fileupload({

            autoUpload: true,
            url: '@Url.Action("UploadedFiles", "PRRaiser")?' + new Date().getTime(),
            dataType: 'json',
            add: function (e, data) {
                var jqXHR = data.submit()
                    .success(function (data, textStatus, jqXHR) {
                        if (data.isUploaded) {

                        }
                        else {

                        }
                        //alert(data.message);
                        //  $("#gridattachment").load('../PRRaiser/PRattachgrid?' + new Date().getTime());

                        $("#_AttachedFileName").val(data.message);
                    })
                    .error(function (data, textStatus, errorThrown) {
                        if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
                            alert(textStatus + errorThrown + data);
                        }
                    });
            },
            fail: function (event, data) {
                if (data.files[0].error) {
                    alert(data.files[0].error);
                }
            }
        });
    }
</script>