@model IEM.Areas.FLEXIBUY.Models.poraiser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Release For GRN</h2>*@
<input type="hidden" id="hid_itTypegrn" value="@Model.itType">
<b>
    <span style="color: rgb(52, 108, 196);">Release For GRN</span>
</b>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<div class="well">
    <span style="color: rgb(52, 108, 196);">PO header</span>

    @using (Html.BeginForm())
    {
        <div class="borderStyle panel panel-default ">
            <table class="myTableStyleTabNew" align="center" width="100%">
                <tr>
                    <td style="padding:10px;">
                        <span>PO Ref No</span>
                        <br />
                        <input type="text"
                               name="txtporefno"
                               id="txtporefno"
                               disabled="disabled"
                               value="@Model.porefno"
                               class="textboxStyle valid" />
                    </td>
                    <td style="padding:10px;">
                        <span>PO Date </span>
                        <br />
                        <input type="text"
                               id="txtpodate"
                               maxlength="10"
                               disabled="disabled"
                               value="@Model.podate"
                               class="textboxStyle valid" />
                    </td>
                    <td style="padding:10px;">
                        <span>PO End Date </span>
                        <br />
                        <input type="text"
                               id="txtpoendDate"
                               maxlength="10"
                               disabled="disabled"
                               value="@Model.poenddate"
                               class="textboxStyle valid" />
                    </td>
                    <td style="padding:10px;">
                        <span>Raised By</span>
                        <br />
                        <input type="text"
                               name="txtraisedby"
                               id="txtraisedby"
                               disabled="disabled"
                               value="@Model.raisedby"
                               class="textboxStyle valid" />
                    </td>
                    <td style="padding:10px;">
                        <span>Project Manager </span>
                        <br />
                        @Html.DropDownList("projmanagergid", Model.projmanagerList, "--Select--", new { @class = "textboxStyle valid", @disabled = "disabled" })
                    </td>
                </tr>
                @*<tr>
                        <td></td>
                    </tr>*@
                <tr>
                    <td style="padding:10px;">
                        <span>Department</span>
                        <br />
                        <input type="text"
                               name="txtdepartment"
                               id="txtdepartment"
                               disabled="disabled"
                               value="@Model.department"
                               class="textboxStyle valid" />
                    </td>
                    <td style="padding:10px;">
                        <span>Vendor Name</span>
                        <br />
                        <input type="text"
                               name="txtvendorname"
                               id="txtvendorname"
                               disabled="disabled"
                               value="@Model.vendorName"
                               class="textboxStyle valid" />
                    </td>
                    <td style="padding:10px;">
                        <span>Type</span>
                        <br />
                        <div style="margin-top:5px;">
                            <input type="radio" id="id_rdapp" name="it" value="Application" />
                            Application
                            <input type="radio" id="id_rdinfar" name="it" value="Infrastructure" />
                            Infrastructure
                        </div>
                    </td>
                    <td nowrap="nowrap" colspan="3">
                        <span>Vendor Note</span>
                        <br />
                        <input type="text"
                               name="txt_vendornote"
                               class="textboxStyleBig valid"
                               id="txtvendornote"
                               disabled="disabled"
                               value="@Model.vendorNote" />
                    </td>
                </tr>
            </table>
        </div>

        @*<h4>PO details</h4>*@

        <span style="color: rgb(52, 108, 196);">PO details</span>

        <div id="podetailsgrid" class="panel panel-default">
            <br />
            <div>

                @Html.Partial("PoEditDetailsGRN")
            </div>

        </div>
        <div id="poshipment">

        </div>
        <div id="grnreleasedforpo">
        </div>
    @*<table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <button type="button" id="btnreject" class="btn btn-warning" value="Cancel" onclick="BackToGrnReleaseSummary()">
                    <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Back
                </button>
            </td>
        </tr>
    </table>*@
    }

    <script>

    function BackToGrnReleaseSummary() {
        location = '@Url.Action("GRNRelease", "GRNReleaseForPO")'
    }
    var department = $("#txtdepartment").val();
    if (department == "PIP") {
        $('[name="it"]').attr("checked", false);

        $('[name="it"]').attr("disabled", true);
        //$("#id_dept").attr("disabled", true);
    }
    var itType = $("#hid_itTypegrn").val();
    if (itType == 'A') {
        $("#id_rdapp").attr("checked", true);
    }
    else {
        $("#id_rdinfar").attr("checked", true);
    }

    function BackToReleaseSummary() {
        location = '@Url.Action("GRNRelease", "GRNReleaseForPO")'
    }
    </script>
