@model IEM.Areas.MASTERS.Models.iem_mst_delmat

@{
    ViewBag.Title = "Index";
    
    //WebGrid grid = new WebGrid(source: Model);
}

<link href="@Url.Content("~/Content/RMchosen/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/RMScript/chosen.jquery.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtdocgrpname">
                    <span>Title</span>
                    <br />
                    @Html.DropDownListFor(m => m.title_gid, Model.GetTitle, "--select Title--", new { @class = "fstextbox  chosen-select", @style = "display: block", @id = "ddltitlechange1" })
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtdocgrpname">
                    <span>Value</span>
                    <br />
                    <input type="text" class="fstextbox" id="txtEmployee" />
                    <input type="hidden" value="0" id="ddlEmployee" />

                           @*@Html.DropDownListFor(e => e.employee_gid, Enumerable.Empty<SelectListItem>(), "--select Employee--", new { @class = "fstextbox  chosen-select", @style = "display: block", @id = "ddlEmployee" })>*@</div>
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">

                <div id="txtTypeName" style="padding-top:9px;">
                    <span>Add.Approval</span>
                    <br />
                    <input type="radio" id="Yes" value="Y" name="Checktypename">
                    Yes &nbsp;
                    <input type="radio" id="No" value="N" name="Checktypename" checked="checked">
                    No
                </div>
            </td>

        </tr>
        <tr>

            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtDocNameName" style="padding-top:10px;">
                    <span> Flow Order Position</span>
                    <br />
                    <input name="DocNameName" id="_Floworder" type="text" data-val="true" value="@Session["sno"]" class="textboxStyle required " onkeypress="return isNumberKey(event)"
                           style="display: block; width:99%" />
                </div>
            </td>
        </tr>
        <tr>

            <td style="width:100%; padding:0px 10px 0px 3px; text-align:center;">
                <div style="padding-top:25px;">
                    @*<input type="button" class="btn btn-primary" value="Save" id="_SaveDelmat" />
                        <input type="button" class="btn btn-warning" id="_Cancel" value="Cancel" onclick="GotoIndex()" />*@
                    <button type="button" class="btn btn-primary" id="_SaveDelmat" value="Save">
                    <span class="glyphicon glyphicon-floppy-disk" style="color:white;font-size:12px;"></span> Save</button>
                    <button type="button" class="btn btn-warning" id="_Cancel" value="Cancel" onclick="GotoIndex()">
                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                </div>
            </td>

        </tr>

    </table>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#ddltitlechange1").chosen({});
        //$("#ddltitlechange1_chosen").css("width", "100%");
       // $("#ddlEmployee").chosen({});
        //$("#ddlEmployee_chosen").css("width", "100%");

        $("#ddlEmployee_chosen ,#ddltitlechange1_chosen").addClass("mychosen").css('width', '100%');

        $("#_SaveDelmat").attr("disabled", true);
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    $("#_Floworder").keyup(function () {
        var slabrangeinfo = "Slabrange"
        var titlegid = $("#ddltitlechange1").val();
        var valuegid = $("#ddlEmployee").val();
        var addapproval = $('input[name=Checktypename]:checked').val();
        var floworder = $('#_Floworder').val();

      
        if (titlegid == 0 || valuegid == 0 || floworder == "") {
            $("#_SaveDelmat").attr("disabled", true);
        }
        else
        {
            $("#_SaveDelmat").removeAttr('disabled');
        }

        var txtSupplierName = $("#_Floworder").val();
        if (txtSupplierName.trim() != "") {
            $("#_Floworder").removeClass('required');
            $("#_Floworder").addClass('valid');
        }
        else {
            $("#_Floworder").removeClass('valid');
            $("#_Floworder").addClass('required');
        }
    });

    $("#txtEmployee").keyup(function (e) {
        if (e.which != 13) {
            $("#ddlEmployee").val("0");
        }
      
        $("#txtEmployee").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../IEM_DELMAT/GetAutoCompleteDelmat",
                    data: "{ 'txt' : '" + $("#txtEmployee").val() + "', 'typeid' : '" + $("#ddltitlechange1").val() + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.split('~')[1],
                                val: item.split('~')[0]
                            }
                        }))
                    },
                    error: function (response) {
                    },
                    failure: function (response) {
                    }
                });
            },
            select: function (e, i) {               
                $("#ddlEmployee").val(i.item.val);
                $("#txtEmployee").val(i.item.label);
                var titlegid = $("#ddltitlechange1").val();
                var valuegid = $("#ddlEmployee").val();
                var addapproval = $('input[name=Checktypename]:checked').val();
                var floworder = $('#_Floworder').val();


                if (titlegid == 0 || valuegid == 0 || floworder == "") {
                    $("#_SaveDelmat").attr("disabled", true);
                }
                else {
                    $("#_SaveDelmat").removeAttr('disabled');
                }
            },
            minLength: 1
        });

    });

    $("#txtEmployee").focusout(function () {
        var hdfId = $("#ddlEmployee").val();
        var txtCurName = $("#txtEmployee").val();
        if (txtCurName.trim() != "" && (hdfId.trim() == "" || hdfId.trim() == "0")) {
            $("#txtEmployee").val("");
        }
    });

    $("#ddlEmployee").change(function () {
        var slabrangeinfo = "Slabrange"
        var titlegid = $("#ddltitlechange1").val();
        var valuegid = $("#ddlEmployee").val();
        var addapproval = $('input[name=Checktypename]:checked').val();
        var floworder = $('#_Floworder').val();


        if (titlegid == 0 || valuegid == 0 || floworder == "") {
            $("#_SaveDelmat").attr("disabled", true);
        }
        else {
            $("#_SaveDelmat").removeAttr('disabled');
        }

      
    });
    $("#ddltitlechange1").change(function () {
     
        var slabrangeinfo = "Slabrange"
        var titlegid = $("#ddltitlechange1").val();
        var valuegid = $("#ddlEmployee").val();
        var addapproval = $('input[name=Checktypename]:checked').val();
        var floworder = $('#_Floworder').val();
       
        if (titlegid == 0 || valuegid == 0 || floworder == "") {
            $("#_SaveDelmat").attr("disabled", true);
        }
        else {
            $("#_SaveDelmat").removeAttr('disabled');
        }

        var titlegid = $("#ddltitlechange1").val();
        var valuegid = $("#ddlEmployee").val();
        $("#ddlEmployee").val("0");
        $("#txtEmployee").val("");

        //$.ajax({
        //    url: "../IEM_DELMAT/GetValue",
        //    type: "POST",
        //    dataType: "json",
        //    data: { "title_gid": titlegid },
        //    success: function (data) {

        //        $("#ddlEmployee").empty();
        //        if (data.length > 0) {

        //            $("#ddlEmployee").append("<option value='0' >--Select--</option>");
        //            for (var i = 0; i < data.length; i++) {
        //                var stylesSelect = $('#ddlEmployee');
        //                stylesSelect.attr('disabled', false);
        //                $("#ddlEmployee").append("<option value=" + data[i].employee_gid + " >" + data[i].employee_code + "</option>");
        //            }
        //            $("#ddlEmployee").trigger('chosen:updated');
        //        }
        //        if (data.length == 0) {
        //            var stylesSelect = $('#ddlEmployee');
        //            stylesSelect.attr('disabled', true);
        //            $("#ddlEmployee").trigger('chosen:updated');
        //        }
        //    }
        //});
    });
    $(document).ready(function () {
       

        jQuery("#grid tbody tr").each(function () {
            var id = $(this).find('td:first').text();
            if (id == "No Record") {
                $(this).closest('tr').remove();
            }
        });

        $('#_SaveDelmat').click(function () {
           
            var dupslab = 0;
            var SNo = 1;
            var FNo = 1;
            var slabrangeinfo = "Slabrange"
            var titlegid = $("#ddltitlechange1").val();
            var valuegid = $("#ddlEmployee").val();
            var addapproval = $('input[name=Checktypename]:checked').val();
            var floworder = $('#_Floworder').val();

          
            if (titlegid == 0 || valuegid == 0 || floworder=="") {
                alert(" All fields are required.");
                return false;
            }
            var slabrangecount = 0;
            $.ajax({
                url: "../IEM_DELMAT/CreateNewDelmatselflow",
                type: "POST",
                dataType: "json",
                data: {
                    "title_gid": titlegid, "value_gid": valuegid, "Countvalue": SNo, "AddApporoval": addapproval,
                    "Flow": floworder
                },

                //url: "../IEM_DELMAT/CreateNewDelmatselflow",
                //type: "POST",
                //dataType: "json",
                //data: {
                //    "title_gid": titlegid, "value_gid": valuegid, "Countvalue": SNo, "AddApporoval": addapproval,
                //    "Flow": floworder
                //},
                success: function (data) {
                   
                    if (data != "Duplicate Flow Order !" && data != "Please Enter Correct Flow Order !" && data != "Please Save Set Flow And Then Proceed") {
                        var gsno, gTitl, gValue, gFlow, gAddapproval, gAction;
                        var gvalue;
                        var valname = data.employee_code;
                        var titlename = data.title_name;
                         slabrangecount = data.slabrangecount;
                        var slabgid = data.slabrange_gid;
                        var Gid = data.GID;                      
                       

                        gsno = data.Countvalue;                       
                        delmatgid = data.delmat_gid;
                        $('#delmatgid').val(delmatgid);
                        $('#countvalue').val(slabrangecount);
                        $('#SlabGid').val(slabgid);
                        $('#SNo').val(gsno);
                        $('#Flow').val(floworder)
                        $('#GID').val(Gid);

                        if (data.title_flag == 1) {
                            valname = data.employee_code;
                        }
                        else if (data.title_flag == 2) {
                            valname = data.grade_code;
                        }
                        else if (data.title_flag == 3) {
                            valname = data.designation_code;
                        }
                        else if (data.title_flag == 4) {
                            valname = data.role_code;
                        }
                       

                        SNo = SNo;
                        FNo = FNo;
                        var addapp = "addapp";
                        var slab = "check";
                        var newrow = "<tr id='trDelmat" + Gid + "'><td style='display:none;'>" + Gid + "</td>";
                        newrow += " <td id=SNo" + gsno + " style='text-align:center;'> " + gsno + " </td>";
                        newrow += " <td><label for=titlename id='" + titlegid + "'> " + titlename + " </label></td>";
                        newrow += " <td><label for=titlename id='" + valuegid + "'>" + valname + "</label></td>";

                        if (addapproval == "Y") {
                           
                            newrow += " <td style='text-align:center;'><input type='checkbox' id='" + addapp + gsno + "' checked disabled='disabled'/></td>";
                        } else { newrow += " <td style='text-align:center;'><input type='checkbox' id='" + addapp + gsno + "' disabled='disabled'/></td>"; }

                        newrow += " <td style='text-align:center;'>" + floworder + "</td>";
                      
                        for (var i = 0; i < slabrangecount; i++) {
                            newrow += " <td style='text-align:center;'><input type='checkbox' id='" + slabrangeinfo + gsno + i + "' name='" + slabrangeinfo + "' /></td>";
                        }
                        newrow += " <td style='text-align:center;'> </a> <a title='Delete'  onclick='DeleteType(" + Gid + ")'> <span class='glyphicon glyphicon-trash'> </span> </a> </td></tr>";
                        if (gsno == 1) {
                            $('#grid tbody:first').append(newrow);
                        }
                        else {
                            $('#grid tbody:last').append(newrow);
                        }
                        //alert(newrow);
                        jAlert('DelmatFlow Added Successfully !', "Information");
                        objDialogfordelmatflow.remove();                       
                    }
                    else
                    {
                        if (data != "Duplicate Flow Order !") {
                            jAlert(data, "Error");
                        }
                        else {
                            jConfirm("Do you want to Change Flow Order?", "Delete Category", function (callback) {
                                if (callback == true) {
                                    $.ajax({
                                        url: "../IEM_DELMAT/CreateNewDelmatselflowByIDdublicate",
                                        type: "POST",
                                        dataType: "json",
                                        data: {
                                            "title_gid": titlegid, "value_gid": valuegid, "Countvalue": SNo, "AddApporoval": addapproval,
                                            "Flow": floworder
                                        },
                                        success: function (data) {

                                            if (data != "Please  Enter Correct Flow Order !") {
                                               
                                                var Emp = "Employee";

                                                var id = "";
                                                var EmpPaymentmodel = { "Invoicegid": id }
                                                $.post('../IEM_DELMAT/Getdelmatdata', EmpPaymentmodel,
                                              function (data) {
                                                  var cnt = data[0].InRowscount;
                                                  var Snumber = 0;
                                                  var addappr = "addappr";                                                 
                                                  var slabrangeinfo = "Slabrange"
                                                  var newrow;
                                                  if (data == 0 || data == "") { location = location.href; } else {
                                                      if (data.length > 0) {
                                                          setTimeout(function () {
                                                              for (var gh = 0; gh < data.length ; gh++) {
                                                                  ++Snumber;
                                                                  newrow = "<tr id='trDelmat" + data[gh].Flowvalue + "'><td style='display:none;'>" + data[gh].Flowvalue + "</td>";

                                                                  newrow += " <td style='text-align:center;'>" + Snumber + "</td>";

                                                                  newrow += " <td><label id='" + data[gh].Flowvalue + "'>" + data[gh].lsTitlename + "</label></td>";

                                                                  newrow += " <td><label id='" + data[gh].Flowvalue + "'>" + data[gh].lsdelmatflowtitlevalue + "</label></td>";
                                                                  if (data[gh].lsdelmatflowaddapprovalvalue == "Y") {
                                                                      newrow += " <td style='text-align:center;'><input type='checkbox' id='" + addappr + data[gh].Flowvalue + "' checked disabled='disabled'/></td>";
                                                                  }
                                                                  else {
                                                                      newrow += " <td style='text-align:center;'><input type='checkbox' id='" + addappr + data[gh].Flowvalue + "'  disabled='disabled'/></td>";
                                                                  }

                                                                  newrow += " <td style='text-align:center;'><label>" + data[gh].InFlowCount + "</label></td>";
                                                                  for (var mat = 0; mat < cnt; mat++) {
                                                                      newrow += " <td style='text-align:center;'><input type='checkbox' id='" + slabrangeinfo + Snumber + mat + "' name='" + slabrangeinfo + "' /></td>";
                                                                  }
                                                                  var DelmatModel = { "delmatsetflowgid": data[gh].Flowvalue };
                                                                  var controlToBeRemoved = "#trDelmat" + data[gh].Flowvalue;
                                                                  $(controlToBeRemoved).remove();                                                                 
                                                                  var vieworedit = $("#Vieworedit").val();
                                                                  newrow += " <td style='text-align:center;'> </a> <a title='Delete'  onclick='DeleteType(" + data[gh].Flowvalue + ")'> <span class='glyphicon glyphicon-trash'> </span> </a> </td></tr>";
                                                                  $('#grid tbody:last').append(newrow);
                                                                  objDialogfordelmatflow.remove();
                                                              }
                                                          }, 50);
                                                      }
                                                  }
                                                  //var Snumber = 0;
                                                  //var addappr = "addappr";
                                                  //var slabrangeinfo = "Slabrangechk"
                                                  //var newrow;
                                                  //if (data == 0 || data == "") { location = location.href; } else {
                                                  //    if (data.length > 0) {
                                                  //        var id = data[0].delmat_gid;
                                                  //        window.location = '../EditDelmat/' + id;
                                                  //    }
                                                  //}
                                              }, 'json');
                                            }
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            });
                        }
                    }
                }
            });

        });     

    });
</script>



<script type="text/javascript">


    function DeleteType(id) {
        jConfirm("Do you want to delete this Matrix?", "Delete Category", function (callback) {
            if (callback == true) {
                var controlToBeRemoved = "#trDelmat" + id;
                var DelmatModel = { "delmatmatrixgid": id, "delmatsetflowgid": id };
                $.ajax({
                    url: '../IEM_DELMAT/DeleteDelmatsetflow/',
                    data: JSON.stringify(DelmatModel),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        isSuccess = result;
                     
                        if (result == "Record deleted successfully !") {
                            // alert(controlToBeRemoved);
                            jAlert(result, "Information");
                            $(controlToBeRemoved).remove();

                            var id = "";
                            var EmpPaymentmodel = { "Invoicegid": id }
                            $.post('../IEM_DELMAT/Getdelmatdata', EmpPaymentmodel,
                          function (data) {
                              var cnt = data[0].InRowscount;
                              var Snumber = 0;
                              var addappr = "addappr";
                              var slabrangeinfo = "Slabrange"
                              var newrow;
                              if (data == 0 || data == "") { location = location.href; } else {
                                  if (data.length > 0) {
                                      setTimeout(function () {
                                          for (var gh = 0; gh < data.length ; gh++) {
                                              ++Snumber;
                                              newrow = "<tr id='trDelmat" + data[gh].Flowvalue + "'><td style='display:none;'>" + data[gh].Flowvalue + "</td>";

                                              newrow += " <td style='text-align:center;'>" + Snumber + "</td>";

                                              newrow += " <td><label id='" + data[gh].Flowvalue + "'>" + data[gh].lsTitlename + "</label></td>";

                                              newrow += " <td><label id='" + data[gh].Flowvalue + "'>" + data[gh].lsdelmatflowtitlevalue + "</label></td>";
                                              if (data[gh].lsdelmatflowaddapprovalvalue == "Y") {
                                                  newrow += " <td style='text-align:center;'><input type='checkbox' id='" + addappr + data[gh].Flowvalue + "' checked disabled='disabled'/></td>";
                                              }
                                              else {
                                                  newrow += " <td style='text-align:center;'><input type='checkbox' id='" + addappr + data[gh].Flowvalue + "'  disabled='disabled'/></td>";
                                              }

                                              newrow += " <td style='text-align:center;'><label>" + data[gh].InFlowCount + "</label></td>";
                                              for (var mat = 0; mat < cnt; mat++) {
                                                  newrow += " <td style='text-align:center;'><input type='checkbox' id='" + slabrangeinfo + Snumber + mat + "' name='" + slabrangeinfo + "' /></td>";
                                              }
                                              var DelmatModel = { "delmatsetflowgid": data[gh].Flowvalue };
                                              var controlToBeRemoved = "#trDelmat" + data[gh].Flowvalue;
                                              $(controlToBeRemoved).remove();
                                              var vieworedit = $("#Vieworedit").val();
                                              newrow += " <td> </a> <a title='Delete'  onclick='DeleteType(" + data[gh].Flowvalue + ")'> <span class='glyphicon glyphicon-trash'> </span> </a> </td></tr>";
                                              $('#grid tbody:last').append(newrow);
                                              objDialogfordelmatflow.remove();
                                          }
                                      }, 50);
                                  }
                              }
                              //var Snumber = 0;
                              //var addappr = "addappr";
                              //var slabrangeinfo = "Slabrangechk"
                              //var newrow;
                              //if (data == 0 || data == "") { location = location.href; } else {
                              //    if (data.length > 0) {
                              //        var id = data[0].delmat_gid;
                              //        window.location = '../EditDelmat/' + id;
                              //    }
                              //}
                          }, 'json');

                        }
                    },
                    error: function (result) {
                        isSuccess = result;
                    }

                })
            } else {
                return false;
            }
        });
        //var controlToBeRemoved = "#trDelmat" + id;
        ////alert(controlToBeRemoved);
        //var DelmatModel = { "delmatmatrixgid": id, "delmatsetflowgid": id };


        //$.ajax({
        //    url: '../IEM_DELMAT/DeleteDelmatsetflow/',
        //    data: JSON.stringify(DelmatModel),
        //    type: 'POST',
        //    contentType: 'application/json; charset=utf-8',
        //    success: function (result) {
        //        isSuccess = result;
        //        alert(result);
        //        if (result == "Record deleted successfully !") {
        //           // alert(controlToBeRemoved);
        //            $(controlToBeRemoved).remove();                    
        //        }
        //    },
        //    error: function (result) {
        //        isSuccess = result;
        //    }

        //})

    }
    function GotoIndex() {
        objDialogfordelmatflow.remove();
        //window.parent.jQuery('#ForPartialView').dialog('close');
    }


</script>





