@model IEM.Areas.MASTERS.Models.iem_mst_delmat
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var branch = Model.delmattype_branch_visible;
    var baranchtype = Model.delmattype_branchtype_visible;
    var cliamtype = Model.delmattype_claim_visible;
    var dsa = Model.delmattype_dsa_visible;
    var ppit = Model.delmattype_pipit_visible;
    var it = Model.delmattype_it_visible;
    var exp = Model.delmattype_exp_visible;
    var budget = Model.delmattype_budget_visible;
    var jump = Model.delmattype_jump_visible;
    var active = Model.delmattype_active_visible;
    var dis = ViewBag.viewfor;

    //add delmat change
    var parpr = Model.delmattype_parpr_visible;
    var ecftype = Model.delmattype_ecftype_visible;
    var wwoparpr = Model.delmattype_withwithoutparpr_visible;
    //subtype ramya added on 18 may 22
    var subparpr = Model.delmat_parpr_flag;
    var subecftype = Model.delmat_ecftype;
    var subwwoparpr = Model.delmat_wwoparpr;
}


<script type="text/javascript">
    var currentTab = 0;
    $(function () {

        $("#tabs").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });
</script>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
 
<div class="pageHeadingLayout">
    <span class="pageHeading">Delmat Master</span>
    </div>

    <div class="well" style="padding:10px;">
        <div id="tabs" style="height:460px;font-size:12px;">
            <ul>
                <li><a href="#tabs-1"> Attributes</a></li>
                <li><a href="#tabs-2"> Flow</a></li>
                <li><a href="#tabs-3">Exception </a></li>
                <li><a href="#tabs-4">Attachment </a></li>
                <li><a href="#tabs-5">Audit Trail </a></li>
            </ul>
            <div id="tabs-1">
                @Html.Partial("Tab1Edit")
            </div>

            <div id="tabs-2" class="overflowy">
                @Html.Partial("EditSetFlowMatrix")
            </div>
            <div id="tabs-3">
                @Html.Partial("editsetflow")

            </div>
            <div id="tabs-4">
               
                @Html.Partial("DelmatAttachmentDetails")


            </div> 
            <div id="tabs-5">

                @Html.Partial("AuditTrail")


            </div> 
            <br />
            <input type="hidden" id="hdrole" value="@ViewBag.IsDelmatRole" />
        @if (ViewBag.IsDelmatRole == "C" && dis != "disabled")
        {
            <div style="margin-top:27px">
            <fieldset>
                <legend> Approver Action</legend>
                <div style="padding: 10px 0px 0px 0px;">
                    @Html.Partial("ApproverActionDelmat")
                </div>

            </fieldset>
            </div>
        }
           
        </div>
    </div>

<script>
    $(document).ready(function () {
        if ($("#hdrole").val() == "C") {
            $("input[type='radio']").prop("disabled", true);
            $("input[type='checkbox']").prop("disabled", true);
            $("#rblApprove").prop("disabled", false);
            $("#rblReject").prop("disabled", false);
        }
       
    });
</script>





