@using IEM.Areas.MASTERS.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["SlabGid"] != null)
    { ViewBag.setflow = "True"; }
    else { ViewBag.setflow = "False"; }
    var vv = ViewBag.setflow;
}
<script type="text/javascript">
    var currentTab = 0;
    $(function () {

        $("#tabs").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });
</script>
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<div class="pageHeadingLayout">
    <span class="pageHeading">Delmat Master</span>
    </div>
    <div class="well" style="padding:10px;">
        <div id="tabs" style="height:538px;font-size:12px;">
            <ul>
                <li><a href="#tabs-1">Attributes </a></li>
                <li><a href="#tabs-2">Flow </a></li>
                <li><a href="#tabs-3">Exception </a></li>
                <li><a href="#tabs-4">Attachment </a></li>
            </ul>
            <div>
                @if (@ViewBag.viewdetail != "True")
                {
                    <div id="tabs-1">
                        @Html.Partial("Create")
                    </div>
                }
                else
                {
                    <div id="tabs-1">
                        @Html.Partial("Tab1Edit")

                    </div>
                }
                <div id="tabs-2">

                    @Html.Partial("SetFlow")

                </div>
                <div id="tabs-3">

                    @Html.Partial("GetDelmatException")

                </div>
                <div id="tabs-4">

                    @Html.Partial("DelmatAttachmentDetails")

                </div>
                <br />
@if (ViewBag.IsDelmatRole == "C")
{
    <div style="margin-top:27px">
        <fieldset>
            <legend> Approver Action</legend>
            <div style="padding: 0px 0px 0px 30px;">
                @Html.Partial("ApproverActionDelmat")
            </div>

        </fieldset>
    </div>
}
            </div>
        </div>
    </div>
