@model IEM.Areas.MASTERS.Models.iem_mst_delmat
@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    var branch = Model.delmattype_branch_visible;
    var baranchtype = Model.delmattype_branchtype_visible;
    var cliamtype = Model.delmattype_claim_visible;
    var dsa = Model.delmattype_dsa_visible;
    var ppit = Model.delmattype_pipit_visible;
    var it = Model.delmattype_it_visible;
    var exp = Model.delmattype_exp_visible;
    var budget = Model.delmattype_budget_visible;
    var jump = Model.delmattype_jump_visible;
    var active = Model.delmattype_active_visible;
    var dis = ViewBag.viewfor;
    var del = ViewBag.viewfor1;
    //add delmat change
    var parpr = Model.delmattype_parpr_visible;
    var ecftype = Model.delmattype_ecftype_visible;
    var wwoparpr = Model.delmattype_withwithoutparpr_visible;
    // ewBag.viewfor=dis

    //subtype ramya added on 18 may 22
    var subparpr = Model.delmat_parpr_flag;
    var subecftype = Model.delmat_ecftype;
    var subwwoparpr = Model.delmat_wwoparpr;
}


<link href="@Url.Content("~/Content/RMchosen/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/RMScript/chosen.jquery.js")" type="text/javascript"></script>

@*@using (Html.BeginForm())
    {*@
@Html.ValidationSummary(true)
<input type="hidden" id="_DelmatMC" value="@Session["RoleDelmat"]" />
<table class="myTableStyleTabNew" style="width:100%;">
    <tr>
        <td style="width:50%; padding:0px 10px 0px 3px;">

            <table class="myTableStyleTabNew" style="width:100%;">
                <tr>
                    <td colspan="3" style="width:100%; padding:0px 10px 0px 3px;display:none ;">
                        <input name="DocNameID" id="_Delgid" type="text" placeholder="DocName ID" data-val="true" value="@Model.delmat_gid" />

                    </td>
                </tr>
                <tr>

                    <td colspan="3" style="width:100%; padding:0px 10px 0px 3px;">
                        <span> Delmat Name </span>
                        <br />
                        <input name="CategoryName" id="_Delmatname" class="fstextbox valid" maxlength="70"
                               type="text" data-val="true" value="@Model.delmat_name" @ViewBag.viewfor />

                    </td>
                </tr>
                <tr>
                    <td style="width:48%; padding:0px 10px 0px 3px;">
                        <span>Doc Type</span>
                        <br />

                        <select name="docutype_gid" id="docutype_gid" class="fstextbox  chosen-select" @ViewBag.viewfor>
                            <option value="0">Select</option>
                            @foreach (var pitem in Model.GetDelmat)
                            {
                                var childitemfilter = Model.GetDelmat.Where(m => m.Value == pitem.Value);
                                if (childitemfilter != null)
                                {
                                    foreach (var citem in childitemfilter)
                                    {
                                        string selectedValueddel = "";
                                        if (Model.delmattype_gid.ToString() == citem.Value)
                                        {
                                            selectedValueddel = "selected='selected'";
                                        }
                                        <option value="@citem.Value" @selectedValueddel>@citem.Text</option>
                                    }
                                }
                            }
                        </select>

                    </td>

                    <td style="width:48%; padding:0px 10px 0px 3px;">
                        <span>Slab</span>
                        <br />

                        <select name="depat_gid" id="depat_gid" disabled="disabled" class="fstextbox  chosen-select" @ViewBag.viewfor>
                            <option value="0">Select</option>
                            @foreach (var pitem in Model.GetSlab)
                            {
                                var childitemfilter = Model.GetSlab.Where(m => m.Value == pitem.Value);
                                if (childitemfilter != null)
                                {
                                    foreach (var citem in childitemfilter)
                                    {
                                        string selectedValueddel = "";
                                        if (Model.slab_gid.ToString() == citem.Value)
                                        {
                                            selectedValueddel = "selected='selected'";
                                        }
                                        <option value="@citem.Value" @selectedValueddel>@citem.Text</option>
                                    }
                                }
                            }
                        </select>

                    </td>


                    <td style="width:4%; padding:0px 10px 0px 3px; text-align:right;">
                        <a title="Search"><span class="glyphicon glyphicon-search" id="_View" style="margin:26px   0px 0px -5px;" onclick="view()" @ViewBag.viewfor></span></a>

                    </td>
                </tr>
                <tr>

                    <td colspan="3" style="width:100%; padding:0px 10px 0px 3px;">
                        <span>Department</span>
                        <br />
                        <div id="divStudentlist" style="height: 217px; overflow: auto;border:solid; border-width:1px; " @ViewBag.viewfor ">
                            @{
                                var Flag = 0;
                                <table width="100%">
                                    <tr>
                                        <td width="20px" style="min-height:30px;">
                                            <input type="checkbox" id="cbSelectAll" class="chkclass" value="" name="checkboxselct" @ViewBag.viewfor />
                                        </td>
                                        <td style="min-height:30px;">
                                            Select All
                                        </td>
                                    </tr>
                                </table>
                                foreach (var names in @Model.Department)
                                {
                                    Flag = 0;
                                    var checkBoxId = "chk" + names.Value;
                                    var tdId = "td" + names.Value;
                                    <table width="100%">
                                        <tr>
                                            <td width="20px" style="min-height:20px;">
                                                @{
                                    foreach (var selectid in Model.lstSelecteddepartmentGid)
                                    {
                                        if (!string.IsNullOrEmpty(selectid))
                                        {
                                            if (selectid == (names.Value))
                                            {
                                                Flag = 1;
                                                <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" name="checkbox" checked="checked" @ViewBag.viewfor />
                                            }
                                        }

                                    }
                                                }
                                                @{
                                    if (Flag != 1)
                                    {
                                        <input type="checkbox" id="@checkBoxId" class="chkclass" name="checkbox" value="@names.Value" @ViewBag.viewfor />
                                    }
                                                }

                                            </td>
                                            <td id="@tdId" style="min-height:20px;">
                                                @names.Text
                                            </td>
                                        </tr>
                                    </table>

                                }
                            }
                        </div>
                    </td>
                </tr>
                <tr>
@if (ViewBag.IsDelmatRole == "M")
{
                    <td colspan="3" style="width:100%; padding:0px 10px 0px 3px;">
                        <div style="padding-top:8px; ">

                            @if (dis != "disabled")
                            {
                                <button type="button" class="btn btn-primary" id="_Savedelmat" value="Set Flow" onclick="SaveDelmat()" @ViewBag.viewfor>
                                    <span class="glyphicon glyphicon-floppy-save" style="color:white;font-size:12px;"></span>Set Flow
                                </button>
                                <button type="button" class="btn btn-warning" value="Cancel" id="_Cancel">
                                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span>Cancel
                                </button>
                            }
                            @if (del == "Delete")
                            {
                                <button type="button" class="btn btn-danger" id="deleditvl" value="Delete" onclick="deleteval()">
                                    <span class="glyphicon glyphicon-trash" style="color:white; font-size:12px;"></span>Delete
                                </button>

                            }
                            @if (dis == "disabled")
                            {

                                <button type="button" class="btn btn-warning" value="Cancel" id="_Cancel">
                                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span>Cancel
                                </button>
                            }
                        </div>
                    </td>
}
else
{
    <td colspan="3" style="width:100%; padding:0px 10px 0px 3px;">
                        <div style="padding-top:8px; ">
@if (dis == "disabled")
                            {

                                <button type="button" class="btn btn-warning" value="Cancel" id="_Cancel">
                                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span>Cancel
                                </button>
                            }
      </div>
                    </td>
}

                </tr>
            </table>

        </td>

        <td style="width:50%; padding:0px 10px 0px 3px; vertical-align:top;">

            <table class="myTableStyleTabNew">

                <tr id="trBranch">
                    <td style="min-height:30px;">
                        <span> Branch </span>&nbsp;&nbsp;&nbsp;
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="branch">
                            @{
                                if (branch == "N")
                                {
                                    <div>
                                        <input type="radio" id="B1" value="B" name="rbbranch" @ViewBag.viewfor>Branch &nbsp;
                                        <input type="radio" id="B2" value="O" name="rbbranch" checked="checked" @ViewBag.viewfor>
                                        Non Branch
                                    </div>
                                }
                                else if (branch == "B")
                                {
                                    <div>
                                        <input type="radio" id="B1" value="B" name="rbbranch" checked="checked" @ViewBag.viewfor>Branch &nbsp;
                                        <input type="radio" id="B2" value="O" name="rbbranch" @ViewBag.viewfor>
                                        Non Branch
                                    </div>
                                }
                                else if (branch == "O")
                                {
                                    <div>
                                        <input type="radio" id="B1" value="B" name="rbbranch" @ViewBag.viewfor>Branch &nbsp;
                                        <input type="radio" id="B2" value="O" name="rbbranch" checked="checked" @ViewBag.viewfor>
                                        Non Branch
                                    </div>
                                }
                            }

                        </div>
                    </td>
                </tr>




                <tr id="trbranchtype">

                    <td style="min-height:30px;">
                        <div id="branchtype1" style="padding-top:11px;">
                            <span> Branch Type</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="branchtype" style="padding-top:11px;">

                            @{
                                if (baranchtype == "N")
                                {
                                    <div>
                                        <input type="radio" id="Bt1" value="N" name="rbbranchtype" @ViewBag.viewfor>
                                        Rural &nbsp;
                                        <input type="radio" id="Bt2" value="N" name="rbbranchtype" checked="checked" @ViewBag.viewfor>
                                        Urban &nbsp;
                                        <input type="radio" id="Bt3" value="N" name="rbbranchtype" disabled>
                                        Central
                                    </div>
                                }
                                else if (baranchtype == "R")
                                {
                                    <div>
                                        <input type="radio" id="Bt1" value="R" name="rbbranchtype" checked="checked" @ViewBag.viewfor>
                                        Rural &nbsp;
                                        <input type="radio" id="Bt2" value="U" name="rbbranchtype" @ViewBag.viewfor>
                                        Urban &nbsp;
                                        <input type="radio" id="Bt3" value="C" name="rbbranchtype" disabled>
                                        Central
                                    </div>
                                }
                                else if (baranchtype == "U")
                                {
                                    <div>
                                        <input type="radio" id="Bt1" value="R" name="rbbranchtype" @ViewBag.viewfor>
                                        Rural &nbsp;
                                        <input type="radio" id="Bt2" value="U" name="rbbranchtype" checked="checked" @ViewBag.viewfor>
                                        Urban &nbsp;
                                        <input type="radio" id="Bt3" value="C" name="rbbranchtype" disabled>
                                        Central
                                    </div>
                                }
                                else if (baranchtype == "C")
                                {
                                    <div>
                                        <input type="radio" id="Bt1" value="R" name="rbbranchtype" disabled>
                                        Rural &nbsp;
                                        <input type="radio" id="Bt2" value="U" name="rbbranchtype" disabled>
                                        Urban &nbsp;
                                        <input type="radio" id="Bt3" value="C" name="rbbranchtype" checked="checked" @ViewBag.viewfor>
                                        Central
                                    </div>
                                }
                            }


                        </div>
                    </td>

                </tr>

                <tr id="trclaim">
                    <td style="min-height:30px;">
                        <div id="claim1" style="padding-top:11px;">
                            <span> Claim Type</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="claim" style="padding-top:11px;">


                            @{
                                if (cliamtype == "N")
                                {
                                    <div>
                                        <input type="radio" id="C1" value="N" name="rbclaim" @ViewBag.viewfor>
                                        Supplier Invoice &nbsp;
                                        <input type="radio" id="C2" value="N" name="rbclaim" checked="checked" @ViewBag.viewfor>
                                        Emp.Reimb
                                    </div>
                                }
                                else if (cliamtype == "S")
                                {
                                    <div>
                                        <input type="radio" id="C1" value="S" name="rbclaim" checked="checked" @ViewBag.viewfor>
                                        Supplier Invoice &nbsp;
                                        <input type="radio" id="C2" value="E" name="rbclaim" @ViewBag.viewfor>
                                        Emp.Reimb
                                    </div>
                                }
                                else if (cliamtype == "E")
                                {
                                    <div>
                                        <input type="radio" id="C1" value="S" name="rbclaim" @ViewBag.viewfor>
                                        Supplier Invoice &nbsp;
                                        <input type="radio" id="C2" value="E" name="rbclaim" checked="checked" @ViewBag.viewfor>
                                        Emp.Reimb
                                    </div>
                                }
                            }


                        </div>
                    </td>
                </tr>
                <tr id="trdsa">
                    <td style="min-height:30px;">
                        <div id="dsa1" style="padding-top:11px;">
                            @{
                                if (cliamtype == "S")
                                {
                                    <div>
                                        <span id="semode"> DSA Flag</span>&nbsp;&nbsp;&nbsp;
                                    </div>
                                }
                                else if (cliamtype == "E")
                                { <div>
                                    <span id="semode">Mode</span>&nbsp;&nbsp;&nbsp;
                                </div>
                                }
                            }
                        </div>
                    </td>
                    <td style="min-height:30px;">
                        <div id="dsa" style="padding-top:11px;">



                            @{
                                if (dsa == "N")
                                {
                                    if (cliamtype == "S")
                                    {
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="radio" id="D1" value="D" name="rbdsa" @ViewBag.viewfor>
                                                        <input type="radio" id="D3" value="B" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                    </td>
                                                    <td>
                                                        <span id="sd1">DSA</span> &nbsp;
                                                    </td>
                                                    <td>
                                                        <input type="radio" id="D2" value="O" name="rbdsa" @ViewBag.viewfor>
                                                        <input type="radio" id="D4" value="P" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                    </td>
                                                    <td>
                                                        <span id="sd2">Non DSA</span>
                                                        <span id="sd4" style="display:none">Petty Cash</span>
                                                    </td>
                                                    <td>
                                                        <input type="radio" style="display:none" id="D5" value="N" name="rbdsa" @ViewBag.viewfor>
                                                        <input type="radio" id="D6" value="I" name="rbdsa" @ViewBag.viewfor> @*I - DSA with Invoice*@

                                                    </td>
                                                    <td>
                                                        <span style="display:none" id="sd5">Normal</span>
                                                        <span id="sd6">DSA Invoice</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    else if (cliamtype == "E")
                                    {
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="radio" id="D1" value="D" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                        <input type="radio" id="D3" value="B" name="rbdsa" @ViewBag.viewfor>
                                                    </td>
                                                    <td>
                                                        <span id="sd1">Bulk Coveyance</span> &nbsp;
                                                    </td>
                                                    <td>
                                                        <input type="radio" id="D2" value="O" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                        <input type="radio" id="D4" value="P" name="rbdsa" @ViewBag.viewfor>
                                                    </td>
                                                    <td>
                                                        <span id="sd2" style="display:none">Non DSA</span>
                                                        <span id="sd4">Petty Cash</span>
                                                    </td>
                                                    <td>
                                                        <input type="radio" id="D5" value="N" name="rbdsa" checked="checked" @ViewBag.viewfor>
                                                    </td>
                                                    <td>
                                                        <span id="sd5">Normal</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                }
                                else if (dsa == "D")
                                {
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="radio" id="D1" value="D" name="rbdsa" checked="checked" @ViewBag.viewfor>
                                                    <input type="radio" id="D3" value="B" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd1">DSA</span> &nbsp;
                                                </td>
                                                <td>
                                                    <input type="radio" id="D2" value="O" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D4" style="display:none" value="P" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd2">Non DSA</span>
                                                    <span id="sd4" style="display:none">Petty Cash</span>
                                                </td>
                                                <td>
                                                    <input style="display:none" type="radio" id="D5" value="N" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D6" value="I" name="rbdsa"> @*I - DSA with Invoice*@

                                                </td>
                                                <td>
                                                    <span style="display:none" id="sd5">Normal</span>
                                                    <span id="sd6">DSA Invoice</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                                else if (dsa == "O")
                                {
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="radio" id="D1" value="D" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D3" value="B" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd1">DSA</span> &nbsp;
                                                </td>
                                                <td>
                                                    <input type="radio" id="D2" value="O" name="rbdsa" checked="checked" @ViewBag.viewfor>
                                                    <input type="radio" id="D4" value="P" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd2">Non DSA</span>
                                                    <span id="sd4" style="display:none">Petty Cash</span>
                                                </td>
                                                <td>
                                                    <input type="radio" style="display:none" id="D5" value="N" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D6" value="I" name="rbdsa"> @*I - DSA with Invoice*@

                                                </td>
                                                <td>
                                                    <span style="display:none" id="sd5">Normal</span>
                                                    <span id="sd6">DSA Invoice</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                                else if (dsa == "B")
                                {
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="radio" id="D1" value="D" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D3" value="B" name="rbdsa" checked="checked" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd1">Bulk Coveyance</span> &nbsp;
                                                </td>
                                                <td>
                                                    <input type="radio" id="D2" style="display:none" value="O" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D4" value="P" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd2" style="display:none">Non DSA</span>
                                                    <span id="sd4">Petty Cash</span>
                                                </td>
                                                <td>
                                                    <input type="radio" id="D5" value="N" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D6" value="I" name="rbdsa"> @*I - DSA with Invoice*@
                                                </td>
                                                <td>
                                                    <span id="sd5">Normal</span>
                                                    <span id="sd6">DSA Invoice</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                                else if (dsa == "P")
                                {
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="radio" id="D1" style="display:none" value="D" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D3" value="B" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd1">Bulk Coveyance</span> &nbsp;
                                                </td>
                                                <td>
                                                    <input type="radio" style="display:none" id="D2" value="O" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D4" value="P" name="rbdsa" checked="checked" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd2" style="display:none">Non DSA</span>
                                                    <span id="sd4">Petty Cash</span>
                                                </td>
                                                <td>
                                                    <input type="radio" id="D5" value="N" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D6" value="I" name="rbdsa" checked="checked"> @*I - DSA with Invoice*@
                                                </td>
                                                <td>
                                                    <span id="sd5">Normal</span>
                                                    <span id="sd6">DSA Invoice</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }

                                else if (dsa == "I")
                                {
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="radio" id="D1" value="D" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D3" value="B" style="display:none" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd1">DSA</span> &nbsp;
                                                </td>
                                                <td>
                                                    <input type="radio" id="D2" value="O" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D4" style="display:none" value="P" name="rbdsa" @ViewBag.viewfor>
                                                </td>
                                                <td>
                                                    <span id="sd2">Non DSA</span>
                                                    <span id="sd4" style="display:none">Petty Cash</span>
                                                </td>
                                                <td>
                                                    <input style="display:none" type="radio" id="D5" value="N" name="rbdsa" @ViewBag.viewfor>
                                                    <input type="radio" id="D6" value="I" name="rbdsa" checked="checked"> @*I - DSA with Invoice*@

                                                </td>
                                                <td>
                                                    <span style="display:none" id="sd5">Normal</span>
                                                    <span id="sd6">DSA Invoice</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            }

                        </div>
                    </td>
                </tr>

                @* if (dsa == "O")
                    {*@
               
                    <tr id="trdsa1" style="display:none;">
                        <td style="min-height:30px;">
                            <span> ECF Type </span>&nbsp;&nbsp;&nbsp;
                        </td>
                        <td style="min-height:30px;padding-left: 8px;">
                            <div id="Ecftypes">
@{
    if (subecftype == "P")
    {
                                <div>
                                    <input type="radio" id="E1" value="P" name="rbE" checked="checked" @ViewBag.viewfor> PO &nbsp;
                                    <input type="radio" id="E2" value="W" name="rbE" @ViewBag.viewfor> WO(With PAR) &nbsp;
                                    <input type="radio" id="E4" value="O" name="rbE" @ViewBag.viewfor> WO(WithOut PAR) &nbsp;
                                    <input type="radio" id="E3" value="N" name="rbE" @ViewBag.viewfor> 
                                    Non-PO
                                </div>
                                }
    else if (subecftype == "W")
                                {
                                <div>
                                    <input type="radio" id="E1" value="P" name="rbE" @ViewBag.viewfor> PO &nbsp;
                                    <input type="radio" id="E2" value="W" name="rbE" checked="checked" @ViewBag.viewfor> WO(With PAR) &nbsp;
                                    <input type="radio" id="E4" value="O" name="rbE" @ViewBag.viewfor> WO(WithOut PAR) &nbsp;
                                    <input type="radio" id="E3" value="N" name="rbE" @ViewBag.viewfor> 
                                    Non-PO
                                </div>
                                }
   else if (subecftype == "O")
                                {
                                <div>
                                    <input type="radio" id="E1" value="P" name="rbE" @ViewBag.viewfor> PO &nbsp;
                                    <input type="radio" id="E2" value="W" name="rbE" @ViewBag.viewfor> WO(With PAR) &nbsp;
                                    <input type="radio" id="E4" value="O" name="rbE" checked="checked" @ViewBag.viewfor> WO(WithOut PAR) &nbsp;
                                    <input type="radio" id="E3" value="N" name="rbE" @ViewBag.viewfor> 
                                    Non-PO
                                </div>
                                }

    else if (subecftype == "N")
                                {
                                <div>
                                    <input type="radio" id="E1" value="P" name="rbE" @ViewBag.viewfor> PO &nbsp;
                                    <input type="radio" id="E2" value="W" name="rbE" @ViewBag.viewfor> WO(With PAR) &nbsp;
                                    <input type="radio" id="E4" value="O" name="rbE" @ViewBag.viewfor> WO(WithOut PAR) &nbsp;
                                    <input type="radio" id="E3" value="N" name="rbE" checked="checked" @ViewBag.viewfor> Non-PO &nbsp;
                                </div>
                                }
                                }
                            </div>
                        </td>

                    </tr>
                    
                

                <tr id="trreg">
                    <td style="min-height:30px;">
                        <div id="req" style="padding-top:11px;">
                            <span> Request For</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="req" style="padding-top:11px;">
                            @{
                                if (ppit == "N")
                                {
                                    <div>
                                        <input type="radio" id="P1" value="N" name="rbreq" @ViewBag.viewfor>
                                        PIP &nbsp;
                                        <input type="radio" id="P2" value="N" name="rbreq" checked="checked" @ViewBag.viewfor>
                                        IT
                                    </div>
                                }
                                else if (ppit == "P")
                                {
                                    <div>
                                        <input type="radio" id="P1" value="P" name="rbreq" checked="checked" @ViewBag.viewfor>
                                        PIP &nbsp;
                                        <input type="radio" id="P2" value="I" name="rbreq" @ViewBag.viewfor>
                                        IT
                                    </div>
                                }
                                else if (ppit == "I")
                                {
                                    <div>
                                        <input type="radio" id="P1" value="P" name="rbreq" @ViewBag.viewfor>
                                        PIP &nbsp;
                                        <input type="radio" id="P2" value="I" name="rbreq" checked="checked" @ViewBag.viewfor>
                                        IT
                                    </div>
                                }
                            }

                        </div>
                    </td>
                </tr>

                <tr id="trreg1" style="display:none;">
                    <td style="min-height:30px;">
                        <div id="req1" style="padding-top:11px;">
                            <span> PAR/PR</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="req1" style="padding-top:11px;">
                            @{
                                if (subwwoparpr == "N")
                                {
                                    <div>
                                        <input type="radio" id="R1" value="W" name="rbreq1" @ViewBag.viewfor>
                                        With PAR/PR &nbsp;
                                        <input type="radio" id="R2" value="O" name="rbreq1" checked="checked" @ViewBag.viewfor>
                                        WithOut PAR/PR
                                    </div>
                                }
                                else if (subwwoparpr == "W")
                                {
                                    <div>
                                        <input type="radio" id="R1" value="W" name="rbreq1" checked="checked" @ViewBag.viewfor>
                                        With PAR/PR &nbsp;
                                        <input type="radio" id="R2" value="O" name="rbreq1" @ViewBag.viewfor>
                                        WithOut PAR/PR
                                    </div>
                                }

                                else if (subwwoparpr == "O")
                                {
                                    <div>
                                        <input type="radio" id="R1" value="W" name="rbreq1" @ViewBag.viewfor>
                                        With PAR/PR &nbsp;
                                        <input type="radio" id="R2" value="O" name="rbreq1" checked="checked" @ViewBag.viewfor>
                                        WithOut PAR/PR
                                    </div>

                                }
                            }

                        </div>
                    </td>

                </tr>


                <tr id="it">
                    <td style="min-height:30px;">
                        <div style="padding-top:11px;">
                            <span> IT</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="it" style="padding-top:11px;">


                            @{
                                if (it == "N")
                                {
                                    <div>
                                        <input type="radio" id="I1" value="N" name="rbit" @ViewBag.viewfor>
                                        Application &nbsp;
                                        <input type="radio" id="I2" value="N" name="rbit" checked="checked" @ViewBag.viewfor>
                                        Infrastructure
                                    </div>
                                }
                                else if (it == "A")
                                {
                                    <div>
                                        <input type="radio" id="I1" value="A" name="rbit" checked="checked" @ViewBag.viewfor>
                                        Application &nbsp;
                                        <input type="radio" id="I2" value="I" name="rbit" @ViewBag.viewfor>
                                        Infrastructure
                                    </div>
                                }
                                else if (it == "I")
                                {
                                    <div>
                                        <input type="radio" id="I1" value="A" name="rbit" @ViewBag.viewfor>
                                        Application &nbsp;
                                        <input type="radio" id="I2" value="I" name="rbit" checked="checked" @ViewBag.viewfor>
                                        Infrastructure
                                    </div>
                                }
                            }


                        </div>
                    </td>
                </tr>
                <tr id="trexp">
                    <td style="min-height:30px;">
                        <div style="padding-top:11px;">
                            <span> Expenditure Type</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="exp" style="padding-top:11px;">


                            @{
                                if (exp == "N")
                                {
                                    <div>
                                        <input type="radio" id="exp1" value="N" name="rbexp" @ViewBag.viewfor>
                                        Capex &nbsp;
                                        <input type="radio" id="exp2" value="N" name="rbexp" checked="checked" @ViewBag.viewfor>
                                        Opex
                                    </div>
                                }
                                else if (exp == "C")
                                {
                                    <div>
                                        <input type="radio" id="exp1" value="C" name="rbexp" checked="checked" @ViewBag.viewfor>
                                        Capex &nbsp;
                                        <input type="radio" id="exp2" value="O" name="rbexp" @ViewBag.viewfor>
                                        Opex
                                    </div>
                                }
                                else if (exp == "O")
                                {
                                    <div>
                                        <input type="radio" id="exp1" value="C" name="rbexp" @ViewBag.viewfor>
                                        Capex &nbsp;
                                        <input type="radio" id="exp2" value="O" name="rbexp" checked="checked" @ViewBag.viewfor>
                                        Opex
                                    </div>
                                }
                            }

                        </div>
                    </td>
                </tr>
                <tr id="trbud">
                    <td style="min-height:30px;">
                        <div style="padding-top:11px;">
                            <span> Budget</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="budget" style="padding-top:11px;">


                            @{
                                if (budget == "N")
                                {
                                    <div>
                                        <input type="radio" id="bud1" value="N" name="rbbud" @ViewBag.viewfor>
                                        Budgeted &nbsp;
                                        <input type="radio" id="bud2" value="N" name="rbbud" checked="checked" @ViewBag.viewfor>
                                        Un-Budgeted
                                    </div>
                                }
                                else if (budget == "B")
                                {
                                    <div>
                                        <input type="radio" id="bud1" value="B" name="rbbud" checked="checked" @ViewBag.viewfor>
                                        Budgeted &nbsp;
                                        <input type="radio" id="bud2" value="U" name="rbbud" @ViewBag.viewfor>
                                        Un-Budgeted
                                    </div>
                                }
                                else if (budget == "U")
                                {
                                    <div>
                                        <input type="radio" id="bud1" value="B" name="rbbud" @ViewBag.viewfor>
                                        Budgeted &nbsp;
                                        <input type="radio" id="bud2" value="U" name="rbbud" checked="checked" @ViewBag.viewfor>
                                        Un-Budgeted
                                    </div>
                                }
                            }

                        </div>
                    </td>
                </tr>

                <tr id="trbud1" style="display:none;">
                    <td style="min-height:30px;">
                        <div style="padding-top:11px;">
                            <span> PAR PR</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>

                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="budget1" style="padding-top:11px;">

                            @{
                                if (subparpr == "B")
                                {
                                    <div>
                                        <input type="radio" id="Bud1" value="B" name="rbpar" checked="checked" @ViewBag.viewfor>
                                        PAR &nbsp;
                                        <input type="radio" id="Bud2" value="P" name="rbpar" @ViewBag.viewfor>
                                        PR
                                    </div>

                                }
                                else if (subparpr == "N")
                                {
                                    <div>
                                        <input type="radio" id="Bud1" value="B" name="rbpar" @ViewBag.viewfor>
                                        PAR &nbsp;
                                        <input type="radio" id="Bud2" value="P" name="rbpar" checked="checked" @ViewBag.viewfor>
                                        PR
                                    </div>
                                }
                                else if (subparpr == "P")
                                {
                                    <div>
                                        <input type="radio" id="Bud1" value="B" name="rbpar" @ViewBag.viewfor>
                                        PAR &nbsp;
                                        <input type="radio" id="Bud2" value="P" name="rbpar" checked="checked" @ViewBag.viewfor>
                                        PR
                                    </div>
                                }
                            }

                        </div>
                    </td>

                </tr>
                <tr id="trjump">
                    <td style="min-height:30px;">
                        <div style="padding-top:11px;">
                            <span> Jump Flag</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="jump" style="padding-top:11px;">


                            @{
                                if (jump == "N")
                                {
                                    <div>

                                        <input type="radio" id="jump1" value="N" name="rbjump" @ViewBag.viewfor>
                                        Yes &nbsp;
                                        <input type="radio" id="jump2" value="N" name="rbjump" checked="checked" @ViewBag.viewfor>
                                        No
                                    </div>
                                }
                                else if (jump == "Y")
                                {
                                    <div>
                                        <input type="radio" id="jump1" value="Y" name="rbjump" checked="checked" @ViewBag.viewfor>
                                        Yes &nbsp;
                                        <input type="radio" id="jump2" value="N" name="rbjump" @ViewBag.viewfor>
                                        No
                                    </div>
                                }

                            }


                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="min-height:30px;">
                        <div style="padding-top:11px;">
                            <span> Active</span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                    <td style="min-height:30px;padding-left: 8px;">
                        <div id="active" style="padding-top:11px;">


                            @{
                                if (active == "N")
                                {
                                    <div>
                                        <input type="radio" id="active" value="Y" name="rbactive" @ViewBag.viewfor>
                                        Yes &nbsp;
                                        <input type="radio" id="active1" value="N" name="rbactive" checked="checked" @ViewBag.viewfor>
                                        No
                                    </div>
                                }
                                else if (active == "Y")
                                {
                                    <div>
                                        <input type="radio" id="active" value="Y" name="rbactive" checked="checked" @ViewBag.viewfor>
                                        Yes &nbsp;
                                        <input type="radio" id="active1" value="N" name="rbactive" @ViewBag.viewfor>
                                        No
                                    </div>
                                }

                            }

                        </div>
                    </td>
                </tr>

            </table>

        </td>

    </tr>
</table>

@*}*@
<div id="ForPartialViewPouch1Edit"></div>
<div id="ForPartialViewPouch1"></div>
<script type="text/javascript">
    var objDialogyPushAddEdit;
    var objDialogyPushAdd;
    $(document).ready(function () {

        $("#docutype_gid").chosen({});
        $("#docutype_gid_chosen").css("width", "100%");
        $("#depat_gid").chosen({});
        $("#depat_gid_chosen").css("width", "100%");

        $("#docutype_gid_chosen, #depat_gid_chosen").addClass("mychosen").css('width', '100%');

        //ramya 
        var subparpr = $('input[name=rbpar]:checked').val();
        var subwwopwrpr = $('input[name=rbreq1]:checked').val();
        var subecftype = $('input[name=rbE]:checked').val();
        var subdsa = $('input[name=rbdsa]:checked').val();
        console.log(subecftype);
        console.log(subdsa);
        if ((subecftype == 'P' || subecftype == 'W' || subecftype == 'N' || subecftype == 'O') && subdsa == 'O') { // ramya modified on 18 May 22
            debugger;
            $('#trdsa1').show();
            $('#E1').attr('disabled', false);
            $('#E2').attr('disabled', false);
            $('#E3').attr('disabled', false);
        }
        else {
            debugger;
            //add for delmat change
            $('#trdsa1').hide();
            $('#E1').attr('disabled', true);
            $('#E2').attr('disabled', true);
            $('#E3').attr('disabled', true);

        }
         
        objDialogyPushAdd = $("[id$='ForPartialViewPouch1']");
        objDialogyPushAdd.dialog({
            autoOpen: false,
            modal: true,
            width: 500,
            height: 400
        });
    });
   /* $("#D2").change(function () {
        debugger;
        var dsa = $('input[name=rbdsa]:checked').val();
        if (dsa == "O") {
            $("#trdsa1").show();
        }
        else {
            $("#trdsa1").hide();
        }
    });*/
    $("#R1").change(function () {
        debugger;
        var wwo = $('input[name=rbreq1]:checked').val();
        if (wwo == "O") {
            $("#trreg").hide();
            $("#it").hide();
        }
        else {
            $("#trreg").show();
            $("#it").show();
        }
    });
    $("#R2").change(function () {
        debugger;
        var wwo = $('input[name=rbreq1]:checked').val();
        if (wwo == "O") {
            $("#trreg").hide();
            $("#it").hide();
        }
        else {
            $("#trreg").show();
            $("#it").show();
        }
    });
    $("#D6").change(function () {
        debugger;
        $("#trdsa1").hide();

    });
    $("#D1").change(function () {
        debugger;
        $("#trdsa1").hide();

    });
    //var DELMC = $('#_DelmatMC').val();
    //    if (DELMC == "C")
    //    {
    //        $('#_Delgid').attr("disabled", true);
    //    }

    //    //var dsavalue = Model.delmattype_dsa_visible;
    //});
    $(document).ready(function () {
        $("#trreg").hide();
        $("#it").hide();
        objDialogyPushAddEdit = $("[id$='ForPartialViewPouch1Edit']");
        objDialogyPushAddEdit.dialog({
            autoOpen: false,
            modal: true,
            width: 500,
            height: 400
        });
        var delmattypegid = $("#docutype_gid").val();

        $.ajax({

            url: '@Url.Action("CheckVisible", "IEM_DELMAT")',
            type: "POST",
            async: false,
            cache: false,
            dataType: "json",
            data: { "delmattype_gid": delmattypegid },
            success: function (data) {
                var branch = data.delmattype_branch_visible;
                var branchtype = data.delmattype_branchtype_visible;
                var claim = data.delmattype_claim_visible;
                var dsa = data.delmattype_dsa_visible;
                var reg = data.delmattype_pipit_visible;
                var it = data.delmattype_it_visible;
                var exp = data.delmattype_exp_visible;
                var budget = data.delmattype_budget_visible;
                var jump = data.delmattype_jump_visible;

                //delmat change
                var ecftype = data.delmattype_ecftype_visible;
                var parpr = data.delmattype_parpr_visible;
                var wwoparpr = data.delmattype_withwithoutparpr_visible;


                if (branch == 'Y') {

                    $('#trBranch').show();

                    $('#B1').attr('disabled', false);
                    $('#B2').attr('disabled', false);

                }
                else {
                    $('#trBranch').hide();

                    $('#B1').attr('disabled', true);
                    $('#B2').attr('disabled', true);

                }
                if (branchtype == 'Y') {
                    $('#trbranchtype').show();
                    //  $('#Bt1').attr('disabled', false);
                    // $('#Bt2').attr('disabled', false);
                    //  $('#Bt3').attr('disabled', false);
                }
                else {
                    $('#trbranchtype').hide();
                    $('#Bt1').attr('disabled', true);
                    $('#Bt2').attr('disabled', true);
                    $('#Bt3').attr('disabled', true);
                }
                if (claim == 'Y') {
                    $('C1').attr('disabled', false);
                    $('C2').attr('disabled', false);
                    $('#trclaim').show();
                }
                else {
                    $('C1').attr('disabled', true);
                    $('C2').attr('disabled', true);
                    $('#trclaim').hide();
                }
                if (dsa == 'Y') {
                    $('D1').attr('disabled', false);
                    $('D2').attr('disabled', false);
                    $('#trdsa').show();
                }
                else {
                    $('D1').attr('disabled', true);
                    $('D2').attr('disabled', true);
                    $('#trdsa').hide();
                }
                if (reg == 'Y') {
                    $('#P1').attr('disabled', false);
                    $('#P2').attr('disabled', false);
                    $('#trreg').show();
                }
                else {
                    $('#P1').attr('disabled', true);
                    $('#P2').attr('disabled', true);
                    $('#trreg').hide();
                }
                /*if (reg == 'Y') {
                    debugger;
                    $('#P1').attr('disabled', false);
                    $('#P2').attr('disabled', false);
                    $('#trreg').show();
                }
                else {
                    debugger;
                    $('#P1').attr('disabled', true);
                    $('#P2').attr('disabled', true);
                    $('#trreg').hide();
                }*/


                if (it == 'Y') {
                    $('#it1').attr('disabled', false);
                    $('#it2').attr('disabled', false);
                    $('#it').show();
                }
                else {
                    $('#it1').attr('disabled', true);
                    $('#it2').attr('disabled', true);
                    $('#it').hide();
                }
                if (exp == 'Y') {
                    $('#exp1').attr('disabled', false);
                    $('#exp2').attr('disabled', false);
                    $('#trexp').show();
                }
                else {
                    $('#exp1').attr('disabled', true);
                    $('#exp2').attr('disabled', true);
                    $('#trexp').hide();
                }
                if (budget == 'Y') {
                    $('#bud1').attr('disabled', false);
                    $('#bud2').attr('disabled', false);
                    $('#trbud').show();
                }
                else {
                    $('#bud1').attr('disabled', true);
                    $('#bud2').attr('disabled', true);
                    $('#trbud').hide();
                }
                if (jump == 'Y') {
                    $('#trjump').show();
                    $('#jump1').attr('disabled', false);
                    $('#jump2').attr('disabled', false);
                }
                else {
                    $('#trjump').hide();
                    $('#jump1').attr('disabled', true);
                    $('#jump2').attr('disabled', true);
                }

                //add delmat change
                //PAR PR
                if (parpr == 'Y') {
                    debugger;
                    $('#trbud1').show();
                    $('#Bud1').attr('disabled', false);
                    $('#Bud2').attr('disabled', false);

                }
                else {
                    debugger;
                    $('#trbud1').hide();
                    $('#Bud1').attr('disabled', true);
                    $('#Bud2').attr('disabled', true);

                }

                //Withwithout  parpr
                if (wwoparpr == 'Y') {
                    debugger;
                    $('#R1').attr('disabled', false);
                    $('#R2').attr('disabled', false);
                    $('#trreg1').show();
                }
                else {
                    debugger;
                    $('#R1').attr('disabled', true);
                    $('#R2').attr('disabled', true);
                    $('#trreg1').hide();
                }

                //Ecf type
                //  if (dsa == 'O') {
                //debugger;
                var subparpr = $('input[name=rbpar]:checked').val();
                var subwwopwrpr = $('input[name=rbreq1]:checked').val();
                var subecftype = $('input[name=rbE]:checked').val();
                var subdsa = $('input[name=rbdsa]:checked').val();
                //console.log(subecftype);
                //console.log(dsa);
                if ((subecftype == 'P' || subecftype == 'W' || subecftype == 'N' || subecftype == 'O') && subdsa == 'O') { // ramya modified on 18 May 22
                    debugger;
                    $('#trdsa1').show();
                    $('#E1').attr('disabled', false);
                    $('#E2').attr('disabled', false);
                    $('#E3').attr('disabled', false);
                }
                else {
                    debugger;
                    //add for delmat change
                    $('#trdsa1').hide();
                    $('#E1').attr('disabled', true);
                    $('#E2').attr('disabled', true);
                    $('#E3').attr('disabled', true);

                }

                var wwoparpt = $('input[id=R2]:checked').val();
                if(wwoparpt=='O' && delmattypegid!=3)
                {
                    $("#trreg").hide();
                    //$("#it").hide();
                }
                if (wwoparpt == 'O') {
                    //$("#trreg").hide();
                    $("#it").hide();
                }
            }
            //}
        });
    });
    $("#cbSelectAll").live("click", function () {
        var ischecked = this.checked;
        $('#divStudentlist').find("input:checkbox").each(function () {
            this.checked = ischecked;
        });
    });

    $("input[name='checkbox']").click(function () {

        var totalRows = $("#divStudentlist td :checkbox").length;
        var checked = $("#divStudentlist td :checkbox:checked").length;
        if (checked == totalRows) {
            $("#divStudentlist").find("input:checkbox").each(function () {
                this.checked = true;
                $('#cbSelectAll').attr('checked', true);
            });
        }
        else {
            $('#cbSelectAll').attr('checked', false);
        }
    });
    $("#B1").change(function () {
        debugger;
        var claim = $('input[name=rbbranch]:checked').val();
        if (claim == "B") {
            $('#Bt3').attr('disabled', true);
            $('#Bt1').attr('disabled', false);
            $('#Bt2').attr('disabled', false);
            $('#Bt3').attr('checked', false);
            $('#Bt1').attr('checked', false);
            $('#Bt2').attr('checked', false);
        }
    });
    $("#B2").change(function () {
        debugger;
        var claim = $('input[name=rbbranch]:checked').val();
        if (claim == "O") {
            $('#Bt3').attr('disabled', false);
            $('#Bt1').attr('disabled', true);
            $('#Bt2').attr('disabled', true);
            $('#Bt3').attr('checked', true);
            $('#Bt1').attr('checked', false);
            $('#Bt2').attr('checked', false);
        }
    });


    //DSA Onchange
    $("#D1").change(function () {
        debugger;
        var dsa = $('input[name=rbdsa]:checked').val();
        if (dsa == "O") {
            $("#trdsa1").show();

        }
        else {
            $("#trdsa1").hide();
        }

    });
    $("#D2").change(function () {
        debugger;
	
        var dsa = $('input[name=rbdsa]:checked').val();
        if (dsa == "O") {
            $("#trdsa1").show();
            $('#E1').attr('disabled', false);
            $('#E2').attr('disabled', false);
            $('#E3').attr('disabled', false);
        }
        else {
            $("#trdsa1").hide();
            $('#E1').attr('disabled', true);
            $('#E2').attr('disabled', true);
            $('#E3').attr('disabled', true);
        }

    })
    $("#C2").change(function () {
        var claim = $('input[name=rbclaim]:checked').val();
        if (claim == "E") {
            $("#semode").text("Mode");

            $('#D1').attr('disabled', true);
            $('#D2').attr('disabled', true);
            $('#D1').attr('checked', false);
            $('#D2').attr('checked', false);

            $('#D3').attr('disabled', false);
            $('#D4').attr('disabled', false);
            $('#D5').attr('disabled', false);

            $("#D1").hide();
            $("#D2").hide();

            $("#sd1").text("Bulk Coveyance");
            $("#sd2").hide();
            $("#sd6").hide();
            $("#D3").show();
            $("#D4").show();
            $("#D5").show();

            $("#sd4").show();
            $("#sd5").show();
        }
        else {
            $("#semode").text("DSA Flag");

            $('#D1').attr('disabled', false);
            $('#D2').attr('disabled', false);

            $('#D3').attr('disabled', true);
            $('#D4').attr('disabled', true);
            $('#D5').attr('disabled', true);
            $('#D3').attr('checked', false);
            $('#D4').attr('checked', false);
            $('#D5').attr('checked', false);

            $("#D1").show();
            $("#D2").show();

            $("#sd1").text("DSA");
            $("#sd2").show();
            $("#sd6").show();
            $("#D3").hide();
            $("#D4").hide();
            $("#D5").hide();

            $("#sd4").hide();
            $("#sd5").hide();
        }
    });
    $("#C1").change(function () {
        var claim = $('input[name=rbclaim]:checked').val();
        if (claim == "E") {
            $("#semode").text("Mode");

            $('#D1').attr('disabled', true);
            $('#D2').attr('disabled', true);

            $('#D3').attr('disabled', false);
            $('#D4').attr('disabled', false);
            $('#D5').attr('disabled', false);

            $("#D1").hide();
            $("#D2").hide();

            $("#sd1").text("Bulk Coveyance");
            $("#sd2").hide();
            $("#sd6").hide();
            $("#D3").show();
            $("#D4").show();
            $("#D5").show();

            $("#sd4").show();
            $("#sd5").show();
        }
        else {
            $("#semode").text("DSA Flag");

            $('#D1').attr('disabled', false);
            $('#D2').attr('disabled', false);

            $('#D3').attr('disabled', true);
            $('#D4').attr('disabled', true);
            $('#D5').attr('disabled', true);
            $('#D3').attr('checked', false);
            $('#D4').attr('checked', false);
            $('#D5').attr('checked', false);

            $("#D1").show();
            $("#D2").show();

            $("#sd1").text("DSA");
            $("#sd2").show();
            $("#sd6").show();
            $("#D3").hide();
            $("#D4").hide();
            $("#D5").hide();

            $("#sd4").hide();
            $("#sd5").hide();
        }
    });
    function view() {
        var id = $("#depat_gid").val();
        if (id != "") {

            //objDialogyPushAddEdit.load('../ViewSlab?id=' + id);
            //objDialogyPushAddEdit.dialog({ title: 'View Slab' });
            //objDialogyPushAddEdit.dialog("open");
            var tmpURL = '@Url.Action("ViewSlab", "IEM_DELMAT")';
            objDialogyPushAdd.load(tmpURL + '?id=' + id);
            objDialogyPushAdd.dialog({ title: 'View Slab' });
            objDialogyPushAdd.dialog("open");
        }
        else {
            jAlert("Please Select Any Slab", "Information");
        }
    }
    $(document).ready(function () {

        $('#_Cancel').click(function () {

            window.location = '@Url.Action("Main", "IEM_DELMAT")';
        });

        $("#_Delmatname").keyup(function () {
            var txtSupplierName = $("#_Delmatname").val();
            if (txtSupplierName.trim() != "") {
                $("#_Delmatname").removeClass('required');
                $("#_Delmatname").addClass('valid');
            }
            else {
                $("#_Delmatname").removeClass('valid');
                $("#_Delmatname").addClass('required');
            }
        });
    });

    $("#docutype_gid").change(function () {
        var delmattypegid = $("#docutype_gid").val();
        $('#B1').attr('checked', false);
        $('#B2').attr('checked', false);
        $('#Bt1').attr('checked', false);
        $('#Bt2').attr('checked', false);
        $('#C1').attr('checked', false);
        $('#C2').attr('checked', false);
        $('#D1').attr('checked', false);
        $('#D2').attr('checked', false);
        $('#P1').attr('checked', false);
        $('#P2').attr('checked', false);
        $('#I1').attr('checked', false);
        $('#I2').attr('checked', false);
        $('#exp1').attr('checked', false);
        $('#exp2').attr('checked', false);
        $('#bud1').attr('checked', false);
        $('#bud2').attr('checked', false);
        $('#jump1').attr('checked', false);
        $('#jump2').attr('checked', false);

        //delmat Change
        $('#E1').attr('checked', false);
        $('#E2').attr('checked', false);
        $('#E3').attr('checked', false);
        $('#R1').attr('checked', false);
        $('#R2').attr('checked', false);
        $('#Bud1').attr('checked', false);
        $('#Bud1').attr('checked', false);

        $.ajax({
            //url: "../CheckVisible",
            url: '@Url.Action("CheckVisible", "IEM_DELMAT")',
            type: "POST",
            dataType: "json",
            data: { "delmattype_gid": delmattypegid },
            success: function (data) {
                var branch = data.delmattype_branch_visible;
                var branchtype = data.delmattype_branchtype_visible;
                var claim = data.delmattype_claim_visible;
                var dsa = data.delmattype_dsa_visible;
                var reg = data.delmattype_pipit_visible;
                var it = data.delmattype_it_visible;
                var exp = data.delmattype_exp_visible;
                var budget = data.delmattype_budget_visible;
                var jump = data.delmattype_jump_visible;

                //delmat change
                var ecftype = data.delmattype_ecftype_visible;
                var parpr = data.delmattype_parpr_visible;
                var wwoparpr = data.delmattype_withwithoutparpr_visible;


                if (branch == 'Y') {

                    $('#trBranch').show();
                    $('#B1').attr('disabled', false);
                    $('#B2').attr('disabled', false);
                }
                else {
                    $('#trBranch').hide();
                    $('#B1').attr('disabled', true);
                    $('#B2').attr('disabled', true);
                }
                if (branchtype == 'Y') {
                    $('#trbranchtype').show();
                    $('#Bt1').attr('disabled', false);
                    $('#Bt2').attr('disabled', false);
                    $('#Bt3').attr('disabled', false);
                }
                else {
                    $('#trbranchtype').hide();
                    $('#Bt1').attr('disabled', true);
                    $('#Bt2').attr('disabled', true);
                    $('#Bt3').attr('disabled', true);
                }
                if (claim == 'Y') {
                    $('C1').attr('disabled', false);
                    $('C2').attr('disabled', false);
                    $('#trclaim').show();
                }
                else {
                    $('C1').attr('disabled', true);
                    $('C2').attr('disabled', true);
                    $('#trclaim').hide();
                }
                if (dsa == 'Y') {
                    $('D1').attr('disabled', false);
                    $('D2').attr('disabled', false);
                    $('#trdsa').show();
                }
                else {
                    $('D1').attr('disabled', true);
                    $('D2').attr('disabled', true);
                    $('#trdsa').hide();
                }
                if (reg == 'Y') {
                    $('#P1').attr('disabled', false);
                    $('#P2').attr('disabled', false);
                    $('#trreg').show();
                }
                else {
                    $('#P1').attr('disabled', true);
                    $('#P2').attr('disabled', true);
                    $('#trreg').hide();
                }
                if (it == 'Y') {
                    $('#it1').attr('disabled', false);
                    $('#it2').attr('disabled', false);
                    $('#it').show();
                }
                else {
                    $('#it1').attr('disabled', true);
                    $('#it2').attr('disabled', true);
                    $('#it').hide();
                }
                if (exp == 'Y') {
                    $('#exp1').attr('disabled', false);
                    $('#exp2').attr('disabled', false);
                    $('#trexp').show();
                }
                else {
                    $('#exp1').attr('disabled', true);
                    $('#exp2').attr('disabled', true);
                    $('#trexp').hide();
                }
                if (budget == 'Y') {
                    $('#bud1').attr('disabled', false);
                    $('#bud2').attr('disabled', false);
                    $('#trbud').show();
                }
                else {
                    $('#bud1').attr('disabled', true);
                    $('#bud2').attr('disabled', true);
                    $('#trbud').hide();
                }
                if (jump == 'Y') {
                    $('#trjump').show();
                    $('#jump1').attr('disabled', false);
                    $('#jump2').attr('disabled', false);
                }
                else {
                    $('#trjump').hide();
                    $('#jump1').attr('disabled', true);
                    $('#jump2').attr('disabled', true);
                }


                //add delmat change
                //PAR PR
                if (parpr == 'Y') {
                    debugger;
                    $('#Bud1').attr('disabled', false);
                    $('#Bud2').attr('disabled', false);
                    $('#trbud1').show();
                }
                else {
                    debugger;
                    $('#Bud1').attr('disabled', true);
                    $('#Bud2').attr('disabled', true);
                    $('#trbud1').hide();
                }

                //Withwithout  parpr
                if (wwoparpr == 'Y') {
                    debugger;
                    $('#R1').attr('disabled', false);
                    $('#R2').attr('disabled', false);
                    $('#trreg1').show();
                }
                else {
                    debugger;
                    $('#R1').attr('disabled', true);
                    $('#R2').attr('disabled', true);
                    $('#trreg1').hide();
                }

                //Ecf type
                var subparpr = $('input[name=rbpar]:checked').val();
                var subwwopwrpr = $('input[name=rbreq1]:checked').val();
                var subecftype = $('input[name=rbE]:checked').val();
                var subdsa = $('input[name=rbdsa]:checked').val();
                //console.log(subecftype);
                //console.log(dsa);
                if ((subecftype == 'P' || subecftype == 'W' || subecftype == 'N' || subecftype == 'O') && subdsa == 'O') { // ramya modified on 18 May 22
                    debugger;
                    $('#trdsa1').show();
                    $('#E1').attr('disabled', false);
                    $('#E2').attr('disabled', false);
                    $('#E3').attr('disabled', false);
                }
                else {
                    debugger;
                    //add for delmat change

                    $('#trdsa1').hide();
                    $('#E1').attr('disabled', true);
                    $('#E2').attr('disabled', true);
                    $('#E3').attr('disabled', true);

                }


            }
        });
    });
</script>
<script type="text/javascript">
    function SaveDelmat() {
        debugger;
        var delmatname = $("#_Delmatname").val();

        var docgid = $("#docutype_gid").val();
        var slabgid = $("#depat_gid").val();
        var branchvalue = $('input[name=rbbranch]:checked').val();
        var branchtypevalue = $('input[name=rbbranchtype]:checked').val();
        var claim = $('input[name=rbclaim]:checked').val();
        var dsa = $('input[name=rbdsa]:checked').val();
        var ppit = $('input[name=rbreq]:checked').val();
        var it = $('input[name=rbit]:checked').val();
        var exp = $('input[name=rbexp]:checked').val();
        var bud = $('input[name=rbbud]:checked').val();
        var jump = $('input[name=rbjump]:checked').val();
        var active = $('input[name=rbactive]:checked').val();

        //add delmat change
        var parpr = $('input[name=rbpar]:checked').val();
        var wwopwrpr = $('input[name=rbreq1]:checked').val();

        var ecftype = $('input[name=rbE]:checked').val();


        if (active == null) {

            active = "N";

        }

        if (branchvalue == null) {

            branchvalue = "N";

        }
        else if (branchvalue == "O") {
            branchvalue = "N";
        }
        if (branchtypevalue == null) {
            branchtypevalue = "N";
        }
        if (claim == null) {
            claim = "N";
        }
        if (dsa == null) {
            dsa = "N";
        }
        if (ppit == null) {
            ppit = "N";
        }
        if (it == null) {
            it = "N";
        }
        if (exp == null) {
            exp = "N";
        }
        if (bud == null) {
            bud = "N";
        }
        if (jump == null) {
            jump = "N";
        }
        //add delmat change
        if (parpr == null) {
            parpr = "N"
        }
        if (wwopwrpr == null) {
            wwopwrpr = "N"
        }

        if (ecftype == null) {
            ecftype = "N"
        }
        if (docgid != 1) {
            ecftype = "N"
        }
        if (docgid != 2) {
            parpr = "N"
        }
        if (docgid != 7) {
            wwopwrpr = "N"
        }
        if (docgid == 1 && dsa != "O") { // ramya modified on 20 jul 22
            ecftype = "N"
        }
        //end
        var departListVal = null;
        departListVal = [];
        $('input:checkbox:checked').each(function () {
            if ($(this).attr('value') != 'on')
            {
                departListVal.push($(this).attr('value'));
            }
        });


        if (delmatname == "") {
            alert("Please Enter Delmat Name.");
            return false;
        }
        if (docgid == 0) {
            alert("Please select Delmat Type.");
            return false;
        }
        if (slabgid == 0) {
            alert("Please select Slab Name.");
            return false;
        }



        var DelmatModel = {
            "delmat_name": delmatname, "delmat_slab_gid": slabgid, "delmat_type_ID": docgid, "delmat_branch_flag": branchvalue,

            "delmat_branchtype_flag": branchtypevalue, "delmat_claim_flag": claim, "delmat_dsa_flag": dsa, "delmat_pipit_flag": ppit,

            "delmat_it_flag": it, "delmat_exp_flag": exp, "delmat_budget_flag": bud, "delmat_jump_flag": jump,

            "delmat_active": active, "lstSelecteddepartmentGid": departListVal,

            "delmat_ecftype": ecftype, "delmat_parpr_flag": parpr, "delmat_wwoparpr": wwopwrpr //add delmat change
        };


        $.ajax({
            //url: '../IEM_DELMAT/Updatedelmat/',
            url:'@Url.Action("Updatedelmat", "IEM_DELMAT")',
            data: JSON.stringify(DelmatModel),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                isSuccess = result;
                if (result == "success") {
                    jAlert("Record Updated Successfully !", "Message");
                }
                else {

                    jAlert("Found  Duplicate Delmat !", "Message");
                    return false;
                }

            },
            error: function (result) {
                isSuccess = result;
            }

        });
    }
    function GotoIndex() {

        window.parent.jQuery('#ForPartialView').dialog('close');
    }
    function deleteval() {

        var id = $("#_Delgid").val();
        jConfirm("Do you want to delete this Delmat?", "Message", function (callback) {
            if (callback == true) {
                var DelmatModel = { "delmat_gid": id, "delmatsetflowgid": id, "delmatmatrixgid": id }
                $.ajax({
                    //url: '../DeleteDelmat/',
                    url: '@Url.Action("DeleteDelmat", "IEM_DELMAT")',
                    data: JSON.stringify(DelmatModel),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',

                    success: function (result) {
                        isSuccess = result;
                        if (result == "Record deleted successfully !") {
                            jConfirm(result, "Message", function (callback) {
                                if (callback == true) {
                                    location = '../Main';
                                }
                            });

                            //remove the cancel button from dialog box
                            $("#popup_ok").attr("style", "margin-left: 50px;");
                            $("#popup_cancel").attr("style", "visibility: hidden");
                        } else {
                            jAlert(result, "Message");
                        }

                    },
                    error: function (result) {
                        isSuccess = result;
                    }

                })
            } else {
                return false;
            }
        });
    }
</script>






