


<table>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;">@ViewBag.vbtotalrecord</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;">@ViewBag.vbvalid</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;">@ViewBag.vbinvalid</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <br /><br />
            <table>
                <tr>
                    <td style="padding-left: 140px;">
                        @if (@ViewBag.visble == "Yes")
                        {
                            <div style="font-weight:bold">
                                <input type="button" id="btnoksupplierdex" class="btn btn-primary" value="Ok"  />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" id="btncancelexcel" class="btn btn-warning" value="Cancel" onclick="GotoIndexclose()" />
                            </div>
                            @*<div style="font-weight:bold">
                                    <a class="btn btn-primary" data-modal="" href="/LocalConveyanceNew/Index" id="TemplateClose" onclick="GotoIndexcloseb()">
                                        Close
                                    </a>
                                </div>*@
                        }
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        @if (@ViewBag.visble != "Yes")
                        {
                            <div style="font-weight:bold">
                                <a class="btn btn-warning" data-modal="" href="../SupplierInvoiceNewc/downloadsexcel" id="ViewErrorLog" onclick="GotoIndexclose()">
                                    View Error Log
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" id="btncancelexcel1" class="btn btn-primary" value="Cancel" onclick="GotoIndexclose()" />
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<script>
    $(document).ready(function () {
        $("#btnoksupplierdex").click(function () {
            var value = "fgdf";
            var objcbf =
        {
            "empid": value
        };

            $.post('../SupplierInvoiceNewc/localdetailssu', objcbf,
            function (data) {
                if (data == "Success") {
                    $("#exceluploadsupplier").slideToggle(500);
                    window.parent.jQuery('#ForPartialViewOtherTravelExpensenew').dialog('close');
                    var url = '@Url.Action("_TabdebitlineDetails", "SupplierInvoiceNewc")?' + new Date().getTime();
                    $("#wgTravelmodeotab2").load(url);                   
                } else {
                    jAlert("error.", "Message");
                    return false;
                }
            }, 'json');

        });
    });
    function GotoIndexclose() {
        objDialogOtherTravelmodenew.dialog("close");
        window.parent.jQuery('#ForPartialViewOtherTravelExpensenew').dialog('close');
    }
    function GotoIndexclose() {
        objDialogOtherTravelmodenew.dialog("close");
        window.parent.jQuery('#ForPartialViewOtherTravelExpensenew').dialog('close');
    }
</script>