@model IEM.Areas.ASMS.Models.SupplierActivation
@using IEM.Common
@{
    ViewBag.Title = "Activation Approval Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CmnFunctions comm = new CmnFunctions();
    string Aststus = Convert.ToString(Session["reqstatus"]);
}


<b>
    <span style="color: rgb(52, 108, 196);">Activation Approval Queue</span>
</b>
<br />
@using (Html.BeginForm())
{


    <div class="well">
        <div class="">

            <table align="center" style="width: 100%;">
                <tr>
                    <td>
                        <div>
                            <div>
                                <div>
                                    <div>

                                        <table align="center" class="myTableStyleTabNew">
                                            <tr>
                                                <td>
                                                    <span>Supplier Code </span><br />
                                                    @*@Html.TextBoxFor(model => model.SupplierCode, new { @class = "form-control" ,@id="txtSupplierCode"})*@
                                                    <input type="text" id="txtSuppliercode" placeholder="Suppliercode" class="textboxStyle" maxlength="20" name="txtSuppliercode" value="@ViewBag.txtSuppliercode" />
                                                </td>

                                                <td>
                                                    <span>Supplier Name </span><br />
                                                    @*@Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control",@id="txtSupplierName" })*@
                                                    <input type="text" id="txtSupplierName" placeholder="SupplierName" class="textboxStyle" style="display: block;" maxlength="150" name="txtSupplierName" value="@ViewBag.txtSupplierName" />
                                                </td>

                                                <td style="padding-top:20px;" align="right">

                                                    <button type="submit" name="Common" title="Search" id="btnSearch" value="Search" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-search "></span>Search</button>
                                                    @*<button class="btn btn-primary" id="btnsearch" value="Search" name="command" type="submit"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>*@
                                                    <button type="submit" name="Clear" id="btnClear" title="Refresh" value="Clear" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-refresh "></span>Clear</button>
                                                </td>
                                            </tr>
                                            <tr style="display:none;">
                                                <td style="display:none">
                                                    <span>Supplier Status </span>
                                                    @*@Html.DropDownList("ddlSupplierStatus", Model.SupplierStatus, new { @class = "form-control",@id="ddlSupplierStatus" })*@
                                                    @*@Html.DropDownListFor(model => model.SupplierStatus, new SelectList(
                                                                          new List<Object>{
                                                                               new { value = 0 , text = "--Select--"  },
                                                                               new { value = 1 , text = "Active" },
                                                                               new { value = 2 , text = "In Active" },
                                                                               },
                                                                          "value",
                                                                          "text",
                                                                0),
                                                        new { @class = "form-control" }
                                                                           )*@
                                                    <select class="textboxStyle" name="ddlSupplierStatus" id="ddlSupplierStatus" disabled="disabled">
                                                        <option value="0">--Select--</option>
                                                        <option value="Active">Active</option>
                                                        <option value="InActive">In Active</option>

                                                    </select>
                                                </td>
                                                <td style="padding:10px;">
                                                    <span>Request status </span>
                                                    @*@Html.DropDownList("ddlRequestStatus", Model.RequestStatus, new { @class = "form-control", @id = "ddlRequestStatus" })*@
                                                    @*@Html.DropDownListFor(model => model.RequestStatus, new SelectList(
                                                                          new List<Object>{
                                                                               new { value = 0 , text = "--Select--"  },
                                                                               new { value = 1 , text = "Approved" },
                                                                               new { value = 2 , text = "Pending Approved" },
                                                                               new { value = 3 , text = "Draft" },
                                                                               },
                                                                          "value",
                                                                          "text",
                                                                0),
                                                        new { @class = "form-control" }
                                                                           )*@
                                                    <select class="textboxStyle" name="ddlRequestStatus" id="ddlRequestStatus">
                                                        <option value="0">--Select--</option>
                                                        <option value="Draft">Draft</option>
                                                        <option value="In-process">In-process</option>
                                                        <option value="Reviewed">Reviewed</option>
                                                        <option value="Approved">Approved</option>
                                                        <option value="Rejected">Rejected</option>

                                                    </select>
                                                </td>
                                                <td style="padding:10px;">
                                                    <span>Supplier Classfication </span>
                                                    @Html.DropDownList("ddlSup_Clasification", Model.SupplierClassification, new { @class = "textboxStyle", @id = "ddlSup_Clasification" })
                                                    @*@Html.DropDownListFor(model => model.SupplierClassification, new SelectList(
                                                                          new List<Object>{
                                                                               new { value = 0 , text = "--Select--"  },
                                                                               new { value = 1 , text = "Major" },
                                                                               new { value = 2 , text = "Critical" },
                                                                                 new { value = 3 , text = "Ordinary" },
                                                                               },
                                                                          "value",
                                                                          "text",
                                                                           0),
                                                        new { @class = "form-control" }
                                                                           )*@
                                                    @*<select class="form-control" name="ddlSup_Clasification" id="ddlSup_Clasification">
                                                            <option value="0">--Select--</option>
                                                            <option value="Major">Major</option>
                                                            <option value="Critical">Critical</option>
                                                            <option value="Ordinary">Ordinary</option>

                                                        </select>*@
                                                </td>
                                                <td style="width:30px;"></td>
                                                <td style="padding:10px;">
                                                    <span>Request Type </span>
                                                    @*@Html.DropDownList("ddlRequestType",Model.RequestType, new { @class = "form-control",@id="ddlRequestType" })*@
                                                    @*@Html.DropDownListFor(model => model.RequestType, new SelectList(
                                                                          new List<Object>{
                                                                               new { value = 0 , text = "--Select--"  },
                                                                               new { value = 1 , text = "Activated" },
                                                                               new { value = 2 , text = "DeActivated" },
                                                                               },
                                                                          "value",
                                                                          "text",
                                                                           0)
                                                                ,
                                                        new { @class = "form-control" })*@
                                                    <select class="textboxStyle" name="ddlRequestType" id="ddlRequestType">
                                                        <option value="0">--Select--</option>
                                                        <option value="Onboarding">Onboarding</option>
                                                        <option value="Renewal">Renewal</option>
                                                        <option value="Modification">Modification</option>
                                                        <option value="Activation">Activation</option>
                                                        <option value="Deactivation">Deactivation</option>


                                                    </select>
                                                </td>
                                                <td style="width:30px; "></td>
                                                <td style="padding-top:20px;" >

                                                    @*<button type="submit" name="Common" title="Search" id="btnSearch" value="Search" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-search "></span>Search</button>*@
                                                    @*<button class="btn btn-primary" id="btnsearch" value="Search" name="command" type="submit"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>*@
                                                    @*<button type="submit" name="Clear" id="btnClear" title="Refresh" value="Clear" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-refresh "></span>Clear</button>*@
                                                </td>

                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                </tr>


            </table>


            @if (@ViewBag.status == "yes")
            {

                var grid = new WebGrid(canPage: true, canSort: true, rowsPerPage: 10);
                grid.Bind(Model.SupplierActiveList, autoSortAndPage: true);
                grid.Pager(WebGridPagerModes.All);

                @grid.GetHtml(
    tableStyle: "tableSmall table-bordered ",
    htmlAttributes: new { id = "AppActivequeue" },
    columns: grid.Columns(
                    //grid.Column("ActiheaderGid", comm.Sorter("ActiheaderGid", "Supp HeaderGid", grid)),
         grid.Column(format: @<input type="hidden" name="Supplierheadergid" value="@item.Supplierheadergid" /> ),
                   grid.Column("SlNo", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
                       grid.Column("SupplierCode", comm.Sorter("SupplierCode", "Supplier Code", grid)),
                           grid.Column("SupplierName", comm.Sorter("SupplierName", "Supplier Name", grid)),
                           grid.Column("SupplierClassificationName", comm.Sorter("SupplierClassificationName", "Supplier Classfication", grid)),
                         //  grid.Column("RequestTypeName", comm.Sorter("RequestTypeName", "RequestType Name", grid)),
                         //  grid.Column("RequestStatusName", comm.Sorter("RequestStatusName", "RequestStatus Name", grid)),
                           grid.Column("SupplierStatusName", comm.Sorter("SupplierStatusName", "Status", grid)),
                      //grid.Column("ActivityCount", comm.Sorter("ActivityCount", "Activity Count", grid)),
                   grid.Column(header: "Action", canSort: false, style: "MidColumn50 action",
                format: @<text>
                    @*@Html.Raw("<input type='button'  title='Edit' onclick='Renewal(" + item.SupplierCode + ")' class='btn btn-primary' value='Renewal' />"*@
                    @*@Html.Raw("<a data-model='' href='../SpplierActivation/SupplierActivation/" + item.SupplierCode + "' id='" + item.SupplierCode + "' title='Search'><span>Activate</span></a>"*@
                    <a style="display:none"><span onclick="EditProduct(@item.Supplierheadergid)">Activate</span></a>
                    @if (Aststus.ToUpper().ToString() == "REJECTED")
                    {
                        <a id="RSubmit"><span onclick="ReProduct(@item.Supplierheadergid)">Resubmit</span></a>
                        @*<a id="Edit"><span onclick="EditSupplierHeader1(this)">Edit</span></a>*@
                    }
                    else if (Aststus.ToUpper().ToString() == "INPROCESS" || Aststus.ToUpper().ToString() == "APPROVED")
                    {
                        <a id="AViewSub"><span onclick="AViewSub(@item.Supplierheadergid)">View</span></a>
                        <a id="AApp_his"><span onclick="AApp_his(@item.Supplierheadergid)">Approval History</span></a>
                    }
                    else
                    {
                        <a id="SActivation"><span onclick="EditProduct('@item.Supplierheadergid' , '@item.SupplierCode')">Proceed</span></a>
                    }

                    @*)*@
                </text>)
)
)
                @*<label style="padding:10px;">Page @(grid.PageIndex + 1) of @grid.PageCount - Total No of Records: @grid.TotalRowCount</label>*@
            }
            @if (@ViewBag.value == "RecordNtFound")
            {
                <div><h4>No Record Found</h4></div>
            }



        </div>
    </div>


}
<div id="ForPartialView"></div>

<script>
    $("#AppActivequeue td:nth-child(1),#AppActivequeue th:nth-child(1)").hide();
    var objDialog;
    $(document).ready(function () {

        @*var value = '@Request.RequestContext.HttpContext.Session["reqstatus"]';
       // alert(value);
        if (value == "rejected")
        {
            $("#SActivation").css("display", "none");
            $("#RSubmit").css("display", "block");
            $("#AViewSub").css("display", "none");
            $("#AApp_his").css("display", "none");
        }
        else if(value == "inprocess")
        {
            $("#SActivation").css("display", "none");
            $("#RSubmit").css("display", "none");
            $("#AViewSub").css("display", "block");
            $("#AApp_his").css("display", "block");
        }
        else if (value == "approved") {
            $("#SActivation").css("display", "none");
            $("#RSubmit").css("display", "none");
            $("#AViewSub").css("display", "block");
            $("#AApp_his").css("display", "none");
        }
        else
        {
            $("#RSubmit").css("display", "none");
            $("#SActivation").css("display", "block");
            $("#AViewSub").css("display", "none");
            $("#AApp_his").css("display", "none");
        }*@
        objDialog = $("[id$='ForPartialView']");
        objDialog.dialog({
            autoOpen: false,
            modal: true,
            cache: false,
            show: 'fade-in',
            close: 'fade-out',
            width: 967,
            height: 750
        });

    });
    function NewActivation() {
        objDialog.load('../SupplierActivationQueue/SupplierActivation?' + new Date().getTime());
        objDialog.dialog({ title: 'Supplier Activation' });
        objDialog.dialog("open");
    }
    var ids;
    function EditProduct(id, code) {
        //var row = $(element).closest('tr');
        //var tds = row.find('td');
        //ids = row.find('[name=DSupplierheadergid]').val();

        //var supcode = tds.eq(2).text();
        ids= id;
        var supcode=code;
        
        var objSupHeaderDetails = {
            "_SupplierCode": supcode
        };
       
        $.ajax({
            url: '@Url.Action("CheckSupplierIsLocked", "Onboarding")',
            data: JSON.stringify(objSupHeaderDetails),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.length > 0) {
                    var lockedbycode = data[0]._LockedByCode;
                    var lockedbyname = data[0]._LockedByName;
                    var lockeddate = data[0]._LockedDate;
                    var LockedBy = lockedbycode.fontcolor("Navy") + " - " + lockedbyname.fontcolor("Navy");
                    jConfirm("This Supplier Already Locked By " + LockedBy.bold() + " from " + lockeddate.bold().fontcolor("Navy") + ". Are you Interested to view this supplier?", Title_3, function (e) {
                        if (e == true) {
                           
                            location = '../Onboarding/Index?pagefor=5&supid=' + ids + '&' + new Date().getTime();
                            
                        }
                        else {
                            return false;
                        }
                    });
                }
                if (data.length == 0) {
                    $.ajax({
                        url: '@Url.Action("LockMySupplier", "Onboarding")',
                        data: JSON.stringify(objSupHeaderDetails),
                        type: 'POST',
                        async: false,
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {                          
                           
                            objDialog.load('../SupplierActivationApprovalQueue/SupplierApproveActivation?id=' + ids + '&' + new Date().getTime());
                            objDialog.dialog({ title: 'Supplier Approval Activation' });
                            objDialog.dialog("open");
                        },
                        error: function (result) {
                            jAlert("Something went wrong", "Error");
                        }
                    });

                }
            },
            error: function (result) {
                jAlert("Something went wrong", "Error");
            }
        });

    }
    function EditSupplierHeader1(element) {
        var row = $(element).closest('tr');
        var tds = row.find('td');
        var ids = row.find('[name=Supplierheadergid]').val();
        location = '../Onboarding/Index?pagefor=2&supid=' + ids + '&' + new Date().getTime();
    }
    function ReProduct(id) {
        // alert(id);
        //  id.preventDefault();
        objDialog.load('../SupplierActivationQueue/SupplierActivation?id=' + id + '&' + new Date().getTime());
        objDialog.dialog({ title: 'Supplier Approval Activation' });
        objDialog.dialog("open");
    }

    function AViewSub(id) {
        // alert(id);
        // id.preventDefault();
        objDialog.load('../SupplierActivationQueue/SupplierActivation?id=' + id + '&' + new Date().getTime());
        objDialog.dialog({ title: 'Supplier Approval Activation' });
        objDialog.dialog("open");
    }

    function AApp_his(id) {
        // alert(id);
        // id.preventDefault();
        objDialog.load('../SupplierActivationApprovalQueue/SupplierActivationHistory?id=' + id + '&' + new Date().getTime());
        objDialog.dialog({ title: 'Supplier Approval Activation' });
        objDialog.dialog("open");
    }
    $(document).ready(function () {

        //$('#btnSearch').click(function () {
        //    var supp_code = $('#txtSuppliercode').val();
        //  var supp_name = $('#txtSupplierName').val();
        //  var supp_status = $("#ddlSupplierStatus option:selected").text();
        //  var supp_class = $("#ddlSup_Clasification option:selected").text();
        //  var Reqstype = $("#ddlRequestType option:selected").text();
        //  var ReqsStatus = $("#ddlRequestStatus option:selected").text();

        //  if (supp_code == '' && supp_name == '' && supp_status == '--Select--' && supp_class == '--Select--' && Reqstype == '--Select--' && ReqsStatus == '--Select--')
        // {
        //     alert('Should be fill anyone filter');
        //     return false;
        // }

        //});
        //var ff = ViewBag.Result;
        //alert(ff);
        //if( ff= "success")
        //{
        //    jAlert('Successfully Activated',"Message");
        //}


        $('#btnClear').click(function () {
            // alert('hh');
            //$('#txtSupplierCode').val('');
            $('#txtSupplierName').val('');
            $("#ddlSupplierStatus").val('0');
            // $("#ddlSup_Clasification").attr('selectedIndex', 0);
            $("#ddlSup_Clasification").val('0');
            $("#ddlRequestType").val('0');
            $("#ddlRequestStatus").val('0');
            $('#txtSuppliercode').val('');
            // alert( $('#txtSuppliercode').val())

        });

    });
</script>