@model IEM.Areas.ASMS.Models.SupplierActivation
@using IEM.Common
          @{
              CmnFunctions comm = new CmnFunctions();
              }
<b>
    <span style="color: rgb(52, 108, 196);">Approval History</span>
</b>
<br />
@using (Html.BeginForm())
{
    <div>
        <div>
            <table class="myTableStyleTab" align="center">
                <tr>
                    <td style="vertical-align:top;">
                        <span>Supplier Code</span><br />
                        <input type="text" id="txtSupCodeActivation" class="textboxStyle" name="txtSupCodeRequestType" disabled value="@ViewBag.SupCode">
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;
                    </td>
                    <td style="vertical-align:top;">
                        <span>Supplier Name</span><br />
                        <input type="text" id="txtSupNameActivation" class="textboxStyle200" name="txtSupNameRequestType" disabled value="@ViewBag.SupName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @*selva 12-02-2021 Command*@

                        @*<span style="color:red;">@ViewBag.Supnextapprover</span>*@  
                    </td>
                </tr>
            </table>
        </div>
        <table align="center" class="myTableStyleTabNew">
            <tr>
                <td>


                    @{
    var grid = new WebGrid(canPage: true, canSort: true, rowsPerPage: 10);
    grid.Bind(Model.SupplierHeaderList, autoSortAndPage: true);
    grid.Pager(WebGridPagerModes.All);

    @grid.GetHtml(
    tableStyle: "tableSmall table-bordered ", columns: grid.Columns(
        //grid.Column("ActiheaderGid", comm.Sorter("ActiheaderGid", "Supp HeaderGid", grid)),
        // grid.Column(format: @<input type="hidden" name="Supplierheadergid" value="@item.Supplierheadergid" /> ),
                                                 grid.Column("SupplierCode", comm.Sorter("SupplierCode", "Supplier Code", grid)),
                                                     grid.Column("SupplierName", comm.Sorter("SupplierName", "Supplier Name", grid)),
                                                     grid.Column("ApproverName", comm.Sorter("ApproverName", "Approver StageName", grid)),
                                                     grid.Column("reg_date", comm.Sorter("reg_date", "Request Date", grid)),
                                                     grid.Column("RequestTypeName", comm.Sorter("RequestTypeName", "Request Type", grid)),
                                  grid.Column("RequestStatusName", comm.Sorter("RequestStatusName", "Request Status", grid)),
                     grid.Column("employee", comm.Sorter("Demployee", "Employee Name", grid))
                    @*grid.Column(header: "Action", canSort: false, style: "action",
                        format: @<text>
                            @Html.Raw("<input type='button'  title='Edit' onclick='Renewal(" + item.SupplierCode + ")' class='btn btn-primary' value='Renewal' />"
                            @Html.Raw("<a data-model='' href='../SpplierActivation/SupplierActivation/" + item.SupplierCode + "' id='" + item.SupplierCode + "' title='Search'><span>Activate</span></a>"
                            <a style="display:none"><span onclick="EditProduct(@item.Supplierheadergid)">Activate</span></a>
                            <a id="SActivation"><span onclick="EditProduct(@item.Supplierheadergid)">Proceed to Activate</span></a>
                            <a id="RSubmit"><span onclick="ReProduct(@item.Supplierheadergid)">Resubmit</span></a>
                            )
                        </text>)*@
)
         )

                    }
                    @*@if (@ViewBag.value == "RecordNtFound")
                        {
                            <div><h4>No Record Found</h4></div>
                        }
                          }*@
                </td>
            </tr>
        </table>
    </div>
}