@model IEM.Areas.IFAMS.Models.capitalizationMaker

@{
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
    }
    else if (viewfor == "delete")
    {
        ViewBag.viewmode = "disabled";
        ViewBag.deletemode = "disabled";
    }
    
}
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table class="myTableStyleTabNew" width="100%">
        <tr>
            <td colspan="2" style="display:none;">
                <input name="DocNameID" id="DocNameIDn" type="text" data-val="true" value="@Model.Grn_gid" />
            </td>

            <td style="display:none;">
                <span>   Asset ID </span>
                <br />
                <input name="DocNameeName" id="txtindex" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.index" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
        </tr>
        @*<tr>


                <td style="width:50%;">
                    <span>  Location </span>
                    <br />
                    <input name="DocNameeName" id="DocNameNamen" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.locationName" class="textboxStyle valid " style="display: block;width:250px;" />
                </td>
            </tr>*@
        <tr>
            <td style="width:50%;">
                <span>   PO Number </span>
                <br />
                <input name="DocNameeName" id="DocNameNamen" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.ponumber" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>    GRN No </span>
                <br />
                <input name="DocNameeName" id="DocNameNamen" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.GRNNo" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>    Shipment Type </span>
                <br />
                <input name="DocNameeName" id="DocNameNamen" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.shipmentType" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>  InvoiceAmt </span>
                <br />
                <input name="DocNameeName" id="DocNameNamen" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.invoiceamount" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
        </tr>
        <tr>
            <td style="width:50%;">
                <span> Category</span>
                <br />
                @Html.DropDownList("assetCategoryId", Model.ddlCategory, new { @disabled="disabled", @class = "textboxStyle", @id = "ddlnewAssetCategory", @onchange = "onchangeofcat(assetCategoryId)" })
            </td>

            <td style="width:50%;">
                <span>Subcategory</span>
                <br />
                @Html.DropDownList("Assetsubcategoryid", Model.ddlSubcategory, new { @class = "textboxStyle", @id = "ddlnewAssetsubCategory", @onchange = "changee(Assetsubcategoryid)" })

            </td>
            <td style="width:50%;">
                <span>   Depreciation Rate </span>
                <br />
                <input name="DocNameeName" id="txtDEPRATE" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.DEPRATE" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>   Asset GLCode </span>
                <br />
                <input name="DocNameeName" id="txtglcode" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.glcode" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
        </tr>
        <tr>
            <td style="width:50%;">
                <span>  Asset Location </span>
                <br />
                <input name="DocNameeName" id="txtLocationCode" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.LocationCode" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>  UOM </span>
                <br />
                <input name="DocNameeName" id="txtUOM" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.UOM" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>

            <td style="width:50%;">
                <span>   Received Quantity </span>
                <br />
                <input name="DocNameeName" id="txtReceivedqty" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.Receivedqty" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="display:none;">
                <span>  Price </span>
                <br />
                <input name="DocNameeName" id="txtAmounttest" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.Amount" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>  Price </span>
                <br />
                <input name="DocNameeName" id="txtAmount" disabled="disabled"  maxlength="100" onkeyup="changee3()" @ViewBag.viewmode type="text" data-val="true" value="@Model.Amount" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
        </tr>
        <tr>
            <td style="width:50%;">
                <span>   Discount</span>
                <br />
                <input name="DocNameeName" id="txtDiscount" disabled="disabled" maxlength="100" onkeyup="changee2()" @ViewBag.viewmode type="text" data-val="true" value="@Model.Discount" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>   Tax </span>
                <br />
                <input name="DocNameeName" id="txtTax1" disabled="disabled" maxlength="100" onkeyup="changee2()" @ViewBag.viewmode type="text" data-val="true" value="@Model.Tax1" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>

            <td style="width:50%;">
                <span>  Others </span>
                <br />
                <input name="DocNameeName" id="txtothres" disabled="disabled" maxlength="100" onkeyup="changee1()" @ViewBag.viewmode type="text" data-val="true" value="@Model.othres" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>

            <td style="width:50%;">
                <span>    Total</span>
                <br />
                <input name="DocNameeName" id="txtTotalAmount" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.TotalAmount" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
        </tr>
        <tr>
            <td style="width:50%;">
                <span>  Capitalization date </span>
                <br />
                <input name="DocNameeName" id="txtGRNDate" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.GRNDate" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>

            <td style="width:50%;">
                <span>   Asset SrlNo </span>
                <br />
                <input name="DocNameeName" id="txtAssetSrlno" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.AssetSrlno" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>

            <td style="width:50%;">
                <span>   Mnf Name</span>
                <br />
                <input name="DocNameeName" id="txtAssetmfn" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.Assetmfn" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
            <td style="width:50%;">
                <span>   DC No </span>
                <br />
                <input name="DocNameeName" id="txtDCNo" disabled="disabled" maxlength="100" @ViewBag.viewmode type="text" data-val="true" value="@Model.DCNo" class="textboxStyle valid " style="display: block;width:250px;" />
            </td>
        </tr>
        <tr>
            
            <td colspan="4">
                <span>   Description </span>
                <br />
                <input name="txtDescription" id="txtDescription" maxlength="512" @ViewBag.viewmode type="text" data-val="true" value="@Model.Description" class="textboxStyle valid " style="display: block;" />
            </td>
        </tr>
    </table>
    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td >
                <button id="saveBtn" type="button" disabled="disabled" class="btn btn-primary" value="Save" style="margin-top:20px;"><span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save</button>
                <button type="button" class="btn btn-warning" value="Cancel" onclick="goToIndex()" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>

            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        var catid = '@ViewBag.CatId';
        var subcatid = '@ViewBag.subcatID';
       
      
        $("[id=ddlnewAssetCategory]").val(catid);
        $("[id=ddlnewAssetsubCategory]").val(subcatid);
        CheckFields();
    });

    function changee1() {
        if ($("#txtothres").val() == "" || $("#txtothres").val() == null) {
            CheckFields();
            $("#txtothres").removeClass('valid');
            $("#txtothres").addClass('required');
            CheckFields();
        }
        else {
            CheckFields();
            $("#txtothres").removeClass('required');
            $("#txtothres").addClass('valid');

            CheckFields();
        }
    }
    function changee3() {
        if ($("#txtAmount").val() == '' || $("#txtAmount").val() == null) {
            CheckFields();
            $("#txtAmount").removeClass('valid');
            $("#txtAmount").addClass('required');
            CheckFields();
        }
        else {
            CheckFields();
            $("#txtAmount").removeClass('required');
            $("#txtAmount").addClass('valid');

            CheckFields();
        }
    }

    function changee2() {
        if ($("#txtDiscount").val() == "" || $("#txtDiscount").val() == null) {
            CheckFields();
            $("#txtDiscount").removeClass('valid');
            $("#txtDiscount").addClass('required');
            CheckFields();
        }
        else {
            CheckFields();
            $("#txtDiscount").removeClass('required');
            $("#txtDiscount").addClass('valid');

            CheckFields();
        }
    }



    function changee(Assetsubcategoryid) {
        if ($("#ddlnewAssetsubCategory").val() == 0) {
            CheckFields();
            $("#ddlnewAssetsubCategory").removeClass('valid');
            $("#ddlnewAssetsubCategory").addClass('required');
            CheckFields();
        }
        else {
            CheckFields();
            $("#ddlnewAssetsubCategory").removeClass('required');
            $("#ddlnewAssetsubCategory").addClass('valid');

            CheckFields();
            var value = $("#ddlnewAssetsubCategory").val();
            $.ajax({
                url: "@Url.Action("GetDepNGLcode", "AssetCapitalizationMakerDetails")?" + new Date().getTime(),
                type: 'POST',
                data: { values: value },
                success: function (data) {

                    var str = data;
                    var txtDEPRATE = str[0];
                    var txtglcode = str[1];

                    $("#txtDEPRATE").val(txtDEPRATE);
                    $("#txtglcode").val(txtglcode);
                },
                error: function (data) {
                    jAlert("Error. Please, check the data", "Message");
                }

            });

        }


    }

    function onchangeofcat(Assetcategoryid) {

        if ($("#ddlnewAssetCategory").val() == 0) {
            CheckFields();
            $("#ddlnewAssetCategory").removeClass('valid');
            $("#ddlnewAssetCategory").addClass('required');
            CheckFields();
        }
        else {
            CheckFields();
            $("#ddlnewAssetCategory").removeClass('required');
            $("#ddlnewAssetCategory").addClass('valid');
            CheckFields();
            var value = $("#ddlnewAssetCategory").val();

            $.ajax({
                url: "@Url.Action("Posubcategory", "AssetCapitalizationMakerDetails")?" + new Date().getTime(),
                type: 'POST',
                data: { values: value },
                success: function (data) {

                    $("#ddlnewAssetsubCategory").empty()
                    var optionhtml1 = '<option value="' +
                     0 + '">' + "--Select Sub-Category--" + '</option>';
                    $("#ddlnewAssetsubCategory").append(optionhtml1);

                    $.each(data, function (i) {
                        var optionhtml = '<option value="' +
                    data[i].Value + '">' + data[i].Text + '</option>';
                        $("#ddlnewAssetsubCategory").append(optionhtml);
                    });
                    CheckFields();
                },
                error: function (data) {
                    jAlert("Error. Please, check the data", "Message");
                    return false;
                }

            });
        }
    }

    $('#saveBtn').on("click", function () {

        var id = $("#txtindex").val();
        var AMOUNT = $("#txtAmounttest").val();
        var Discount = $("#txtDiscount").val();
        var Tax1 = $("#txtTax1").val();
        var othres = $("#txtothres").val();
        var Samt = $("#txtAmount").val();
        var assetsubcat = $("#ddlnewAssetsubCategory").val();
        var Assetcategory = $("#ddlnewAssetCategory").val();
        var totalamt = $("#txtTotalAmount").val();
        var Description = $("#txtDescription").val();
        var rcvqty = $("#txtReceivedqty").val();
        var isSuccess = -1;
        if (parseInt(Discount) > parseInt(AMOUNT)) {
            jAlert('Discount Amount exceeds Price', "Information");
            return false;
        }
        // if (parseInt(Tax1) > parseInt(AMOUNT) ) {
        if (parseInt(Tax1) > (parseInt(AMOUNT) * parseFloat(rcvqty)) ) {
            jAlert('Tax Amount exceeds Price', "Information");
            return false;
        }
        if (parseInt(othres) > parseInt(AMOUNT)) {
            jAlert('Others exceeds Price', "Information");
            return false;
        }
        if (parseInt(Samt) > parseInt(AMOUNT)) {
            jAlert('Amount exceeds origianl Price', "Information");
            return false;
        }

        // var sum =( ((Samt) + (Tax1) + (othres)) - (Discount));
        // alert(sum);


        var moedl =
        {
            "index": id,
            "Amount": Samt,
            "Discount": Discount,
            "Tax1": Tax1,
            "othres": othres,
            "TotalAmount": totalamt,
            "AssetSubcategpry": assetsubcat,
            "Assetcategpry": Assetcategory,
            "Description": Description,

        };
        showProgress();
        $.ajax({
            url: "@Url.Action("SaveData", "AssetCapitalizationMakerDetails")?" + new Date().getTime(),
            type: 'POST',
            data: moedl,
            success: function (data) {
                hideProgress();
                goToIndex();
                jAlert("Successfully Saved", "Message");

                $('#pofdetails').empty().append(data);
            },
            error: function (data) {
                hideProgress();
                jAlert("Error. Please, check the data", "Message");
            }
        })


    });





    function goToIndex() {
        objEditLineItems.dialog('close');
    }

    function CheckFields() {
        var ErrCount = 0;
        if ($("#txtDiscount").val() == "" || $("#txtDiscount").val() == null) {
            ErrCount = 1;
        }
        if ($("#txtTax1").val() == "" || $("#txtothres").val() == null) {
            ErrCount = 1;
        }
        if ($("#txtothres").val() == "" || $("#txtothres").val() == null) {
            ErrCount = 1;
        }
        if ($("#txtAmount").val() == "" || $("#txtAmount").val() == null) {
            ErrCount = 1;
        }
        else if ($("#ddlnewAssetCategory").val() == "--Select--" || $("#ddlnewAssetCategory").val() == 0) {
            ErrCount = 3;
        }
        else if ($("#ddlnewAssetsubCategory").val() == "--Select Sub-Category--" || $("#ddlnewAssetsubCategory").val() == 0) {
            ErrCount = 3;
        }
        else {
            ErrCount = 0;
        }

        if (ErrCount == 0) {
            $("#saveBtn").removeAttr('disabled');
        }
        else {
            $("#saveBtn").attr('disabled', true);
        }
    }

</script>
