@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model  IEM.Areas.IFAMS.Models.AssetSplitModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowval = 0;
    CmnFunctions cmmn = new CmnFunctions();
    var grid = new WebGrid(source: Model.SplitModel, canPage: true, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "schpgridid", ajaxUpdateCallback: "schpgridid");
    
}

<b>
    <span style="color: rgb(52,108,196);"> Spliting of Asset - Checker</span>
</b>



<br />
@using (Html.BeginForm())
{
    <div class="well">

        <div class="row">

            <div class="col-sm-9">

                <table class="myTableStyleTabNew" style="margin-left:-03px;">

                    <tr>
                        @*<td>

                            <div>

                                <span> Aset Description </span>
                                <br />
                                <input type="text" name="splitfilterchk" id="txtSchkFilter" value="@ViewBag.schkfilter" class="textboxStyleSearch" maxlength="20" />

                            </div>

                        </td>*@
                        <td>

                            <div>

                                <span> Asset ID </span>
                                <br />
                                <input type="text" name="splitfilter1chk" id="txtSchkFilter1" value="@ViewBag.schkfilter1" class="textboxStyleSearch" style="width:230px" />
                            </div>

                        </td>
                        <td>

                           

                            <span></span>
                            <br />

                            <button class="btn btn-primary" type="submit" name="command" value="SEARCH"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>

                        </td>
                        <td>

                            <span></span>
                            <br />

                            <button class="btn btn-primary" type="submit" id="btnclear" value="Clear" name="command"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>

                        </td>

                    </tr>

                </table>

            </div>
        </div>



        <div style="margin-top:17px;" class="overflowx overflowy ">

            @grid.GetHtml(htmlAttributes: new { id = "schpgridid" }, fillEmptyRows: false, tableStyle: "tableSmall table-bordered table-hover table-responsive", mode: WebGridPagerModes.All,
        columns: grid.Columns(
                        grid.Column(header: "S.No", format: item => rowval = rowval + 1),
                        grid.Column("assetdetDetid", "Asset Id", style: "col-lg-3 MidColumn20"),
                        grid.Column("assetcategory", "Category", style: "col-lg-3 MidColumn30"),
                        //grid.Column("assetdetDescription", "Asset Description", style: "col-lg-3"),
                        grid.Column("assetsubcategory", "Sub-Category Name", style: "col-lg-3 MidColumn30"),
                        //grid.Column("assetdetCode", "Asset Code", style: "col-lg-3"),
                        grid.Column("assetdetCode", "Sub-Category Code", style: "col-lg-3 MidColumn10"),
                        grid.Column("assetdetAssetvalue", "Asset Value", style: "rig col-lg-3"),
                        grid.Column("Tdpreciation", "Total Depreciation", style: "rig"),
                        grid.Column(header: "Action", canSort: false, style: "action",
                            format: @<text>
                                @Html.Raw("<a onclick ='viewSplit(" + item.assetdetId + ")' title='View'> <span id = 'chcolor' class='glyphicon glyphicon-eye-open'> </span> </a>")
                            </text>)
                             ))
            @if (ViewBag.Message != null)
            {
                <div class="table-bordered" align="center">
                    <b> @ViewBag.Message</b>
                </div>
            }
        </div>

        <br />

        <span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount</span> <span class="myTableStyleTabNew"> - Total No of Records:@grid.TotalRowCount</span>


    </div>
}


<style>
    .rig {
        text-align: right;
        width: 550px;
    }

    .wid {
        width: 250%;
    }
</style>



<div id="SplitForPartialview"> </div>
<script type="text/javascript">


    var tr = $("#schpgridid").find('tr');
    $("#spchgridid tr #chcolor").click(function () {
        $('#spchgridid').find('tr').css('background', 'none');
        $(this).closest('tr').css('background', '#CEECF5');
    });

    var objDialogsplit;
    $(document).ready(function () {
        objDialogsplit = $("[id$='SplitForPartialview']");
    });

    function viewSplit(id) {
       // alert(id);
        objDialogsplit.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 950,
            height: 550,
            resizable: false
        });
       // alert('hai');
        objDialogsplit.load('@Url.Action("splitChkView", "AssetSplit")?viewfor=Checkerview&id=' + id + '&'  + new Date().getTime());
        objDialogsplit.dialog({ title: 'Split Details' });
        objDialogsplit.dialog("open");
    }

    $("#txtSchkFilter1").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("splitchkautoassetid","AssetSplit")?' + '&' + new Date().getTime(),
                //url: "../AssetValueReduction/locautosearch",
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.assetdetDetid, value: item.assetdetDetid };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });

</script>