@model IEM.Areas.IFAMS.Models.AssetSplitModel
@{
    int rowval = 0;
    var grid = new WebGrid(source: Model.SplitModel, canPage: false, canSort: false, ajaxUpdateContainerId: "grid");
    Session["AssetId"] = @Model.SplitModel[0].assetdetId;
     var a = Session["AssetId"];
}

<div class="myTableStyleTabNew" style="font-size:12px;">

 
        <div>
            Parent Asset :
            <span>
                <label id="lblsnonew">
                    @*@Model.SplitModel[0].assetdetId*@
                    @Model.SplitModel[0].assetdetDetid
                    
                </label>
            </span>
           
        </div>
    

</div>

@using (Html.BeginForm())
{
    <div id="audit" style="font-size:12px;">
        <ul>
            <li><a href="#tabs-1" onclick="showbutton()">Details [<label id="spidtab1"></label>]</a></li>
            <li><a href="#tabs-2" onclick="hidbutton()">Audit Trail [<label id="spidtab2"></label>]</a></li>
        </ul>
        <div id="tabs-2" >
            @Html.Partial("SPAuditTrial")
        </div>
        <div id="tabs-1" >
            <div style="margin-top:17px;overflow-x:scroll; overflow-y:scroll;height:200px;">

                @grid.GetHtml(fillEmptyRows: false, tableStyle: "tableSmall table-bordered table-hover table-responsive", mode: WebGridPagerModes.All,
        columns: grid.Columns(
        grid.Column(header: "S.No", format: item => rowval = rowval + 1),
 grid.Column("assetsmNassetdetId", "Asset Id", style: "MidColumn40", format: @<text>
            <span class="editsmv">
                <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetsmNassetdetId</label>
            </span>
        </text>),
        grid.Column("assetcategory", "Category", style: "MidColumn50",format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetcategory</label>
                    </span>
        </text>),
        grid.Column("assetsubcategory", "Sub-Category Name", style: "MidColumn30",format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small;  font-weight:normal" id="lblsnonew2">@item.assetsubcategory</label>
                    </span>
        </text>),
        // grid.Column("assetdetDescription", "Asset Description", style: "col-lg-2"),
                                  grid.Column("assetdetCode", "Sub-Category Code", style: "MidColumn20", format: @<text>
            <span class="editsmv">
                <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetdetCode</label>
            </span>
                </text>),
                 grid.Column("assetsmNassetVal", "Asset Value", style: "rig",format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetsmNassetVal</label>
                    </span>
                </text>),
                            
                                  grid.Column("rectificationAmt", "Rectification Amount", style: "rig", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small;  font-weight:normal" id="lblsnonew2">@item.rectificationAmt</label>
                    </span>
                </text>),
                                  grid.Column("assetsmStatus", "Status", style: "MidColumn20", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetsmStatus</label>
                    </span>
                </text>)
        //  grid.Column("Tdpreciation", "Total Depreciation", style: "col-lg-11"),

                                                                         ))

                <div class="table-bordered" align="center">
                    @if (ViewBag.Message != null)
                    {
                        <b> @ViewBag.Message</b>
                    }
                </div>

            </div>
        </div>
    </div>


    <div>
        <br/>
@using (Html.BeginForm())
{
        if (ViewBag.viewfor == "Checkerview")
        {

            <div class="myTableStyleTabNew" align="left">
                <span>Remarks</span>
                <input type="text" autofocus="" id="_txtsplitRemaks" name="spremarks" class=" textboxStyleSearch required" maxlength="256" width="150" height="100" onkeyup="RemarkRequired()" />
            </div>
        
        }
 }
        <table class="myTableStyleTabNew" align="center">

            <tr>
                @using (Html.BeginForm())
                {
                    if (ViewBag.viewfor == "Checkerview")
                    {

                        <td class="form-group" nowrap="nowrap">
                            <div>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="_approve" type="button" disabled value="Approve"><span style="color:white" class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                                </span>

                            </div>

                        </td>

                        <td class="form-group" nowrap="nowrap">

                            <div>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" id="_reject" type="button"  disabled value="Reject"><span style="color:white" class="glyphicon glyphicon-thumbs-down"></span> Reject</button>
                                </span>
                            </div>
                        </td>

                    
                     <td class="form-group" nowrap="nowrap">

                                    <div>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" id="_clear" type="button" name="command" value="Clear"><span style="color:white" class="glyphicon glyphicon-remove"></span> Clear</button>
                                        </span>
                                    </div>
                                </td>
                        @*<td class="form-group" nowrap="nowrap">

                            <div>
                                <span class="input-group-btn">

                                    <button class="btn backbtn btn-warning" id="_cback " type="button"  value="cancel"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                                </span>
                            </div>
                        </td>*@
                    
                  }
                  //  if (ViewBag.viewfor == "view")
                  //  {
                        <td class="form-group" nowrap="nowrap">

                            <div>
                                <span class="input-group-btn">

                                    <button class="btn backbtn btn-warning" type="button" id="_back"  value="cancel"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                                </span>
                            </div>
                        </td>
                    @*}*@
                }
            </tr>

        </table>

    </div>
}

<style>
    .rig {
        text-align: right;
        width: 550px;
    }

    .wid {
        width: 250%;
    }
</style>


<script type="text/javascript">
    $('#spidtab1').text('@grid.TotalRowCount')


    $("#_approve").click(function () {
        var remarks = $("#_txtsplitRemaks").val();
        // alert(remarks);
        var spid = '@Model.SplitModel[0].assetdetId';
        jConfirm("Are You Sure Approve that Records", "Message", function (t) {
            if (t == true) {
                $.post('@Url.Action("splitChkView","AssetSplit")?id=' + spid + '&' + 'command=Approve' + '&remark=' + remarks + '&' + new Date().getTime(),
                    function (data) {

                        if (data == 0) {
                            location = location.href;
                        }
                        else {
                            window.parent.jQuery('#SplitForPartialview').dialog('close');
                            $('#spgridid').find('tr').css('background', 'none');
                            jAlert("Record Approved Successfully", "Information", function (r) {
                                if (r == true) {
                                    location = '@Url.Action("SplitChkSummary","AssetSplit")?' + new Date().getTime();
                                }
                            });

                        }
                    }, 'json')
            }

        });
    });



    $("#_reject").click(function () {
        var remarks = $("#_txtsplitRemaks").val();
        //  alert(remarks);
        var spid = '@Model.SplitModel[0].assetdetId';
        //alert(spid);
        jConfirm("Are You Sure Reject that Records", "Message", function (t) {
            if (t == true) {
                $.post('@Url.Action("splitChkView","AssetSplit")?id=' + spid + '&' + 'command=Reject' + '&remark=' + remarks + '&' + new Date().getTime(),
                    function (data) {
                       // alert(data);
                        if (data == 0) {
                            location = location.href;
                        }
                        else {
                            window.parent.jQuery('#SplitForPartialview').dialog('close');
                            $('#spgridid').find('tr').css('background', 'none');
                            jAlert("Record Rejected Successfully", "Information", function (r) {
                                if (r == true) {
                                    location = '@Url.Action("SplitChkSummary","AssetSplit")?';
                                }
                            });
                        }
                    }, 'json')
            }

        });
    });

    @*$("#_cback").click(function () {
        alert("back");
        location = '@Url.Action("SplitChkSummary","AssetSplit")?' + '&' + new Date().getTime();
    });*@

    $("#_back").click(function () {
        var viewbag = '@ViewBag.viewfor';
        if (viewbag == "view") {
            $('#spgridid').find('tr').css('background', 'none');
            location = '@Url.Action("Split","AssetSplit")?' + '&' + new Date().getTime();
        }
        else {
            //alert('cback');
            $('#spgridid').find('tr').css('background', 'none');
            location = '@Url.Action("SplitChkSummary", "AssetSplit")?' + '&' + new Date().getTime();
        }
    });

    $(document).ready(function () {
        var sacurrentTab4 = 0;
        $(function () {
            $("#audit").tabs({
                select: function (e, i) {
                    sacurrentTab4 = i.index;
                }
            });
        });
    });

    function hidbutton() {
        $("#_approve").hide();
        $("#_reject").hide();
    }

    function showbutton() {
        $("#_approve").show();
        $("#_reject").show();
    }


    $("#_clear").click(function () {

        $("#_txtsplitRemaks").val("");
        RemarkRequired();

    });

    function RemarkRequired() {

        var remark = $("#_txtsplitRemaks").val();
        if (remark != "") {
            $("#_txtsplitRemaks").removeClass('required');
            $("#_txtsplitRemaks").addClass('valid');
            Checkremark();
        }
        else {
            $("#_txtsplitRemaks").removeClass('valid');
            $("#_txtsplitRemaks").addClass('required');
            Checkremark();
        }
    }
    function Checkremark() {
        //alert();
        var Errorcount = 0;
        if ($("#_txtsplitRemaks").val() == "" || $("#_txtsplitRemaks").val() == null) {

            Errorcount = 1;
        }
        if (Errorcount == 0) {
            $("#_approve").removeAttrs('disabled');
            $("#_reject").removeAttrs('disabled');
        }
        else {
            $("#_approve").attr('disabled', 'disabled');
            $("#_reject").attr('disabled', 'disabled');
        }
    }

    $(".ui-icon-closethick").click(function () {
        $('#spgridid').find('tr').css('background', 'none');
    });
</script>