@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<style>
    table, th, td {
        white-space: nowrap;
    }
</style>
<div class="pageHeadingLayout">
    <span class="pageHeading">Credit Note - Maker</span>
    </div>
    <div class="well">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td width="15%" style="padding: 0px 10px" nowrap="nowrap">
                    Credit Note - Type
                    <br />
                    <input type="radio" id="id_NStatus" checked="checked" name="modeStatus" data-bind="event:{ change:$root.RadioChecked }" value="0" />
                    <sapn style="padding-right:15px;">New</sapn>
                    <input type="radio" id="id_RStatus" name="modeStatus" value="1" data-bind="event:{ change:$root.RadioChecked }" />
                    <sapn>Rejected</sapn>
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Date From</span>
                    <br />
                    <input type="text"
                           name="txtDateFrom"
                           id="txtDateFrom"
                           onkeypress="return isEvent(event)"
                           maxlength="10"
                           class="fstextbox fsdatepicker required" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Date To</span>
                    <br />
                    <input type="text"
                           name="txtDateTo"
                           id="txtDateTo"
                           onkeypress="return isEvent(event)"
                           maxlength="10"
                           class="fstextbox fsdatepicker required" />
                </td>
                <td width="20%" style="padding: 0px 10px">
                    <span>Supplier Code/Name</span>
                    <br />
                    <input type="hidden" name="hdfSupplier" id="hdfSupplier" value="0" />
                    <input type="text"
                           id="txtSupplier"
                           class="fstextbox" />
                </td>
                <td width="25%" style="padding: 0px 10px; vertical-align:bottom;">
                    <button class="btn btn-primary" id="btnsearch" accesskey="q" data-bind="click: $root.search" type="button" style="margin-top:10px;  color:white;">
                        <span style="color:white;" class="glyphicon glyphicon-search"></span>
                        Search
                    </button>
                    <button class="btn btn-primary" accesskey="c" data-bind="click: $root.clearFilter" type="button" style="margin-top:10px;  color:white;">
                        <span style="color:white;" class="glyphicon glyphicon-refresh"></span>
                        Clear
                    </button>
                    <button class="btn btn-primary" accesskey="a" data-bind="click: $root.showAdd" type="button" style="margin-top:10px;  color:white;">
                        <span style="color:white;" class="glyphicon glyphicon-plus"></span>
                        Add New
                    </button>
                </td>
                <td width="20%" style="padding: 0px 10px"></td>
            </tr>
        </table>
        <div style="width:100%; overflow:auto; height:100%; margin-top: 15px;">
            <table id="gvChecker" class="tableSmall table-bordered table-hover table-responsive" data-bind="visible: CreditNoteArray().length > 0">
                <thead>
                    <tr>
                        <th style="width:5%; min-width:50px;">
                            SLNo
                        </th>
                        <th style="width:12%; min-width:100px;" class="colDate">
                            Booking Date
                        </th>
                        <th style="width:10%; min-width:100px;" class="colDate">
                            Credit Note Date
                        </th>
                        <th style="width:15%; min-width:150px;">
                            Credit Note No
                        </th>
                        <th style="width:12%; min-width:100px;">
                            Supplier Code
                        </th>
                        <th style="width:10%; min-width:120px;">
                            Supplier Name
                        </th>
                        <th style="width:18%; min-width:200px;">
                            Credit Note Amount
                        </th>
                        <th style="width:10%; min-width:100px;">
                            ECF No
                        </th>
                        <th style="width:8%; min-width:100px;">
                            Invoice No
                        </th>
                        <th style="width:8%; min-width:100px;">
                            Status
                        </th>
                        <th class="nosort showVisible">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{ data: CreditNoteArray, afterRender: DatatableCall }, visible: CreditNoteArray().length > 0">
                    <tr>
                        <td style="width:5%; min-width:50px;" align="center">
                            <span data-bind="text: slno"></span>
                        </td>
                        <td style="width:12%; min-width:100px;" align="center">
                            <span data-bind="text: BookingDate"></span>
                        </td>
                        <td style="width:10%; min-width:100px;" align="center">
                            <span data-bind="text: creditnotedate"></span>
                        </td>
                        <td style="width:15%; min-width:150px;" align="center">
                            <span data-bind="text: creditnoteno"></span>
                        </td>
                        <td style="width:12%; min-width:100px;" align="left">
                            <span data-bind="text: suppliercode"></span>
                        </td>
                        <td style="width:10%; min-width:120px;" align="left">
                            <span data-bind="text: suppliername"></span>
                        </td>
                        <td style="width:18%; min-width:200px; text-align:right;">
                            <span data-bind="text: $root.formatNumber(creditnoteamt)"></span>
                        </td>
                        <td style="width:10%; min-width:100px;" align="center">
                            <span data-bind="text: ECFNo"></span>
                        </td>
                        <td style="width:10%; min-width:100px;">
                            <span data-bind="text: invno"></span>
                        </td>
                        <td style="width:10%; min-width:100px;" align="center">
                            <span data-bind="text: Status"></span>
                        </td>
                        <td class="showVisible" align="center">
                            <span title=" edit" data-bind="visible: IsRejected == 0, click: $root.Edit" style="padding-right:10px; cursor:pointer;">
                                <span class=" glyphicon glyphicon-edit"></span>
                            </span>
                            <span title="Delete" data-bind="visible: IsRejected == 0, click: $root.Delete" style="cursor:pointer;"> <span class="glyphicon glyphicon-trash"></span></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="display:none;" id="ShowDialog">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td style="width:33%; padding:0px 5px;">
                    <input type="hidden" name="hdfCNMId" id="hdfCNMId" value="0" />
                    <span>Booking Date</span>
                    <br />
                    <input type="text"
                           id="txtBookDate"
                           class="textboxStyleBig valid" />
                </td>
                <td style="width:33%; padding:0px 5px;">
                    <span>Supplier Code/Name</span>
                    <br />
                    <input type="hidden" name="hdfESupplier" id="hdfESupplier" value="0" />
                    <input type="text"
                           id="txtESupplier"
                           class="textboxStyleBig required" />
                </td>
                <td style="width:33%; padding:0px 5px;">
                    <span>Credit Note No</span>
                    <br />
                    <input type="text"
                           id="txtCreditNoteNo"
                           class="textboxStyleBig valid" />
                </td>
            </tr>
            <tr>
                <td style="width:33%; padding:0px 5px;">
                    <span>ECF No</span>
                    <br />
                    <input type="text" onkeypress="return isNumberAndLetterAndSpace(event)"
                           id="txtECFNo"
                           class="textboxStyleBig required" />
                </td>
                <td style="width:33%; padding:0px 5px;">
                    <span>Invoice No</span>
                    <br />
                    @*onkeypress="return isNumberAndLetterAndSpace(event)"*@
                    <input type="text" 
                           id="txtInvoiceNo"
                           class="textboxStyleBig required" />
                </td>
                <td style="width:33%; padding:0px 5px;">
                    <span>Invoice Date</span>
                    <br />
                    <input type="text"
                           id="txtCreditNoteDate"
                           disabled="disabled"
                           class="textboxStyleBig required" />
                </td>
            </tr>
            <tr>
                <td style="width:33%; padding:0px 5px;">
                    <span>Invoice Amount</span>
                    <br />
                    <input type="text"
                           id="txtInvoiceAmount"
                           disabled="disabled"
                           class="textboxStyleBig" />
                </td>
                <td style="width:33%; padding:0px 5px;">
                    <span>Credit Note Amount</span>
                    <br />
                    <input type="text"
                           id="txtCreditNoteAmount"
                           maxlength="10"
                           @*onkeypress="return isNumberKey(event)"*@
                           class="textboxStyleBig required" />
                </td>
                <td style="width:33%; padding:0px 5px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="width:99%; padding:0px 5px;">
                    <span>Remark</span>
                    <br />
                    <textarea id="txtMakerRemark" rows="3" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width:33%; padding:15px 5px; text-align:center;">
                    <button type="button" id="btnUpdate" accesskey="s" class="btn btn-success" data-bind="click: $root.Update">
                        <span class="glyphicon glyphicon-save" style="color:white;"></span>
                        Submit
                    </button>
                </td>
            </tr>
        </table>
    </div>
<script>
    var UrlDet = "@Url.Action("GetCreditNoteMaker", "CreditNote")"
    var UrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
</script>

    <script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsCreditNoteMaker.js")" type="text/javascript"></script>

