@model IEM.Areas.IFAMS.Models.capitalizationMaker

@{
    ViewBag.Title = "Assetcap_mak_details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEM.Common.CmnFunctions commfa = new IEM.Common.CmnFunctions();
    // var gridill = new WebGrid(Model.Itemlevellist, canSort: true, canPage: false, ajaxUpdateContainerId: "wgpill");
}
<b>
    <span style="color: rgb(52, 108, 196);">Capitalization Details</span>
</b>
@*@using (Html.BeginForm())
    {*@
<div class="well" id="pofdetailsnew">
    <div>
        <table align="center" width="100%">
            <tr>
                <td>
                    <div class="panel panel-default">
                        <table align="center" width="100%">
                            <tr>
                                <td>
                                    <span>ECF No</span><br />
                                    <b>@Model.EcfNo</b>
                                </td>
                                <td>
                                    <span>ECF Date</span><br />
                                    <b>@Model.Ecfdate</b>
                                </td>
                                <td>
                                    <span>ECF Amount</span><br />
                                    <b>@Model.ecfamt</b>
                                </td>
                                <td>
                                    <span>Invoice No</span><br />
                                    <b>@Model.invoiceno</b>
                                </td>

                                <td>
                                    <span>Vendor Name</span><br />
                                    <b>@Model.Vendor</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Invoice Amount</span><br />
                                    <b>@Model.invoiceamount</b>
                                    <input type="hidden" id="hidinvamnt" value="@Model.invoiceamount" />
                                </td>
                                <td>
                                    <span> Capitalized </span><br />
                                    <b>
                                        @*@Model.Available_cap*@
                                        <input type="hidden" id="hidalreadycap" value="@Model.Available_cap" />
                                        <label id="lblCapitalisedAmnt">

                                        </label>
                                    </b>
                                </td>
                                <td>
                                    <span>Input Credit Amount</span><br />
                                    <b>
                                        @*@Model.Expense*@
                                        <input type="hidden" id="hidinputcreditamnt" value="@Model.Expense" />
                                        <input type="hidden" id="hidinputcreditamntDef" value="@Model.Expense" />
                                        <label id="lblInputCreditAmnt">

                                        </label>
                                    </b>
                                </td>
                                <td>
                                    <span>Pending for Capitalization</span><br />
                                    <b>
                                        @*@Model.Pending_cap*@
                                        <label id="lblPendingForCapitalisedAmnt">

                                        </label>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="tabcapdetails" style="font-size: 12px;">
                        <ul>
                            <li><a href="#tabs-1capdetails">Capitalization Details [<label id="idtab1capdetails"> 0 </label>]</a></li>
                            <li><a href="#tabs-2capdetails">Tax Details [<label id="idtab2capdetails"> 0 </label>]</a></li>
                        </ul>
                        <div id="tabs-1capdetails" style="height:auto">
                            @Html.Partial("AssetPofulldetails")

                        </div>

                        <div id="tabs-2capdetails">
                            @Html.Partial("AddTaxAmount")
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <table align="center" class="myTableStyleTabNew">
                <tr>
                    @if (Model.view == "wait")
                    {
                        <td colspan="4">
                            <span>
                                Remarks
                            </span><br />
                            <textarea id="txtRemarks" style="width:500px;height:70px;"></textarea>

                        </td>
                    }
                </tr>
                <tr>
                    <td>

                        @if (Model.view == "Draft")
                        {
                            <button type="button" class="btn btn-primary" disabled="disabled" id="wgpillbtnsubmit" value="submit"><span class="glyphicon glyphicon-ok" style="color:white;"></span> Submit</button>
                        }
                        @if (Model.view == "Draft" || Model.view == "approval" || Model.view == "reject" || Model.view == "waitt")
                        {
                            <button type="button" class="btn btn-warning" onclick="backsummery()" value="back"><span class="glyphicon glyphicon-circle-arrow-left" style="color:white;"></span> Back</button>
                        }
                    </td>
                    @if (Model.view == "wait")
                    {
                        <td class="form-group" style="text-align:center;" colspan="3">
                                    <button class="btn btn-success" id="_approve" onclick="approve()" type="button" value="Approve"><span style="color:white" class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                              
                                    <button class="btn btn-danger" id="_reject" onclick="reject()" type="button" value="Reject"><span style="color:white" class="glyphicon glyphicon-thumbs-down"></span> Reject</button>
                               
                                    <button class="btn backbtn btn-warning" id="_cback " onclick="backcapapp()" type="button" value="cancel"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
                         </td>
                    }
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="ForPartialViewTax"></div>
<input hidden="hidden" id="kk" />
<input hidden="hidden" id="ll" />
<input hidden="hidden" id="ss" />
<input type="hidden" id="txtIsTax"/>
<div id="ideditlineitems"></div>
<div id="idPoEdit"></div>
<div id="idgrnconfirmation"></div>
<div id="idTaxUpdate"></div>
<div id="idPoQuantity"></div>
<input hidden="hidden" id="idhiddeneditlineitems" />
<input hidden="hidden" id="idhiddenPoEdit" />
<input hidden="hidden" id="idhiddengrnconfirmation" />
<input hidden="hidden" id="idhiddenTaxUpdate" />
<input hidden="hidden" id="idhiddenPoQuantity" />
@*}*@
<div id="ForPartialViewsTax"></div>
<script>
        @*$(function () {
    $("#wgpill td:nth-child(1),#wgpill th:nth-child(1)").hide();
    $("#wgpill td:nth-last-child(1)").show();
    $("#wgpill td:nth-child(2),#wgpill th:nth-child(2)").hide();
    $("#wgpill td:nth-child(5),#wgpill th:nth-child(5)").hide();

    $("#wgpill td:nth-child(14),#wgpill th:nth-child(14)").hide();
    $("#wgpill td:nth-child(21),#wgpill th:nth-child(21)").hide();
    $("#wgpill td:nth-child(25),#wgpill th:nth-child(25)").hide();
    $("#wgpill td:nth-child(27),#wgpill th:nth-child(27)").hide();
       $('.edittmv').hide();
        $('.edit-btntmv,.cancel-btntmv').on("click", function () {
            id = $("#lblsnonew2").text();
            var tr = $(this).parents('tr:first');
            tr.find('.edittmv, .displaytmv').toggle();
        });
        $('.save-btntmv').on("click", function () {
              alert('hai');
            var tr = $(this).parents('tr:first');
            var AMOUNT = tr.find("#AMT").text();
            var Discount = tr.find("#Discount").val();
            var Tax1 = tr.find("#Tax1").val();
            var Tax2 = tr.find("#Tax2").val();
            var othres = tr.find("#othres").val();
            var DOB = tr.find("#DOB").val();
            var id = tr.find("#lblsnonew2").text();
            var invoiceno = tr.find("#lblinvoiceno").text();
            alert(invoiceno);
            var sum = parseInt(AMOUNT) + (parseInt(Tax1) + parseInt(Tax2) + parseInt(othres)) - parseInt(Discount);
            var isSuccess = -1;
            var moedl =
            { "index":id,
                "Amount": AMOUNT,
                "Discount": Discount,
                "Tax1": Tax1,
                "Tax2": Tax2,
                "othres": othres,
                "DOB": DOB,
                "TotalAmount": sum,
                "invoiceno": invoiceno
            };
            $.ajax({
                url: "@Url.Action("SaveData", "AssetCapitalizationMakerDetails")",
                type: 'POST',
            data: moedl,
            success: function (data) {

                alert(data);
                $('#pofdetailsnew').empty().append(data);
                $('#dvpodetails').load('@Url.Action("Assetcap_mak_details", "AssetCapitalizationMakerDetails")', data);
            },
                error: function (data) {

                jAlert("Error. Please, check the data", "Information");
            }
        })

    });
    })*@
    $(document).ready(function () {
        var alreadycapamnt = '@Model.Available_cap';
        var invoiceamntt = '@Model.invoiceamount';

        var ica = 0;
        var secondaryamnt = 0;
        var icadefault = $("#hidinputcreditamnt").val();
        if (icadefault != null && icadefault != "") {
            secondaryamnt = parseFloat(icadefault);
        }
        //$("#wgCGf tbody").each(function () {
        //    var row = $(this).closest('tr');
        //    var tds = row.find('td');
        //    var ids = tds.eq(10).text();
        //    secondaryamnt += parseFloat(ids);
        //});
        $("#lblInputCreditAmnt").html(secondaryamnt);
        $("#hidinputcreditamnt").val(secondaryamnt);
        var inputcreamnt = $("#hidinputcreditamnt").val();
        var pendinginitialamnt = parseFloat(invoiceamntt) - parseFloat(alreadycapamnt) - parseFloat(inputcreamnt);
        $("#lblCapitalisedAmnt").html(alreadycapamnt);
        var invamnts = '@Model.invoiceamount';
        $("#lblPendingForCapitalisedAmnt").html(pendinginitialamnt);
        $("#lblInputCreditAmnt").html(inputcreamnt);
    });
    var objforchkTax;
    objforchkTax = $("[id$='ForPartialViewsTax']");
    function getinvoicedetTax() {
        objforchkTax.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 1050,
            height: 350,
            resizable: false
        });
        objforchkTax.load('@Url.Action("AddTaxAmount", "AssetCapitalizationMakerDetails")?' + new Date().getTime());
        objforchkTax.dialog({ title: 'Add Expense' });
        objforchkTax.dialog("open");
    }

    $('#wgpillbtnsubmit').on("click", function () {
        var ids;
        $("#wgpill").find("input:checkbox").each(function () {
            if (this.checked == true) {
                ids = $(this).val() + "," + ids;
                
            }
        });
        jConfirm("Are you sure to capitalize this invoice with selected items? ", "Capitalization", function (j) {
            if (j == true) {
                showProgress();
                $.ajax({
                    url: "@Url.Action("Asstaxinsert", "AssetCapitalizationMakerDetails")?ids=" + ids + " & " + new Date().getTime(),
                    type: "POST",
                    success: function (result) {
                        if (result == "success") {
                            hideProgress();
                            jAlert("Successfully Moved for Approval", "Information", function (t) { if (t == true) { location = '@Url.Action("CapitalizationMaker", "AssetCapitalizationMaker")?' + new Date().getTime(); } });
                        }
                        else if (result.Result == "UnSuccess") {
                            var invamnts = '@Model.invoiceamount';
                            var sum = result.TotalAmt;
                          //  alert(invamnts);
                          //  alert(result.TotalAmt);
                            var diff = invamnts - sum;
                            hideProgress();
                            jAlert("Invoice Amount Mismatch & Invoice Qty Mismatch" + "(" + invamnts + "-" + sum + ")" + diff, "Information");
                            return false;
                        }
                        else if (result == "Doesn't form a Group") {
                            hideProgress();
                            jAlert("Doesn't form a Group \n (Asset code, Put to use date, location , total amount are not same)", "Information");
                            return false;
                        }
                        else if (result == "Branch Launch date is Empty in the selected list") {
                            hideProgress();
                            jAlert("Branch Launch date is Empty in the selected list", "Information");
                            return false;
                        }
                        else if (result == "Please check the podetails") {
                            hideProgress();
                            jAlert("Please check the podetails", "Information");
                            return false;
                        }

                        else if (result == "Tax") {
                            hideProgress();
                            jAlert("Tax Amount Mismatch", "Information");
                            return false;
                        }
                        else if (result == "Unauthorized User!") {
                            hideProgress();
                            jAlert("Unauthorized User!", "Information");
                            return false;
                        }
                        else {
                            hideProgress();
                            jAlert("Error." + result, "Information");
                            return false;
                        }
                    },
                    error: function () {
                        hideProgress();
                        jAlert("Error. Please, check the data", "Information");
                    }
                });
            }
        });
    });

    function backsummery() {
        location = '@Url.Action("CapitalizationMaker", "AssetCapitalizationMaker")?' + new Date().getTime();
    }


    function approve() {
        var inv = '@Model.invoicegid';
        var rmsn = $('#txtRemarks').val();
        // alert(rms);
        var objSearch = {
            "invoicegid": inv,
            "commend": "APPROVED",
            "Remarks": rmsn
        };
        jConfirm("Are you Sure to Approve this capitalization? ", "Capitalization", function (j) {
            if (j == true) {
                showProgress();
                $.ajax({
                    url: "@Url.Action("CaptalizationAssetDetails", "AssetCapitalizationChecker")",
                    type: 'POST',
                    data: objSearch,
                    async: false,
                    success: function (data) {

                        if (data.Checker == "Unauthorized User!") {
                            hideProgress();
                            jAlert("Unauthorized User!", "Information");
                        }
                        else {
                            // alert(data);
                            hideProgress();
                            jAlert("Successfully capitalized the asset(s)", "Information", function (t) { if (t == true) { location = "@Url.Action("AssetCapitalizationChecker", "AssetCapitalizationChecker")"; } });
                        }

                    },
                    error: function (data) {
                        hideProgress();
                        jAlert("Error. Please, check the data", "Information");
                    }
                });
            }
        });
    }

    function reject() {
        var inv = '@Model.invoicegid';
        var rms = $('#txtRemarks').val();
        if (rms == '') {
            jAlert("Remarks shouldn't be empty", "Information");
            return false;
        }
        var objSearch = {
            "invoicegid": inv,
            "commend": "REJECT",
            "Remarks": rms
        };
        jConfirm("Do you want to Reject this Category ? ", "Capitalization", function (j) {
            if (j == true) {
                $.ajax({
                    url: "@Url.Action("CaptalizationAssetDetails", "AssetCapitalizationChecker")",
                    type: 'POST',
                    data: objSearch,
                    success: function (data) {

                        if (data.Checker == "Unauthorized User!") {
                            hideProgress();
                            jAlert("Unauthorized User!", "Information");
                        }
                        else {
                            hideProgress();
                            jAlert("Successfully Rejected", "Information", function (t) { if (t == true) { location = "@Url.Action("AssetCapitalizationChecker", "AssetCapitalizationChecker")"; } });
                        }

                    },
                    error: function (data) {
                        jAlert("Error. Please, check the data", "Information");
                    }
                });
            }
        });
    }

    function backcapapp() {
        location = "@Url.Action("AssetCapitalizationChecker", "AssetCapitalizationChecker")";
    }

    var cutTab = 0;
    $("#tabcapdetails").tabs({
        select: function (e, i) {
            cutTab = i.index;
        }
    });
    function updatecapdetails(invoicegid) {
        $.ajax({
            url: "@Url.Action("RefreshGrid", "AssetCapitalizationMakerDetails")?invoicegid=" + invoicegid + '&' + new Date().getTime(),
            type: 'POST',
            async: false,
            success: function (data) {
                hideProgress();
                //   goToIndex();
                //  jAlert("Successfully Saved", "Message");
                $('#pofdetails').empty().append(data);
                var secondaryamnt = 0;
                $("#wgCGf tbody tr").each(function () {
                    var ipcreditavail = $(this).find($("input[id=Exp_Now]")).val();
                    if (ipcreditavail != null && ipcreditavail != "") {
                        secondaryamnt = parseFloat(secondaryamnt) + parseFloat(ipcreditavail);
                    }
                });
                secondaryamnt = parseFloat(secondaryamnt).toFixed(2);
                $("#lblInputCreditAmnt").html(secondaryamnt);
                $("#hidinputcreditamnt").val(secondaryamnt);
                var alreadycapamnt1 = '@Model.Available_cap';
                var invoiceamntt1 = '@Model.invoiceamount';
                var inputcreamnt1 = $("#hidinputcreditamnt").val();
                var pendinginitialamnt = parseFloat(invoiceamntt1) - (parseFloat(alreadycapamnt1) + parseFloat(inputcreamnt1));
                pendinginitialamnt = parseFloat(pendinginitialamnt).toFixed(2);
                $("#lblPendingForCapitalisedAmnt").html(pendinginitialamnt);
            },
            error: function (data) {
                hideProgress();
                jAlert("Error. Please, check the data", "Message");
            }
        })
    }
</script>

