@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.BarcodeGenerationModel
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "BarCodeSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var alert = (string)Session["alert"];
    if (alert == "Success")
    {
        <script>jAlert("Barcode generated successfully", "Information")</script>
        Session["alert"] = null;
    }

    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.BModel,
                         canPage: false,
        // rowsPerPage: 20,
                         canSort: false,
                         ajaxUpdateContainerId: "barcodeGrid",
                         ajaxUpdateCallback: "barcodeGrid"
                       );



}

<b>
    <span style="color: rgb(52, 108, 196);"> Barcode Generation Summary</span>
</b>

@using (Html.BeginForm())
{
    <div class="well">

        <div class="row">

            <div class="col-sm-9">

                <table class="myTableStyleTabNew" style="margin-left:-04px;">
                    <tr>
                        <td>
                            <div>
                                <span> Asset Code </span>
                                <br />
                                <input type="text"
                                       name="assetcode"
                                       id="txtassetcode"
                                       value="@ViewBag.assetcode"
                                       class="textboxStyleSearch" maxlength="4" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <span> Branch </span>
                                <br />
                                <input type="text"
                                       name="loccode"
                                       id="txtloccode"
                                       value="@ViewBag.loccode"
                                       class="textboxStyleSearch" maxlength="8" />
                            </div>
                        </td>
                       
                        <td>
                            <div>
                                <span> Capitalization Date </span>
                                <br />
                                <input type="text"
                                       name="capdate"
                                       id="txtcapdate"
                                       value="@ViewBag.capdate"
                                       class="textboxStyleSearch" readonly="readonly"
                                       placeholder="dd-mm-yyyy" />
                            </div>
                        </td>
                        <td>
                            <span> </span>
                            <br />
                            <button class="btn btn-primary" type="submit" name="command" value="SEARCH"><span style="color:white;" class="glyphicon glyphicon-search "></span> Search</button>

                        </td>
                        <td>

                            <span> </span>
                            <br />
                            <button class="btn btn-primary" id="btnclear" value="Clear" name="command" type="submit"><span style="color:white;" onclick="refreshpage()" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                        </td>
                        <td>
                            <span> </span>
                            <br />@if (@grid.TotalRowCount != 0)
                            {
                                <button class="btn btn-primary" id="reportDownloadExcel" value="Excel Download" name="command" onclick="Download()" type="button" style="color:white;"><span style="color:white;" class="glyphicon glyphicon-export"></span> Excel</button>
                            }
                        </td>
                    </tr>
                </table>
            </div>
            <table class="myTableStyleTabNew " style="float:right;margin-right:4px">
                <tr>
                    <td>
                        <div style="float:right;padding-right:8px;">
                            <span> </span>
                            <br />

                            <button class="btn btn-primary" type="submit" id="genBarcode" name="command" value="genBarcode"><span style="color:white;" class="glyphicon glyphicon-barcode"></span> Genenerate Barcode</button>

                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="overflow-y:scroll;height:630px;margin-top:17px;">
            @grid.GetHtml(
                fillEmptyRows: false,
                htmlAttributes: new { id = "barcodeGrid" },
                tableStyle: "tableSmall table-bordered table-hover table-responsive",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(
                grid.Column(header: "S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                grid.Column("_asset_id", obj.Sorter("_asset_id", "Asset ID", grid), style: " MidColumn50"),
                grid.Column("_assetCode", obj.Sorter("_assetCode", "Category", grid), style: " MidColumn50"),
                grid.Column("_assetcode_gid", obj.Sorter("_assetcode_gid", "Sub-Category Code", grid), style: " MidColumn30"),
                grid.Column("_assetDesp", obj.Sorter("_assetDesp", "Sub-Category", grid), style: " MidColumn50"),
                grid.Column("_loc", obj.Sorter("_loc", "Branch", grid), style: " MidColumn20"),
                grid.Column("_cap_date", obj.Sorter("_cap_date", "Capitalization Date", grid), style: " MidColumn30"),
                grid.Column("_asset_sno", obj.Sorter("_asset_sno", "Asset SNo", grid), style: " MidColumn20"),
             //grid.Column("_ecf_no", obj.Sorter("_ecf_no", "ECF No", grid), style: " MidColumn50"),
             grid.Column("_inv_no", obj.Sorter("_inv_no", "Department", grid), style: " MidColumn30"),
                grid.Column(format: @<text> <input type="checkbox" value="@item._assetdet_gid" name="ids" /> </text>, style: "col-lg-2 MidColumn20Center", header: "{checkall}")))
            <div class="table-bordered" align="center">
                @if (ViewBag.Message != null)
                {   <b> @ViewBag.Message </b> }
            </div>
        </div>
        <br />
        @*<span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount</span>*@  <span class="myTableStyleTabNew">  Total No Of Records:@Model.BModel.Count</span>


        <div id="View"></div>
    </div>
}
<script>
    $(document).ready(function () {
        if ('@alert' == "success") {
            jAlert("Barcode generated successfully", "Information");
        }
        $('#barcodeGrid tr th:nth-child(10)').addClass("nosort");
        $('#barcodeGrid').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");
        $(function () {
            $("#txtFilter").focus();
        });

        $("#txtcapdate").datepicker(
         {
             changeMonth: true,
             changeYear: true,
             dateFormat: 'dd-mm-yy',
             maxdate: new Date()
         });

        // 1st replace first column header text with checkbox

        $("#barcodeGrid th").each(function () {
            var checked = $("#barcodeGrid td :checkbox:checked").length;

            if (checked == 0) {
                $("#genBarcode").attr("disabled", true);
            }
            else {
                $("#genBarcode").attr("disabled", false);
            }
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span>Select All</span>");
            }

        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").live("click", function () {
            var ischecked = this.checked;
            $('#barcodeGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
            var checked = $("#barcodeGrid td :checkbox:checked").length;

            if (checked == 0) {
                $("#genBarcode").attr("disabled", true);
            }
            else {
                $("#genBarcode").attr("disabled", false);

            }

        });


        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {


            var totalRows = $("#barcodeGrid td :checkbox").length;
            alert(totalRows);
            var checked = $("#barcodeGrid td :checkbox:checked").length;

            if (checked == 0) {
                $("#genBarcode").attr("disabled", true);
            }
            else {
                $("#genBarcode").attr("disabled", false);

            }

            if (checked == totalRows) {
                $("#barcodeGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }

        });



    });
    function refreshpage() {
        location = '../BarCodeGeneration/BarCodeSummary/';
    }

    //$(function () {
    //    $('#barcodeGrid thead tr th:nth-child(10)').html(
    //        $('<input/>', {
    //            type: 'checkbox',
    //            click: function () {
    //                var checkboxes = $(this).closest('table').find('tbody tr td input[type="checkbox"]');
    //                checkboxes.prop('checked', $(this).is(':checked'));
    //            }
    //        })
    //    );
    //});

    //function check() {
    //    alert();
    //    var checkboxes = $('#barcodeGrid thead tr th:nth-child(10)');
    //    checkboxes.prop('checked', false);
    //}
    //if ($('#barcodeGrid thead tr th:nth-child(10)').closest('table').find('tbody tr td input[type="checkbox"]').is(':checked')==false) {
    //    var checkboxes = $('#barcodeGrid thead tr th:nth-child(10)');
    //    checkboxes.prop('checked', false);
    //}
    function Download() {
     
        location = '@Url.Action("BarCodeGenerationExceldownload", "BarCodeGeneration")';
    }

</script>