@model IEM.Areas.ASMS.Models.ModificationSummary
<script type="text/javascript">
    $(document).ready(function () {
        //$("#accordion").accordion({
        //    autoHeight:false
        //});
    });
</script>
@*<style type="text/css">
        #accordion h3 { padding-left: 25px; }
    </style>*@
<div class="overflowy overflowx">
    @*<div id="accordion">*@
    <div>
        <div id="divsupplierheadersummary">
            <h5>Supplier Header</h5>
            <div>
                <p>
                    <center>
                        <div id="supplierheadersummary">
                            @Html.Partial("SupplierHeaderSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divdirectorssummary">
            <h5>Supplier Header - Directors/Partners</h5>
            <div>
                <p>
                    <center>
                        <div id="directorssummary">
                            @Html.Partial("DirectorsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divservicehistorysummary">
            <h5>Profile - Service History</h5>
            <div>
                <p>
                    <center>
                        <div id="servicehistorysummary">
                            @Html.Partial("ServiceHistorySummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divbranchdetailssummaryTop">
            <h5>Profile - Branch Details</h5>
            <div>
                <p>
                    <center>
                        <div id="divbranchdetailssummary">
                            <span>No Of Offices / No Of Factories</span>
                            <div id="branchdetailssummary">
                                @Html.Partial("BranchDetailsSummary")
                            </div>
                        </div>
                        <br />
                        <div id="divbranchdetailsgridsummary">
                            <span>Branch City</span>
                            <div id="branchdetailsgridsummary">
                                @Html.Partial("BranchCityDetailsSummary")
                            </div>
                        </div>

                    </center>
                </p>
            </div>
        </div>
        <div id="divmanpowerdetailssummary">
            <h5>Profile - Manpower Details</h5>
            <div>
                <p>
                    <center>
                        <div id="manpowerdetailssummary">
                            @Html.Partial("ManPowerDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divprodservicedetailssummary">
            <h5>Profile - Product/Service Details</h5>
            <div>
                <p>
                    <center>
                        <div id="prodservicedetailssummary">
                            @Html.Partial("ProductServiceDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divsubcontractordetailssummary">
            <h5>Profile - Subcontractor Details</h5>
            <div>
                <p>
                    <center>
                        <div id="subcontractordetailssummary">
                            @Html.Partial("SubContractorDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divcustomerdetailssummary">
            <h5>Profile - Customer Details</h5>
            <div>
                <p>
                    <center>
                        <div id="customerdetailssummary">
                            @Html.Partial("CustomerDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divawarddetailssummary">
            <h5>Profile - Award Details</h5>
            <div>
                <p>
                    <center>
                        <div id="awarddetailssummary">
                            @Html.Partial("AwardDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divclientdetailssummary">
            <h5>Profile - Client Details</h5>
            <div>
                <p>
                    <center>
                        <div id="clientdetailssummary">
                            @Html.Partial("ClientDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divcontactdetailssummaryTop">
            <h5>Contact Details</h5>
            <div>
                <p>
                    <center>
                        <div id="divcontactdetailssummary">
                            <span>Address</span>
                            <div id="contactdetailssummary">
                                @Html.Partial("ContactDetailsSummary")
                            </div>
                        </div>
                        <br />
                        <div id="divcontactpersondetailssummary">
                            <span>Contact Person</span>
                            <div id="contactpersondetailssummary">
                                @Html.Partial("ContactPersonDetailsSummary")
                            </div>
                        </div>

                    </center>
                </p>
            </div>
        </div>
        <div id="divtaxdetailssummaryTop">
            <h5>Tax Details</h5>
            <div>
                <p>
                    <center>
                        <div id="divtaxdetailssummary">
                            <span>Tax details</span>
                            <div id="taxdetailssummary">
                                @Html.Partial("TaxDetailsSummary")
                            </div>
                        </div>
                        <br />
                        <div id="divtaxsubtypedetailssummary">
                            <span>Tax SubType Details</span>
                            <div id="taxsubtypedetailssummary">
                                @Html.Partial("TaxSubTypeDetailsSummary")
                            </div>
                        </div>

                    </center>
                </p>
            </div>
        </div>
        <div id="divpaymentdetailssummary">
            <h5>Payment</h5>
            <div>
                <p>
                    <center>
                        <div id="paymentdetailssummary">
                            @Html.Partial("PaymentDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divactivitydetailssummary">
            <h5>Activity Details</h5>
            <div>
                <p>
                    <center>
                        <div id="activitydetailssummary">
                            @Html.Partial("ActivityDetailsSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divattachmentdetailssummary">
            <h5>Attachments</h5>
            <div>
                <p>
                    <center>
                        <div id="attachmentdetailssummary">
                            @Html.Partial("SupAttachmentSummary")
                        </div>
                    </center>
                </p>
            </div>
        </div>
        <div id="divemprelationshipdetailssummaryTop">
            <h5>Others</h5>
            <div>
                <p>
                    <center>
                        <div id="divemprelationshipdetailssummary">
                            <span>Employee Relationship</span>
                            <div id="emprelationshipdetailssummary">
                                @Html.Partial("EmpRelationshipSummary")
                            </div>
                        </div>
                        <br />
                        <div id="divothersedetailssummary">
                            <span>HR & Additional Resources </span>
                            <div id="othersedetailssummary">
                                @Html.Partial("OthersSummary")
                            </div>
                        </div>
                    </center>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if (parseInt($("#wgridSupHeaderSummary tr").length) < 2) {
            $("#divsupplierheadersummary").hide();
        }
        if (parseInt($("#wgridDirectorsSummary tr").length) < 2) {
            $("#divdirectorssummary").hide();
        }
        if (parseInt($("#wgridServiceHistorySummary tr").length) < 2) {
            $("#divservicehistorysummary").hide();
        }
        if (parseInt($("#wgridBranchDetailsSummary tr").length) < 2) {
            $("#divbranchdetailssummary").hide();
        }
        if (parseInt($("#wgridBranchCitySummarySummary tr").length) < 2) {
            $("#divbranchdetailsgridsummary").hide();
        }
        if (parseInt($("#wgridBranchDetailsSummary tr").length) < 2 && parseInt($("#wgridBranchCitySummarySummary tr").length) < 2) {
            $("#divbranchdetailssummaryTop").hide();
        }
        if (parseInt($("#wgridManPowerDetailsSummary tr").length) < 2) {
            $("#divmanpowerdetailssummary").hide();
        }
        if (parseInt($("#wgridProdServiceSummary tr").length) < 2) {
            $("#divprodservicedetailssummary").hide();
        }
        if (parseInt($("#wgridSubContractSummary tr").length) < 2) {
            $("#divsubcontractordetailssummary").hide();
        }
        if (parseInt($("#wgridCustomerDetailsSummary tr").length) < 2) {
            $("#divcustomerdetailssummary").hide();
        }
        if (parseInt($("#wgridAwardDetailsSummary tr").length) < 2) {
            $("#divawarddetailssummary").hide();
        }
        if (parseInt($("#wgridClientDetailsSummary tr").length) < 2) {
            $("#divclientdetailssummary").hide();
        }
        if (parseInt($("#wgridContactDetailsSummary tr").length) < 2) {
            $("#divcontactdetailssummary").hide();
        }
        if (parseInt($("#wgridContactPersonDetailsSummary tr").length) < 2) {
            $("#divcontactpersondetailssummary").hide();
        }
        if (parseInt($("#wgridContactDetailsSummary tr").length) < 2 && parseInt($("#wgridContactPersonDetailsSummary tr").length) < 2) {
            $("#divcontactdetailssummaryTop").hide();
        }
        if (parseInt($("#wgridTaxDetailsSummary tr").length) < 2) {
            $("#divtaxdetailssummary").hide();
        }
        if (parseInt($("#wgridTaxSubTypeDetailsSummary tr").length) < 2) {
            $("#divtaxsubtypedetailssummary").hide();
        }
        if (parseInt($("#wgridTaxDetailsSummary tr").length) < 2 && parseInt($("#wgridTaxSubTypeDetailsSummary tr").length) < 2) {
            $("#divtaxdetailssummaryTop").hide();
        }
        if (parseInt($("#wgridPaymentDetailsSummary tr").length) < 2) {
            $("#divpaymentdetailssummary").hide();
        }
        if (parseInt($("#wgridActivityDetailsSummary tr").length) < 2) {
            $("#divactivitydetailssummary").hide();
        }
        if (parseInt($("#wgridSupAttachmentSummary tr").length) < 2) {
            $("#divattachmentdetailssummary").hide();
        }
        if (parseInt($("#wgridEmpRelationshipSummary tr").length) < 2) {
            $("#divemprelationshipdetailssummary").hide();
        }
        if (parseInt($("#wgridSupOthersSummary tr").length) < 2) {
            $("#divothersedetailssummary").hide();
        }
        if (parseInt($("#wgridEmpRelationshipSummary tr").length) < 2 && parseInt($("#wgridSupOthersSummary tr").length) < 2) {
            $("#divemprelationshipdetailssummaryTop").hide();
        }
    }); 
</script>