@model IEM.Areas.MASTERS.Models.EntityGSTPincode
<link href="@Url.Content("~/Content/RMchosen/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/RMScript/chosen.jquery.js")" type="text/javascript"></script>
  @using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> Pincode </span>
                <br />
                <input name="DocNameName" id="_Pincode" type="text" data-val="true" maxlength="6" value=""
                       class="fstextbox required " onkeypress="return isNumber(event)" />

            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> State </span>
                <br />               
                @Html.DropDownListFor(m => m.selectedstate_gid, Model.GetState, "--Select State--", new { @class = "fstextbox  chosen-select", @style = "display: block", @id = "state_gid" })

            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> District </span>
                <br />
               
                @Html.DropDownListFor(m => m.Pincode_district_gid, Model.GetDistrict, "--Select District--", new { @class = "fstextbox  chosen-select", @style = "display: block", @id = "district_gid" })
            </td>
        </tr>
        <tr>
            <td style="width:15%; padding:0px 10px 0px 3px;">
                <span> Status  </span>
                <br />
                <select name="status"
                        id="statusid"
                        class="fstextbox">
                    <option value="Y">Active</option>
                    <option value="N">InActive</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px; text-align :center;">
                <button type="button" id="_save" disabled="disabled" class="btn btn-primary" value="Save" onclick="SAVE()" style="margin-top:10px;  color:white;">
                    <span class="glyphicon glyphicon-floppy-disk" style="color:white;" font-size:12px;></span> Save
                </button>

                <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()" style="margin-top:10px;  color:white;">
                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                </button>

            </td>
        </tr>
    </table> 
}
<script type="text/javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    $(document).ready(function () { 
        $(function () {
            $("#_Pincode").focus();
        });

        $("#_Pincode").focus();
        $("#_Pincode").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        
        $("#_State").focus();
        $("#_State").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
    });

    $("#_Pincode").keyup(function () {
        var txtPincode = $("#_Pincode").val();
        if (txtPincode.trim() != "") {
            $("#_Pincode").removeClass('required');
            $("#_Pincode").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#_Pincode").removeClass('valid');
            $("#_Pincode").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#state_gid").keyup(function () {
        var txtPincode = $("#state_gid").val();
       
        if (txtPincode.trim() != "0") {
            $("#state_gid").removeClass('required');
            $("#state_gid").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#state_gid").removeClass('valid');
            $("#state_gid").addClass('required');
            CheckFieldsHeader();
        }
    });

  
    $("#district_gid").keyup(function () {
        var txtPincode = $("#district_gid").val();

        if (txtPincode.trim() != "0") {
            $("#district_gid").removeClass('required');
            $("#district_gid").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#district_gid").removeClass('valid');
            $("#district_gid").addClass('required');
            CheckFieldsHeader();
        } 
    });
 
    function CheckFieldsHeader() { 
        var ErrCount = 0;
        
        if ($("#_Pincode").val().trim() == "" || $("#_Pincode").val() == null) {
            ErrCount = 1;
        }
        if ($("#state_gid").val().trim() == "" || $("#state_gid").val() == null) {
            ErrCount = 2;
        }
        if ($("#district_gid").val().trim() == "" || $("#district_gid").val() == null) {
            ErrCount = 3;
        }
        if ($("#_Pincode").val().length != 6) {
            ErrCount = 4;
        }
        if (ErrCount == 0) {
            $("#_save").removeAttr('disabled');
        }
        else {
            $("#_save").attr('disabled', 'disabled');
        }
        //if ($("#_Pincode").val().length == 6)
        //{
        //    $("#_save").removeAttr('disabled');
        //}
        //else {
        //    $("#_save").attr('disabled', 'disabled');
        //}
        
        
    }
    function SAVE() {
         
        var Pincode = $("#_Pincode").val();

        var State = $("#_State").val();

        var Districtid = $("#district_gid").val();

        var Stateid = $("#state_gid").val();
        
        var Statusid = $("#statusid").val();
        if (Pincode == "") {
            jAlert("Please Enter Pincode.", "Information")

            $("#_Pincode").focus();
            return false;

        }
        if (State == "") {
            jAlert("Please Enter State Name.", "Information")

            $("#_State").focus();
            return false;
        }
         
        var DocNameModel = { "Pincode_code": Pincode, "Pincode_state_gid": State, "Pincode_district_gid": Districtid, "Pincode_state_gid": Stateid, "Pincode_status": Statusid };
        $.post('../GstPincode/CreatePincode', DocNameModel,
        function (data) {
            if (data != "success") {
                jAlert(data, "Information", function (r) {
                    if (r == true) {
                        return false;
                    }
                });
            }
            else {
                jAlert("Record inserted successfully !", "Information", function (r) {
                    if (r == true) {
                        location = '../GstPincode/Index';
                    }
                });

            }

        }, 'json');

    }
    function GotoIndex() {
        window.parent.jQuery('#ForPartialView').dialog('close');
    }




    $('#state_gid').change(function () {

        var ddlid = $(this).val();
        
        var expensen =
            {
                "selectedstate_gid": ddlid
            };

        $.ajax({
            url: '@Url.Action("GetDistictby_State", "GstPincode")',

            data: JSON.stringify(expensen),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
               
                $("#district_gid").empty();

                if (data.length > 0) {


                    for (var i = 0; i < data.length; i++) {
                        $('#district_gid').attr('disabled', false);
                        $("#district_gid").append("<option value=" + data[i].Pincode_district_gid + " >" + data[i].Pincode_district_name + "</option>");
                    }

                    $("#district_gid").chosen({});
                    //$("#region_gid_chosen").css("width", "100%");
                    $("#district_gid").trigger('chosen:updated');
                }

                if (data.length == 0) {
                    $("#district_gid").append("<option value='0' >--Select District--</option>");
                    $('#district_gid').attr('disabled', true);
                    $("#district_gid").trigger('chosen:updated');
                }
                if (data.length == null) {
                    alert("3");
                }
            },
            error: function (result) {
                alert("Error");
            }
        });
    });

    </script>
