<div id="searchcustomer"> 

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <table class="myTableStyleTab">
            <tr>
                <td>
                    <span>Customer Name</span><br />
                    <input name="_CustomerName" class="textboxStyle required" id="_CustomerName" title="Customer Name" type="text" value="@Model._CustomerName" />
                </td>
                <td>
                    <span>Customer Service Name</span> <br />
                    <input name="_CustomerServiceName" class="textboxStyle" id="_CustomerServiceName" title="Service Name" type="text" value="@Model._CustomerServiceName" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Contact Person Name</span> <br />
                    <input name="_CustomerContactPerson" class="textboxStyle" id="_CustomerContactPerson" title="Contact Person Name" type="text" value="@Model._CustomerContactPerson" />
                </td>
                <td>
                    <span>Mobile No</span> <br />
                    <input name="_CustomerMobileNo" id="_CustomerMobileNo" class="textboxStyle" title="Mobile No" type="text" value="@Model._CustomerMobileNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Phone No</span> <br />
                    <input name="_CustomerPhoneNo" id="_CustomerPhoneNo" class="textboxStyle" title="Phone No" type="text" value="@Model._CustomerPhoneNo" />
                </td>
                <td style="text-align:right;padding-right:25px;">
                    <input type="button" name="btnSaveCustomer" id="btnSaveCustomer" class="btn btn-primary" value="Save" onclick="SaveCustomer()" />
                    <input type="button" id="btnCloseCustomer" name="btnCloseCustomer" class="btn btn-warning" value="Cancel" onclick="GotoIndexCustomer()" />
                </td>
            </tr>

        </table>

    }
</div>