<br /><table class="myTableStyleTabNew" align="center">
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbtotalrecord</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbvalid</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbinvalid</div>
        </td>
    </tr>
</table>
<table align="center" class="myTableStyleTabNew">
    <tr>
        <td>
            @if (@ViewBag.visble == "Yes")
            {
                <div style="font-weight:bold ; width:150%">
                    <button class="btn btn-primary" type="button" id="btnok" value="Ok"><span style="color:white;" class="glyphicon glyphicon-ok-sign"></span> OK</button>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-warning" type="button" id="btncancelexcel" value="Cancel" onclick="GotoIndexClose()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                </div>
            }
        </td>
        <td>
            @if (@ViewBag.visble != "Yes")
            {
                <div style="font-weight:bold">
                    <a class="btn btn-warning" style="color:white;" data-modal="" href="../ChangeDepreciationRate/downloadsexcel" id="ViewErrorLog" onclick="GotoIndexclose()">
                        <span style="color:white;" class="glyphicon glyphicon-download"></span>   View Error Log
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="button" id="btncancelexcel1" value="Close" onclick="GotoIndexclose()"><span style="color:white;" class="glyphicon glyphicon-remove"></span> Close</button>
                </div>
            }
        </td>
    </tr>
</table>
<script>

    $(document).ready(function () {
        $("#btnok").click(function () {
            window.parent.jQuery('#diverrorlog').dialog('close');
            diverrorlog.dialog("close");
            var value = "fgdf";
            var objcbf =
        {
            "empid": value
        };
            $.ajax({
                url: "../ChangeDepreciationRate/localdetails/",
                type: 'POST',
                cache: false,
                data: objcbf,
                success: function (data) {
                    $("#processworkingdata").empty();
                    var url = "@(Html.Raw(Url.Action("localdetails", "ChangeDepreciationRate")))";
                    $("#processworkingdata").load(url);
                    //alert(data);
                    if (data == "Success") {
                        jAlert("Rate has been Changed Successfully!!", "Information", function (r) {
                            if (r == true) {
                                location = '../ChangeDepreciationRate/BulkChangeDepreciationRate';
                            }
                        });

                        diverrorlog.dialog("close");
                        window.parent.jQuery('#diverrorlog').dialog('close');
                    }
                    else {
                        jAlert("Change of Rate failed!!", "Message");
                    }
                },
                error: function () {
                    jAlert("Change of Rate was failed with error!!", "Information");
                    return false;
                }
            });
        });
    });
    function GotoIndexclose() {
        diverrorlog.dialog("close");
        window.parent.jQuery('#diverrorlog').dialog('close');
    }
    function GotoIndexClose() {
        diverrorlog.dialog("close");
        window.parent.jQuery('#diverrorlog').dialog('close');
        jAlert("Change of Rate was cancelled!!", "Information");
    }



</script>
