<table class="myTableStyleTabNew" align="center">
    <tr>
        <td>
            <div style=" font-weight:bold;">@ViewBag.vbtotalrecord</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbvalid</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbinvalid</div>
        </td>
    </tr>
</table>
    @*<tr>
        <td align="center">*@
           
            <table class="myTableStyleTabNew" align="center">
                <tr>
                    <td>
                        @if (@ViewBag.visble == "Yes")
                        {
                            <div style="font-weight:bold; width:150%">
                                <button id="sabtncanpay" class="btn btn-primary" value="Ok" onclick="SAGotoIndexclose()"><span style="color:white;" class="glyphicon glyphicon-ok-sign"></span> Ok</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;<button id="sabtncancelexcel" class="btn btn-warning" value="Cancel" onclick="GotoIndexClose()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                            </div>
                        }
                    </td>
                    @*<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>*@
                    <td>
                        @if (@ViewBag.visble != "Yes")
                        {
                            <div style="font-weight:bold">
                                <a class="btn btn-warning" data-modal="" href="../AssetSale/Sale_ERRORLOG" id="SaViewErrorLog" onclick="SAGotoIndexclose()">
                                    <span style="color:white;" class="glyphicon glyphicon-download"></span> View Error Log
                                </a>
                                &nbsp;&nbsp;&nbsp;<button id="sabtncancelexcel1" class="btn btn-primary" value="Cancel" onclick="SAGotoIndexclose()"><span style="color:white;" class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        }
                    </td>
                </tr>
            </table>
        @*</td>
    </tr>
</table>*@

<script type="text/javascript">

    $(document).ready(function () {
        $("#sabtncanpay").click(function () {
           // alert("HI");
            window.parent.jQuery('#uploadSummaryViewID').dialog('close');
            objDialog.dialog("close");
            var value = "fgdf";
            var objcbf =
                {
                    "empid" : value
                };
            $.ajax({
                url: "../AssetSale/salocaldetails",
                type: 'POST',
                cache: false,
                data: objcbf,
                success: function (data) {
                    $("#processworkingdata").empty();
                    var url = "@(Html.Raw(Url.Action("salocaldetails", "AssetSale")))";
                    $("#processworkingdata").load(url);
                   // alert(data);
                    if(data == "success")
                    {
                        jAlert("Asset Sale raised successfully!!", "Information", function (r) {
                            if (r == true) {
                                location = '../AssetSale/SASummary';
                            }
                        });

                        objDialog.dialog("close");
                        window.parent.jQuery('#uploadSummaryViewID').dialog('close');
                    }
                    else {
                        jAlert("Sale Transfer failed!!", "Message");
                    }
                },
                error: function () {
                    jAlert("Asset Sale was failed with error!!", "Message");
                    return false;
                }
            });
        });
    });
    function SAGotoIndexclose() {
       // alert("OK")
        objDialog.dialog("close");
        window.parent.jQuery('#uploadSummaryViewID').dialog('close');
    }
    function GotoIndexClose() {
        objDialog.dialog("close");
        window.parent.jQuery('#uploadSummaruViewID').dialog('close');
        jAlert("Asset Sale was cancelled!!", "Message");
    }
</script>
