
    <script>//alert();</script>
    
<table class="myTableStyleTabNew" align="center">
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbtotalrecord</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbvalid</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;">@ViewBag.vbinvalid</div>
        </td>
    </tr>
</table>

<table class="myTableStyleTabNew" align="center">
    <tr>
        <td>
            @if (@ViewBag.visble == "Yes")
            {
                <div style="font-weight:bold ; width:150%">
                    <button id="btnok" class="btn btn-primary" value="Ok"><span style="color:white;" class="glyphicon glyphicon-ok-sign"></span> Ok</button>
                    &nbsp;
                    <button id="btncancelexcel" class="btn btn-warning" value="Cancel" onclick="GotoIndexClose()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                </div>
            }
        </td>
        <td>
            @if (@ViewBag.visble != "Yes")
            {
                <div style="font-weight:bold">
                    <a class="btn btn-warning" data-modal="" href="../AssetCodeChange/Errdownloadsexcel" id="ViewErrorLog" onclick="GotoIndexclose()">
                        <span style="color:white;" class="glyphicon glyphicon-download"></span> View Error Log
                    </a>
                    &nbsp;
                    <button id="btncancelexcel1" class="btn btn-primary" value="Cancel" onclick="GotoIndexclose()"><span style="color:white;" class="glyphicon glyphicon-remove"></span> Close</button>
                </div>
            }
        </td>
    </tr>
</table>



<script>

    $(document).ready(function () {
        //alert('@ViewBag.vbtotalrecord');
        $("#btnok").click(function () {
            window.parent.jQuery('#ForPartialView').dialog('close');
            objDialogcc.dialog("close");
            var value = "fgdf";
            var objcbf =
        {
            "empid": value
        };
            $.ajax({
                url: "../AssetCodeChange/acclocaldetails/",
                type: 'POST',
                cache: false,
                data: objcbf,
                success: function (data) {
                    @*$("#processworkingdata").empty();
                    var url = "@(Html.Raw(Url.Action("acclocaldetails", "AssetCodeChange")))";
                   // var url = '@Url.Action("acclocaldetails", "AssetCodeChange")?' + new Date().getTime();
                    $("#processworkingdata").load(url);*@
                    //alert(data);
                    cancel();
                    if (data == "success") {
                        jAlert("Asset Code Changed Successfully!!", "Information", function (r) {
                            if (r == true) {
                                location = '../AssetCodeChange/AssetCodeChange';
                            }
                        });

                        objDialogcc.dialog("close");
                        window.parent.jQuery('#ForPartialView').dialog('close');
                    }
                    else {
                        cancel();
                        jAlert("Asset Code Change failed!!", "Message");
                    }
                },
                error: function () {
                    cancel();
                    jAlert("Asset Code Change was failed with error!!", "Information");
                    return false;
                }
            });
        });
    });
    function GotoIndexclose() {
        objDialogcc.dialog("close");
        window.parent.jQuery('#ForPartialView').dialog('close');
    }
    function GotoIndexClose() {
      //  alert("close");
        objDialogcc.dialog("close");
        window.parent.jQuery('#ForPartialView').dialog('close');
        jAlert("Asset Code Change was cancelled!!", "Information");
    }


    function cancel() {
        // window.parent.jQuery('#ForPartialView').dialog('close');
        //location = '@Url.Action("AssetCodeChange", "AssetCodeChange")';

        //$('#FinancialYear').val(undefined);


        var fileUpload = $("[id*=fileUploadAccMaker]");
        //var id = fileUpload.attr("id");
        //var name = fileUpload.attr("name");

        //Create a new FileUpload element.
        var newFileUpload = $("<input class='textboxStyleSearch' type='file' id='fileUploadAccMaker' name='fileUploadAcMaker' type='file' onchange='ACCcheckfile(this)'/>");

        fileUpload.after(newFileUpload);

        fileUpload.remove();

        ////newFileUpload.attr("id", id);
        ////newFileUpload.attr("name", name);

        $("#ddlSheetname").empty();
        $("#ddlSheetname").append("<option value='0' >--Select--</option>");
    }
</script>

