@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.AssetCCModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowVal = 0;
    CmnFunctions comn = new CmnFunctions();
    var grid = new WebGrid(source: Model.CodeModel, canPage: true, rowsPerPage: 7, canSort: true, ajaxUpdateContainerId: "grid");
    int id = @grid.PageIndex;
}

<b>
    <span style="color: rgb(52,108,196);"> Asset Code Change - Maker</span>
</b>

<br /><br />

<div class="well">

    <div class="row">

        <div class="col-sm-9">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <table class="myTableStyleTabNew" style="margin-left:-03px;">

                <tr>

                    <td>

                        <div>
                            
                            <span> ACC No </span>
                            <br />
                            <input type="text" name="accfilter" id="txtAccFilter" value="@ViewBag.accfilter" class="textboxStyleSearch" maxlength="20" />
                             
                        </div>

                    </td>
                    <td>
                        <span> </span>
                        <br />
                        <button class="btn btn-primary" type="submit" name="command" value="SEARCH"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                    </td>
                    <td>
                        <span></span>
                        <br />
                        <button class="btn btn-primary" id="btnclear" value="Clear" name="command" type="submit"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                    </td>
                </tr>

            </table>
            }
        </div>

        <table class="myTableStyleTabNew" style="float:right; margin-right:4px">

            <tr>

                <td>

                    <div style="float:right; padding-right:8px">

                        <span></span>
                        <br />
                        <button class="btn btn-primary" type="submit" onclick="accmaker()" name="command" value="ACC"><span style="color:white;" class="glyphicon glyphicon-plus"></span> New Asset Code Change </button>

                    </div>


                </td>

            </tr>

        </table>


    </div>

    <div style="margin-top:17px;" class="overflowx overflowy">

        @grid.GetHtml(fillEmptyRows: false, tableStyle: "tableSmall table-bordered table-hover table-responsive", mode: WebGridPagerModes.All,
        columns: grid.Columns(
        grid.Column(header: "S.No", format: item => rowVal = rowVal+1)
        @*grid.Column(header: "Upload File", canSort: false, style: "action",
        
        format: @<text>
                    <a title='click here to download' onclick="DownloadaccAttachment('@item.')">
        </text>)*@
        ))

        @if (ViewBag.Message != null)
        {
            <div class="borderStyle" align="center">
                <b> @ViewBag.Message</b>
            </div>
        }

    </div>


</div>