@model IEM.Areas.IFAMS.Models.capitalizationMaker
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Capitalization-Maker";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model.CapitalizationList, canPage: true, canSort: true, rowsPerPage: 15, ajaxUpdateContainerId: "gridcapitalizationmaker", ajaxUpdateCallback: "DummyFunctionFA2()");
    grid.Pager(WebGridPagerModes.All);
    IEM.Common.CmnFunctions commfa = new IEM.Common.CmnFunctions();
    @*var gridg = new WebGrid(Model.CapitalizationListGRN, canPage: true, canSort: true, rowsPerPage: 15, ajaxUpdateContainerId: "gridcapitalizationmakergrn");
    gridg.Pager(WebGridPagerModes.All);
    var gridb = new WebGrid(Model.CapitalizationListGRN, canPage: true, canSort: true, rowsPerPage: 15, ajaxUpdateContainerId: "gridcapitalizationmakerbranch");
    gridb.Pager(WebGridPagerModes.All);*@
}


<b>
    <span style="color: rgb(52, 108, 196);">Capitalization-Summary</span>
</b>
@using (Html.BeginForm())
{
    <div class="well">
        <div id="tabaudit" style="font-size: 12px;">
            <ul>
                <li><a href="#tabs-1cap">For capitalization [<label id="idtab1cap">@Model.CapitalizationList.Count</label>]</a></li>
                @*<li><a href="#tabs-1icap">Pending For GRN [<label id="idtab1icap">@Model.CapitalizationListGRN.Count</label>]</a></li>
                <li><a href="#tabs-1iicap">Pending For Branch [<label id="idtab1icap"></label>]</a></li>*@
                <li><a href="#tabs-2cap">Capitalization Status [<label id="idtab2cap"></label>]</a></li>
            </ul>
            <div id="tabs-1cap">
                <table class="myTableStyleTabNew " width="100%">
                    <tr>
                        <td style="padding:10px;">
                            <span>Ecf No</span><br />
                            @Html.TextBoxFor(a => a.EcfNo, new { @id = "txtEcfNo", @class = "textboxStyleSearch" })
                        </td>
                        <td style="padding:10px;">
                            <span>Invoice No</span><br />
                            @Html.TextBoxFor(a => a.invoiceno, new { @id = "txtinvoiceno", @class = "textboxStyleSearch" })
                        </td>
                        @*<td style="padding:10px;">
                        <span>Ecf Amount</span><br />
                        @Html.TextBoxFor(a => a.EcfAmount, new { @id = "txtEcfAmount", @class = "textboxStyleSearch" })
                    </td>*@
                        <td style="padding:10px;">
                            <span>VendorName</span><br />
                            @Html.TextBoxFor(a => a.Vendor, new { @id = "txtvendor", @class = "textboxStyleSearch" })
                        </td>
                        <td style="padding:30px;">
                            <button type="submit" id="btnSearch" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                            <button type="submit" id="btnRefresh" name="Refersh" title="Refersh" value="Refersh" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Refersh</button>
                            <button type="button" id="btnclear" value="Clear" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>
                            @if (@grid.TotalRowCount != 0)
                            {
                                <button class="btn btn-primary" id="reportDownloadExcel" value="Excel Download" name="command" onclick="Download()" type="button" style="color:white;"><span style="color:white;" class="glyphicon glyphicon-export"></span> Excel</button>
                            }
                         </td>
                    </tr>
                </table>

                @grid.GetHtml(
        htmlAttributes: new { id = "gridcapitalizationmaker" },
        tableStyle: "tableSmall table-bordered",
        mode: WebGridPagerModes.All,
        columns:
            grid.Columns(
            grid.Column("Ecfgid", "SlNo"),
            grid.Column("invoicegid", commfa.Sorter("invoicegid", "invoiceg id", grid)),
            grid.Column("SlNo", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
            grid.Column("EcfNo", commfa.Sorter("EcfNo", "ECF No", grid)),
            grid.Column("Ecfdate", commfa.Sorter("Ecfdate", "ECF Date", grid)),
            grid.Column("EcfAmount", commfa.Sorter("EcfAmount", "ECF Amount", grid), style: "right"),
            grid.Column("invoiceno", commfa.Sorter("invoiceno", "Invoice No", grid)),
            grid.Column("invoicedate", commfa.Sorter("invoicedate", "Invoice Date", grid)),
            grid.Column("invoiceamount", commfa.Sorter("invoiceamount", "Invoice Amount", grid), style: "right"),
            grid.Column("Vendor", commfa.Sorter("Vendor", "Vendor Name", grid)),
            grid.Column(header: "Action", canSort: false, style: "action",
            format: @<text>
                @*<a href="../AssetCapitalizationMakerDetails/Assetcap_mak_details">capitalize</a>*@
                <a><span onclick="capitalizatiomaker(@item.invoicegid)">capitalize</span></a>
            </text>)))
                <label style="padding:10px;">Page: @(grid.PageIndex + 1) of @grid.PageCount - Total No of Records :@grid.TotalRowCount</label>
            </div>

            @*<div id="tabs-1icap">
                @gridg.GetHtml(
        htmlAttributes: new { id = "gridcapitalizationmakergrn" },
        tableStyle: "tableSmall table-bordered",
        mode: WebGridPagerModes.All,
        columns:
     gridg.Columns(
     gridg.Column("Ecfgidg", "SlNo"),
    
     gridg.Column("invoicegidg", commfa.Sorter("invoicegidg", "invoiceg id", gridg)),
     gridg.Column("SlNo", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
     gridg.Column("EcfNo", commfa.Sorter("EcfNo", "ECF No", gridg)),
     gridg.Column("Ecfdateg", commfa.Sorter("Ecfdateg", "ECF Date", gridg)),
     gridg.Column("EcfAmountg", commfa.Sorter("EcfAmountg", "ECF Amount", gridg), style: "right"),
     gridg.Column("invoicenog", commfa.Sorter("invoicenog", "Invoice No", gridg)),
     gridg.Column("invoicedateg", commfa.Sorter("invoicedateg", "Invoice Date", gridg)),
     gridg.Column("invoiceamountg", commfa.Sorter("invoiceamountg", "Invoice Amount", gridg), style: "right"),
     gridg.Column("Vendorg", commfa.Sorter("Vendorg", "Vendor Name", gridg)),
     gridg.Column(header: "Action", canSort: false, style: "action",
            format: @<text>*@
                @*<a href="../AssetCapitalizationMakerDetails/Assetcap_mak_details">capitalize</a>*@
                @*<a><span onclick="capitalizatiomaker(@item.invoicegidg)">capitalize</span></a>
            </text>)))
                <label style="padding:10px;">Page: @(gridg.PageIndex + 1) of @gridg.PageCount - Total No of Records :@gridg.TotalRowCount</label>
            </div>*@

            @*<div id="tabs-1iicap">
                @gridb.GetHtml(
        htmlAttributes: new { id = "gridcapitalizationmakerbranch" },
        tableStyle: "tableSmall table-bordered",
        mode: WebGridPagerModes.All,
        columns:
            gridb.Columns(
            gridb.Column("Ecfgid", "SlNo"),
            gridb.Column("invoicegid", commfa.Sorter("invoicegid", "invoiceg id", gridb)),
            gridb.Column("SlNo", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
            gridb.Column("EcfNo", commfa.Sorter("EcfNo", "ECF No", gridb)),
            gridb.Column("Ecfdate", commfa.Sorter("Ecfdate", "ECF Date", gridb)),
            gridb.Column("EcfAmount", commfa.Sorter("EcfAmount", "ECF Amount", gridb), style: "right"),
            gridb.Column("invoiceno", commfa.Sorter("invoiceno", "Invoice No", gridb)),
            gridb.Column("invoicedate", commfa.Sorter("invoicedate", "Invoice Date", gridb)),
            gridb.Column("invoiceamount", commfa.Sorter("invoiceamount", "Invoice Amount", gridb), style: "right"),
            gridb.Column("Vendor", commfa.Sorter("Vendor", "Vendor Name", gridb)),
            gridb.Column(header: "Action", canSort: false, style: "action",
            format: @<text>*@
                @*<a href="../AssetCapitalizationMakerDetails/Assetcap_mak_details">capitalize</a>*@
                @*<a><span onclick="capitalizatiomaker(@item.invoicegid)">capitalize</span></a>
            </text>)))
                <label style="padding:10px;">Page: @(gridb.PageIndex + 1) of @gridb.PageCount - Total No of Records :@gridb.TotalRowCount</label>
            </div>*@

            <div id="tabs-2cap">
                @Html.Partial("ApprovalList")
            </div>
        </div>
    </div>  }

<style>
    .right {
        text-align: right;
    }
</style>
<script>
    function DummyFunctionFA2() {
        $("#gridcapitalizationmaker td:nth-child(1),#gridcapitalizationmaker th:nth-child(1)").hide();
        $("#gridcapitalizationmaker td:nth-last-child(1)").show();
        $("#gridcapitalizationmaker td:nth-child(2),#gridcapitalizationmaker th:nth-child(2)").hide();
        $("#gridcapitalizationmaker td:nth-last-child(2)").show();
        $("#gridcapitalizationmaker td:nth-child(8),#gridcapitalizationmaker th:nth-child(8)").hide();
        $("#gridcapitalizationmaker td:nth-last-child(8)").show();
    }
    
    $(document).ready(function () {
        $("#gridcapitalizationmaker td:nth-child(1),#gridcapitalizationmaker th:nth-child(1)").hide();
        $("#gridcapitalizationmaker td:nth-last-child(1)").show();
        $("#gridcapitalizationmaker td:nth-child(2),#gridcapitalizationmaker th:nth-child(2)").hide();
        $("#gridcapitalizationmaker td:nth-last-child(2)").show();
        $("#gridcapitalizationmaker td:nth-child(8),#gridcapitalizationmaker th:nth-child(8)").hide();
        $("#gridcapitalizationmaker td:nth-last-child(8)").show();

        $('#btnclear').click(function () {
            $('#txtEcfNo').val('');
            $('#txtinvoiceno').val('');
            //$('#txtEcfAmount').val('');
            $('#txtvendor').val('');
        });

        $('#btnRefresh').click(function () {
            $('#txtEcfNo').val('');
            $('#txtinvoiceno').val('');
            //$('#txtEcfAmount').val('');
            $('#txtvendor').val('');
        });

        //$("#txtEcfDate").datepicker({
        //    changeMonth: true,
        //    changeYear: true,
        //    dateFormat: 'dd/mm/yy',
        //    maxdate: new Date()
        //});
    });

    function capitalizatiomaker(id) {
        // alert(id);
        location = '@Url.Action("Assetcap_mak_details", "AssetCapitalizationMakerDetails")?id=' + id + '&' + 'view=Draft' + '&' + new Date().getTime();
    }
    var cutTab=0;
    $("#tabaudit").tabs({
        select: function (e, i) {
            cutTab = i.index;
        }
    });
    function Download() {
        location = "../AssetCapitalizationMaker/downloadsexcel";
    }
</script>