@model IEM.Areas.MASTERS.Models.MyProfileDataModel
@using IEM.Areas.MASTERS.Models
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@{
    if (@ViewBag.Gender == 'M'.ToString())
    {
        ViewBag.Male = 1;
    }
    if (@ViewBag.Gender == 'F'.ToString())
    {
        ViewBag.Female = 1;
    }
    if (@ViewBag.Status == 'Y'.ToString())
    {
        ViewBag.Active = 1;
    }
    if (@ViewBag.Status == 'N'.ToString())
    {
        ViewBag.Inactive = 1;
    }
    if (@ViewBag.Status == 'R'.ToString())
    {
        ViewBag.Resigned = 1;
    }
    if (@ViewBag.branch == 'B'.ToString())
    {
        ViewBag.branchflag = 1;
    }
    if (@ViewBag.branch == 'N'.ToString())
    {
        ViewBag.nonbranchflag = 1;
    }
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<style>
    /*Here We will add some css for style our treeview*/
    .collapse2 {
        width: 15px;
        background-image: url('../../Images/ui-icons_454545_256x240.png');
        /*background-color:green;*/
        background-repeat: no-repeat;
        background-position: -18px -128px;
        display: inline-block;
        cursor: pointer;
    }

    .expand2 {
        width: 15px;
        /*background-color:green;*/
        background-image: url('../../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -50px -128px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview1 ul {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .treeview1 > li > a {
        font-weight: bold;
    }

    .treeview1 li {
    }

        .treeview1 li a {
            padding: 20px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }

        .treeview1 li ul li {
            padding-top: 10px;
        }
</style>
<div>
    <div>
        <table style="width:100%;font-size:12px;" class="well">
            <tr>
                <td style="width:68%;">
                    <table class="table-responsive" align="left">
                        <tr>
                            <td style="padding-top: 10px;width:18%;padding-left:1%">
                                <span> Employee Name</span>
                            </td>
                            <td colspan="4">
                                <input type="text"
                                       name="EmployeeName"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.EmployeeName"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly"
                                       style="width: 95%;width: 100%;" />
                            </td>
                            <td style="padding-top: 10px;width:14%;padding-left:1%">
                                <span> Employee Id</span>
                            </td>
                            <td colspan="2" style="width:26%;">
                                <input type="text"
                                       name="EmployeeId"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.EmployeeId"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Gender</span>
                            </td>
                            <td style="padding-top: 13px;width:17%;">
                                <input type="radio" id="id_rdpMale" name="modeN" value="Y" disabled="disabled" />
                                <span id="mal">Male</span> 
                                <input type="radio" id="id_rdpFemale" name="modeN" value="N" disabled="disabled" />
                                <span id="femal">Female</span> 
                            </td>
                            <td style="padding-top: 15px;width: 15%;padding-left:1%"><span>Date Of Birth </span></td>
                            <td colspan="2" style="padding-top: 6px;width:15%;">
                                <input type="text"
                                       name="DateOfBirth"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.DateOfBirth"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />
                            </td>
                            <td style="padding-top: 17px;padding-left:1%"><span>DOJ</span> </td>
                            <td colspan="2" style="padding-top: 10px;width:17%">
                                <input type="text"
                                       name="DateOfJoin"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.DateOfJoin"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 17px;padding-left:1%">
                                <span> Designation</span>
                            </td>
                            <td colspan="4" style="padding-top: 10px;">
                                <input type="text"
                                       name="Designation"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.Designation"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />

                            </td>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Grade</span>
                            </td>
                            <td colspan="2" style="width: 20%;padding-top: 6px;">
                                <input type="text"
                                       name="Grade"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.Grade"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Department</span>
                            </td>
                            <td colspan="4" style="padding-top: 5px;">
                                <input type="text"
                                       name="Department"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.Department"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />

                            </td>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Branch</span>
                            </td>
                            <td colspan="2" style="width: 20%;padding-top: 5px;">
                                <input type="text"
                                       name="Location"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.Location"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;padding-left:1%">
                                <span>FC</span>
                            </td>
                            <td>
                                <input type="text"
                                       name="FCCC"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.employee_fc_name"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />
                            </td>
                            <td style="padding-top: 10px;padding-left:1%">
                                <span style="padding-left: 10px;">CC</span>
                            </td>
                            <td colspan="5">
                                <input type="text"
                                       name="CardNo"
                                       id="TravelClassIdAddCC"
                                       value="@ViewBag.employee_cc_name"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Legacy & OU </span>
                            </td>

                            <td colspan="4" style="padding-top: 5px;">
                                <input type="text"
                                       name="employee_ou_name"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.employee_ou_name"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />

                            </td>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span> Product code</span>
                            </td>
                            <td colspan="2" style="padding-top: 5px;">
                                <input type="text"
                                       name="employee_product_name"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.employee_product_name"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;">

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Address</span>
                            </td>

                            <td colspan="7" style="padding-top: 5px;">
                                <input type="text"
                                       name="Address"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.Address"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Personal Email</span>
                            </td>
                            <td colspan="4" style="padding-top: 5px;">
                                <input type="text"
                                       name="PersonalEmailId"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.PersonalEmailId"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />

                            </td>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Bank Name</span>
                            </td>
                            <td colspan="2" style="padding-top: 5px;">
                                <input type="text"
                                       name="BankName"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.BankName"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Office Email</span>
                            </td>
                            <td colspan="4" style="padding-top: 5px;">
                                <input type="text"
                                       name="OfficeEmailId"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.OfficeEmailId"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />

                            </td>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>ERA</span>
                            </td>
                            <td colspan="2" style="padding-top: 5px;">
                                <input type="text"
                                       name="ERAACNo"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.ERAACNo"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width: 100%;" />
                            </td>

                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Supervisor</span>
                            </td>
                            <td style="padding-top: 5px;">
                                <input type="text"
                                       name="Supervisor"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.Supervisor"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />

                            </td>
                           
                            <td style="padding-top: 10px;padding-left:1%">
                                <span>IFSC Code</span>
                            </td>
                            <td colspan="2" style="padding-top: 5px;">

                                <input type="text"
                                       name="IFSC Code"
                                       id="IFSCCode"
                                       value="@ViewBag.ifsc_code"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />
                            </td>
                            <td style="padding-top: 10px;padding-left:1%">
                                <span>Card No</span>
                            </td>
                            <td colspan="2" style="padding-top: 5px;">

                                <input type="text"
                                       name="CardNo"
                                       id="TravelClassIdAdd"
                                       value="@ViewBag.CardNo"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>IEM Designation</span>
                            </td>
                            <td colspan="4" style="padding-top: 5px;">
                                <input type="text"
                                       name="iemdesignation"
                                       id="iemdesignationid"
                                       value="@ViewBag.iemdesignation"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />

                            </td>
                            <td style="padding-top: 15px;padding-left:1%">
                                <span>Employee Function Name</span>
                            </td>
                            <td colspan="4" style="padding-top: 5px;">
                                <input type="text"
                                       name="employeefunctionname"
                                       id="employeefunctionnameid"
                                       value="@ViewBag.employeefunctionname"
                                       class="textboxStyle valid"
                                       maxlength="32"
                                       readonly="readonly" style="width:100%;" />

                            </td>
                        </tr>
                    </table>
                </td>
                <td style="padding-left:1%">
                    <table class="overflowx overflowy" align="left" style="width: 100%;height: 240px;">
                        <tr>
                            <td colspan="2" valign="top">
                                <span style="color:darkblue">Employee hierarchy</span>

                                <div>
                                    @{
                                        MyProfileModel dm = new MyProfileModel();
                                        List<MyProfileDataModel> lst = new List<MyProfileDataModel>();
                                        lst = dm.GetHierarchy();
                                    }
                                    <div id=" divtreeview1" class="treeview1 overflowx overflowy borderStyle">
                                        @GetHierarchy.GetTreeView1(lst, lst.FirstOrDefault().ParentId)
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 13px;">
                                <span>Status</span>
                            </td>
                            <td style="padding-top: 10px;">
                                <div class="radio-inline" id="Cutoff">
                                    <input type="radio" id="id_rdpActivenew" name="modeNAr" value="Y" disabled="disabled" />
                                   <span id="ac">Active</span> 
                                </div>
                                <div class="radio-inline" id="Cutoff">
                                    <input type="radio" id="id_rdpInactivenew" name="modeNAr" value="N" disabled="disabled" />
                                    <span id="inac">Inactive</span> 
                                </div>
                                <div class="radio-inline" id="Cutoff">
                                    <input type="radio" id="id_rdpResignednew" name="modeNAr" value="N" disabled="disabled" />
                                    <span id="re">Resigned</span> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 13px;">
                                <span>Branch Type</span>
                            </td>
                            <td style="padding-top: 10px;">
                                <div class="radio-inline" id="Cutoff">
                                    <input type="radio" id="id_Branch" name="modeNA" value="Y" disabled="disabled" />
                                   <span id="br">Branch</span> 
                                </div>
                                <div class="radio-inline" id="Cutoff">
                                    <input type="radio" id="id_Nonbranch" name="modeNA" value="N" disabled="disabled" />
                                   <span id="nonbr">Non Branch</span> 
                                </div>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2">
                    <div align="right" style="font-size: 12px; color: red;">
                        Note : In case of any change, please contact HC team to update the records
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div align="center">
        <button type="button" id="btncanexpNNN" title="Cancel" name="Cancel" class="btn btn-warning" onclick="GotoIndexExpenseNN()"><span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span>Cancel</button>
    </div>
</div>
<input type="hidden" id="rblMale" value="@ViewBag.Male" />
<input type="hidden" id="rblFemale" value="@ViewBag.Female">
<input type="hidden" id="rblActive" value="@ViewBag.Active" />
<input type="hidden" id="rblInactive" value="@ViewBag.Inactive" />
<input type="hidden" id="rblResigned" value="@ViewBag.Resigned" />

<input type="hidden" id="rblbranchflag" value="@ViewBag.branchflag" />
<input type="hidden" id="rblnonbranchflag" value="@ViewBag.nonbranchflag" />
<br />
@if (ViewBag.Male != null || ViewBag.Female != null || ViewBag.Active != null || ViewBag.Inactive != null || ViewBag.Resigned != null || ViewBag.branchflag != null || ViewBag.nonbranchflag != null)
{
    <div>
        <script>
            $(document).ready(function () {
                var a = parseInt($("#rblMale").val());
                var b = parseInt($("#rblFemale").val());
                var c = parseInt($("#rblActive").val());
                var d = parseInt($("#rblInactive").val());
                var e = parseInt($("#rblResigned").val());
                var f = parseInt($("#rblbranchflag").val());
                var g = parseInt($("#rblnonbranchflag").val());
                if (a == 1) {
                    $("#id_rdpMale").prop('checked', true);
                    document.getElementById("mal").style.fontWeight = "bold";
                }
                else {
                    $("#id_rdpFemale").prop('checked', true);
                    document.getElementById("femal").style.fontWeight = "bold";
                }
                if (c == 1) {
                    $("#id_rdpActivenew").prop('checked', true);
                    document.getElementById("ac").style.fontWeight = "bold";
                }
                else if (d == 1) {
                    $("#id_rdpInactivenew").prop('checked', true);
                    document.getElementById("inac").style.fontWeight = "bold";
                }
                else {
                    $("#id_rdpResignednew").prop('checked', true);
                    document.getElementById("re").style.fontWeight = "bold";
                }
                if (f == 1) {
                    $("#id_Branch").prop('checked', true);
                    document.getElementById("br").style.fontWeight = "bold";
                }
                else {
                    $("#id_Nonbranch").prop('checked', true);
                    document.getElementById("nonbr").style.fontWeight = "bold";
                }
            });
        </script>
    </div>
}
<script type="text/javascript">
    function GotoIndexExpenseNN() {
        objDialogMyMenu1.dialog("close");
        window.parent.jQuery('#divMyMenu').dialog('close');
    }
    $(document).ready(function () {
        // $(".treeview1 li>ul").css('display', 'none'); // Hide all 2-level ul
        $(".collapsible2").click(function (e) {
            e.preventDefault();
            $(this).toggleClass("collapse2 expand2");
            $(this).closest('li').children('ul').slideToggle();
        });
    });
</script>
