@model IEM.Areas.MASTERS.Models.iem_mst_uom
@{
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
    }
    else if (viewfor == "delete")
    {
        ViewBag.viewmode = "disabled";
        ViewBag.deletemode = "disabled";
    }

}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;display:none ;">
                <input name="CategoryID" id="_Uomid" type="text" placeholder="Category ID" data-val="true" value="@Model.uom_gid" />
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                    <span>UOM Code</span>
                <input name="CategoryeName" maxlength="8" id="_Uomcode" type="text"
                       class="fstextbox valid" data-val="true" value="@Model.uom_code" @ViewBag.viewmode />
             
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                    <span>UOM Name</span>
                <input name="CategoryeName" id="_Uomname" type="text" maxlength="80" class="fstextbox valid"
                        data-val="true" value="@Model.uom_name" @ViewBag.viewmode />
               
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px; text-align:center;">
                    @if (@ViewBag.viewmode == "")
                    {
                        <button type="button" id="_save" value="Save" class="btn btn-primary" onclick="Update()" style="margin-top:10px;  color:white;">
                            <span class="glyphicon glyphicon-floppy-disk" style="color:white;font-size:12px;"></span> Save
                        </button>
                    }
                    @if (@ViewBag.deletemode == "disabled")
                    {
                        <button type="button" value="Delete" class="btn btn-danger" onclick="DeleteType()" style="margin-top:10px;  color:white;">
                            <span style="color:white;font-size:12px;" class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    }
               
                    @if (@ViewBag.viewmode == "" || @ViewBag.deletemode == "disabled")
                    {
                        <button type="button" value="Cancel" class="btn btn-warning" onclick="goToIndex()" style="margin-top:10px;  color:white;">
                            <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>
                    }
                    else if (@ViewBag.viewmode == "disabled")
                    {
                        <button type="button" value="Cancel" class="btn btn-warning" onclick="goToIndex()" style="margin-top:10px;  color:white;">
                            <span style="color:white; font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Close
                        </button>
                    }
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#_Uomcode").focus();
        $("#_Uomcode").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#_Uomname").focus();
        $("#_Uomname").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });

        $("#_Uomcode").keyup(function () {
            var txtSupplierName = $("#_Uomcode").val();
            if (txtSupplierName.trim() != "") {
                $("#_Uomcode").removeClass('required');
                $("#_Uomcode").addClass('valid');
            }
            else {
                $("#_Uomcode").removeClass('valid');
                $("#_Uomcode").addClass('required');
            }
        });
        $("#_Uomname").keyup(function () {
            var txtSupplierName = $("#_Uomname").val();
            if (txtSupplierName.trim() != "") {
                $("#_Uomname").removeClass('required');
                $("#_Uomname").addClass('valid');
            }
            else {
                $("#_Uomname").removeClass('valid');
                $("#_Uomname").addClass('required');
            }
        });
    });
</script>
<script type="text/javascript">
    function Update() {
        var uomcode = $("#_Uomcode").val().trim();
        var uomname = $("#_Uomname").val().trim();
        var uomgid = $("#_Uomid").val();
        if (uomcode == "") {
            jAlert("Please Enter Uom Code.", "Information")
            $("#_Uomcode").focus();
            return false;
        }
        if (uomname == "") {
            jAlert("Please Enter Uom Name.", "Information")
            $("#_Uomname").focus();
            return false;

        }
        var CategoryModel = { "uom_gid": uomgid, "uom_code": uomcode, "uom_name": uomname };
        $.post('../IEM_UOM/UpdatEomDetails', CategoryModel,
            function (data) {
                if (data != "success") {
                    jAlert(data, "Information", function (r) {
                        if (r == true) {
                            return false;
                        }
                    });
                }
                else {
                    jAlert("Record Updated Successfully !", "Information", function (r) {
                        if (r == true) {
                            window.parent.jQuery('#ForPartialView').dialog('close');
                            location = '../IEM_UOM/Index';
                        }
                    });

                }
            }
        , 'json');

    }
    function DeleteType(id) {
        var uomgid = $("#_Uomid").val();
        jConfirm("Do you want to delete this Uom ? ", "Delete Uom", function (j) {
            if (j == true) {
                var model = { "uom_gid": uomgid }
                $.post('../IEM_UOM/DeleteUomDetails', model,
                     function (data) {
                         if (data = "success") {
                             jAlert("Record Deleted Successfully!!!", "Information", function (r) {
                                 if (r = true) {

                                     window.parent.jQuery('#ForPartialView').dialog('close');
                                     location = '../IEM_UOM/Index';
                                 }
                             });
                         }
                     }, 'json');
            }
        });


    }
    $(".ui-icon-closethick").click(function () {

        window.parent.jQuery('#ForPartialView').dialog('close');
        //$('#griduom').find('tr').css('background', 'none');
    });
    function goToIndex() {

        window.parent.jQuery('#ForPartialView').dialog('close');
        //$('#griduom').find('tr').css('background', 'none');
        window.parent.jQuery('#ForPartialView').dialog('close');
    }
</script>
