@using IEM.Helper;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<style>
    table, th, td {
        white-space: nowrap;
    }
</style>
<div class="pageHeadingLayout">
    <span class="pageHeading">Payment Advice Email</span>
    </div>
    <div class="well">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td width="20%" style="padding: 0px 10px 0px 3px;">
                    <span>Payment BatchNo</span>
                    <br />
                    <input type="text"
                           id="txtPayBatchNo"
                           name="txtPayBatchNo"
                           class="fstextbox" />
                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>Payment Date From </span>
                    <br />
                    <input type="text"
                           id="txtPayDateFrom"
                           onkeypress="return isEvent(event)"
                           name="txtPayDateFrom"
                           class="fstextbox fsdatepicker" />
                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>Payment Date To </span>
                    <br />
                    <input type="text"
                           id="txtPayDateTo"
                           onkeypress="return isEvent(event)"
                           name="txtPayDateTo"
                           class="fstextbox fsdatepicker" />
                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>PV From</span>
                    <br />
                    <input type="text"
                           name="txtPVFrom"
                           id="txtPVFrom"
                           maxlength="10"
                           class="fstextbox" />
                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>PV To</span>
                    <br />
                    <input type="text"
                           name="txtPVTo"
                           id="txtPVTo"
                           maxlength="10"
                           class="fstextbox" />
                </td>
            </tr>
            <tr>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>Claim Type</span>
                    <br />
                    <select name="ddlClaimType" id="ddlClaimType" class="fstextbox"
                            data-bind="options: ClaimTypeArray, optionsText: 'Text', optionsValue:'Id', value:0, event:{ change:$root.ClaimTypeSelectChanged }"></select>
                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>PV Amount</span>
                    <br />
                    <input type="text"
                           name="txtPVAmount"
                           id="txtPVAmount"
                           maxlength="8"
                           @*onkeypress="return isNumberKey(event)"*@
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px 0px 3px;">
                    <span>Pay Mode</span>
                    <br />
                    <select name="ddlPayMode" id="ddlPayMode" class="fstextbox"
                            data-bind="options: PaymentModeArray, optionsText: 'Text', optionsValue:'Id', value:0"></select>

                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>Employee Code</span>
                    <br />
                    <input type="hidden" id="hdfEmpCodeId" value="0" />
                    <input type="text"
                           id="txtEmpCode"
                           name="txtEmpCode"
                           class="fstextbox" />
                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>Employee Name</span>
                    <br />
                    <input type="hidden" id="hdfEmpName" value="0" />
                    <input type="text"
                           id="txtEmpName"
                           name="txtEmpName"
                           class="fstextbox" />
                </td>
            </tr>
            <tr>

                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>Supplier Code</span>
                    <br />
                    <input type="hidden" id="hdfSupplierId" value="0" />
                    <input type="text"
                           id="txtSupplierCode"
                           name="txtSupplierCode"
                           class="fstextbox" />
                </td>
                <td style="width:20%; padding:0px 10px 0px 3px;">
                    <span>Supplier Name</span>
                    <br />
                    <input type="hidden" id="hdfSupplierName" value="0" />
                    <input type="text"
                           id="txtSupplierName"
                           name="txtSupplierName"
                           class="fstextbox" />
                </td>
                <td width="20%" style="padding: 0px 10px;"></td>
                <td width="20%" style="padding: 0px 10px;"></td>
                <td style="width:20%; padding:0px 10px; vertical-align:bottom; text-align:right;">
                    <button class="btn btn-primary" id="btnsearch" data-bind="click: $root.Search" type="button" style="margin-top:10px;  color:white;">
                        <span style="color:white;" class="glyphicon glyphicon-search"></span>
                        Search
                    </button>
                    <button class="btn btn-primary" data-bind="click: $root.clearFilter" type="button" style="margin-top:10px;  color:white;">
                        <span style="color:white;" class="glyphicon glyphicon-refresh"></span>
                        Clear
                    </button>
                </td>
            </tr>
        </table>
        <div style="width:100%; overflow:auto; height:100%; margin-top: 15px;">
            <table id="gvPaymentAdvice" class="tableSmall table-bordered table-hover table-responsive" data-bind="visible: PaymentAdviceArray().length > 0">
                <thead>
                    <tr>
                        <th style="width:5%; min-width:50px;">
                            SLNo
                        </th>
                        <th style="width:9%; min-width:100px;" class="colDate">
                            PV Date
                        </th>
                        <th style="width:9%; min-width:100px;">
                            PV No
                        </th>
                        <th style="width:9%; min-width:100px;">
                            PV Mode
                        </th>
                        <th style="width:9%; min-width:120px;">
                            PV Amount
                        </th>
                        <th style="width:9%; min-width:120px;">
                            Claim Type
                        </th>
                        <th style="width:9%; min-width:180px;">
                            Supplier/Employee Code
                        </th>
                        <th style="width:15%; min-width:200px;">
                            Supplier/Employee Name
                        </th>
                        <th style="width:7%; min-width:100px;">
                            Payment BatchNo
                        </th>
                        <th style="width:10%; min-width:150px;">
                            Email Id
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{ data: PaymentAdviceArray, afterRender: DatatableCall }, visible: PaymentAdviceArray().length > 0">
                    <tr>
                        <td align="center">
                            <span data-bind="text: SlNo"></span>
                        </td>
                        <td align="center">
                            <span data-bind="text: PVDate"></span>
                        </td>
                        <td align="center">
                            <span data-bind="text: PVNo"></span>
                        </td>
                        <td align="right">
                            <span data-bind="text: PayMode"></span>
                        </td>
                        <td align="right">
                            <span data-bind="text: $root.formatNumber(PVAmount)"></span>
                        </td>
                        <td align="center">
                            <span data-bind="text: ClaimType"></span>
                        </td>
                        <td>
                            <span data-bind="text: EmployeeSupplierCode"></span>
                        </td>
                        <td>
                            <span data-bind="text: EmployeeSupplierName"></span>
                        </td>
                        <td>
                            <span data-bind="text: PaymentBatchNo"></span>
                        </td>
                        <td>
                            <span data-bind="text: EmailId"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div style="width:40%; padding:0px; vertical-align:bottom;">
            <button class="btn btn-success" id="btnMail" data-bind="visible: PaymentAdviceArray().length > 0, click: $root.EmailAdvice" type="button" style="margin-top:10px; width:200px; color:white;">
                <span style="color:white;" class="glyphicon glyphicon-envelope"></span>
                Email Payment Advice
            </button>
        </div>

        <div style="width:100%; padding:0px; vertical-align:middle ;">
            <div id="loadingImg" style="display:none  ; text-align:center;" class="pageHeading">
                Mail Sending... Please Wait...
            </div>
        </div>
    </div>
<script>
    var UrlDet = "@Url.Action("FetchPaymentAdvice", "PaymentAdvice")"
    var UrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
</script>
    <script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsPaymentAdvicePrint.js")" type="text/javascript"></script>
