@using IEM.Helper;
@{
    ViewBag.Title = "Print";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/html5shiv.js"></script>
<script src="~/Scripts/respond.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<script src="~/Scripts/RMScript/knockout-3.3.0.js"></script>
<script src="~/Scripts/RMScript/knockout-3.3.0.debug.js"></script>
<style>
    table, th, td {
        white-space: nowrap;
    }
        span,p{
        font-family:Verdana;
        font-size:11;
    }
</style>
@*<span class="pageHeading">Payment Advice Print-Non Purchase</span>*@

<div  data-bind="template:{name:'friend-template',foreach:AddressCount}"></div>

<script type="text/html" id="friend-template">
    <table style="width:100%; border:1px solid silver;">
        <tr>
            <td style="margin:10px;text-align:left;vertical-align:top;">
                <span data-bind="text:SupplierName"></span>
                <br/>
                <span data-bind="text:SAdrs"></span>
                <br/>
                <span data-bind="text:SArea"></span>
              
            </td>
            <td style="margin:10px; text-align:right; vertical-align:top;">
            
                <span data-bind="text:CmyName"></span>
                <br/>
                <span data-bind="text:CmyName1"></span>
                <br />
                <span data-bind="text:Adrs"></span>
                <br />
                <span data-bind="text:Area"></span>
            </td>
        </tr>
        <tr>
            <td style="margin:10px;text-align:left">
              <span>  PAYMENT No. :</span>
                <span data-bind="text:PayNo"></span>
            </td>

            <td style="margin:10px;text-align:right">
               <span> ECF BATCH No. : </span>
                <span data-bind="text:BatchNo"></span>
            </td>
        </tr>
        <tr>

            <td colspan="2" style="margin:10px;text-align:left">
                <p>
                    Please refer to the Agreement between @System.Configuration.ConfigurationManager.AppSettings["CompanyFullName"] (@System.Configuration.ConfigurationManager.AppSettings["CompanyName"])<br />
                    and yourselves. With regard to the business sourced by you for @System.Configuration.ConfigurationManager.AppSettings["CompanyName"] during the month<br />
                    of <span data-bind="text:Month"></span> a sum of Rs.<span data-bind="text:Rs"></span>/- is payable as fees / commission by FICC in terms<br />
                    of the above Agreement.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="margin:10px;text-align:left">
                <p>
                    Accordingly, please find enclosed, a Cheque/DD no. <span data-bind="text:ChqNo"></span> dated for Rs. <span data-bind="text:Drawn"></span>/- drawn<br />
                    on <span data-bind="text:Bank"> </span> Bank, in favour of <span data-bind="text:Supplier"></span> after <br />
                    deduction of TDS of Rs.<span data-bind="text:TDS"></span> /- as applicable.<br />
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="margin:10px;text-align:left">
                <p>
                    Please preserve this advice to verify with Form 16-A, which will be sent to you at<br />
                    the end of Financial Year
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="margin:10px;text-align:left">
                <p>
                    In case of any discrepancy you are requested to get back to your coordinator within<br />
                    15 days of payout credit/cheque date else this would be treated as final payment for<br />
                    the said month.

                </p>
            </td>
        </tr>
    </table>
    </script>


    <script type="text/javascript">
        var AdrsPrintingModel = function () {
            var self = this;
            self.AddressCount = ko.observableArray();

            self.displayAddrs = function () {
                this.AddressCount = [{
                    "SupplierName": "A JAYAPRAKASH ",
                    "CmyName": "' @System.Configuration.ConfigurationManager.AppSettings["CompanyFullName"] ' ",
                    "SAdrs":"NA",
                    "SArea":"NA",
                    "CmyName1": "GNSA INFOTECH PRIVATE LIMITED,",
                    "Adrs":" F - BLOCK, 4TH FLOOR, NELSON CHAMBERS, ",
                    "Area": " AMINTHAKARAI, CHENNAI - 29",
                    "PayNo": "80512302150076",
                    "BatchNo": "2015215222",
                    "Month": "January",
                    "Rs": "1000",
                    "ChqNo": "34343",
                    "Drawn": "800",
                    "Bank": "ICIC",
                    "Supplier": "A.JAYAPRA",
                    "TDS":"100"
                }]

            };

            self.displayAddrs();
            window.print();
        };
        var mainViewModel = new AdrsPrintingModel();
        ko.applyBindings(mainViewModel);
    </script>
