@{
    ViewBag.Title = "CBFTracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<style>
    table, th, td {
        white-space: nowrap;
    }
</style>
<div class="pageHeadingLayout">
    <span class="pageHeading">CBF Tracker Report</span>
</div>
<div class="well">
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:25%; ">
                <span>Status </span>
                <br />
                <select id="ddlStatus" class="fstextbox">
                    <option selected="selected" value="ALL"> All</option>
                    <option value="Pending"> Pending</option>
                    <option value="Approval"> Approval</option>
                    <option value="Reject"> Reject</option>
                </select>
            </td>
            <td style="width:75%;  vertical-align:bottom;">
                <button class="btn btn-primary" id="btnsearch" style="color:white; margin-bottom:3px;" data-bind="click: $root.Search">
                    <span style="color:white; font-size:12px;" class="glyphicon glyphicon-search"></span>
                    Search
                </button>
                <button class="btn btn-primary" data-bind="click: $root.clearFilter" style="color:white; margin-bottom:3px;">
                    <span style="color:white; font-size:12px;" class="glyphicon glyphicon-refresh"></span>
                    Clear
                </button>
                <button class="btn btn-success" id="btnExporExcel" data-bind="click: $root.Download" style="color:white;">
                    <span style="color:white; font-size:12px;" class="glyphicon glyphicon-export"></span>
                    Export to Excel
                </button>
            </td>
        </tr>
    </table>
    <div style="width:100%; overflow:auto; height:100%; margin-top: 15px;">
        <table id="gvReport" class="tableSmall table-bordered table-hover" data-bind="visible: CBFTrackingArray().length > 0">
            <thead data-bind="visible: columnNames().length > 0">
                <tr data-bind="foreach: columnNames">
                    <th style="min-width:80px; max-width:100%;">
                        <span data-bind="text: $data"></span>
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach:{ data: CBFTrackingArray, afterRender: DatatableCall }">
                <tr data-bind="foreach: $parent.columnNames">
                    <td>
                        <span data-bind="text: $parent[$data]"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var UrlDet = "@Url.Action("FetchCBFTrackerReport", "FAReport")"
    var UrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
</script>
<script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsCBFTracker.js")" type="text/javascript"></script>