@using IEM.Helper;
@model IEM.Areas.FLEXISPEND.Controllers.SearchController.SearchData

<style>
    table, th, td {
        white-space: nowrap;
    }
</style>
<script type="text/javascript">
    var _docDet = 0;
    $(function () {

        $("#DocDetTabs").tabs({
            select: function (e, i) {
                _docDet = i.index;
            }
        });
    });
</script>

<input id="hdfEcfId" type="hidden" value=@ViewBag.rptEcfId />
@Html.Partial("ECFDetails", (string)@ViewBag.rptEcfdet)

@if (Model != null)
{
    <div class="well" style="padding:10px;">
        <div id="DocDetTabs" style="min-height :300px;font-size:12px;">
            <ul>
                <li><a href="#tabs-1">Inex Detail</a></li>
                <li><a href="#tabs-6">Inex Despatch Detail</a></li>
                <li><a href="#tabs-2">Payment Detail</a></li>
                <li><a href="#tabs-3">Payment Dispatch</a></li>
                <li><a href="#tabs-4">Payment Status</a></li>
                <li><a href="#tabs-5">Re-Issue Detail</a></li>               
            </ul>
            <div>
                <div id="tabs-1">
                    <div class="table-responsive" style="width:100%; margin-top: 15px; max-height: 200px; overflow: auto; height:100%;">
                        @if (Model.InexDetails != null && Model.InexDetails.Count > 0)
                        {
                            <table class="tableSmall table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%; min-width:110px;">SlNo</th>
                                        <th style="width:15%; min-width:80px;">InexBy</th>
                                        <th style="width:15%; min-width:90px;">ReviewBy</th>
                                        <th style="width:10%; min-width:90px;">InexDate</th>
                                        <th style="width:10%; min-width:80px;">ActionStatus</th>
                                        <th style="width:25%; min-width:80px;">Remarks</th>
                                        <th style="width:20%; min-width:90px;">Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var innerDet in Model.InexDetails)
                                    {
                                        <tr>
                                            <td align="center">@innerDet.SlNo</td>
                                            <td>@innerDet.InexBy</td>
                                            <td>@innerDet.ReviewBy</td>
                                            <td align="center">@innerDet.InexDate</td>
                                            <td>@innerDet.ActionStatus</td>
                                            <td>@innerDet.Remarks</td>
                                            <td>@innerDet.Reason</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="borderStyle">
                                @HelperHtml.NoRecFound()
                            </div>
                        }
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="table-responsive" style="width:100%; margin-top: 15px; max-height: 200px; overflow: auto; height:100%;">
                        @if (Model.PaymentDetail != null && Model.PaymentDetail.Count > 0)
                        {
                            <table class="tableSmall table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:4%; min-width:80px;">SlNo</th>
                                        <th style="width:8%; min-width:100px;">PVDate</th>
                                        <th style="width:8%; min-width:100px;">PVNo</th>
                                        <th style="width:10%; min-width:100px;">PayMode</th>
                                        <th style="width:8%; min-width:100px;">PVAmount</th>
                                        <th style="width:8%; min-width:100px;">PayMentBatchNo</th>
                                        <th style="width:8%; min-width:80px;">ClaimType</th>
                                        <th style="width:8%; min-width:80px;">Code</th>
                                        <th style="width:14%; min-width:150px;">Name</th>
                                        <th style="width:8%; min-width:100px;">ChequeNo</th>
                                        <th style="width:8%; min-width:90px;">ChequeDate</th>
                                        <th style="width:14%; min-width:150px;">Bank</th>
                                        <th style="width:8%; min-width:90px;">ChequeBookNo</th>
                                        <th style="width:8%; min-width:100px;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var innerDet in Model.PaymentDetail)
                                    {
                                        <tr>
                                            <td align="center">@innerDet.Slno</td>
                                            <td align="center">@innerDet.PVDate</td>
                                            <td>@innerDet.PVNo</td>
                                            <td>@innerDet.PayMode</td>
                                            <td align="right">@innerDet.PVAmount</td>
                                            <td>@innerDet.PayMentBatchNo</td>

                                            <td>@innerDet.ClaimType</td>
                                            <td>@innerDet.Code</td>
                                            <td>@innerDet.Name</td>

                                            <td>@innerDet.ChequeNo</td>
                                            <td align="center">@innerDet.ChequeDate</td>
                                            <td>@innerDet.Bank</td>
                                            <td>@innerDet.ChequeBookNo</td>
                                            <td>@innerDet.Status</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="borderStyle">
                                @HelperHtml.NoRecFound()
                            </div>
                        }
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="table-responsive" style="width:100%; margin-top: 15px; max-height: 200px; overflow: auto; height:100%;">
                        @if (Model.PaymentDispatch != null && Model.PaymentDispatch.Count > 0)
                        {
                            <table class="tableSmall table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%; min-width:80px;">SlNo</th>
                                        <th style="width:10%; min-width:100px;">PVDate</th>
                                        <th style="width:10%; min-width:100px;">PVNo</th>
                                        <th style="width:10%; min-width:120px;">PayMode</th>
                                        <th style="width:10%; min-width:100px;">PVAmount</th>
                                        <th style="width:10%; min-width:100px;">PaymentBatchNo</th>
                                        <th style="width:10%; min-width:100px;">DespatchDate</th>
                                        <th style="width:20%; min-width:150px;">CourierName</th>
                                        <th style="width:15%; min-width:120px;">AWBNo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var innerDet in Model.PaymentDispatch)
                                    {
                                        <tr>
                                            <td align="center">@innerDet.Slno</td>
                                            <td align="center">@innerDet.PVDate</td>
                                            <td>@innerDet.PVNo</td>
                                            <td>@innerDet.PayMode</td>
                                            <td>@HelperHtml.ConvertINRAmount(@innerDet.PVAmount)</td>
                                            <td>@innerDet.PaymentBatchNo</td>
                                            <td align="center">@innerDet.DespatchDate</td>
                                            <td>@innerDet.CourierName</td>
                                            <td>@innerDet.AWBNo</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="borderStyle">
                                @HelperHtml.NoRecFound()
                            </div>
                        }
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="table-responsive" style="width:100%; margin-top: 15px; max-height: 200px; overflow: auto; height:100%;">
                        @if (Model.PaymentStatus != null && Model.PaymentStatus.Count > 0)
                        {
                            <table class="tableSmall table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:4%; min-width:80px;">SlNo</th>
                                        <th style="width:8%; min-width:100px;">PVDate</th>
                                        <th style="width:8%; min-width:100px;">PVNo</th>
                                        <th style="width:10%; min-width:100px;">PayMode</th>
                                        <th style="width:8%; min-width:100px;">PVAmount</th>
                                        <th style="width:8%; min-width:100px;">PayMentBatchNo</th>

                                        <th style="width:8%; min-width:80px;">ClaimType</th>
                                        <th style="width:8%; min-width:80px;">Code</th>
                                        <th style="width:14%; min-width:150px;">Name</th>

                                        <th style="width:8%; min-width:100px;">ChequeNo</th>
                                        <th style="width:8%; min-width:90px;">ChequeDate</th>
                                        <th style="width:14%; min-width:150px;">Bank</th>
                                        <th style="width:8%; min-width:90px;">ChequeBookNo</th>
                                        <th style="width:8%; min-width:100px;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var innerDet in Model.PaymentStatus)
                                    {
                                        <tr>
                                            <td align="center">@innerDet.Slno</td>
                                            <td align="center">@innerDet.PVDate</td>
                                            <td>@innerDet.PVNo</td>
                                            <td>@innerDet.PayMode</td>
                                            <td align="right">@HelperHtml.ConvertINRAmount(@innerDet.PVAmount)</td>
                                            <td>@innerDet.PayMentBatchNo</td>

                                            <td>@innerDet.ClaimType</td>
                                            <td>@innerDet.Code</td>
                                            <td>@innerDet.Name</td>

                                            <td>@innerDet.ChequeNo</td>
                                            <td align="center">@innerDet.ChequeDate</td>
                                            <td>@innerDet.Bank</td>
                                            <td>@innerDet.ChequeBookNo</td>
                                            <td>@innerDet.Status</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="borderStyle">
                                @HelperHtml.NoRecFound()
                            </div>
                        }
                    </div>
                </div>
                <div id="tabs-5">
                    <div class="table-responsive" style="width:100%; margin-top: 15px; max-height: 200px; overflow: auto; height:100%;">
                        @if (Model.ReissueDetail != null && Model.ReissueDetail.Count > 0)
                        {
                            <table class="tableSmall table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%; min-width:80px;">SlNo</th>
                                        <th style="width:10%; min-width:100px;">PVDate</th>
                                        <th style="width:10%; min-width:80px;">PVNo</th>
                                        <th style="width:10%; min-width:100px;">PayMode</th>
                                        <th style="width:10%; min-width:100px;">PVAmount</th>
                                        <th style="width:15%; min-width:100px;">ClaimType</th>
                                        <th style="width:10%; min-width:120px;">Employee/Supplier Code</th>
                                        <th style="width:20%; min-width:150px;">Employee/Supplier Name</th>
                                        <th style="width:10%; min-width:90px;">PaymentBatchNo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var innerDet in Model.ReissueDetail)
                                    {
                                        <tr>
                                            <td align="center">@innerDet.SlNo</td>
                                            <td align="center">@innerDet.PVDate</td>
                                            <td>@innerDet.PVNo</td>
                                            <td>@innerDet.PayMode</td>
                                            <td align="right">@HelperHtml.ConvertINRAmount(@innerDet.PVAmount)</td>
                                            <td>@innerDet.ClaimType</td>
                                            <td>@innerDet.EmployeeSupplierCode</td>
                                            <td>@innerDet.EmployeeSupplierName</td>
                                            <td>@innerDet.PaymentBatchNo</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="borderStyle">
                                @HelperHtml.NoRecFound()
                            </div>
                        }
                    </div>
                </div>

                <div id="tabs-6">
                    <div class="table-responsive" style="width:100%; margin-top: 15px; max-height: 200px; overflow: auto; height:100%;">
                        @if (Model.InexDespatchDetail != null && Model.InexDespatchDetail.Count > 0)
                        {
                            <table class="tableSmall table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%; min-width:80px;">SlNo</th>
                                        <th style="width:15%; min-width:100px;">AWB No</th>
                                        <th style="width:20%; min-width:80px;">Courier Name</th>
                                        <th style="width:20%; min-width:100px;">Despatch To</th>
                                        <th style="width:25%; min-width:100px;">Despatch Address</th>
                                        <th style="width:15%; min-width:100px;">Despatch Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var innerDet in Model.InexDespatchDetail)
                                    {
                                        <tr>
                                            <td align="center">@innerDet.SlNo</td>
                                            <td >@innerDet.awbNo</td>
                                            <td>@innerDet.courierName</td>
                                            <td>@innerDet.despatchTo</td>
                                            <td>@innerDet.despatchAddress</td>
                                            <td align="center">@innerDet.despatchDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="borderStyle">
                                @HelperHtml.NoRecFound()
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
}