 
@model IEM.Areas.MASTERS.Models.EntityGSTFiccBranch




 
<link href="@Url.Content("~/Content/RMchosen/chosen.css")" rel="stylesheet" type="text/css" /> 
<script src="@Url.Content("~/Scripts/RMScript/chosen.jquery.js")" type="text/javascript"></script> 
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<div class="well">
    <div class="row">
        <table class="myTableStyleTabNew" align="left" style="width:99%">
            <tr>
                <td>
                    <div class="input-append ">
                        <span>Branch Code</span>
                        <br />
                        <input type="text"
                               name="BranchCode"
                               id="BranchCodeId"
                               value="@ViewBag.BranchCode"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
                <td colspan="2">
                    <div class="input-append ">
                        <span>Branch Name</span>
                        <br />
                        <input type="text"
                               name="BranchName"
                               id="BranchNameId"
                               value="@ViewBag.BranchName"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
                <td>
                    <div class="input-append ">
                        <span>Branch Type</span>
                        <br />
                        <input type="text"
                               name="BranchType"
                               id="BranchTypeId"
                               value="@ViewBag.BranchType"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                    @*<span>Branch Type</span>
                    <br />
                    @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.BranchType, "-----Select-----", new { @class = "textboxStyleSearch valid", @style = "display: block;width:100%;", @id = "BranchTypeId", @Name = "BranchType", disabled = "disabled" })*@
                </td>
                <td>
                    <div class="input-append ">
                        <span>Branch Tier</span>
                        <br />
                        <input type="text"
                               name="BranchTier"
                               id="BranchTier"
                               value="@ViewBag.BranchTier"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-append ">
                        <span>Old Branch Code</span>
                        <br />
                        <input type="text"
                               name="OldBranchCode"
                               id="OldBranchCode"
                               value="@ViewBag.OldBranchCode"
                               class="textboxStyleSearch"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
                <td style="display:none;">
                    <span>Employee Id</span>
                    <br />
                    <input type="text"
                           name="EmployeeId"
                           id="EmployeeId"
                           value="@ViewBag.EmployeeId"
                           class="textboxStyleSearch valid"
                           maxlength="32"
                           readonly="readonly"
                           style="width: 100%;" />
                </td>
                <td colspan="2">
                    <span>Branch Incharge</span>
                    <br />
                    <input type="text"
                           name="BranchIncharge"
                           id="BranchIncharge"
                           value="@ViewBag.BranchIncharge"
                           class="textboxStyleSearch valid"
                           maxlength="32"
                           readonly="readonly"
                           style="width: 100%;" />
                </td>
                @*<td style="width:3%">
                    <span>&nbsp;</span>
                    <br />
                    <a title="Search"><span class="glyphicon glyphicon-search" id="Searchicon" onclick="EmployeeSearchBranch()"></span></a>
                </td>*@
                <td>
                    <div class="input-append ">
                        <span>Start Date</span>
                        <br />
                        <input type="text"
                               name="StartDate"
                               id="StartDate"
                               value="@ViewBag.StartDate"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
                <td>
                    <div class="input-append ">
                        <span>End Date</span>
                        <br />
                        <input type="text"
                               name="EndDate"
                               id="EndDate"
                               value="@ViewBag.EndDate"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
               
            </tr>
            <tr>
                <td>
                    @*<span>Branch</span>
            <br />*@
                    @*@Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.Branch, "-----Select-----", new { @class = "textboxStyleSearch valid", @style = "display: block;width: 100%;", @id = "BranchId", @Name = "Branch", disabled = "disabled" })*@
                    <div class="input-append ">
                        <span>Branch</span>
                        <br />
                        <input type="text"
                               name="Branch"
                               id="Branch"
                               value="@ViewBag.Branch"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
                <td colspan="2">
                    <span>City</span>
                    <br />
                    <input type="text"
                           name="City"
                           id="City"
                           value="@ViewBag.City"
                           class="textboxStyleSearch valid"
                           maxlength="32"
                           readonly="readonly"
                           style="width: 100%;" />     
                    @*<span>City</span>
                    <br />
                    @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.City, "-----Select-----", new { @class = "textboxStyleSearch valid", @style = "display: block;width: 100%;", @id = "CityId", @Name = "City", disabled = "disabled" })*@
                </td>

                <td>
                    <span>Location</span>
                    <br />
                    @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.location, "-----Select-----", new { @class = "textboxStyleSearch valid", @style = "display: block;width: 100%;", @id = "locationId", @Name = "location" })
                </td>

                <td>
                    @*<span>Active Status</span>
                    <br />
                    @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.ActiveStatus, "-----Select-----", new { @class = "textboxStyleSearch valid", @style = "display: block;width: 100%;", @id = "ActiveStatusId", @Name = "ActiveStatus", disabled = "disabled" })*@
                    <div class="input-append ">
                        <span>Active Status</span>
                        <br />
                        <input type="text"
                               name="ActiveStatus"
                               id="ActiveStatus"
                               value="@ViewBag.ActiveStatus"
                               class="textboxStyleSearch valid"
                               maxlength="32"
                               readonly="readonly"
                               style="width: 100%;" />
                    </div>
                </td>
               
            </tr>

          
            <tr>
                <td>
                    <span>StartLeaseDate</span>
                    <br />
                    <input type="text"
                           name="StartLeaseDate"
                           id="txtStartLeaseDate"
                           value="@ViewBag.StartLeaseDate"
                           class="textboxStyleSearch valid"
                           style="width: 100%;" />
                </td>
                <td>
                    <span>EndLeaseDate</span>
                    <br />
                    <input type="text"
                           name="EndLeaseDate"
                           id="txtEndLeaseDate"
                           value="@ViewBag.EndLeaseDate"
                           class="textboxStyleSearch valid"
                           style="width: 100%;" />
                </td>
                <td></td>
            </tr>
                <tr>
                <td colspan="5">
                    <div class="input-append ">
                        <span>Branch Address</span>
                        <br />
                        <input type="text"
                               name="BranchAddress"
                               id="BranchAddress"
                               value="@ViewBag.BranchAddress"
                               class="textboxStyleSearch valid"
                               readonly="readonly"
                               maxlength="32" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Pin Code</span>
                    <br />
                    @*@Html.DropDownListFor(s => s.state_gid, Model.Getstate, "--Select State--", new { @class = "fstextbox  chosen-select", @style = "display: block; ", @id = "state_gid", @onchange = "checkstate()" })*@
                    @Html.DropDownListFor(s => s.pincode_code, Model.GetPincode, "--Select Pincode--", new { @class = "fstextbox  chosen-select", @style = "display: block; ", @id = "Pincode_id" })
                </td>
                <td>
                    <span>State</span>
                    <br />
                    @*<input type="text"
            name="txtstate"
            id="txtstate"
            value=""
            readonly="readonly"
            class="textboxStyleSearch valid"
            maxlength="32"
            style="width: 100%;" />*@


                    @Html.DropDownListFor(s => s.statecode, Model.Getstate, "--Select State--", new { @class = "fstextbox  chosen-select", @style = "display: block; ", @id = "txtstate" })

                </td>

                <td>
                    <span>District</span>
                    <br />
                    @*<input type="text"
                           name="txtdistrict"
                           id="txtdistrict"
                           value=""
                           readonly="readonly"
                           class="textboxStyleSearch valid"
                           maxlength="32"
                           style="width: 100%;" />*@


                    @Html.DropDownListFor(s => s.dictrictcode, Model.GetDistrict, "--Select District--", new { @class = "fstextbox  chosen-select", @style = "display: block; ", @id = "txtdistrict" })
                </td>
                <td>
                    <span>GST TIN</span>
                    <br />
                    <input type="text"
                           name="txtgsttin"
                           id="txtgsttin"
                           readonly="readonly"
                           value ="@ViewBag.branch_gstin"
                           class="textboxStyleSearch valid"
                           maxlength="32"
                           style="width: 100%;" />
                </td>
            </tr>



        </table>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div>
                        <button type="button" id="btnsave" class="btn btn-primary" value="Save" onclick="EditBranchDetails()"><span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save</button>
                    </div>
                </td>
                <td>
                    <div>
                        <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
}
<script>
    //$(document).ready(function () {

    //    $(function () {
    //        //$("#TravelClassIdAdd").focus();
    //    });
    //    $("#Pincode_id").chosen({});

    //    $("#Pincode_id_chosen,").addClass("mychosen").css('width', '100%');

    //});
    function EditBranchDetails() {

        var BranchName = $("#BranchNameId").val();
        var BranchTypeId = $("#BranchTypeId option:selected").val();
        var oldbranchcode = $("#OldBranchCode").val();
        var BranchCode = $("#BranchCodeId").val();
        var BranchTier = $("#BranchTier").val();
        var employee_gid = $("#EmployeeId").val();
        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();
        var Location = $("#locationId option:selected").val();
        var LocationName = $("#locationId option:selected").text();
        var City_gid = $("#CityId option:selected").val();
        var City = $("#CityId option:selected").text();
        var EmployeeId = $("#EmployeeId").val();
        var BranchAddress = $("#BranchAddress").val();
        var BranchFlag = $("#BranchId option:selected").text();
        var ActiveStatusId = $("#ActiveStatusId option:selected").text();
        var startleasedate = $("#txtStartLeaseDate").val();
        var endleasedate = $("#txtEndLeaseDate").val();
        var pincode = $("#Pincode_id option:selected").text();
        var stateid = $("#txtstate").val();
        var disid = $("#txtdistrict").val();
        var gstin = $("#txtgsttin").val();



        //var dis = document.getElementById("txtdistrict");
        var District = $("#txtdistrict option:selected").text()


        //var state = document.getElementById("txtstate");
        var state1 = $("#txtstate option:selected").text();
        //alert(District);
        //alert(state1);
        var branch = {
            "BranchName": BranchName,
            "Branchtype_gid": BranchTypeId,
            "BranchCode": BranchCode,
            "BranchTier": BranchTier,
            "EmployeeId": employee_gid,
            "StartDate": StartDate,
            "ClosedDate": EndDate,
            "City_gid": City_gid,
            "City": City,
            "Location_gid": Location,
            "BranchAddress": BranchAddress,
            "Branchfl": BranchFlag,
            "ActiveStatus": ActiveStatusId,
            "BranchTier": BranchTier,
            "LocationName": LocationName,
            "OldBranchCode": oldbranchcode,
            "StartLeaseDate": startleasedate,
            "EndLeaseDate": endleasedate,
            "PinCode": pincode,
            "district_gid": disid,
            "state_gid": stateid, 
            "branch_gstin": gstin,
            "dictrictcode": District,
            "statecode": state1
        };

        //$.ajax({
        //    url: '../Branch/AddBranch',
        //    data: JSON.stringify(branch),
        //    type: 'POST',
        //    contentType: 'application/json; charset=utf-8',
        //    success: function (result) {
        //        isSuccess = result;
        //        jAlert(result, "Information", function (r) {
        //            if (r == true) {
        //                location = '../Branch/BranchIndex';
        //            }
        //        });

        //    },
        //})
        $.post('../GSTFiccBranch/EditBranch', branch,
               function (data) {

                   jAlert(data, "Information", function (r) {
                       if (r == true) {
                           location = '../GSTFiccBranch/BranchIndex';
                       }
                   });
               }

          , 'json');
    }
    function EmployeeSearchBranch() {
        var url = "@(Html.Raw(Url.Action("EmployeeSearch", "Branch")))";
        objDialogybranchempse.load(url + '?' + new Date().getTime());
        objDialogybranchempse.dialog({
            title: 'Employee Search ', 'width': 830, show: 'fade-in', close: 'fade-out', modal: true, resizable: false, cache: false, autoOpen: false, 'height': 510
        });
        objDialogybranchempse.dialog("open");
    }
    function GotoIndex() {
        window.parent.jQuery('#ForPartialViewBranch').dialog('close');
        $('#gridBranchClassid').find('tr').css('background', 'none');
    }
    $(".ui-icon-closethick").click(function () {
        $('#gridBranchClassid').find('tr').css('background', 'none');
    });
    $(document).ready(function () {
        $("#StartDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            onSelect: function (selected) {

                var dt = $('#StartDate').val();
                var dt1 = $('#EndDate').val();
                $("#StartDate").addClass('valid');
                $("#EndDate").datepicker("option", "minDate", selected)
            }
        })
        $("#EndDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',

            onSelect: function (selected) {
                var dt = $('#StartDate').val();
                var dt1 = $('#EndDate').val();
                $("#EndDate").addClass('valid');
            }
        });
    });
    $("#txtStartLeaseDate").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        onSelect: function (selected) {

            var dt = $('#txtStartLeaseDate').val();
            var dt1 = $('#txtEndLeaseDate').val();
            $("#txtStartLeaseDate").addClass('valid');
            $("#txtEndLeaseDate").datepicker("option", "minDate", selected)
        }
    })
    $("#txtEndLeaseDate").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',

        onSelect: function (selected) {
            var dt = $('#txtEndLeaseDate').val();
            var dt1 = $('#txtStartLeaseDate').val();
            $("#txtStartLeaseDate").addClass('valid');
        }
    });
    $("#StartDate").change(function () {
        var txtContractTo = $("#StartDate").val();
        if (txtContractTo.trim() != "") {
            $("#StartDate").removeClass('required');
            $("#StartDate").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#StartDate").removeClass('valid');
            $("#StartDate").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#EndDate").change(function () {
        var txtContractTo = $("#EndDate").val();
        if (txtContractTo.trim() != "") {
            $("#EndDate").removeClass('required');
            $("#EndDate").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#EndDate").removeClass('valid');
            $("#EndDate").addClass('required');
            CheckFieldsHeader();
        }
    });


    //$(document).on('change', '#Pincode_id', function () {
    //    alert('Change Happened');
    //});

    $("#Pincode_id").change(function () {

        $("#txtgsttin").val("");
        $("#txtstate").empty();
        $("#txtdistrict").empty();
        var brandID = $("#Pincode_id").val();
        var Pincode_model =
       {
           "pincode_gid": brandID
       };
        $.ajax({
            url: '../GSTFiccBranch/Getstatebypincode/',
            data: JSON.stringify(Pincode_model),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.Data1 != "" && data.Data1 != null) {
                    var data1 = JSON.parse(data.Data1);
                    $("#txtstate").empty();
                    if (data1.length > 0) {
                        $("#txtstate").append("<option value='0' >--Select--</option>");
                        for (var i = 0; i < data1.length; i++) {
                            var stylesSelect = $('#txtstate');
                            stylesSelect.attr('disabled', false);
                            $("#txtstate").append("<option value=" + data1[i].state_gid + " >" + data1[i].state_code + "</option>");
                        }
                    }
                }

                if (data.length == 0) {
                    var stylesSelect = $('#txtstate');
                    stylesSelect.attr('disabled', true);
                    $('#btnsave').attr('disabled', true);
                }
            },
            error: function (result) {
                jAlert("Error.", "Error");
                return false;
            }
        });
    });




    $("#txtstate").change(function () {

        $("#txtgsttin").val("");
        $("#txtdistrict").empty();
        var brandID = $("#txtstate").val();
        var brandID1 = $("#Pincode_id").val();
        var Pincode_model =
       {
           "state_gid": brandID,
           "pincode_gid": brandID1
       };
        $.ajax({
            url: '../GSTFiccBranch/Getdistrictbystate/',
            data: JSON.stringify(Pincode_model),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.Data1 != "" && data.Data1 != null) {
                    var data1 = JSON.parse(data.Data1);
                    $("#txtdistrict").empty();
                    if (data1.length > 0) {
                        $("#txtdistrict").append("<option value='0' >--Select--</option>");
                        for (var i = 0; i < data1.length; i++) {
                            var stylesSelect = $('#txtdistrict');
                            stylesSelect.attr('disabled', false);
                            $("#txtdistrict").append("<option value=" + data1[i].district_gid + " >" + data1[i].dictrictcode + "</option>");
                        }
                    }
                }
                if (data.Data2 != "" && data.Data2 != null)
                {
                    var data2 = JSON.parse(data.Data2);
                    document.getElementById("txtgsttin").value = data2[0].branchgst_gstin;
                }
                if (data.length == 0) {
                    var stylesSelect = $('#txtdistrict');
                    stylesSelect.attr('disabled', true);
                    $('#btnsave').attr('disabled', true);
                }
            },
            error: function (result) {
                jAlert("Error.", "Error");
                return false;
            }
        });
    });




    $("#BranchCodeId").keyup(function () {
        var txtContractTo = $("#BranchCodeId").val();
        if (txtContractTo.trim() != "") {
            $("#BranchCodeId").removeClass('required');
            $("#BranchCodeId").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#BranchCodeId").removeClass('valid');
            $("#BranchCodeId").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#BranchAddress").keyup(function () {
        var txtContractTo = $("#BranchAddress").val();
        if (txtContractTo.trim() != "") {
            $("#BranchAddress").removeClass('required');
            $("#BranchAddress").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#BranchAddress").removeClass('valid');
            $("#BranchAddress").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#BranchNameId").keyup(function () {
        var txtContractTo = $("#BranchNameId").val();
        if (txtContractTo.trim() != "") {
            $("#BranchNameId").removeClass('required');
            $("#BranchNameId").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#BranchNameId").removeClass('valid');
            $("#BranchNameId").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#BranchTypeId").change(function () {
        var txtContractTo = $("#BranchTypeId").val();
        if (txtContractTo.trim() != "") {
            $("#BranchTypeId").removeClass('required');
            $("#BranchTypeId").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#BranchTypeId").removeClass('valid');
            $("#BranchTypeId").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#BranchId").change(function () {
        var txtContractTo = $("#BranchId").val();
        if (txtContractTo.trim() != "") {
            $("#BranchId").removeClass('required');
            $("#BranchId").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#BranchId").removeClass('valid');
            $("#BranchId").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#BranchTier").keyup(function () {
        var txtContractTo = $("#BranchTier").val();
        if (txtContractTo.trim() != "") {
            $("#BranchTier").removeClass('required');
            $("#BranchTier").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#BranchTier").removeClass('valid');
            $("#BranchTier").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#CityId").change(function () {
        var txtContractTo = $("#CityId").val();
        if (txtContractTo.trim() != "") {
            $("#CityId").removeClass('required');
            $("#CityId").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#CityId").removeClass('valid');
            $("#CityId").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#locationId").keyup(function () {
        var txtContractTo = $("#locationId").val();
        if (txtContractTo.trim() != "") {
            $("#locationId").removeClass('required');
            $("#locationId").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#locationId").removeClass('valid');
            $("#locationId").addClass('required');
            CheckFieldsHeader();
        }
    });
    $("#ActiveStatusId").change(function () {
        var txtContractTo = $("#ActiveStatusId").val();
        if (txtContractTo.trim() != "") {
            $("#ActiveStatusId").removeClass('required');
            $("#ActiveStatusId").addClass('valid');
            CheckFieldsHeader();
        }
        else {
            $("#ActiveStatusId").removeClass('valid');
            $("#ActiveStatusId").addClass('required');
        }
    });
    function CheckFieldsHeader() {

        var ErrCount = 0;
        if ($("#BranchIncharge").val().trim() == "" || $("#BranchIncharge").val() == null) {
            ErrCount = 11;
        }
        if ($("#ActiveStatusId").val().trim() == "" || $("#ActiveStatusId").val() == null) {

            ErrCount = 1;
        }
        if ($("#locationId").val().trim() == "" || $("#locationId").val() == null) {

            ErrCount = 2;
        }
        if ($("#CityId").val().trim() == "" || $("#CityId").val() == null) {

            ErrCount = 3;
        }
        if ($("#BranchId").val().trim() == "" || $("#BranchId").val() == null) {

            ErrCount = 5;
        }
        if ($("#BranchTypeId").val().trim() == "" || $("#BranchTypeId").val() == null) {

            ErrCount = 6;
        }
        if ($("#BranchNameId").val().trim() == "" || $("#BranchNameId").val() == null) {

            ErrCount = 7;
        }
        if ($("#BranchCodeId").val().trim() == "" || $("#BranchCodeId").val() == null) {

            ErrCount = 8;
        }
        if ($("#BranchAddress").val().trim() == "" || $("#BranchAddress").val() == null) {

            ErrCount = 9;
        }
        if ($("#BranchTier").val().trim() == "" || $("#BranchTier").val() == null) {

            ErrCount = 10;
        }
        if (ErrCount == 0) {

            $("#btnsave").removeAttr('disabled');
        }
        else {
            $("#btnsave").attr('disabled', 'disabled');
        }
    }
    function isNumber(evt) {
        alert("ss");
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    //function checkpin()
    //{         
    //    var element = document.getElementById("Pincode_id");
    //  //  var pinlist = (element.options[element.selectedIndex].text).split(',');
    //    var pinlist = (document.getElementById("Pincode_id").value).split(',');
        
    //    document.getElementById("txtdistrict").value = "";
    //    document.getElementById("txtstate").value = "";
    //    document.getElementById("txtgsttin").value = "";
         
           
    //        var district = pinlist[0];
    //        var state = pinlist[1];
    //        var gsttin = pinlist[2];
    //        var pincode_code = element.value;

    //        document.getElementById("txtdistrict").value = district;
    //        document.getElementById("txtstate").value = state;
    //        document.getElementById("txtgsttin").value = gsttin;        
       
    //}
   
 
</script>
