@using IEM.Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<style>
    /*table, th, td {
        white-space: nowrap;
    }*/
</style>
<div class="pageHeadingLayout">
    <span class="pageHeading">Address Label Printing</span>
</div>
<div class="well" style="padding:10px;">
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:25%; padding:3px 10px 3px 3px;">
                <span>PV From</span>
                <br />
                <input type="text"
                       id="txtPVFrom"
                       onkeypress="return isEvent(event)"
                       class="fstextbox" />
            </td>
            <td style="width:25%; padding:3px 10px;">
                <span>PV To</span>
                <br />
                <input type="text"
                       id="txtPVTo"
                       onkeypress="return isEvent(event)"
                       class="fstextbox" />
            </td>
            <td style="width:25%; padding:3px 10px;">
                <span>PV No</span>
                <br />
                <input type="text"
                       id="txtPVNo"
                       class="fstextbox" />

            </td>
            <td style="width:25%; padding:3px 10px 3px 3px;">
                <span>PV Amount</span>
                <br />
                <input type="text"
                       id="txtPVAmount"
                       @*onkeypress="return isNumberKey(event)"*@
                       class="fstextbox" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px 10px 3px 3px;">
                <span>Employee Code</span>
                <br />
                <input type="text"
                       id="txtEmployeeCode"
                       class="fstextbox" />
                <input type="hidden" value="0" id="hfEmployeeCode" />
            </td>
            <td style="padding:3px 10px;">
                <span>Employee Name</span>
                <br />
                <input type="text"
                       id="txtEmployeeName"
                       class="fstextbox" />
                <input type="hidden" value="0" id="hfEmployeeName" />
            </td>
            <td style="padding:3px 10px;">
                <span>Supplier Code</span>
                <br />
                <input type="text"
                       id="txtSupplierCode"
                       class="fstextbox" />
                <input type="hidden" value="0" id="hfSupplierCode" />
            </td>
            <td style="padding: 3px 10px 3px 3px;">
                <span>Supplier Name</span>
                <br />
                <input type="text"
                       id="txtSupplierName"
                       class="fstextbox" />
                <input type="hidden" value="0" id="hfSupplierName" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px 10px 3px 3px;">
                <span>Pay Mode</span>
                <br />
                <select id="ddlPayMode" class="fstextbox" data-bind="options: PaymentModeArray, optionsText: 'Text', optionsValue:'Id', value:0"></select>

            </td>
            <td style="padding:3px 10px;">
                <span>Claim Type</span>
                <br />
                <select id="ddlClaimType" class="fstextbox" data-bind="options: ClaimTypeArray, optionsText: 'Text', optionsValue:'Id', value:0, event:{ change:$root.ClaimTypeSelectChanged }"></select>


            </td>
            <td style="padding:3px 10px;">
                <span>Payment Batch No</span>
                <br />
                <input type="text"
                       id="txtPaymentBatchNo"
                       class="fstextbox" />
            </td>
            <td style="padding:3px 10px 3px 3px;">
                <span>Branch Name</span>
                <br />
                <input type="hidden" id="hfBranchName" value="0" />
                <input type="text"
                       id="txtBranchName"
                       name="txtBranchName"
                       class="fstextbox" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px 10px 3px 3px;">
            </td>
            <td style="padding:3px 10px;">
            </td>
            <td style="padding:3px 10px;">
            </td>
            <td style="padding:3px 10px 3px 3px; vertical-align:bottom; text-align:right;">
                <button class="btn btn-primary" accesskey="q" style="margin-top:10px;  color:white;" data-bind="click: $root.Search">
                    <span style="color:white; font-size:12px;" class="glyphicon glyphicon-search"></span>
                    Search
                </button>
                <button class="btn btn-warning" accesskey="c" style="margin-top:10px;  color:white;" data-bind="click: $root.Clear">
                    <span style="color:white; font-size:12px;" class="glyphicon glyphicon-remove-sign"></span>
                    Clear
                </button>
            </td>
        </tr>
    </table>

    <div class="table-responsive" style="margin-top: 15px;">
        <div style="max-height: 450px; overflow: auto; height:100%;">
            <table id="gvAddressPrinting" class="tableSmall table-bordered table-hover" data-bind="visible: LabelPrintingArray().length > 0">
                <thead>
                    <tr>
                        <th style="width:4%; min-width:40px;">
                            #
                        </th>
                        <th style="width:8%; min-width:80px;" class="colDate">
                            PV Date
                        </th>
                        <th style="width:10%; min-width:100px;">
                            PV No
                        </th>
                        <th style="width:8%; min-width:60px;">
                            Pay Mode
                        </th>
                        <th style="width:10%; min-width:100px;">
                            PV Amount
                        </th>
                        <th style="width:10%; min-width:80px;">
                            Claim Type
                        </th>
                        <th style="width:10%; min-width:100px;">
                            Supplier/Employee Code
                        </th>
                        <th style="width:15%; min-width:150px;">
                            Supplier/Employee Name
                        </th>
                        <th style="width:8%; min-width:80px;">
                            Payment BatchNo
                        </th>
                        <th style="width:11%; min-width:100px;">
                            Raiser Branch
                        </th>
                        <th style="width:6%; min-width:80px;" class="nosort">
                            Select <input type="checkbox" id="chkHSelete">
                        </th>
                    </tr>
                </thead>
                <tbody id="ContentPrintAddress" data-bind="foreach:{ data: LabelPrintingArray, afterRender: DatatableCall }, visible: LabelPrintingArray().length > 0">
                    <tr>
                        <td align="center">
                            <span data-bind="text: SlNo"></span>
                        </td>
                        <td align="center">
                            <span data-bind="text: PVDate"></span>
                        </td>
                        <td align="center">
                            <span data-bind="text: PVNo"></span>
                        </td>
                        <td align="left">
                            <span data-bind="text: PayMode"></span>
                        </td>
                        <td align="right">
                            <span data-bind="text: $root.formatNumber(PVAmount)"></span>
                        </td>
                        <td align="center">
                            <span data-bind="text: ClaimType"></span>
                        </td>
                        <td>
                            <span data-bind="text: EmployeeSupplierCode"></span>
                        </td>
                        <td>
                            <span data-bind="text: EmployeeSupplierName"></span>
                        </td>
                        <td>
                            <span data-bind="text: PaymentBatchNo"></span>
                        </td>
                        <td>
                            <span data-bind="text: branchName"></span>
                        </td>
                        <td align="center">
                            <input type="checkbox" data-bind="attr: { name: 'chk_'+ PvId, id: 'chk_'+ PvId }, event:{ change:$root.checkChange }">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div>
        <button class="btn btn-primary" accesskey="p" style="margin-top:10px;  color:white;" data-bind="click: $root.PrintBranchAddress, visible: LabelPrintingArray().length > 0">
            <span style="color:white; font-size:12px;" class="glyphicon glyphicon-print"></span>
            Print Branch Address Label
        </button>
        <button class="btn btn-primary" accesskey="r" style="margin-top:10px;  color:white;" data-bind="click: $root.PrintSupplierAddress, visible: LabelPrintingArray().length > 0">
            <span style="color:white; font-size:12px;" class="glyphicon glyphicon-print"></span>
            Print Supplier Address Label
        </button>
    </div>
</div>
<script>
    var UrlDet = "@Url.Action("GetAddressLabelPrint", "AddressLabelPrinting")"
    var UrlHelper = "@Url.Action("GetAutoCompleteCourier", "Helper")"
</script>
<script src="@Url.Content("~/Areas/FLEXISPEND/FS_UserScript/jsAddressLabelPrinting.js")" type="text/javascript"></script>