@{
    ViewBag.Title = "CBFSelection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>



<div style="padding-top:10px;">

</div>
<span class="pageHeading">PO CBF Selection</span>
@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    
<div class="well" style="padding:10px;">

    <div style="min-height :500px;font-size:12px;">
        <div style="width:100%; margin-bottom:15px;">
            <span class="pageHeading" style="font-size:13px;">CBF Header</span>
            <table class="myTableStyleTab" style="width:100%; border-top: 1px solid #ccc;display:none;">
                <tr>
                    <td style="padding:10px 5px 10px 0px; width:20%;">
                        <span>CBF No</span>
                        <br />
                        <input type="text" class="fstextbox" id="txtCBFNo" />
                    </td>
                    <td style="padding:10px 5px; width:20%;">
                        <span>CBF Date</span>
                        <br />
                        <input type="text" class="fstextbox" id="txtCBFDate" />
                    </td>

                    <td style="padding:10px 5px; width:20%;">
                        <span>CBF End Date</span>
                        <br />
                        <input type="text" class="fstextbox" id="txtCBFEndDate" />
                    </td>

                    <td style="padding:10px 5px; width:20%;">
                        <span>Department</span>
                        <br />
                        <select class="fstextbox" data-bind="foreach: {data: RequestByArray}" id="ddlDepartment">
                            <option data-bind="attr: {value: Id}, text: Combo"></option>
                        </select>
                    </td>

                    <td style="padding:10px 0px 10px 5px; width:20%;">
                        <button data-bind="click: function() { $root.GetCBFSearch(1);}" class="btn btn-primary" style="font-size:12px;" type="button" name="command" title="Search" value="SEARCH">
                            <span class="glyphicon glyphicon-search" style="color:white;"> </span>Search
                        </button>
                        <button data-bind="click: function() { $root.GetCBFSearch(0);}" type="button" class="btn btn-primary" style="font-size:12px;" value="Cancel">
                            <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Clear
                        </button>
                    </td>
                </tr>

            </table>
            <div class="table-responsive" style="overflow: auto; margin-bottom: 20px;">
                <table id="CBFHeaderGrid" class="tableSmall table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:3%; min-width:30px;">
                                #
                            </th>
                            <th style="width:5%; min-width:80px;">
                                CBF Mode
                            </th>
                            <th style="width:5%; min-width:80px;">
                                CBF Type
                            </th>
                            <th style="width:6%; min-width:100px;">
                                CBF No
                            </th>
                            <th style="width:5%; min-width:80px;" class="colDate">
                                CBF Date
                            </th>
                            <th style="width:5%; min-width:100px;" class="colDate">
                                CBF End Date
                            </th>
                            <th style="width:5%; min-width:100px;">
                                Department
                            </th>
                            <th style="width:4%; min-width:80px;">
                                Budgeted
                            </th>
                            <th style="width:10%; min-width:120px;">
                                Project Owner
                            </th>
                            <th style="width:7%; min-width:100px;">
                                CBF Amount
                            </th>
                            <th style="width:7%; min-width:120px;">
                                Utilized Amount
                            </th>
                            <th style="width:7%; min-width:120px;">
                                Balance Amount
                            </th>
                            <th style="width:10%; min-width:120px;">
                                Status
                            </th>
                            <th style="width:15%; min-width:150px;" >
                                Description
                            </th>
                            <th style="width:6%; min-width:60px;" class="nosort">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: {data: POCBFHeaderArray, afterRender: DatatableCall}">
                        <tr data-bind="attr:{id: 'CBFHeader' + CBFGId}">
                            <td align="center">
                                <span data-bind="text: $index() + 1"></span>
                            </td>
                            <td>
                                <span data-bind="text: CBFMode"></span>
                            </td>
                            <td>
                                <span data-bind="text: CBFType"></span>
                            </td>
                            <td>
                                <span data-bind="text: CBFNo"></span>
                            </td>
                            <td>
                                <span data-bind="text: CBFDate"></span>
                            </td>
                            <td>
                                <span data-bind="text: CBFEndDate"></span>
                            </td>
                            <td>
                                <span data-bind="text: Department"></span>
                            </td>
                            <td>
                                <span data-bind="text: 'Budgeted'"></span>
                            </td>
                            <td>
                                <span data-bind="text: ProductOwner"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: CBFAmount"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: UtilizedAmount"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: BalanceAmount"></span>
                            </td>
                            <td>
                                <span data-bind="text: Status"></span>
                            </td>
                            <td>
                                <span data-bind="text: Description"></span>
                            </td>
                            <td align="center" class="viewStatus">
                                <a style="cursor:pointer; color: #116BAC;" data-bind="click: function() { $root.POCBFSelect(CBFGId);}">Select</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <span class="pageHeading" style="font-size:13px;">CBF Details</span>

            <div class="table-responsive" style="overflow: auto;">  @*Pandiaraj 21-05-2019*@
                <table id="CBFDetailsGrid1" class="tableSmall table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:3%; min-width:30px;">
                                #
                            </th>
                            <th style="width:8%; min-width:120px;">
                                CBF No
                            </th>
                            <th style="width:8%; min-width:100px;">
                                Product Code
                            </th>
                            <th style="width:12%; min-width:150px;">
                                Product Name
                            </th>
                            <th style="width:15%; min-width:150px;">
                                Description
                            </th>
                            <th style="width:5%; min-width:80px;">
                                UOM
                            </th> 
                            <th style="width:5%; min-width:80px;">
                                Unit Price
                            </th>
                            <th style="width:5%; min-width:100px;">
                                Total
                            </th>
                            <th style="width:5%; min-width:120px;">
                                Utilized Amount
                            </th>
                            <th style="width:5%; min-width:120px;">
                                Balance Amount
                            </th>
                            <th style="width:15%; min-width:150px;">
                                Vendor Name
                            </th>
                            <th style="width:5%; min-width:80px;">
                                BOQ
                            </th>
                            <th style="width:4%; min-width:60px;">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: {data: POCBFDetailsArray1}">
                        <tr data-bind="attr:{id: 'CBFDetails' + CBFDetailsId}">
                            <td align="center">
                                <span data-bind="text: $index() + 1"></span>
                            </td>
                            <td>
                                <span data-bind="text: CBFNo"></span>
                            </td>
                            <td>
                                <span data-bind="text: ProductCode"></span>
                            </td>
                            <td>
                                <span data-bind="text: ProductName"></span>
                            </td>
                            <td>
                                <span data-bind="text: ProductDesc"></span>
                            </td>
                            <td>
                                <span data-bind="text: UOM"></span>
                            </td> 
                            <td align="right">
                                <span data-bind="text: UnitPrice"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: Total"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: UtilizedAmount"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: BalanceAmount"></span>
                            </td>
                            <td>
                                <span data-bind="text: Supplier"></span>
                            </td>
                            <td align="center">
                                <a style="cursor:pointer; color: #116BAC;" data-bind="click: function() { $root.CBFDetailsBOQ(CBFDetailsId);}">View BOQ</a>
                            </td>
                            <td align="center">
                                <input type="checkbox" data-bind="attr:{id: 'rdoCBFDetails' + CBFDetailsId}, click: $root.POCBFDetailSelect, disable: BalanceAmount <= 0" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive" style="overflow: auto;">
                <table id="CBFDetailsGrid" class="tableSmall table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:3%; min-width:30px;">
                                #
                            </th>
                            <th style="width:8%; min-width:120px;">
                                CBF No
                            </th>
                            <th style="width:8%; min-width:100px;">
                                Product Code
                            </th>
                            <th style="width:12%; min-width:150px;">
                                Product Name
                            </th>
                            <th style="width:15%; min-width:150px;">
                                Description
                            </th>
                            <th style="width:5%; min-width:80px;">
                                UOM
                            </th>
                            @*<th style="width:5%; min-width:80px;">
                                Qty
                            </th>*@
                            <th style="width:5%; min-width:80px;">
                                Unit Price
                            </th>
                            <th style="width:5%; min-width:100px;">
                                Total
                            </th>
                            <th style="width:5%; min-width:120px;">
                                Utilized Amount
                            </th>
                            <th style="width:5%; min-width:120px;">
                                Balance Amount
                            </th>
                            <th style="width:15%; min-width:150px;">
                                Vendor Name
                            </th>
                            <th style="width:5%; min-width:80px;">
                                BOQ
                            </th>
                            <th style="width:4%; min-width:60px;">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: {data: POCBFDetailsArray}">
                        <tr data-bind="attr:{id: 'CBFDetails' + CBFDetailsId}">
                            <td align="center">
                                <span data-bind="text: $index() + 1"></span>
                            </td>
                            <td>
                                <span data-bind="text: CBFNo"></span>
                            </td>
                            <td>
                                <span data-bind="text: ProductCode"></span>
                            </td>
                            <td>
                                <span data-bind="text: ProductName"></span>
                            </td>
                            <td>
                                <span data-bind="text: ProductDesc"></span>
                            </td>
                            <td>
                                <span data-bind="text: UOM"></span>
                            </td>
                            @*<td align="center">
                                <span data-bind="text: Qty"></span>
                            </td>*@
                            <td align="right">
                                <span data-bind="text: UnitPrice"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: Total"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: UtilizedAmount"></span>
                            </td>
                            <td align="right">
                                <span data-bind="text: BalanceAmount"></span>
                            </td>
                            <td>
                                <span data-bind="text: Supplier"></span>
                            </td>
                            <td align="center">
                                <a style="cursor:pointer; color: #116BAC;" data-bind="click: function() { $root.CBFDetailsBOQ(CBFDetailsId);}">View BOQ</a>
                            </td>
                            <td align="center">
                                <input type="checkbox" data-bind="attr:{id: 'rdoCBFDetails' + CBFDetailsId}, disable: BalanceAmount <= 0" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div style="width:100%; text-align:center; margin-top:20px;">
        <button data-bind="click: function() { $root.SubmitCBFSelection();}" class="btn btn-success" style="font-size:13px;" type="button" title="Save">
            <span class="glyphicon glyphicon-floppy-saved" style="color:white; font-size: 14px; margin-right: 5px;"> </span>Submit
        </button>
        <button onclick="return CancelProcess();" class="btn btn-warning" style="font-size:12px;" type="button" title="Clear">
            <span class="glyphicon glyphicon-remove-sign" style="color:white; font-size: 13px; margin-right: 5px;"> </span>Cancel
        </button>
    </div>
</div>
}

<div style="width:100%; display:none;" id="CBFDetailsAttachment">
    <div style="width:100%; height:250px;" class="table-responsive">
        <table class="tableSmall table-bordered table-hover" style="margin-top:10px;">
            <thead>
                <tr>
                    <th style="width:5%; min-width:40px;">
                        #
                    </th>
                    <th style="width:10%; min-width:120px;">
                        Attachment Date
                    </th>
                    <th style="width:25%; min-width:100px;">
                        File Name
                    </th>
                    <th style="width:50%; min-width:150px;">
                        Description
                    </th>
                    <th style="width:5%; min-width:50px;">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: CBFDetailsAttachmentArray}">
                <tr>
                    <td align="center">
                        <span data-bind="text: $index() + 1"></span>
                    </td>
                    <td>
                        <span data-bind="text: Date"></span>
                    </td>
                    <td>
                        <span data-bind="text: FileName"></span>
                    </td>
                    <td>
                        <span data-bind="text: Description"></span>
                    </td>
                    <td align="center">
                        <span title="view" data-bind="click: function() { $root.AttachmentDownLoad(AttachmentGId, FileName); }" style="margin-left:3px; margin-right:3px; cursor:pointer;"> <span class="glyphicon glyphicon-eye-open"> </span> </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="width:100%; text-align:center; margin-top:20px;">
        <button onclick="return CloaseDialog(0);" class="btn btn-warning" style="font-size:12px;" type="button" title="Clear">
            <span class="glyphicon glyphicon-remove-sign" style="color:white; font-size: 13px; margin-right: 5px;"> </span>Cancel
        </button>
    </div>
    <form id="frmDeactivation" style="display:none;">
        @Html.AntiForgeryToken()
        <input class="txtUploadSupAttachmentFile fstextbox" id="txtCBFUploadFile" name="txtCBFUploadFile" type="file" value="" style="border:0px; display:none;">
    </form>
</div>



<input type="hidden" value="0" id="hfCBF" />

<script>
    var UrlDet = "@Url.Action("CBFSelection", "PO")"
    var UrlHelper = "@Url.Action("GetProjectOwner", "FBHelper")"
    var UrlSuccess = "@Url.Action("RaisePO", "PO")"
    @*var UrlReturn = "@Url.Action("CbfSummaryIndex", "CbfSummary")"*@
    function CancelProcess()
    {
        location = "@Url.Action("index", "poheader")";
    }

</script>
<script src="@Url.Content("~/Areas/FLEXIBUY/FS_UserScript/jsCBFSelection.js")" type="text/javascript"></script>

