@model IEM.Areas.IFAMS.Models.CWIPModel
@{
    var viewfor = (string)ViewBag.viewfor;
    if (viewfor == "edit")
    {
        ViewBag.viewmode = "";
    }
    else if (viewfor == "view")
    {
        ViewBag.viewmode = "disabled";
    }

}


<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm())
{
    

    <table class="myTableStyleTabNew">
        <tr>
            <td colspan="2" style="display:none;">
                <input name="cwip_gid" id="cwip_gid" type="text" disabled="disabled" placeholder="gid" data-val="true" value="@Model.cwip_gid" class=" textboxstyle" style="display: block;" />

            </td>
        </tr>

        <tr>
            <td>
                <span> Group Id</span>
                <br />
                <div id="txtcwip_group_id">
                    <input name="cwip_group_id" maxlength="128" id="cwip_group_id" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_group_id" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Asset Id</span>
                <br />
                <div id="txtcwip_asset_id">
                    <input name="cwip_asset_id" maxlength="16" id="cwip_asset_id" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_id" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Asset Code</span>
                <br />
                <div id="txtcwip_asset_code">
                    <input name="cwip_asset_code" maxlength="128" id="cwip_asset_code" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_code" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Quantity</span>
                <br />
                <div id="txcwip_quantity">
                    <input name="cwip_quantity" maxlength="16" id="cwip_quantity" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_quantity" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Branch</span>
                <br />
                <div id="txtcwip_branch_code">
                    <input name="cwip_branch_code" maxlength="128" id="cwip_branch_code" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_branch_code" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>

        </tr>

        <tr>
            <td>
                <span> Category</span>
                <br />
                <div id="txtcwip_asset_cat">
                    <input name="cwip_asset_cat" maxlength="128" id="cwip_asset_cat" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_cat" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span>Depreciation GL Code</span>
                <br />
                <div id="txtcwip_asset_depglcode">
                    <input name="cwip_asset_depglcode" maxlength="16" id="cwip_asset_depglcode" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_depglcode" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> GL Code</span>
                <br />
                <div id="txtcwip_asset_glcode">
                    <input name="cwip_asset_glcode" maxlength="128" id="cwip_asset_glcode" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_glcode" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span>PV GL No</span>
                <br />
                <div id="txtcwip_asset_resglcode">
                    <input name="cwip_asset_resglcode" maxlength="16" id="cwip_asset_resglcode" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_resglcode" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Department</span>
                <br />
                <div id="txtcwip_department">
                    <input name="cwip_department" maxlength="128" id="cwip_department" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_department" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <span> BS</span>
                <br />
                <div id="txtcwip_bs">
                    <input name="cwip_bs" maxlength="128" id="cwip_bs" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_bs" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> CC</span>
                <br />
                <div id="txtcwip_cc">
                    <input name="cwip_cc" maxlength="16" id="cwip_cc" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_cc" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> ECF No</span>
                <br />
                <div id="txtcwip_ecf_number">
                    <input name="cwip_ecf_number" maxlength="128" id="cwip_ecf_number" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_ecf_number" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> PO No</span>
                <br />
                <div id="txtcwip_po_number">
                    <input name="cwip_po_number" maxlength="16" id="cwip_po_number" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_po_number" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> CBF No</span>
                <br />
                <div id="txtcwip_cbf_number">
                    <input name="cwip_cbf_number" maxlength="128" id="cwip_cbf_number" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_cbf_number" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <span> Asset Value</span>
                <br />
                <div id="txtcwip_asset_value">
                    <input name="cwip_asset_value" maxlength="128" id="cwip_asset_value" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_value" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Depreciation Rate</span>
                <br />
                <div id="txtcwip_depr_rate">
                    <input name="cwip_depr_rate" maxlength="16" id="cwip_depr_rate" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_depr_rate" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Inward Date</span>
                <br />
                <div id="txtcwip_inward_date">
                    <input name="cwip_inward_date" maxlength="128" id="cwip_inward_date" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_inward_date" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td>
                <span> Manufacturer name</span>
                <br />
                <div id="txtcwip_manft_name">
                    <input name="cwip_manft_name" maxlength="16" id="cwip_manft_name" type="text" @ViewBag.viewmode data-val="true" @ViewBag.viewmode value="@Model.cwip_manft_name" class="textboxStyle valid " style="display: block;" />
               
                 </div>
            </td>
            <td>
                <span> Serail No</span>
                <br />
                <div id="txtcwip_serial_number">
                    <input name="cwip_serial_number" maxlength="128" id="cwip_serial_number" type="text" @ViewBag.viewmode data-val="true" @ViewBag.viewmode value="@Model.cwip_serial_number" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span> Capitalization Date</span>
                <br />
                <div id="txtcwip_capitalisation_date">
                    <input name="cwip_capitalisation_date" maxlength="128" id="cwip_capitalisation_date" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_capitalisation_date" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td colspan="2">
                <span> Supplier Name</span>
                <br />
                <div id="txtcwip_supplier_name">
                    <input name="cwip_supplier_name" maxlength="16" id="cwip_supplier_name" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_supplier_name" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>
            <td colspan="2">
                <span>Asset Desceription</span>
                <br />
                <div id="txtcwip_asset_descp">
                    <input name="cwip_asset_descp" maxlength="128" id="cwip_asset_descp" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_asset_descp" class="textboxStyle valid " style="display: block;" />
                </div>
            </td></tr>
            <tr>
            <td colspan="5">
                <span>Desceription</span>
                <br />
                <div id="txtcwip_description">
                    <input name="cwip_description" maxlength="16" id="cwip_description" type="text" disabled="disabled" data-val="true" @ViewBag.viewmode value="@Model.cwip_description" class="textboxStyle valid " style="display: block;" />
                </div>
            </td>

        </tr>
    @*</table>
    <br />
    <table class="myTableStyleTabNew" width="100%">*@
        <tr>
            <td style="text-align:right; width:100%;" colspan="5">

                @if (@ViewBag.viewmode == "")
                {
                    <button type="button" disabled="disabled" id="btnsave" class="btn btn-primary" value="Save" onclick="UpdateDocGrp()"><span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save</button>
                }
                
                    <button type="button" class="btn btn-warning" value="Close" onclick="goToIndex()"><span style="color:white;" class="glyphicon glyphicon-remove"></span> Close</button>
                

            </td>
        </tr>
    </table>

}
<script type="text/javascript">
    $(document).ready(function () {
       
        });
        CheckFields();
        $("#cwip_manft_name").focus();
        $("#cwip_manft_name").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#cwip_serial_number").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
   

    $("#cwip_serial_number,#cwip_manft_name").keyup(function (e) {
        var _data = $(this).val();
        CheckFields();
        $(this).removeClass('required').removeClass('valid');
        if (_data.trim() != "")
            $(this).addClass('valid');
        else
            $(this).addClass('required');
    });

    function UpdateDocGrp() {
         
        var cwip_serial_number = $("#cwip_serial_number").val();
        var cwip_manft_name = $("#cwip_manft_name").val();      
        var cwip_gid = $("#cwip_gid").val();        
        var Model = {
            "cwip_gid": cwip_gid
            , "cwip_serial_number": cwip_serial_number.trim()
            , "cwip_manft_name": cwip_manft_name.trim()            
        };
        $.post('../CWIPinward/Edit_View', Model,
        function (data) {
            if (data == "Success") {
                jAlert("Record Updated Successfully!!", "Message", function (r) {
                    if (r == true) {
                        goToIndex();
                    }
                });

            }
        }, 'json');
    }

   

 
    function goToIndex() {        
        window.parent.jQuery('#partialViewCWIP').dialog('close');
        window.parent.jQuery('#forAttachment').dialog('close');
    }

    function CheckFields() {
        var ErrCount = 0;
        if ($("#cwip_serial_number").val().trim() == "" || $("#cwip_serial_number").val() == null) {
            ErrCount = 1;
        }
        else if ($("#cwip_manft_name").val().trim() == "" || $("#cwip_manft_name").val() == null) {
            ErrCount = 2;
        }      
        else {
            ErrCount = 0;
        }      

        if (ErrCount == 0) {
            $("#btnsave").removeAttr('disabled');
        }
        else {
            $("#btnsave").attr('disabled', true);
            $("#btnsave").attr('disabled', 'disabled');
        }
    }
</script>

