@model IEM.Areas.Dashboard.Models.EProcurePDFModel

<!-- CBF -->
@if (Model.DocType != null && Model.DocType == "CBF")
{
<table class="myTableStyleTabNew" style="width:100%;">
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>CBF No</span>
            <br />
            <input type="text" value="@Model.CBFDoc.CBFNo"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>CBF Date</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.CBFDoc.CBFDate" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:0px 5px;">
            <span>Raiser Code/Name</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.CBFDoc.Raiser" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Request For</span>
            <br />
            <input type="text" value="@Model.CBFDoc.RequestFor"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>CBF Amount</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.CBFDoc.CBFAmount" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>CBF Mode</span>
            <br />
            <input type="text" value="@Model.CBFDoc.CBFMode"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>PAR / PR #</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.CBFDoc.PARPRNo" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>PAR / PR  Amount</span>
            <br />
            <input type="text" value="@Model.CBFDoc.PARPRAmt"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>CBF Approval</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.CBFDoc.CBFApproval" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Budgeted</span>
            <br />
            <input type="text" value="@Model.CBFDoc.Budgeted"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>Branch</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.CBFDoc.Branch" style="width:100%; " />
        </td>
    </tr>
    @if (Model.CBFDoc.ProductList != null && Model.CBFDoc.ProductList.Count > 0)
    {
    <tr>
        <td colspan="2" style="width: 100%; padding-top: 15px; padding-bottom: 15px;">
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="min-width: 80px; max-width: 80px; padding-left: 10px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Prod/Service
                    </th>
                    <th style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Product Group
                    </th>
                    <th style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Product Name
                    </th>
                    <th style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Description
                    </th>
                    <th style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        UOM
                    </th>
                    <th style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Qty
                    </th>
                    <th style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Amount
                    </th>
                    <th style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        GL Code
                    </th>
                    <th style="min-width: 140px; max-width: 140px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        CC
                    </th>
                    <th style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Budget Line
                    </th>
                </tr>

                @foreach (var item in Model.CBFDoc.ProductList)
                {
                <tr>
                    <td style="min-width: 80px; max-width: 80px; padding-left: 10px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Type</span>
                    </td>
                    <td style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.ProductServiceGroup</span>
                    </td>
                    <td style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.ProductServiceName</span>
                    </td>
                    <td style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.ProductServiceDesc</span>
                    </td>
                    <td style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.UOM</span>
                    </td>
                    <td style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Qty</span>
                    </td>
                    <td style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Amount</span>
                    </td>
                    <td style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.GLCode</span>
                    </td>
                    <td style="min-width: 140px; max-width: 140px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.CC@item.CC@item.CC</span>
                    </td>
                    <td style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.BudgetedLine</span>
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    }
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>CBF Justification</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.CBFDoc.CBFJustification</textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Previous Approver Code/Name</span>
            <br />
            <input type="text" value="@Model.CBFDoc.PreviousApprover"
                   class="textboxStyleBig" style="width:100%;" />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Previous Approver Remarks</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.CBFDoc.PreviousApproverComment</textarea>
        </td>
    </tr>
</table>
}

<!-- PO/WO -->
@if (Model.DocType != null && (Model.DocType == "PO" || Model.DocType == "WO"))
{
<table class="myTableStyleTabNew" style="width:100%;">
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>PO No</span>
            <br />
            <input type="text" value="@Model.PODoc.PONo"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>PO Date</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PODoc.PODate" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:0px 5px;">
            <span>Raiser Code/Name</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PODoc.Raiser" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:0px 5px;">
            <span>Supplier Code/Name</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PODoc.Supplier" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            @if(Model.DocType == "PO") {
            <span>CBF No</span>
            } else {
            <span>OBF No</span>
            }
            <br />
            <input type="text" value="@Model.PODoc.CBFNo"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            @if (Model.DocType == "PO") {
            <span>CBF Line Amount</span>
            } else {
            <span>OBF Line Amount</span>
            }
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PODoc.CBFLineAmount" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Mode</span>
            <br />
            <input type="text" value="@Model.PODoc.Mode"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>PAR / PR #</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PODoc.PARPRNo" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Branch Type</span>
            <br />
            <input type="text" value="@Model.PODoc.BranchType"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>Branch</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PODoc.BranchName" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>CC</span>
            <br />
            <input type="text" value="@Model.PODoc.CC"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            @if (Model.DocType == "PO") {
            <span>PO Amount</span>
            } else {
            <span>WO Amount</span>
            }
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PODoc.POAmount" style="width:100%; " />
        </td>
    </tr>
    @if (Model.PODoc.ProductList != null && Model.PODoc.ProductList.Count > 0)
    {
    <tr>
        <td colspan="2" style="width: 100%; padding-top: 15px; padding-bottom: 15px;">
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="min-width: 180px; max-width: 180px; padding-left: 10px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Product Name
                    </th>
                    <th style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Description
                    </th>
                    <th style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        UOM
                    </th>
                    <th style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Unit Price
                    </th>
                    <th style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Qty
                    </th>
                    <th style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Discount
                    </th>
                    <th style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Tax
                    </th>
                    <th style="min-width: 140px; max-width: 140px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Others
                    </th>
                    <th style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Total Amount
                    </th>
                </tr>

                @foreach (var item in Model.PODoc.ProductList)
                {
                <tr>
                    <td style="min-width: 180px; max-width: 180px; padding-left: 10px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Product</span>
                    </td>
                    <td style="min-width: 180px; max-width: 180px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Description</span>
                    </td>
                    <td style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.UOM</span>
                    </td>
                    <td style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.UnitPrice</span>
                    </td>
                    <td style="min-width: 80px; max-width: 80px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Qty</span>
                    </td>
                    <td style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Discount</span>
                    </td>
                    <td style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Tax</span>
                    </td>
                    <td style="min-width: 140px; max-width: 140px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Others</span>
                    </td>
                    <td style="min-width: 100px; max-width: 100px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.TotalAmount</span>
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    }
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Previous Approver Code/Name</span>
            <br />
            <input type="text" value="@Model.PODoc.PreviousApprover"
                   class="textboxStyleBig" style="width:100%;" />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Previous Approver Remarks</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.PODoc.PreviousApproverComment</textarea>
        </td>
    </tr>
</table>
}

<!-- PAR -->
@if (Model.DocType != null && Model.DocType == "PAR")
{
<table class="myTableStyleTabNew" style="width:100%;">
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>PAR No</span>
            <br />
            <input type="text" value="@Model.PARDoc.PARNo"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>PAR Date</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PARDoc.PARDate" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:0px 5px;">
            <span>Raiser Code/Name</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PARDoc.Raiser" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Budgeted</span>
            <br />
            <input type="text" value="@Model.PARDoc.Budgeted"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>PAR Amount</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PARDoc.PARAmount" style="width:100%; " />
        </td>
    </tr>
    @if (Model.PARDoc.ProductList0 != null && Model.PARDoc.ProductList0.Count > 0)
    {
    <tr>
        <td colspan="2" style="width: 100%; padding-top: 15px; padding-bottom: 15px;">
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="text-align: left; padding-left: 10px; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Type
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        FY From
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        FY To
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Amount
                    </th>
                </tr>
                @foreach (var item in Model.PARDoc.ProductList0)
                {
                <tr>
                    <td style="text-align: left; padding-left: 10px; border-bottom: 1px solid black;">
                        <span>@item.Type</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.FYFrom</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.FYTo</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Amount</span>
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    }
    @if (Model.PARDoc.ProductList1 != null && Model.PARDoc.ProductList1.Count > 0)
    {
    <tr>
        <td colspan="2" style="width: 100%; padding-top: 15px; padding-bottom: 15px;">
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="text-align: left; padding-left: 10px; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Approver Code
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Approver Name
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Date Of Approval
                    </th>
                </tr>
                @foreach (var item in Model.PARDoc.ProductList1)
                {
                <tr>
                    <td style="text-align: left; padding-left: 10px; border-bottom: 1px solid black;">
                        <span>@item.Code</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Name</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Date</span>
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    }
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Raiser Comments</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.PARDoc.RaiserComment</textarea>
        </td>
    </tr>
</table>
}

<!-- PR -->
@if (Model.DocType != null && Model.DocType == "PR")
{
    <table class="myTableStyleTabNew" style="width:100%;">
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>PR No</span>
            <br />
            <input type="text" value="@Model.PRDoc.RefNo"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>PR Date</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PRDoc.RefDate" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:0px 5px;">
            <span>Raiser Code/Name</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PRDoc.Raiser" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Budgeted</span>
            <br />
            <input type="text" value="@Model.PRDoc.IsBudgeted"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        
        <td style="width:50%; padding:0px 5px;">
            <span>PR Amount</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PRDoc.Amount" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Request For</span>
            <br />
            <input type="text" value="@Model.PRDoc.RequestFor"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>CAPEX / OPEX</span>
            <br />
            <input type="text" value="@Model.PRDoc.ExpenseType"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>BS & CC</span>
            <br />
            <input type="text" value="@Model.PRDoc.BSCC"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>Branch</span>
            <br />
            <input type="text"
                   class="textboxStyleBig" value="@Model.PRDoc.BranchName" style="width:100%; " />
        </td>
    </tr>
    @if (Model.PRDoc.ProductList != null && Model.PRDoc.ProductList.Count > 0)
    {
    <tr>
        <td colspan="2" style="width: 100%; padding-top: 15px; padding-bottom: 15px;">
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="min-width: 220px; max-width: 220px; padding-left: 10px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Product Name
                    </th>
                    <th style="min-width: 220px; max-width: 220px; text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Description
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        UOM
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Qty
                    </th>
                    <th style="text-align: left; border-bottom: 1px solid black; border-top: 1px solid black; ">
                        Amount
                    </th>
                </tr>
                @foreach (var item in Model.PRDoc.ProductList)
                {
                <tr>
                    <td style="min-width: 220px; max-width: 220px; padding-left: 10px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Product</span>
                    </td>
                    <td style="min-width: 220px; max-width: 220px; text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Description</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.UOM</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Qty</span>
                    </td>
                    <td style="text-align: left; border-bottom: 1px solid black;">
                        <span>@item.Amount</span>
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    }
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Raiser Comments</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.PRDoc.RaiserComments</textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Previous Approver Code/Name</span>
            <br />
            <input type="text" value="@Model.PRDoc.PreviousApprover"
                   class="textboxStyleBig" style="width:100%;" />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:3px 5px;">
            <span>Previous Approver Remarks</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.PRDoc.PreviousApproverComment</textarea>
        </td>
    </tr>
</table>
}