@model IEM.Areas.Dashboard.Models.ASMSPDFModel

@if (Model != null)
{
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td colspan="2" style="width:100%; padding:0px 5px;">
                <span>Supplier Code/Name</span>
                <br />
                <input type="text" value="@Model.Supplier"
                       class="textboxStyleBig" style="width:100%; " />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:100%; padding:0px 5px;">
                <span>Raiser Code/Name</span>
                <br />
                <input type="text" value="@Model.Raiser"
                       class="textboxStyleBig" style="width:100%; " />
            </td>
        </tr>
        @if (Model.ASMSType.ToLower() == "renewal")
    {
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Prev. Contract Start Date</span>
            <br />
            <input type="text" value="@Model.PreviousContractFrom"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>Prev. Contract End Date</span>
            <br />
            <input type="text" value="@Model.PreviousContractTo"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
    </tr>
    }
        <tr>
            <td style="width:50%; padding:0px 5px;">
                <span>Contract Start Date</span>
                <br />
                <input type="text" value="@Model.ContractFrom"
                       class="textboxStyleBig" style="width:100%; " />
            </td>
            <td style="width:50%; padding:0px 5px;">
                <span>Contract End Date</span>
                <br />
                <input type="text" value="@Model.ContractTo"
                       class="textboxStyleBig" style="width:100%; " />
            </td>
        </tr>
        @if (Model.ASMSType.ToLower() == "activation")
    {
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Activation From</span>
            <br />
            <input type="text" value="@Model.ActivationFrom"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>Activation To</span>
            <br />
            <input type="text" value="@Model.ActivationTo"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%; padding:0px 5px;">
            <span>Activation Reason</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.ActivateReason</textarea>
        </td>
    </tr>
    }
        @if (Model.ASMSType.ToLower() == "deactivation")
{
    <tr>
        <td colspan="2" style="width:100%; padding:0px 5px;">
            <span>De-Activation Reason</span>
            <br />
            <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.DeActivateReason</textarea>
        </td>
    </tr>
}
        @if (Model.ASMSType.ToLower() == "onboarding" || Model.ASMSType.ToLower() == "renewal")
    {
    <tr>
        <td style="width:50%; padding:0px 5px;">
            <span>Approx Contract Value</span>
            <br />
            <input type="text" value="@Model.ApproxContractValue"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
        <td style="width:50%; padding:0px 5px;">
            <span>GSTIN Provided</span>
            <br />
            <input type="text" value="@Model.GSTINProvided"
                   class="textboxStyleBig" style="width:100%; " />
        </td>
    </tr>
    }
        <tr>
            <td colspan="2" style="width:100%; padding:0px 5px;">
                <span>Raiser Reason</span>
                <br />
                <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.RaiserComments</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:100%; padding:0px 5px;">
                <span>Previous Approver Code/Name</span>
                <br />
                <input type="text" value="@Model.PreviousApprover"
                       class="textboxStyleBig" style="width:100%; " />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:100%; padding:0px 5px;">
                <span>Previous Approver Remarks</span>
                <br />
                <textarea rows="2" class="txtboxStyleBig" style="width:100%; background-color: white; border-radius: 4px;">@Model.PreviousApproverRemarks</textarea>
            </td>
        </tr>
    </table>
}