@model IEM.Areas.MASTERS.Models.OrgTypeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model.orgTypeModelList, canPage: false, canSort: false);
}
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />

<div class="pageHeadingLayout">
    <span class="pageHeading">Supplier Organization Type</span>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="well">
        <table class="myTableStyleTabNew" width="100%">
            <tr>
                <td style="width:20%;">
                    <span> Supplier Organization Type </span><br />
                    <input type="text"
                           name="filter"
                           id="txtFilter"
                           value="@ViewBag.filter"
                           class="fstextbox"
                           maxlength="128"
                           style="display: block;" />
                </td>
                <td style="width:60%">
                    <button class="btn btn-primary" id="btnsearch" value="Search" name="command" type="submit" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                    <button class="btn btn-primary" onclick="refresh()" id="btnclear" value="Clear" name="command" type="button" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-refresh"></span> Clear</button>
                    @if (@grid.TotalRowCount != 0)
                    {
                        <button class="btn btn-primary" id="reportDownloadExcel" value="Excel Download" name="command" onclick="Download()" type="button" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-export"></span> Excel</button>
                    }
                </td>
                <td style="width:20%; text-align:right;">
                    <button type="button" value="New Organization Type" onclick="NewType()" class="btn btn-primary" style="margin-top:20px;"><span style="color:white;" class="glyphicon glyphicon-plus"></span> New Organization Type</button>
                </td>
            </tr>
        </table>

        <div class="table-responsive" style="margin-top:10px;">
            @grid.GetHtml(htmlAttributes: new { id = "gridId" },
            tableStyle: "tableSmall table-bordered table-hover",
            columns: grid.Columns
                    (grid.Column(header: "S.No", style: "slno", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                   grid.Column("typeName", "Supplier Organization Type"),
                   grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                    @Html.Raw("<a title='View' style='text-decoration: none;' onclick='ViewType(" + item.typeID + ")'> <span  id='Color' class='glyphicon glyphicon-eye-open'> </span> </a>")
                    @Html.Raw("<a title='Edit' style='text-decoration: none;' onclick='EditType(" + item.typeID + ")'> <span id='Color' class='glyphicon glyphicon-edit'> </span> </a>")
                    @Html.Raw("<a title='Delete' style='text-decoration: none;' onclick='DeleteType(" + item.typeID + ")'> <span id='Color' class='glyphicon glyphicon-trash'> </span> </a> ")
                </text>)))
        </div>
    </div>
}


<div id="ForPartialView"></div>
<script type="text/javascript">
    var objDialog;
    $(document).ready(function () {
        $('th a, tfoot a').click(function () {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
        objDialog = $("[id$='ForPartialView']");
        objDialog.dialog({
            autoOpen: false,
            modal: true,
            width: 355,
            height: 180,
            duration: 250
            //buttons: {
            //    "Cancel": function () {
            //        dlg.dialog("close");
            //    }
            //}
        });
        $("#txtFilter").keypress(function (event) {

            return isSplAlphaNumeric(event, this);
        });

        $('#gridId tr th:nth-child(3)').addClass("nosort");
        $('#gridId').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");

    });

    //var tr = $("#gridId").find('tr');
    //$("#gridId tr #Color").click(function () {
    //    $('#gridId').find('tr').css('background', 'none');
    //    $(this).closest('tr').css('background', '#CEECF5');
    //});

    function NewType() {
        objDialog.load('../AsmsSupplierOrgType/Create?' + new Date().getTime());
        objDialog.dialog({ title: 'Add Supplier Organization Type' });
        objDialog.dialog("open");
    }
    function EditType(id) {
        objDialog.load('../AsmsSupplierOrgType/Edit?id=' + id + '&viewfor=edit&' + new Date().getTime());
        objDialog.dialog({ title: 'Edit Supplier Organization Type' });
        objDialog.dialog("open");
    }

    function ViewType(id) {
        objDialog.load('../AsmsSupplierOrgType/Edit?id=' + id + '&viewfor=view&' + new Date().getTime());
        objDialog.dialog({ title: 'View Supplier Organization Type' });
        objDialog.dialog("open");
    }
    function DeleteType(id) {
        objDialog.load('../AsmsSupplierOrgType/Edit?id=' + id + '&viewfor=delete&' + new Date().getTime());
        objDialog.dialog({ title: 'Delete Supplier Organization Type' });
        objDialog.dialog("open");
    }
    function refresh() {
        location = '../AsmsSupplierOrgType/Index';
    }

    function Download() {
        location = "../AsmsSupplierOrgType/downloadsexcel";
    }
</script>
