@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
@model IEM.Areas.IFAMS.Models.AssetVRModel


@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    CmnFunctions obj = new CmnFunctions();
    var grid = new WebGrid(
                       source: Model.VRModel,
                         canPage: true,
                         rowsPerPage: 10,
                         canSort: false,
                         ajaxUpdateContainerId: "Avrgrid",
                         ajaxUpdateCallback: "Avrgrid");
    int id = @grid.PageIndex;
    int rowVal = 0;
}

<b>
    <span style="color:rgb(52, 108, 196);"> Asset Value Reduction</span>
</b>

<div class="well" id="_page">
    <div class="row">
        <div class="col-sm-9">
            @using (Html.BeginForm())
            {
                <table class="myTableStyleTabNew" style="margin-left:-03px;">
                    <tr>
                        <td>
                            <div>
                                <span>  Asset ID </span>
                                <br />
                                <input type="text" name="vrchkfilterid" id="txtchkvrfilterid" maxlength="25" value="@ViewBag.vrfilterid" class="textboxStyleSearch" style="width: 230px" />
                            </div>
                        </td>
                        @*<td>

                                <span>Status</span>
                                <br />
                                <select class="textboxStyleSearch" id="Status" name="status"></select>

                            </td>*@
                        <td>
                            <span></span>
                            <br />
                            <button class="btn btn-primary" type="submit" name="command" value="SEARCH" @*onclick="VRSearch()"*@><span style="color:white;" class="glyphicon glyphicon-search"></span> Search</button>
                        </td>

                        <td>

                            <span></span>
                            <br />

                            <button class="btn btn-primary" type="button" id="btnclear" value="Clear" name="" onclick="Clear()"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>

                        </td>

                        <td>
                            <span></span>
                            <br />

                        </td>
                        @*</tr>
                                        </table>

                            <table class="myTableStyleTabNew" style="float:right; margin-right:4px">
                                <tr>*@
                        @*<td>
                                <div style="float:right; padding-right:8px;">
                                    <span> </span>
                                    <br />

                                    <button class="btn btn-primary" type="button" onclick="reduceAsset()" value="Split"><span style="color:white;" class="glyphicon glyphicon-plus"></span> New Reduction </button>
                                </div>
                            </td>*@
                    </tr>
                </table>
            }
        </div>

        <br />
        <br />
        <br />
    </div>
        <div style="margin-top:17px; " class="" id="vr">

            @grid.GetHtml(htmlAttributes: new { id = "VRgridchk" }, fillEmptyRows: false, tableStyle: "tableSmall table-bordered table-hover table-responsive", mode: WebGridPagerModes.All,
        columns: grid.Columns(
                 grid.Column(header: "S.No", format: item => rowVal = rowVal + 1),
                          grid.Column("assetrefno", "Reduction No", style: "col-lg-3 MidColumn30", format: @<text>
                    <span class="editsmv">
                        <label style="word-wrap: break-word;font-size:small;  font-weight:normal" id="lblsnonew2">@item.assetrefno</label>
                    </span>
                        </text>),
                          grid.Column("assetdetDetid", "Asset Id", style: "col-lg-3 MidColumn30", format: @<text>
                <span class="editsmv">
                    <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetdetDetid</label>
                </span>
                        </text>),
                                               grid.Column("assetreducedamt", "Reduced Amount", style: "col-lg-3 MidColumn20", format: @<text>
                <span class="editsmv">
                    <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetreducedamt</label>
                </span>
                                            </text>),
             grid.Column("assetreduval", "Old Asset Value", style: "rig col-lg-3", format: @<text>
                <span class="editsmv">
                    <label style="word-wrap: break-word;font-size:small; font-weight:normal" id="lblsnonew2">@item.assetreduval</label>
                </span>
            </text>),
              grid.Column("assetnewval", "New Asset Value", style: "col-lg-3 MidColumn30", format: @<text>
                <span class="editsmv">
                    <label style="word-wrap: break-word;font-size:small;  font-weight:normal" id="lblsnonew2">@item.assetnewval</label>
                </span>
            </text>),
        //grid.Column("assetdetDescription", "Asset Description", style: "col-lg-3"),
        @*grid.Column("assetsubcategory", "Sub-Category Name", style: "col-lg-3 MidColumn20Center",format: @<text>
                <span class="editsmv">
                    <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetsubcategory</label>
                </span>
            </text>),
            //grid.Column("assetdetCode", "Asset Code", style: "col-lg-3"),
            grid.Column("assetdetCode", "Sub-Category Code", style: "col-lg-1 MidColumn20Center",format: @<text>
                <span class="editsmv">
                    <label style="word-wrap: break-word;font-size:small; width:150px; font-weight:normal" id="lblsnonew2">@item.assetdetCode</label>
                </span>
            </text>),*@

                    //grid.Column("assetsmStatus", "Status", style: "col-lg-3"),
                    // grid.Column("Tdpreciation", "Total Depreciation", style: "col-lg-3"),
                    grid.Column(header: "Action", canSort: false, style: "action",
                        format: @<text>
                            @Html.Raw("<a onclick ='viewVRchk(" + item.assetdetId + ")' title='View'> <span id = 'Color'  class='glyphicon glyphicon-eye-open'> </span> </a>")
                        </text>)
                                                             ))
            @if (ViewBag.Mesage != null)
            {
                <div class="table-bordered" align="center">
                    <b> @ViewBag.Mesage</b>
                </div>
            }


            <br /><br />

            <span class="myTableStyleTabNew">Page: @(grid.PageIndex + 1) of @grid.PageCount@*</span> <span class="myTableStyleTabNew">*@ - Total No of Records: @grid.TotalRowCount</span>

       
    </div>
</div>



<div id="ForPartialViews"></div>


<script>


    var tr = $("#VRgridchk").find('tr');
    $("#VRgridchk tr #Color").click(function () {
        $('#VRgridchk').find('tr').css('background', 'none');
        $(this).closest('tr').css('background', '#CEECF5');
    });

    @*var Draft = '@ViewBag.status';
    $(document).ready(function () {

        $(window).load(function () {

            $.ajax({
                url: '@Url.Action("ImpairStatus", "AssetImpairments")',
                type: "GET",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].status, data[i].status);
                        $('#Status').append(opt);

                        $("#Status").find('option').each(function (i, opt) {

                            if (opt.value === Draft)
                                $(opt).attr('selected', 'selected');
                        });

                    }
                }
            });
        });
    });*@


    @*function reduceAsset()
    {
        location = '@Url.Action("ValueReduction", "AssetValueReduction")?' + new Date().getTime();
    }*@


    function Clear()
    {
        $("#txtchkvrfilterid").val('');


    }

    var objVRchkAttachment;
    $(document).ready(function () {
        objVRchkAttachment = $("[id$='ForPartialViews']");
    });

    function viewVRchk(VRassetGid) {
       // alert(VRassetGid);
        objVRchkAttachment.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 1000,
            height: 600,
            resizable: false
        });
        objVRchkAttachment.load('@Url.Action("ValueReductionViewdetails", "AssetValueReduction")?viewfor=checkerView&VRassetGid=' + VRassetGid + '&' + new Date().getTime());
        objVRchkAttachment.dialog({ title: 'View Details' });
        objVRchkAttachment.dialog("open");
    }

</script>